array (
  'meta_keywords' => '爱情睡醒了 小胖妞 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1886&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1886&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1886&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1886&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1886',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514450069',
    'lastupdate' => '1514450069',
    'articlename' => '爱情睡醒了',
    'articlecode' => 'aiqingshuixingliao',
    'backupname' => '被老公出卖，她不敢相信 被总裁囚禁，她生无可恋 最后，天大的秘密让她一朝醒悟， 真相，永远是那么伤人。 真爱，从来不嫌来得太迟。',
    'keywords' => '婚恋 总裁 恋爱',
    'roles' => '',
    'initial' => 'A',
    'authorid' => '0',
    'author' => '小胖妞',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '被老公出卖，她不敢相信<br />
被总裁囚禁，她生无可恋<br />
最后，天大的秘密让她一朝醒悟，<br />
真相，永远是那么伤人。<br />
真爱，从来不嫌来得太迟。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580714',
    'lastchapter' => '第013章我玩不起',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;楚晨夜面色阴沉，目光狠狠地瞪着反应激烈的唐小彤，自己堂堂楚氏总裁难得心血来潮想要好好照顾一下这个白痴女人，她居然不领情？这意思是说他犯贱不成？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不会做你的女人！也不需要你养，我现在只想回家！”唐小彤看着他似乎要杀人的眼光，还是很坚定第说出自己的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回家？哪里的家？远在T市的老家？回去告诉你父母你已经离婚，还没有了工作？还是回刘千闵的家？那似乎已经不是你的家了。”楚晨夜冷嘲讽刺的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐小彤面色涨红，随即气恼道：“我去哪里不关你楚总的事情，反正我不是你的那种什么……',
    'chapters' => '48',
    'size' => '122195',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177148',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '78',
    'allvisit' => '260',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '1',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514450568',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '122195',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '81',
    'vippubid' => '0',
    'vipchapters' => '35',
    'vipsize' => '89918',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '580749',
    'vipchapter' => '第048章证明老公能力',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;两人都内心很激动，相拥良久，唐小彤突然肚子叫了一声，楚晨夜才想到自己把老婆饿到了，虽然他很想第一时间把这么可爱美丽的老婆抱上床前，但也不忍心饿着他孩子的妈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“先去吃饭，晚点好好补偿我。”楚晨夜收拾好心情，放开唐小彤后，捏着她光滑的小脸说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”唐小彤一听老公这有色的话语之后，小脸就红了，但还是止不住地主动答应，果然就看到了老公眼睛瞬间大亮，老婆这么主动可是少有的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“走走走，快点吃饭去！”楚晨夜恨不得快点吃了饭，就可以滚床单了，要知道老婆为了两个孩子，每晚还……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 61098,
    'size_k' => 62,
    'size_w' => 6.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1886/1886s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1886/1886s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1886/1886l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1886.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1886&cid=580714',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=81&cid=580749',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1886',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1886',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1886',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D0%A1%C5%D6%E6%A4',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D0%A1%C5%D6%E6%A4',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C7%E9%CB%AF%D0%D1%C1%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1886.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1886',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514450069',
  'lastupdate' => '1514450069',
  'articlename' => '爱情睡醒了',
  'articlecode' => 'aiqingshuixingliao',
  'backupname' => '被老公出卖，她不敢相信 被总裁囚禁，她生无可恋 最后，天大的秘密让她一朝醒悟， 真相，永远是那么伤人。 真爱，从来不嫌来得太迟。',
  'keywords' => '婚恋 总裁 恋爱',
  'roles' => '',
  'initial' => 'A',
  'authorid' => '0',
  'author' => '小胖妞',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '被老公出卖，她不敢相信<br />
被总裁囚禁，她生无可恋<br />
最后，天大的秘密让她一朝醒悟，<br />
真相，永远是那么伤人。<br />
真爱，从来不嫌来得太迟。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580714',
  'lastchapter' => '第013章我玩不起',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;楚晨夜面色阴沉，目光狠狠地瞪着反应激烈的唐小彤，自己堂堂楚氏总裁难得心血来潮想要好好照顾一下这个白痴女人，她居然不领情？这意思是说他犯贱不成？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不会做你的女人！也不需要你养，我现在只想回家！”唐小彤看着他似乎要杀人的眼光，还是很坚定第说出自己的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回家？哪里的家？远在T市的老家？回去告诉你父母你已经离婚，还没有了工作？还是回刘千闵的家？那似乎已经不是你的家了。”楚晨夜冷嘲讽刺的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐小彤面色涨红，随即气恼道：“我去哪里不关你楚总的事情，反正我不是你的那种什么……',
  'chapters' => '48',
  'size' => '122195',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177148',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '78',
  'allvisit' => '260',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => 1,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514450568',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '122195',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '81',
  'vippubid' => '0',
  'vipchapters' => '35',
  'vipsize' => '89918',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '580749',
  'vipchapter' => '第048章证明老公能力',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;两人都内心很激动，相拥良久，唐小彤突然肚子叫了一声，楚晨夜才想到自己把老婆饿到了，虽然他很想第一时间把这么可爱美丽的老婆抱上床前，但也不忍心饿着他孩子的妈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“先去吃饭，晚点好好补偿我。”楚晨夜收拾好心情，放开唐小彤后，捏着她光滑的小脸说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”唐小彤一听老公这有色的话语之后，小脸就红了，但还是止不住地主动答应，果然就看到了老公眼睛瞬间大亮，老婆这么主动可是少有的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“走走走，快点吃饭去！”楚晨夜恨不得快点吃了饭，就可以滚床单了，要知道老婆为了两个孩子，每晚还……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 61098,
  'size_k' => 62,
  'size_w' => 6.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1886/1886s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1886/1886s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1886/1886l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1886.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1886',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1886&cid=580714',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=81&cid=580749',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1886',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1886',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1886',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D0%A1%C5%D6%E6%A4',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D0%A1%C5%D6%E6%A4',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C7%E9%CB%AF%D0%D1%C1%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1886.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '婚恋',
      'tagencode' => '%BB%E9%C1%B5',
    ),
    1 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    2 => 
    array (
      'tagname' => '恋爱',
      'tagencode' => '%C1%B5%B0%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '恋爱',
      'tagencode' => '%C1%B5%B0%AE',
    ),
    'key' => 2,
    'append' => 0,
  ),
)