array (
  'meta_keywords' => '爱似鬼迷心窍 顾城枫 悬疑灵异',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1887&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1887&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1887&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1887&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1887',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514451799',
    'lastupdate' => '1514451799',
    'articlename' => '爱似鬼迷心窍',
    'articlecode' => 'aisiguimixinqiao',
    'backupname' => '万物相生相克，她和他，刚好相克，却也相依……',
    'keywords' => '婚恋 总裁 恋爱',
    'roles' => '',
    'initial' => 'A',
    'authorid' => '0',
    'author' => '顾城枫',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '爱她，是他这一生的错……<br />
爱他，是她这一生的劫……<br />
无论是劫还是错，她（他）们都认了，因为她（他）们明白，一旦认定之后，再也离不开彼此了。<br />
万物相生相克，她和他，刚好相克，却也相依……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580761',
    'lastchapter' => '第十二章隐瞒什么',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“好，这是你说的，那我说，我们现在是男女朋友，你同意吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;漆黑的眸子看向夏蓦然，对上她嘴角似笑非笑的弧度，他薄唇轻启：“可以”。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏蓦然眼底有着嘲讽，她记得他的女朋友李嫣然，好像才死了几天，她继续和他演戏：“那既然这样，没有道理不告诉我你家的事吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;放下筷子，冷子墨漆黑的眼底一片深邃：“你想知道什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;双手一摊，夏蓦然眼里闪过一丝无奈：“我很好奇你的双胞胎哥哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听她说起这个，冷子墨目光微闪，眼里划过一丝异样的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人之间沉默了许久，就在夏……',
    'chapters' => '58',
    'size' => '122112',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177144',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '52',
    'allvisit' => '130',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514453978',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '100',
    'vippubid' => '0',
    'vipchapters' => '46',
    'vipsize' => '97293',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '580807',
    'vipchapter' => '第五十八章接生',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;她已经明显感觉到孩子不受她控制了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见夏蓦然疼的厉害，冷子夜一个转弯，把车开到巷子里，翻身跨到后座的位置上，开始给夏蓦然接生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然不是妇科医生，但经常听妇科医生说接生孩子要注意哪些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间紧迫，冷子夜告诉自己，要冷静，一定要冷静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着夏蓦然的痛苦的声音，时间一分一秒的过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着夏蓦然难受，冷子夜整个人都慌了，可他不能在这个时候慌，强忍下心里的心疼，冷子夜扯了一叠纸巾放在她嘴边：“蓦然，咬住这个，别咬伤自己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜夏蓦然已经痛的没有判断能力了，见……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '悬疑灵异',
    'sortname' => '悬疑灵异',
    'type' => '',
    'typename' => '',
    'size_c' => 61056,
    'size_k' => 62,
    'size_w' => 6.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1887.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1887&cid=580761',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=100&cid=580807',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1887',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1887',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1887',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B9%CB%B3%C7%B7%E3',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B9%CB%B3%C7%B7%E3',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%CB%C6%B9%ED%C3%D4%D0%C4%C7%CF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1887.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1887',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514451799',
  'lastupdate' => '1514451799',
  'articlename' => '爱似鬼迷心窍',
  'articlecode' => 'aisiguimixinqiao',
  'backupname' => '万物相生相克，她和他，刚好相克，却也相依……',
  'keywords' => '婚恋 总裁 恋爱',
  'roles' => '',
  'initial' => 'A',
  'authorid' => '0',
  'author' => '顾城枫',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '爱她，是他这一生的错……<br />
爱他，是她这一生的劫……<br />
无论是劫还是错，她（他）们都认了，因为她（他）们明白，一旦认定之后，再也离不开彼此了。<br />
万物相生相克，她和他，刚好相克，却也相依……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580761',
  'lastchapter' => '第十二章隐瞒什么',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“好，这是你说的，那我说，我们现在是男女朋友，你同意吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;漆黑的眸子看向夏蓦然，对上她嘴角似笑非笑的弧度，他薄唇轻启：“可以”。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏蓦然眼底有着嘲讽，她记得他的女朋友李嫣然，好像才死了几天，她继续和他演戏：“那既然这样，没有道理不告诉我你家的事吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;放下筷子，冷子墨漆黑的眼底一片深邃：“你想知道什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;双手一摊，夏蓦然眼里闪过一丝无奈：“我很好奇你的双胞胎哥哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听她说起这个，冷子墨目光微闪，眼里划过一丝异样的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人之间沉默了许久，就在夏……',
  'chapters' => '58',
  'size' => '122112',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177144',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '52',
  'allvisit' => '130',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514453978',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '100',
  'vippubid' => '0',
  'vipchapters' => '46',
  'vipsize' => '97293',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '580807',
  'vipchapter' => '第五十八章接生',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;她已经明显感觉到孩子不受她控制了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见夏蓦然疼的厉害，冷子夜一个转弯，把车开到巷子里，翻身跨到后座的位置上，开始给夏蓦然接生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然不是妇科医生，但经常听妇科医生说接生孩子要注意哪些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间紧迫，冷子夜告诉自己，要冷静，一定要冷静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着夏蓦然的痛苦的声音，时间一分一秒的过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着夏蓦然难受，冷子夜整个人都慌了，可他不能在这个时候慌，强忍下心里的心疼，冷子夜扯了一叠纸巾放在她嘴边：“蓦然，咬住这个，别咬伤自己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜夏蓦然已经痛的没有判断能力了，见……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '悬疑灵异',
  'sortname' => '悬疑灵异',
  'type' => '',
  'typename' => '',
  'size_c' => 61056,
  'size_k' => 62,
  'size_w' => 6.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1887/1887s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1887.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1887',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1887&cid=580761',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=100&cid=580807',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1887',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1887',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1887',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B9%CB%B3%C7%B7%E3',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B9%CB%B3%C7%B7%E3',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%CB%C6%B9%ED%C3%D4%D0%C4%C7%CF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1887.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '婚恋',
      'tagencode' => '%BB%E9%C1%B5',
    ),
    1 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    2 => 
    array (
      'tagname' => '恋爱',
      'tagencode' => '%C1%B5%B0%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '恋爱',
      'tagencode' => '%C1%B5%B0%AE',
    ),
    'key' => 2,
    'append' => 0,
  ),
)