array (
  'meta_keywords' => '冬暖已故夏微凉 打狗的肉包子 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1891&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1891&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1891&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1891&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1891',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514453213',
    'lastupdate' => '1514453213',
    'articlename' => '冬暖已故夏微凉',
    'articlecode' => 'dongnuanyiguxiaweiliang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '0',
    'author' => '打狗的肉包子',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她非金凤，却也想栖良桐。<br />
夏暖暖了别人一辈子，留给自己的不过是一世悲凉。<br />
她爱的那么深，却不过他一句你不配。<br />
豪赌一场，她压下了半生，<br />
彼此得到的不过是爱而不得，万劫不复……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580932',
    'lastchapter' => '第十二章你疯了',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;他打了她，却把她拉回到了残忍的现实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不过就是出来卖的，如今就算是说的好听了，也不过是披着一张名模的皮，做着最龌鹾的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不该救我的，我向来忘恩负义。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走到窗前，看着外面灯光闪烁的夜景，夏暖放开胆子把窗子全部拉开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜风没有任何拘束地冲进屋子，把屋子弄的更加寒冷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人什么也没有问，只是将刚刚拿出来的啤酒递给了女人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都说一醉解千愁，什么都不要想了，你今天只要从这里出去，你就输了。我们合作吧，我给你推迟时间，你陪我谈谈心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为这……',
    'chapters' => '50',
    'size' => '123714',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177141',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '65',
    'allvisit' => '156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514454018',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '96',
    'vippubid' => '0',
    'vipchapters' => '38',
    'vipsize' => '92698',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '580970',
    'vipchapter' => '第五十章番外三多余的流星',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;如果他们的三天之约挨到了时间，或许结局就是这样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏小宝记事之后见到的最多的人不是别人却是他的爷爷魏正。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爷爷是个老顽固，总是愁眉苦脸的，看的魏小宝很是肝疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爸爸妈妈总是忙工作，有时间了就会来看一眼他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他在家里住的时间还不如在爷爷家陪着爷爷逛吃睡觉得时间多呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爷爷，今天爸爸妈妈是不是应该来看我了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关于他那个妻管严爸爸，魏小宝并不想做一个评价，因为实在是没啥可说的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爷爷说，爸爸亏欠妈妈的太多了，所以一直想着补偿，关于我的到来也是始料……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 61857,
    'size_k' => 62,
    'size_w' => 6.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1891/1891s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1891/1891s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1891/1891l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1891.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1891&cid=580932',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=96&cid=580970',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1891',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1891',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1891',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F2%B9%B7%B5%C4%C8%E2%B0%FC%D7%D3',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F2%B9%B7%B5%C4%C8%E2%B0%FC%D7%D3',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%AC%C5%AF%D2%D1%B9%CA%CF%C4%CE%A2%C1%B9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1891.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1891',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514453213',
  'lastupdate' => '1514453213',
  'articlename' => '冬暖已故夏微凉',
  'articlecode' => 'dongnuanyiguxiaweiliang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '0',
  'author' => '打狗的肉包子',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她非金凤，却也想栖良桐。<br />
夏暖暖了别人一辈子，留给自己的不过是一世悲凉。<br />
她爱的那么深，却不过他一句你不配。<br />
豪赌一场，她压下了半生，<br />
彼此得到的不过是爱而不得，万劫不复……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580932',
  'lastchapter' => '第十二章你疯了',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;他打了她，却把她拉回到了残忍的现实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不过就是出来卖的，如今就算是说的好听了，也不过是披着一张名模的皮，做着最龌鹾的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不该救我的，我向来忘恩负义。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走到窗前，看着外面灯光闪烁的夜景，夏暖放开胆子把窗子全部拉开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜风没有任何拘束地冲进屋子，把屋子弄的更加寒冷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人什么也没有问，只是将刚刚拿出来的啤酒递给了女人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都说一醉解千愁，什么都不要想了，你今天只要从这里出去，你就输了。我们合作吧，我给你推迟时间，你陪我谈谈心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为这……',
  'chapters' => '50',
  'size' => '123714',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177141',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '65',
  'allvisit' => '156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514454018',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '96',
  'vippubid' => '0',
  'vipchapters' => '38',
  'vipsize' => '92698',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '580970',
  'vipchapter' => '第五十章番外三多余的流星',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;如果他们的三天之约挨到了时间，或许结局就是这样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏小宝记事之后见到的最多的人不是别人却是他的爷爷魏正。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爷爷是个老顽固，总是愁眉苦脸的，看的魏小宝很是肝疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爸爸妈妈总是忙工作，有时间了就会来看一眼他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他在家里住的时间还不如在爷爷家陪着爷爷逛吃睡觉得时间多呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爷爷，今天爸爸妈妈是不是应该来看我了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关于他那个妻管严爸爸，魏小宝并不想做一个评价，因为实在是没啥可说的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爷爷说，爸爸亏欠妈妈的太多了，所以一直想着补偿，关于我的到来也是始料……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 61857,
  'size_k' => 62,
  'size_w' => 6.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1891/1891s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1891/1891s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1891/1891l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1891.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1891',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1891&cid=580932',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=96&cid=580970',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1891',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1891',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1891',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F2%B9%B7%B5%C4%C8%E2%B0%FC%D7%D3',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F2%B9%B7%B5%C4%C8%E2%B0%FC%D7%D3',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%AC%C5%AF%D2%D1%B9%CA%CF%C4%CE%A2%C1%B9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1891.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)