array (
  'meta_keywords' => '风吹花落泪如雨 大希衍 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1892&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1892&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1892&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1892&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1892',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514453391',
    'lastupdate' => '1514453391',
    'articlename' => '风吹花落泪如雨',
    'articlecode' => 'fengchuihualuoleiruyu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '0',
    'author' => '大希衍',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她是个不会流泪的小傻子，他是个无恶不作的大疯子，他一次次摧残着她，让她尝尽了眼泪的滋味，仅仅只是为了上床的时候，她能不像条死鱼一样索然无味。<br />
这是一个占有欲极强的妖艳少爷强占良家少女的故事，欢迎入戏。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580981',
    'lastchapter' => '第十一章你陪我睡',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;女孩蹲在窗边，把窗户打开很小一丝缝隙，她从缝隙中看着外面的阳光和世界，明明可以把窗户全部拉开来看的，而她这姿势就像个不属于这个世界的偷窥者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阎风嘴里那句‘小傻子’咽了回去，他定定的看了会儿她，心底有丝暗涌浮动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经何时他也有过这样的姿势，孤寂、无助、与世隔绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“白欣雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听见他的声音，她吓得一颤，眼底有深刻的惧意，急忙关了窗户，站了起来，还是那句话：“我可以走了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从孤儿院把她带过来，两个小时她问了不下二十遍，她看上去没那么呆了，但变得像只惊弓之……',
    'chapters' => '48',
    'size' => '123557',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177141',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '117',
    'allvisit' => '169',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514454015',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '95',
    'vippubid' => '0',
    'vipchapters' => '37',
    'vipsize' => '93592',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '581018',
    'vipchapter' => '第四十八章结局篇',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;婚礼的场面前所未有的盛大，阎风从来没有向旁人透露过她的存在，却用了这么高调的方式宣告世人，‘白欣雨从今往后是阎风的太太’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白欣雨总算是看清了阎风的强大背景，来参加婚礼的人，黑白两道都有，而且好多都是有来头的大人物，阎风在黑道玩儿的转，在白道也吃得开，他大把大把的资金扔在场面上，是本市的纳税大户，被他洗白的资产也足够恐怖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红地毯从阎家老宅一直铺到了教堂门口，婚礼当天，这段路被阻断了，任何车辆绕道通行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去教堂的路上，百辆豪车护送婚车，路两旁看热闹的人实在太多，还有不少……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 61779,
    'size_k' => 62,
    'size_w' => 6.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1892/1892s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1892/1892s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1892/1892l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1892.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1892&cid=580981',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=95&cid=581018',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1892',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1892',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1892',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F3%CF%A3%D1%DC',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F3%CF%A3%D1%DC',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%B4%B5%BB%A8%C2%E4%C0%E1%C8%E7%D3%EA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1892.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1892',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514453391',
  'lastupdate' => '1514453391',
  'articlename' => '风吹花落泪如雨',
  'articlecode' => 'fengchuihualuoleiruyu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '0',
  'author' => '大希衍',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她是个不会流泪的小傻子，他是个无恶不作的大疯子，他一次次摧残着她，让她尝尽了眼泪的滋味，仅仅只是为了上床的时候，她能不像条死鱼一样索然无味。<br />
这是一个占有欲极强的妖艳少爷强占良家少女的故事，欢迎入戏。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580981',
  'lastchapter' => '第十一章你陪我睡',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;女孩蹲在窗边，把窗户打开很小一丝缝隙，她从缝隙中看着外面的阳光和世界，明明可以把窗户全部拉开来看的，而她这姿势就像个不属于这个世界的偷窥者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阎风嘴里那句‘小傻子’咽了回去，他定定的看了会儿她，心底有丝暗涌浮动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经何时他也有过这样的姿势，孤寂、无助、与世隔绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“白欣雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听见他的声音，她吓得一颤，眼底有深刻的惧意，急忙关了窗户，站了起来，还是那句话：“我可以走了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从孤儿院把她带过来，两个小时她问了不下二十遍，她看上去没那么呆了，但变得像只惊弓之……',
  'chapters' => '48',
  'size' => '123557',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177141',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '117',
  'allvisit' => '169',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514454015',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '95',
  'vippubid' => '0',
  'vipchapters' => '37',
  'vipsize' => '93592',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '581018',
  'vipchapter' => '第四十八章结局篇',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;婚礼的场面前所未有的盛大，阎风从来没有向旁人透露过她的存在，却用了这么高调的方式宣告世人，‘白欣雨从今往后是阎风的太太’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白欣雨总算是看清了阎风的强大背景，来参加婚礼的人，黑白两道都有，而且好多都是有来头的大人物，阎风在黑道玩儿的转，在白道也吃得开，他大把大把的资金扔在场面上，是本市的纳税大户，被他洗白的资产也足够恐怖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红地毯从阎家老宅一直铺到了教堂门口，婚礼当天，这段路被阻断了，任何车辆绕道通行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去教堂的路上，百辆豪车护送婚车，路两旁看热闹的人实在太多，还有不少……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 61779,
  'size_k' => 62,
  'size_w' => 6.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1892/1892s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1892/1892s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1892/1892l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1892.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1892',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1892&cid=580981',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=95&cid=581018',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1892',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1892',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1892',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F3%CF%A3%D1%DC',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B4%F3%CF%A3%D1%DC',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%B4%B5%BB%A8%C2%E4%C0%E1%C8%E7%D3%EA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1892.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)