array (
  'meta_keywords' => '听说爱情回来过 清媛 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1901&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1901&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1901&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1901&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1901',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514453772',
    'lastupdate' => '1514453772',
    'articlename' => '听说爱情回来过',
    'articlecode' => 'tingshuoaiqinghuilaiguo',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '0',
    'author' => '清媛',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '卧房之中，他不请自来。<br />
她愤怒难堪，“戚少成！你这个禽兽！我是你大嫂！”<br />
戚少成大笑，“大嫂？！这怎么可能！大嫂的洞房是给了我的。难道心里却一直喜欢我的傻子哥哥吗？”<br />
督军大少是个傻子，督军二少是个疯子。<br />
她既避不过嫁给一个傻子的命运，也逃不过被一个疯子纠缠的命运。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '581472',
    'lastchapter' => '第十三章黄泉路上一块走',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;唐文沫恶狠狠的说，向来对她小意温柔的脸，这一刻变得这么恶心！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;慕雪再度觉得自己瞎了眼，也懒得再提醒他了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只道，“黄泉路上，一块走吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐文沫没听清，下意识问了一句，就在这时，身后一股凉风闪过，唐文沫肩头一阵巨痛！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鲜血的狂涌让唐文沫吓得脸色发白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尖锐的疼痛又将他吓得魂飞魄散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一回头，无声的饿狼瞪着绿幽幽的眼睛，龇着牙将他细细的围住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知为何，慕雪眼看着这一幕，却突然痛快的哈哈大笑，“唐文沫！你去死吧……',
    'chapters' => '55',
    'size' => '122942',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522184073',
    'dayvisit' => '39',
    'weekvisit' => '39',
    'monthvisit' => '91',
    'allvisit' => '221',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514453986',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '86',
    'vippubid' => '0',
    'vipchapters' => '42',
    'vipsize' => '92179',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '581514',
    'vipchapter' => '第五十五章龙凤双胎',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这一胎是双胎，又是早产。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上午跟戚少成斗了嘴，下午的时候，肚子就隐隐作疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;才七个月啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不会这么快吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;慕雪疼得脸都白了，心里好慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚少成当时正忙，接到府里通报的时候，他吓了一跳，还以为听错了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能传令兵着急的不行，说这一切都没错的话，戚少成嗖的起身，腿软的差点带到了身边的桌子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等稳了稳心神，大步冲出去，鞋子都甩丢了一只。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;底下副将等人都看着，俱都无语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;少帅宠妻，好像……好羡慕啊，他们也好想要媳妇了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快！快去叫大夫，……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 61471,
    'size_k' => 62,
    'size_w' => 6.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1901/1901s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1901/1901s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1901/1901l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1901.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1901&cid=581472',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=86&cid=581514',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1901',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1901',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1901',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C7%E5%E6%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C7%E5%E6%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%FD%CB%B5%B0%AE%C7%E9%BB%D8%C0%B4%B9%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1901.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1901',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514453772',
  'lastupdate' => '1514453772',
  'articlename' => '听说爱情回来过',
  'articlecode' => 'tingshuoaiqinghuilaiguo',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '0',
  'author' => '清媛',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '卧房之中，他不请自来。<br />
她愤怒难堪，“戚少成！你这个禽兽！我是你大嫂！”<br />
戚少成大笑，“大嫂？！这怎么可能！大嫂的洞房是给了我的。难道心里却一直喜欢我的傻子哥哥吗？”<br />
督军大少是个傻子，督军二少是个疯子。<br />
她既避不过嫁给一个傻子的命运，也逃不过被一个疯子纠缠的命运。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '581472',
  'lastchapter' => '第十三章黄泉路上一块走',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;唐文沫恶狠狠的说，向来对她小意温柔的脸，这一刻变得这么恶心！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;慕雪再度觉得自己瞎了眼，也懒得再提醒他了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只道，“黄泉路上，一块走吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐文沫没听清，下意识问了一句，就在这时，身后一股凉风闪过，唐文沫肩头一阵巨痛！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鲜血的狂涌让唐文沫吓得脸色发白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尖锐的疼痛又将他吓得魂飞魄散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一回头，无声的饿狼瞪着绿幽幽的眼睛，龇着牙将他细细的围住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知为何，慕雪眼看着这一幕，却突然痛快的哈哈大笑，“唐文沫！你去死吧……',
  'chapters' => '55',
  'size' => '122942',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522184073',
  'dayvisit' => '39',
  'weekvisit' => '39',
  'monthvisit' => '91',
  'allvisit' => '221',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514453986',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '86',
  'vippubid' => '0',
  'vipchapters' => '42',
  'vipsize' => '92179',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '581514',
  'vipchapter' => '第五十五章龙凤双胎',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这一胎是双胎，又是早产。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上午跟戚少成斗了嘴，下午的时候，肚子就隐隐作疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;才七个月啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不会这么快吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;慕雪疼得脸都白了，心里好慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚少成当时正忙，接到府里通报的时候，他吓了一跳，还以为听错了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能传令兵着急的不行，说这一切都没错的话，戚少成嗖的起身，腿软的差点带到了身边的桌子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等稳了稳心神，大步冲出去，鞋子都甩丢了一只。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;底下副将等人都看着，俱都无语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;少帅宠妻，好像……好羡慕啊，他们也好想要媳妇了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快！快去叫大夫，……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 61471,
  'size_k' => 62,
  'size_w' => 6.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1901/1901s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1901/1901s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1901/1901l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1901.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1901',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1901&cid=581472',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=86&cid=581514',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1901',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1901',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1901',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C7%E5%E6%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C7%E5%E6%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%FD%CB%B5%B0%AE%C7%E9%BB%D8%C0%B4%B9%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1901.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)