array (
  'meta_keywords' => '吻我之眸，许我一生 铃月 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1903&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1903&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1903&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1903&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1903',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514453860',
    'lastupdate' => '1514453860',
    'articlename' => '吻我之眸，许我一生',
    'articlecode' => 'wenwozhimou_xuwoyisheng',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '0',
    'author' => '铃月',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她是一个小姐所生的孩子。<br />
她不断的缠着他、诱惑他。<br />
有人问她，你的尊严，还剩下多少？<br />
她说，尊严对于我来说，可有可无。<br />
当别人骂她，你不要脸，不知羞耻！<br />
她笑了笑，我连脸都不要了，还在乎羞耻不羞耻吗？',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '581580',
    'lastchapter' => '第14章一场无人性争斗',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈玥大声问的，“大清早跟你干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小贱人，你还在这里睡觉，老娘今天非要好好收拾你不可。”张敏愤怒的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后拖着她，将她拖到了大厅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你放开我……放开我……放开我！”陈玥不断的挣扎，但是张敏的力气很大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到大厅，她看见徐思雅和徐长云也在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道这家人今天要干什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最后，徐长云望了望陈玥，然后说道，“你和江浩霆的事情我已经知道了，我没想到你竟然这么不知羞耻，连你姐姐的未婚夫你也要勾引，真的是和你妈一模一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后陈玥发怒了，“我是……',
    'chapters' => '59',
    'size' => '123173',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177149',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '78',
    'allvisit' => '247',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514453982',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '84',
    'vippubid' => '0',
    'vipchapters' => '45',
    'vipsize' => '93720',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '581625',
    'vipchapter' => '第59章结局生死不离别',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“魏然……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实，这么多年，你心里一直忘不了他，我知道的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“魏然，对不起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈玥，我还是那句话，如果你有一天，没有地方可去了，来我这，我这里永远都是你的第二个港湾，我会守护你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈玥已经泣不成声了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏然好了，而她，又要再一次的离开他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昨天，她还对魏然说，她不走了，她会一直留在这里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是今天……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三天之后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈玥带着安安来到了中国A市。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当她打听见到江浩霆的时候，居然是在医院里面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江浩霆脸色苍白地躺在了……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 61587,
    'size_k' => 62,
    'size_w' => 6.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1903/1903s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1903/1903s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1903/1903l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1903.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1903&cid=581580',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=84&cid=581625',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1903',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1903',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1903',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C1%E5%D4%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C1%E5%D4%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%C7%CE%D2%D6%AE%ED%F8%A3%AC%D0%ED%CE%D2%D2%BB%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1903.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1903',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514453860',
  'lastupdate' => '1514453860',
  'articlename' => '吻我之眸，许我一生',
  'articlecode' => 'wenwozhimou_xuwoyisheng',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '0',
  'author' => '铃月',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她是一个小姐所生的孩子。<br />
她不断的缠着他、诱惑他。<br />
有人问她，你的尊严，还剩下多少？<br />
她说，尊严对于我来说，可有可无。<br />
当别人骂她，你不要脸，不知羞耻！<br />
她笑了笑，我连脸都不要了，还在乎羞耻不羞耻吗？',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '581580',
  'lastchapter' => '第14章一场无人性争斗',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈玥大声问的，“大清早跟你干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小贱人，你还在这里睡觉，老娘今天非要好好收拾你不可。”张敏愤怒的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后拖着她，将她拖到了大厅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你放开我……放开我……放开我！”陈玥不断的挣扎，但是张敏的力气很大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到大厅，她看见徐思雅和徐长云也在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道这家人今天要干什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最后，徐长云望了望陈玥，然后说道，“你和江浩霆的事情我已经知道了，我没想到你竟然这么不知羞耻，连你姐姐的未婚夫你也要勾引，真的是和你妈一模一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后陈玥发怒了，“我是……',
  'chapters' => '59',
  'size' => '123173',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177149',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '78',
  'allvisit' => '247',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514453982',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '84',
  'vippubid' => '0',
  'vipchapters' => '45',
  'vipsize' => '93720',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '581625',
  'vipchapter' => '第59章结局生死不离别',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“魏然……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实，这么多年，你心里一直忘不了他，我知道的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“魏然，对不起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈玥，我还是那句话，如果你有一天，没有地方可去了，来我这，我这里永远都是你的第二个港湾，我会守护你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈玥已经泣不成声了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏然好了，而她，又要再一次的离开他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昨天，她还对魏然说，她不走了，她会一直留在这里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是今天……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三天之后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈玥带着安安来到了中国A市。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当她打听见到江浩霆的时候，居然是在医院里面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江浩霆脸色苍白地躺在了……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 61587,
  'size_k' => 62,
  'size_w' => 6.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1903/1903s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1903/1903s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1903/1903l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1903.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1903',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1903&cid=581580',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=84&cid=581625',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1903',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1903',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1903',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C1%E5%D4%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C1%E5%D4%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%C7%CE%D2%D6%AE%ED%F8%A3%AC%D0%ED%CE%D2%D2%BB%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1903.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)