array (
  'meta_keywords' => '许你余后半生 韩楠笛 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1904&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1904&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1904&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1904&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1904',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1514453894',
    'lastupdate' => '1514453894',
    'articlename' => '许你余后半生',
    'articlecode' => 'xuniyuhoubansheng',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '韩楠笛',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '他需要一个女人为自己生下一个继承人，而她恰好成为了最好的人选。<br />
这个男人太优秀了，所以她才会在失身之后，在丢了心，以后又该何去何从···',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '581647',
    'lastchapter' => '第二十二章旖旎的夜',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看到福婶说好吃之后，戚小小也不客气的端起另外一块，一边吃一边说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江寰宇面前那块应该是三人中最小的，毕竟他是不喜甜食的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，在这种气氛里面，他竟然没有想要离开或者不吃的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到戚小小说特意选择的草莓酱蛋糕，江寰宇才明白为什么这次的蛋糕，比福婶做的甜食还要甜腻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原因，竟然是在这个家伙身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;注意到江寰宇盯着自己，戚小小有些不好意思的撇了撇头问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事，想喝酒吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江宅的酒窖里面，藏着很多好酒。他很少去动，里……',
    'chapters' => '54',
    'size' => '124490',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177149',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '52',
    'allvisit' => '221',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1514453981',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '83',
    'vippubid' => '0',
    'vipchapters' => '32',
    'vipsize' => '74532',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '581679',
    'vipchapter' => '第五十四章番外',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“团子，你在干什么呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚小小托着半大的肚子，来到花园之后就看到自己家儿子蹲在花丛中，不知道在做什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白色的小衬衫，黑色的背带裤都被弄的脏兮兮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更让人哭笑不得时候，她家儿子好好的小团子，变成了小花猫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么弄的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她记得，花园一直被打理的很好。不应该钻个花丛，就弄的如此脏的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈咪，我只是在寻找花草的奥妙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚小小听到小团子软绵绵的声音，微愣了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她记得昨天晚上讲的故事，是关于植物人的故事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这小子又好奇心太重，……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 62245,
    'size_k' => 63,
    'size_w' => 6.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1904/1904s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1904/1904s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1904/1904l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1904.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1904&cid=581647',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=83&cid=581679',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1904',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1904',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1904',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BA%AB%E9%AA%B5%D1',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BA%AB%E9%AA%B5%D1',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%ED%C4%E3%D3%E0%BA%F3%B0%EB%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1904.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1904',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1514453894',
  'lastupdate' => '1514453894',
  'articlename' => '许你余后半生',
  'articlecode' => 'xuniyuhoubansheng',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '韩楠笛',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '他需要一个女人为自己生下一个继承人，而她恰好成为了最好的人选。<br />
这个男人太优秀了，所以她才会在失身之后，在丢了心，以后又该何去何从···',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '581647',
  'lastchapter' => '第二十二章旖旎的夜',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看到福婶说好吃之后，戚小小也不客气的端起另外一块，一边吃一边说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江寰宇面前那块应该是三人中最小的，毕竟他是不喜甜食的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，在这种气氛里面，他竟然没有想要离开或者不吃的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到戚小小说特意选择的草莓酱蛋糕，江寰宇才明白为什么这次的蛋糕，比福婶做的甜食还要甜腻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原因，竟然是在这个家伙身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;注意到江寰宇盯着自己，戚小小有些不好意思的撇了撇头问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事，想喝酒吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江宅的酒窖里面，藏着很多好酒。他很少去动，里……',
  'chapters' => '54',
  'size' => '124490',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177149',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '52',
  'allvisit' => '221',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1514453981',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '83',
  'vippubid' => '0',
  'vipchapters' => '32',
  'vipsize' => '74532',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '581679',
  'vipchapter' => '第五十四章番外',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“团子，你在干什么呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚小小托着半大的肚子，来到花园之后就看到自己家儿子蹲在花丛中，不知道在做什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白色的小衬衫，黑色的背带裤都被弄的脏兮兮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更让人哭笑不得时候，她家儿子好好的小团子，变成了小花猫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么弄的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她记得，花园一直被打理的很好。不应该钻个花丛，就弄的如此脏的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈咪，我只是在寻找花草的奥妙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戚小小听到小团子软绵绵的声音，微愣了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她记得昨天晚上讲的故事，是关于植物人的故事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这小子又好奇心太重，……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 62245,
  'size_k' => 63,
  'size_w' => 6.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1904/1904s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1904/1904s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1904/1904l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1904.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1904',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1904&cid=581647',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=83&cid=581679',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1904',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1904',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1904',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BA%AB%E9%AA%B5%D1',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BA%AB%E9%AA%B5%D1',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%ED%C4%E3%D3%E0%BA%F3%B0%EB%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1904.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)