array (
  'meta_keywords' => '花间大凶器 李小二 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1910&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1910&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1910&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1910&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1910',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1515484972',
    'lastupdate' => '1515484972',
    'articlename' => '花间大凶器',
    'articlecode' => 'huajiandaxiongqi',
    'backupname' => '',
    'keywords' => '乡村 暧昧 村花 爽文 升级',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '李小二',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '18',
    'libid' => '0',
    'intro' => '前一段时间杨航高考，成为了靠山村第一个考上大学的人，但是因为没钱，无奈之下只好辍学，后来在村子里面承包了十多亩的土地。<br />
就在这时，山下却是传来了琐碎的脚步声，让杨航赶紧向着山下看去。<br />
只见张晓芳穿着一件裙子，却是缓缓的向着山上而来，因为天气炎热，所以张晓芳上身穿了一个宽松的衬衫。<br />
此时杨航站在高处，顺着宽大的衣领，就看到张晓芳胸前的两团丰满，随着张晓芳的走路，不停的来回跳动。<br />
瞬间杨航的心里就火热了起来，一把抱住了张晓芳。<br />
“想死我了晓芳，快让我看看有没有变化？”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '0',
    'lastchapter' => '',
    'lastsummary' => '',
    'chapters' => '435',
    'size' => '1757433',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177154',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '143',
    'allvisit' => '338',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1515486218',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1757433',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '102',
    'vippubid' => '0',
    'vipchapters' => '415',
    'vipsize' => '1695644',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '582499',
    'vipchapter' => '第435章最后一战（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;为了安全起见，杨航第一时间打电话把外出吃饭的一群女人全都招了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉竹则是一个见缝扎针的家伙，赶在众人回家之前，她则是拽着杨航兴致勃勃去了别墅后院的小树林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人在小树林中折腾了一个多小时后，杨航终于心满意足的从里面走了出来，而玉竹从树林中走出来的时候，修为居然取得了突破，整个人就像是一把出鞘的利剑，锋芒毕露！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨航和玉竹修炼完毕之后，家中一群人早就等的不耐烦了，正在别墅区内四处寻找杨航的踪迹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了避免尴尬，杨航也没有返回别墅，而是招呼众人赶往别墅大门口会合！……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '乡土小说',
    'typename' => '乡土小说',
    'size_c' => 878717,
    'size_k' => 879,
    'size_w' => 87.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1910/1910s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1910/1910s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1910/1910l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1910.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
    'url_lastchapter' => '',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=102&cid=582499',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1910',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1910',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1910',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%EE%D0%A1%B6%FE',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%EE%D0%A1%B6%FE',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%A8%BC%E4%B4%F3%D0%D7%C6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1910',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1515484972',
  'lastupdate' => '1515484972',
  'articlename' => '花间大凶器',
  'articlecode' => 'huajiandaxiongqi',
  'backupname' => '',
  'keywords' => '乡村 暧昧 村花 爽文 升级',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '李小二',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '18',
  'libid' => '0',
  'intro' => '前一段时间杨航高考，成为了靠山村第一个考上大学的人，但是因为没钱，无奈之下只好辍学，后来在村子里面承包了十多亩的土地。<br />
就在这时，山下却是传来了琐碎的脚步声，让杨航赶紧向着山下看去。<br />
只见张晓芳穿着一件裙子，却是缓缓的向着山上而来，因为天气炎热，所以张晓芳上身穿了一个宽松的衬衫。<br />
此时杨航站在高处，顺着宽大的衣领，就看到张晓芳胸前的两团丰满，随着张晓芳的走路，不停的来回跳动。<br />
瞬间杨航的心里就火热了起来，一把抱住了张晓芳。<br />
“想死我了晓芳，快让我看看有没有变化？”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '0',
  'lastchapter' => '',
  'lastsummary' => '',
  'chapters' => '435',
  'size' => '1757433',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177154',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '143',
  'allvisit' => '338',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1515486218',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1757433',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '102',
  'vippubid' => '0',
  'vipchapters' => '415',
  'vipsize' => '1695644',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '582499',
  'vipchapter' => '第435章最后一战（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;为了安全起见，杨航第一时间打电话把外出吃饭的一群女人全都招了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉竹则是一个见缝扎针的家伙，赶在众人回家之前，她则是拽着杨航兴致勃勃去了别墅后院的小树林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人在小树林中折腾了一个多小时后，杨航终于心满意足的从里面走了出来，而玉竹从树林中走出来的时候，修为居然取得了突破，整个人就像是一把出鞘的利剑，锋芒毕露！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨航和玉竹修炼完毕之后，家中一群人早就等的不耐烦了，正在别墅区内四处寻找杨航的踪迹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了避免尴尬，杨航也没有返回别墅，而是招呼众人赶往别墅大门口会合！……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '乡土小说',
  'typename' => '乡土小说',
  'size_c' => 878717,
  'size_k' => 879,
  'size_w' => 87.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1910/1910s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1910/1910s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1910/1910l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1910.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1910',
  'url_lastchapter' => '',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=102&cid=582499',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1910',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1910',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1910',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%EE%D0%A1%B6%FE',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%EE%D0%A1%B6%FE',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%A8%BC%E4%B4%F3%D0%D7%C6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '乡村',
      'tagencode' => '%CF%E7%B4%E5',
    ),
    1 => 
    array (
      'tagname' => '暧昧',
      'tagencode' => '%EA%D3%C3%C1',
    ),
    2 => 
    array (
      'tagname' => '村花',
      'tagencode' => '%B4%E5%BB%A8',
    ),
    3 => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
    4 => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 5,
    'addrows' => 0,
    'loops' => 5,
    'index' => 5,
    'order' => 5,
    'row' => 5,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
    'key' => 4,
    'append' => 0,
  ),
)