array (
  'meta_keywords' => '超品战兵 冷海隐士 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1913&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1913&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1913&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1913&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1913',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1517473052',
    'lastupdate' => '1517473052',
    'articlename' => '超品战兵',
    'articlecode' => 'chaopinzhanbing',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '冷海隐士',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '一个特殊的职业，一段真实的传奇。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '584323',
    'lastchapter' => '第19章 醋意正浓（二）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我被震了一下，她的手上绽放出阵阵香气，剥好的小桔子依然是那种熟悉的甘甜味儿，夹杂着一丝酸意。我真没想到她会做出这样的动作，更不知道究竟是玛瑞诗亚的举动太夸张了，还是我不懂幽默？我脸微微一红，有些犹豫，推辞道：“玛瑞诗亚少校，我何德何能，怎能让你给我剥桔子？”我赶快拿起另一颗桔子剥弄着，以缓解时下的紧张氛围。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但玛瑞诗亚的手却没有丝毫的回收，她干脆将胳膊肘撑在了桌子上，手持桔子冲我笑道：“徒弟给老师剥个桔子吃，不算犯错吧？再说了，我洗过手的，很卫生！”她还小小地幽了一默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我真……',
    'chapters' => '1483',
    'size' => '9152517',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177147',
    'dayvisit' => '26',
    'weekvisit' => '39',
    'monthvisit' => '221',
    'allvisit' => '299',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1517473237',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '130170',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '105',
    'vippubid' => '0',
    'vipchapters' => '1453',
    'vipsize' => '9022347',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '585776',
    'vipchapter' => '第1446章 大结局（二）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈富生点了点头：其实我当时在南方最担心的，就是你会冲动。我很了解你，一冲动你什么事都能做的出来。果然，你还是去了南方要找我老陈算账。但我老陈左思右想，还是把这件坏事变成了一件好事。利用你，我成功地把石川芳子和黑棋引过去，并控制起来。也许黑棋对你并不怎么感兴趣，但是石川芳子却一心想要了你的命。黑棋对石川芳子几乎是言听计从，因此你对整个黑棋势力，都变得相当重要。利用这一点，我下定决心，一鼓作气控制了整个TL组织。然后与由局长和公安部配合，彻底地将整个反动势力送上了断头台。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我禁不住赞叹道……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 4576259,
    'size_k' => 4577,
    'size_w' => 457.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1913/1913s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1913/1913s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1913/1913l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1913.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1913&cid=584323',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=105&cid=585776',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1913',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1913',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1913',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%AC%C6%B7%D5%BD%B1%F8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1913.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1913',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1517473052',
  'lastupdate' => '1517473052',
  'articlename' => '超品战兵',
  'articlecode' => 'chaopinzhanbing',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '冷海隐士',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '一个特殊的职业，一段真实的传奇。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '584323',
  'lastchapter' => '第19章 醋意正浓（二）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我被震了一下，她的手上绽放出阵阵香气，剥好的小桔子依然是那种熟悉的甘甜味儿，夹杂着一丝酸意。我真没想到她会做出这样的动作，更不知道究竟是玛瑞诗亚的举动太夸张了，还是我不懂幽默？我脸微微一红，有些犹豫，推辞道：“玛瑞诗亚少校，我何德何能，怎能让你给我剥桔子？”我赶快拿起另一颗桔子剥弄着，以缓解时下的紧张氛围。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但玛瑞诗亚的手却没有丝毫的回收，她干脆将胳膊肘撑在了桌子上，手持桔子冲我笑道：“徒弟给老师剥个桔子吃，不算犯错吧？再说了，我洗过手的，很卫生！”她还小小地幽了一默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我真……',
  'chapters' => '1483',
  'size' => '9152517',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177147',
  'dayvisit' => '26',
  'weekvisit' => '39',
  'monthvisit' => '221',
  'allvisit' => '299',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1517473237',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '130170',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '105',
  'vippubid' => '0',
  'vipchapters' => '1453',
  'vipsize' => '9022347',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '585776',
  'vipchapter' => '第1446章 大结局（二）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈富生点了点头：其实我当时在南方最担心的，就是你会冲动。我很了解你，一冲动你什么事都能做的出来。果然，你还是去了南方要找我老陈算账。但我老陈左思右想，还是把这件坏事变成了一件好事。利用你，我成功地把石川芳子和黑棋引过去，并控制起来。也许黑棋对你并不怎么感兴趣，但是石川芳子却一心想要了你的命。黑棋对石川芳子几乎是言听计从，因此你对整个黑棋势力，都变得相当重要。利用这一点，我下定决心，一鼓作气控制了整个TL组织。然后与由局长和公安部配合，彻底地将整个反动势力送上了断头台。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我禁不住赞叹道……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 4576259,
  'size_k' => 4577,
  'size_w' => 457.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1913/1913s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1913/1913s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1913/1913l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1913.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1913',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1913&cid=584323',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=105&cid=585776',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1913',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1913',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1913',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%AC%C6%B7%D5%BD%B1%F8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1913.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)