array (
  'meta_keywords' => '美女总裁爱上我 冷海隐士 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1914&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1914&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1914&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1914&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1914',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1517473259',
    'lastupdate' => '1517473259',
    'articlename' => '美女总裁爱上我',
    'articlecode' => 'meinvzongcaiaishangwo',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '0',
    'author' => '冷海隐士',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '新婚没多久，被漂亮的老婆抛弃，第二天又遭奸人算计，丢了工作。紧接着一次莫名其妙的一夜情，让他进入了一家阴盛阳衰的私企，一个受人歧视欺凌的小人物，渐渐开始了自己传奇般的权色博弈之路，他以一个小小的平台创造着都市的神话，蓦然回首才发现，自己所站的高度，已经足以俯视天下。 ',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '0',
    'lastchapter' => '',
    'lastsummary' => '',
    'chapters' => '921',
    'size' => '5880095',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1522177140',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '91',
    'allvisit' => '260',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1517473274',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '5880095',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '104',
    'vippubid' => '0',
    'vipchapters' => '901',
    'vipsize' => '5794320',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '586697',
    'vipchapter' => '第921章大结局（下）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;老太太手持话筒，情绪有些激动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我是女方的母亲。这么重大的场合，我当然要说几句话。”老太太又瞟了付洁一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈……”付洁快要急坏了，轻声提醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但老太太似乎根本没听到，继续说道：“说实话，对于现在正跪着的这个小伙子，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时候，付贞馨实在绷不住劲儿了，一把抢过老太太的话筒，焦急地说道：“妈，有什么话咱回家说去，这么多领导看着呢……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“话筒给我！”老太太强调道：“看着怎么了？我替你姐讲几句话，还不行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;付贞馨嘴唇都快咬破了，满脸通红。她知……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 2940048,
    'size_k' => 2941,
    'size_w' => 294,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1914/1914s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1914/1914s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1914/1914l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1914.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
    'url_lastchapter' => '',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=104&cid=586697',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1914',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1914',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1914',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%D7%DC%B2%C3%B0%AE%C9%CF%CE%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1914.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1914',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1517473259',
  'lastupdate' => '1517473259',
  'articlename' => '美女总裁爱上我',
  'articlecode' => 'meinvzongcaiaishangwo',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '0',
  'author' => '冷海隐士',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '新婚没多久，被漂亮的老婆抛弃，第二天又遭奸人算计，丢了工作。紧接着一次莫名其妙的一夜情，让他进入了一家阴盛阳衰的私企，一个受人歧视欺凌的小人物，渐渐开始了自己传奇般的权色博弈之路，他以一个小小的平台创造着都市的神话，蓦然回首才发现，自己所站的高度，已经足以俯视天下。 ',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '0',
  'lastchapter' => '',
  'lastsummary' => '',
  'chapters' => '921',
  'size' => '5880095',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1522177140',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '91',
  'allvisit' => '260',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1517473274',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '5880095',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '104',
  'vippubid' => '0',
  'vipchapters' => '901',
  'vipsize' => '5794320',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '586697',
  'vipchapter' => '第921章大结局（下）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;老太太手持话筒，情绪有些激动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我是女方的母亲。这么重大的场合，我当然要说几句话。”老太太又瞟了付洁一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈……”付洁快要急坏了，轻声提醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但老太太似乎根本没听到，继续说道：“说实话，对于现在正跪着的这个小伙子，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时候，付贞馨实在绷不住劲儿了，一把抢过老太太的话筒，焦急地说道：“妈，有什么话咱回家说去，这么多领导看着呢……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“话筒给我！”老太太强调道：“看着怎么了？我替你姐讲几句话，还不行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;付贞馨嘴唇都快咬破了，满脸通红。她知……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 2940048,
  'size_k' => 2941,
  'size_w' => 294,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1914/1914s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1914/1914s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1914/1914l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1914.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1914',
  'url_lastchapter' => '',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=104&cid=586697',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1914',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1914',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1914',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%C0%E4%BA%A3%D2%FE%CA%BF',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%D7%DC%B2%C3%B0%AE%C9%CF%CE%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1914.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)