array (
  'meta_keywords' => '恶魔总裁温柔点 手中一只笔 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1919&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1919&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1919&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1919&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1919',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1520600258',
    'lastupdate' => '1520600258',
    'articlename' => '恶魔总裁温柔点',
    'articlecode' => 'emozongcaiwenroudian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'E',
    'authorid' => '0',
    'author' => '手中一只笔',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '林夕被朋友设计拍了裸照，并且意外的和一个陌生人发生了关系。工作期间又发现自己的总裁就是对方，这让她产生了一种莫名的抵触……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '589371',
    'lastchapter' => '第二十章心跳加快',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;方琪一直以为，沈临风总裁不喜欢自己的原因是自己离着家太远了的原因呢，是因为自己出国，不能够直接的待在沈临风总裁的身边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方琪没有想到的是，沈临风的身边竟然是多了一二女热。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股怒火立马噌的就上来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈临风，你永远只能够是属于我的。方琪在想着，谁也不能够把沈临风抢走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间过得很快，不一会的时间，沈临风便到了自己的公司，林夕看到已经到了公司，心里才终于踏实下来了，总害怕沈临风总裁开车太过于快了，会发生什么意外，看来，自己真的是白白担心，总算是活着来到了这个公司里面……',
    'chapters' => '309',
    'size' => '1711736',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177140',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '91',
    'allvisit' => '91',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1520600867',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '1711736',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '116',
    'vippubid' => '0',
    'vipchapters' => '289',
    'vipsize' => '1636278',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '589660',
    'vipchapter' => '第304章皆大欢喜',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不知不觉就到了过年的这一天，就在过年的前头，有两件好事，也是两件让人高兴的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一件就是秦明和小艾在年底已经顺利完婚了，两人向沈临风请假一个月，秦明要陪小艾回乡下陪小艾的父母亲过年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈临风看在秦明刚刚结婚，正在和小爱甜蜜的很，自然也非常爽快的准假了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二件事就是，沈氏集团又在一个新的地区开辟了一个新的市场，这就意味着沈氏集团的发展会越来越好，利润也会越来越高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可真正算得上是双喜临门了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而林夕自己，也为沈临风准备了一个惊喜，只不过现在还不能告诉他。……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 855868,
    'size_k' => 856,
    'size_w' => 85.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
    'url_image' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1919.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1919&cid=589371',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=116&cid=589660',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1919',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1919',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1919',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CA%D6%D6%D0%D2%BB%D6%BB%B1%CA',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CA%D6%D6%D0%D2%BB%D6%BB%B1%CA',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%D7%DC%B2%C3%CE%C2%C8%E1%B5%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1919.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1919',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1520600258',
  'lastupdate' => '1520600258',
  'articlename' => '恶魔总裁温柔点',
  'articlecode' => 'emozongcaiwenroudian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'E',
  'authorid' => '0',
  'author' => '手中一只笔',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '林夕被朋友设计拍了裸照，并且意外的和一个陌生人发生了关系。工作期间又发现自己的总裁就是对方，这让她产生了一种莫名的抵触……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '589371',
  'lastchapter' => '第二十章心跳加快',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;方琪一直以为，沈临风总裁不喜欢自己的原因是自己离着家太远了的原因呢，是因为自己出国，不能够直接的待在沈临风总裁的身边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方琪没有想到的是，沈临风的身边竟然是多了一二女热。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股怒火立马噌的就上来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈临风，你永远只能够是属于我的。方琪在想着，谁也不能够把沈临风抢走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间过得很快，不一会的时间，沈临风便到了自己的公司，林夕看到已经到了公司，心里才终于踏实下来了，总害怕沈临风总裁开车太过于快了，会发生什么意外，看来，自己真的是白白担心，总算是活着来到了这个公司里面……',
  'chapters' => '309',
  'size' => '1711736',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177140',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '91',
  'allvisit' => '91',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1520600867',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '1711736',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '116',
  'vippubid' => '0',
  'vipchapters' => '289',
  'vipsize' => '1636278',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '589660',
  'vipchapter' => '第304章皆大欢喜',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不知不觉就到了过年的这一天，就在过年的前头，有两件好事，也是两件让人高兴的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一件就是秦明和小艾在年底已经顺利完婚了，两人向沈临风请假一个月，秦明要陪小艾回乡下陪小艾的父母亲过年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈临风看在秦明刚刚结婚，正在和小爱甜蜜的很，自然也非常爽快的准假了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二件事就是，沈氏集团又在一个新的地区开辟了一个新的市场，这就意味着沈氏集团的发展会越来越好，利润也会越来越高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可真正算得上是双喜临门了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而林夕自己，也为沈临风准备了一个惊喜，只不过现在还不能告诉他。……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 855868,
  'size_k' => 856,
  'size_w' => 85.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
  'url_image' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.juziread.com/image/1/1919/1919s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1919.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1919',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1919&cid=589371',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=116&cid=589660',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1919',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1919',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1919',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CA%D6%D6%D0%D2%BB%D6%BB%B1%CA',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CA%D6%D6%D0%D2%BB%D6%BB%B1%CA',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%D7%DC%B2%C3%CE%C2%C8%E1%B5%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1919.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)