array (
  'meta_keywords' => '绝世高手 问鼎 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1929&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1929&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1929&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1929&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1929',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521473896',
    'lastupdate' => '1521473896',
    'articlename' => '绝世高手',
    'articlecode' => 'jueshigaoshou',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '问鼎',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '雇佣兵王陈扬回归都市，只为暗中保护战友的女神妹妹。从此上班调戏美女白领，下班偷看隔壁美少妇洗澡，逍遥自在……然而，是龙终要翱翔于天，且看一代兵王如何用铁拳与智慧打造下铁血帝国。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '597688',
    'lastchapter' => '第1731章黄大师',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶凡更知道，师父领进门，修行在个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己必须要勇敢的跨出去，一直在家里闭门造车，那是成不了大事的。此番是要挣钱，也挣名声，更挣经验。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶凡知道，对于一个民族来说，最宝贵的就是民族凝聚精神！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于一个人来说，最宝贵的乃是其精气神！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人没了精气神，一切都不需要谈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个人，在受到屈辱时，爆发出的愤怒力量，是会比平时要强大得多的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;愤怒也是一种情绪和力量，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在武道的世界里，就已经开始需要加入人的情绪，还有精神了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就如一篇文章一样，文章再锦绣，……',
    'chapters' => '1731',
    'size' => '10804310',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177146',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '52',
    'allvisit' => '52',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521990331',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '10804310',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 5402155,
    'size_k' => 5403,
    'size_w' => 540.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1929.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1929&cid=597688',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1929',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1929',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1929',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CE%CA%B6%A6',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CE%CA%B6%A6',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%CA%C0%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1929.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1929',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521473896',
  'lastupdate' => '1521473896',
  'articlename' => '绝世高手',
  'articlecode' => 'jueshigaoshou',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '问鼎',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '雇佣兵王陈扬回归都市，只为暗中保护战友的女神妹妹。从此上班调戏美女白领，下班偷看隔壁美少妇洗澡，逍遥自在……然而，是龙终要翱翔于天，且看一代兵王如何用铁拳与智慧打造下铁血帝国。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '597688',
  'lastchapter' => '第1731章黄大师',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶凡更知道，师父领进门，修行在个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己必须要勇敢的跨出去，一直在家里闭门造车，那是成不了大事的。此番是要挣钱，也挣名声，更挣经验。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶凡知道，对于一个民族来说，最宝贵的就是民族凝聚精神！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于一个人来说，最宝贵的乃是其精气神！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人没了精气神，一切都不需要谈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个人，在受到屈辱时，爆发出的愤怒力量，是会比平时要强大得多的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;愤怒也是一种情绪和力量，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在武道的世界里，就已经开始需要加入人的情绪，还有精神了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就如一篇文章一样，文章再锦绣，……',
  'chapters' => '1731',
  'size' => '10804310',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177146',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '52',
  'allvisit' => '52',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521990331',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '10804310',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 5402155,
  'size_k' => 5403,
  'size_w' => 540.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1929.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1929',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1929&cid=597688',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1929',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1929',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1929',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CE%CA%B6%A6',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CE%CA%B6%A6',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%CA%C0%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1929.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)