array (
  'meta_keywords' => '邪帝的失宠小逃妻 凯特夫人 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1957&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1957&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1957&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1957&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1957',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521898502',
    'lastupdate' => '1521898502',
    'articlename' => '邪帝的失宠小逃妻',
    'articlecode' => 'xiedideshichongxiaotaoqi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '凯特夫人',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她，国色天香，她，从小心有所属，却被选入宫中，宫中那些明争暗斗，让她从一位单纯的小女孩变成会玩心计的女人。&#160;<br />
竟然上天夺走了她的真爱，至少对她有一些眷顾吧，为何连她的两个孩子都要夺走呢？为何在她最狼狈，最恶心的时候，让她的真爱出现呢？为何让多个男人对她产生情愫呢？<br />
为了复仇她从新回到深宫中，以另一个身份活着，放弃了那些为了她可以牺牲性命的男子，这一切都值得么？她不知道…….',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '610942',
    'lastchapter' => '第一百五十八章结局',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看着那偌大城墙里面那金碧辉煌的皇宫之中，有那么多的怀念，开心的、难过的、痛苦的、悲伤的，全都在脑海里回放着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然一直都想要离开皇宫，但是如今真的要离开了，却又一丝不舍，即使皇宫中大多数的记忆都是这么的不堪，但毕竟也有感情，也有不舍，想着那些好姐妹，以后也不知道能不能相见，心里不由一阵难过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好了，玄儿。别难过了，天下没有不散的宴席，今日的离别是为了改日的相聚，你想她们可以随时来看看。”江宇萧把多愁伤感的刘玄儿拥入怀中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们等了这么久，终于等到了这个激动人心的日子，……',
    'chapters' => '158',
    'size' => '1011019',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '0',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '0',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521989895',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '1011019',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 505510,
    'size_k' => 506,
    'size_w' => 50.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1957.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1957&cid=610942',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1957',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1957',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1957',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BF%AD%CC%D8%B7%F2%C8%CB',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BF%AD%CC%D8%B7%F2%C8%CB',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%B0%B5%DB%B5%C4%CA%A7%B3%E8%D0%A1%CC%D3%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1957.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1957',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521898502',
  'lastupdate' => '1521898502',
  'articlename' => '邪帝的失宠小逃妻',
  'articlecode' => 'xiedideshichongxiaotaoqi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '凯特夫人',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她，国色天香，她，从小心有所属，却被选入宫中，宫中那些明争暗斗，让她从一位单纯的小女孩变成会玩心计的女人。&#160;<br />
竟然上天夺走了她的真爱，至少对她有一些眷顾吧，为何连她的两个孩子都要夺走呢？为何在她最狼狈，最恶心的时候，让她的真爱出现呢？为何让多个男人对她产生情愫呢？<br />
为了复仇她从新回到深宫中，以另一个身份活着，放弃了那些为了她可以牺牲性命的男子，这一切都值得么？她不知道…….',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '610942',
  'lastchapter' => '第一百五十八章结局',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看着那偌大城墙里面那金碧辉煌的皇宫之中，有那么多的怀念，开心的、难过的、痛苦的、悲伤的，全都在脑海里回放着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然一直都想要离开皇宫，但是如今真的要离开了，却又一丝不舍，即使皇宫中大多数的记忆都是这么的不堪，但毕竟也有感情，也有不舍，想着那些好姐妹，以后也不知道能不能相见，心里不由一阵难过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好了，玄儿。别难过了，天下没有不散的宴席，今日的离别是为了改日的相聚，你想她们可以随时来看看。”江宇萧把多愁伤感的刘玄儿拥入怀中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们等了这么久，终于等到了这个激动人心的日子，……',
  'chapters' => '158',
  'size' => '1011019',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '0',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '0',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521989895',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '1011019',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 505510,
  'size_k' => 506,
  'size_w' => 50.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1957.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1957',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1957&cid=610942',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1957',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1957',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1957',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BF%AD%CC%D8%B7%F2%C8%CB',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BF%AD%CC%D8%B7%F2%C8%CB',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%B0%B5%DB%B5%C4%CA%A7%B3%E8%D0%A1%CC%D3%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1957.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)