array (
  'meta_keywords' => '总裁逼婚：爱妻束手就擒 倩馨儿 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1958&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1958&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1958&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1958&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1958',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521898902',
    'lastupdate' => '1521898902',
    'articlename' => '总裁逼婚：爱妻束手就擒',
    'articlecode' => 'zongcaibihun_aiqishushoujiuqin',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '倩馨儿',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '张不悔原本是一个身世悲惨的少女，为了挣钱给弟弟小熊看病，用尽了各种手段，尝尽了个中滋味，可是命运的轮盘却又将她卷入了一场家族的暗战之中，碰上了腹黑男的她是否能摆脱命运的多舛，是否能走上幸福的道路。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '610963',
    'lastchapter' => '第二十章怎样才算婉转？',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;上学第一天，不悔见识了很多自己从未见过的事情和东西，也领悟了下流社会学生学习的节奏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还认识了一位钟情的大帅哥和一位可爱无比的小萝莉，不过这小萝莉貌似对宁彩成更加感兴趣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宁儿，你觉得小咪怎么样呀？”不悔蹭到宁彩成身边，眼神神秘的打量着宁彩成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不悔突如其来的动作，让原本坐在坐在一旁玩电脑的宁彩成，稍微有一丝惊愕。不知所以人的望着不悔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见宁彩成没有回应，不悔不由推了推宁彩成的隔壁脸上带着点点笑意道：“到底怎么样？你看看人家小咪，长得那么可爱，家室背景和你也很配……',
    'chapters' => '153',
    'size' => '1007818',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '0',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '0',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521989885',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '110138',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '121',
    'vippubid' => '0',
    'vipchapters' => '132',
    'vipsize' => '897680',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '611095',
    'vipchapter' => '第一百五十二章结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“嗨，各位宝贝，我回来了。”小咪冲进别墅看着大家都在，纷纷亲了亲两个小宝贝，接着从有点出神的手中把帅帅抱了过来，亲了又亲道：“哎呦，我得干儿子又重了，又帅了，几个月不见就差点认不出来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈咪！你回来了。”喵喵淡淡的说道，接着低着头脸上没有一丝喜悦，自己妈咪肯定是吧好玩的一遍都玩完了，才会想起自己的，才会回来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;林澈拖着笨拙的行李回来，看着众人都纷纷坐在客厅中，貌似心情都不是很好不由道：“怎么了？我们还出去几个月，你们就用这副表情来对待我们？我们可是一处理完那边的事情就……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 503909,
    'size_k' => 504,
    'size_w' => 50.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1958.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1958&cid=610963',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=121&cid=611095',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1958',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1958',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1958',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D9%BB%DC%B0%B6%F9',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D9%BB%DC%B0%B6%F9',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B1%C6%BB%E9%A3%BA%B0%AE%C6%DE%CA%F8%CA%D6%BE%CD%C7%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1958.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1958',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521898902',
  'lastupdate' => '1521898902',
  'articlename' => '总裁逼婚：爱妻束手就擒',
  'articlecode' => 'zongcaibihun_aiqishushoujiuqin',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '倩馨儿',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '张不悔原本是一个身世悲惨的少女，为了挣钱给弟弟小熊看病，用尽了各种手段，尝尽了个中滋味，可是命运的轮盘却又将她卷入了一场家族的暗战之中，碰上了腹黑男的她是否能摆脱命运的多舛，是否能走上幸福的道路。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '610963',
  'lastchapter' => '第二十章怎样才算婉转？',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;上学第一天，不悔见识了很多自己从未见过的事情和东西，也领悟了下流社会学生学习的节奏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还认识了一位钟情的大帅哥和一位可爱无比的小萝莉，不过这小萝莉貌似对宁彩成更加感兴趣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宁儿，你觉得小咪怎么样呀？”不悔蹭到宁彩成身边，眼神神秘的打量着宁彩成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不悔突如其来的动作，让原本坐在坐在一旁玩电脑的宁彩成，稍微有一丝惊愕。不知所以人的望着不悔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见宁彩成没有回应，不悔不由推了推宁彩成的隔壁脸上带着点点笑意道：“到底怎么样？你看看人家小咪，长得那么可爱，家室背景和你也很配……',
  'chapters' => '153',
  'size' => '1007818',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '0',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '0',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521989885',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '110138',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '121',
  'vippubid' => '0',
  'vipchapters' => '132',
  'vipsize' => '897680',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '611095',
  'vipchapter' => '第一百五十二章结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“嗨，各位宝贝，我回来了。”小咪冲进别墅看着大家都在，纷纷亲了亲两个小宝贝，接着从有点出神的手中把帅帅抱了过来，亲了又亲道：“哎呦，我得干儿子又重了，又帅了，几个月不见就差点认不出来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈咪！你回来了。”喵喵淡淡的说道，接着低着头脸上没有一丝喜悦，自己妈咪肯定是吧好玩的一遍都玩完了，才会想起自己的，才会回来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;林澈拖着笨拙的行李回来，看着众人都纷纷坐在客厅中，貌似心情都不是很好不由道：“怎么了？我们还出去几个月，你们就用这副表情来对待我们？我们可是一处理完那边的事情就……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 503909,
  'size_k' => 504,
  'size_w' => 50.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1958.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1958',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1958&cid=610963',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=121&cid=611095',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1958',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1958',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1958',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D9%BB%DC%B0%B6%F9',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%D9%BB%DC%B0%B6%F9',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B1%C6%BB%E9%A3%BA%B0%AE%C6%DE%CA%F8%CA%D6%BE%CD%C7%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1958.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)