array (
  'meta_keywords' => '凰权 花朵开 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1959&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1959&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1959&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1959&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1959',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521903209',
    'lastupdate' => '1521903209',
    'articlename' => '凰权',
    'articlecode' => 'huangquan',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '花朵开',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '现代少女夏末米在洗澡的时候意外穿越到了另一时空的西明国，还刚好跌进了三王爷的浴桶里，两人第一夜就暧昧丛生。<br />
奇怪的是三王爷似乎早就知道会有她这个不速之客穿过来，后来她才知道原来是有一个神机妙算的老者告知池冷墨，他要等的人会在那天晚上出现。<br />
池冷墨很是宠她，两人也顺理成章的结为了夫妇. ',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '611231',
    'lastchapter' => '第一百三十五章幸福的尾声',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在一条小溪边，夏末米赤着脚，撩起裤腿，想要走进溪水里。这次可是她专门趁着池冷墨出去打猎了，而星儿又去洗衣服了，所以她才有机会偷偷地跑出来。她真是快要被憋坏了，不就是怀个孕吗，结果每个人都把她当做囚犯一样的看管起来，一点自由都不肯给她，不是这个不能做就是那个对孩子不好。要是再不出来透透气的话，她担心自己都要崩溃了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在可是大夏天，结果，池冷墨非要她每天喝热水，洗脸也要热水，一点冷水都不肯让她碰，害得她难受死了。她是多么渴望清凉的感觉啊。把脚放在水里，夏末米舒服得直叹气，这才是人生啊……',
    'chapters' => '136',
    'size' => '1016347',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522013920',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '13',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521989860',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '1016347',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 508174,
    'size_k' => 509,
    'size_w' => 50.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1959.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1959&cid=611231',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1959',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1959',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1959',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%B6%E4%BF%AA',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%B6%E4%BF%AA',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%CB%C8%A8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1959.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1959',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521903209',
  'lastupdate' => '1521903209',
  'articlename' => '凰权',
  'articlecode' => 'huangquan',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '花朵开',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '现代少女夏末米在洗澡的时候意外穿越到了另一时空的西明国，还刚好跌进了三王爷的浴桶里，两人第一夜就暧昧丛生。<br />
奇怪的是三王爷似乎早就知道会有她这个不速之客穿过来，后来她才知道原来是有一个神机妙算的老者告知池冷墨，他要等的人会在那天晚上出现。<br />
池冷墨很是宠她，两人也顺理成章的结为了夫妇. ',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '611231',
  'lastchapter' => '第一百三十五章幸福的尾声',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在一条小溪边，夏末米赤着脚，撩起裤腿，想要走进溪水里。这次可是她专门趁着池冷墨出去打猎了，而星儿又去洗衣服了，所以她才有机会偷偷地跑出来。她真是快要被憋坏了，不就是怀个孕吗，结果每个人都把她当做囚犯一样的看管起来，一点自由都不肯给她，不是这个不能做就是那个对孩子不好。要是再不出来透透气的话，她担心自己都要崩溃了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在可是大夏天，结果，池冷墨非要她每天喝热水，洗脸也要热水，一点冷水都不肯让她碰，害得她难受死了。她是多么渴望清凉的感觉啊。把脚放在水里，夏末米舒服得直叹气，这才是人生啊……',
  'chapters' => '136',
  'size' => '1016347',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522013920',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '13',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521989860',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '1016347',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 508174,
  'size_k' => 509,
  'size_w' => 50.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1959.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1959',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1959&cid=611231',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1959',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1959',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1959',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%B6%E4%BF%AA',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%B6%E4%BF%AA',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%CB%C8%A8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1959.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)