array (
  'meta_keywords' => '媚情小妖妃 晨曦 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1965&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1965&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1965&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1965&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1965',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521955319',
    'lastupdate' => '1521955319',
    'articlename' => '媚情小妖妃',
    'articlecode' => 'meiqingxiaoyaofei',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '0',
    'author' => '晨曦',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '守着三年前的承诺，她嫁给了眼前这个冷血的男人，而他却早已遗忘了眼前的女人，只是冷冷的说道：“本王只想看着你痛苦。”从此她的苦难生活就这样拉开了帷幕。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '612680',
    'lastchapter' => '第 6 章节',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;自己的手指头，再度瞪圆了双眼防备的看着眼前的男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该死的，差一点…………就差一点自己就沉溺了…………该死的！！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;###第034狂妄的热情！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么？不咬本王了吗?”他带着淡淡的笑容，很快再度控制住她又想挡住他进攻的手，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然就这样俯下身子，再度含住丰盈的下唇，他微微的抬着眼皮看着眼前这个女人的表情，而后便轻轻的吸吮着，微哑低语，带着淡淡的挑衅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的甜美，似乎不是自己能控制的，似乎让他有些深陷而不自觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到他的挑衅，水若曦原本打算不理会这个男人，可……此刻……',
    'chapters' => '28',
    'size' => '267399',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522014094',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '13',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521989751',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '58960',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '120',
    'vippubid' => '0',
    'vipchapters' => '22',
    'vipsize' => '208439',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '612702',
    'vipchapter' => '第 28 章节',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;就这样倒了下去……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曦！”他来不及多说什么，就这样跑了过去，紧紧的抱着水若曦，泪水爬满了他的脸庞：“傻瓜，等了这么久，难道你真的舍得离开我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”水若曦难受的睁开眼，诧异的看着眼前的男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“傻瓜，我一直没失忆，可……”很快，木凌云简单的把事情说了出来，听到这话，水若曦感觉到此生无憾了，可她更明白，这毒是南疆王研制的，恐怕只有毒药，没有解药吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来，服下这个，你不能死的！”很快他把池墨嵘留下的唯一一颗保命丹丢在了她的嘴里，他知道，这保命丹只能坚持一个……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 133700,
    'size_k' => 134,
    'size_w' => 13.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1965.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1965&cid=612680',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=120&cid=612702',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1965',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1965',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1965',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B3%BF%EA%D8',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B3%BF%EA%D8',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C4%C7%E9%D0%A1%D1%FD%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1965.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1965',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521955319',
  'lastupdate' => '1521955319',
  'articlename' => '媚情小妖妃',
  'articlecode' => 'meiqingxiaoyaofei',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '0',
  'author' => '晨曦',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '守着三年前的承诺，她嫁给了眼前这个冷血的男人，而他却早已遗忘了眼前的女人，只是冷冷的说道：“本王只想看着你痛苦。”从此她的苦难生活就这样拉开了帷幕。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '612680',
  'lastchapter' => '第 6 章节',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;自己的手指头，再度瞪圆了双眼防备的看着眼前的男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该死的，差一点…………就差一点自己就沉溺了…………该死的！！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;###第034狂妄的热情！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么？不咬本王了吗?”他带着淡淡的笑容，很快再度控制住她又想挡住他进攻的手，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然就这样俯下身子，再度含住丰盈的下唇，他微微的抬着眼皮看着眼前这个女人的表情，而后便轻轻的吸吮着，微哑低语，带着淡淡的挑衅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的甜美，似乎不是自己能控制的，似乎让他有些深陷而不自觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到他的挑衅，水若曦原本打算不理会这个男人，可……此刻……',
  'chapters' => '28',
  'size' => '267399',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522014094',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '13',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521989751',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '58960',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '120',
  'vippubid' => '0',
  'vipchapters' => '22',
  'vipsize' => '208439',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '612702',
  'vipchapter' => '第 28 章节',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;就这样倒了下去……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曦！”他来不及多说什么，就这样跑了过去，紧紧的抱着水若曦，泪水爬满了他的脸庞：“傻瓜，等了这么久，难道你真的舍得离开我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”水若曦难受的睁开眼，诧异的看着眼前的男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“傻瓜，我一直没失忆，可……”很快，木凌云简单的把事情说了出来，听到这话，水若曦感觉到此生无憾了，可她更明白，这毒是南疆王研制的，恐怕只有毒药，没有解药吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来，服下这个，你不能死的！”很快他把池墨嵘留下的唯一一颗保命丹丢在了她的嘴里，他知道，这保命丹只能坚持一个……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 133700,
  'size_k' => 134,
  'size_w' => 13.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1965.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1965',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1965&cid=612680',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=120&cid=612702',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1965',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1965',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1965',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B3%BF%EA%D8',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%B3%BF%EA%D8',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C4%C7%E9%D0%A1%D1%FD%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1965.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)