array (
  'meta_keywords' => '婚天久地 花田EN 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1972&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1972&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1972&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1972&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1972',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521962686',
    'lastupdate' => '1521962686',
    'articlename' => '婚天久地',
    'articlecode' => 'huntianjiudi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '花田EN',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '一只小白免冒然闯进狼群，下场除了被吃得一干二净，还有其他结果吗？ ',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '612855',
    'lastchapter' => '第20章节玩火***[收缩内容]',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;字数：1691更新时间：2011-12-17 17:12<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才，烈转离开后，杜慧跟王芷君这对好姐妹却因为他吵了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你又想跟我抢？”杜慧叉腰瞪着王芷君。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他是我先看上的，上回你已经跟我抢了，我都让你一回了，这回你应该回馈我一次了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“才不是，他是我先看上的。”王芷君胀红了脸分辨道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那么，再上上一回呢，我也让你了。总之，其他的人或东西，我可以让你，但张大哥不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人目光毫不相让，在半空中一碰，当即火花四溅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这样吧，既然他是大家一起看上的，就按老规矩……',
    'chapters' => '373',
    'size' => '1203436',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522013746',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '13',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521989747',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '102924',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '118',
    'vippubid' => '0',
    'vipchapters' => '353',
    'vipsize' => '1100512',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '613208',
    'vipchapter' => '第210章节（结局）[收缩内容]',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;字数：2137更新时间：2012-05-11 20:05<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到警察局附近的餐厅里坐下，他们看向彼此，却没有人先开口说话，一时之间，寂静、尴尬充斥在三人之间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小姑已经跟你说清楚了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;喝了口咖啡后，唐情先打破沉默问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张心洁望了他一眼，再瞧了瞧没开口的杜悠杰，缓缓地点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干妈在电话里跟我说清楚了”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才，唐夫人在电话里跟她说了，原来一切都是杜悠杰指使的，因为他一直没能忘记她，所以让她帮他使计拆散他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐情听到她这话，所有不安的心绪，一下子就沉淀下来，他欣……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 601718,
    'size_k' => 602,
    'size_w' => 60.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1972.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1972&cid=612855',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=118&cid=613208',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1972',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1972',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1972',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%CC%EFEN',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%CC%EFEN',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%E9%CC%EC%BE%C3%B5%D8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1972.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1972',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521962686',
  'lastupdate' => '1521962686',
  'articlename' => '婚天久地',
  'articlecode' => 'huntianjiudi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '花田EN',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '一只小白免冒然闯进狼群，下场除了被吃得一干二净，还有其他结果吗？ ',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '612855',
  'lastchapter' => '第20章节玩火***[收缩内容]',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;字数：1691更新时间：2011-12-17 17:12<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才，烈转离开后，杜慧跟王芷君这对好姐妹却因为他吵了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你又想跟我抢？”杜慧叉腰瞪着王芷君。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他是我先看上的，上回你已经跟我抢了，我都让你一回了，这回你应该回馈我一次了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“才不是，他是我先看上的。”王芷君胀红了脸分辨道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那么，再上上一回呢，我也让你了。总之，其他的人或东西，我可以让你，但张大哥不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人目光毫不相让，在半空中一碰，当即火花四溅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这样吧，既然他是大家一起看上的，就按老规矩……',
  'chapters' => '373',
  'size' => '1203436',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522013746',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '13',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521989747',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '102924',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '118',
  'vippubid' => '0',
  'vipchapters' => '353',
  'vipsize' => '1100512',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '613208',
  'vipchapter' => '第210章节（结局）[收缩内容]',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;字数：2137更新时间：2012-05-11 20:05<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到警察局附近的餐厅里坐下，他们看向彼此，却没有人先开口说话，一时之间，寂静、尴尬充斥在三人之间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小姑已经跟你说清楚了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;喝了口咖啡后，唐情先打破沉默问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张心洁望了他一眼，再瞧了瞧没开口的杜悠杰，缓缓地点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干妈在电话里跟我说清楚了”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才，唐夫人在电话里跟她说了，原来一切都是杜悠杰指使的，因为他一直没能忘记她，所以让她帮他使计拆散他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐情听到她这话，所有不安的心绪，一下子就沉淀下来，他欣……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 601718,
  'size_k' => 602,
  'size_w' => 60.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1972.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1972',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1972&cid=612855',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=118&cid=613208',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1972',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1972',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1972',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%CC%EFEN',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%BB%A8%CC%EFEN',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%E9%CC%EC%BE%C3%B5%D8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1972.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)