array (
  'meta_keywords' => '腐女皇妃：惑乱后宫 歆月 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1977&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1977&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1977&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1977&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1977',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521990957',
    'lastupdate' => '1521990957',
    'articlename' => '腐女皇妃：惑乱后宫',
    'articlecode' => 'funvhuangfei_huoluanhougong',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '0',
    'author' => '歆月',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '言慧心洗澡的时候浴室的镜中发出一道刺眼的强光，言慧心就这样穿越了，而且压死了正在与皇上妖精打架的贵妃<br />
 “你砸死了朕的贵妃，你就代替她吧。”辛睿看着从天而降的裸女微笑道。<br />
不是吧，言慧心是知道杀人要偿命，但是这种偿法也太离谱了吧，她可以不同意吗？<br />
“可以，你意图谋杀当今皇上，判死罪。”辛睿微笑道。<br />
这天下还有没有讲理的地方，穿越又不是她能控制的，压死人完全是意外，意外应该不会被判罪的吧，可是这个不讲理的色皇上，竟要给她安了个刺杀皇上的罪名。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '617056',
    'lastchapter' => '第四十五章花贱人自食恶果5',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“花姑娘，请你自重。”冒牌很不爽，不管他是谁，他总是男人，被女人这样拖着很没面子的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“自重？今天无论如何，我们都要拜堂成亲。”花小侬气恼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“花姑娘，且不说婚姻之命，媒妁之言，你是有夫之妇，傅某怎可做这种有违礼教的事，成亲是万万不能。”冒牌冷肃道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“由不得你。”花小侬冷道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你别太过分，兔子逼急了还会咬人。”冒牌男气恼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人，将他带下去严加看管，速派人下山准备成亲所用物品，三日内，我们一定要成亲。”花小侬有些无耻道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冒牌心下很是焦急，现……',
    'chapters' => '995',
    'size' => '1457038',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177136',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996335',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '1457038',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 728519,
    'size_k' => 729,
    'size_w' => 72.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1977.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1977&cid=617056',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1977',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1977',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1977',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%AF%C5%AE%BB%CA%E5%FA%A3%BA%BB%F3%C2%D2%BA%F3%B9%AC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1977.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1977',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521990957',
  'lastupdate' => '1521990957',
  'articlename' => '腐女皇妃：惑乱后宫',
  'articlecode' => 'funvhuangfei_huoluanhougong',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '0',
  'author' => '歆月',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '言慧心洗澡的时候浴室的镜中发出一道刺眼的强光，言慧心就这样穿越了，而且压死了正在与皇上妖精打架的贵妃<br />
 “你砸死了朕的贵妃，你就代替她吧。”辛睿看着从天而降的裸女微笑道。<br />
不是吧，言慧心是知道杀人要偿命，但是这种偿法也太离谱了吧，她可以不同意吗？<br />
“可以，你意图谋杀当今皇上，判死罪。”辛睿微笑道。<br />
这天下还有没有讲理的地方，穿越又不是她能控制的，压死人完全是意外，意外应该不会被判罪的吧，可是这个不讲理的色皇上，竟要给她安了个刺杀皇上的罪名。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '617056',
  'lastchapter' => '第四十五章花贱人自食恶果5',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“花姑娘，请你自重。”冒牌很不爽，不管他是谁，他总是男人，被女人这样拖着很没面子的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“自重？今天无论如何，我们都要拜堂成亲。”花小侬气恼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“花姑娘，且不说婚姻之命，媒妁之言，你是有夫之妇，傅某怎可做这种有违礼教的事，成亲是万万不能。”冒牌冷肃道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“由不得你。”花小侬冷道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你别太过分，兔子逼急了还会咬人。”冒牌男气恼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人，将他带下去严加看管，速派人下山准备成亲所用物品，三日内，我们一定要成亲。”花小侬有些无耻道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冒牌心下很是焦急，现……',
  'chapters' => '995',
  'size' => '1457038',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177136',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996335',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '1457038',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 728519,
  'size_k' => 729,
  'size_w' => 72.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1977.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1977',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1977&cid=617056',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1977',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1977',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1977',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%AF%C5%AE%BB%CA%E5%FA%A3%BA%BB%F3%C2%D2%BA%F3%B9%AC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1977.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)