array (
  'meta_keywords' => '帝台娇，王的宠妃 歆月 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1979&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1979&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1979&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1979&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1979',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521992049',
    'lastupdate' => '1521992049',
    'articlename' => '帝台娇，王的宠妃',
    'articlecode' => 'ditaijiao_wangdechongfei',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '0',
    'author' => '歆月',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '别人穿越，路珠穿越，人家穿越帅哥满天飞，最差的也会被帅哥救，为啥路珠穿越不但带着‘拖油瓶’，带拖油瓶也就罢了，竟然还倒霉的救个破老太太……<br />
霉星照顶，路珠认了。人家都已经自力更生，自谋生路。古代创业，干吗还要遇上恶霸……<br />
哇哈哈……帅哥来了，而且还不止一个，人家是用个算的，这会她要用群算了，看来霉运过了，福气来了……<br />
什么？自己救的这破老太是太后。这些帅哥，是她的儿子们……太好了，不但有帅哥，还有金山银山等着路珠去挥霍，多么美好的生活呀……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '617867',
    'lastchapter' => '第十章认娘1',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;路珠正安慰着兰姐，门外传来了摇摇晃晃的脚步声，路珠有种解脱的感觉，想到马上就可以离开，路珠笑得更甜了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这人长得俊，笑起来都……”兰姐说着手又伸向路珠的脸……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“兰姐，大哥回来了。”路珠零的站起，避开了兰姐的禄山之爪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路珠感激似的看着出现在门前的房东大哥，心想下次有天大的事，晚上也不来了，然后逃难似的向兰姐同房东大哥道别，窜回了租来的小屋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小猪猪，你怎么了？”刚进门，宝宝就冲了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路珠轻拍胸口，喘气道：“没什么，只是太累了，赶紧睡觉吧，明天还有收……',
    'chapters' => '537',
    'size' => '763500',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177134',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996299',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '38004',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '130',
    'vippubid' => '0',
    'vipchapters' => '517',
    'vipsize' => '725496',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '618384',
    'vipchapter' => '第一四零章麦提尔的家族聚会',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;小猪看着麦提尔轻问道：“你可以不参加吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“家族聚会，除了特殊的事情，一般一年只有一次，从来不曾有人缺席。”麦提尔迟疑了会，蹙眉缓道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那……”小猪犹豫着，不知道可否行的通，她看着麦提尔凝眉道：“能找人代替我去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;麦提尔闻言失笑道：“如果今天我父母没来，或许可以，但是他们今天见过你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是不是去了，我就一定要嫁给你？”小猪觉得自己不能置身事物，毕竟麦提尔当初送她进医院检查是好意。其实说起来，麦提尔的损失比她还要大，她亏欠他的已经够多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;麦提尔并……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 381750,
    'size_k' => 382,
    'size_w' => 38.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1979.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1979&cid=617867',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=130&cid=618384',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1979',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1979',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1979',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%DB%CC%A8%BD%BF%A3%AC%CD%F5%B5%C4%B3%E8%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1979.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1979',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521992049',
  'lastupdate' => '1521992049',
  'articlename' => '帝台娇，王的宠妃',
  'articlecode' => 'ditaijiao_wangdechongfei',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '0',
  'author' => '歆月',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '别人穿越，路珠穿越，人家穿越帅哥满天飞，最差的也会被帅哥救，为啥路珠穿越不但带着‘拖油瓶’，带拖油瓶也就罢了，竟然还倒霉的救个破老太太……<br />
霉星照顶，路珠认了。人家都已经自力更生，自谋生路。古代创业，干吗还要遇上恶霸……<br />
哇哈哈……帅哥来了，而且还不止一个，人家是用个算的，这会她要用群算了，看来霉运过了，福气来了……<br />
什么？自己救的这破老太是太后。这些帅哥，是她的儿子们……太好了，不但有帅哥，还有金山银山等着路珠去挥霍，多么美好的生活呀……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '617867',
  'lastchapter' => '第十章认娘1',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;路珠正安慰着兰姐，门外传来了摇摇晃晃的脚步声，路珠有种解脱的感觉，想到马上就可以离开，路珠笑得更甜了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这人长得俊，笑起来都……”兰姐说着手又伸向路珠的脸……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“兰姐，大哥回来了。”路珠零的站起，避开了兰姐的禄山之爪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路珠感激似的看着出现在门前的房东大哥，心想下次有天大的事，晚上也不来了，然后逃难似的向兰姐同房东大哥道别，窜回了租来的小屋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小猪猪，你怎么了？”刚进门，宝宝就冲了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路珠轻拍胸口，喘气道：“没什么，只是太累了，赶紧睡觉吧，明天还有收……',
  'chapters' => '537',
  'size' => '763500',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177134',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996299',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '38004',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '130',
  'vippubid' => '0',
  'vipchapters' => '517',
  'vipsize' => '725496',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '618384',
  'vipchapter' => '第一四零章麦提尔的家族聚会',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;小猪看着麦提尔轻问道：“你可以不参加吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“家族聚会，除了特殊的事情，一般一年只有一次，从来不曾有人缺席。”麦提尔迟疑了会，蹙眉缓道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那……”小猪犹豫着，不知道可否行的通，她看着麦提尔凝眉道：“能找人代替我去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;麦提尔闻言失笑道：“如果今天我父母没来，或许可以，但是他们今天见过你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是不是去了，我就一定要嫁给你？”小猪觉得自己不能置身事物，毕竟麦提尔当初送她进医院检查是好意。其实说起来，麦提尔的损失比她还要大，她亏欠他的已经够多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;麦提尔并……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 381750,
  'size_k' => 382,
  'size_w' => 38.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1979.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1979',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1979&cid=617867',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=130&cid=618384',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1979',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1979',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1979',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%DB%CC%A8%BD%BF%A3%AC%CD%F5%B5%C4%B3%E8%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1979.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)