array (
  'meta_keywords' => '诱妻成欢：夫君请下堂 歆月 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1980&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1980&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1980&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1980&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1980',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521992465',
    'lastupdate' => '1521992465',
    'articlename' => '诱妻成欢：夫君请下堂',
    'articlecode' => 'youqichenghuan_fujunqingxiatang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '0',
    'author' => '歆月',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '代的美容天后，时尚宠儿穿越到了古代，不但从倾国倾城的大美女，绝色妖娆的狐狸精穿越成了丑八怪，还是一个被皇上抛弃的女人。皇后难道也得活得这么卑微吗？林玉媚拒绝做悲摧的可怜虫。<br />
想她林玉媚，在现代可是千娇百媚，人见人爱，花见花开的大美人，到这里，竟然被所有人BS，连个婢女都没有，泪奔呀。<br />
好吧，既然老天爷要嫉妒她，那她就更要活得滋润，要活的让老天爷也嫉妒。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '618404',
    'lastchapter' => '第六章太后说要圆房3（20）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;太后做出这惊人的决定后就离开了，而且她还让轩辕喾在银月宫陪着皇后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说是要培养感情，轩辕喾就连想逃离都找不到藉口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇上大婚是可以光明正大的‘懒惰’的，甚至连早朝都不用上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩辕喾本来想，太后走了，一会，他再找个借口溜了就是，即使没有借口，他要走，也没人敢拦的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太后一走，玉媚反而自在多了，她知道自己这副样子让皇上倒胃口，但是吐吐也就习惯了，人与人之间，都是有陌生到习惯的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇上，看着臣妾是不是吃不下饭？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉媚很含蓄的问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正这屋里没有外人……',
    'chapters' => '755',
    'size' => '1010025',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177135',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996295',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '26653',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '129',
    'vippubid' => '0',
    'vipchapters' => '735',
    'vipsize' => '983372',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '619139',
    'vipchapter' => '第三十二章全文终',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“来人，拿把剑来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚智文向身后的家丁道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梦蕊紧抓着轩辕安知的胳膊，不住摇首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是谁受伤，她都不想看到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放心，我一定会带你离开的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩辕安知轻拍梦蕊手背安抚道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然心里一点没底，但是为了他与蕊儿的幸福，就算拼上半条命，他也要拼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老爷，你就不能睁一只眼闭一只眼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚夫人双眼通红的看着女儿，揪心啊。女儿是做娘的心头肉，她舍不得女儿难过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚相将夫人拉了出去，姚智文与轩辕安知在院中摆开了架式。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有说话的余地，……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 505013,
    'size_k' => 506,
    'size_w' => 50.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1980.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1980&cid=618404',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=129&cid=619139',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1980',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1980',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1980',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D5%C6%DE%B3%C9%BB%B6%A3%BA%B7%F2%BE%FD%C7%EB%CF%C2%CC%C3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1980.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1980',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521992465',
  'lastupdate' => '1521992465',
  'articlename' => '诱妻成欢：夫君请下堂',
  'articlecode' => 'youqichenghuan_fujunqingxiatang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '0',
  'author' => '歆月',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '代的美容天后，时尚宠儿穿越到了古代，不但从倾国倾城的大美女，绝色妖娆的狐狸精穿越成了丑八怪，还是一个被皇上抛弃的女人。皇后难道也得活得这么卑微吗？林玉媚拒绝做悲摧的可怜虫。<br />
想她林玉媚，在现代可是千娇百媚，人见人爱，花见花开的大美人，到这里，竟然被所有人BS，连个婢女都没有，泪奔呀。<br />
好吧，既然老天爷要嫉妒她，那她就更要活得滋润，要活的让老天爷也嫉妒。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '618404',
  'lastchapter' => '第六章太后说要圆房3（20）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;太后做出这惊人的决定后就离开了，而且她还让轩辕喾在银月宫陪着皇后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说是要培养感情，轩辕喾就连想逃离都找不到藉口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇上大婚是可以光明正大的‘懒惰’的，甚至连早朝都不用上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩辕喾本来想，太后走了，一会，他再找个借口溜了就是，即使没有借口，他要走，也没人敢拦的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太后一走，玉媚反而自在多了，她知道自己这副样子让皇上倒胃口，但是吐吐也就习惯了，人与人之间，都是有陌生到习惯的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇上，看着臣妾是不是吃不下饭？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉媚很含蓄的问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正这屋里没有外人……',
  'chapters' => '755',
  'size' => '1010025',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177135',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996295',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '26653',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '129',
  'vippubid' => '0',
  'vipchapters' => '735',
  'vipsize' => '983372',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '619139',
  'vipchapter' => '第三十二章全文终',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“来人，拿把剑来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚智文向身后的家丁道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梦蕊紧抓着轩辕安知的胳膊，不住摇首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是谁受伤，她都不想看到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放心，我一定会带你离开的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩辕安知轻拍梦蕊手背安抚道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然心里一点没底，但是为了他与蕊儿的幸福，就算拼上半条命，他也要拼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老爷，你就不能睁一只眼闭一只眼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚夫人双眼通红的看着女儿，揪心啊。女儿是做娘的心头肉，她舍不得女儿难过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姚相将夫人拉了出去，姚智文与轩辕安知在院中摆开了架式。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有说话的余地，……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 505013,
  'size_k' => 506,
  'size_w' => 50.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1980.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1980',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1980&cid=618404',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=129&cid=619139',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1980',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1980',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1980',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D5%C6%DE%B3%C9%BB%B6%A3%BA%B7%F2%BE%FD%C7%EB%CF%C2%CC%C3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1980.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)