array (
  'meta_keywords' => '一品凰女 歆月 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1982&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1982&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1982&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1982&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1982',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521993450',
    'lastupdate' => '1521993450',
    'articlename' => '一品凰女',
    'articlecode' => 'yipinhuangnv',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '0',
    'author' => '歆月',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '倚身青楼十年，终于还是被卖了，为报家仇，我昧心进宫。<br />
一朝恩宠，喜怀龙种，不曾想，这寂寞深宫比青楼更甚。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '619490',
    'lastchapter' => '第十四章后宫-美人心计2',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“张昭仪免礼，我们姐妹都是皇上的枕边人，何必如此拘礼。”看上去像不食人间烟火的仙子，美得让男人屏息，我知道这肯定就是芳菲苑的洛妃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我细细打量着她，心里却有根弦被拔动，与洛妃竟然有种似曾相识的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，看来昭仪妹妹也同本宫当时一样，被洛妃的绝世容颜给迷住了。”容妃走过来牵着我的手笑道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“让各位姐姐见笑了。”我低首羞涩道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这后宫年龄算不得什么的，这称呼是随着身份与入宫先后而定的，虽然这三人看起来好似比我小，但是今天我却得唤她们一声姐姐，说不苦，不痛是骗人……',
    'chapters' => '230',
    'size' => '634443',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1522177136',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996289',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '43209',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '126',
    'vippubid' => '0',
    'vipchapters' => '210',
    'vipsize' => '591234',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '619700',
    'vipchapter' => '第九十六章终',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看着皇上，我无法回答，一边是亲情，一边是朋友，一边是正，一边是反，我无法决择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“雪儿，朕答应你，只要齐宇轩这件事一完结，朕保证才也不会有任何事，就连后宫朕都废，后宫佳丽三千，朕只要你一人，不管皇后还是妃子，只你一人，雪儿，你能答应朕吗？”皇上握着我的手，神情担忧道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇上，您真要臣妾瞒着良心吗？虽然臣妾对齐宇轩没有男女之情，但他曾多次救我，而且，而且他是臣妾的表兄，皇上，太贵妃与臣妾娘亲是表姐妹，您真要这样逼臣妾吗？”看着皇上，泪流满面，他有他的担忧，我有我的难处，纵然齐……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 317222,
    'size_k' => 318,
    'size_w' => 31.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1982.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1982&cid=619490',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=126&cid=619700',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1982',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1982',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1982',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%C6%B7%BB%CB%C5%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1982.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1982',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521993450',
  'lastupdate' => '1521993450',
  'articlename' => '一品凰女',
  'articlecode' => 'yipinhuangnv',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '0',
  'author' => '歆月',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '倚身青楼十年，终于还是被卖了，为报家仇，我昧心进宫。<br />
一朝恩宠，喜怀龙种，不曾想，这寂寞深宫比青楼更甚。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '619490',
  'lastchapter' => '第十四章后宫-美人心计2',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“张昭仪免礼，我们姐妹都是皇上的枕边人，何必如此拘礼。”看上去像不食人间烟火的仙子，美得让男人屏息，我知道这肯定就是芳菲苑的洛妃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我细细打量着她，心里却有根弦被拔动，与洛妃竟然有种似曾相识的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，看来昭仪妹妹也同本宫当时一样，被洛妃的绝世容颜给迷住了。”容妃走过来牵着我的手笑道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“让各位姐姐见笑了。”我低首羞涩道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这后宫年龄算不得什么的，这称呼是随着身份与入宫先后而定的，虽然这三人看起来好似比我小，但是今天我却得唤她们一声姐姐，说不苦，不痛是骗人……',
  'chapters' => '230',
  'size' => '634443',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1522177136',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996289',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '43209',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '126',
  'vippubid' => '0',
  'vipchapters' => '210',
  'vipsize' => '591234',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '619700',
  'vipchapter' => '第九十六章终',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看着皇上，我无法回答，一边是亲情，一边是朋友，一边是正，一边是反，我无法决择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“雪儿，朕答应你，只要齐宇轩这件事一完结，朕保证才也不会有任何事，就连后宫朕都废，后宫佳丽三千，朕只要你一人，不管皇后还是妃子，只你一人，雪儿，你能答应朕吗？”皇上握着我的手，神情担忧道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇上，您真要臣妾瞒着良心吗？虽然臣妾对齐宇轩没有男女之情，但他曾多次救我，而且，而且他是臣妾的表兄，皇上，太贵妃与臣妾娘亲是表姐妹，您真要这样逼臣妾吗？”看着皇上，泪流满面，他有他的担忧，我有我的难处，纵然齐……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 317222,
  'size_k' => 318,
  'size_w' => 31.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1982.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1982',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1982&cid=619490',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=126&cid=619700',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1982',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1982',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1982',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%EC%A7%D4%C2',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%C6%B7%BB%CB%C5%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1982.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)