array (
  'meta_keywords' => '暖婚蚀骨：大少，深爱请低调 夕颜洛 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1984&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1984&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1984&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1984&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1984',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521994506',
    'lastupdate' => '1521994506',
    'articlename' => '暖婚蚀骨：大少，深爱请低调',
    'articlecode' => 'nuanhunshigu_dashao_shenaiqingdidiao',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'N',
    'authorid' => '0',
    'author' => '夕颜洛',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '30',
    'libid' => '0',
    'intro' => '重金属音乐的敲打，舞台中央那一个个意乱情迷的年轻的笑颜，只有在这个地方，没有父母的唠叨，没有学业的烦恼，更没有家世的攀比，绚丽的弥虹灯照射在他们的脸上，折射着七彩的耀眼光芒，裸露的香肩，妖娆的身姿，都是他们骄傲的本钱。<br />
谁都没有注意到，在YONG的后门外，一个女孩子被四五个男人堵在角落里，低泣着呼喊着，那哀求的声音恐怕谁听了都会忍不住侧目，但是在被音乐完全包围着的大街上，如她这般虚弱的声音却轻易地被掩盖了。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '619753',
    'lastchapter' => '第020章Butterfly-Tear发布会',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;Butterfly-Tear，五年前突然间出现在米兰的设计品牌，首席设计师是一个叫做Harry的人，没有人知道他是男是女，也没有人见过他，但是所有人都知道他是Butterfly-Tear的创品人，也是老板。他招募了一个最顶尖的团体，然后将红透半边天的Butterfly-Tear交给了他的搭档叶尹修，他也是个天才设计师，凡是经过他手的作品，会立刻成为全球的潮流。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只可惜，Butterfly-Tear是个非常讲求质量，而不讲求盈利的团队，当然这个品牌就算是靠着广告投资也能年入千万，而且有时候一件设计版权就能卖到几千万。而最让人感叹的是Butterfly-T……',
    'chapters' => '513',
    'size' => '2181068',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1522177136',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996249',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '69561',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '128',
    'vippubid' => '0',
    'vipchapters' => '493',
    'vipsize' => '2111507',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '620246',
    'vipchapter' => '第517章最甜蜜的恋人（ENDING）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;2010年的圣诞节，是一个非常特别的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为在这一天，将有一个新的品牌横空出世，在这之前关于这个服装品牌的宣传几乎可以称得上是铺天盖地，如此不计成本的宣传让人不免对这个品牌产生了很大的好奇，当然这个品牌之所以会引起人们的注意，并不仅仅因为他们大大手笔宣传，还因为首席设计师，也就是品牌创始人是英国赫赫有名的邱氏的总裁夫人，也是Butterfly-Tears的创始人Harry先生的娇妻，这样显赫的背景让这个品牌未出世就已经走红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最有趣的是，这个名为Twins的品牌，是一个儿童服装品牌，其代言人则是邱家的……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 1090534,
    'size_k' => 1091,
    'size_w' => 109.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1984.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1984&cid=619753',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=128&cid=620246',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1984',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1984',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1984',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C5%AF%BB%E9%CA%B4%B9%C7%A3%BA%B4%F3%C9%D9%A3%AC%C9%EE%B0%AE%C7%EB%B5%CD%B5%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1984.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1984',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521994506',
  'lastupdate' => '1521994506',
  'articlename' => '暖婚蚀骨：大少，深爱请低调',
  'articlecode' => 'nuanhunshigu_dashao_shenaiqingdidiao',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'N',
  'authorid' => '0',
  'author' => '夕颜洛',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '30',
  'libid' => '0',
  'intro' => '重金属音乐的敲打，舞台中央那一个个意乱情迷的年轻的笑颜，只有在这个地方，没有父母的唠叨，没有学业的烦恼，更没有家世的攀比，绚丽的弥虹灯照射在他们的脸上，折射着七彩的耀眼光芒，裸露的香肩，妖娆的身姿，都是他们骄傲的本钱。<br />
谁都没有注意到，在YONG的后门外，一个女孩子被四五个男人堵在角落里，低泣着呼喊着，那哀求的声音恐怕谁听了都会忍不住侧目，但是在被音乐完全包围着的大街上，如她这般虚弱的声音却轻易地被掩盖了。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '619753',
  'lastchapter' => '第020章Butterfly-Tear发布会',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;Butterfly-Tear，五年前突然间出现在米兰的设计品牌，首席设计师是一个叫做Harry的人，没有人知道他是男是女，也没有人见过他，但是所有人都知道他是Butterfly-Tear的创品人，也是老板。他招募了一个最顶尖的团体，然后将红透半边天的Butterfly-Tear交给了他的搭档叶尹修，他也是个天才设计师，凡是经过他手的作品，会立刻成为全球的潮流。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只可惜，Butterfly-Tear是个非常讲求质量，而不讲求盈利的团队，当然这个品牌就算是靠着广告投资也能年入千万，而且有时候一件设计版权就能卖到几千万。而最让人感叹的是Butterfly-T……',
  'chapters' => '513',
  'size' => '2181068',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1522177136',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996249',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '69561',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '128',
  'vippubid' => '0',
  'vipchapters' => '493',
  'vipsize' => '2111507',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '620246',
  'vipchapter' => '第517章最甜蜜的恋人（ENDING）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;2010年的圣诞节，是一个非常特别的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为在这一天，将有一个新的品牌横空出世，在这之前关于这个服装品牌的宣传几乎可以称得上是铺天盖地，如此不计成本的宣传让人不免对这个品牌产生了很大的好奇，当然这个品牌之所以会引起人们的注意，并不仅仅因为他们大大手笔宣传，还因为首席设计师，也就是品牌创始人是英国赫赫有名的邱氏的总裁夫人，也是Butterfly-Tears的创始人Harry先生的娇妻，这样显赫的背景让这个品牌未出世就已经走红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最有趣的是，这个名为Twins的品牌，是一个儿童服装品牌，其代言人则是邱家的……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 1090534,
  'size_k' => 1091,
  'size_w' => 109.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1984.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1984',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1984&cid=619753',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=128&cid=620246',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1984',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1984',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1984',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C5%AF%BB%E9%CA%B4%B9%C7%A3%BA%B4%F3%C9%D9%A3%AC%C9%EE%B0%AE%C7%EB%B5%CD%B5%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1984.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)