array (
  'meta_keywords' => '庶女攻略 夕颜洛 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1985&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1985&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1985&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1985&charset=utf8',
  'artileSort' => 
  array (
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
        32 => '都市青春',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'xuanyilingyi',
      'caption' => '悬疑灵异',
      'group' => '2',
      'types' => NULL,
    ),
    9 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '2',
      'types' => NULL,
    ),
  ),
  'artileSortCount' => 4,
  'article_static_url' => 'http://www.juziread.com/modules/article',
  'article_dynamic_url' => 'http://www.juziread.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1985',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1521995065',
    'lastupdate' => '1521995065',
    'articlename' => '庶女攻略',
    'articlecode' => 'shunvgonglue',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '夕颜洛',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一代君王，空设后宫，只为搏她一笑。<br />
儒雅世子，一心复国，却被她吸引，江山美人，孰轻孰重？<br />
冷酷无情杀手为她心动，叛逃组织，生死相随……<br />
医毒双绝，袖手遮天，无能庶女华丽转身成为红颜帝师，且看一代毒女，如何翻手为云覆手为雨，走向人生巅峰！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '620266',
    'lastchapter' => '第二十章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶云梦把自己的手从花琅轩的手中拽出，一拽出便弹了弹自己的指甲，“听闻这指甲里也能够藏着毒药的呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花琅轩脸色微变，哭笑不得，“小梦儿，该不会是想对花哥哥下手吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“瞧花哥哥说的什么话呢，云梦怎么可能对花哥哥这么俊美的男子下手呢？要下手，也是去毁了一个美貌女子的容貌实在些，”花琅轩这家伙真的不行，担心她对他下手？那也要看花琅轩够不够格，至少叶云梦觉得傻子才会对花琅轩下手，目前她的处境自保都是难题，出了叶府，她便什么都不是，而她现在心法还没有练成，如何能够轻易逃亡呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;……',
    'chapters' => '158',
    'size' => '1001572',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1522177137',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1521996284',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '61200',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '124',
    'vippubid' => '0',
    'vipchapters' => '138',
    'vipsize' => '940372',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '620404',
    'vipchapter' => '第一百五十八章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶泽的指尖划过自己的脸颊，其实叶静姝是对的，因为她就是叶云梦，只不过叶静姝没有想过人是会变的，更何况一个异世的灵魂，叶云梦可以任由着叶静姝欺负，但是叶泽绝对不可能任由着叶静姝欺侮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实她很想对他们说自己是天才，呵呵，不过这一点都不好笑，现在也不是和他们开玩笑的时候。叶泽唇角微勾，那些乱七八糟的事情和现在的自己没有任何关联，她现在是叶泽，不是叶云梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“昨晚宫宴，她眼中充满了杀意，在下若不给她一点教训，那么在下又如何在朝堂之上站稳脚跟呢？”即使叶静姝是他国的王妃，但那也不阻……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 500786,
    'size_k' => 501,
    'size_w' => 50.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.juziread.com/info/1985.html',
    'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
    'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
    'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
    'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
    'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1985&cid=620266',
    'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=124&cid=620404',
    'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1985',
    'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1985',
    'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1985',
    'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
    'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
    'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%FC%C5%AE%B9%A5%C2%D4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1985.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1985',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1521995065',
  'lastupdate' => '1521995065',
  'articlename' => '庶女攻略',
  'articlecode' => 'shunvgonglue',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '夕颜洛',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一代君王，空设后宫，只为搏她一笑。<br />
儒雅世子，一心复国，却被她吸引，江山美人，孰轻孰重？<br />
冷酷无情杀手为她心动，叛逃组织，生死相随……<br />
医毒双绝，袖手遮天，无能庶女华丽转身成为红颜帝师，且看一代毒女，如何翻手为云覆手为雨，走向人生巅峰！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '620266',
  'lastchapter' => '第二十章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶云梦把自己的手从花琅轩的手中拽出，一拽出便弹了弹自己的指甲，“听闻这指甲里也能够藏着毒药的呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花琅轩脸色微变，哭笑不得，“小梦儿，该不会是想对花哥哥下手吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“瞧花哥哥说的什么话呢，云梦怎么可能对花哥哥这么俊美的男子下手呢？要下手，也是去毁了一个美貌女子的容貌实在些，”花琅轩这家伙真的不行，担心她对他下手？那也要看花琅轩够不够格，至少叶云梦觉得傻子才会对花琅轩下手，目前她的处境自保都是难题，出了叶府，她便什么都不是，而她现在心法还没有练成，如何能够轻易逃亡呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;……',
  'chapters' => '158',
  'size' => '1001572',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1522177137',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1521996284',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '61200',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '124',
  'vippubid' => '0',
  'vipchapters' => '138',
  'vipsize' => '940372',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '620404',
  'vipchapter' => '第一百五十八章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;叶泽的指尖划过自己的脸颊，其实叶静姝是对的，因为她就是叶云梦，只不过叶静姝没有想过人是会变的，更何况一个异世的灵魂，叶云梦可以任由着叶静姝欺负，但是叶泽绝对不可能任由着叶静姝欺侮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实她很想对他们说自己是天才，呵呵，不过这一点都不好笑，现在也不是和他们开玩笑的时候。叶泽唇角微勾，那些乱七八糟的事情和现在的自己没有任何关联，她现在是叶泽，不是叶云梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“昨晚宫宴，她眼中充满了杀意，在下若不给她一点教训，那么在下又如何在朝堂之上站稳脚跟呢？”即使叶静姝是他国的王妃，但那也不阻……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 500786,
  'size_k' => 501,
  'size_w' => 50.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.juziread.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.juziread.com/info/1985.html',
  'url_articleindex' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
  'url_index' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
  'url_read' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
  'url_fullpage' => 'http://www.juziread.com/modules/article/reader.php?aid=1985',
  'url_lastchapter' => 'http://www.juziread.com/modules/article/reader.php?aid=1985&cid=620266',
  'url_vipchapter' => 'http://www.juziread.com/modules/obook/reader.php?aid=124&cid=620404',
  'url_manage' => 'http://www.juziread.com/modules/article/articlemanage.php?id=1985',
  'url_bookcase' => 'http://www.juziread.com/modules/article/addbookcase.php?bid=1985',
  'url_uservote' => 'http://www.juziread.com/modules/article/uservote.php?id=1985',
  'url_authorpage' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
  'url_authorarticle' => 'http://www.juziread.com/modules/article/authorarticle.php?author=%CF%A6%D1%D5%C2%E5',
  'url_report' => 'http://www.juziread.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%FC%C5%AE%B9%A5%C2%D4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.juziread.com%2Finfo%2F1985.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)