<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="zh" xmlns:wb="http://open.weibo.com/wb"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="zh" xmlns:wb="http://open.weibo.com/wb"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="zh" xmlns:wb="http://open.weibo.com/wb"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh" xmlns:wb="http://open.weibo.com/wb"> <!--<![endif]--><head>

<title>{?$article_title?}-{?$jieqi_title?}-{?$sortname?}-{?$jieqi_sitename?}</title>
<meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
<meta name="keywords" content="{?$meta_keywords?}" />
<meta name="description" content="{?$meta_description?}" />
<meta name="author" content="{?$meta_author?}" />
<meta name="copyright" content="{?$meta_copyright?}" />
<link rel="stylesheet" rev="stylesheet" href="/sink/css/base.css?bust=201511230131436" type="text/css" media="all" />
        <script type="text/javascript" src="{?$jieqi_url?}/sink/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{?$jieqi_url?}/sink/js/layer/layer.js"></script>
		<script type="text/javascript" src="{?$jieqi_url?}/sink/js/page.js"></script>
		<script type="text/javascript" src="{?$jieqi_url?}/sink/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="{?$jieqi_url?}/scripts/common.js"></script>
        <script type="text/javascript" src="{?$jieqi_url?}/scripts/theme.js"></script>
		<script type="text/javascript" src="{?$jieqi_url?}/sink/js/ks-switch.pack.js"></script>
		<link rel="stylesheet" href="{?$jieqi_url?}/sink/css/font-awesome-4.4.0/css/font-awesome.min.css" media="all" />
<script type="text/javascript">
<!--
var url_previous = "{?$url_previous?}";
var url_next = "{?$url_next?}";
var url_index = "{?$url_index?}";
var articleid = "{?$articleid?}";
var chapterid = "{?$chapterid?}";
function jumpPage() {
  var event = document.all ? window.event : arguments[0];
  if (event.keyCode == 37) document.location = url_previous;
  if (event.keyCode == 39) document.location = url_next;
  if (event.keyCode == 13) document.location = url_index;
}
document.onkeydown=jumpPage;
-->
</script>
</head>
{?include file="sink/header3.html"?} 
<div class="wrap">
			<div class="container">
				<div class="c-center">
					<div id="main">

						<div class="mod mod-page " id="chapter924915" data-chapter-id="924915" data-is-free="true" data-title="{?$article_title?}-{?$jieqi_title?}-{?$sortname?}-{?$jieqi_sitename?}"> 
						<div class="hd">
						</div>
						     <div class="bd" id="chapter_bd_924915">
							      <a href="{?$url_previous?}" class="previou" data-chapter-id="924835" title="上一章"></a>
								       <h1 id="chapter_title_924915">{?$chaptername?}</h1>
									   <p class="info" id="chapter_author_924915">作者：<a class="blue" href="{?function jieqi_geturl:'system':'user':$authorid?}">{?$author?}</a>
									      <span class="divide">|
										  </span>发布时间：{?$chaptertime|date:'Y-m-d H:i'?}
										  <span class="divide">|</span>字数：{?$chaptersize_c?}</p>
							<div class="page-body">
							      <div class="page-content " id="ChapterContent924915">
								      <div id="acontent" class="acontent">
	<div id="loadinginfo" style="position:absolute;z-index:1;top:200px;left:0px;width:100%;font-size:16px;color:blue;text-align:center;">正在载入图片，请稍候...</div>
	<div id="frontdiv" style="position:absolute;z-index:10;border:0px;"><img src="{?$jieqi_modules['obook']['url']?}/images/front.gif" id="frontimage"></div>
	<div class="imgchapter" style="text-align:center;">
	<script type="text/javascript">
	{?section name=i loop=$picrows?}
	document.write('<img id="obookimage{?$i['order']?}" src="{?$picrows[i].url?}" class="imagecontent" {?if $i['index']==0?}onload="showfront()" {?/if?}>');
	{?/section?}
	</script>
	</div>
</div>
							   </div>
							   {?if $notice != ''?}
							   <div class="author-say"><p><a href="{?function jieqi_geturl:'system':'user':$authorid?}" class="name" target="_blank">{?$author?}</a> 说：</p><div class="content"><p>{?$notice?}</div></div>{?/if?}
							   </div>
							   </div>
							   <div class="ft"><div class="ft-bd"><div class="control"><div class="app"><a class="androidUrl" href="">点击下载客户端<img src="/sink/image/android.png">，独享VIP作品限时免费阅读</a></div>
							   <span id="chapter_numbers_924835">
							   <a href="{?function jieqi_geturl:'article':'article':$articleid:'info'?}#write" class="comment"><i></i>回应</a>
							   <a href="{?$url_index?}"><i></i>回目录</a>
							   <a href="{?$url_previous?}"><i></i>上一章</a>
							   <a href="{?$url_next?}"><i></i>下一章</a></span>
							   
							   
							   </div></div></div></div>
					</div>
				</div>
				
			</div>
		</div>


{?include file="sink/footer2.html"?} 


<div data-collect-id="303" class="bottom-tools" data-always-show="true" data-ie6-bottom="10" style="display: block;">
					<ul>
						<li class="to-index single">
							<a data-collect-index="1" href="{?$url_index?}" title="回目录"><i class="icon"></i></a>
						</li>
						<li class="to-shelf last">
							<a data-collect-index="2" href="{?$jieqi_modules['article']['url']?}/bookcase.php" title="回书架"><i class="icon"></i></a>
						</li>
					</ul>
					<a data-collect-index="4" class="gotop" href="javascript:;" title="回顶部"><i></i></a>
				</div>
				</body></html>

<script>
$.get("/extends/api/allvisit/allvisit.php", { articleid:{?$article_id?}, number:1 } );
</script>

{?if $content_showtype == 'txt' || $chapterdisplay == 1?}

{?else?}
<script type="text/javascript">
function getx(e){ 
  var l=e.offsetLeft; 
  
  while(e=e.offsetParent){ 
    l+=e.offsetLeft; 
  } 
  return(l+'px'); 
} 
function gety(e){ 
  var l=e.offsetTop; 
  while(e=e.offsetParent){ 
    l+=e.offsetTop; 
  } 
  return(l+'px'); 
} 
function showfront(){
  var frontdiv=document.getElementById('frontdiv');
  var frontimage=document.getElementById('frontimage');
  var obookimage=document.getElementById('obookimage1');
  var loadinginfo=document.getElementById('loadinginfo');
  loadinginfo.style.visibility='hidden';
  frontdiv.style.left=getx(obookimage);
  frontdiv.style.top=gety(obookimage);
//  frontimage.width=obookimage.width;
//  frontimage.height=obookimage.height;
}

</script>
{?/if?}
