<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^user/myDynamic$" ignoreCase="false" />
                    <action type="Rewrite" url="user/myDynamic.php" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^user/showSignView$" ignoreCase="false" />
                    <action type="Rewrite" url="user/showSignView.php" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^user/signin$" ignoreCase="false" />
                    <action type="Rewrite" url="user/signin.php" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^reviews/([0-9]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reviews_js.php?aid={R:1}&amp;ajax_request" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^reviews/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reviews_js.php" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^showReplies/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/showReplies.php" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^info/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articleinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^info.php?id=(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articleinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^read_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articleread.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^user/bookcase$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/bookcase.php" />
                </rule>
                <rule name="已导入的规则 11">
                    <match url="^sort/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?sortid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 12">
                    <match url="^fullsort/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?fullflag=1&amp;sortid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 13">
                    <match url="^initial/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?initial={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 14">
                    <match url="^top/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/toplist.php?order={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 15">
                    <match url="^fulltop/(.*?)/([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/toplist.php?fullflag=1&amp;order={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 16">
                    <match url="^read/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 17">
                    <match url="^(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlefilter.php?order={R:1}&amp;sortid={R:2}&amp;size={R:3}&amp;update={R:4}&amp;initial={R:5}&amp;isfull={R:6}&amp;isvip={R:7}&amp;tag={R:8}&amp;rgroup={R:9}&amp;page={R:1}0" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 18">
                    <match url="^html(.*)/(.*)/index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 19">
                    <match url="^author/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/authorpage.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 20">
                    <match url="^read/([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 21">
                    <match url="^read/vip/([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/obook/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 22">
                    <match url="^user/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="userinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 23">
                    <match url="^page/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="userpage.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 24">
                    <match url="^users/login.html$" ignoreCase="false" />
                    <action type="Rewrite" url="login.php" />
                </rule>
                <rule name="已导入的规则 25">
                    <match url="^users/register.html$" ignoreCase="false" />
                    <action type="Rewrite" url="register.php" />
                </rule>
                <rule name="已导入的规则 26">
                    <match url="^users/logout.html$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="已导入的规则 27">
                    <match url="^users/useredit.html$" ignoreCase="false" />
                    <action type="Rewrite" url="useredit.php" />
                </rule>
                <rule name="已导入的规则 28">
                    <match url="^users/setavatar.html$" ignoreCase="false" />
                    <action type="Rewrite" url="setavatar.php" />
                </rule>
                <rule name="已导入的规则 29">
                    <match url="^users/passedit.html$" ignoreCase="false" />
                    <action type="Rewrite" url="passedit.php" />
                </rule>
                <rule name="已导入的规则 30">
                    <match url="^vip_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/obook/buychapter.php?cid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 31">
                    <match url="^news/([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/modules/news/newshow.php?id={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
