array (
  'meta_keywords' => '神奇农场 说我帅给你花 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=103&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=103&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=103&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=103&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '103',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480556623',
    'lastupdate' => '1480556739',
    'articlename' => '神奇农场',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '说我帅给你花',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说神奇农场简介：&nbsp;&nbsp;&nbsp;&nbsp;卓一凡没想到妻子竟然出轨了，对象还是自己领导，攥着离婚证和辞退通告，他发誓要让这两个人付出代价。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;就在心灰意冷之际，卓一凡发现多年携带的玉佩竟然有一方神奇空间，加倍时间流速，土壤神奇，种什么都是精品，空间中灵泉水医治百病，更有幸运树掉落各种神奇道具，从此卓一凡开启了一段传奇人生。&nbsp;&nbsp;&nbsp;&nbsp; “报复背叛的妻子是我活下去的目的？不不不，报复她只是我无聊时的消遣。”&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 种种人参灵芝，卖卖灵丹妙药，没事时进行萝莉养成计划，无聊时报复下背叛的妻子。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《神奇农场》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！神奇农场最新章节,神奇农场无弹窗,神奇农场全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《神奇农场》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：神奇农场最新章节,神奇农场无弹窗,神奇农场全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '21663',
    'lastchapter' => '第161章 第二十七 卓一凡，你怎么这么猥琐？',
    'lastsummary' => '',
    'chapters' => '161',
    'size' => '800501',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1481263160',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 400251,
    'size_k' => 401,
    'size_w' => 40,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/103.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103&cid=21663',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=103',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=103',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=103',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%B5%CE%D2%CB%A7%B8%F8%C4%E3%BB%A8',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%B5%CE%D2%CB%A7%B8%F8%C4%E3%BB%A8',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%C6%E6%C5%A9%B3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F103.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '103',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480556623',
  'lastupdate' => '1480556739',
  'articlename' => '神奇农场',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '说我帅给你花',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说神奇农场简介：&nbsp;&nbsp;&nbsp;&nbsp;卓一凡没想到妻子竟然出轨了，对象还是自己领导，攥着离婚证和辞退通告，他发誓要让这两个人付出代价。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;就在心灰意冷之际，卓一凡发现多年携带的玉佩竟然有一方神奇空间，加倍时间流速，土壤神奇，种什么都是精品，空间中灵泉水医治百病，更有幸运树掉落各种神奇道具，从此卓一凡开启了一段传奇人生。&nbsp;&nbsp;&nbsp;&nbsp; “报复背叛的妻子是我活下去的目的？不不不，报复她只是我无聊时的消遣。”&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 种种人参灵芝，卖卖灵丹妙药，没事时进行萝莉养成计划，无聊时报复下背叛的妻子。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《神奇农场》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！神奇农场最新章节,神奇农场无弹窗,神奇农场全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《神奇农场》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：神奇农场最新章节,神奇农场无弹窗,神奇农场全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '21663',
  'lastchapter' => '第161章 第二十七 卓一凡，你怎么这么猥琐？',
  'lastsummary' => '',
  'chapters' => '161',
  'size' => '800501',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1481263160',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 400251,
  'size_k' => 401,
  'size_w' => 40,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/103/103s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/103.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=103&cid=21663',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=103',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=103',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=103',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%B5%CE%D2%CB%A7%B8%F8%C4%E3%BB%A8',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%B5%CE%D2%CB%A7%B8%F8%C4%E3%BB%A8',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%C6%E6%C5%A9%B3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F103.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)