array (
  'meta_keywords' => '诱婚之军妻难征服 萧潇兮 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=109&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=109&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=109&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=109&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '109',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480558095',
    'lastupdate' => '1480807173',
    'articlename' => '诱婚之军妻难征服',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '0',
    'author' => '萧潇兮',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说诱婚之军妻难征服简介：&nbsp;&nbsp;&nbsp;&nbsp;h市因为一条新闻炸开了锅，禁欲系高冷大总裁权赫峻，高调追求男色绝缘体年轻女军官欧阳纤芊。　　新闻一出，觊觎权赫峻财富的女人，开始蠢蠢欲动，制造各种机会跟他偶遇；看中欧阳纤芊权势地位的男人，逮着机会就到她跟前刷存在感，各种献殷勤。　　可惜两人不为所动，聪明的人开始扒两人过往，想搞臭两人名声，他们笔趣阁女总裁的全能兵王http://www.sbiquge.com趁虚而入。　　于是，今天有人说权赫峻靠出卖男色起家，因为曾经被女人虐待过，才不近女色。明天有人说欧阳纤芊未婚先孕，因私生活不检点被退过婚，压根不是她对男色绝缘，而是但凡知道她过往的男人，都不敢要这样的女人……　　任他们各种撕扒，两名当事人从不做任何回应，世人皆叹，果然禁欲系的人，不是普通人能懂的。殊不知，真相却是这样的：　　不良流言，严重影响欧阳纤芊的工神作书吧www.szxs8.com和生活，甚至害得她被停职。她找上权赫峻，要他解决问题。权赫峻趁火打劫，用这个条件逼欧阳纤芊跟他结婚。　　答应条件的欧阳纤芊，在问题解决后，笑靥如花地看着权赫峻，“传言你杀害了曾经的姘头，政审不给过，咱们这个婚，结不了！！”　　“知道你不老实，早就防着你了，小东西！！“说着将所有政审的材料，往欧阳纤芊眼前一甩，“走，去民政局！”　　“……”　　ps：高干宠文，爽文，双c，喜欢的亲收藏一个，么哒哒！！　　另推荐萧潇完结高干宠文《腹黑少将娇俏妻》http://www.xxsy.net/info/521284.html<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《诱婚之军妻难征服》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！诱婚之军妻难征服最新章节,诱婚之军妻难征服无弹窗,诱婚之军妻难征服全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《诱婚之军妻难征服》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：诱婚之军妻难征服最新章节,诱婚之军妻难征服无弹窗,诱婚之军妻难征服全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '410128',
    'lastchapter' => '上架感言和首订活动',
    'lastsummary' => '',
    'chapters' => '76',
    'size' => '370325',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1480867347',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '52',
    'allvisit' => '52',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 185163,
    'size_k' => 186,
    'size_w' => 18.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/109.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109&cid=410128',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=109',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=109',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=109',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%E4%EC%D9%E2',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%E4%EC%D9%E2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D5%BB%E9%D6%AE%BE%FC%C6%DE%C4%D1%D5%F7%B7%FE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F109.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '109',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480558095',
  'lastupdate' => '1480807173',
  'articlename' => '诱婚之军妻难征服',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '0',
  'author' => '萧潇兮',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说诱婚之军妻难征服简介：&nbsp;&nbsp;&nbsp;&nbsp;h市因为一条新闻炸开了锅，禁欲系高冷大总裁权赫峻，高调追求男色绝缘体年轻女军官欧阳纤芊。　　新闻一出，觊觎权赫峻财富的女人，开始蠢蠢欲动，制造各种机会跟他偶遇；看中欧阳纤芊权势地位的男人，逮着机会就到她跟前刷存在感，各种献殷勤。　　可惜两人不为所动，聪明的人开始扒两人过往，想搞臭两人名声，他们笔趣阁女总裁的全能兵王http://www.sbiquge.com趁虚而入。　　于是，今天有人说权赫峻靠出卖男色起家，因为曾经被女人虐待过，才不近女色。明天有人说欧阳纤芊未婚先孕，因私生活不检点被退过婚，压根不是她对男色绝缘，而是但凡知道她过往的男人，都不敢要这样的女人……　　任他们各种撕扒，两名当事人从不做任何回应，世人皆叹，果然禁欲系的人，不是普通人能懂的。殊不知，真相却是这样的：　　不良流言，严重影响欧阳纤芊的工神作书吧www.szxs8.com和生活，甚至害得她被停职。她找上权赫峻，要他解决问题。权赫峻趁火打劫，用这个条件逼欧阳纤芊跟他结婚。　　答应条件的欧阳纤芊，在问题解决后，笑靥如花地看着权赫峻，“传言你杀害了曾经的姘头，政审不给过，咱们这个婚，结不了！！”　　“知道你不老实，早就防着你了，小东西！！“说着将所有政审的材料，往欧阳纤芊眼前一甩，“走，去民政局！”　　“……”　　ps：高干宠文，爽文，双c，喜欢的亲收藏一个，么哒哒！！　　另推荐萧潇完结高干宠文《腹黑少将娇俏妻》http://www.xxsy.net/info/521284.html<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《诱婚之军妻难征服》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！诱婚之军妻难征服最新章节,诱婚之军妻难征服无弹窗,诱婚之军妻难征服全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《诱婚之军妻难征服》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：诱婚之军妻难征服最新章节,诱婚之军妻难征服无弹窗,诱婚之军妻难征服全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '410128',
  'lastchapter' => '上架感言和首订活动',
  'lastsummary' => '',
  'chapters' => '76',
  'size' => '370325',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1480867347',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '52',
  'allvisit' => '52',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 185163,
  'size_k' => 186,
  'size_w' => 18.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/109.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=109&cid=410128',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=109',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=109',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=109',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%E4%EC%D9%E2',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%E4%EC%D9%E2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D5%BB%E9%D6%AE%BE%FC%C6%DE%C4%D1%D5%F7%B7%FE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F109.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)