array (
  'meta_keywords' => '如果爱情能重来 李慕然 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=11&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=11&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=11&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=11&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '11',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447171953',
    'lastupdate' => '1470160036',
    'articlename' => '如果爱情能重来',
    'articlecode' => 'ruguoaiqingnenzhonglai',
    'backupname' => '如果我们能够重来，如果我们还有机会再重来。',
    'keywords' => '现代 言情 爱情',
    'roles' => '',
    'initial' => 'R',
    'authorid' => '35',
    'author' => '李慕然',
    'posterid' => '35',
    'poster' => '李慕然',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '30',
    'libid' => '0',
    'intro' => '「嗨，好久不见。」&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「嗯，好久不见。」<br />
我以为我们能够走到步入红毯那一天，但爱情终究在悄声无息下瓦解。<br />
过了好久，回头再见你，仿佛坐上时光机回到那个时候，一样的你，一样的爱情。<br />
以前我们不懂爱，所以我们只好放弃。现在，我们依然不懂爱，但是我们学会争取。',
    'notice' => '没有意外的话我会停在第五章之后开始进行修改，当初实在是一时兴起写的，没想到比我想象中还多人看，所以我决定好好对我的作品负责，要先跟各位等待的读者说声抱歉！<br />
如果想催更的可以在底下留言让我知道你们都还在并且支持哈哈哈<br />
回复我都一定会回，希望你们能原谅我这个业余作家。<br />
谢谢你们一直都在。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87624',
    'lastchapter' => '05',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间流逝得真的很快速，当你以为自己还是大一新鲜人的时候，一个眨眼，就过了两年。大一大二的生活真的没什么能够分享的，除了宅在家看电视剧或者和李乔静、何云云出门吃吃饭，也没有做什么特别伟大的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;浑浑噩噩的生活过着过着就来到了大三，在大三这一年，学生都开始忙着找打工，赚点零用<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱和经验，或者是进公司实习，反正就是忙着为了自己的未来做点打算，何云云和李乔静也<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何云云去了一家很有名的法式甜点餐厅实习，本身不是相关科系的她，原本是不会入取的，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过她凭着本身喜欢做..',
    'chapters' => '5',
    'size' => '26126',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478964692',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '91',
    'allvisit' => '15362',
    'lastvote' => '1449583435',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '23',
    'goodnum' => '11',
    'reviewsnum' => '9',
    'ratenum' => 8,
    'ratesum' => 77,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1470160036',
    'freesize' => '26126',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '13',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1447821829',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '都市',
    'typename' => '都市',
    'size_c' => 13063,
    'size_k' => 14,
    'size_w' => 1.3,
    'rateavg' => '9.6',
    'rateavg_i' => 9,
    'rateavg_d' => 6,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/11/11s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/11/11s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/11/11l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/11.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11&cid=87624',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=11',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=11',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=11',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/35.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%EE%C4%BD%C8%BB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%E7%B9%FB%B0%AE%C7%E9%C4%DC%D6%D8%C0%B4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F11.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '11',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447171953',
  'lastupdate' => '1470160036',
  'articlename' => '如果爱情能重来',
  'articlecode' => 'ruguoaiqingnenzhonglai',
  'backupname' => '如果我们能够重来，如果我们还有机会再重来。',
  'keywords' => '现代 言情 爱情',
  'roles' => '',
  'initial' => 'R',
  'authorid' => '35',
  'author' => '李慕然',
  'posterid' => '35',
  'poster' => '李慕然',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '30',
  'libid' => '0',
  'intro' => '「嗨，好久不见。」&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「嗯，好久不见。」<br />
我以为我们能够走到步入红毯那一天，但爱情终究在悄声无息下瓦解。<br />
过了好久，回头再见你，仿佛坐上时光机回到那个时候，一样的你，一样的爱情。<br />
以前我们不懂爱，所以我们只好放弃。现在，我们依然不懂爱，但是我们学会争取。',
  'notice' => '没有意外的话我会停在第五章之后开始进行修改，当初实在是一时兴起写的，没想到比我想象中还多人看，所以我决定好好对我的作品负责，要先跟各位等待的读者说声抱歉！<br />
如果想催更的可以在底下留言让我知道你们都还在并且支持哈哈哈<br />
回复我都一定会回，希望你们能原谅我这个业余作家。<br />
谢谢你们一直都在。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87624',
  'lastchapter' => '05',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间流逝得真的很快速，当你以为自己还是大一新鲜人的时候，一个眨眼，就过了两年。大一大二的生活真的没什么能够分享的，除了宅在家看电视剧或者和李乔静、何云云出门吃吃饭，也没有做什么特别伟大的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;浑浑噩噩的生活过着过着就来到了大三，在大三这一年，学生都开始忙着找打工，赚点零用<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱和经验，或者是进公司实习，反正就是忙着为了自己的未来做点打算，何云云和李乔静也<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何云云去了一家很有名的法式甜点餐厅实习，本身不是相关科系的她，原本是不会入取的，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过她凭着本身喜欢做..',
  'chapters' => '5',
  'size' => '26126',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478964692',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '91',
  'allvisit' => '15362',
  'lastvote' => '1449583435',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '23',
  'goodnum' => '11',
  'reviewsnum' => '9',
  'ratenum' => 8,
  'ratesum' => 77,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1470160036',
  'freesize' => '26126',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '13',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1447821829',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '都市',
  'typename' => '都市',
  'size_c' => 13063,
  'size_k' => 14,
  'size_w' => 1.3,
  'rateavg' => '9.6',
  'rateavg_i' => 9,
  'rateavg_d' => 6,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/11/11s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/11/11s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/11/11l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/11.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=11&cid=87624',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=11',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=11',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=11',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/35.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%EE%C4%BD%C8%BB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%E7%B9%FB%B0%AE%C7%E9%C4%DC%D6%D8%C0%B4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F11.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '现代',
      'tagencode' => '%CF%D6%B4%FA',
    ),
    1 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
