array (
  'meta_keywords' => '逆噬诸天 悠闲的天空 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=134&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=134&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=134&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=134&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '134',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1456981708',
    'lastupdate' => '1479055553',
    'articlename' => '逆噬诸天',
    'articlecode' => 'nishizhutian',
    'backupname' => '',
    'keywords' => '玄幻 虫 诸天 异界 重生 废柴 无敌 苍穹 乾坤 帝',
    'roles' => '',
    'initial' => 'N',
    'authorid' => '363',
    'author' => '悠闲的天空',
    'posterid' => '363',
    'poster' => '悠闲的天空',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '5',
    'libid' => '0',
    'intro' => '诸天万界，大能无数，强者为尊。<br />
当至尊体被废的时候，叶无锋选择了逆天修行，誓要斩灭一切，登顶巅峰。<br />
灭九族，掌乾坤，以神虫为伴，妖祖为仆，灵尊为奴，破碎万界，尊享万古！<br />
<br />
',
    'notice' => '你的关注是我前行的动力，你的喜欢是对我最好的肯定。<br />
关注悠闲的天空，看逆噬诸天。<br />
求点击，求评论，求收藏，求鲜花。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '3859',
    'lastchapter' => '第三十章 危险的晋级',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“其实，青珂姑娘，你这洞府挺大的，不如我也在这修炼吧，咱们做个伴。”叶无锋死皮赖脸的呆着不想走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;青珂拿出一个通讯灵石，“我雷劫的时候会通知你，记得赶过来，然后——”一脚就把叶无锋踢出洞府，“属狗皮膏药的，真是无赖。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“诶呦”，叶大少被踢飞的远远的，“太小气了，拼个房多好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“虫爷，我们在附近找个地方修炼，这一片是青珂的地盘，安全一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后在附近找好了地方，布置了一下，就准备开始修炼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修炼之前盘点了一下今天的战利品，“哈哈”大少是乐的合不拢嘴。<br />
<br />
&nbsp;&nbsp;..',
    'chapters' => '369',
    'size' => '1970823',
    'daysize' => '12283',
    'weeksize' => '12283',
    'monthsize' => '172507',
    'lastvisit' => '1479130952',
    'dayvisit' => '377',
    'weekvisit' => '377',
    'monthvisit' => '6500',
    'allvisit' => '519138',
    'lastvote' => '1479055625',
    'dayvote' => '21',
    'weekvote' => '21',
    'monthvote' => '191',
    'allvote' => '3525',
    'goodnum' => '31',
    'reviewsnum' => '23',
    'ratenum' => 889,
    'ratesum' => 8875,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1460958464',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1460910608',
    'freesize' => '1575018',
    'isvip' => '签约',
    'viptime' => '1479055553',
    'vipid' => '50',
    'vippubid' => '0',
    'vipchapters' => '338',
    'vipsize' => '1831337',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107786',
    'vipchapter' => '第三百六十八章 偷鸡不成蚀把米',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;圣者境的魔龙血焰，岂是一个从没炼体过的小丫头能够承受得了的，即使是灵玄雨伤这种心志坚定的人，肉身堪比高级圣器，也是在叶无锋的帮助之下才敢触碰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真正强者的道果又岂是轻易可以夺取？没有强悍的肉身，没有坚强的意志，最终只会是死路一条。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么，魔龙之血，魔龙之肉，还是圣者级别的，你怎么可能吃过这些东西？”灵玄风重骇然惊呼道，别说是五级圣者魔龙了，随便一个一级圣者碾死他就如同碾死一只蚂蚁一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼看着灵玄雨仙就要化为飞灰，风小梅终于顶不住了，“救她，王爷，快救救仙儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;..',
    'lastflower' => '1478753006',
    'allflower' => '150',
    'monthflower' => '10',
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1478921720',
    'allvipvote' => '22',
    'monthvipvote' => '6',
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '0',
    'zhangyue' => '1',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '1',
    'ytread' => '0',
    'giftnum' => '1600',
    'giftnums' => '3',
    'redrose' => '1',
    'yellowrose' => '1',
    'greenrose' => '0',
    'bluerose' => '1',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '异世大陆',
    'typename' => '异世大陆',
    'size_c' => 985412,
    'size_k' => 986,
    'size_w' => 98.5,
    'rateavg' => '10.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/134/134s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/134/134s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/134/134l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/134.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134&cid=3859',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=50&cid=107786',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=134',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=134',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=134',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/363.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%C6%CF%D0%B5%C4%CC%EC%BF%D5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E6%CA%C9%D6%EE%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F134.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '134',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1456981708',
  'lastupdate' => '1479055553',
  'articlename' => '逆噬诸天',
  'articlecode' => 'nishizhutian',
  'backupname' => '',
  'keywords' => '玄幻 虫 诸天 异界 重生 废柴 无敌 苍穹 乾坤 帝',
  'roles' => '',
  'initial' => 'N',
  'authorid' => '363',
  'author' => '悠闲的天空',
  'posterid' => '363',
  'poster' => '悠闲的天空',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '5',
  'libid' => '0',
  'intro' => '诸天万界，大能无数，强者为尊。<br />
当至尊体被废的时候，叶无锋选择了逆天修行，誓要斩灭一切，登顶巅峰。<br />
灭九族，掌乾坤，以神虫为伴，妖祖为仆，灵尊为奴，破碎万界，尊享万古！<br />
<br />
',
  'notice' => '你的关注是我前行的动力，你的喜欢是对我最好的肯定。<br />
关注悠闲的天空，看逆噬诸天。<br />
求点击，求评论，求收藏，求鲜花。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '3859',
  'lastchapter' => '第三十章 危险的晋级',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“其实，青珂姑娘，你这洞府挺大的，不如我也在这修炼吧，咱们做个伴。”叶无锋死皮赖脸的呆着不想走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;青珂拿出一个通讯灵石，“我雷劫的时候会通知你，记得赶过来，然后——”一脚就把叶无锋踢出洞府，“属狗皮膏药的，真是无赖。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“诶呦”，叶大少被踢飞的远远的，“太小气了，拼个房多好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“虫爷，我们在附近找个地方修炼，这一片是青珂的地盘，安全一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后在附近找好了地方，布置了一下，就准备开始修炼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修炼之前盘点了一下今天的战利品，“哈哈”大少是乐的合不拢嘴。<br />
<br />
&nbsp;&nbsp;..',
  'chapters' => '369',
  'size' => '1970823',
  'daysize' => '12283',
  'weeksize' => '12283',
  'monthsize' => '172507',
  'lastvisit' => '1479130952',
  'dayvisit' => '377',
  'weekvisit' => '377',
  'monthvisit' => '6500',
  'allvisit' => '519138',
  'lastvote' => '1479055625',
  'dayvote' => '21',
  'weekvote' => '21',
  'monthvote' => '191',
  'allvote' => '3525',
  'goodnum' => '31',
  'reviewsnum' => '23',
  'ratenum' => 889,
  'ratesum' => 8875,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1460958464',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1460910608',
  'freesize' => '1575018',
  'isvip' => '签约',
  'viptime' => '1479055553',
  'vipid' => '50',
  'vippubid' => '0',
  'vipchapters' => '338',
  'vipsize' => '1831337',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107786',
  'vipchapter' => '第三百六十八章 偷鸡不成蚀把米',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;圣者境的魔龙血焰，岂是一个从没炼体过的小丫头能够承受得了的，即使是灵玄雨伤这种心志坚定的人，肉身堪比高级圣器，也是在叶无锋的帮助之下才敢触碰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真正强者的道果又岂是轻易可以夺取？没有强悍的肉身，没有坚强的意志，最终只会是死路一条。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么，魔龙之血，魔龙之肉，还是圣者级别的，你怎么可能吃过这些东西？”灵玄风重骇然惊呼道，别说是五级圣者魔龙了，随便一个一级圣者碾死他就如同碾死一只蚂蚁一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼看着灵玄雨仙就要化为飞灰，风小梅终于顶不住了，“救她，王爷，快救救仙儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;..',
  'lastflower' => '1478753006',
  'allflower' => '150',
  'monthflower' => '10',
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1478921720',
  'allvipvote' => '22',
  'monthvipvote' => '6',
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '0',
  'zhangyue' => '1',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '1',
  'ytread' => '0',
  'giftnum' => '1600',
  'giftnums' => '3',
  'redrose' => '1',
  'yellowrose' => '1',
  'greenrose' => '0',
  'bluerose' => '1',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '异世大陆',
  'typename' => '异世大陆',
  'size_c' => 985412,
  'size_k' => 986,
  'size_w' => 98.5,
  'rateavg' => '10.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/134/134s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/134/134s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/134/134l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/134.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=134&cid=3859',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=50&cid=107786',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=134',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=134',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=134',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/363.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%C6%CF%D0%B5%C4%CC%EC%BF%D5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E6%CA%C9%D6%EE%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F134.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '玄幻',
      'tagencode' => '%D0%FE%BB%C3',
    ),
    1 => 
    array (
      'tagname' => '虫',
      'tagencode' => '%B3%E6',
    ),
    2 => 
    array (
      'tagname' => '诸天',
      'tagencode' => '%D6%EE%CC%EC',
    ),
    3 => 
    array (
      'tagname' => '异界',
      'tagencode' => '%D2%EC%BD%E7',
    ),
    4 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    5 => 
    array (
      'tagname' => '废柴',
      'tagencode' => '%B7%CF%B2%F1',
    ),
    6 => 
    array (
      'tagname' => '无敌',
      'tagencode' => '%CE%DE%B5%D0',
    ),
    7 => 
    array (
      'tagname' => '苍穹',
      'tagencode' => '%B2%D4%F1%B7',
    ),
    8 => 
    array (
      'tagname' => '乾坤',
      'tagencode' => '%C7%AC%C0%A4',
    ),
    9 => 
    array (
      'tagname' => '帝',
      'tagencode' => '%B5%DB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
