array (
  'meta_keywords' => '烛龙传 无筱寄说 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=135&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=135&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=135&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=135&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '135',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1456998193',
    'lastupdate' => '1457002869',
    'articlename' => '烛龙传',
    'articlecode' => 'zhulongchuan',
    'backupname' => '一个龙族的烛龙光复龙族的故事。',
    'keywords' => '烛龙 龙族 玄幻 穿越 幻象 上古 神话 传说',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '364',
    'author' => '无筱寄说',
    'posterid' => '364',
    'poster' => '无筱寄说',
    'agentid' => '13',
    'agent' => '夫子',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '上古时期，风云突起，乱世争霸。狼族以摧枯拉朽之势，占据了龙国的半壁江山。此时，龙族横空出世，仅仅三条龙将，便击败狼族众王。而三龙之首：烛火将，因眼下有一泪珠般的烙痕，又被世人称之为：烛龙......',
    'notice' => '（小说内一切人名，事件，纯属虚构，如有雷同，是我抄袭）<br />
<br />
（读者交流群：黑山老狗蠢萌锅　445091007）',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '2243',
    'lastvolume' => '游龙上九天，烛龙展锋芒。',
    'lastchapterid' => '2249',
    'lastchapter' => '第一章&nbsp;&nbsp;脑抽少年与杂耍老人',
    'lastsummary' => '上古时期，风云突起，乱世争霸。狼族以摧枯拉朽之势，占据了龙国的半壁江山。此时，龙族横空出世，仅仅三条龙，便击败狼族众将。而三龙之首：烛火将，因眼下有一泪珠般的烙痕，又被世人称之为：烛龙......<br />
<br />
&nbsp;&nbsp;上古时期的烛龙，现在还被世人敬仰，龙国特封：烛龙神将，因为有它，才造就了现在繁荣昌盛的龙国。<br />
<br />
&nbsp;&nbsp;而北隆城的烛家，也有一个烛龙，只不过，这个烛龙貌似有点“特殊”。<br />
<br />
&nbsp;&nbsp;“烛龙哥哥，爷爷叫你过去呢。”<br />
<br />
&nbsp;&nbsp;轻盈欢快的声音响起在烛家的北苑里，众人纷纷把目光转向还在发呆的烛龙，看着这个烛家的天才少女欢天喜地..',
    'chapters' => '2',
    'size' => '4266',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478016739',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '3710',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457002869',
    'freesize' => '4266',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 2133,
    'size_k' => 3,
    'size_w' => 0.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/135.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135&cid=2249',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=135',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=135',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=135',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/364.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%F3%E3%BC%C4%CB%B5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%F2%C1%FA%B4%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F135.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '135',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1456998193',
  'lastupdate' => '1457002869',
  'articlename' => '烛龙传',
  'articlecode' => 'zhulongchuan',
  'backupname' => '一个龙族的烛龙光复龙族的故事。',
  'keywords' => '烛龙 龙族 玄幻 穿越 幻象 上古 神话 传说',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '364',
  'author' => '无筱寄说',
  'posterid' => '364',
  'poster' => '无筱寄说',
  'agentid' => '13',
  'agent' => '夫子',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '上古时期，风云突起，乱世争霸。狼族以摧枯拉朽之势，占据了龙国的半壁江山。此时，龙族横空出世，仅仅三条龙将，便击败狼族众王。而三龙之首：烛火将，因眼下有一泪珠般的烙痕，又被世人称之为：烛龙......',
  'notice' => '（小说内一切人名，事件，纯属虚构，如有雷同，是我抄袭）<br />
<br />
（读者交流群：黑山老狗蠢萌锅　445091007）',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '2243',
  'lastvolume' => '游龙上九天，烛龙展锋芒。',
  'lastchapterid' => '2249',
  'lastchapter' => '第一章&nbsp;&nbsp;脑抽少年与杂耍老人',
  'lastsummary' => '上古时期，风云突起，乱世争霸。狼族以摧枯拉朽之势，占据了龙国的半壁江山。此时，龙族横空出世，仅仅三条龙，便击败狼族众将。而三龙之首：烛火将，因眼下有一泪珠般的烙痕，又被世人称之为：烛龙......<br />
<br />
&nbsp;&nbsp;上古时期的烛龙，现在还被世人敬仰，龙国特封：烛龙神将，因为有它，才造就了现在繁荣昌盛的龙国。<br />
<br />
&nbsp;&nbsp;而北隆城的烛家，也有一个烛龙，只不过，这个烛龙貌似有点“特殊”。<br />
<br />
&nbsp;&nbsp;“烛龙哥哥，爷爷叫你过去呢。”<br />
<br />
&nbsp;&nbsp;轻盈欢快的声音响起在烛家的北苑里，众人纷纷把目光转向还在发呆的烛龙，看着这个烛家的天才少女欢天喜地..',
  'chapters' => '2',
  'size' => '4266',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478016739',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '3710',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457002869',
  'freesize' => '4266',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 2133,
  'size_k' => 3,
  'size_w' => 0.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/135.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=135&cid=2249',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=135',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=135',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=135',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/364.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%F3%E3%BC%C4%CB%B5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%F2%C1%FA%B4%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F135.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '烛龙',
      'tagencode' => '%D6%F2%C1%FA',
    ),
    1 => 
    array (
      'tagname' => '龙族',
      'tagencode' => '%C1%FA%D7%E5',
    ),
    2 => 
    array (
      'tagname' => '玄幻',
      'tagencode' => '%D0%FE%BB%C3',
    ),
    3 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
    4 => 
    array (
      'tagname' => '幻象',
      'tagencode' => '%BB%C3%CF%F3',
    ),
    5 => 
    array (
      'tagname' => '上古',
      'tagencode' => '%C9%CF%B9%C5',
    ),
    6 => 
    array (
      'tagname' => '神话',
      'tagencode' => '%C9%F1%BB%B0',
    ),
    7 => 
    array (
      'tagname' => '传说',
      'tagencode' => '%B4%AB%CB%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
