array (
  'meta_keywords' => '重生之最强纨绔 无筱寄说 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=136&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=136&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=136&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=136&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '136',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457000854',
    'lastupdate' => '1457000951',
    'articlename' => '重生之最强纨绔',
    'articlecode' => 'zhongshengzhizuiqiangwanku',
    'backupname' => '一个纨绔少年重生了的狗血故事',
    'keywords' => '都市 神话 传说 姐弟 重生 莫罗 经商 纨绔 重新再来',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '364',
    'author' => '无筱寄说',
    'posterid' => '364',
    'poster' => '无筱寄说',
    'agentid' => '13',
    'agent' => '夫子',
    'sortid' => '3',
    'typeid' => '15',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;砰，一声枪响终结了这个落魄公子的性命。<br />
&nbsp;&nbsp;睁开双眼，并没有想象的地狱油锅。<br />
&nbsp;&nbsp;那，仿佛是我的老师？<br />
&nbsp;&nbsp;难道，我重生了？',
    'notice' => '（小说内一切人名，事件，纯属虚构，如有雷同，是我抄袭）<br />
<br />
（读者交流群：黑山老狗蠢萌锅　445091007）<br />
',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '2246',
    'lastvolume' => '巨龙初显威，烈焰搅风云',
    'lastchapterid' => '2248',
    'lastchapter' => '第二章&nbsp;&nbsp;姐姐.....',
    'lastsummary' => '站在门口的不是别人，正式那个前世为了莫罗，死在了江敖家中的姐姐，月怡清。<br />
<br />
&nbsp;&nbsp;月怡清并不是莫罗父母生下的孩子，是莫罗母亲在一个地方捡到的孩子，本想送到孤儿院，没想到莫罗父母越看越爱，便收养了下来，因为孩子随身的玉佩上刻着一个月字，起名：月怡清。<br />
<br />
&nbsp;&nbsp;二十年过去，月怡清长的可谓是出水芙蓉，亭亭玉立，由于莫家的威慑，来提亲的人到是蛮多，而敢来骚扰的人倒是没几个，但是由于月怡清并没有看上的，所以莫隆夫妻也并没有强逼。<br />
<br />
&nbsp;&nbsp;对于这个姐姐，莫罗可谓是看作生命一般，而月怡清也及其的疼爱莫罗。前世，月怡清牺..',
    'chapters' => '4',
    'size' => '9422',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478641135',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '39',
    'allvisit' => '6004',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 9,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457000951',
    'freesize' => '9422',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市重生',
    'typename' => '都市重生',
    'size_c' => 4711,
    'size_k' => 5,
    'size_w' => 0.5,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/136.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136&cid=2248',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=136',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=136',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=136',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/364.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%F3%E3%BC%C4%CB%B5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D7%EE%C7%BF%E6%FD%E7%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F136.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '136',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457000854',
  'lastupdate' => '1457000951',
  'articlename' => '重生之最强纨绔',
  'articlecode' => 'zhongshengzhizuiqiangwanku',
  'backupname' => '一个纨绔少年重生了的狗血故事',
  'keywords' => '都市 神话 传说 姐弟 重生 莫罗 经商 纨绔 重新再来',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '364',
  'author' => '无筱寄说',
  'posterid' => '364',
  'poster' => '无筱寄说',
  'agentid' => '13',
  'agent' => '夫子',
  'sortid' => '3',
  'typeid' => '15',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;砰，一声枪响终结了这个落魄公子的性命。<br />
&nbsp;&nbsp;睁开双眼，并没有想象的地狱油锅。<br />
&nbsp;&nbsp;那，仿佛是我的老师？<br />
&nbsp;&nbsp;难道，我重生了？',
  'notice' => '（小说内一切人名，事件，纯属虚构，如有雷同，是我抄袭）<br />
<br />
（读者交流群：黑山老狗蠢萌锅　445091007）<br />
',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '2246',
  'lastvolume' => '巨龙初显威，烈焰搅风云',
  'lastchapterid' => '2248',
  'lastchapter' => '第二章&nbsp;&nbsp;姐姐.....',
  'lastsummary' => '站在门口的不是别人，正式那个前世为了莫罗，死在了江敖家中的姐姐，月怡清。<br />
<br />
&nbsp;&nbsp;月怡清并不是莫罗父母生下的孩子，是莫罗母亲在一个地方捡到的孩子，本想送到孤儿院，没想到莫罗父母越看越爱，便收养了下来，因为孩子随身的玉佩上刻着一个月字，起名：月怡清。<br />
<br />
&nbsp;&nbsp;二十年过去，月怡清长的可谓是出水芙蓉，亭亭玉立，由于莫家的威慑，来提亲的人到是蛮多，而敢来骚扰的人倒是没几个，但是由于月怡清并没有看上的，所以莫隆夫妻也并没有强逼。<br />
<br />
&nbsp;&nbsp;对于这个姐姐，莫罗可谓是看作生命一般，而月怡清也及其的疼爱莫罗。前世，月怡清牺..',
  'chapters' => '4',
  'size' => '9422',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478641135',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '39',
  'allvisit' => '6004',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 9,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457000951',
  'freesize' => '9422',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市重生',
  'typename' => '都市重生',
  'size_c' => 4711,
  'size_k' => 5,
  'size_w' => 0.5,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/136.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=136&cid=2248',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=136',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=136',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=136',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/364.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%F3%E3%BC%C4%CB%B5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D7%EE%C7%BF%E6%FD%E7%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F136.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    1 => 
    array (
      'tagname' => '神话',
      'tagencode' => '%C9%F1%BB%B0',
    ),
    2 => 
    array (
      'tagname' => '传说',
      'tagencode' => '%B4%AB%CB%B5',
    ),
    3 => 
    array (
      'tagname' => '姐弟',
      'tagencode' => '%BD%E3%B5%DC',
    ),
    4 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    5 => 
    array (
      'tagname' => '莫罗',
      'tagencode' => '%C4%AA%C2%DE',
    ),
    6 => 
    array (
      'tagname' => '经商',
      'tagencode' => '%BE%AD%C9%CC',
    ),
    7 => 
    array (
      'tagname' => '纨绔',
      'tagencode' => '%E6%FD%E7%AB',
    ),
    8 => 
    array (
      'tagname' => '重新再来',
      'tagencode' => '%D6%D8%D0%C2%D4%D9%C0%B4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
