array (
  'meta_keywords' => '科学修真录 腼腆很邪恶 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=143&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=143&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=143&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=143&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '143',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457161096',
    'lastupdate' => '1457965882',
    'articlename' => '科学修真录',
    'articlecode' => 'kexuexiuzhenlu',
    'backupname' => '个性十足&nbsp;&nbsp;裸奔文',
    'keywords' => '修真 科幻 伦理',
    'roles' => '',
    'initial' => 'K',
    'authorid' => '374',
    'author' => '腼腆很邪恶',
    'posterid' => '374',
    'poster' => '腼腆很邪恶',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '物欲纪22017年 天朝九州 风起云涌 荆州郑家二公子 无意间 得一神兵与一名女婴（戈奈天魅）犹豫女婴乃是器灵 并位于神兵彻底融合 郑道然陷入两难 是选择执手可得的爱情 还是选择无上神兵&nbsp;&nbsp;乱世枭雄 英杰倍出 当现代科学vs上古玄学&nbsp;&nbsp;哪个才是真理 哪种才是正道 这一切的一切 将由您来见证',
    'notice' => '本书个性十足&nbsp;&nbsp;裸奔文&nbsp;&nbsp; 风骚流&nbsp;&nbsp; 看似种马&nbsp;&nbsp;其实不然&nbsp;&nbsp;看似同人 其实不是&nbsp;&nbsp;看似很黄&nbsp;&nbsp;其实健康',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '2783',
    'lastchapter' => '第十章&nbsp;&nbsp;淞沪血歌',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;2016-03-14 02:12 PM<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欲火焚身燃净体，缕缕青丝秀鼻鲜。妖娆悠悠舞奈何，春意罂红艳满天。禽兽不如情何在，浪叠三千桃水间。少女呜咽花渐泪，春江一梦缘近千。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;低智商雅美蝶，为了能够取悦心上人，勾出他的浴火。 将她美妙的身姿，完整的展现在男人面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修炼禽兽决，浴火重生是关键中的关键。 欲火焚身，在所难免，无非就是化与不化，腐朽间的差别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小蝴蝶帮助男人燃起了浴火，欲望不断的冲刺着他的理智。 很痛苦，很难受，更难忍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两个小时候，渐渐的男人的意识变得模糊。这样下去，他会彻..',
    'chapters' => '10',
    'size' => '61936',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478636486',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '52',
    'allvisit' => '6954',
    'lastvote' => '1457933611',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1',
    'goodnum' => '6',
    'reviewsnum' => '5',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457965882',
    'freesize' => '61936',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 30968,
    'size_k' => 31,
    'size_w' => 3.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/143.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143&cid=2783',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=143',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=143',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=143',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/374.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EB%EF%CC%F3%BA%DC%D0%B0%B6%F1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%C6%D1%A7%D0%DE%D5%E6%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F143.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '143',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457161096',
  'lastupdate' => '1457965882',
  'articlename' => '科学修真录',
  'articlecode' => 'kexuexiuzhenlu',
  'backupname' => '个性十足&nbsp;&nbsp;裸奔文',
  'keywords' => '修真 科幻 伦理',
  'roles' => '',
  'initial' => 'K',
  'authorid' => '374',
  'author' => '腼腆很邪恶',
  'posterid' => '374',
  'poster' => '腼腆很邪恶',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '物欲纪22017年 天朝九州 风起云涌 荆州郑家二公子 无意间 得一神兵与一名女婴（戈奈天魅）犹豫女婴乃是器灵 并位于神兵彻底融合 郑道然陷入两难 是选择执手可得的爱情 还是选择无上神兵&nbsp;&nbsp;乱世枭雄 英杰倍出 当现代科学vs上古玄学&nbsp;&nbsp;哪个才是真理 哪种才是正道 这一切的一切 将由您来见证',
  'notice' => '本书个性十足&nbsp;&nbsp;裸奔文&nbsp;&nbsp; 风骚流&nbsp;&nbsp; 看似种马&nbsp;&nbsp;其实不然&nbsp;&nbsp;看似同人 其实不是&nbsp;&nbsp;看似很黄&nbsp;&nbsp;其实健康',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '2783',
  'lastchapter' => '第十章&nbsp;&nbsp;淞沪血歌',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;2016-03-14 02:12 PM<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欲火焚身燃净体，缕缕青丝秀鼻鲜。妖娆悠悠舞奈何，春意罂红艳满天。禽兽不如情何在，浪叠三千桃水间。少女呜咽花渐泪，春江一梦缘近千。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;低智商雅美蝶，为了能够取悦心上人，勾出他的浴火。 将她美妙的身姿，完整的展现在男人面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修炼禽兽决，浴火重生是关键中的关键。 欲火焚身，在所难免，无非就是化与不化，腐朽间的差别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小蝴蝶帮助男人燃起了浴火，欲望不断的冲刺着他的理智。 很痛苦，很难受，更难忍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两个小时候，渐渐的男人的意识变得模糊。这样下去，他会彻..',
  'chapters' => '10',
  'size' => '61936',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478636486',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '52',
  'allvisit' => '6954',
  'lastvote' => '1457933611',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1',
  'goodnum' => '6',
  'reviewsnum' => '5',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457965882',
  'freesize' => '61936',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 30968,
  'size_k' => 31,
  'size_w' => 3.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/143.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=143&cid=2783',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=143',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=143',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=143',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/374.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EB%EF%CC%F3%BA%DC%D0%B0%B6%F1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%C6%D1%A7%D0%DE%D5%E6%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F143.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '修真',
      'tagencode' => '%D0%DE%D5%E6',
    ),
    1 => 
    array (
      'tagname' => '科幻',
      'tagencode' => '%BF%C6%BB%C3',
    ),
    2 => 
    array (
      'tagname' => '伦理',
      'tagencode' => '%C2%D7%C0%ED',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
