array (
  'meta_keywords' => '不败玄帝 帝皇天↖ 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=145&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=145&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=145&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=145&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '145',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457180041',
    'lastupdate' => '1457773295',
    'articlename' => '不败玄帝',
    'articlecode' => 'bubaixuandi',
    'backupname' => '穿越者帝皇天打爆天玄大陆的故事',
    'keywords' => '热血 玄幻',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '376',
    'author' => '帝皇天↖',
    'posterid' => '376',
    'poster' => '帝皇天↖',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '上古时期，大陆分位三界，天，地，人，天，有天帝看管，地，有凯撒看管，人，然而只有玄帝看管。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;鲁莽帝皇天，在一次不小心的情况下，穿越到了那个大陆……<br />
&nbsp;&nbsp; 我tmd只是一个穿越者，何必要那么狼狈吗？ 喂！你别拿错了，你说好10个城池换九阴真经的！<br />
&nbsp;&nbsp; 神挡杀神，佛挡杀佛，我我命由我不由天！<br />
&nbsp;&nbsp;<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '2668',
    'lastchapter' => '第三章-我离开！',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，我们不说这个了，神人，今天我们一年一度的庆天日就要开始了，你晚上可以来吗？”提拔余微笑的说道<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去！怎么可能不去呢！”其实帝皇天心里一直想着这个世界吃饭的东西怎么样，是不是和华夏一模一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，爹，为什么给这个人去啊？现在我们根本知不知道他是不是神仙呢！”提拔慧生气的说道，好像对这个“神仙”很不瞒一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳咳，那么算了，我还是不去吧你女儿根本不信任我。”帝皇天什么都不敢说，就骗人牛逼，曾经在华夏，成功的骗了500块钱左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别！慧儿不懂事，你别怪她”<br />
<br />
 ..',
    'chapters' => '3',
    'size' => '11983',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1476430252',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '104',
    'allvisit' => '4430',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457773295',
    'freesize' => '11983',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 5992,
    'size_k' => 6,
    'size_w' => 0.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/145.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145&cid=2668',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=145',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=145',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=145',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/376.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B5%DB%BB%CA%CC%EC%A8I',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B2%BB%B0%DC%D0%FE%B5%DB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F145.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '145',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457180041',
  'lastupdate' => '1457773295',
  'articlename' => '不败玄帝',
  'articlecode' => 'bubaixuandi',
  'backupname' => '穿越者帝皇天打爆天玄大陆的故事',
  'keywords' => '热血 玄幻',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '376',
  'author' => '帝皇天↖',
  'posterid' => '376',
  'poster' => '帝皇天↖',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '上古时期，大陆分位三界，天，地，人，天，有天帝看管，地，有凯撒看管，人，然而只有玄帝看管。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;鲁莽帝皇天，在一次不小心的情况下，穿越到了那个大陆……<br />
&nbsp;&nbsp; 我tmd只是一个穿越者，何必要那么狼狈吗？ 喂！你别拿错了，你说好10个城池换九阴真经的！<br />
&nbsp;&nbsp; 神挡杀神，佛挡杀佛，我我命由我不由天！<br />
&nbsp;&nbsp;<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '2668',
  'lastchapter' => '第三章-我离开！',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，我们不说这个了，神人，今天我们一年一度的庆天日就要开始了，你晚上可以来吗？”提拔余微笑的说道<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去！怎么可能不去呢！”其实帝皇天心里一直想着这个世界吃饭的东西怎么样，是不是和华夏一模一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，爹，为什么给这个人去啊？现在我们根本知不知道他是不是神仙呢！”提拔慧生气的说道，好像对这个“神仙”很不瞒一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳咳，那么算了，我还是不去吧你女儿根本不信任我。”帝皇天什么都不敢说，就骗人牛逼，曾经在华夏，成功的骗了500块钱左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别！慧儿不懂事，你别怪她”<br />
<br />
 ..',
  'chapters' => '3',
  'size' => '11983',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1476430252',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '104',
  'allvisit' => '4430',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457773295',
  'freesize' => '11983',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 5992,
  'size_k' => 6,
  'size_w' => 0.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/145.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=145&cid=2668',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=145',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=145',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=145',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/376.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B5%DB%BB%CA%CC%EC%A8I',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B2%BB%B0%DC%D0%FE%B5%DB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F145.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    1 => 
    array (
      'tagname' => '玄幻',
      'tagencode' => '%D0%FE%BB%C3',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
