array (
  'meta_keywords' => '相遇请别错过 纪筱狸 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=147&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=147&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=147&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=147&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '147',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457247687',
    'lastupdate' => '1457247788',
    'articlename' => '相遇请别错过',
    'articlecode' => 'xiangyuqingbiecuoguo',
    'backupname' => '',
    'keywords' => '虐心 校园',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '379',
    'author' => '纪筱狸',
    'posterid' => '379',
    'poster' => '纪筱狸',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '31',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;第一次，他遇见脏兮兮的她，他细心的呵护她，不让别人欺负她。<br />
&nbsp;&nbsp;第二次相遇，他不认识她了。<br />
&nbsp;&nbsp;第三次，她想要唤醒他的记忆，因为她从他的眼神中可以看出，她没有认错人。<br />
&nbsp;&nbsp;第四次，她绝望了，决定离开他，却无意中出了车祸。。。。。<br />
&nbsp;&nbsp;第一次他们无缘，第二次他们是否也会擦肩而过。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '2405',
    'lastchapter' => '第一章&nbsp;&nbsp;遇见',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;八月份的天气，炎热得可以让时间静止，又烦又闷，汗水流在身上，黏糊糊的，人人都恨不得穿上短衣短裤，可在连心孤儿院中却显示着一副完全不同的景象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个小女孩穿着厚厚的棉衣，头发乱糟糟，瘦弱的身体蜷缩在角落里，被一群比她大的孩子围起来，女孩似乎不敢大声的哭，只能嘤嘤~的小声抽泣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！你是不是欺负我们家婷婷了？”一个带头的男孩子说，婷婷是孤儿院最出名的人，可就是心肠不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没……我没有，是她先推我的，所以我才会推回她……”女孩小声的说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你还狡辩，你这小贱人！”一个女..',
    'chapters' => '1',
    'size' => '2300',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475517490',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '2535',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1457247788',
    'freesize' => '2300',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 1150,
    'size_k' => 2,
    'size_w' => 0.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/147.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147&cid=2405',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=147',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=147',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=147',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/379.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BC%CD%F3%E3%C0%EA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%E0%D3%F6%C7%EB%B1%F0%B4%ED%B9%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F147.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '147',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457247687',
  'lastupdate' => '1457247788',
  'articlename' => '相遇请别错过',
  'articlecode' => 'xiangyuqingbiecuoguo',
  'backupname' => '',
  'keywords' => '虐心 校园',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '379',
  'author' => '纪筱狸',
  'posterid' => '379',
  'poster' => '纪筱狸',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '31',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;第一次，他遇见脏兮兮的她，他细心的呵护她，不让别人欺负她。<br />
&nbsp;&nbsp;第二次相遇，他不认识她了。<br />
&nbsp;&nbsp;第三次，她想要唤醒他的记忆，因为她从他的眼神中可以看出，她没有认错人。<br />
&nbsp;&nbsp;第四次，她绝望了，决定离开他，却无意中出了车祸。。。。。<br />
&nbsp;&nbsp;第一次他们无缘，第二次他们是否也会擦肩而过。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '2405',
  'lastchapter' => '第一章&nbsp;&nbsp;遇见',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;八月份的天气，炎热得可以让时间静止，又烦又闷，汗水流在身上，黏糊糊的，人人都恨不得穿上短衣短裤，可在连心孤儿院中却显示着一副完全不同的景象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个小女孩穿着厚厚的棉衣，头发乱糟糟，瘦弱的身体蜷缩在角落里，被一群比她大的孩子围起来，女孩似乎不敢大声的哭，只能嘤嘤~的小声抽泣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！你是不是欺负我们家婷婷了？”一个带头的男孩子说，婷婷是孤儿院最出名的人，可就是心肠不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没……我没有，是她先推我的，所以我才会推回她……”女孩小声的说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你还狡辩，你这小贱人！”一个女..',
  'chapters' => '1',
  'size' => '2300',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475517490',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '2535',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1457247788',
  'freesize' => '2300',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 1150,
  'size_k' => 2,
  'size_w' => 0.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/147/147s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/147.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=147&cid=2405',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=147',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=147',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=147',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/379.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BC%CD%F3%E3%C0%EA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%E0%D3%F6%C7%EB%B1%F0%B4%ED%B9%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F147.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '虐心',
      'tagencode' => '%C5%B0%D0%C4',
    ),
    1 => 
    array (
      'tagname' => '校园',
      'tagencode' => '%D0%A3%D4%B0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
