array (
  'meta_keywords' => '巅峰霸主 杯酒癫狂 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=150&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=150&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=150&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=150&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '150',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457321047',
    'lastupdate' => '1472432381',
    'articlename' => '巅峰霸主',
    'articlecode' => 'dianfengbazhu',
    'backupname' => '一本好看的小说',
    'keywords' => '黑道 争霸 腹黑',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '383',
    'author' => '杯酒癫狂',
    'posterid' => '383',
    'poster' => '铖禹',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '16',
    'libid' => '0',
    'intro' => '这是一个隔绝的城市，这是一个自由的天堂。&nbsp;&nbsp;<br />
这里人人都是恶棍，没有任何现代文明的影子。<br />
白领青年王浩，遭人陷害，被丢弃到这里。<br />
暴力、欺诈、阴谋、背叛、杀戮......他该如何生存？<br />
巅峰的霸主，恶棍的王者，看王浩如何步步为营，逆天而战！',
    'notice' => '求收藏，求支持，求订阅，求打赏！<br />
关于更新，一周最少六章哦！节假日有时会两天一章！但绝对保证质量！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '17938',
    'lastchapter' => '70、人心思乱',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赶回议事厅，已经是中午了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宋城主和七位队长都在，但气氛不对。厅里低沉肃穆，没有胜利后的喜悦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“胜负如何？”我问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们败了。”宋老头的音声没有起伏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“败了？”我的嗓子发出哨子一样尖锐的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我接受不了这个事实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我跟宋老头定下计划。我把庞龙约出来，他们攻打反军大营。他们把预先准备好“庞龙”的头丢进大营，引起混乱，然后全面袭击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;庞龙不在大营，这个计策还会失败？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们有对方五倍的兵力！”我说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“庞龙的兄弟们都不是一般人，尤其..',
    'chapters' => '90',
    'size' => '404937',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479053177',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '325',
    'allvisit' => '48133',
    'lastvote' => '1464676810',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '34',
    'goodnum' => '17',
    'reviewsnum' => '14',
    'ratenum' => 4,
    'ratesum' => 38,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1464576479',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1464569304',
    'freesize' => '404937',
    'isvip' => '签约',
    'viptime' => '1472432381',
    'vipid' => '51',
    'vippubid' => '0',
    'vipchapters' => '20',
    'vipsize' => '86181',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '93465',
    'vipchapter' => '90、怎么是你？',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;有薛忠和康万达帮助，很快就掌控了云城。我派人去蔚城，把骆琦等人接过来。我把章哥、烟鬼和严孝，留在了蔚城。章哥稳重有担当，管理蔚城绰绰有余。烟鬼悍勇，是个好帮手。严孝心地善良，能给蔚城人公平。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;云城虽好，未必立得住脚。蔚城是大本营，不能丢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一天，小周、九娃跟着康万达去整顿云城治安队了。我闲着无聊，跟薛忠聊云城的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛忠说：“有个地方，你必须看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么地方？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“监狱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“云城还有监狱？”我说，“自由城不就是监狱么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛忠不说话，“嘿嘿..',
    'lastflower' => '1465099240',
    'allflower' => '24',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1462720736',
    'allvipvote' => '2',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市修真',
    'typename' => '都市修真',
    'size_c' => 202469,
    'size_k' => 203,
    'size_w' => 20.2,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/150/150s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/150/150s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/150/150l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/150.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150&cid=17938',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=51&cid=93465',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=150',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=150',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=150',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/383.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%AD%BE%C6%F1%B2%BF%F1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E1%DB%B7%E5%B0%D4%D6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F150.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '150',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457321047',
  'lastupdate' => '1472432381',
  'articlename' => '巅峰霸主',
  'articlecode' => 'dianfengbazhu',
  'backupname' => '一本好看的小说',
  'keywords' => '黑道 争霸 腹黑',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '383',
  'author' => '杯酒癫狂',
  'posterid' => '383',
  'poster' => '铖禹',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '16',
  'libid' => '0',
  'intro' => '这是一个隔绝的城市，这是一个自由的天堂。&nbsp;&nbsp;<br />
这里人人都是恶棍，没有任何现代文明的影子。<br />
白领青年王浩，遭人陷害，被丢弃到这里。<br />
暴力、欺诈、阴谋、背叛、杀戮......他该如何生存？<br />
巅峰的霸主，恶棍的王者，看王浩如何步步为营，逆天而战！',
  'notice' => '求收藏，求支持，求订阅，求打赏！<br />
关于更新，一周最少六章哦！节假日有时会两天一章！但绝对保证质量！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '17938',
  'lastchapter' => '70、人心思乱',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赶回议事厅，已经是中午了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宋城主和七位队长都在，但气氛不对。厅里低沉肃穆，没有胜利后的喜悦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“胜负如何？”我问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们败了。”宋老头的音声没有起伏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“败了？”我的嗓子发出哨子一样尖锐的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我接受不了这个事实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我跟宋老头定下计划。我把庞龙约出来，他们攻打反军大营。他们把预先准备好“庞龙”的头丢进大营，引起混乱，然后全面袭击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;庞龙不在大营，这个计策还会失败？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们有对方五倍的兵力！”我说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“庞龙的兄弟们都不是一般人，尤其..',
  'chapters' => '90',
  'size' => '404937',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479053177',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '325',
  'allvisit' => '48133',
  'lastvote' => '1464676810',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '34',
  'goodnum' => '17',
  'reviewsnum' => '14',
  'ratenum' => 4,
  'ratesum' => 38,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1464576479',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1464569304',
  'freesize' => '404937',
  'isvip' => '签约',
  'viptime' => '1472432381',
  'vipid' => '51',
  'vippubid' => '0',
  'vipchapters' => '20',
  'vipsize' => '86181',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '93465',
  'vipchapter' => '90、怎么是你？',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;有薛忠和康万达帮助，很快就掌控了云城。我派人去蔚城，把骆琦等人接过来。我把章哥、烟鬼和严孝，留在了蔚城。章哥稳重有担当，管理蔚城绰绰有余。烟鬼悍勇，是个好帮手。严孝心地善良，能给蔚城人公平。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;云城虽好，未必立得住脚。蔚城是大本营，不能丢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一天，小周、九娃跟着康万达去整顿云城治安队了。我闲着无聊，跟薛忠聊云城的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛忠说：“有个地方，你必须看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么地方？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“监狱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“云城还有监狱？”我说，“自由城不就是监狱么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛忠不说话，“嘿嘿..',
  'lastflower' => '1465099240',
  'allflower' => '24',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1462720736',
  'allvipvote' => '2',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市修真',
  'typename' => '都市修真',
  'size_c' => 202469,
  'size_k' => 203,
  'size_w' => 20.2,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/150/150s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/150/150s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/150/150l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/150.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=150&cid=17938',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=51&cid=93465',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=150',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=150',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=150',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/383.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%AD%BE%C6%F1%B2%BF%F1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E1%DB%B7%E5%B0%D4%D6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F150.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '黑道',
      'tagencode' => '%BA%DA%B5%C0',
    ),
    1 => 
    array (
      'tagname' => '争霸',
      'tagencode' => '%D5%F9%B0%D4',
    ),
    2 => 
    array (
      'tagname' => '腹黑',
      'tagencode' => '%B8%B9%BA%DA',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
