array (
  'meta_keywords' => '古剑奇缘 陌上重阳 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=152&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=152&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=152&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=152&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '152',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457322517',
    'lastupdate' => '1463647557',
    'articlename' => '古剑奇缘',
    'articlecode' => 'gujianqiyuan',
    'backupname' => '古剑恭紫重生文',
    'keywords' => '同人 耽美 重生 师徒',
    'roles' => '',
    'initial' => 'G',
    'authorid' => '382',
    'author' => '陌上重阳',
    'posterid' => '382',
    'poster' => '陌上重阳',
    'agentid' => '357',
    'agent' => '歌羽',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => ' 本该于东海蓬莱葬身焚寂火海的欧阳少恭奇迹般重回幼时。受到一系列刺激的欧阳少恭记忆被封，拜入紫胤真人门下。重活一世，命盘上两道本该平行的轨迹突然交织在一起，不知命运又将延伸向何方？<br />
少恭：既然师尊说前尘已散，那就不要怪少恭不择手段了……<br />
紫胤：吾为火神，贪万人之生；吾为祝融，只惧一人之死。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '15906',
    'lastchapter' => '番外三 水神的师徒之道',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;自打知晓了自己上了少恭的当，再加上受不了紫胤与少恭二人之间那股似有若无却又无处不在的黏腻劲儿，漓水真人决定以后轻易不上祖洲，而是一心一意留在琴川教导自家的乖徒儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他早就暗下决心要好好培养自家的徒儿，好叫那对师徒看看什么叫尊师重道，什么叫长幼有序，什么是师徒应有的相处之法！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;漓水真人望了眼还在水榭中勤修苦练的元勿，对自己这个徒儿是满意到不行，他走到元勿跟前点了点头问道：“勿儿，水行之法练得如何了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还请师父指正。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢，元勿小脸儿上神色肃穆，抬手捻指结印。水榭..',
    'chapters' => '71',
    'size' => '310478',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479047079',
    'dayvisit' => '13',
    'weekvisit' => '182',
    'monthvisit' => '260',
    'allvisit' => '51967',
    'lastvote' => '1466655151',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '218',
    'goodnum' => '10',
    'reviewsnum' => '8',
    'ratenum' => 133,
    'ratesum' => 1323,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '普通签约',
    'signtime' => '1460292745',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1463647557',
    'freesize' => '310478',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '81',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1462779236',
    'allflower' => '4',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '1',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '1',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 155239,
    'size_k' => 156,
    'size_w' => 15.5,
    'rateavg' => '9.9',
    'rateavg_i' => 9,
    'rateavg_d' => 9,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/152/152s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/152/152s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/152/152l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/152.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152&cid=15906',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=152',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=152',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=152',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/382.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%B0%C9%CF%D6%D8%D1%F4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B9%C5%BD%A3%C6%E6%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F152.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '152',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457322517',
  'lastupdate' => '1463647557',
  'articlename' => '古剑奇缘',
  'articlecode' => 'gujianqiyuan',
  'backupname' => '古剑恭紫重生文',
  'keywords' => '同人 耽美 重生 师徒',
  'roles' => '',
  'initial' => 'G',
  'authorid' => '382',
  'author' => '陌上重阳',
  'posterid' => '382',
  'poster' => '陌上重阳',
  'agentid' => '357',
  'agent' => '歌羽',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => ' 本该于东海蓬莱葬身焚寂火海的欧阳少恭奇迹般重回幼时。受到一系列刺激的欧阳少恭记忆被封，拜入紫胤真人门下。重活一世，命盘上两道本该平行的轨迹突然交织在一起，不知命运又将延伸向何方？<br />
少恭：既然师尊说前尘已散，那就不要怪少恭不择手段了……<br />
紫胤：吾为火神，贪万人之生；吾为祝融，只惧一人之死。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '15906',
  'lastchapter' => '番外三 水神的师徒之道',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;自打知晓了自己上了少恭的当，再加上受不了紫胤与少恭二人之间那股似有若无却又无处不在的黏腻劲儿，漓水真人决定以后轻易不上祖洲，而是一心一意留在琴川教导自家的乖徒儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他早就暗下决心要好好培养自家的徒儿，好叫那对师徒看看什么叫尊师重道，什么叫长幼有序，什么是师徒应有的相处之法！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;漓水真人望了眼还在水榭中勤修苦练的元勿，对自己这个徒儿是满意到不行，他走到元勿跟前点了点头问道：“勿儿，水行之法练得如何了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还请师父指正。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢，元勿小脸儿上神色肃穆，抬手捻指结印。水榭..',
  'chapters' => '71',
  'size' => '310478',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479047079',
  'dayvisit' => '13',
  'weekvisit' => '182',
  'monthvisit' => '260',
  'allvisit' => '51967',
  'lastvote' => '1466655151',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '218',
  'goodnum' => '10',
  'reviewsnum' => '8',
  'ratenum' => 133,
  'ratesum' => 1323,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '普通签约',
  'signtime' => '1460292745',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1463647557',
  'freesize' => '310478',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '81',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1462779236',
  'allflower' => '4',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '1',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '1',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 155239,
  'size_k' => 156,
  'size_w' => 15.5,
  'rateavg' => '9.9',
  'rateavg_i' => 9,
  'rateavg_d' => 9,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/152/152s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/152/152s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/152/152l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/152.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=152&cid=15906',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=152',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=152',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=152',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/382.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%B0%C9%CF%D6%D8%D1%F4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B9%C5%BD%A3%C6%E6%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F152.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '同人',
      'tagencode' => '%CD%AC%C8%CB',
    ),
    1 => 
    array (
      'tagname' => '耽美',
      'tagencode' => '%B5%A2%C3%C0',
    ),
    2 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    3 => 
    array (
      'tagname' => '师徒',
      'tagencode' => '%CA%A6%CD%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
