array (
  'meta_keywords' => '女王总裁：天黑请闭眼 冬沐雪 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=153&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=153&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=153&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=153&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '153',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457331939',
    'lastupdate' => '1457609260',
    'articlename' => '女王总裁：天黑请闭眼',
    'articlecode' => 'nvwangzongcai_tianheiqingbiyan',
    'backupname' => '天黑请闭眼',
    'keywords' => '霸道女总裁 腹黑 高冷 豪门恩怨 拼搏',
    'roles' => '',
    'initial' => 'N',
    'authorid' => '385',
    'author' => '冬沐雪',
    'posterid' => '385',
    'poster' => '冬沐雪',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '从天堂跌入地狱，她却从未放弃希望。命，不就是用来拼的吗？自从一无所有、家破人亡的那天开始，她就暗暗发誓，终有一天，她一定会复仇……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '2426',
    'lastvolume' => '第一卷：初露锋芒',
    'lastchapterid' => '2554',
    'lastchapter' => '第六章：我叫桃夭',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;女孩低头沉吟了一会儿，再次将头抬起：“桃夭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“逃之夭夭？呵呵，我看你能逃到哪儿去。”秦慕川轻蔑地笑笑，又真的将钱包交到女孩手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是逃跑的逃，是桃花的桃。”女孩的笑容，如春风里的桃花。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的笑，在秦慕川眼里是十足的嘲笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然不爽，却也对女孩的勇气感到由衷地赞叹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从未见过这样的女孩，受过那样的凌辱和痛苦之后，居然还能淡定地站在众人面前，谈吐从容，就算是个男人，也不一定做到这么有气度吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当他发呆的时候，女孩一个潇洒的转身，裹着床单的背影略显..',
    'chapters' => '9',
    'size' => '26819',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475816172',
    'dayvisit' => '13',
    'weekvisit' => '52',
    'monthvisit' => '78',
    'allvisit' => '4689',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '4',
    'reviewsnum' => '3',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1457609260',
    'freesize' => '26819',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 13410,
    'size_k' => 14,
    'size_w' => 1.3,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/153.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153&cid=2554',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=153',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=153',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=153',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/385.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%AC%E3%E5%D1%A9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C5%AE%CD%F5%D7%DC%B2%C3%A3%BA%CC%EC%BA%DA%C7%EB%B1%D5%D1%DB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F153.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '153',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457331939',
  'lastupdate' => '1457609260',
  'articlename' => '女王总裁：天黑请闭眼',
  'articlecode' => 'nvwangzongcai_tianheiqingbiyan',
  'backupname' => '天黑请闭眼',
  'keywords' => '霸道女总裁 腹黑 高冷 豪门恩怨 拼搏',
  'roles' => '',
  'initial' => 'N',
  'authorid' => '385',
  'author' => '冬沐雪',
  'posterid' => '385',
  'poster' => '冬沐雪',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '从天堂跌入地狱，她却从未放弃希望。命，不就是用来拼的吗？自从一无所有、家破人亡的那天开始，她就暗暗发誓，终有一天，她一定会复仇……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '2426',
  'lastvolume' => '第一卷：初露锋芒',
  'lastchapterid' => '2554',
  'lastchapter' => '第六章：我叫桃夭',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;女孩低头沉吟了一会儿，再次将头抬起：“桃夭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“逃之夭夭？呵呵，我看你能逃到哪儿去。”秦慕川轻蔑地笑笑，又真的将钱包交到女孩手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是逃跑的逃，是桃花的桃。”女孩的笑容，如春风里的桃花。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的笑，在秦慕川眼里是十足的嘲笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然不爽，却也对女孩的勇气感到由衷地赞叹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从未见过这样的女孩，受过那样的凌辱和痛苦之后，居然还能淡定地站在众人面前，谈吐从容，就算是个男人，也不一定做到这么有气度吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当他发呆的时候，女孩一个潇洒的转身，裹着床单的背影略显..',
  'chapters' => '9',
  'size' => '26819',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475816172',
  'dayvisit' => '13',
  'weekvisit' => '52',
  'monthvisit' => '78',
  'allvisit' => '4689',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '4',
  'reviewsnum' => '3',
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1457609260',
  'freesize' => '26819',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 13410,
  'size_k' => 14,
  'size_w' => 1.3,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/153.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=153&cid=2554',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=153',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=153',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=153',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/385.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%AC%E3%E5%D1%A9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C5%AE%CD%F5%D7%DC%B2%C3%A3%BA%CC%EC%BA%DA%C7%EB%B1%D5%D1%DB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F153.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '霸道女总裁',
      'tagencode' => '%B0%D4%B5%C0%C5%AE%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '腹黑',
      'tagencode' => '%B8%B9%BA%DA',
    ),
    2 => 
    array (
      'tagname' => '高冷',
      'tagencode' => '%B8%DF%C0%E4',
    ),
    3 => 
    array (
      'tagname' => '豪门恩怨',
      'tagencode' => '%BA%C0%C3%C5%B6%F7%D4%B9',
    ),
    4 => 
    array (
      'tagname' => '拼搏',
      'tagencode' => '%C6%B4%B2%AB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
