array (
  'meta_keywords' => '调皮女捕：看我神捕女侠 古影雪 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=154&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=154&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=154&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=154&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '154',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1457350275',
    'lastupdate' => '1467393106',
    'articlename' => '调皮女捕：看我神捕女侠',
    'articlecode' => 'diaopinvbu_kanwoshenbunvxia',
    'backupname' => '',
    'keywords' => '古影雪 重生 魔法 穿越',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '387',
    'author' => '古影雪',
    'posterid' => '387',
    'poster' => '古影雪',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一朝穿越，前世超强杀手，来到了一个奇怪世界。<br />
凭借一身法术，她成了一名逍遥快活的女神捕，于是杀行尸，灭土匪，暴打采花贼，上天给了她重生的机会，她却发誓把这片天地搅动的天翻地覆……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '4385',
    'lastchapter' => '第三十六章: 恶毒猫女',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;幽夜叫的太晚了，只见冷雨灵飞快的对许雨景吐了一口烟雾，许雨景闻到了烟雾之后，就感觉眼皮开始往下沉，摇摇欲坠就要倒在地上时，一下子就被冷雨灵给扶住了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;冷雨灵阵阵得意的把许雨景搂在了自己的怀里，还在一个劲的冷笑着！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;&quot;我擦，这丫肯定是妖，这样突袭的好快，看我的，鬼火冲天！&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;樆念竹一把鬼火冲向了冷雨灵的身上去，可冷雨灵却不慌不乱的对樆念竹..',
    'chapters' => '200',
    'size' => '1215029',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479102931',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '533',
    'allvisit' => '68863',
    'lastvote' => '1473652032',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '71',
    'goodnum' => '11',
    'reviewsnum' => '9',
    'ratenum' => 3,
    'ratesum' => 30,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '全本',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1460347192',
    'buyout' => '0',
    'monthly' => '包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1460344280',
    'freesize' => '1215029',
    'isvip' => '包月',
    'viptime' => '1467393106',
    'vipid' => '59',
    'vippubid' => '0',
    'vipchapters' => '164',
    'vipsize' => '988087',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '32043',
    'vipchapter' => '第二百章: 成为国后',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;朝堂之上，文武百官皆在大殿里面，四周围一片庄严，肃静，而璃君城和樆念竹正坐在最前面的琉璃水晶椅子上，面向文武百官，在这种严肃的场合里面，谁都会变得一本正经！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本国主有一事要向各位宣布！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;璃君城身穿着一身帝王服，身上四处都透露着高贵和霸气的味道，看他那比神仙还要帅气的脸，天生一副帝王相！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而樆念竹的气势完全不输于璃君城，一双犀利的眼睛充满严肃，经过宫女妙手一化妆过，樆念竹蜕去了青春少女的样子，取之而来的是成熟霸气的容貌，她盯着那些大臣不语，什么场合她就用什么形象对待，毕..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1459676431',
    'allvipvote' => '4',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '1',
    'zhangyue' => '1',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '1',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '1',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '3',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 607515,
    'size_k' => 608,
    'size_w' => 60.8,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/154/154s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/154/154s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/154/154l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/154.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154&cid=4385',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=59&cid=32043',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=154',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=154',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=154',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/387.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%D3%B0%D1%A9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%F7%C6%A4%C5%AE%B2%B6%A3%BA%BF%B4%CE%D2%C9%F1%B2%B6%C5%AE%CF%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F154.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '154',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1457350275',
  'lastupdate' => '1467393106',
  'articlename' => '调皮女捕：看我神捕女侠',
  'articlecode' => 'diaopinvbu_kanwoshenbunvxia',
  'backupname' => '',
  'keywords' => '古影雪 重生 魔法 穿越',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '387',
  'author' => '古影雪',
  'posterid' => '387',
  'poster' => '古影雪',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一朝穿越，前世超强杀手，来到了一个奇怪世界。<br />
凭借一身法术，她成了一名逍遥快活的女神捕，于是杀行尸，灭土匪，暴打采花贼，上天给了她重生的机会，她却发誓把这片天地搅动的天翻地覆……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '4385',
  'lastchapter' => '第三十六章: 恶毒猫女',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;幽夜叫的太晚了，只见冷雨灵飞快的对许雨景吐了一口烟雾，许雨景闻到了烟雾之后，就感觉眼皮开始往下沉，摇摇欲坠就要倒在地上时，一下子就被冷雨灵给扶住了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;冷雨灵阵阵得意的把许雨景搂在了自己的怀里，还在一个劲的冷笑着！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;&#160;&quot;我擦，这丫肯定是妖，这样突袭的好快，看我的，鬼火冲天！&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&#160;&#160;&#160;樆念竹一把鬼火冲向了冷雨灵的身上去，可冷雨灵却不慌不乱的对樆念竹..',
  'chapters' => '200',
  'size' => '1215029',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479102931',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '533',
  'allvisit' => '68863',
  'lastvote' => '1473652032',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '71',
  'goodnum' => '11',
  'reviewsnum' => '9',
  'ratenum' => 3,
  'ratesum' => 30,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '全本',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1460347192',
  'buyout' => '0',
  'monthly' => '包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1460344280',
  'freesize' => '1215029',
  'isvip' => '包月',
  'viptime' => '1467393106',
  'vipid' => '59',
  'vippubid' => '0',
  'vipchapters' => '164',
  'vipsize' => '988087',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '32043',
  'vipchapter' => '第二百章: 成为国后',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;朝堂之上，文武百官皆在大殿里面，四周围一片庄严，肃静，而璃君城和樆念竹正坐在最前面的琉璃水晶椅子上，面向文武百官，在这种严肃的场合里面，谁都会变得一本正经！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本国主有一事要向各位宣布！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;璃君城身穿着一身帝王服，身上四处都透露着高贵和霸气的味道，看他那比神仙还要帅气的脸，天生一副帝王相！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而樆念竹的气势完全不输于璃君城，一双犀利的眼睛充满严肃，经过宫女妙手一化妆过，樆念竹蜕去了青春少女的样子，取之而来的是成熟霸气的容貌，她盯着那些大臣不语，什么场合她就用什么形象对待，毕..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1459676431',
  'allvipvote' => '4',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '1',
  'zhangyue' => '1',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '1',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '1',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '3',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 607515,
  'size_k' => 608,
  'size_w' => 60.8,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/154/154s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/154/154s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/154/154l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/154.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=154&cid=4385',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=59&cid=32043',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=154',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=154',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=154',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/387.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%D3%B0%D1%A9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%F7%C6%A4%C5%AE%B2%B6%A3%BA%BF%B4%CE%D2%C9%F1%B2%B6%C5%AE%CF%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F154.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '古影雪',
      'tagencode' => '%B9%C5%D3%B0%D1%A9',
    ),
    1 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    2 => 
    array (
      'tagname' => '魔法',
      'tagencode' => '%C4%A7%B7%A8',
    ),
    3 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
