array (
  'meta_keywords' => '许愿灯 风景异 历史军事',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=17&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=17&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=17&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=17&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '17',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447299183',
    'lastupdate' => '1459347468',
    'articlename' => '许愿灯',
    'articlecode' => 'xuyuandeng',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '39',
    'author' => '风景异',
    'posterid' => '39',
    'poster' => '风景异',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '4',
    'typeid' => '20',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;上古时期的许愿灯，据说只要在灯前许愿，就能实现！<br />
&nbsp;&nbsp;但当它重现人间的时候，却引得军阀纷争，商贾眼红，更让兄弟反目！<br />
&nbsp;&nbsp;那得到许愿灯的人，是福？是祸？许愿灯，真的能实现人们的愿望吗？<br />
&nbsp;&nbsp;欲念纷争，风云再起，就让历史的马车带着我们去揭开它的神秘面纱……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '3547',
    'lastchapter' => '第二十八章&nbsp;&nbsp;商谈',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;昨天被抓来是晚上，没怎么看，眼下出了窑洞才看到，这里明显是一个小村落，各种窑洞不少，却还有数十座土胚房，墙壁厚实，朝南而建，有一些房顶此时此刻已经冒起了青烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四人的出现早就引起不少人驻足观看，好奇的眼光跟发现了新大陆一般充满色泽，同时，张镇宇从有些人眼中瞧出了一些耐人寻味的神情，大概是相马的伯乐，似乎因为在马群中发现一匹汗血宝马，让他兴奋，内心热切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然看不出在他们眼中到底表示的是什么意思，反正以张镇宇认为绝对不会是值得憧憬的喜事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走过几座房子，四人被带到了其中一座..',
    'chapters' => '28',
    'size' => '181314',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478921676',
    'dayvisit' => '13',
    'weekvisit' => '52',
    'monthvisit' => '169',
    'allvisit' => '11377',
    'lastvote' => '1447310088',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '23',
    'goodnum' => '4',
    'reviewsnum' => '1',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '普通签约',
    'signtime' => '1448982711',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1459347468',
    'freesize' => '181314',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1448934304',
    'allflower' => '1',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '1',
    'xunlei' => '1',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '1',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '历史军事',
    'sortname' => '历史军事',
    'type' => '架空历史',
    'typename' => '架空历史',
    'size_c' => 90657,
    'size_k' => 91,
    'size_w' => 9.1,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/17.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17&cid=3547',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=17',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=17',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=17',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/39.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%BE%B0%D2%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%ED%D4%B8%B5%C6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F17.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '17',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447299183',
  'lastupdate' => '1459347468',
  'articlename' => '许愿灯',
  'articlecode' => 'xuyuandeng',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '39',
  'author' => '风景异',
  'posterid' => '39',
  'poster' => '风景异',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '4',
  'typeid' => '20',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;上古时期的许愿灯，据说只要在灯前许愿，就能实现！<br />
&nbsp;&nbsp;但当它重现人间的时候，却引得军阀纷争，商贾眼红，更让兄弟反目！<br />
&nbsp;&nbsp;那得到许愿灯的人，是福？是祸？许愿灯，真的能实现人们的愿望吗？<br />
&nbsp;&nbsp;欲念纷争，风云再起，就让历史的马车带着我们去揭开它的神秘面纱……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '3547',
  'lastchapter' => '第二十八章&nbsp;&nbsp;商谈',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;昨天被抓来是晚上，没怎么看，眼下出了窑洞才看到，这里明显是一个小村落，各种窑洞不少，却还有数十座土胚房，墙壁厚实，朝南而建，有一些房顶此时此刻已经冒起了青烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四人的出现早就引起不少人驻足观看，好奇的眼光跟发现了新大陆一般充满色泽，同时，张镇宇从有些人眼中瞧出了一些耐人寻味的神情，大概是相马的伯乐，似乎因为在马群中发现一匹汗血宝马，让他兴奋，内心热切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然看不出在他们眼中到底表示的是什么意思，反正以张镇宇认为绝对不会是值得憧憬的喜事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走过几座房子，四人被带到了其中一座..',
  'chapters' => '28',
  'size' => '181314',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478921676',
  'dayvisit' => '13',
  'weekvisit' => '52',
  'monthvisit' => '169',
  'allvisit' => '11377',
  'lastvote' => '1447310088',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '23',
  'goodnum' => '4',
  'reviewsnum' => '1',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '普通签约',
  'signtime' => '1448982711',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1459347468',
  'freesize' => '181314',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1448934304',
  'allflower' => '1',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '1',
  'xunlei' => '1',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '1',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '历史军事',
  'sortname' => '历史军事',
  'type' => '架空历史',
  'typename' => '架空历史',
  'size_c' => 90657,
  'size_k' => 91,
  'size_w' => 9.1,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/17/17s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/17.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=17&cid=3547',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=17',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=17',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=17',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/39.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%BE%B0%D2%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%ED%D4%B8%B5%C6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F17.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
