array (
  'meta_keywords' => '盛宠之嫡女医妃 天泠 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=174&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=174&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=174&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=174&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '174',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480578457',
    'lastupdate' => '1480578754',
    'articlename' => '盛宠之嫡女医妃',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '天泠',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说盛宠之嫡女医妃简介：&nbsp;&nbsp;&nbsp;&nbsp;【爽文，双处，一生一世一双人，男主身心干净，互宠+腹黑，欢迎入坑。】<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世，南宫玥是被自己坑死的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她出生名门，身份尊贵，得当世神医倾囊相授，一身医术冠绝天下。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她倾尽一切，助他从一介皇子登上帝位，换来的却是一旨满门抄斩！<br />
&nbsp;&nbsp;&nbsp;&nbsp;她被囚冷宫，隐忍筹谋，最终亲手覆灭了他的天下。<br />
&nbsp;&nbsp;&nbsp;&nbsp;一朝大仇得报，她含笑而终，却未想，再睁眼，却回到了九岁那一年。<br />
&nbsp;&nbsp;&nbsp;&nbsp;嫡女重生，这一世，她绝不容任何人欺她、辱她、轻她、践她！<br />
&nbsp;&nbsp;&nbsp;&nbsp;年少溺亡的哥哥，疯癫早逝的母亲，这一世，她必要保他们一生幸福安泰。<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世的继母，你不是喜欢勾引有妇之夫吗？那就给你找个断袖分桃的男人，让你勾引个够！<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世的夫君，你不是为了皇位可以不择手段吗？这辈子你再怎么算计也只会与皇位无缘！<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲爱的表妹，前世的夺夫灭族之痛，一刀一刀让你慢慢还回来！<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏心的祖母，极品的亲戚，既然你们想斗，那就干脆斗个天翻地覆！<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为这一世，她会孤独终老，没想到，前世那个弑父杀弟，阴狠毒辣的“杀神”镇南王却悄然出现在了她的生命里。只是……怎么画风笔趣阁女总裁的全能兵王http://www.sbiquge.com像不太对，说笔趣阁女总裁的全能兵王http://www.sbiquge.com的冷血阴郁、心机深沉去哪儿了？<br />
&nbsp;&nbsp;&nbsp;&nbsp;——◆——<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场：<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道圣旨下，她成了他的世子妃。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“以后本姑娘出门要跟从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘的命令要服从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘讲错要盲从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘花钱要舍得。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有，以后本姑娘生气要忍得。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！以后世子妃您让往上，吾绝不敢往下！”他羞答答地抛了一个媚眼，比女人还要娇媚，“那我们就说笔趣阁女总裁的全能兵王http://www.sbiquge.com了，以后，你上我下？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她洗目，这真的是前世那个弑父杀弟的“杀神”吗？<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《盛宠之嫡女医妃》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！盛宠之嫡女医妃最新章节,盛宠之嫡女医妃无弹窗,盛宠之嫡女医妃全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《盛宠之嫡女医妃》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：盛宠之嫡女医妃最新章节,盛宠之嫡女医妃无弹窗,盛宠之嫡女医妃全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '48460',
    'lastvolume' => '正文',
    'lastchapterid' => '48680',
    'lastchapter' => '112宫宴',
    'lastsummary' => '',
    'chapters' => '113',
    'size' => '479517',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1485679043',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '169',
    'allvisit' => '299',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 239759,
    'size_k' => 240,
    'size_w' => 24,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/174.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174&cid=48680',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=174',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=174',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=174',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%E3%F6',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%E3%F6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%A2%B3%E8%D6%AE%B5%D5%C5%AE%D2%BD%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F174.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '174',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480578457',
  'lastupdate' => '1480578754',
  'articlename' => '盛宠之嫡女医妃',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '天泠',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说盛宠之嫡女医妃简介：&nbsp;&nbsp;&nbsp;&nbsp;【爽文，双处，一生一世一双人，男主身心干净，互宠+腹黑，欢迎入坑。】<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世，南宫玥是被自己坑死的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她出生名门，身份尊贵，得当世神医倾囊相授，一身医术冠绝天下。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她倾尽一切，助他从一介皇子登上帝位，换来的却是一旨满门抄斩！<br />
&nbsp;&nbsp;&nbsp;&nbsp;她被囚冷宫，隐忍筹谋，最终亲手覆灭了他的天下。<br />
&nbsp;&nbsp;&nbsp;&nbsp;一朝大仇得报，她含笑而终，却未想，再睁眼，却回到了九岁那一年。<br />
&nbsp;&nbsp;&nbsp;&nbsp;嫡女重生，这一世，她绝不容任何人欺她、辱她、轻她、践她！<br />
&nbsp;&nbsp;&nbsp;&nbsp;年少溺亡的哥哥，疯癫早逝的母亲，这一世，她必要保他们一生幸福安泰。<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世的继母，你不是喜欢勾引有妇之夫吗？那就给你找个断袖分桃的男人，让你勾引个够！<br />
&nbsp;&nbsp;&nbsp;&nbsp;前世的夫君，你不是为了皇位可以不择手段吗？这辈子你再怎么算计也只会与皇位无缘！<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲爱的表妹，前世的夺夫灭族之痛，一刀一刀让你慢慢还回来！<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏心的祖母，极品的亲戚，既然你们想斗，那就干脆斗个天翻地覆！<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为这一世，她会孤独终老，没想到，前世那个弑父杀弟，阴狠毒辣的“杀神”镇南王却悄然出现在了她的生命里。只是……怎么画风笔趣阁女总裁的全能兵王http://www.sbiquge.com像不太对，说笔趣阁女总裁的全能兵王http://www.sbiquge.com的冷血阴郁、心机深沉去哪儿了？<br />
&nbsp;&nbsp;&nbsp;&nbsp;——◆——<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场：<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道圣旨下，她成了他的世子妃。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“以后本姑娘出门要跟从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘的命令要服从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘讲错要盲从。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本姑娘花钱要舍得。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有，以后本姑娘生气要忍得。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！以后世子妃您让往上，吾绝不敢往下！”他羞答答地抛了一个媚眼，比女人还要娇媚，“那我们就说笔趣阁女总裁的全能兵王http://www.sbiquge.com了，以后，你上我下？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她洗目，这真的是前世那个弑父杀弟的“杀神”吗？<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《盛宠之嫡女医妃》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！盛宠之嫡女医妃最新章节,盛宠之嫡女医妃无弹窗,盛宠之嫡女医妃全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《盛宠之嫡女医妃》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：盛宠之嫡女医妃最新章节,盛宠之嫡女医妃无弹窗,盛宠之嫡女医妃全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '48460',
  'lastvolume' => '正文',
  'lastchapterid' => '48680',
  'lastchapter' => '112宫宴',
  'lastsummary' => '',
  'chapters' => '113',
  'size' => '479517',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1485679043',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '169',
  'allvisit' => '299',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 239759,
  'size_k' => 240,
  'size_w' => 24,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/174.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=174&cid=48680',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=174',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=174',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=174',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%E3%F6',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%E3%F6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%A2%B3%E8%D6%AE%B5%D5%C5%AE%D2%BD%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F174.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)