array (
  'meta_keywords' => '云鹤飞侠传 仰望星空 武侠修真',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=19&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=19&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=19&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=19&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '19',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447322963',
    'lastupdate' => '1447848820',
    'articlename' => '云鹤飞侠传',
    'articlecode' => 'yunhefeixiachuan',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '21',
    'author' => '仰望星空',
    'posterid' => '21',
    'poster' => '仰望星空',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '7',
    'libid' => '0',
    'intro' => '肖云鹤原本是将军之子奈何，国之衰败，被奸人所害。父亲惨死。自己流落他乡。自己在猛然不知情的情况下，被他人收养，当得知真相的自己该如何面对眼前的一切。是复仇，还是忘记过去重新开始。',
    'notice' => '本书是我的第一次写武侠，虽然现如今武侠不怎么被追捧。但是遥想当年的古龙金庸还是让人无比怀念的。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '330',
    'lastchapter' => '第四章云鹤险遭毒手',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;林月瑶看着绮兰手中所抱着婴儿不是别人正是自己的幼儿云鹤。便走上前去打算拼个鱼死网破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“绮兰我本无心说出你的事，奈何你欺人太甚，我并没有杀害姥姥，要嫁祸于我。大家听我说，姥姥就是绮兰害死的，她是空洞派的奸细，她一直在轻罗派的目的就是为了毁灭神梦谷。姥姥就是杀害她父母的仇人，她根本就是为了报仇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大家不要听你胡说八道，她本来就是来历不明，一来就给我们带来了麻烦，大家不要相信她的胡言乱语。”绮兰急忙打断林月瑶的话。这是轻罗派其她弟子议论纷纷似乎对林月瑶的话动摇了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师姐..',
    'chapters' => '4',
    'size' => '10164',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478918254',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '5517',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '8',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1447848820',
    'freesize' => '10164',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '传统武侠',
    'typename' => '传统武侠',
    'size_c' => 5082,
    'size_k' => 6,
    'size_w' => 0.5,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/19.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19&cid=330',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=19',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=19',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=19',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/21.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%F6%CD%FB%D0%C7%BF%D5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%C6%BA%D7%B7%C9%CF%C0%B4%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F19.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '19',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447322963',
  'lastupdate' => '1447848820',
  'articlename' => '云鹤飞侠传',
  'articlecode' => 'yunhefeixiachuan',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '21',
  'author' => '仰望星空',
  'posterid' => '21',
  'poster' => '仰望星空',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '7',
  'libid' => '0',
  'intro' => '肖云鹤原本是将军之子奈何，国之衰败，被奸人所害。父亲惨死。自己流落他乡。自己在猛然不知情的情况下，被他人收养，当得知真相的自己该如何面对眼前的一切。是复仇，还是忘记过去重新开始。',
  'notice' => '本书是我的第一次写武侠，虽然现如今武侠不怎么被追捧。但是遥想当年的古龙金庸还是让人无比怀念的。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '330',
  'lastchapter' => '第四章云鹤险遭毒手',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;林月瑶看着绮兰手中所抱着婴儿不是别人正是自己的幼儿云鹤。便走上前去打算拼个鱼死网破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“绮兰我本无心说出你的事，奈何你欺人太甚，我并没有杀害姥姥，要嫁祸于我。大家听我说，姥姥就是绮兰害死的，她是空洞派的奸细，她一直在轻罗派的目的就是为了毁灭神梦谷。姥姥就是杀害她父母的仇人，她根本就是为了报仇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大家不要听你胡说八道，她本来就是来历不明，一来就给我们带来了麻烦，大家不要相信她的胡言乱语。”绮兰急忙打断林月瑶的话。这是轻罗派其她弟子议论纷纷似乎对林月瑶的话动摇了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师姐..',
  'chapters' => '4',
  'size' => '10164',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478918254',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '5517',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '8',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1447848820',
  'freesize' => '10164',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '传统武侠',
  'typename' => '传统武侠',
  'size_c' => 5082,
  'size_k' => 6,
  'size_w' => 0.5,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/19/19s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/19.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=19&cid=330',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=19',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=19',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=19',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/21.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%F6%CD%FB%D0%C7%BF%D5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%C6%BA%D7%B7%C9%CF%C0%B4%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F19.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
