array (
  'meta_keywords' => '邪王娇宠:王妃千千岁 锦瑟 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=199&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=199&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=199&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=199&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '199',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1458299240',
    'lastupdate' => '1473867393',
    'articlename' => '邪王娇宠:王妃千千岁',
    'articlecode' => 'xiewangjiaochong_wangfeiqianqiansui',
    'backupname' => '闯入你心，独占为王',
    'keywords' => '帝王 穿越 独宠',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '470',
    'author' => '锦瑟',
    'posterid' => '470',
    'poster' => '锦瑟',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '自从他强行给她改了名,他开始占她床,上她房。“这里是本王的地盘。”他指着她的心。“抱歉,这里住人了。”她关上房门,推他出去。他发誓闯她心房,独占为王。她越来越骄纵什么人都敢打,他努力强大,护她一生周全,天大的祸都能替她抗下。“王爷,王妃在与皇后打架?”“谁赢了?”他问。“王妃赢了。” 有侍卫答。“由她。”<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '31895',
    'lastchapter' => '第60章 恭迎他回京',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不等两人逛完半条街，宁博便带着人风风火火的堵在街道上，将凌王与紫兰围了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“凌王殿下，陛下命臣等在此恭迎殿下。”宁博虚张声势的不是要抓捕穆君陌，而是他刚收到皇帝的书信，要他赶紧将穆君陌带回京城，还要好好待着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇兄这是何意？”穆君陌清楚穆君逸的每一步行动，欠扁的在宁博面前装作一副，我啥也不知道的神情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，希望殿下尽早回京，准备出征岭南。”宁博将穆君逸的旨意传达给凌王穆君陌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穆君陌笑了起来，在大事上面，他的皇兄一点也不含糊，从来不脱离带水，果敢而又精明。..',
    'chapters' => '113',
    'size' => '375354',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479080928',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '689',
    'allvisit' => '18523',
    'lastvote' => '1468386696',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '36',
    'goodnum' => '16',
    'reviewsnum' => '7',
    'ratenum' => 23,
    'ratesum' => 230,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1467261896',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1467215383',
    'freesize' => '386318',
    'isvip' => '签约',
    'viptime' => '1473867393',
    'vipid' => '65',
    'vippubid' => '0',
    'vipchapters' => '71',
    'vipsize' => '199801',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '97194',
    'vipchapter' => '第112章 退路',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;鬼医瞄了一眼已经达到门口的杀手，然后不紧不慢地从怀里拿出一包白色的粉末，又对紫兰说道，“丫头，让开一点，等会儿老头子伤到你就不好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着嗖的一下走到门口，将白色粉末抓在手中，朝着正在打斗的众人抛洒去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这东西果然有效，杀手们纷纷捂着自己的眼睛一片混乱，被逼迫到门口的鬼影也未能幸免于难，甚至伤的比其他杀手要重的多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也不看看这里是谁的地方，告诉你们的主子，再敢踏入鬼医的地盘一步，老头子定要了他的命。”鬼医双手叉腰，站在门口厉声喝道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀手们都听过鬼医的名声，眼睛..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '1',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 187677,
    'size_k' => 188,
    'size_w' => 18.8,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/199/199s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/199/199s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/199/199l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/199.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199&cid=31895',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=65&cid=97194',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=199',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=199',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=199',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/470.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%F5%C9%AA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%B0%CD%F5%BD%BF%B3%E8%3A%CD%F5%E5%FA%C7%A7%C7%A7%CB%EA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F199.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '199',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1458299240',
  'lastupdate' => '1473867393',
  'articlename' => '邪王娇宠:王妃千千岁',
  'articlecode' => 'xiewangjiaochong_wangfeiqianqiansui',
  'backupname' => '闯入你心，独占为王',
  'keywords' => '帝王 穿越 独宠',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '470',
  'author' => '锦瑟',
  'posterid' => '470',
  'poster' => '锦瑟',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '自从他强行给她改了名,他开始占她床,上她房。“这里是本王的地盘。”他指着她的心。“抱歉,这里住人了。”她关上房门,推他出去。他发誓闯她心房,独占为王。她越来越骄纵什么人都敢打,他努力强大,护她一生周全,天大的祸都能替她抗下。“王爷,王妃在与皇后打架?”“谁赢了?”他问。“王妃赢了。” 有侍卫答。“由她。”<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '31895',
  'lastchapter' => '第60章 恭迎他回京',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不等两人逛完半条街，宁博便带着人风风火火的堵在街道上，将凌王与紫兰围了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“凌王殿下，陛下命臣等在此恭迎殿下。”宁博虚张声势的不是要抓捕穆君陌，而是他刚收到皇帝的书信，要他赶紧将穆君陌带回京城，还要好好待着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇兄这是何意？”穆君陌清楚穆君逸的每一步行动，欠扁的在宁博面前装作一副，我啥也不知道的神情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，希望殿下尽早回京，准备出征岭南。”宁博将穆君逸的旨意传达给凌王穆君陌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穆君陌笑了起来，在大事上面，他的皇兄一点也不含糊，从来不脱离带水，果敢而又精明。..',
  'chapters' => '113',
  'size' => '375354',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479080928',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '689',
  'allvisit' => '18523',
  'lastvote' => '1468386696',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '36',
  'goodnum' => '16',
  'reviewsnum' => '7',
  'ratenum' => 23,
  'ratesum' => 230,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1467261896',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1467215383',
  'freesize' => '386318',
  'isvip' => '签约',
  'viptime' => '1473867393',
  'vipid' => '65',
  'vippubid' => '0',
  'vipchapters' => '71',
  'vipsize' => '199801',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '97194',
  'vipchapter' => '第112章 退路',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;鬼医瞄了一眼已经达到门口的杀手，然后不紧不慢地从怀里拿出一包白色的粉末，又对紫兰说道，“丫头，让开一点，等会儿老头子伤到你就不好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着嗖的一下走到门口，将白色粉末抓在手中，朝着正在打斗的众人抛洒去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这东西果然有效，杀手们纷纷捂着自己的眼睛一片混乱，被逼迫到门口的鬼影也未能幸免于难，甚至伤的比其他杀手要重的多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也不看看这里是谁的地方，告诉你们的主子，再敢踏入鬼医的地盘一步，老头子定要了他的命。”鬼医双手叉腰，站在门口厉声喝道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀手们都听过鬼医的名声，眼睛..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '1',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 187677,
  'size_k' => 188,
  'size_w' => 18.8,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/199/199s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/199/199s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/199/199l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/199.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=199&cid=31895',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=65&cid=97194',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=199',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=199',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=199',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/470.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%F5%C9%AA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%B0%CD%F5%BD%BF%B3%E8%3A%CD%F5%E5%FA%C7%A7%C7%A7%CB%EA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F199.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '帝王',
      'tagencode' => '%B5%DB%CD%F5',
    ),
    1 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
    2 => 
    array (
      'tagname' => '独宠',
      'tagencode' => '%B6%C0%B3%E8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
