array (
  'meta_keywords' => '豪门缔造者 龙们客 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=212&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=212&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=212&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=212&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '212',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480601165',
    'lastupdate' => '1480601303',
    'articlename' => '豪门缔造者',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '龙们客',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说豪门缔造者简介：&nbsp;&nbsp;&nbsp;&nbsp;这一年，雷哈格尔高唱希腊神话，温格教授演绎不败夺冠，利兹联降临英冠元年，球队面临托管的危险。于此危难之时，一位灵魂来自后世的球迷接手风雨飘摇之中的白衣军团，亲手缔造着一个又一个的青年近卫军神话，将利兹联打造成为一支传奇豪门。我，即是豪门！——《钟诚语录》<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门缔造者》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！豪门缔造者最新章节,豪门缔造者无弹窗,豪门缔造者全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门缔造者》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：豪门缔造者最新章节,豪门缔造者无弹窗,豪门缔造者全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '64369',
    'lastchapter' => '第【093】集：让我看看你有多厉害',
    'lastsummary' => '',
    'chapters' => '94',
    'size' => '698545',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1482700096',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '104',
    'allvisit' => '104',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '',
    'typename' => '',
    'size_c' => 349273,
    'size_k' => 350,
    'size_w' => 34.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/212.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212&cid=64369',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=212',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=212',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=212',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C3%C7%BF%CD',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C3%C7%BF%CD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%C0%C3%C5%B5%DE%D4%EC%D5%DF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F212.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '212',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480601165',
  'lastupdate' => '1480601303',
  'articlename' => '豪门缔造者',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '龙们客',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说豪门缔造者简介：&nbsp;&nbsp;&nbsp;&nbsp;这一年，雷哈格尔高唱希腊神话，温格教授演绎不败夺冠，利兹联降临英冠元年，球队面临托管的危险。于此危难之时，一位灵魂来自后世的球迷接手风雨飘摇之中的白衣军团，亲手缔造着一个又一个的青年近卫军神话，将利兹联打造成为一支传奇豪门。我，即是豪门！——《钟诚语录》<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门缔造者》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！豪门缔造者最新章节,豪门缔造者无弹窗,豪门缔造者全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门缔造者》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：豪门缔造者最新章节,豪门缔造者无弹窗,豪门缔造者全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '64369',
  'lastchapter' => '第【093】集：让我看看你有多厉害',
  'lastsummary' => '',
  'chapters' => '94',
  'size' => '698545',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1482700096',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '104',
  'allvisit' => '104',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '',
  'typename' => '',
  'size_c' => 349273,
  'size_k' => 350,
  'size_w' => 34.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/212.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=212&cid=64369',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=212',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=212',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=212',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C3%C7%BF%CD',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C3%C7%BF%CD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%C0%C3%C5%B5%DE%D4%EC%D5%DF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F212.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)