array (
  'meta_keywords' => '倾世魔妃：谍战腹黑冷君 雨霏霏 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=22&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=22&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=22&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=22&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '22',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1479969285',
    'lastupdate' => '1480047932',
    'articlename' => '倾世魔妃：谍战腹黑冷君',
    'articlecode' => 'qingshimofei_diezhanfuheilingjun',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '5',
    'author' => '雨霏霏',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '身为一名特工，慕烟翎觉得自己死的有些窝囊，没死在敌人的枪口下，却死在了同伴的出卖中……不过老天也算待她不薄，一睁眼她竟成了堂堂魔教的公主……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '312',
    'lastvolume' => '终卷',
    'lastchapterid' => '391',
    'lastchapter' => '本书完结，感谢大家的支持！',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;本书完结，感谢大家的支持！',
    'chapters' => '167',
    'size' => '1047399',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1487675693',
    'dayvisit' => '78',
    'weekvisit' => '156',
    'monthvisit' => '949',
    'allvisit' => '5967',
    'lastvote' => '1481774780',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '1',
    'reviewsnum' => '3',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '1479977744',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '1',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1479972515',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1480047932',
    'freesize' => '1047399',
    'isvip' => 'VIP',
    'viptime' => '1480047932',
    'vipid' => '18',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '1',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '1',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 523700,
    'size_k' => 524,
    'size_w' => 52.4,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/22/22s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/22/22s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/22/22l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/22.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22&cid=391',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=22',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=22',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=22',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/5.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E3%CA%C0%C4%A7%E5%FA%A3%BA%B5%FD%D5%BD%B8%B9%BA%DA%C0%E4%BE%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F22.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '22',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1479969285',
  'lastupdate' => '1480047932',
  'articlename' => '倾世魔妃：谍战腹黑冷君',
  'articlecode' => 'qingshimofei_diezhanfuheilingjun',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '5',
  'author' => '雨霏霏',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '身为一名特工，慕烟翎觉得自己死的有些窝囊，没死在敌人的枪口下，却死在了同伴的出卖中……不过老天也算待她不薄，一睁眼她竟成了堂堂魔教的公主……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '312',
  'lastvolume' => '终卷',
  'lastchapterid' => '391',
  'lastchapter' => '本书完结，感谢大家的支持！',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;本书完结，感谢大家的支持！',
  'chapters' => '167',
  'size' => '1047399',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1487675693',
  'dayvisit' => '78',
  'weekvisit' => '156',
  'monthvisit' => '949',
  'allvisit' => '5967',
  'lastvote' => '1481774780',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '1',
  'reviewsnum' => 15,
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '1479977744',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '1',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1479972515',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1480047932',
  'freesize' => '1047399',
  'isvip' => 'VIP',
  'viptime' => '1480047932',
  'vipid' => '18',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '1',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '1',
  'blackrose' => '0',
  'greenrose' => '0',
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 523700,
  'size_k' => 524,
  'size_w' => 52.4,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/22/22s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/22/22s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/22/22l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/22.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=22&cid=391',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=22',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=22',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=22',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/5.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E3%CA%C0%C4%A7%E5%FA%A3%BA%B5%FD%D5%BD%B8%B9%BA%DA%C0%E4%BE%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F22.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)