array (
  'meta_keywords' => '极道战神之剑划苍穹 残苍 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=224&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=224&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=224&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=224&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '224',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1459340002',
    'lastupdate' => '1459425546',
    'articlename' => '极道战神之剑划苍穹',
    'articlecode' => 'jidaozhanshenzhijianhuacangqiong',
    'backupname' => '',
    'keywords' => '升级 修炼 玄幻',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '523',
    'author' => '残苍',
    'posterid' => '523',
    'poster' => '残苍',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '这个世界只有斗器者，斗兽者，还有极少数人选择的斗龙者，但从没有人选过斗道者这条路。<br />
&nbsp;&nbsp;茫茫大陆上，一位帅气的少年王峰，他英勇，热血忠义，他选择成为斗道者，踏上了一条无法回头的道路。<br />
&nbsp;&nbsp;他是战神，他为了自己家族被灭的真相踏上一条苍茫道路。他是情种，他为了自己的女人牺牲自己。他的坚信无所不催，无人能敌。<br />
&nbsp;&nbsp; 上古苍茫，谁懂我心。今天，我要你死，你必须死。<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '3619',
    'lastvolume' => '诞生的新希望',
    'lastchapterid' => '3539',
    'lastchapter' => '第一章&nbsp;&nbsp;对战',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这里是一个满天金光的世界，荒芜的大地上都是血，唯独只有躺在地上死去多日的尸体，上面还有几只苍蝇在乱飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&quot;哼，龙傲天你找死，居然不遵守约定，又杀我兄弟，要不是有事情耽搁了，否则我怎么会让你杀他。”王城大声说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“桀桀桀桀……，你以为你谁啊，我为什么要听你的呢，我高兴你管得着吗。”龙傲天一脸狡诈的笑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，我就知道你龙傲天没安没什么好心，看看我把你的谁带来了。”“小天，小天救我。“这个女人叫风清，是王山风家的掌门人，控制着大权，境界是荒芜境，突破了龙行大陆世界规定只能存..',
    'chapters' => '4',
    'size' => '10605',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478631737',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '26',
    'allvisit' => '3893',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '1',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1459425546',
    'freesize' => '10605',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 5303,
    'size_k' => 6,
    'size_w' => 0.5,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/224.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224&cid=3539',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=224',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=224',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=224',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/523.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%D0%B2%D4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%AB%B5%C0%D5%BD%C9%F1%D6%AE%BD%A3%BB%AE%B2%D4%F1%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F224.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '224',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1459340002',
  'lastupdate' => '1459425546',
  'articlename' => '极道战神之剑划苍穹',
  'articlecode' => 'jidaozhanshenzhijianhuacangqiong',
  'backupname' => '',
  'keywords' => '升级 修炼 玄幻',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '523',
  'author' => '残苍',
  'posterid' => '523',
  'poster' => '残苍',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '这个世界只有斗器者，斗兽者，还有极少数人选择的斗龙者，但从没有人选过斗道者这条路。<br />
&nbsp;&nbsp;茫茫大陆上，一位帅气的少年王峰，他英勇，热血忠义，他选择成为斗道者，踏上了一条无法回头的道路。<br />
&nbsp;&nbsp;他是战神，他为了自己家族被灭的真相踏上一条苍茫道路。他是情种，他为了自己的女人牺牲自己。他的坚信无所不催，无人能敌。<br />
&nbsp;&nbsp; 上古苍茫，谁懂我心。今天，我要你死，你必须死。<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '3619',
  'lastvolume' => '诞生的新希望',
  'lastchapterid' => '3539',
  'lastchapter' => '第一章&nbsp;&nbsp;对战',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这里是一个满天金光的世界，荒芜的大地上都是血，唯独只有躺在地上死去多日的尸体，上面还有几只苍蝇在乱飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&quot;哼，龙傲天你找死，居然不遵守约定，又杀我兄弟，要不是有事情耽搁了，否则我怎么会让你杀他。”王城大声说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“桀桀桀桀……，你以为你谁啊，我为什么要听你的呢，我高兴你管得着吗。”龙傲天一脸狡诈的笑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，我就知道你龙傲天没安没什么好心，看看我把你的谁带来了。”“小天，小天救我。“这个女人叫风清，是王山风家的掌门人，控制着大权，境界是荒芜境，突破了龙行大陆世界规定只能存..',
  'chapters' => '4',
  'size' => '10605',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478631737',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '26',
  'allvisit' => '3893',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '1',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1459425546',
  'freesize' => '10605',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 5303,
  'size_k' => 6,
  'size_w' => 0.5,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/224.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=224&cid=3539',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=224',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=224',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=224',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/523.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%D0%B2%D4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%AB%B5%C0%D5%BD%C9%F1%D6%AE%BD%A3%BB%AE%B2%D4%F1%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F224.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
    1 => 
    array (
      'tagname' => '修炼',
      'tagencode' => '%D0%DE%C1%B6',
    ),
    2 => 
    array (
      'tagname' => '玄幻',
      'tagencode' => '%D0%FE%BB%C3',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
