array (
  'meta_keywords' => '专案罪中罪 诡辩机 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=226&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=226&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=226&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=226&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '226',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1459414187',
    'lastupdate' => '1459416066',
    'articlename' => '专案罪中罪',
    'articlecode' => 'zhuananzuizhongzui',
    'backupname' => '',
    'keywords' => '破案推理',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '584',
    'author' => '诡辩机',
    'posterid' => '584',
    'poster' => '诡辩机',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '这本书究竟要写出多少不可告人的真相，我现在不想说！<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我只是发现，在一些人眼里，他们杀人是为了泄欲，犯罪是为了满足自己...在这些种种极端的罪行背后，究竟隐藏着多少不可告人的秘密！神秘团队的意外成立，特殊成员的相继加入，使得他们为了调查真相四处奔波，我只是在故事中赋予他们特殊地能力，让他们替那些犯下滔天大罪的人赎罪。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;佛说.：“正所谓！我不入地狱谁入地狱！”——<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在各种悬案、灵异事件、和荒诞不经诡异的事件面前……<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 他们究竟是如何调查事实的真相，又如何揭穿那些荒谬的谎言...甚至多次以身犯险又巧妙脱身，解开了一个又一个不可思议的谜团！<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各位…敬请关注？',
    'notice' => '本人诡辩机，在这里申明：<br />
&nbsp;&nbsp;&nbsp;&nbsp; 辩机以独特的风格开开始写这本新书《专案罪中罪》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我保证，不太监烂尾，希望各位可爱的读者们多多支持',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '3589',
    'lastvolume' => '正文',
    'lastchapterid' => '3609',
    'lastchapter' => '第二十章 自私的人生',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“哒…哒…哒”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着慢慢逼近的脚步声， 许嘉云在不停地回想着李易曾教她的那些所谓一招制敌的招数，只是自己平时从来没有再练过，而在真正突发情况面前，对她来说这些根本不管用……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;脚步声越来越近…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许嘉云顺势举起旁边的一把木头椅子猛地向进来房间的那个男人头部砸了下去…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咔嚓”——<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;椅子断了，但是效果很不理想，男人却并没有倒下！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人被砸后恶狠狠的看着她，摸着鲜血直流的脑袋，然后一步步慢慢逼近了她……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别过来……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她知道如果今天不制服他，那自己今..',
    'chapters' => '22',
    'size' => '119618',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478448218',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '26',
    'allvisit' => '5950',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '3',
    'reviewsnum' => '2',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1459416066',
    'freesize' => '119618',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 59809,
    'size_k' => 60,
    'size_w' => 6,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/226.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226&cid=3609',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=226',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=226',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=226',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/584.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%EE%B1%E7%BB%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%A8%B0%B8%D7%EF%D6%D0%D7%EF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F226.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '226',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1459414187',
  'lastupdate' => '1459416066',
  'articlename' => '专案罪中罪',
  'articlecode' => 'zhuananzuizhongzui',
  'backupname' => '',
  'keywords' => '破案推理',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '584',
  'author' => '诡辩机',
  'posterid' => '584',
  'poster' => '诡辩机',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '这本书究竟要写出多少不可告人的真相，我现在不想说！<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我只是发现，在一些人眼里，他们杀人是为了泄欲，犯罪是为了满足自己...在这些种种极端的罪行背后，究竟隐藏着多少不可告人的秘密！神秘团队的意外成立，特殊成员的相继加入，使得他们为了调查真相四处奔波，我只是在故事中赋予他们特殊地能力，让他们替那些犯下滔天大罪的人赎罪。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;佛说.：“正所谓！我不入地狱谁入地狱！”——<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在各种悬案、灵异事件、和荒诞不经诡异的事件面前……<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 他们究竟是如何调查事实的真相，又如何揭穿那些荒谬的谎言...甚至多次以身犯险又巧妙脱身，解开了一个又一个不可思议的谜团！<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各位…敬请关注？',
  'notice' => '本人诡辩机，在这里申明：<br />
&nbsp;&nbsp;&nbsp;&nbsp; 辩机以独特的风格开开始写这本新书《专案罪中罪》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我保证，不太监烂尾，希望各位可爱的读者们多多支持',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '3589',
  'lastvolume' => '正文',
  'lastchapterid' => '3609',
  'lastchapter' => '第二十章 自私的人生',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“哒…哒…哒”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着慢慢逼近的脚步声， 许嘉云在不停地回想着李易曾教她的那些所谓一招制敌的招数，只是自己平时从来没有再练过，而在真正突发情况面前，对她来说这些根本不管用……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;脚步声越来越近…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许嘉云顺势举起旁边的一把木头椅子猛地向进来房间的那个男人头部砸了下去…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咔嚓”——<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;椅子断了，但是效果很不理想，男人却并没有倒下！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人被砸后恶狠狠的看着她，摸着鲜血直流的脑袋，然后一步步慢慢逼近了她……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别过来……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她知道如果今天不制服他，那自己今..',
  'chapters' => '22',
  'size' => '119618',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478448218',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '26',
  'allvisit' => '5950',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '3',
  'reviewsnum' => '2',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1459416066',
  'freesize' => '119618',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 59809,
  'size_k' => 60,
  'size_w' => 6,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/226/226s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/226.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=226&cid=3609',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=226',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=226',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=226',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/584.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%EE%B1%E7%BB%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%A8%B0%B8%D7%EF%D6%D0%D7%EF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F226.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '破案推理',
      'tagencode' => '%C6%C6%B0%B8%CD%C6%C0%ED',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
