array (
  'meta_keywords' => '何以篱笙 悠悠我心 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=29&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=29&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=29&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=29&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '29',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447580716',
    'lastupdate' => '1450449789',
    'articlename' => '何以篱笙',
    'articlecode' => 'heyilisheng',
    'backupname' => '为了你我抛弃全天下，你却为了全天下弃我而去。',
    'keywords' => '虐恋 幻想言情',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '66',
    'author' => '悠悠我心',
    'posterid' => '66',
    'poster' => '悠悠我心',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '9',
    'typeid' => '35',
    'libid' => '0',
    'intro' => '世人都觉得穆篱笙不是人，美艳得不像个人，看一眼就会七窍流血，当场暴毙！荒谬！世人都说幻雪城是人间鬼蜮，妖孽横行！唯恐避之不及。无知！世人又说，幻雪城主穆篱笙是的冷血狂魔，专勾引美貌男子，吸其精气、食其心。无耻！可也有人说，世间唯一能够拯救这场天地浩劫的人只能是穆篱笙，幻雪城才是最安全的地方。<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '246',
    'lastvolume' => '第一卷',
    'lastchapterid' => '1278',
    'lastchapter' => '第048章：完结篇',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“杜鹃啼血！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句剑招夺口而出，踏归背上的剑哗然出鞘，空气中布满密不透气的剑网，铺天盖地的朝贾玉卓横扫过去，贾玉卓慌乱的舞动着手中的长鞭，鞭子如雨般向剑身上抽去，然而每一鞭都抽向虚空。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;忘情剑的走势变化十分之快，别说身处剑阵的贾玉卓，就是台下观望的北忆寒，都惊叹踏归剑法精进之快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不到三四招，贾玉卓已经开始力不从心，丝毫扑捉不到对方的剑身移动方位，当她正要准备放弃之时，突然，忘情剑上游弋着更加凶狠凌烈的杀气，狠狠的朝她刺来，招招夺命！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她急忙身体后移，然而忘情剑仿..',
    'chapters' => '49',
    'size' => '237043',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479015227',
    'dayvisit' => '39',
    'weekvisit' => '221',
    'monthvisit' => '507',
    'allvisit' => '34294',
    'lastvote' => '1453293957',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '7',
    'goodnum' => '9',
    'reviewsnum' => '3',
    'ratenum' => 10,
    'ratesum' => 100,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '全本',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1448904549',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1450449789',
    'freesize' => '237043',
    'isvip' => '签约',
    'viptime' => '1450320565',
    'vipid' => '10',
    'vippubid' => '0',
    'vipchapters' => '15',
    'vipsize' => '97558',
    'vipvolumeid' => '246',
    'vipvolume' => '第一卷',
    'vipchapterid' => '1252',
    'vipchapter' => '第047章：易水茫茫',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一眼望去，整个世界被漫天飞雪所覆盖，白茫茫的一片，只有一条宽阔的河流横立在眼前，河水依旧涓涓横流，清澈的如一池透明水晶在涌动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“故人何在？易水茫茫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北忆寒不知何时已下马，一袭白衣伫立在易水之畔，眺望着澄澈流动的江面，乌黑的长发在风雪中盈盈而动，整个人看上去比四周的积雪还净白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白凌风也紧跟着下马走到她的身侧，向来擅长诗词的他自然知道北忆寒口中感慨的是秦时燕国的烈士荆轲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一场江山梦，半世凄迷情，物是人非山河依旧。到底结果如何？何处淬吴钩，一片城荒枕碧流，曾是..',
    'lastflower' => '1449158931',
    'allflower' => '20',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '1',
    'zhangyue' => '1',
    'iqiyi' => '1',
    'xunlei' => '1',
    'ledu' => '1',
    'yueduxing' => '1',
    'kaiyue' => '1',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '修真',
    'typename' => '修真',
    'size_c' => 118522,
    'size_k' => 119,
    'size_w' => 11.9,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/29/29s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/29/29s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/29/29l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/29.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29&cid=1278',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=10&cid=1252',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=29',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=29',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=29',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/66.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%C6%D3%C6%CE%D2%D0%C4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%CE%D2%D4%C0%E9%F3%CF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F29.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '29',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447580716',
  'lastupdate' => '1450449789',
  'articlename' => '何以篱笙',
  'articlecode' => 'heyilisheng',
  'backupname' => '为了你我抛弃全天下，你却为了全天下弃我而去。',
  'keywords' => '虐恋 幻想言情',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '66',
  'author' => '悠悠我心',
  'posterid' => '66',
  'poster' => '悠悠我心',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '9',
  'typeid' => '35',
  'libid' => '0',
  'intro' => '世人都觉得穆篱笙不是人，美艳得不像个人，看一眼就会七窍流血，当场暴毙！荒谬！世人都说幻雪城是人间鬼蜮，妖孽横行！唯恐避之不及。无知！世人又说，幻雪城主穆篱笙是的冷血狂魔，专勾引美貌男子，吸其精气、食其心。无耻！可也有人说，世间唯一能够拯救这场天地浩劫的人只能是穆篱笙，幻雪城才是最安全的地方。<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '246',
  'lastvolume' => '第一卷',
  'lastchapterid' => '1278',
  'lastchapter' => '第048章：完结篇',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“杜鹃啼血！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句剑招夺口而出，踏归背上的剑哗然出鞘，空气中布满密不透气的剑网，铺天盖地的朝贾玉卓横扫过去，贾玉卓慌乱的舞动着手中的长鞭，鞭子如雨般向剑身上抽去，然而每一鞭都抽向虚空。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;忘情剑的走势变化十分之快，别说身处剑阵的贾玉卓，就是台下观望的北忆寒，都惊叹踏归剑法精进之快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不到三四招，贾玉卓已经开始力不从心，丝毫扑捉不到对方的剑身移动方位，当她正要准备放弃之时，突然，忘情剑上游弋着更加凶狠凌烈的杀气，狠狠的朝她刺来，招招夺命！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她急忙身体后移，然而忘情剑仿..',
  'chapters' => '49',
  'size' => '237043',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479015227',
  'dayvisit' => '39',
  'weekvisit' => '221',
  'monthvisit' => '507',
  'allvisit' => '34294',
  'lastvote' => '1453293957',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '7',
  'goodnum' => '9',
  'reviewsnum' => '3',
  'ratenum' => 10,
  'ratesum' => 100,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '全本',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1448904549',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1450449789',
  'freesize' => '237043',
  'isvip' => '签约',
  'viptime' => '1450320565',
  'vipid' => '10',
  'vippubid' => '0',
  'vipchapters' => '15',
  'vipsize' => '97558',
  'vipvolumeid' => '246',
  'vipvolume' => '第一卷',
  'vipchapterid' => '1252',
  'vipchapter' => '第047章：易水茫茫',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一眼望去，整个世界被漫天飞雪所覆盖，白茫茫的一片，只有一条宽阔的河流横立在眼前，河水依旧涓涓横流，清澈的如一池透明水晶在涌动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“故人何在？易水茫茫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北忆寒不知何时已下马，一袭白衣伫立在易水之畔，眺望着澄澈流动的江面，乌黑的长发在风雪中盈盈而动，整个人看上去比四周的积雪还净白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白凌风也紧跟着下马走到她的身侧，向来擅长诗词的他自然知道北忆寒口中感慨的是秦时燕国的烈士荆轲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一场江山梦，半世凄迷情，物是人非山河依旧。到底结果如何？何处淬吴钩，一片城荒枕碧流，曾是..',
  'lastflower' => '1449158931',
  'allflower' => '20',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '1',
  'zhangyue' => '1',
  'iqiyi' => '1',
  'xunlei' => '1',
  'ledu' => '1',
  'yueduxing' => '1',
  'kaiyue' => '1',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '修真',
  'typename' => '修真',
  'size_c' => 118522,
  'size_k' => 119,
  'size_w' => 11.9,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/29/29s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/29/29s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/29/29l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/29.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=29&cid=1278',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=10&cid=1252',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=29',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=29',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=29',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/66.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%C6%D3%C6%CE%D2%D0%C4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%CE%D2%D4%C0%E9%F3%CF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F29.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
    1 => 
    array (
      'tagname' => '幻想言情',
      'tagencode' => '%BB%C3%CF%EB%D1%D4%C7%E9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
