array (
  'meta_keywords' => '噩神 主攻都市玄幻 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=296&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=296&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=296&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=296&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '296',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1462075190',
    'lastupdate' => '1462361907',
    'articlename' => '噩神',
    'articlecode' => 'eshen',
    'backupname' => '给世界带来各种灾难的噩神传说！',
    'keywords' => '命运 爱情 欺骗 噩兽 激战',
    'roles' => '',
    'initial' => 'E',
    'authorid' => '438',
    'author' => '主攻都市玄幻',
    'posterid' => '438',
    'poster' => '主攻都市玄幻',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '14',
    'libid' => '0',
    'intro' => '　　少一些套路，多一些真诚。<br />
　　尽在主攻的小说，二次元大作噩神。<br />
　　为了防止剧透，具体内容就不多做简绍了。<br />
　　本作《噩神》是主攻的心血之作，希望大家能够喜欢。',
    'notice' => '&nbsp;&nbsp;&nbsp;&nbsp;转眼5月就到了，没错！主攻说了5月1日就是5月1日。<br />
&nbsp;&nbsp;&nbsp;&nbsp;本作的完成度绝对不是第一本邪君物语所能比的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;希望大家能够喜欢，继续支持主攻~！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '7079',
    'lastvolume' => '第一卷 命中注定',
    'lastchapterid' => '7625',
    'lastchapter' => '第四章 天绝',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第二天一早，客厅中的轻微响动将长发少年惊醒。他走出卧室一看，原来是姬晓涵放在桌上的手机在不停的振动着。拿起手机一看，显示的是一个叫芸菲的名字。他随手按下了接听，电话那头立马传来了一个少女的诉苦声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我说晓涵啊，你昨天可把姑奶奶我给害苦啦，你知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长发少年刚听到这里，就发现姬晓涵睡意朦胧的拉开了客房房门，揉着眼睛走了出来。长发少年似笑非笑的看着她，指了指他手里的手机，然后故作亲密的大声说道：“晓涵，你朋友的电话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一声，把姬晓涵侧底惊醒了过来。她三两步跑到了长发..',
    'chapters' => '5',
    'size' => '26149',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479059005',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '65',
    'allvisit' => '29739',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 9,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1462361907',
    'freesize' => '26149',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市异能',
    'typename' => '都市异能',
    'size_c' => 13075,
    'size_k' => 14,
    'size_w' => 1.3,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/296.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296&cid=7625',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=296',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=296',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=296',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/438.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%F7%B9%A5%B6%BC%CA%D0%D0%FE%BB%C3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D8%AC%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F296.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '296',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1462075190',
  'lastupdate' => '1462361907',
  'articlename' => '噩神',
  'articlecode' => 'eshen',
  'backupname' => '给世界带来各种灾难的噩神传说！',
  'keywords' => '命运 爱情 欺骗 噩兽 激战',
  'roles' => '',
  'initial' => 'E',
  'authorid' => '438',
  'author' => '主攻都市玄幻',
  'posterid' => '438',
  'poster' => '主攻都市玄幻',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '14',
  'libid' => '0',
  'intro' => '　　少一些套路，多一些真诚。<br />
　　尽在主攻的小说，二次元大作噩神。<br />
　　为了防止剧透，具体内容就不多做简绍了。<br />
　　本作《噩神》是主攻的心血之作，希望大家能够喜欢。',
  'notice' => '&nbsp;&nbsp;&nbsp;&nbsp;转眼5月就到了，没错！主攻说了5月1日就是5月1日。<br />
&nbsp;&nbsp;&nbsp;&nbsp;本作的完成度绝对不是第一本邪君物语所能比的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;希望大家能够喜欢，继续支持主攻~！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '7079',
  'lastvolume' => '第一卷 命中注定',
  'lastchapterid' => '7625',
  'lastchapter' => '第四章 天绝',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第二天一早，客厅中的轻微响动将长发少年惊醒。他走出卧室一看，原来是姬晓涵放在桌上的手机在不停的振动着。拿起手机一看，显示的是一个叫芸菲的名字。他随手按下了接听，电话那头立马传来了一个少女的诉苦声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我说晓涵啊，你昨天可把姑奶奶我给害苦啦，你知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长发少年刚听到这里，就发现姬晓涵睡意朦胧的拉开了客房房门，揉着眼睛走了出来。长发少年似笑非笑的看着她，指了指他手里的手机，然后故作亲密的大声说道：“晓涵，你朋友的电话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一声，把姬晓涵侧底惊醒了过来。她三两步跑到了长发..',
  'chapters' => '5',
  'size' => '26149',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479059005',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '65',
  'allvisit' => '29739',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 9,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1462361907',
  'freesize' => '26149',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市异能',
  'typename' => '都市异能',
  'size_c' => 13075,
  'size_k' => 14,
  'size_w' => 1.3,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/296/296s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/296.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=296&cid=7625',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=296',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=296',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=296',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/438.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%F7%B9%A5%B6%BC%CA%D0%D0%FE%BB%C3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D8%AC%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F296.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '命运',
      'tagencode' => '%C3%FC%D4%CB',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '欺骗',
      'tagencode' => '%C6%DB%C6%AD',
    ),
    3 => 
    array (
      'tagname' => '噩兽',
      'tagencode' => '%D8%AC%CA%DE',
    ),
    4 => 
    array (
      'tagname' => '激战',
      'tagencode' => '%BC%A4%D5%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
