array (
  'meta_keywords' => '恶魔剧院 薇紫 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=3&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=3&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=3&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=3&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '3',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447064946',
    'lastupdate' => '1467272520',
    'articlename' => '恶魔剧院',
    'articlecode' => 'emojuyuan',
    'backupname' => '每一次都是新的开始',
    'keywords' => '灵异 爱情',
    'roles' => '',
    'initial' => 'E',
    'authorid' => '16',
    'author' => '薇紫',
    'posterid' => '16',
    'poster' => '薇紫',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp; 当死亡与未知的阴影来临，所有的一切都将被摧毁。<br />
&nbsp;&nbsp; 而人的本能反应就是为了活下去，不顾一切的活下去。<br />
&nbsp;&nbsp; 当绝望来临，所有的伪装都被撕毁，活下去的代价谁又能承受？<br />
&nbsp;&nbsp; 黑夜后的黎明，黎明下的极致黑暗，陷入恶魔剧院的他们终将归于何处？<br />
&nbsp;&nbsp; 恶魔剧院，你我心中的阴暗地带……<br />
',
    'notice' => '薇紫完本作品，请大家多多支持！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '1916',
    'lastvolume' => '第六卷&nbsp;&nbsp;死亡游戏',
    'lastchapterid' => '1930',
    'lastchapter' => '第八十五章&nbsp;&nbsp; 我叫水鬼',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;伴随着新试炼的临近，剧院众人也都发现了一个新情况，那就是已经彻底无法从笔记里兑换下一个试炼的信息了，如果真的要换的话那就会提示说兑换后该试炼难度提升的信息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此众人也只能无奈地接受了，因为本来这提前得知下个试炼的信息本身就属于作弊的一种，现在被收回了自然也无话可说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等四周的光线再次亮起的时候众人出现在了一个小镇的门口，而不出所料的确实是有四个新人的出现。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两男两女，被指派去给四个新人讲解的叶燃只能是仔仔细细地跟他们解释了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在这四个新人里也没有太难缠的，虽..',
    'chapters' => '138',
    'size' => '604141',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478790099',
    'dayvisit' => 0,
    'weekvisit' => '104',
    'monthvisit' => '260',
    'allvisit' => '45028',
    'lastvote' => '1469632569',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '150',
    'goodnum' => '13',
    'reviewsnum' => '15',
    'ratenum' => 14,
    'ratesum' => 139,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '全本',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1454166937',
    'buyout' => '0',
    'monthly' => '包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1465254664',
    'freesize' => '604141',
    'isvip' => '包月',
    'viptime' => '1467272520',
    'vipid' => '8',
    'vippubid' => '0',
    'vipchapters' => '44',
    'vipsize' => '202524',
    'vipvolumeid' => '18854',
    'vipvolume' => '番外卷',
    'vipchapterid' => '31924',
    'vipchapter' => '番外之真正的结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“……所以什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当白可问出这一句的时候就已经交出了全部的主权，那人想如何便是如何。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这又怎么样呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正主动权从来都没有在他们的手中，那人也只是象征性地给了一个看似公平的有选择的权利给他们而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人轻笑一声说道，“我知道你是聪明人，所以我可以给你们一些……优惠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们可以在试炼的世界里居住下来，甚至是每年都能有一段时间回到现实去住一段时间，”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人慢悠悠地说着，白可却不安起来，她不可能会真的这么好心！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;略一思考之后白可..',
    'lastflower' => '1460448574',
    'allflower' => '15',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1460857931',
    'allvipvote' => '3',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '1',
    'zhangyue' => '0',
    'iqiyi' => '1',
    'xunlei' => '1',
    'ledu' => '1',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '1',
    'ytread' => '0',
    'giftnum' => '10',
    'giftnums' => '1',
    'redrose' => '0',
    'yellowrose' => '1',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '1',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '3',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 302071,
    'size_k' => 303,
    'size_w' => 30.2,
    'rateavg' => '9.9',
    'rateavg_i' => 9,
    'rateavg_d' => 9,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/3/3s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/3/3s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/3/3l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/3.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3&cid=1930',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=8&cid=31924',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=3',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=3',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=3',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/16.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%DE%B1%D7%CF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%BE%E7%D4%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F3.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '3',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447064946',
  'lastupdate' => '1467272520',
  'articlename' => '恶魔剧院',
  'articlecode' => 'emojuyuan',
  'backupname' => '每一次都是新的开始',
  'keywords' => '灵异 爱情',
  'roles' => '',
  'initial' => 'E',
  'authorid' => '16',
  'author' => '薇紫',
  'posterid' => '16',
  'poster' => '薇紫',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp; 当死亡与未知的阴影来临，所有的一切都将被摧毁。<br />
&nbsp;&nbsp; 而人的本能反应就是为了活下去，不顾一切的活下去。<br />
&nbsp;&nbsp; 当绝望来临，所有的伪装都被撕毁，活下去的代价谁又能承受？<br />
&nbsp;&nbsp; 黑夜后的黎明，黎明下的极致黑暗，陷入恶魔剧院的他们终将归于何处？<br />
&nbsp;&nbsp; 恶魔剧院，你我心中的阴暗地带……<br />
',
  'notice' => '薇紫完本作品，请大家多多支持！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '1916',
  'lastvolume' => '第六卷&nbsp;&nbsp;死亡游戏',
  'lastchapterid' => '1930',
  'lastchapter' => '第八十五章&nbsp;&nbsp; 我叫水鬼',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;伴随着新试炼的临近，剧院众人也都发现了一个新情况，那就是已经彻底无法从笔记里兑换下一个试炼的信息了，如果真的要换的话那就会提示说兑换后该试炼难度提升的信息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此众人也只能无奈地接受了，因为本来这提前得知下个试炼的信息本身就属于作弊的一种，现在被收回了自然也无话可说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等四周的光线再次亮起的时候众人出现在了一个小镇的门口，而不出所料的确实是有四个新人的出现。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两男两女，被指派去给四个新人讲解的叶燃只能是仔仔细细地跟他们解释了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在这四个新人里也没有太难缠的，虽..',
  'chapters' => '138',
  'size' => '604141',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478790099',
  'dayvisit' => 0,
  'weekvisit' => '104',
  'monthvisit' => '260',
  'allvisit' => '45028',
  'lastvote' => '1469632569',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '150',
  'goodnum' => '13',
  'reviewsnum' => '15',
  'ratenum' => 14,
  'ratesum' => 139,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '全本',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1454166937',
  'buyout' => '0',
  'monthly' => '包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1465254664',
  'freesize' => '604141',
  'isvip' => '包月',
  'viptime' => '1467272520',
  'vipid' => '8',
  'vippubid' => '0',
  'vipchapters' => '44',
  'vipsize' => '202524',
  'vipvolumeid' => '18854',
  'vipvolume' => '番外卷',
  'vipchapterid' => '31924',
  'vipchapter' => '番外之真正的结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“……所以什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当白可问出这一句的时候就已经交出了全部的主权，那人想如何便是如何。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这又怎么样呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正主动权从来都没有在他们的手中，那人也只是象征性地给了一个看似公平的有选择的权利给他们而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人轻笑一声说道，“我知道你是聪明人，所以我可以给你们一些……优惠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们可以在试炼的世界里居住下来，甚至是每年都能有一段时间回到现实去住一段时间，”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人慢悠悠地说着，白可却不安起来，她不可能会真的这么好心！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;略一思考之后白可..',
  'lastflower' => '1460448574',
  'allflower' => '15',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1460857931',
  'allvipvote' => '3',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '1',
  'zhangyue' => '0',
  'iqiyi' => '1',
  'xunlei' => '1',
  'ledu' => '1',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '1',
  'ytread' => '0',
  'giftnum' => '10',
  'giftnums' => '1',
  'redrose' => '0',
  'yellowrose' => '1',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '1',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '3',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 302071,
  'size_k' => 303,
  'size_w' => 30.2,
  'rateavg' => '9.9',
  'rateavg_i' => 9,
  'rateavg_d' => 9,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/3/3s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/3/3s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/3/3l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/3.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=3&cid=1930',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=8&cid=31924',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=3',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=3',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=3',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/16.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%DE%B1%D7%CF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%BE%E7%D4%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F3.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '灵异',
      'tagencode' => '%C1%E9%D2%EC',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
