array (
  'meta_keywords' => '仙府圣道 浮生本尊 武侠修真',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=31&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=31&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=31&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=31&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '31',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480061780',
    'lastupdate' => '1481508294',
    'articlename' => '仙府圣道',
    'articlecode' => 'xianfushengdao',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '8',
    'author' => '浮生本尊',
    'posterid' => '8',
    'poster' => '浮生本尊',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '11',
    'libid' => '0',
    'intro' => '',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '161420',
    'lastvolume' => '第二卷 混乱之地',
    'lastchapterid' => '162086',
    'lastchapter' => '0105&nbsp;&nbsp;玄风子',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;混乱之地，位于紫元大陆北部，是紫元修真界最为混乱的地域。此地，面积极大，比之紫元五鼎所占据的紫元修真界腹地，也丝毫不小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在紫元修真界，修士将混乱之地，与古墟，恶鬼域和毒沼林一同，并称为四大奇异之地，并非毫无因由。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在混乱之地，各种势力，错综复杂，这里的修士，都有一股子狠劲。在这里，烧杀抢夺，是常见之事。奸淫掳掠，更是家常便饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有对错，不稳是非，一切都是弱肉强食，一切只讲实力，只讲手段。若想生存下来，就需有生存的实力！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;单从这一点来看，混乱之地内的修士，其行事作..',
    'chapters' => '113',
    'size' => '647433',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484561386',
    'dayvisit' => '39',
    'weekvisit' => '39',
    'monthvisit' => '546',
    'allvisit' => '4420',
    'lastvote' => '1481785608',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '4',
    'goodnum' => '1',
    'reviewsnum' => '8',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1481855119',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1480661063',
    'freesize' => '647433',
    'isvip' => 'VIP',
    'viptime' => '1481508294',
    'vipid' => '12',
    'vippubid' => '0',
    'vipchapters' => '7',
    'vipsize' => '44472',
    'vipvolumeid' => '161420',
    'vipvolume' => '第二卷 混乱之地',
    'vipchapterid' => '571849',
    'vipchapter' => '0112&nbsp;&nbsp;大秘密',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;金斗城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时的金斗城，可以说是风声鹤唳，草木皆兵。原因是，日前，流莺城九龙门的门主陈九龙，在金斗城被杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈九龙此人，结丹后期，放在金斗城，算是一方强者，可在流莺城，却是算不得什么人物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，陈九龙的背后，却有一个庞然大物，邪风门。邪风门，其门主邪风子，乃是元婴期的老怪，这就使得，邪风门在整个混乱之地，也是能排的上名的大势力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈九龙在邪风门，是外堂的一个执事头目，似此般执事头目，邪风门不在少数。若是寻常时候，在与敌对势力发生冲突之中，这样一个头目身亡，邪风门却..',
    'lastflower' => '1483523451',
    'allflower' => '38',
    'monthflower' => '1',
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1481608734',
    'allvipvote' => '5',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '18',
    'yellowrose' => '2',
    'bluerose' => '4',
    'whiterose' => '2',
    'blackrose' => '1',
    'greenrose' => '3',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 323717,
    'size_k' => 324,
    'size_w' => 32.4,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/31/31s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/31/31s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/31/31l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/31.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31&cid=162086',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=12&cid=571849',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=31',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=31',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=31',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/8.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA%B1%BE%D7%F0',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%C9%B8%AE%CA%A5%B5%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F31.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '31',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480061780',
  'lastupdate' => '1481508294',
  'articlename' => '仙府圣道',
  'articlecode' => 'xianfushengdao',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '8',
  'author' => '浮生本尊',
  'posterid' => '8',
  'poster' => '浮生本尊',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '11',
  'libid' => '0',
  'intro' => '',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '161420',
  'lastvolume' => '第二卷 混乱之地',
  'lastchapterid' => '162086',
  'lastchapter' => '0105&nbsp;&nbsp;玄风子',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;混乱之地，位于紫元大陆北部，是紫元修真界最为混乱的地域。此地，面积极大，比之紫元五鼎所占据的紫元修真界腹地，也丝毫不小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在紫元修真界，修士将混乱之地，与古墟，恶鬼域和毒沼林一同，并称为四大奇异之地，并非毫无因由。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在混乱之地，各种势力，错综复杂，这里的修士，都有一股子狠劲。在这里，烧杀抢夺，是常见之事。奸淫掳掠，更是家常便饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有对错，不稳是非，一切都是弱肉强食，一切只讲实力，只讲手段。若想生存下来，就需有生存的实力！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;单从这一点来看，混乱之地内的修士，其行事作..',
  'chapters' => '113',
  'size' => '647433',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484561386',
  'dayvisit' => '39',
  'weekvisit' => '39',
  'monthvisit' => '546',
  'allvisit' => '4420',
  'lastvote' => '1481785608',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '4',
  'goodnum' => '1',
  'reviewsnum' => '8',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1481855119',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1480661063',
  'freesize' => '647433',
  'isvip' => 'VIP',
  'viptime' => '1481508294',
  'vipid' => '12',
  'vippubid' => '0',
  'vipchapters' => '7',
  'vipsize' => '44472',
  'vipvolumeid' => '161420',
  'vipvolume' => '第二卷 混乱之地',
  'vipchapterid' => '571849',
  'vipchapter' => '0112&nbsp;&nbsp;大秘密',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;金斗城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时的金斗城，可以说是风声鹤唳，草木皆兵。原因是，日前，流莺城九龙门的门主陈九龙，在金斗城被杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈九龙此人，结丹后期，放在金斗城，算是一方强者，可在流莺城，却是算不得什么人物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，陈九龙的背后，却有一个庞然大物，邪风门。邪风门，其门主邪风子，乃是元婴期的老怪，这就使得，邪风门在整个混乱之地，也是能排的上名的大势力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈九龙在邪风门，是外堂的一个执事头目，似此般执事头目，邪风门不在少数。若是寻常时候，在与敌对势力发生冲突之中，这样一个头目身亡，邪风门却..',
  'lastflower' => '1483523451',
  'allflower' => '38',
  'monthflower' => '1',
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1481608734',
  'allvipvote' => '5',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '18',
  'yellowrose' => '2',
  'bluerose' => '4',
  'whiterose' => '2',
  'blackrose' => '1',
  'greenrose' => '3',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 323717,
  'size_k' => 324,
  'size_w' => 32.4,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/31/31s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/31/31s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/31/31l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/31.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=31&cid=162086',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=12&cid=571849',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=31',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=31',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=31',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/8.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA%B1%BE%D7%F0',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%C9%B8%AE%CA%A5%B5%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F31.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)