array (
  'meta_keywords' => '绝密历史 滨城霓虹 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=316&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=316&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=316&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=316&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '316',
    'siteid' => '2',
    'sourceid' => '99',
    'postdate' => '1418208090',
    'lastupdate' => '1457269337',
    'articlename' => '绝密历史',
    'articlecode' => 'juemilishi',
    'backupname' => '',
    'keywords' => '重生 异能 神魔 穿越',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '1228',
    'author' => '滨城霓虹',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '七件神器，七间古墓。令人匪夷所思的怪异现象，让人魂飞魄散的恐怖历程。上古部族后裔的使命，无可估量的巨大宝藏。是密码，是诅咒，还是上古时期帝王的书录？刻有上古秘密信息的青铜盘到底是什么，八卦墓穴的主人究竟是不是伏羲大帝，西王母的长生不老药究竟藏在哪里，尧帝的神秘军队为何数千年后依然可以作战，后羿的射日神弓为何千年不朽，上古的机关为何需要他的鲜血才能开启？《山海经》中记载的怪异生物，庞大错综的山内墓穴，错乱的扭曲时空，可以复制生命的玉琮。跨越大半亚洲的线索，一个小时候的故事隐藏的巨大秘密。考古人员，寻宝者，盗墓者，他们之间为了一个历史绝密正进行着一场明争暗斗。究竟谁才是幕后指使者，上古部族的',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '13298',
    'lastchapter' => '第三十一章：巨坑',
    'lastsummary' => '',
    'chapters' => '204',
    'size' => '1353986',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885503',
    'dayvisit' => '13',
    'weekvisit' => '52',
    'monthvisit' => '156',
    'allvisit' => '21793',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '10',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876932',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1418554263',
    'freesize' => '1353986',
    'isvip' => '签约',
    'viptime' => '1457269337',
    'vipid' => '108',
    'vippubid' => '0',
    'vipchapters' => '172',
    'vipsize' => '1155998',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '13470',
    'vipchapter' => '第二百零三章：仙藤',
    'vipsummary' => '我顺着珍妮的目光向墙壁看去，只见墙壁的一道裂缝中居然夹着一片植物的叶子。<br />
这片叶子虽然只露出了少一半，不过可以看得出，它的大小应该足足有篮球那么大。<br />
“这是什么植物？”我一边用手摸着叶子，一边转头问向赵月。<br />
“别动！”赵月警惕的说道：“我现在也不知道那是什么叶子，不过万一它有毒怎么办？”<br />
我一听这话，急忙将手缩了回来。<br />
此时小白走到了我??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 676993,
    'size_k' => 677,
    'size_w' => 67.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/316.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316&cid=13298',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=108&cid=13470',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=316',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=316',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=316',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%F5%B3%C7%C4%DE%BA%E7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%C3%DC%C0%FA%CA%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F316.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '316',
  'siteid' => '2',
  'sourceid' => '99',
  'postdate' => '1418208090',
  'lastupdate' => '1457269337',
  'articlename' => '绝密历史',
  'articlecode' => 'juemilishi',
  'backupname' => '',
  'keywords' => '重生 异能 神魔 穿越',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '1228',
  'author' => '滨城霓虹',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '七件神器，七间古墓。令人匪夷所思的怪异现象，让人魂飞魄散的恐怖历程。上古部族后裔的使命，无可估量的巨大宝藏。是密码，是诅咒，还是上古时期帝王的书录？刻有上古秘密信息的青铜盘到底是什么，八卦墓穴的主人究竟是不是伏羲大帝，西王母的长生不老药究竟藏在哪里，尧帝的神秘军队为何数千年后依然可以作战，后羿的射日神弓为何千年不朽，上古的机关为何需要他的鲜血才能开启？《山海经》中记载的怪异生物，庞大错综的山内墓穴，错乱的扭曲时空，可以复制生命的玉琮。跨越大半亚洲的线索，一个小时候的故事隐藏的巨大秘密。考古人员，寻宝者，盗墓者，他们之间为了一个历史绝密正进行着一场明争暗斗。究竟谁才是幕后指使者，上古部族的',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '13298',
  'lastchapter' => '第三十一章：巨坑',
  'lastsummary' => '',
  'chapters' => '204',
  'size' => '1353986',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885503',
  'dayvisit' => '13',
  'weekvisit' => '52',
  'monthvisit' => '156',
  'allvisit' => '21793',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '10',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876932',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1418554263',
  'freesize' => '1353986',
  'isvip' => '签约',
  'viptime' => '1457269337',
  'vipid' => '108',
  'vippubid' => '0',
  'vipchapters' => '172',
  'vipsize' => '1155998',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '13470',
  'vipchapter' => '第二百零三章：仙藤',
  'vipsummary' => '我顺着珍妮的目光向墙壁看去，只见墙壁的一道裂缝中居然夹着一片植物的叶子。<br />
这片叶子虽然只露出了少一半，不过可以看得出，它的大小应该足足有篮球那么大。<br />
“这是什么植物？”我一边用手摸着叶子，一边转头问向赵月。<br />
“别动！”赵月警惕的说道：“我现在也不知道那是什么叶子，不过万一它有毒怎么办？”<br />
我一听这话，急忙将手缩了回来。<br />
此时小白走到了我??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 676993,
  'size_k' => 677,
  'size_w' => 67.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/316/316s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/316.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=316&cid=13298',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=108&cid=13470',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=316',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=316',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=316',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%F5%B3%C7%C4%DE%BA%E7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%C3%DC%C0%FA%CA%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F316.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    1 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    2 => 
    array (
      'tagname' => '神魔',
      'tagencode' => '%C9%F1%C4%A7',
    ),
    3 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
