array (
  'meta_keywords' => '神甲之王 猪猪猪猪鑫 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=317&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=317&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=317&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=317&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '317',
    'siteid' => '2',
    'sourceid' => '995',
    'postdate' => '1425517055',
    'lastupdate' => '1436163980',
    'articlename' => '神甲之王',
    'articlecode' => 'shenjiazhiwang',
    'backupname' => '',
    'keywords' => '穿越 热血 东方玄幻 异界大陆 升级练功',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '1228',
    'author' => '猪猪猪猪鑫',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '万古年间，妖魔霸世，横行猖獗，屠杀人族。后，神峰齐降，镇压诸妖，赐神甲天赋于人族。至此，妖魔凶残得已缓和，人族方得一方净土。神甲大陆，神甲震天。少年张浩，掌王者之力，终有一日，他会捅破这天，成为那无上至尊！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '13512',
    'lastchapter' => '第36章&nbsp;&nbsp;两个奇葩',
    'lastsummary' => '',
    'chapters' => '161',
    'size' => '721538',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474850093',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '4643',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876975',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1429508238',
    'freesize' => '721538',
    'isvip' => '签约',
    'viptime' => '1436163980',
    'vipid' => '109',
    'vippubid' => '0',
    'vipchapters' => '119',
    'vipsize' => '528824',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '13631',
    'vipchapter' => '第145章&nbsp;&nbsp;前方的路',
    'vipsummary' => '“叶……青……”<br />
<br />
&nbsp;&nbsp;张浩身躯一颤，看着前方十多米外那倒躺在血泊中的倩影，艰难的唤出两字，他的神色中更弥漫出一抹癫狂。<br />
<br />
&nbsp;&nbsp;叶青，王都叶家的天骄才女。<br />
<br />
&nbsp;&nbsp;不过二十岁的虚甲境，更是一名炼丹师，尤其在融合五彩丹鼎后，跨入实甲境并非不可能。<br />
<br />
&nbsp;&nbsp;但是，为什么？这到底是为什么？<br />
<br />
&nbsp;&nbsp;张浩没有嘶吼，但内心早已不断的自问。<br />
<br />
&nbsp;&nbsp;没有人回答他，整个青云宗死一样的..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 360769,
    'size_k' => 361,
    'size_w' => 36.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/317.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317&cid=13512',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=109&cid=13631',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=317',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=317',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=317',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%ED%D6%ED%D6%ED%D6%ED%F6%CE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%BC%D7%D6%AE%CD%F5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F317.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '317',
  'siteid' => '2',
  'sourceid' => '995',
  'postdate' => '1425517055',
  'lastupdate' => '1436163980',
  'articlename' => '神甲之王',
  'articlecode' => 'shenjiazhiwang',
  'backupname' => '',
  'keywords' => '穿越 热血 东方玄幻 异界大陆 升级练功',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '1228',
  'author' => '猪猪猪猪鑫',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '万古年间，妖魔霸世，横行猖獗，屠杀人族。后，神峰齐降，镇压诸妖，赐神甲天赋于人族。至此，妖魔凶残得已缓和，人族方得一方净土。神甲大陆，神甲震天。少年张浩，掌王者之力，终有一日，他会捅破这天，成为那无上至尊！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '13512',
  'lastchapter' => '第36章&nbsp;&nbsp;两个奇葩',
  'lastsummary' => '',
  'chapters' => '161',
  'size' => '721538',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474850093',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '4643',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876975',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1429508238',
  'freesize' => '721538',
  'isvip' => '签约',
  'viptime' => '1436163980',
  'vipid' => '109',
  'vippubid' => '0',
  'vipchapters' => '119',
  'vipsize' => '528824',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '13631',
  'vipchapter' => '第145章&nbsp;&nbsp;前方的路',
  'vipsummary' => '“叶……青……”<br />
<br />
&nbsp;&nbsp;张浩身躯一颤，看着前方十多米外那倒躺在血泊中的倩影，艰难的唤出两字，他的神色中更弥漫出一抹癫狂。<br />
<br />
&nbsp;&nbsp;叶青，王都叶家的天骄才女。<br />
<br />
&nbsp;&nbsp;不过二十岁的虚甲境，更是一名炼丹师，尤其在融合五彩丹鼎后，跨入实甲境并非不可能。<br />
<br />
&nbsp;&nbsp;但是，为什么？这到底是为什么？<br />
<br />
&nbsp;&nbsp;张浩没有嘶吼，但内心早已不断的自问。<br />
<br />
&nbsp;&nbsp;没有人回答他，整个青云宗死一样的..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 360769,
  'size_k' => 361,
  'size_w' => 36.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/317/317s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/317.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=317&cid=13512',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=109&cid=13631',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=317',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=317',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=317',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%ED%D6%ED%D6%ED%D6%ED%F6%CE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%BC%D7%D6%AE%CD%F5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F317.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '东方玄幻',
      'tagencode' => '%B6%AB%B7%BD%D0%FE%BB%C3',
    ),
    3 => 
    array (
      'tagname' => '异界大陆',
      'tagencode' => '%D2%EC%BD%E7%B4%F3%C2%BD',
    ),
    4 => 
    array (
      'tagname' => '升级练功',
      'tagencode' => '%C9%FD%BC%B6%C1%B7%B9%A6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
