array (
  'meta_keywords' => '阴人上路 无颜 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=318&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=318&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=318&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=318&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '318',
    'siteid' => '2',
    'sourceid' => '1140',
    'postdate' => '1426689961',
    'lastupdate' => '1439126537',
    'articlename' => '阴人上路',
    'articlecode' => 'yinrenshanglu',
    'backupname' => '',
    'keywords' => '丧尸 毒蛊 爱情 驱鬼 风水',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '3016',
    'author' => '无颜',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '湘西赶尸、苗疆巫蛊、通天神卦、活人造畜。赶尸，这个神秘的职业究竟隐藏了多少不为人知的诡异故事，尽在《阴人上路》为大家揭晓。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '25985',
    'lastchapter' => '明天手术',
    'lastsummary' => '昨晚忘记说了，明早手术，今天滴了药，今天明天都不能更新了，术后一周理论上减少用眼，我尽量保持更新。这几天一直都不是状态，不好意思。',
    'chapters' => '354',
    'size' => '1597562',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478891388',
    'dayvisit' => '39',
    'weekvisit' => '585',
    'monthvisit' => '2743',
    'allvisit' => '1151303',
    'lastvote' => '1476111030',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1407',
    'goodnum' => '129',
    'reviewsnum' => '5',
    'ratenum' => 2,
    'ratesum' => 19,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876942',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1427812665',
    'freesize' => '1597562',
    'isvip' => '签约',
    'viptime' => '1439126537',
    'vipid' => '110',
    'vippubid' => '0',
    'vipchapters' => '308',
    'vipsize' => '1395636',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '13985',
    'vipchapter' => '第三百五十章 大结局 他们的生活',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当揜日却邪两柄剑一并插进旱魃身体里，王若寒瞬间明白了白一生想要做什么。他想要冲过去阻止，却已经来不及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盘旋在天边的厉鬼瞬间涌入了旱魃的身体之中，天昏地暗，铅色的风云怒号的狂风都仿佛随着厉鬼一并闯进了旱魃的身体里，那具坚硬无比的躯体此时膨胀变形，皮下鼓起无数的鼓包，那是已经成型了的厉鬼啃食着旱魃的骨血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然旱魃的血肉能够再生，但被引诱过来的鬼魂也无穷无尽。血肉复生又被啃掉，就这样周而复始无穷尽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旱魃想要抬手拔除身体里的剑，却被却邪压制的根本无法触碰双剑。蚕食的速度越来..',
    'lastflower' => '1468364517',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1462876339',
    'allvipvote' => '2',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '3',
    'giftnums' => '3',
    'redrose' => '3',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 798781,
    'size_k' => 799,
    'size_w' => 79.9,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/318.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318&cid=25985',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=110&cid=13985',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=318',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=318',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=318',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/3016.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%D1%D5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%F5%C8%CB%C9%CF%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F318.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '318',
  'siteid' => '2',
  'sourceid' => '1140',
  'postdate' => '1426689961',
  'lastupdate' => '1439126537',
  'articlename' => '阴人上路',
  'articlecode' => 'yinrenshanglu',
  'backupname' => '',
  'keywords' => '丧尸 毒蛊 爱情 驱鬼 风水',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '3016',
  'author' => '无颜',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '湘西赶尸、苗疆巫蛊、通天神卦、活人造畜。赶尸，这个神秘的职业究竟隐藏了多少不为人知的诡异故事，尽在《阴人上路》为大家揭晓。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '25985',
  'lastchapter' => '明天手术',
  'lastsummary' => '昨晚忘记说了，明早手术，今天滴了药，今天明天都不能更新了，术后一周理论上减少用眼，我尽量保持更新。这几天一直都不是状态，不好意思。',
  'chapters' => '354',
  'size' => '1597562',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478891388',
  'dayvisit' => '39',
  'weekvisit' => '585',
  'monthvisit' => '2743',
  'allvisit' => '1151303',
  'lastvote' => '1476111030',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1407',
  'goodnum' => '129',
  'reviewsnum' => '5',
  'ratenum' => 2,
  'ratesum' => 19,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876942',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1427812665',
  'freesize' => '1597562',
  'isvip' => '签约',
  'viptime' => '1439126537',
  'vipid' => '110',
  'vippubid' => '0',
  'vipchapters' => '308',
  'vipsize' => '1395636',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '13985',
  'vipchapter' => '第三百五十章 大结局 他们的生活',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当揜日却邪两柄剑一并插进旱魃身体里，王若寒瞬间明白了白一生想要做什么。他想要冲过去阻止，却已经来不及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盘旋在天边的厉鬼瞬间涌入了旱魃的身体之中，天昏地暗，铅色的风云怒号的狂风都仿佛随着厉鬼一并闯进了旱魃的身体里，那具坚硬无比的躯体此时膨胀变形，皮下鼓起无数的鼓包，那是已经成型了的厉鬼啃食着旱魃的骨血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然旱魃的血肉能够再生，但被引诱过来的鬼魂也无穷无尽。血肉复生又被啃掉，就这样周而复始无穷尽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旱魃想要抬手拔除身体里的剑，却被却邪压制的根本无法触碰双剑。蚕食的速度越来..',
  'lastflower' => '1468364517',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1462876339',
  'allvipvote' => '2',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '3',
  'giftnums' => '3',
  'redrose' => '3',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 798781,
  'size_k' => 799,
  'size_w' => 79.9,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/318/318s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/318.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=318&cid=25985',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=110&cid=13985',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=318',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=318',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=318',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/3016.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%DE%D1%D5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%F5%C8%CB%C9%CF%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F318.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '丧尸',
      'tagencode' => '%C9%A5%CA%AC',
    ),
    1 => 
    array (
      'tagname' => '毒蛊',
      'tagencode' => '%B6%BE%B9%C6',
    ),
    2 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    3 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    4 => 
    array (
      'tagname' => '风水',
      'tagencode' => '%B7%E7%CB%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
