array (
  'meta_keywords' => '阎婆傻兔子 十殿阎王妃 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=319&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=319&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=319&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=319&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '319',
    'siteid' => '2',
    'sourceid' => '3310',
    'postdate' => '1438874684',
    'lastupdate' => '1459514777',
    'articlename' => '阎婆傻兔子',
    'articlecode' => 'yanposhatuzi',
    'backupname' => '',
    'keywords' => '爱情 驱鬼 神魔',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '6179',
    'author' => '十殿阎王妃',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一次偶然的夜闯坟地，让米莎菟与十殿阎王结了阴婚，成了阎婆。却不想拜堂之后米莎菟竟然怀了十殿阎王王薛的鬼子，也使得原本平凡的米莎菟居然能够随时随地的见鬼，并且扯到了两大阎王的恩怨纠葛之中。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '14031',
    'lastchapter' => '第四十六章 学校的冤魂',
    'lastsummary' => '',
    'chapters' => '160',
    'size' => '681380',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478720154',
    'dayvisit' => '39',
    'weekvisit' => '39',
    'monthvisit' => '104',
    'allvisit' => '22940',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876912',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1446096690',
    'freesize' => '681380',
    'isvip' => '签约',
    'viptime' => '1459514777',
    'vipid' => '111',
    'vippubid' => '0',
    'vipchapters' => '114',
    'vipsize' => '479386',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '14145',
    'vipchapter' => '第一百六十章&nbsp;&nbsp; 结局',
    'vipsummary' => '“灼华，到了。”走了好半响三人终于走到了大门前，而那小仙童也毫不客气的直呼了阎罗王的闺名，而阎罗王却好像没事人一样的冲着小仙童点了点头，然后又递给小仙童一个小小的荷包笑道：“这一路上劳烦了，这个荷包就当是谢礼，还请收下。”<br />
那小仙童也不推辞，道了声谢，便接过灼华递给他的荷包塞进了衣服袖子里。<br />
与小仙童告别后，王薛觉得很是不解，于是找??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 340690,
    'size_k' => 341,
    'size_w' => 34.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/319.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319&cid=14031',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=111&cid=14145',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=319',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=319',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=319',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6179.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%AE%B5%EE%D1%D6%CD%F5%E5%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%D6%C6%C5%C9%B5%CD%C3%D7%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F319.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '319',
  'siteid' => '2',
  'sourceid' => '3310',
  'postdate' => '1438874684',
  'lastupdate' => '1459514777',
  'articlename' => '阎婆傻兔子',
  'articlecode' => 'yanposhatuzi',
  'backupname' => '',
  'keywords' => '爱情 驱鬼 神魔',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '6179',
  'author' => '十殿阎王妃',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一次偶然的夜闯坟地，让米莎菟与十殿阎王结了阴婚，成了阎婆。却不想拜堂之后米莎菟竟然怀了十殿阎王王薛的鬼子，也使得原本平凡的米莎菟居然能够随时随地的见鬼，并且扯到了两大阎王的恩怨纠葛之中。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '14031',
  'lastchapter' => '第四十六章 学校的冤魂',
  'lastsummary' => '',
  'chapters' => '160',
  'size' => '681380',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478720154',
  'dayvisit' => '39',
  'weekvisit' => '39',
  'monthvisit' => '104',
  'allvisit' => '22940',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876912',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1446096690',
  'freesize' => '681380',
  'isvip' => '签约',
  'viptime' => '1459514777',
  'vipid' => '111',
  'vippubid' => '0',
  'vipchapters' => '114',
  'vipsize' => '479386',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '14145',
  'vipchapter' => '第一百六十章&nbsp;&nbsp; 结局',
  'vipsummary' => '“灼华，到了。”走了好半响三人终于走到了大门前，而那小仙童也毫不客气的直呼了阎罗王的闺名，而阎罗王却好像没事人一样的冲着小仙童点了点头，然后又递给小仙童一个小小的荷包笑道：“这一路上劳烦了，这个荷包就当是谢礼，还请收下。”<br />
那小仙童也不推辞，道了声谢，便接过灼华递给他的荷包塞进了衣服袖子里。<br />
与小仙童告别后，王薛觉得很是不解，于是找??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 340690,
  'size_k' => 341,
  'size_w' => 34.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/319/319s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/319.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=319&cid=14031',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=111&cid=14145',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=319',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=319',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=319',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6179.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%AE%B5%EE%D1%D6%CD%F5%E5%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%D6%C6%C5%C9%B5%CD%C3%D7%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F319.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    2 => 
    array (
      'tagname' => '神魔',
      'tagencode' => '%C9%F1%C4%A7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
