array (
  'meta_keywords' => '生死簿 唐小鸭子 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=320&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=320&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=320&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=320&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '320',
    'siteid' => '2',
    'sourceid' => '4398',
    'postdate' => '1444654806',
    'lastupdate' => '1478948206',
    'articlename' => '生死簿',
    'articlecode' => 'shengsibu',
    'backupname' => '',
    'keywords' => '异世 热血 东方玄幻 斗气 升级练功',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '4670',
    'author' => '唐小鸭子',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '妖魔世界，有人类降魔士居东土，有万妖和万鬼霸西荒，有暗夜游侠，在黑夜中闪烁着诡谲的双眸，更有许多不知名的种族，汇成一个妖魔乱舞的时代……一书一世界，欢迎来到妖魔世界！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '103348',
    'lastchapter' => '说下更新！',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;从明天开始，生死簿更新计划如下：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;周1????周5：每天两更，时间，早8晚8<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;周6-周7：每天三更。时间，早8，中12，晚8！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加更：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼钻加更：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;1.个人累计打赏5000酷币，冠名加更一张。可以叠加，希望酷币数量到了的，评论里说一下，让我知道！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;2.鲜花每增加50个加更一张。现在，鲜花是60，不过为了更好计算，算50鲜花，mack一下！ 下一次鲜花加更：100（钻）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;推荐票加更：每多增加500票，加更一张，现在推荐票是1000，mack一下。下一次推荐票加更（1500）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ok，就这样，希望生死..',
    'chapters' => '457',
    'size' => '2338168',
    'daysize' => '0',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1478962945',
    'dayvisit' => '195',
    'weekvisit' => '897',
    'monthvisit' => '1768',
    'allvisit' => '56919',
    'lastvote' => '1472892859',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1',
    'goodnum' => '3',
    'reviewsnum' => '0',
    'ratenum' => 30,
    'ratesum' => 300,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876955',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1446088589',
    'freesize' => '2338168',
    'isvip' => '签约',
    'viptime' => '1478948206',
    'vipid' => '112',
    'vippubid' => '0',
    'vipchapters' => '423',
    'vipsize' => '2141976',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107686',
    'vipchapter' => '第四百五十三章 风暴',
    'vipsummary' => '　 片刻之后，那画江湖以身作笔，画出了第三人，第三个画江湖。<br />
　　这三个画江湖的气息，一模一样，这意味着三人的实力也一模一样。<br />
　　台下观战之人，此刻都不由有些担忧叶无忧了。<br />
　　“没想到，画道画祖，居然如此厚爱这画江湖，把他的‘一笔画三体’交给了画江湖。”<br />
　　“一笔画三体，那可是画祖当年的成名画道秘法，一笔之下，勾勒出另外两个和本体??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 1169084,
    'size_k' => 1170,
    'size_w' => 116.9,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/320.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320&cid=103348',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=112&cid=107686',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=320',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=320',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=320',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4670.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%D0%A1%D1%BC%D7%D3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FA%CB%C0%B2%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F320.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '320',
  'siteid' => '2',
  'sourceid' => '4398',
  'postdate' => '1444654806',
  'lastupdate' => '1478948206',
  'articlename' => '生死簿',
  'articlecode' => 'shengsibu',
  'backupname' => '',
  'keywords' => '异世 热血 东方玄幻 斗气 升级练功',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '4670',
  'author' => '唐小鸭子',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '妖魔世界，有人类降魔士居东土，有万妖和万鬼霸西荒，有暗夜游侠，在黑夜中闪烁着诡谲的双眸，更有许多不知名的种族，汇成一个妖魔乱舞的时代……一书一世界，欢迎来到妖魔世界！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '103348',
  'lastchapter' => '说下更新！',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;从明天开始，生死簿更新计划如下：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;周1????周5：每天两更，时间，早8晚8<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;周6-周7：每天三更。时间，早8，中12，晚8！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加更：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼钻加更：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;1.个人累计打赏5000酷币，冠名加更一张。可以叠加，希望酷币数量到了的，评论里说一下，让我知道！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;2.鲜花每增加50个加更一张。现在，鲜花是60，不过为了更好计算，算50鲜花，mack一下！ 下一次鲜花加更：100（钻）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;推荐票加更：每多增加500票，加更一张，现在推荐票是1000，mack一下。下一次推荐票加更（1500）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ok，就这样，希望生死..',
  'chapters' => '457',
  'size' => '2338168',
  'daysize' => '0',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1478962945',
  'dayvisit' => '195',
  'weekvisit' => '897',
  'monthvisit' => '1768',
  'allvisit' => '56919',
  'lastvote' => '1472892859',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1',
  'goodnum' => '3',
  'reviewsnum' => '0',
  'ratenum' => 30,
  'ratesum' => 300,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876955',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1446088589',
  'freesize' => '2338168',
  'isvip' => '签约',
  'viptime' => '1478948206',
  'vipid' => '112',
  'vippubid' => '0',
  'vipchapters' => '423',
  'vipsize' => '2141976',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107686',
  'vipchapter' => '第四百五十三章 风暴',
  'vipsummary' => '　 片刻之后，那画江湖以身作笔，画出了第三人，第三个画江湖。<br />
　　这三个画江湖的气息，一模一样，这意味着三人的实力也一模一样。<br />
　　台下观战之人，此刻都不由有些担忧叶无忧了。<br />
　　“没想到，画道画祖，居然如此厚爱这画江湖，把他的‘一笔画三体’交给了画江湖。”<br />
　　“一笔画三体，那可是画祖当年的成名画道秘法，一笔之下，勾勒出另外两个和本体??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 1169084,
  'size_k' => 1170,
  'size_w' => 116.9,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/320/320s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/320.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=320&cid=103348',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=112&cid=107686',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=320',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=320',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=320',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4670.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%D0%A1%D1%BC%D7%D3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FA%CB%C0%B2%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F320.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异世',
      'tagencode' => '%D2%EC%CA%C0',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '东方玄幻',
      'tagencode' => '%B6%AB%B7%BD%D0%FE%BB%C3',
    ),
    3 => 
    array (
      'tagname' => '斗气',
      'tagencode' => '%B6%B7%C6%F8',
    ),
    4 => 
    array (
      'tagname' => '升级练功',
      'tagencode' => '%C9%FD%BC%B6%C1%B7%B9%A6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
