array (
  'meta_keywords' => '18号别墅 不怕黑 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=321&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=321&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=321&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=321&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '321',
    'siteid' => '2',
    'sourceid' => '5698',
    'postdate' => '1452493376',
    'lastupdate' => '1456663289',
    'articlename' => '18号别墅',
    'articlecode' => 'i18haobieshu',
    'backupname' => '',
    'keywords' => '驱鬼',
    'roles' => '',
    'initial' => '1',
    'authorid' => '1228',
    'author' => '不怕黑',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '高中毕业，考学失利的少年许辰，在外独自厮混打拼了一年以后，由父亲帮忙搭关系，找到了地处南京市郊区的一处别墅区的保安工作，那里有一栋神秘的18号别墅。在古老的传说中挂着18号门牌号的房间等等，和阴间的十八层地狱之间存在着一条互相连接的通道。一些孤魂野鬼可以通过这条通道，来往于阴阳两间……一场人鬼大战即将上演！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '15181',
    'lastchapter' => '第三十八章 张天师道观',
    'lastsummary' => '',
    'chapters' => '129',
    'size' => '547012',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478639324',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '39',
    'allvisit' => '20873',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '4',
    'goodnum' => '0',
    'reviewsnum' => '1',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876968',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1453720388',
    'freesize' => '547012',
    'isvip' => '签约',
    'viptime' => '1456663289',
    'vipid' => '113',
    'vippubid' => '0',
    'vipchapters' => '91',
    'vipsize' => '370188',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '15272',
    'vipchapter' => '第128章&nbsp;&nbsp; 未来还会继续',
    'vipsummary' => '整个东江别墅区的变化实在是让人震惊，始作俑者是我、麻杆、老桂。当我们三人还在为这件事伤心自责之时，我的祖上却从玉佩当中惊醒过来，并对我们示警。<br />
他一袭道袍飘逸出尘，慈眉善目心怀天下，口诵道号无量天尊！<br />
“辰儿，如今形势紧迫，东江别墅已成鬼之一域！阴魂不散鬼狱称雄。如今我不知为何天宫感应不再，六道轮回自转，莫非我长期蛰伏的时候末世来临?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 273506,
    'size_k' => 274,
    'size_w' => 27.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/321.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321&cid=15181',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=113&cid=15272',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=321',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=321',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=321',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%BB%C5%C2%BA%DA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B618%BA%C5%B1%F0%CA%FB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F321.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '321',
  'siteid' => '2',
  'sourceid' => '5698',
  'postdate' => '1452493376',
  'lastupdate' => '1456663289',
  'articlename' => '18号别墅',
  'articlecode' => 'i18haobieshu',
  'backupname' => '',
  'keywords' => '驱鬼',
  'roles' => '',
  'initial' => '1',
  'authorid' => '1228',
  'author' => '不怕黑',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '高中毕业，考学失利的少年许辰，在外独自厮混打拼了一年以后，由父亲帮忙搭关系，找到了地处南京市郊区的一处别墅区的保安工作，那里有一栋神秘的18号别墅。在古老的传说中挂着18号门牌号的房间等等，和阴间的十八层地狱之间存在着一条互相连接的通道。一些孤魂野鬼可以通过这条通道，来往于阴阳两间……一场人鬼大战即将上演！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '15181',
  'lastchapter' => '第三十八章 张天师道观',
  'lastsummary' => '',
  'chapters' => '129',
  'size' => '547012',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478639324',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '39',
  'allvisit' => '20873',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '4',
  'goodnum' => '0',
  'reviewsnum' => '1',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876968',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1453720388',
  'freesize' => '547012',
  'isvip' => '签约',
  'viptime' => '1456663289',
  'vipid' => '113',
  'vippubid' => '0',
  'vipchapters' => '91',
  'vipsize' => '370188',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '15272',
  'vipchapter' => '第128章&nbsp;&nbsp; 未来还会继续',
  'vipsummary' => '整个东江别墅区的变化实在是让人震惊，始作俑者是我、麻杆、老桂。当我们三人还在为这件事伤心自责之时，我的祖上却从玉佩当中惊醒过来，并对我们示警。<br />
他一袭道袍飘逸出尘，慈眉善目心怀天下，口诵道号无量天尊！<br />
“辰儿，如今形势紧迫，东江别墅已成鬼之一域！阴魂不散鬼狱称雄。如今我不知为何天宫感应不再，六道轮回自转，莫非我长期蛰伏的时候末世来临?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 273506,
  'size_k' => 274,
  'size_w' => 27.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/321/321s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/321.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=321&cid=15181',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=113&cid=15272',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=321',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=321',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=321',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%BB%C5%C2%BA%DA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B618%BA%C5%B1%F0%CA%FB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F321.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
