array (
  'meta_keywords' => '死亡游戏 龙若然 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=322&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=322&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=322&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=322&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '322',
    'siteid' => '2',
    'sourceid' => '6012',
    'postdate' => '1453960945',
    'lastupdate' => '1457702820',
    'articlename' => '死亡游戏',
    'articlecode' => 'siwangyouxi',
    'backupname' => '',
    'keywords' => '复仇 异能 爱情',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '1228',
    'author' => '龙若然',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '当收到短信的那一刻，无论你愿不愿意，死亡游戏已经开始。准备好了吗？以生命作为赌注，成者生！败者死！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '15321',
    'lastchapter' => '第四十七章 树藤上的人',
    'lastsummary' => '',
    'chapters' => '100',
    'size' => '400038',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478935214',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '91',
    'allvisit' => '11713',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '7',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876963',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1455941651',
    'freesize' => '400038',
    'isvip' => '签约',
    'viptime' => '1457702820',
    'vipid' => '114',
    'vippubid' => '0',
    'vipchapters' => '51',
    'vipsize' => '207390',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '15372',
    'vipchapter' => '第九十八章 生命尽头',
    'vipsummary' => '我微微一愣，听王大锤这么一说，心竟莫名的慌起来，忙问：“怎么会这样？”<br />
<br />
王大锤低下头皱眉道：“我也不知道，就上次我和你去看过以后，主治医生就没让人再进去了，我也是从他的口中才得知，她的情况有越加严重，好像已经到了有自杀倾向的地步。”<br />
<br />
“不……不会的！莫杀已经死了，她肯定能好起来的。肯定是医生搞错了，找个借口想搪塞你。”我摇着头，不相..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 200019,
    'size_k' => 201,
    'size_w' => 20,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/322.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322&cid=15321',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=114&cid=15372',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=322',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=322',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=322',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C8%F4%C8%BB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%C0%CD%F6%D3%CE%CF%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F322.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '322',
  'siteid' => '2',
  'sourceid' => '6012',
  'postdate' => '1453960945',
  'lastupdate' => '1457702820',
  'articlename' => '死亡游戏',
  'articlecode' => 'siwangyouxi',
  'backupname' => '',
  'keywords' => '复仇 异能 爱情',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '1228',
  'author' => '龙若然',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '当收到短信的那一刻，无论你愿不愿意，死亡游戏已经开始。准备好了吗？以生命作为赌注，成者生！败者死！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '15321',
  'lastchapter' => '第四十七章 树藤上的人',
  'lastsummary' => '',
  'chapters' => '100',
  'size' => '400038',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478935214',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '91',
  'allvisit' => '11713',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '7',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876963',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1455941651',
  'freesize' => '400038',
  'isvip' => '签约',
  'viptime' => '1457702820',
  'vipid' => '114',
  'vippubid' => '0',
  'vipchapters' => '51',
  'vipsize' => '207390',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '15372',
  'vipchapter' => '第九十八章 生命尽头',
  'vipsummary' => '我微微一愣，听王大锤这么一说，心竟莫名的慌起来，忙问：“怎么会这样？”<br />
<br />
王大锤低下头皱眉道：“我也不知道，就上次我和你去看过以后，主治医生就没让人再进去了，我也是从他的口中才得知，她的情况有越加严重，好像已经到了有自杀倾向的地步。”<br />
<br />
“不……不会的！莫杀已经死了，她肯定能好起来的。肯定是医生搞错了，找个借口想搪塞你。”我摇着头，不相..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 200019,
  'size_k' => 201,
  'size_w' => 20,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/322/322s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/322.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=322&cid=15321',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=114&cid=15372',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=322',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=322',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=322',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%C8%F4%C8%BB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%C0%CD%F6%D3%CE%CF%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F322.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '复仇',
      'tagencode' => '%B8%B4%B3%F0',
    ),
    1 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    2 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
