array (
  'meta_keywords' => '这个道士有点坑 浩哥 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=323&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=323&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=323&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=323&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '323',
    'siteid' => '2',
    'sourceid' => '6116',
    'postdate' => '1454380026',
    'lastupdate' => '1458453015',
    'articlename' => '这个道士有点坑',
    'articlecode' => 'zhegedaoshiyoudiankang',
    'backupname' => '',
    'keywords' => '异能 爱情 驱鬼 风水',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '1228',
    'author' => '浩哥',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '　在火葬场抬死尸的我，睡觉时做了场春梦；醒后警察局送来具尸体，结果...... 冷艳孤傲，玲珑娇小的美女警花；性感黑丝，制服诱惑的勾人护士。童子尿怎么保命？黑狗血有何用途？牛眼泪干嘛用的？鬼到底是什么？为什么常人看不见鬼？这个道士有点不正经，我有点色， 有点二，魑魅魍魉，快快来，小爷跟你们谈谈人生。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '15411',
    'lastchapter' => '第039章 拜师入道',
    'lastsummary' => '',
    'chapters' => '81',
    'size' => '418488',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478943988',
    'dayvisit' => '39',
    'weekvisit' => '52',
    'monthvisit' => '130',
    'allvisit' => '10848',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '5',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876951',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457179836',
    'freesize' => '418488',
    'isvip' => '签约',
    'viptime' => '1458453015',
    'vipid' => '115',
    'vippubid' => '0',
    'vipchapters' => '42',
    'vipsize' => '223498',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '15453',
    'vipchapter' => '扯犊子的话',
    'vipsummary' => '这些话我实在是不想说出来，但是这个道士实在是太坑了，什么都不多说了，感谢一直看下来的那二十个人，多谢你们的支持，浩哥到现在完结这本书了，就这样吧，也许完结是另一种开始，新书《生灵禁忌》也会在鬼姐姐发布，多谢大家对我的支持，新书我将改头换面，全程灵异乡村恐怖，惊爆你的眼球，各位，安好.....',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 209244,
    'size_k' => 210,
    'size_w' => 20.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/323.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323&cid=15411',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=115&cid=15453',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=323',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=323',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=323',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%C6%B8%E7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%E2%B8%F6%B5%C0%CA%BF%D3%D0%B5%E3%BF%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F323.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '323',
  'siteid' => '2',
  'sourceid' => '6116',
  'postdate' => '1454380026',
  'lastupdate' => '1458453015',
  'articlename' => '这个道士有点坑',
  'articlecode' => 'zhegedaoshiyoudiankang',
  'backupname' => '',
  'keywords' => '异能 爱情 驱鬼 风水',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '1228',
  'author' => '浩哥',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '　在火葬场抬死尸的我，睡觉时做了场春梦；醒后警察局送来具尸体，结果...... 冷艳孤傲，玲珑娇小的美女警花；性感黑丝，制服诱惑的勾人护士。童子尿怎么保命？黑狗血有何用途？牛眼泪干嘛用的？鬼到底是什么？为什么常人看不见鬼？这个道士有点不正经，我有点色， 有点二，魑魅魍魉，快快来，小爷跟你们谈谈人生。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '15411',
  'lastchapter' => '第039章 拜师入道',
  'lastsummary' => '',
  'chapters' => '81',
  'size' => '418488',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478943988',
  'dayvisit' => '39',
  'weekvisit' => '52',
  'monthvisit' => '130',
  'allvisit' => '10848',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '5',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876951',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457179836',
  'freesize' => '418488',
  'isvip' => '签约',
  'viptime' => '1458453015',
  'vipid' => '115',
  'vippubid' => '0',
  'vipchapters' => '42',
  'vipsize' => '223498',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '15453',
  'vipchapter' => '扯犊子的话',
  'vipsummary' => '这些话我实在是不想说出来，但是这个道士实在是太坑了，什么都不多说了，感谢一直看下来的那二十个人，多谢你们的支持，浩哥到现在完结这本书了，就这样吧，也许完结是另一种开始，新书《生灵禁忌》也会在鬼姐姐发布，多谢大家对我的支持，新书我将改头换面，全程灵异乡村恐怖，惊爆你的眼球，各位，安好.....',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 209244,
  'size_k' => 210,
  'size_w' => 20.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/323/323s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/323.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=323&cid=15411',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=115&cid=15453',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=323',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=323',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=323',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%C6%B8%E7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%E2%B8%F6%B5%C0%CA%BF%D3%D0%B5%E3%BF%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F323.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    3 => 
    array (
      'tagname' => '风水',
      'tagencode' => '%B7%E7%CB%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
