array (
  'meta_keywords' => '天眼鬼道 零玖 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=324&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=324&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=324&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=324&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '324',
    'siteid' => '2',
    'sourceid' => '6455',
    'postdate' => '1456104665',
    'lastupdate' => '1457935713',
    'articlename' => '天眼鬼道',
    'articlecode' => 'tianyanguidao',
    'backupname' => '',
    'keywords' => '驱鬼 神魔',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '6180',
    'author' => '零玖',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '我无意之间,听家里人提起,在我刚出生的那一天,竟然会发生了那样子的事情! 难怪,我18岁之后,会变成这个样子……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '15491',
    'lastchapter' => '第三十八章&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入墓室',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这就是我的事了，就不劳将军大人费心了，您只要告诉我，始皇帝的墓到底在哪里就可以了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐云似乎是打定了注意，一心想要问道秦始皇真正的墓地，至于是想要习得秘术，帮我复活李威，（咳咳……现在死没死还不知道，只好这么说了。）还是另有私心，那就不是我能知道的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你确定吗？这一去，有可能会葬送你自己的生命，就算是这样，你也不怕吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不怕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一刻，我真的很想说一句，：“我还想多活几年！”但是，我根本就没有机会说，因为下一秒，眼前的兵马俑突然分成了八列，每列上面有着..',
    'chapters' => '129',
    'size' => '727891',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478902392',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '104',
    'allvisit' => '14670',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '16',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876937',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1457192933',
    'freesize' => '727891',
    'isvip' => '签约',
    'viptime' => '1457935713',
    'vipid' => '116',
    'vippubid' => '0',
    'vipchapters' => '91',
    'vipsize' => '544348',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '25373',
    'vipchapter' => '快一个月了，零玖想要说说心里话',
    'vipsummary' => '说句实在话，对于现在的成绩，心里还是很失望的，新开书的时候，楼哥给了两个很好的推荐，但是取得的成绩却不是很理想，现在眼看着就要上架了，成绩估计会更差。<br />
&nbsp;&nbsp;其实每天零玖最最喜欢做的事情，就是去看看收藏，看看打赏，每涨一个收藏，多一个点击，有一个打赏，都会欣喜若狂，就连睡觉的时候我都会笑醒。<br />
&nbsp;&nbsp;零玖写书到现在，也差不多半年了，从大学毕业之..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 363946,
    'size_k' => 364,
    'size_w' => 36.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/324.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324&cid=15491',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=116&cid=25373',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=324',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=324',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=324',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6180.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%E3%BE%C1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%D1%DB%B9%ED%B5%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F324.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '324',
  'siteid' => '2',
  'sourceid' => '6455',
  'postdate' => '1456104665',
  'lastupdate' => '1457935713',
  'articlename' => '天眼鬼道',
  'articlecode' => 'tianyanguidao',
  'backupname' => '',
  'keywords' => '驱鬼 神魔',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '6180',
  'author' => '零玖',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '我无意之间,听家里人提起,在我刚出生的那一天,竟然会发生了那样子的事情! 难怪,我18岁之后,会变成这个样子……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '15491',
  'lastchapter' => '第三十八章&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入墓室',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这就是我的事了，就不劳将军大人费心了，您只要告诉我，始皇帝的墓到底在哪里就可以了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐云似乎是打定了注意，一心想要问道秦始皇真正的墓地，至于是想要习得秘术，帮我复活李威，（咳咳……现在死没死还不知道，只好这么说了。）还是另有私心，那就不是我能知道的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你确定吗？这一去，有可能会葬送你自己的生命，就算是这样，你也不怕吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不怕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一刻，我真的很想说一句，：“我还想多活几年！”但是，我根本就没有机会说，因为下一秒，眼前的兵马俑突然分成了八列，每列上面有着..',
  'chapters' => '129',
  'size' => '727891',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478902392',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '104',
  'allvisit' => '14670',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '16',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876937',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1457192933',
  'freesize' => '727891',
  'isvip' => '签约',
  'viptime' => '1457935713',
  'vipid' => '116',
  'vippubid' => '0',
  'vipchapters' => '91',
  'vipsize' => '544348',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '25373',
  'vipchapter' => '快一个月了，零玖想要说说心里话',
  'vipsummary' => '说句实在话，对于现在的成绩，心里还是很失望的，新开书的时候，楼哥给了两个很好的推荐，但是取得的成绩却不是很理想，现在眼看着就要上架了，成绩估计会更差。<br />
&nbsp;&nbsp;其实每天零玖最最喜欢做的事情，就是去看看收藏，看看打赏，每涨一个收藏，多一个点击，有一个打赏，都会欣喜若狂，就连睡觉的时候我都会笑醒。<br />
&nbsp;&nbsp;零玖写书到现在，也差不多半年了，从大学毕业之..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 363946,
  'size_k' => 364,
  'size_w' => 36.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/324/324s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/324.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=324&cid=15491',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=116&cid=25373',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=324',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=324',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=324',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6180.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%E3%BE%C1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%D1%DB%B9%ED%B5%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F324.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    1 => 
    array (
      'tagname' => '神魔',
      'tagencode' => '%C9%F1%C4%A7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
