array (
  'meta_keywords' => '招灵 大神锤子 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=327&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=327&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=327&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=327&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '327',
    'siteid' => '2',
    'sourceid' => '5434',
    'postdate' => '1450940735',
    'lastupdate' => '1455806700',
    'articlename' => '招灵',
    'articlecode' => 'zhaoling',
    'backupname' => '',
    'keywords' => '异能 毒蛊 驱鬼 风水 神魔',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '4669',
    'author' => '大神锤子',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '母亲死了三个月，把我生在了火葬场的焚尸炉里。老瘸子养父抠心剜血救活我，传给我一块无字灵牌，让我当了个点主官，专门给死人立牌位…… 惑乱人心的屁虎子，怨气冲天的绿骨魔，千里追魂，百鬼凶祠……本该福佑后代的祖宗灵牌，稍不小心，就会变成索命的凶灵。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '14608',
    'lastchapter' => '第三十八章 罗生门',
    'lastsummary' => '',
    'chapters' => '131',
    'size' => '627387',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478618134',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '156',
    'allvisit' => '61090',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '8',
    'goodnum' => '52',
    'reviewsnum' => '1',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1462876947',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1451910878',
    'freesize' => '627387',
    'isvip' => '签约',
    'viptime' => '1455806700',
    'vipid' => '119',
    'vippubid' => '0',
    'vipchapters' => '93',
    'vipsize' => '433742',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '14701',
    'vipchapter' => '第一百三十章 终焉——伟大灵魂',
    'vipsummary' => '我被黄大仙的屁熏的晕死了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;迷迷糊糊间，我感觉到一股强大不可反抗的意识进入了我的灵魂深处，将我的灵魂一点点从身体中剥离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我想要反抗，但是却完全无能为力，只能感受到那股意识似乎充满了暴怒和……额……嫌弃，似乎不停的扇动鼻息，好像一个有洁癖的人进了恶臭的厕所一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然我无法反抗，但是感受到大欢喜菩萨被黄大仙最后的一皮折磨?..',
    'lastflower' => '1468505937',
    'allflower' => '1',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 313694,
    'size_k' => 314,
    'size_w' => 31.4,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/327.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327&cid=14608',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=119&cid=14701',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=327',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=327',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=327',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4669.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%C9%F1%B4%B8%D7%D3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%D0%C1%E9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F327.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '327',
  'siteid' => '2',
  'sourceid' => '5434',
  'postdate' => '1450940735',
  'lastupdate' => '1455806700',
  'articlename' => '招灵',
  'articlecode' => 'zhaoling',
  'backupname' => '',
  'keywords' => '异能 毒蛊 驱鬼 风水 神魔',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '4669',
  'author' => '大神锤子',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '母亲死了三个月，把我生在了火葬场的焚尸炉里。老瘸子养父抠心剜血救活我，传给我一块无字灵牌，让我当了个点主官，专门给死人立牌位…… 惑乱人心的屁虎子，怨气冲天的绿骨魔，千里追魂，百鬼凶祠……本该福佑后代的祖宗灵牌，稍不小心，就会变成索命的凶灵。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '14608',
  'lastchapter' => '第三十八章 罗生门',
  'lastsummary' => '',
  'chapters' => '131',
  'size' => '627387',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478618134',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '156',
  'allvisit' => '61090',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '8',
  'goodnum' => '52',
  'reviewsnum' => '1',
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1462876947',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1451910878',
  'freesize' => '627387',
  'isvip' => '签约',
  'viptime' => '1455806700',
  'vipid' => '119',
  'vippubid' => '0',
  'vipchapters' => '93',
  'vipsize' => '433742',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '14701',
  'vipchapter' => '第一百三十章 终焉——伟大灵魂',
  'vipsummary' => '我被黄大仙的屁熏的晕死了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;迷迷糊糊间，我感觉到一股强大不可反抗的意识进入了我的灵魂深处，将我的灵魂一点点从身体中剥离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我想要反抗，但是却完全无能为力，只能感受到那股意识似乎充满了暴怒和……额……嫌弃，似乎不停的扇动鼻息，好像一个有洁癖的人进了恶臭的厕所一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然我无法反抗，但是感受到大欢喜菩萨被黄大仙最后的一皮折磨?..',
  'lastflower' => '1468505937',
  'allflower' => '1',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 313694,
  'size_k' => 314,
  'size_w' => 31.4,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/327/327s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/327.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=327&cid=14608',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=119&cid=14701',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=327',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=327',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=327',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4669.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%C9%F1%B4%B8%D7%D3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%D0%C1%E9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F327.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    1 => 
    array (
      'tagname' => '毒蛊',
      'tagencode' => '%B6%BE%B9%C6',
    ),
    2 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    3 => 
    array (
      'tagname' => '风水',
      'tagencode' => '%B7%E7%CB%AE',
    ),
    4 => 
    array (
      'tagname' => '神魔',
      'tagencode' => '%C9%F1%C4%A7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
