array (
  'meta_keywords' => '掘墓谜踪 廉红文 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=331&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=331&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=331&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=331&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '331',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1463029126',
    'lastupdate' => '1463029256',
    'articlename' => '掘墓谜踪',
    'articlecode' => 'juemumizong',
    'backupname' => '探险、解密。',
    'keywords' => '探险 解密',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '1688',
    'author' => '廉红文',
    'posterid' => '1688',
    'poster' => '廉红文',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '世人只知有盗墓派，却从不知有掘墓派。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;掘墓派和盗墓派不同之处就在于，盗墓派主要目地是为了墓中冥器，而掘墓的目地则不这么简单。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;掘墓派的使命，就是掘其墓、鞭其尸，断其风水龙脉、运数运气，让生前犯下滔天大罪却没有得到报应的罪人，死后得到应有的报应和惩罚。<br />
让其家族后代，无有运气运数再兴风作浪，以此，来捍卫自己的国家和民族。<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就是掘墓派的使命。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;这个故事，就是掘墓派破解种种历史谜墓、惩罚罪人所经历的冒险故事。 ',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '15701',
    'lastvolume' => '兑卷：七十二疑冢',
    'lastchapterid' => '15702',
    'lastchapter' => '第0001章&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 梦魇惊魂1',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;天地分阴阳，阴阳化无极，无极生太极，太极生两仪，两仪变四象，四象化八卦，八卦又变为八八六十四卦，这种种术术就由此而生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八卦者为：乾、坤、坎、离、震、艮、巽、兑，是为八卦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乾者，代表的是天；坤者，代表是地；坎者，代表的是水；离者，代表的是火；震者，代表的是雷；艮者，代表的是山；巽者，代表的是风；兑者，代表的是泽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;兑，八卦中的末卦，代表的是泽，其外柔内刚，汉字释意为，从诺而做，从口，从人，欢欣喜悦也。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四周幽暗，暗淡无光，碧烟弥漫，烟雾蒸腾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;幽碧色的烟雾中..',
    'chapters' => '3',
    'size' => '20952',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885499',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '78',
    'allvisit' => '29617',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1463029256',
    'freesize' => '20952',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 10476,
    'size_k' => 11,
    'size_w' => 1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/331.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331&cid=15702',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=331',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=331',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=331',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1688.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%AE%BA%EC%CE%C4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F2%C4%B9%C3%D5%D7%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F331.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '331',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1463029126',
  'lastupdate' => '1463029256',
  'articlename' => '掘墓谜踪',
  'articlecode' => 'juemumizong',
  'backupname' => '探险、解密。',
  'keywords' => '探险 解密',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '1688',
  'author' => '廉红文',
  'posterid' => '1688',
  'poster' => '廉红文',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '世人只知有盗墓派，却从不知有掘墓派。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;掘墓派和盗墓派不同之处就在于，盗墓派主要目地是为了墓中冥器，而掘墓的目地则不这么简单。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;掘墓派的使命，就是掘其墓、鞭其尸，断其风水龙脉、运数运气，让生前犯下滔天大罪却没有得到报应的罪人，死后得到应有的报应和惩罚。<br />
让其家族后代，无有运气运数再兴风作浪，以此，来捍卫自己的国家和民族。<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就是掘墓派的使命。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;这个故事，就是掘墓派破解种种历史谜墓、惩罚罪人所经历的冒险故事。 ',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '15701',
  'lastvolume' => '兑卷：七十二疑冢',
  'lastchapterid' => '15702',
  'lastchapter' => '第0001章&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 梦魇惊魂1',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;天地分阴阳，阴阳化无极，无极生太极，太极生两仪，两仪变四象，四象化八卦，八卦又变为八八六十四卦，这种种术术就由此而生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八卦者为：乾、坤、坎、离、震、艮、巽、兑，是为八卦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乾者，代表的是天；坤者，代表是地；坎者，代表的是水；离者，代表的是火；震者，代表的是雷；艮者，代表的是山；巽者，代表的是风；兑者，代表的是泽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;兑，八卦中的末卦，代表的是泽，其外柔内刚，汉字释意为，从诺而做，从口，从人，欢欣喜悦也。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四周幽暗，暗淡无光，碧烟弥漫，烟雾蒸腾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;幽碧色的烟雾中..',
  'chapters' => '3',
  'size' => '20952',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885499',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '78',
  'allvisit' => '29617',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1463029256',
  'freesize' => '20952',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 10476,
  'size_k' => 11,
  'size_w' => 1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/331.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=331&cid=15702',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=331',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=331',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=331',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1688.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%AE%BA%EC%CE%C4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F2%C4%B9%C3%D5%D7%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F331.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '探险',
      'tagencode' => '%CC%BD%CF%D5',
    ),
    1 => 
    array (
      'tagname' => '解密',
      'tagencode' => '%BD%E2%C3%DC',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
