array (
  'meta_keywords' => '冰火侠缘 煋炫 武侠修真',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=334&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=334&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=334&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=334&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '334',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1463385819',
    'lastupdate' => '1478000187',
    'articlename' => '冰火侠缘',
    'articlecode' => 'binghuoxiayuan',
    'backupname' => '人妖结合，天理不容！就算天不容许，也要逆天而行，化身妖魔又何妨！',
    'keywords' => '仙侠 情感',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '1773',
    'author' => '煋炫',
    'posterid' => '1773',
    'poster' => '煋炫',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '8',
    'libid' => '0',
    'intro' => '世间享受了太久的安逸和平，当龙阳城内一片喜庆之色时，谁也不知道一个蓄谋已久的阴谋就此开始。<br />
当赤月破阳，封印弱化之时，辟邪龙珠被神秘的黑衣人盗走，封印了百年的鬼王再次出现，让龙阳城变成了人间炼狱。<br />
经历了亲人永别，不停磨难的严啸天，带着斩妖除魔，振兴家门的使命，最后居然与妖相恋，受到一切力量阻止的他，就算堕落魔道，也决不放弃！',
    'notice' => '希望书友们相互转告，帮忙广告，你们的支持就是我的力量！求点击、求推荐、求书评，各种求！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '86867',
    'lastchapter' => '第八十九章 潜入',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;若水的话才说完，金玲贝齿咬唇，双眼朦胧。一下跪在了若水和成羽的面前，哽咽的说道：“若水姐姐，成大哥，我求你们了，我就只出去十日，十日内我一定回来。如果胡爷爷知道了，要惩罚，我一个人承担。我绝不会连累你们的。我就求求你们，帮帮我吧！我真的很想出去，我真的想去看看小天天，就看一眼，知道他好，我也就安心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“铃儿，你做什么，你快起来。”若水急忙想扶起金玲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可金玲却固执不起，说道：“你们不帮我，我就不起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若水一脸无奈的看向了成羽，一旁的依柔也上前说道：“成大哥，若水，你..',
    'chapters' => '120',
    'size' => '534196',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '6293',
    'lastvisit' => '1478618141',
    'dayvisit' => 0,
    'weekvisit' => '78',
    'monthvisit' => '234',
    'allvisit' => '153639',
    'lastvote' => '1468151106',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '166',
    'goodnum' => '16',
    'reviewsnum' => '3',
    'ratenum' => 109,
    'ratesum' => 1089,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1470016436',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1469839270',
    'freesize' => '491181',
    'isvip' => '签约',
    'viptime' => '1478000187',
    'vipid' => '131',
    'vippubid' => '0',
    'vipchapters' => '31',
    'vipsize' => '128379',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '105202',
    'vipchapter' => '第一二零章 结束',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当一切平静下来后，严灵慧站在了金玲的面前，她的面色变得更加的平静，身上的伤也消失了，像是什么也没有发生过一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玲看着严灵慧问道：“严，严姑娘，你还好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严灵慧看了一眼金玲，平静的说道：“你就在这，不要跟来了。”说完一下纵身跃出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严啸天此时的力量已经超过了余成，将他打得一身是伤，摔倒在地上，那赤磷剑也掉落在了一旁的草地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余成从地上爬起，看着严啸天说道：“不可能，不可能！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时胡爷爷一下跃了过来，一只手抓在了余成的头上，说道：“把你的力量交给我吧！..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1468151143',
    'allvipvote' => '10',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '1',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '古典仙侠',
    'typename' => '古典仙侠',
    'size_c' => 267098,
    'size_k' => 268,
    'size_w' => 26.7,
    'rateavg' => '10.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/334.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334&cid=86867',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=131&cid=105202',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=334',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=334',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=334',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1773.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%9F%93%EC%C5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%F9%BB%F0%CF%C0%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F334.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '334',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1463385819',
  'lastupdate' => '1478000187',
  'articlename' => '冰火侠缘',
  'articlecode' => 'binghuoxiayuan',
  'backupname' => '人妖结合，天理不容！就算天不容许，也要逆天而行，化身妖魔又何妨！',
  'keywords' => '仙侠 情感',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '1773',
  'author' => '煋炫',
  'posterid' => '1773',
  'poster' => '煋炫',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '8',
  'libid' => '0',
  'intro' => '世间享受了太久的安逸和平，当龙阳城内一片喜庆之色时，谁也不知道一个蓄谋已久的阴谋就此开始。<br />
当赤月破阳，封印弱化之时，辟邪龙珠被神秘的黑衣人盗走，封印了百年的鬼王再次出现，让龙阳城变成了人间炼狱。<br />
经历了亲人永别，不停磨难的严啸天，带着斩妖除魔，振兴家门的使命，最后居然与妖相恋，受到一切力量阻止的他，就算堕落魔道，也决不放弃！',
  'notice' => '希望书友们相互转告，帮忙广告，你们的支持就是我的力量！求点击、求推荐、求书评，各种求！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '86867',
  'lastchapter' => '第八十九章 潜入',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;若水的话才说完，金玲贝齿咬唇，双眼朦胧。一下跪在了若水和成羽的面前，哽咽的说道：“若水姐姐，成大哥，我求你们了，我就只出去十日，十日内我一定回来。如果胡爷爷知道了，要惩罚，我一个人承担。我绝不会连累你们的。我就求求你们，帮帮我吧！我真的很想出去，我真的想去看看小天天，就看一眼，知道他好，我也就安心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“铃儿，你做什么，你快起来。”若水急忙想扶起金玲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可金玲却固执不起，说道：“你们不帮我，我就不起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若水一脸无奈的看向了成羽，一旁的依柔也上前说道：“成大哥，若水，你..',
  'chapters' => '120',
  'size' => '534196',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '6293',
  'lastvisit' => '1478618141',
  'dayvisit' => 0,
  'weekvisit' => '78',
  'monthvisit' => '234',
  'allvisit' => '153639',
  'lastvote' => '1468151106',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '166',
  'goodnum' => '16',
  'reviewsnum' => '3',
  'ratenum' => 109,
  'ratesum' => 1089,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1470016436',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1469839270',
  'freesize' => '491181',
  'isvip' => '签约',
  'viptime' => '1478000187',
  'vipid' => '131',
  'vippubid' => '0',
  'vipchapters' => '31',
  'vipsize' => '128379',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '105202',
  'vipchapter' => '第一二零章 结束',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当一切平静下来后，严灵慧站在了金玲的面前，她的面色变得更加的平静，身上的伤也消失了，像是什么也没有发生过一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玲看着严灵慧问道：“严，严姑娘，你还好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严灵慧看了一眼金玲，平静的说道：“你就在这，不要跟来了。”说完一下纵身跃出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严啸天此时的力量已经超过了余成，将他打得一身是伤，摔倒在地上，那赤磷剑也掉落在了一旁的草地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余成从地上爬起，看着严啸天说道：“不可能，不可能！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时胡爷爷一下跃了过来，一只手抓在了余成的头上，说道：“把你的力量交给我吧！..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1468151143',
  'allvipvote' => '10',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '1',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '古典仙侠',
  'typename' => '古典仙侠',
  'size_c' => 267098,
  'size_k' => 268,
  'size_w' => 26.7,
  'rateavg' => '10.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/334/334s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/334.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=334&cid=86867',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=131&cid=105202',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=334',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=334',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=334',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1773.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%9F%93%EC%C5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%F9%BB%F0%CF%C0%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F334.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '仙侠',
      'tagencode' => '%CF%C9%CF%C0',
    ),
    1 => 
    array (
      'tagname' => '情感',
      'tagencode' => '%C7%E9%B8%D0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
