array (
  'meta_keywords' => '景顺年间 圣以 历史军事',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=337&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=337&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=337&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=337&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '337',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1463907068',
    'lastupdate' => '1466147042',
    'articlename' => '景顺年间',
    'articlecode' => 'jingshunnianjian',
    'backupname' => '落魄之国，贤明太子力挽狂澜',
    'keywords' => '历史 架空 皇帝',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '1737',
    'author' => '圣以',
    'posterid' => '1737',
    'poster' => '圣以',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '4',
    'typeid' => '20',
    'libid' => '0',
    'intro' => '落魄国家落魄皇，先皇崩前不思进取，酒池肉林，一百多年之大国被驱赶至南方。<br />
北有叛军作乱，东南沿海倭寇扰民，民不聊生，生灵涂炭。<br />
“父皇，儿将尽力复我大顺之国威。”<br />
李景顺低声道，正了正衣冠，向御銮殿望去。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '30093',
    'lastchapter' => '第一章 大军北伐',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;天元二十二年，复顺帝调任时中央大将军李景顺，统御禁军十万与山海关边军二十万，特拟诏书，欲其收复百年前大顺失地：幽州、顺州及蓟州三地，为的是巩固边防，夺回那段无比重要的城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这差事，本身并无多大难度，只是数十年前，大顺名将李鼎元曾带领四十万大军进攻幽州，不料北方多风沙，而这李鼎元将军却又是南方湖广之人，加上年事已高，攻取幽州时便生了一场大病，郎中道是水土不服，尚未攻下城池这位征战一生的老将便黯然离世，大军军心涣散，溃不成军，一时竟被城池中岌岌可危的守军反杀了个丢盔弃甲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自此，..',
    'chapters' => '1',
    'size' => '4136',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478618246',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '104',
    'allvisit' => '6190',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1466147042',
    'freesize' => '4136',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '历史军事',
    'sortname' => '历史军事',
    'type' => '架空历史',
    'typename' => '架空历史',
    'size_c' => 2068,
    'size_k' => 3,
    'size_w' => 0.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/337.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337&cid=30093',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=337',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=337',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=337',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1737.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%A5%D2%D4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%B0%CB%B3%C4%EA%BC%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F337.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '337',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1463907068',
  'lastupdate' => '1466147042',
  'articlename' => '景顺年间',
  'articlecode' => 'jingshunnianjian',
  'backupname' => '落魄之国，贤明太子力挽狂澜',
  'keywords' => '历史 架空 皇帝',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '1737',
  'author' => '圣以',
  'posterid' => '1737',
  'poster' => '圣以',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '4',
  'typeid' => '20',
  'libid' => '0',
  'intro' => '落魄国家落魄皇，先皇崩前不思进取，酒池肉林，一百多年之大国被驱赶至南方。<br />
北有叛军作乱，东南沿海倭寇扰民，民不聊生，生灵涂炭。<br />
“父皇，儿将尽力复我大顺之国威。”<br />
李景顺低声道，正了正衣冠，向御銮殿望去。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '30093',
  'lastchapter' => '第一章 大军北伐',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;天元二十二年，复顺帝调任时中央大将军李景顺，统御禁军十万与山海关边军二十万，特拟诏书，欲其收复百年前大顺失地：幽州、顺州及蓟州三地，为的是巩固边防，夺回那段无比重要的城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这差事，本身并无多大难度，只是数十年前，大顺名将李鼎元曾带领四十万大军进攻幽州，不料北方多风沙，而这李鼎元将军却又是南方湖广之人，加上年事已高，攻取幽州时便生了一场大病，郎中道是水土不服，尚未攻下城池这位征战一生的老将便黯然离世，大军军心涣散，溃不成军，一时竟被城池中岌岌可危的守军反杀了个丢盔弃甲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自此，..',
  'chapters' => '1',
  'size' => '4136',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478618246',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '104',
  'allvisit' => '6190',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1466147042',
  'freesize' => '4136',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '历史军事',
  'sortname' => '历史军事',
  'type' => '架空历史',
  'typename' => '架空历史',
  'size_c' => 2068,
  'size_k' => 3,
  'size_w' => 0.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/337.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=337&cid=30093',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=337',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=337',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=337',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1737.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%A5%D2%D4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%B0%CB%B3%C4%EA%BC%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F337.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '历史',
      'tagencode' => '%C0%FA%CA%B7',
    ),
    1 => 
    array (
      'tagname' => '架空',
      'tagencode' => '%BC%DC%BF%D5',
    ),
    2 => 
    array (
      'tagname' => '皇帝',
      'tagencode' => '%BB%CA%B5%DB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
