array (
  'meta_keywords' => '我的供养鬼男友 十场梦 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=339&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=339&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=339&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=339&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '339',
    'siteid' => '1',
    'sourceid' => '71',
    'postdate' => '1456838657',
    'lastupdate' => '1472137848',
    'articlename' => '我的供养鬼男友',
    'articlecode' => 'wodegongyangguinanyou',
    'backupname' => '',
    'keywords' => '言情 灵异 娱乐圈',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '3009',
    'author' => '十场梦',
    'posterid' => '642',
    'poster' => '阅庭',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她想成名，可是没运，听说养鬼有帮人改运的功效，于是决定养只鬼，然后……就被这只鬼赖上了。 ',
    'notice' => '新书首发，请大家多多关照！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '31284',
    'lastchapter' => '第二章：第一次练习',
    'lastsummary' => '',
    'chapters' => '318',
    'size' => '1343390',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478690105',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '117',
    'allvisit' => '42346',
    'lastvote' => '1469801474',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1',
    'goodnum' => '11',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1456810452',
    'freesize' => '1343390',
    'isvip' => '签约',
    'viptime' => '1472137848',
    'vipid' => '125',
    'vippubid' => '0',
    'vipchapters' => '266',
    'vipsize' => '1156388',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '93146',
    'vipchapter' => '第303章 霸道男鬼吃醋记',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;回头去看，正见穿着黑色西裤跟一身白衬衣的韩烨正站在我们对面。别说，喜欢穿白衬衫的男人，长相还真是差不到哪儿去。君子如玉，歉然有礼，比我那天晚上见他的时候更好，更精神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么是你啊？”我说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然了，听说你目前在这里，所以我来看看。另外我也是买了票才进来的，你可记得要给我报销哦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么……”后面的话还没说完，??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 671695,
    'size_k' => 672,
    'size_w' => 67.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/339.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339&cid=31284',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=125&cid=93146',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=339',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=339',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=339',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/3009.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%AE%B3%A1%C3%CE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%B9%A9%D1%F8%B9%ED%C4%D0%D3%D1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F339.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '339',
  'siteid' => '1',
  'sourceid' => '71',
  'postdate' => '1456838657',
  'lastupdate' => '1472137848',
  'articlename' => '我的供养鬼男友',
  'articlecode' => 'wodegongyangguinanyou',
  'backupname' => '',
  'keywords' => '言情 灵异 娱乐圈',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '3009',
  'author' => '十场梦',
  'posterid' => '642',
  'poster' => '阅庭',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她想成名，可是没运，听说养鬼有帮人改运的功效，于是决定养只鬼，然后……就被这只鬼赖上了。 ',
  'notice' => '新书首发，请大家多多关照！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '31284',
  'lastchapter' => '第二章：第一次练习',
  'lastsummary' => '',
  'chapters' => '318',
  'size' => '1343390',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478690105',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '117',
  'allvisit' => '42346',
  'lastvote' => '1469801474',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1',
  'goodnum' => '11',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1456810452',
  'freesize' => '1343390',
  'isvip' => '签约',
  'viptime' => '1472137848',
  'vipid' => '125',
  'vippubid' => '0',
  'vipchapters' => '266',
  'vipsize' => '1156388',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '93146',
  'vipchapter' => '第303章 霸道男鬼吃醋记',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;回头去看，正见穿着黑色西裤跟一身白衬衣的韩烨正站在我们对面。别说，喜欢穿白衬衫的男人，长相还真是差不到哪儿去。君子如玉，歉然有礼，比我那天晚上见他的时候更好，更精神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么是你啊？”我说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然了，听说你目前在这里，所以我来看看。另外我也是买了票才进来的，你可记得要给我报销哦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么……”后面的话还没说完，??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 671695,
  'size_k' => 672,
  'size_w' => 67.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/339/339s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/339.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=339&cid=31284',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=125&cid=93146',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=339',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=339',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=339',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/3009.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%AE%B3%A1%C3%CE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%B9%A9%D1%F8%B9%ED%C4%D0%D3%D1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F339.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '灵异',
      'tagencode' => '%C1%E9%D2%EC',
    ),
    2 => 
    array (
      'tagname' => '娱乐圈',
      'tagencode' => '%D3%E9%C0%D6%C8%A6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
