array (
  'meta_keywords' => '溺宠一等小嫩妻 小汐月 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=345&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=345&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=345&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=345&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '345',
    'siteid' => '1',
    'sourceid' => '579',
    'postdate' => '1462630154',
    'lastupdate' => '1467690843',
    'articlename' => '溺宠一等小嫩妻',
    'articlecode' => 'nichongyidengxiaonenqi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'N',
    'authorid' => '6191',
    'author' => '小汐月',
    'posterid' => '642',
    'poster' => '阅庭',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;车祸带走了她的父母，在绝望的时候，陪伴长久的男友无故失踪，把她推向了更绝望的深渊，是另一个男人，将她拉回了阳光之下，给了她家一样的温暖。<br />
&nbsp;&nbsp;三年后，失踪的他再次回来，告诉她真相，猜忌，误会，伤心，绝望……把他们一步步地推向灭亡，最后，她不顾一切地用最极端的方式逃离了他的身边。<br />
&nbsp;&nbsp;辗转四年，她涅槃重生，成为了魔手党的王牌，冷酷无情的杀手，和过往彷若两人。<br />
变了的心，不变的是那张令他魂牵梦绕的脸，带着仇恨回到了他的身边，他告诉自己，不会再让自己无能。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '31651',
    'lastchapter' => '第二章&nbsp;&nbsp;愿者上钩',
    'lastsummary' => '',
    'chapters' => '157',
    'size' => '967616',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479011795',
    'dayvisit' => '13',
    'weekvisit' => '156',
    'monthvisit' => '403',
    'allvisit' => '49151',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465290320',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1461047716',
    'freesize' => '967616',
    'isvip' => '签约',
    'viptime' => '1467690843',
    'vipid' => '132',
    'vippubid' => '0',
    'vipchapters' => '138',
    'vipsize' => '860904',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '32211',
    'vipchapter' => '第一百四十九章 最开心的新娘（剧终！）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来，当金云豪昨天与米琴依热烈地拥抱了之后，他却对她心里感到一丝丝的疑问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;具体是什么疑问？金云豪也一时说不清楚，反正，他在内心就依稀地感觉到，自己昨天与米琴依拥抱的时候，她所表现出来的表情，却是与以前与她拥抱时所表现的不一样啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是怎么了？难道，这个女人并不是真正的米琴依？”金云豪不觉感到疑云重重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来，在过去..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 483808,
    'size_k' => 484,
    'size_w' => 48.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/345.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345&cid=31651',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=132&cid=32211',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=345',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=345',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=345',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6191.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%A1%CF%AB%D4%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E7%B3%E8%D2%BB%B5%C8%D0%A1%C4%DB%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F345.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '345',
  'siteid' => '1',
  'sourceid' => '579',
  'postdate' => '1462630154',
  'lastupdate' => '1467690843',
  'articlename' => '溺宠一等小嫩妻',
  'articlecode' => 'nichongyidengxiaonenqi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'N',
  'authorid' => '6191',
  'author' => '小汐月',
  'posterid' => '642',
  'poster' => '阅庭',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;车祸带走了她的父母，在绝望的时候，陪伴长久的男友无故失踪，把她推向了更绝望的深渊，是另一个男人，将她拉回了阳光之下，给了她家一样的温暖。<br />
&nbsp;&nbsp;三年后，失踪的他再次回来，告诉她真相，猜忌，误会，伤心，绝望……把他们一步步地推向灭亡，最后，她不顾一切地用最极端的方式逃离了他的身边。<br />
&nbsp;&nbsp;辗转四年，她涅槃重生，成为了魔手党的王牌，冷酷无情的杀手，和过往彷若两人。<br />
变了的心，不变的是那张令他魂牵梦绕的脸，带着仇恨回到了他的身边，他告诉自己，不会再让自己无能。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '31651',
  'lastchapter' => '第二章&nbsp;&nbsp;愿者上钩',
  'lastsummary' => '',
  'chapters' => '157',
  'size' => '967616',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479011795',
  'dayvisit' => '13',
  'weekvisit' => '156',
  'monthvisit' => '403',
  'allvisit' => '49151',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465290320',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1461047716',
  'freesize' => '967616',
  'isvip' => '签约',
  'viptime' => '1467690843',
  'vipid' => '132',
  'vippubid' => '0',
  'vipchapters' => '138',
  'vipsize' => '860904',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '32211',
  'vipchapter' => '第一百四十九章 最开心的新娘（剧终！）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来，当金云豪昨天与米琴依热烈地拥抱了之后，他却对她心里感到一丝丝的疑问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;具体是什么疑问？金云豪也一时说不清楚，反正，他在内心就依稀地感觉到，自己昨天与米琴依拥抱的时候，她所表现出来的表情，却是与以前与她拥抱时所表现的不一样啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是怎么了？难道，这个女人并不是真正的米琴依？”金云豪不觉感到疑云重重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来，在过去..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 483808,
  'size_k' => 484,
  'size_w' => 48.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/345/345s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/345.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=345&cid=31651',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=132&cid=32211',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=345',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=345',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=345',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6191.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%A1%CF%AB%D4%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E7%B3%E8%D2%BB%B5%C8%D0%A1%C4%DB%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F345.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
