array (
  'meta_keywords' => '禽兽潜规则：总裁爱上我 木宝儿 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=360&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=360&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=360&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=360&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '360',
    'siteid' => '3',
    'sourceid' => '76',
    'postdate' => '1449999495',
    'lastupdate' => '1449986254',
    'articlename' => '禽兽潜规则：总裁爱上我',
    'articlecode' => 'qinshouqianguize_zongcaiaishangwo',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '6188',
    'author' => '木宝儿',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '为了躲避父母催婚，只好假意受伤，她一堂堂影后骗过这些人还不容易，没想到却被腹黑楚大禽兽赶下手术台。<br />
出去就出去，你摸我咪咪做什么？被媒体拍到？被威胁做大禽兽的实验小白鼠？<br />
好，她忍，不就是研究标本吗？研究就研究，谁怕谁，可是尼玛居然敢说老娘是大猩猩。叔能忍婶不能忍，老娘跟你拼了。<br />
拼的结局是连环性被压倒？<br />
“楚勋，你扑到我干什么？”<br />
“我想干什么，你还不知道吗？”<br />
“禽兽，你又要干什么？”<br />
“今晚，你逃不掉了吧？”<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '22344',
    'lastchapter' => ' 第一百一十六章&nbsp;&nbsp; 惊魂未定',
    'lastsummary' => '&nbsp;&nbsp;另一边收到电话的齐榕和屏竹筠也速度的赶来了医院，至少，宋茵没事，在接到电话的瞬间，两人都有些激动。<br />
&nbsp;&nbsp;蹬蹬蹬的脚步声，齐榕和屏竹筠来了。<br />
&nbsp;&nbsp;“怎么样了小茵？”齐榕仔仔细细的从头到尾的打量了一遍宋茵的情况，发现除了衣服有些脏而外没有受到多大的伤害。<br />
&nbsp;&nbsp;屏竹筠也暗暗松了一口气，她就怕这次是有人故意的陷害，现在这个风头上要是再出些什么意外?..',
    'chapters' => '320',
    'size' => '1934412',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479047192',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '338',
    'allvisit' => '522921',
    'lastvote' => '1472358669',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '661',
    'goodnum' => '20',
    'reviewsnum' => '2',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465296998',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1449986254',
    'freesize' => '1934412',
    'isvip' => '签约',
    'viptime' => '1465824748',
    'vipid' => '144',
    'vippubid' => '0',
    'vipchapters' => '288',
    'vipsize' => '1835748',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '26075',
    'vipchapter' => '第三百二十章&nbsp;&nbsp;大结局 ',
    'vipsummary' => ' 又过了几天，齐榕和楚修的婚礼。<br />
 在这三个月之后的第一件喜事儿。<br />
 在A市的许多大人物都来了，什么军政界的，党政界的，商业界的，娱乐圈的大明星。<br />
 这个婚礼也可谓是轰动一时，楚修特意给了齐榕一场轰动的婚礼呢。<br />
 宋茵坐在嘉宾席中看着穿着白色婚纱的齐榕。<br />
 因为初为人母，齐姐的肚子也微微有些，不过不影响，可是这个样子看起来是真的很漂亮的。那温?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '600',
    'giftnums' => '2',
    'redrose' => '1',
    'yellowrose' => '1',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 967206,
    'size_k' => 968,
    'size_w' => 96.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/360.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360&cid=22344',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=144&cid=26075',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=360',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=360',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=360',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6188.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BE%B1%A6%B6%F9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%DD%CA%DE%C7%B1%B9%E6%D4%F2%A3%BA%D7%DC%B2%C3%B0%AE%C9%CF%CE%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F360.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '360',
  'siteid' => '3',
  'sourceid' => '76',
  'postdate' => '1449999495',
  'lastupdate' => '1449986254',
  'articlename' => '禽兽潜规则：总裁爱上我',
  'articlecode' => 'qinshouqianguize_zongcaiaishangwo',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '6188',
  'author' => '木宝儿',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '为了躲避父母催婚，只好假意受伤，她一堂堂影后骗过这些人还不容易，没想到却被腹黑楚大禽兽赶下手术台。<br />
出去就出去，你摸我咪咪做什么？被媒体拍到？被威胁做大禽兽的实验小白鼠？<br />
好，她忍，不就是研究标本吗？研究就研究，谁怕谁，可是尼玛居然敢说老娘是大猩猩。叔能忍婶不能忍，老娘跟你拼了。<br />
拼的结局是连环性被压倒？<br />
“楚勋，你扑到我干什么？”<br />
“我想干什么，你还不知道吗？”<br />
“禽兽，你又要干什么？”<br />
“今晚，你逃不掉了吧？”<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '22344',
  'lastchapter' => ' 第一百一十六章&nbsp;&nbsp; 惊魂未定',
  'lastsummary' => '&nbsp;&nbsp;另一边收到电话的齐榕和屏竹筠也速度的赶来了医院，至少，宋茵没事，在接到电话的瞬间，两人都有些激动。<br />
&nbsp;&nbsp;蹬蹬蹬的脚步声，齐榕和屏竹筠来了。<br />
&nbsp;&nbsp;“怎么样了小茵？”齐榕仔仔细细的从头到尾的打量了一遍宋茵的情况，发现除了衣服有些脏而外没有受到多大的伤害。<br />
&nbsp;&nbsp;屏竹筠也暗暗松了一口气，她就怕这次是有人故意的陷害，现在这个风头上要是再出些什么意外?..',
  'chapters' => '320',
  'size' => '1934412',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479047192',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '338',
  'allvisit' => '522921',
  'lastvote' => '1472358669',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '661',
  'goodnum' => '20',
  'reviewsnum' => '2',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465296998',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1449986254',
  'freesize' => '1934412',
  'isvip' => '签约',
  'viptime' => '1465824748',
  'vipid' => '144',
  'vippubid' => '0',
  'vipchapters' => '288',
  'vipsize' => '1835748',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '26075',
  'vipchapter' => '第三百二十章&nbsp;&nbsp;大结局 ',
  'vipsummary' => ' 又过了几天，齐榕和楚修的婚礼。<br />
 在这三个月之后的第一件喜事儿。<br />
 在A市的许多大人物都来了，什么军政界的，党政界的，商业界的，娱乐圈的大明星。<br />
 这个婚礼也可谓是轰动一时，楚修特意给了齐榕一场轰动的婚礼呢。<br />
 宋茵坐在嘉宾席中看着穿着白色婚纱的齐榕。<br />
 因为初为人母，齐姐的肚子也微微有些，不过不影响，可是这个样子看起来是真的很漂亮的。那温?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '600',
  'giftnums' => '2',
  'redrose' => '1',
  'yellowrose' => '1',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 967206,
  'size_k' => 968,
  'size_w' => 96.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/360/360s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/360.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=360&cid=22344',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=144&cid=26075',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=360',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=360',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=360',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6188.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BE%B1%A6%B6%F9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%DD%CA%DE%C7%B1%B9%E6%D4%F2%A3%BA%D7%DC%B2%C3%B0%AE%C9%CF%CE%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F360.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
