array (
  'meta_keywords' => '恶魔总裁的小嫩妻 清酒 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=367&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=367&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=367&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=367&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '367',
    'siteid' => '3',
    'sourceid' => '89',
    'postdate' => '1458571151',
    'lastupdate' => '1466769661',
    'articlename' => '恶魔总裁的小嫩妻',
    'articlecode' => 'emozongcaidexiaonenqi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'E',
    'authorid' => '4985',
    'author' => '清酒',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '小时候的拼死相救，只为了心中喜欢的人。巧合的是就是因为这个遇见了亲生家人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;海外漂流十几年，他是她的支柱，除了家人最大的支柱。回国之后，他美女缠身，绯闻不断，她却信他，始终坚信自己能暖化他的心。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 家族联婚，新婚他却消失匿迹，终究成了她一人的婚礼。新婚那晚，他递给她一纸合约，冷言相向:“我不爱你，你不爱我。两年，离婚，我给你我百分之三十的家产，期间你我相敬如宾，甚至形同陌路。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她坚持，却换来他一次一次的冷漠相待，不过何种场合，他身边的那个人始终不是她。<br />
&nbsp;&nbsp;&nbsp;&nbsp;最后她终于心灰意冷，洒脱签下离婚协议，分文不取。<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知身后的那个男人心中却泛起涟漪',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '60500',
    'lastchapter' => ' 第二章&nbsp;&nbsp;她醒了？',
    'lastsummary' => '说实话，两个月就是陌路人。很少看见他笑，有过，不过也只是冷笑而已。能让他笑的女生，她好奇得十分的厉害，也心慌的十分厉害，甚至伤心，眼泪已经到眼眶了。<br />
没有暗恋过的人根本没办法体会到那种感觉，听见心爱的人说喜欢谁，还是感觉他喜欢谁的那一种突然心碎的表情。<br />
忍住不让眼泪掉下来，等到车停的时候，还没平复好自己的情绪。僵坐了很久，正要打开??..',
    'chapters' => '336',
    'size' => '1664140',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478989441',
    'dayvisit' => '26',
    'weekvisit' => '130',
    'monthvisit' => '273',
    'allvisit' => '274339',
    'lastvote' => '1470216021',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '179',
    'goodnum' => '4',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465298241',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1458481454',
    'freesize' => '1664140',
    'isvip' => '签约',
    'viptime' => '1466769661',
    'vipid' => '151',
    'vippubid' => '0',
    'vipchapters' => '300',
    'vipsize' => '1591334',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '83697',
    'vipchapter' => '第三百二十五章&nbsp;&nbsp;大结局',
    'vipsummary' => '<br />
之后孩子就感觉到了自己的亲爹和蔼了很多，被他抱的时候也没有哭闹什么的，只是有时候手不知道要放到哪里，毕竟还是有些害怕自己的老爹，因为他浑身都充满着敌意。<br />
林雨哲本来是想要两个孩子的，因为两个孩子的话，陌烟就不会花太多的时间和他们玩耍，这样她就会有多点时间和他在一起，可是现在想想，还是只要一个吧，因为不管是一个还是两个，陌烟在乎的永..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 832070,
    'size_k' => 833,
    'size_w' => 83.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/367.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367&cid=60500',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=151&cid=83697',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=367',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=367',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=367',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4985.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%BE%C6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%D7%DC%B2%C3%B5%C4%D0%A1%C4%DB%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F367.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '367',
  'siteid' => '3',
  'sourceid' => '89',
  'postdate' => '1458571151',
  'lastupdate' => '1466769661',
  'articlename' => '恶魔总裁的小嫩妻',
  'articlecode' => 'emozongcaidexiaonenqi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'E',
  'authorid' => '4985',
  'author' => '清酒',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '小时候的拼死相救，只为了心中喜欢的人。巧合的是就是因为这个遇见了亲生家人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;海外漂流十几年，他是她的支柱，除了家人最大的支柱。回国之后，他美女缠身，绯闻不断，她却信他，始终坚信自己能暖化他的心。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 家族联婚，新婚他却消失匿迹，终究成了她一人的婚礼。新婚那晚，他递给她一纸合约，冷言相向:“我不爱你，你不爱我。两年，离婚，我给你我百分之三十的家产，期间你我相敬如宾，甚至形同陌路。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她坚持，却换来他一次一次的冷漠相待，不过何种场合，他身边的那个人始终不是她。<br />
&nbsp;&nbsp;&nbsp;&nbsp;最后她终于心灰意冷，洒脱签下离婚协议，分文不取。<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知身后的那个男人心中却泛起涟漪',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '60500',
  'lastchapter' => ' 第二章&nbsp;&nbsp;她醒了？',
  'lastsummary' => '说实话，两个月就是陌路人。很少看见他笑，有过，不过也只是冷笑而已。能让他笑的女生，她好奇得十分的厉害，也心慌的十分厉害，甚至伤心，眼泪已经到眼眶了。<br />
没有暗恋过的人根本没办法体会到那种感觉，听见心爱的人说喜欢谁，还是感觉他喜欢谁的那一种突然心碎的表情。<br />
忍住不让眼泪掉下来，等到车停的时候，还没平复好自己的情绪。僵坐了很久，正要打开??..',
  'chapters' => '336',
  'size' => '1664140',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478989441',
  'dayvisit' => '26',
  'weekvisit' => '130',
  'monthvisit' => '273',
  'allvisit' => '274339',
  'lastvote' => '1470216021',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '179',
  'goodnum' => '4',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465298241',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1458481454',
  'freesize' => '1664140',
  'isvip' => '签约',
  'viptime' => '1466769661',
  'vipid' => '151',
  'vippubid' => '0',
  'vipchapters' => '300',
  'vipsize' => '1591334',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '83697',
  'vipchapter' => '第三百二十五章&nbsp;&nbsp;大结局',
  'vipsummary' => '<br />
之后孩子就感觉到了自己的亲爹和蔼了很多，被他抱的时候也没有哭闹什么的，只是有时候手不知道要放到哪里，毕竟还是有些害怕自己的老爹，因为他浑身都充满着敌意。<br />
林雨哲本来是想要两个孩子的，因为两个孩子的话，陌烟就不会花太多的时间和他们玩耍，这样她就会有多点时间和他在一起，可是现在想想，还是只要一个吧，因为不管是一个还是两个，陌烟在乎的永..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 832070,
  'size_k' => 833,
  'size_w' => 83.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/367/367s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/367.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=367&cid=60500',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=151&cid=83697',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=367',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=367',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=367',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4985.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%BE%C6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%D7%DC%B2%C3%B5%C4%D0%A1%C4%DB%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F367.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
