array (
  'meta_keywords' => '爹地别玩我妈咪 朦胧月 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=369&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=369&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=369&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=369&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '369',
    'siteid' => '3',
    'sourceid' => '92',
    'postdate' => '1463556627',
    'lastupdate' => '1475151495',
    'articlename' => '爹地别玩我妈咪',
    'articlecode' => 'diedibiewanwomamai',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '4984',
    'author' => '朦胧月',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '“苏澄澄，你休想一走了之！”<br />
玩笑婚姻，她与他一纸定缘，许下三年婚约；<br />
硝烟重重，她不想贪图荣华，只想全身而退。<br />
没有出众的外貌，没有过人的头脑，本是苏家的女儿，苏家却做不了她的靠山。情敌出现，他的猜忌，她只想带球逃跑，荣华，财富她一个都不想要，她只想安安分分的照顾好自己的孩子。<br />
偏偏孽缘难断，一夜之间，他再次出现，还成功收买了她周围的所有人。<br />
“妈妈，那个叔叔好奇怪啊，不过笑起来好温柔”<br />
“那就是个妖孽！”<br />
一纸诉状，她想赶快抽身偏偏此情难了：“妖孽，咱们离婚吧！”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '86824',
    'lastchapter' => '第二百四十二章：默默照顾你',
    'lastsummary' => '“好吧，那我就答应你好了。”严明瑾有一些无奈的说着。<br />
见严明瑾这么爽快就答应下来了，苏澄澄喜出望外：“真的？”<br />
天啊，没想到严明瑾这么好说话，还以为他一定不会答应呢。<br />
“不过……”<br />
正当苏澄澄兴奋地考虑要找一份什么样的工作的时候，严明瑾却又一次开了口。<br />
“不过？”苏澄澄眨眨眼睛看着严明瑾：“怎么，还有条件？”<br />
严明瑾从自己的口袋里面拿..',
    'chapters' => '272',
    'size' => '1280382',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478927879',
    'dayvisit' => '117',
    'weekvisit' => '897',
    'monthvisit' => '1196',
    'allvisit' => '226140',
    'lastvote' => '1471506999',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '243',
    'goodnum' => '14',
    'reviewsnum' => '1',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465298813',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1469341536',
    'freesize' => '1280382',
    'isvip' => '签约',
    'viptime' => '1475151495',
    'vipid' => '153',
    'vippubid' => '0',
    'vipchapters' => '240',
    'vipsize' => '1207958',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '102291',
    'vipchapter' => '第一百九十七章：过河拆桥',
    'vipsummary' => '“高管，你的戒指好漂亮啊，刚刚开会我看韩主管一直看着你的戒指，一定是羡慕的。”<br />
刚刚散会，琳达从会议室走出来，一群组长级别的员工一下子就把琳达给包围住了。<br />
现在整个公司的人都知道，琳达现在是严明瑾的未婚妻了。<br />
现在琳达代表的可不仅仅是他们的公司，现在巴结琳达是最好的时机。<br />
这些人都是想要以后在公司里好好发展的人，自然是要和琳达搞好关系了..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 640191,
    'size_k' => 641,
    'size_w' => 64,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/369.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369&cid=86824',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=153&cid=102291',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=369',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=369',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=369',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4984.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EB%FC%EB%CA%D4%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%F9%B5%D8%B1%F0%CD%E6%CE%D2%C2%E8%DF%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F369.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '369',
  'siteid' => '3',
  'sourceid' => '92',
  'postdate' => '1463556627',
  'lastupdate' => '1475151495',
  'articlename' => '爹地别玩我妈咪',
  'articlecode' => 'diedibiewanwomamai',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '4984',
  'author' => '朦胧月',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '“苏澄澄，你休想一走了之！”<br />
玩笑婚姻，她与他一纸定缘，许下三年婚约；<br />
硝烟重重，她不想贪图荣华，只想全身而退。<br />
没有出众的外貌，没有过人的头脑，本是苏家的女儿，苏家却做不了她的靠山。情敌出现，他的猜忌，她只想带球逃跑，荣华，财富她一个都不想要，她只想安安分分的照顾好自己的孩子。<br />
偏偏孽缘难断，一夜之间，他再次出现，还成功收买了她周围的所有人。<br />
“妈妈，那个叔叔好奇怪啊，不过笑起来好温柔”<br />
“那就是个妖孽！”<br />
一纸诉状，她想赶快抽身偏偏此情难了：“妖孽，咱们离婚吧！”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '86824',
  'lastchapter' => '第二百四十二章：默默照顾你',
  'lastsummary' => '“好吧，那我就答应你好了。”严明瑾有一些无奈的说着。<br />
见严明瑾这么爽快就答应下来了，苏澄澄喜出望外：“真的？”<br />
天啊，没想到严明瑾这么好说话，还以为他一定不会答应呢。<br />
“不过……”<br />
正当苏澄澄兴奋地考虑要找一份什么样的工作的时候，严明瑾却又一次开了口。<br />
“不过？”苏澄澄眨眨眼睛看着严明瑾：“怎么，还有条件？”<br />
严明瑾从自己的口袋里面拿..',
  'chapters' => '272',
  'size' => '1280382',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478927879',
  'dayvisit' => '117',
  'weekvisit' => '897',
  'monthvisit' => '1196',
  'allvisit' => '226140',
  'lastvote' => '1471506999',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '243',
  'goodnum' => '14',
  'reviewsnum' => '1',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465298813',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1469341536',
  'freesize' => '1280382',
  'isvip' => '签约',
  'viptime' => '1475151495',
  'vipid' => '153',
  'vippubid' => '0',
  'vipchapters' => '240',
  'vipsize' => '1207958',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '102291',
  'vipchapter' => '第一百九十七章：过河拆桥',
  'vipsummary' => '“高管，你的戒指好漂亮啊，刚刚开会我看韩主管一直看着你的戒指，一定是羡慕的。”<br />
刚刚散会，琳达从会议室走出来，一群组长级别的员工一下子就把琳达给包围住了。<br />
现在整个公司的人都知道，琳达现在是严明瑾的未婚妻了。<br />
现在琳达代表的可不仅仅是他们的公司，现在巴结琳达是最好的时机。<br />
这些人都是想要以后在公司里好好发展的人，自然是要和琳达搞好关系了..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 640191,
  'size_k' => 641,
  'size_w' => 64,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/369/369s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/369.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=369&cid=86824',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=153&cid=102291',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=369',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=369',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=369',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4984.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EB%FC%EB%CA%D4%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%F9%B5%D8%B1%F0%CD%E6%CE%D2%C2%E8%DF%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F369.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
