array (
  'meta_keywords' => '无上剑尊 混世小魔王 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=373&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=373&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=373&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=373&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '373',
    'siteid' => '2',
    'sourceid' => '7097',
    'postdate' => '1460012294',
    'lastupdate' => '1479022764',
    'articlename' => '无上剑尊',
    'articlecode' => 'wushangjianzun',
    'backupname' => '',
    'keywords' => '复仇 热血 东方玄幻 斗气 升级练功',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '6178',
    'author' => '混世小魔王',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '苏阳，本是苏家最低微的外门弟子，一次机缘巧合之下，他的体内，出现了九柄上古魔剑，每一柄魔剑，都具有鬼神莫测的能力。在这九柄魔剑的帮助下，苏阳从此实力猛进，剑道通达，走上了一条传奇的武道之路！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '25418',
    'lastchapter' => '第三十二章&nbsp;&nbsp;两翼魔雕',
    'lastsummary' => '',
    'chapters' => '691',
    'size' => '4241024',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1479121960',
    'dayvisit' => '403',
    'weekvisit' => '403',
    'monthvisit' => '2184',
    'allvisit' => '426235',
    'lastvote' => '1468811305',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1457',
    'goodnum' => '3',
    'reviewsnum' => '2',
    'ratenum' => 39,
    'ratesum' => 380,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465717365',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1460941092',
    'freesize' => '4241024',
    'isvip' => '签约',
    'viptime' => '1479022764',
    'vipid' => '157',
    'vippubid' => '0',
    'vipchapters' => '658',
    'vipsize' => '4043046',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107806',
    'vipchapter' => '第六百九十一章 棘手的家伙',
    'vipsummary' => '对于暗中潜藏的危机，苏阳并不清楚，此刻，苏阳只觉得整个人都变得非常的烦躁，见到一个人便有种抓住揍一顿的冲动。<br />
已经过去半个月了，这么长的时间，苏阳获得的上级金属兽的金丹也就五六十颗而已，连一千颗的十分之一都不到。<br />
而这还是苏阳对于寻找和猎杀这些金属兽有了不小的经验的缘故，要是没有那些经验存在，只怕更少。<br />
至于宋至啸也猎杀了近一千只中级..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 2120512,
    'size_k' => 2121,
    'size_w' => 212.1,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/373.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373&cid=25418',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=157&cid=107806',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=373',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=373',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=373',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6178.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%EC%CA%C0%D0%A1%C4%A7%CD%F5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%DE%C9%CF%BD%A3%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F373.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '373',
  'siteid' => '2',
  'sourceid' => '7097',
  'postdate' => '1460012294',
  'lastupdate' => '1479022764',
  'articlename' => '无上剑尊',
  'articlecode' => 'wushangjianzun',
  'backupname' => '',
  'keywords' => '复仇 热血 东方玄幻 斗气 升级练功',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '6178',
  'author' => '混世小魔王',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '苏阳，本是苏家最低微的外门弟子，一次机缘巧合之下，他的体内，出现了九柄上古魔剑，每一柄魔剑，都具有鬼神莫测的能力。在这九柄魔剑的帮助下，苏阳从此实力猛进，剑道通达，走上了一条传奇的武道之路！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '25418',
  'lastchapter' => '第三十二章&nbsp;&nbsp;两翼魔雕',
  'lastsummary' => '',
  'chapters' => '691',
  'size' => '4241024',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1479121960',
  'dayvisit' => '403',
  'weekvisit' => '403',
  'monthvisit' => '2184',
  'allvisit' => '426235',
  'lastvote' => '1468811305',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1457',
  'goodnum' => '3',
  'reviewsnum' => '2',
  'ratenum' => 39,
  'ratesum' => 380,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465717365',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1460941092',
  'freesize' => '4241024',
  'isvip' => '签约',
  'viptime' => '1479022764',
  'vipid' => '157',
  'vippubid' => '0',
  'vipchapters' => '658',
  'vipsize' => '4043046',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107806',
  'vipchapter' => '第六百九十一章 棘手的家伙',
  'vipsummary' => '对于暗中潜藏的危机，苏阳并不清楚，此刻，苏阳只觉得整个人都变得非常的烦躁，见到一个人便有种抓住揍一顿的冲动。<br />
已经过去半个月了，这么长的时间，苏阳获得的上级金属兽的金丹也就五六十颗而已，连一千颗的十分之一都不到。<br />
而这还是苏阳对于寻找和猎杀这些金属兽有了不小的经验的缘故，要是没有那些经验存在，只怕更少。<br />
至于宋至啸也猎杀了近一千只中级..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 2120512,
  'size_k' => 2121,
  'size_w' => 212.1,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/373/373s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/373.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=373&cid=25418',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=157&cid=107806',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=373',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=373',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=373',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6178.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%EC%CA%C0%D0%A1%C4%A7%CD%F5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%DE%C9%CF%BD%A3%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F373.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '复仇',
      'tagencode' => '%B8%B4%B3%F0',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '东方玄幻',
      'tagencode' => '%B6%AB%B7%BD%D0%FE%BB%C3',
    ),
    3 => 
    array (
      'tagname' => '斗气',
      'tagencode' => '%B6%B7%C6%F8',
    ),
    4 => 
    array (
      'tagname' => '升级练功',
      'tagencode' => '%C9%FD%BC%B6%C1%B7%B9%A6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
