array (
  'meta_keywords' => '我在东莞打工的日子 一芒溪 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=374&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=374&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=374&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=374&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '374',
    'siteid' => '2',
    'sourceid' => '7179',
    'postdate' => '1460431757',
    'lastupdate' => '1467883122',
    'articlename' => '我在东莞打工的日子',
    'articlecode' => 'wozaidongguandagongderizi',
    'backupname' => '',
    'keywords' => '复仇 爱情 虐心',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '4666',
    'author' => '一芒溪',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '14年的春天，我跟着表哥去了东莞的洗浴城打工。后来我才知道，原来我的工作是为小姐拉皮条。可到东莞第一天，我就被人欺辱。那一刻，我悟了：这个社会，弱肉强食。 繁花迷眼，这是一个我和洗浴小姐的故事，也是我在洗浴城成长的故事。带着不甘、仇恨、热血，脚踩万人！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '25621',
    'lastchapter' => '第四十章 酒吧遇见柳菲',
    'lastsummary' => '',
    'chapters' => '154',
    'size' => '672246',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478895517',
    'dayvisit' => '26',
    'weekvisit' => '91',
    'monthvisit' => '260',
    'allvisit' => '53944',
    'lastvote' => '1475751617',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '5',
    'goodnum' => '16',
    'reviewsnum' => '0',
    'ratenum' => 2,
    'ratesum' => 2,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1465717336',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1461595104',
    'freesize' => '672246',
    'isvip' => '签约',
    'viptime' => '1467883122',
    'vipid' => '158',
    'vippubid' => '0',
    'vipchapters' => '113',
    'vipsize' => '488378',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '33370',
    'vipchapter' => '第一百五十二章 龚贺的电话',
    'vipsummary' => '　　目前我所知道并能够猜出的东西就只有这些，虽然玄武帮搞出的这个传言中我是男主角，但明显玄武帮不是来针对我的，而且夏玉也不愿意说，我也就没太当回事儿。连续几天，四狼会这边都没有大的事情发生，尽管黄哥让我帮他一个重要的忙，但还不是现在。<br />
　　季节慢慢步入晚秋，不过在东莞的白天很难分辨出现在是夏天还是秋天，人们都是穿着长袖甚至短袖T恤，??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 336123,
    'size_k' => 337,
    'size_w' => 33.6,
    'rateavg' => '1.0',
    'rateavg_i' => 1,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/374.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374&cid=25621',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=158&cid=33370',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=374',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=374',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=374',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4666.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%BB%C3%A2%CF%AA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D4%DA%B6%AB%DD%B8%B4%F2%B9%A4%B5%C4%C8%D5%D7%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F374.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '374',
  'siteid' => '2',
  'sourceid' => '7179',
  'postdate' => '1460431757',
  'lastupdate' => '1467883122',
  'articlename' => '我在东莞打工的日子',
  'articlecode' => 'wozaidongguandagongderizi',
  'backupname' => '',
  'keywords' => '复仇 爱情 虐心',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '4666',
  'author' => '一芒溪',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '14年的春天，我跟着表哥去了东莞的洗浴城打工。后来我才知道，原来我的工作是为小姐拉皮条。可到东莞第一天，我就被人欺辱。那一刻，我悟了：这个社会，弱肉强食。 繁花迷眼，这是一个我和洗浴小姐的故事，也是我在洗浴城成长的故事。带着不甘、仇恨、热血，脚踩万人！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '25621',
  'lastchapter' => '第四十章 酒吧遇见柳菲',
  'lastsummary' => '',
  'chapters' => '154',
  'size' => '672246',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478895517',
  'dayvisit' => '26',
  'weekvisit' => '91',
  'monthvisit' => '260',
  'allvisit' => '53944',
  'lastvote' => '1475751617',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '5',
  'goodnum' => '16',
  'reviewsnum' => '0',
  'ratenum' => 2,
  'ratesum' => 2,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1465717336',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1461595104',
  'freesize' => '672246',
  'isvip' => '签约',
  'viptime' => '1467883122',
  'vipid' => '158',
  'vippubid' => '0',
  'vipchapters' => '113',
  'vipsize' => '488378',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '33370',
  'vipchapter' => '第一百五十二章 龚贺的电话',
  'vipsummary' => '　　目前我所知道并能够猜出的东西就只有这些，虽然玄武帮搞出的这个传言中我是男主角，但明显玄武帮不是来针对我的，而且夏玉也不愿意说，我也就没太当回事儿。连续几天，四狼会这边都没有大的事情发生，尽管黄哥让我帮他一个重要的忙，但还不是现在。<br />
　　季节慢慢步入晚秋，不过在东莞的白天很难分辨出现在是夏天还是秋天，人们都是穿着长袖甚至短袖T恤，??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 336123,
  'size_k' => 337,
  'size_w' => 33.6,
  'rateavg' => '1.0',
  'rateavg_i' => 1,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/374/374s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/374.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=374&cid=25621',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=158&cid=33370',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=374',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=374',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=374',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4666.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%BB%C3%A2%CF%AA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D4%DA%B6%AB%DD%B8%B4%F2%B9%A4%B5%C4%C8%D5%D7%D3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F374.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '复仇',
      'tagencode' => '%B8%B4%B3%F0',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '虐心',
      'tagencode' => '%C5%B0%D0%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
