array (
  'meta_keywords' => '白富美的极品高手 牛得一比 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=380&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=380&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=380&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=380&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '380',
    'siteid' => '1',
    'sourceid' => '534',
    'postdate' => '1462257977',
    'lastupdate' => '1478361622',
    'articlename' => '白富美的极品高手',
    'articlecode' => 'baifumeidejipingaoshou',
    'backupname' => '',
    'keywords' => '极品高手和白富美的故事',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '4663',
    'author' => '牛得一比',
    'posterid' => '642',
    'poster' => '阅庭',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '敌人不乖？他弹指间，屠戮三千！<br />
女人不乖？他谈笑间，俘获芳心！<br />
他一声怒喝，铁拳出击，让敌人闻风丧胆。<br />
他风流倜傥，英雄救美，让美女纷纷入怀。<br />
他叫秦少虎，一个才华横溢，武力超绝的完美男人！<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '29653',
    'lastchapter' => '20.山雨欲来',
    'lastsummary' => '',
    'chapters' => '616',
    'size' => '3893264',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1478890763',
    'dayvisit' => '52',
    'weekvisit' => '1287',
    'monthvisit' => '3042',
    'allvisit' => '71008',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1134',
    'goodnum' => '3',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1466217958',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1462258691',
    'freesize' => '3893264',
    'isvip' => '签约',
    'viptime' => '1478361622',
    'vipid' => '164',
    'vippubid' => '0',
    'vipchapters' => '595',
    'vipsize' => '3797452',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107288',
    'vipchapter' => '606.至强高手',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;东条一刺也紧跟着说：“没错，他竟然敢这么猖狂的卧底到咱们的心脏来，就应该让他感受一下生不如死的滋味，不然可浪费了渡边君你这一番智谋啊，说实在的，我到现在都没想明白一件事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渡边烟云问：“什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东条一刺说：“渡边君你选了四十名精英跟来，然后却没有对他们交代命令，这是为什么呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渡边烟云说：“原因很简单，我觉??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 1946632,
    'size_k' => 1947,
    'size_w' => 194.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/380.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380&cid=29653',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=164&cid=107288',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=380',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=380',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=380',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4663.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C5%A3%B5%C3%D2%BB%B1%C8',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%B8%BB%C3%C0%B5%C4%BC%AB%C6%B7%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F380.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '380',
  'siteid' => '1',
  'sourceid' => '534',
  'postdate' => '1462257977',
  'lastupdate' => '1478361622',
  'articlename' => '白富美的极品高手',
  'articlecode' => 'baifumeidejipingaoshou',
  'backupname' => '',
  'keywords' => '极品高手和白富美的故事',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '4663',
  'author' => '牛得一比',
  'posterid' => '642',
  'poster' => '阅庭',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '敌人不乖？他弹指间，屠戮三千！<br />
女人不乖？他谈笑间，俘获芳心！<br />
他一声怒喝，铁拳出击，让敌人闻风丧胆。<br />
他风流倜傥，英雄救美，让美女纷纷入怀。<br />
他叫秦少虎，一个才华横溢，武力超绝的完美男人！<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '29653',
  'lastchapter' => '20.山雨欲来',
  'lastsummary' => '',
  'chapters' => '616',
  'size' => '3893264',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1478890763',
  'dayvisit' => '52',
  'weekvisit' => '1287',
  'monthvisit' => '3042',
  'allvisit' => '71008',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1134',
  'goodnum' => '3',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1466217958',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1462258691',
  'freesize' => '3893264',
  'isvip' => '签约',
  'viptime' => '1478361622',
  'vipid' => '164',
  'vippubid' => '0',
  'vipchapters' => '595',
  'vipsize' => '3797452',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107288',
  'vipchapter' => '606.至强高手',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;东条一刺也紧跟着说：“没错，他竟然敢这么猖狂的卧底到咱们的心脏来，就应该让他感受一下生不如死的滋味，不然可浪费了渡边君你这一番智谋啊，说实在的，我到现在都没想明白一件事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渡边烟云问：“什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东条一刺说：“渡边君你选了四十名精英跟来，然后却没有对他们交代命令，这是为什么呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渡边烟云说：“原因很简单，我觉??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 1946632,
  'size_k' => 1947,
  'size_w' => 194.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/380/380s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/380.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=380&cid=29653',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=164&cid=107288',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=380',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=380',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=380',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4663.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C5%A3%B5%C3%D2%BB%B1%C8',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%B8%BB%C3%C0%B5%C4%BC%AB%C6%B7%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F380.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '极品高手和白富美的故事',
      'tagencode' => '%BC%AB%C6%B7%B8%DF%CA%D6%BA%CD%B0%D7%B8%BB%C3%C0%B5%C4%B9%CA%CA%C2',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
