array (
  'meta_keywords' => '总裁前妻好风光 墨云归 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=387&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=387&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=387&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=387&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '387',
    'siteid' => '3',
    'sourceid' => '98',
    'postdate' => '1467011756',
    'lastupdate' => '1479095213',
    'articlename' => '总裁前妻好风光',
    'articlecode' => 'zongcaiqianqihaofengguang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '6184',
    'author' => '墨云归',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '七年前，她一夜失去双亲，突然向他递出一纸离婚协议书。“嫁给你是我父母的意思，现在他们死了，请你离开洛家！”七年后，她是海归大律师，洗尽尘埃，荣耀归来。……熟料，她的上司，竟然是——她的前夫！“既然你不想做身份尊贵的沈太太，那么，做我沈时谦的情人如何？”沈时谦，全江城最有权势的男人，手握江城商业兴衰！他步步相逼，不惜动用卑鄙的手段只为再次扣她在怀，“你让我花了七年的光阴去恨你，那么，就用你的一辈子，来弥补！”“沈总，我想我们并不适合！”好马不吃回头草的道理，她懂。“我们能力相当，身高相配，深浅适中，哪里不配！！！”“……”【此文宠虐相宜，女强+男强，强强联手，虐仇人，扫白莲花。】',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '50618',
    'lastchapter' => '第二章 被叫去问话',
    'lastsummary' => '闻默看了她一眼，破天荒地没有说什么，服务生将菜单拿了上来，他随手就递给了洛冰。<br />
洛冰伸手推了一下道：“我不知道吃什么，你对这家店熟悉的话，你来点菜吧。”<br />
闻默的手指在空中稍稍滞涩了一下，琥珀色的瞳孔突然一缩，看着洛冰淡定自若的表情，心里某一个地方突然就动了一下。<br />
从前的洛冰总是抢着点菜的那个，对美食的执着超出所有，经常会去搜寻附近的?..',
    'chapters' => '393',
    'size' => '1979106',
    'daysize' => '2416',
    'weeksize' => '2416',
    'monthsize' => '2416',
    'lastvisit' => '1479126560',
    'dayvisit' => '299',
    'weekvisit' => '299',
    'monthvisit' => '6851',
    'allvisit' => '369634',
    'lastvote' => '1476080869',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '193',
    'goodnum' => '75',
    'reviewsnum' => '7',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1467021894',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1467010283',
    'freesize' => '1979106',
    'isvip' => '签约',
    'viptime' => '1479095213',
    'vipid' => '167',
    'vippubid' => '0',
    'vipchapters' => '362',
    'vipsize' => '1906214',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107808',
    'vipchapter' => '第420章告诫',
    'vipsummary' => '那女人忽然说话了，“洛小姐。”<br />
洛冰微微一愣，她确定是身后这个女人在说话，因为洗手间里面没有别人。<br />
从镜子里面可以看到这个女人依然保持着一个洗手的动作，但是水龙头已经关了，她也没有抬头看向洛冰，仿佛不是在跟她说话一样。<br />
“你在跟我说话？”<br />
洛冰确认道。<br />
穿着粉色毛呢外套的女人嘴角微微勾起，“这里只有我们两个人，不然你以为是跟谁说话？”<br />
“?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '200',
    'giftnums' => '2',
    'redrose' => '2',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 989553,
    'size_k' => 990,
    'size_w' => 99,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/387.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387&cid=50618',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=167&cid=107808',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=387',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=387',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=387',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6184.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D4%C6%B9%E9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%C7%B0%C6%DE%BA%C3%B7%E7%B9%E2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F387.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '387',
  'siteid' => '3',
  'sourceid' => '98',
  'postdate' => '1467011756',
  'lastupdate' => '1479095213',
  'articlename' => '总裁前妻好风光',
  'articlecode' => 'zongcaiqianqihaofengguang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '6184',
  'author' => '墨云归',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '七年前，她一夜失去双亲，突然向他递出一纸离婚协议书。“嫁给你是我父母的意思，现在他们死了，请你离开洛家！”七年后，她是海归大律师，洗尽尘埃，荣耀归来。……熟料，她的上司，竟然是——她的前夫！“既然你不想做身份尊贵的沈太太，那么，做我沈时谦的情人如何？”沈时谦，全江城最有权势的男人，手握江城商业兴衰！他步步相逼，不惜动用卑鄙的手段只为再次扣她在怀，“你让我花了七年的光阴去恨你，那么，就用你的一辈子，来弥补！”“沈总，我想我们并不适合！”好马不吃回头草的道理，她懂。“我们能力相当，身高相配，深浅适中，哪里不配！！！”“……”【此文宠虐相宜，女强+男强，强强联手，虐仇人，扫白莲花。】',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '50618',
  'lastchapter' => '第二章 被叫去问话',
  'lastsummary' => '闻默看了她一眼，破天荒地没有说什么，服务生将菜单拿了上来，他随手就递给了洛冰。<br />
洛冰伸手推了一下道：“我不知道吃什么，你对这家店熟悉的话，你来点菜吧。”<br />
闻默的手指在空中稍稍滞涩了一下，琥珀色的瞳孔突然一缩，看着洛冰淡定自若的表情，心里某一个地方突然就动了一下。<br />
从前的洛冰总是抢着点菜的那个，对美食的执着超出所有，经常会去搜寻附近的?..',
  'chapters' => '393',
  'size' => '1979106',
  'daysize' => '2416',
  'weeksize' => '2416',
  'monthsize' => '2416',
  'lastvisit' => '1479126560',
  'dayvisit' => '299',
  'weekvisit' => '299',
  'monthvisit' => '6851',
  'allvisit' => '369634',
  'lastvote' => '1476080869',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '193',
  'goodnum' => '75',
  'reviewsnum' => '7',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1467021894',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1467010283',
  'freesize' => '1979106',
  'isvip' => '签约',
  'viptime' => '1479095213',
  'vipid' => '167',
  'vippubid' => '0',
  'vipchapters' => '362',
  'vipsize' => '1906214',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107808',
  'vipchapter' => '第420章告诫',
  'vipsummary' => '那女人忽然说话了，“洛小姐。”<br />
洛冰微微一愣，她确定是身后这个女人在说话，因为洗手间里面没有别人。<br />
从镜子里面可以看到这个女人依然保持着一个洗手的动作，但是水龙头已经关了，她也没有抬头看向洛冰，仿佛不是在跟她说话一样。<br />
“你在跟我说话？”<br />
洛冰确认道。<br />
穿着粉色毛呢外套的女人嘴角微微勾起，“这里只有我们两个人，不然你以为是跟谁说话？”<br />
“?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '200',
  'giftnums' => '2',
  'redrose' => '2',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 989553,
  'size_k' => 990,
  'size_w' => 99,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/387/387s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/387.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=387&cid=50618',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=167&cid=107808',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=387',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=387',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=387',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6184.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D4%C6%B9%E9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%C7%B0%C6%DE%BA%C3%B7%E7%B9%E2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F387.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
