array (
  'meta_keywords' => '萌妻来袭：大叔要抱抱 墨鱼丸子 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=410&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=410&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=410&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=410&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '410',
    'siteid' => '3',
    'sourceid' => '101',
    'postdate' => '1467028144',
    'lastupdate' => '1479038955',
    'articlename' => '萌妻来袭：大叔要抱抱',
    'articlecode' => 'mengqilaixi_dashuyaobaobao',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '7243',
    'author' => '墨鱼丸子',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '俞默笙是开着QQ去抢婚的，怎么竟一不小心撞上了鸭店玻璃。鸭店经理火了，带着一干保镖抓住正欲逃之夭夭的她，威胁道：“小姐，要鸭吗？”俞默笙摇摇头，誓死抵抗，她是良家女子，经理求放过。经理怒了，扬言要打得她找不到回家的路。俞默笙这回彻底怂了，小手一抖，银卡奉上：“经理，来只这世界上最帅的鸭。”三百万换来一只鸭，她的小心脏啊，脑子一抽，带鸭闹婚礼，谁知鸭霸道又壕气，一把揽过她，帅气的甩给狗男女两千万。俞默笙笑了，今天这三百万花的值了。只是，尼玛呀，画风怎么逆转了？大叔，两千万是你砸的，不是我。什么？要我赔？大叔，我还是个孩子，我没钱。那就以身偿债？大叔你等等，我们商量一下呗。大叔，你再等等，你说你是我前夫？',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '50620',
    'lastchapter' => '第二章&nbsp;&nbsp;物是人非',
    'lastsummary' => '<br />
昨天夜里，江寒让他冻结卡中资金的时候他竟然还天真的认为他怀疑俞默笙会在里面搞什么名堂，就像是他这个终极boss坦言的那样，俞默笙还没有那个本事。<br />
“你真的想好了？隐藏了三年的江家少奶奶的身份你就这么公诸于世？”吴亦博心中不免的有些担心。<br />
“放在自己的身边总要安心的多吧？”江寒合上手上的书，对着吴亦博笑了笑，“按照我说的做。”<br />
吴亦博耸了..',
    'chapters' => '293',
    'size' => '1294032',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1479116277',
    'dayvisit' => '65',
    'weekvisit' => '65',
    'monthvisit' => '1235',
    'allvisit' => '82637',
    'lastvote' => '1476858187',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '3',
    'goodnum' => '30',
    'reviewsnum' => '1',
    'ratenum' => 3,
    'ratesum' => 29,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1467042166',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1467012788',
    'freesize' => '1294032',
    'isvip' => '签约',
    'viptime' => '1479038955',
    'vipid' => '174',
    'vippubid' => '0',
    'vipchapters' => '261',
    'vipsize' => '1225728',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107775',
    'vipchapter' => '第292章危机四起的温泉山庄',
    'vipsummary' => '“哎呀大哥！你可真是我们的亲大哥啊！你就知道咱们喝了酒身体里面有火放不出来是不是啊，还特意的出来给咱们兄弟找妹子，真是太好了！”<br />
“放屁！老子是给自己找的！”<br />
紧紧的抱着俞可岚的男人看着面前越来越近的两个男人，抱着俞可岚的手突然又紧了紧，就好像不想要被面前的这两个男人抢去了一样。<br />
俞可岚紧皱着眉头看着这两个喝的眼睛都快要睁不开的两个男..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 647016,
    'size_k' => 648,
    'size_w' => 64.7,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/410.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410&cid=50620',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=174&cid=107775',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=410',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=410',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=410',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/7243.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D3%E3%CD%E8%D7%D3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C8%C6%DE%C0%B4%CF%AE%A3%BA%B4%F3%CA%E5%D2%AA%B1%A7%B1%A7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F410.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '410',
  'siteid' => '3',
  'sourceid' => '101',
  'postdate' => '1467028144',
  'lastupdate' => '1479038955',
  'articlename' => '萌妻来袭：大叔要抱抱',
  'articlecode' => 'mengqilaixi_dashuyaobaobao',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '7243',
  'author' => '墨鱼丸子',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '俞默笙是开着QQ去抢婚的，怎么竟一不小心撞上了鸭店玻璃。鸭店经理火了，带着一干保镖抓住正欲逃之夭夭的她，威胁道：“小姐，要鸭吗？”俞默笙摇摇头，誓死抵抗，她是良家女子，经理求放过。经理怒了，扬言要打得她找不到回家的路。俞默笙这回彻底怂了，小手一抖，银卡奉上：“经理，来只这世界上最帅的鸭。”三百万换来一只鸭，她的小心脏啊，脑子一抽，带鸭闹婚礼，谁知鸭霸道又壕气，一把揽过她，帅气的甩给狗男女两千万。俞默笙笑了，今天这三百万花的值了。只是，尼玛呀，画风怎么逆转了？大叔，两千万是你砸的，不是我。什么？要我赔？大叔，我还是个孩子，我没钱。那就以身偿债？大叔你等等，我们商量一下呗。大叔，你再等等，你说你是我前夫？',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '50620',
  'lastchapter' => '第二章&nbsp;&nbsp;物是人非',
  'lastsummary' => '<br />
昨天夜里，江寒让他冻结卡中资金的时候他竟然还天真的认为他怀疑俞默笙会在里面搞什么名堂，就像是他这个终极boss坦言的那样，俞默笙还没有那个本事。<br />
“你真的想好了？隐藏了三年的江家少奶奶的身份你就这么公诸于世？”吴亦博心中不免的有些担心。<br />
“放在自己的身边总要安心的多吧？”江寒合上手上的书，对着吴亦博笑了笑，“按照我说的做。”<br />
吴亦博耸了..',
  'chapters' => '293',
  'size' => '1294032',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1479116277',
  'dayvisit' => '65',
  'weekvisit' => '65',
  'monthvisit' => '1235',
  'allvisit' => '82637',
  'lastvote' => '1476858187',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '3',
  'goodnum' => '30',
  'reviewsnum' => '1',
  'ratenum' => 3,
  'ratesum' => 29,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1467042166',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1467012788',
  'freesize' => '1294032',
  'isvip' => '签约',
  'viptime' => '1479038955',
  'vipid' => '174',
  'vippubid' => '0',
  'vipchapters' => '261',
  'vipsize' => '1225728',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107775',
  'vipchapter' => '第292章危机四起的温泉山庄',
  'vipsummary' => '“哎呀大哥！你可真是我们的亲大哥啊！你就知道咱们喝了酒身体里面有火放不出来是不是啊，还特意的出来给咱们兄弟找妹子，真是太好了！”<br />
“放屁！老子是给自己找的！”<br />
紧紧的抱着俞可岚的男人看着面前越来越近的两个男人，抱着俞可岚的手突然又紧了紧，就好像不想要被面前的这两个男人抢去了一样。<br />
俞可岚紧皱着眉头看着这两个喝的眼睛都快要睁不开的两个男..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 647016,
  'size_k' => 648,
  'size_w' => 64.7,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/410/410s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/410.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=410&cid=50620',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=174&cid=107775',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=410',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=410',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=410',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/7243.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D3%E3%CD%E8%D7%D3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C8%C6%DE%C0%B4%CF%AE%A3%BA%B4%F3%CA%E5%D2%AA%B1%A7%B1%A7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F410.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
