array (
  'meta_keywords' => '绝对死亡领域 灵魂的残骸 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=412&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=412&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=412&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=412&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '412',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1467091692',
    'lastupdate' => '1469082171',
    'articlename' => '绝对死亡领域',
    'articlecode' => 'jueduisiwanglingyu',
    'backupname' => '死亡领域',
    'keywords' => '逃生 厉鬼 灵异 惊悚',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '4375',
    'author' => '灵魂的残骸',
    'posterid' => '4375',
    'poster' => '灵魂的残骸',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '夜深了，你……回家了吗？你是否感觉到周围的寒冷死亡气息？<br />
漆黑的夜晚，寂静阴森，风阴冷的嚎叫着……午夜时分，仿佛黑暗要吞噬一切，黎明到底多远！<br />
身后的黑影开始接近，恐怖的脚步接踵而来，在背后的究竟是谁？<br />
是谁写下了死亡的编章，又是谁打开了禁忌之门？你们相信有鬼吗，死亡领域！另一个地狱，死神们欢迎你……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '32851',
    'lastvolume' => '第二卷&nbsp;&nbsp;神树',
    'lastchapterid' => '83258',
    'lastchapter' => '第十七章 连晓纯的歹念',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;木水镇明悟法师的住处<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“法师你说什么，尸体无法处理？这是为什么？”一直和法师明悟谈话的连晓纯听着他的话，一下子从沙发上站了起来，没想到这事情居然会变成这个样子，连晓纯根本不能理解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曾夫人，确是如此啊！”明悟叹了口气，他也不知道事情会有变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可是法师，你不是专业驱魔师和灵魂超渡人吗？怎么会处理不了尸体呢？法师，这尸体真的必须处理啊。”连晓纯内心更加急燥了，如果说尸体无法处理的话，那么古董楼要如此建造呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曾夫人，世间之物都有因果，这也非我所能控制的范围啊。”..',
    'chapters' => '30',
    'size' => '172575',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478958008',
    'dayvisit' => '39',
    'weekvisit' => '91',
    'monthvisit' => '195',
    'allvisit' => '8550',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1469082171',
    'freesize' => '172575',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 86288,
    'size_k' => 87,
    'size_w' => 8.6,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/412.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412&cid=83258',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=412',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=412',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=412',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4375.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%E9%BB%EA%B5%C4%B2%D0%BA%A1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B6%D4%CB%C0%CD%F6%C1%EC%D3%F2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F412.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '412',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1467091692',
  'lastupdate' => '1469082171',
  'articlename' => '绝对死亡领域',
  'articlecode' => 'jueduisiwanglingyu',
  'backupname' => '死亡领域',
  'keywords' => '逃生 厉鬼 灵异 惊悚',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '4375',
  'author' => '灵魂的残骸',
  'posterid' => '4375',
  'poster' => '灵魂的残骸',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '夜深了，你……回家了吗？你是否感觉到周围的寒冷死亡气息？<br />
漆黑的夜晚，寂静阴森，风阴冷的嚎叫着……午夜时分，仿佛黑暗要吞噬一切，黎明到底多远！<br />
身后的黑影开始接近，恐怖的脚步接踵而来，在背后的究竟是谁？<br />
是谁写下了死亡的编章，又是谁打开了禁忌之门？你们相信有鬼吗，死亡领域！另一个地狱，死神们欢迎你……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '32851',
  'lastvolume' => '第二卷&nbsp;&nbsp;神树',
  'lastchapterid' => '83258',
  'lastchapter' => '第十七章 连晓纯的歹念',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;木水镇明悟法师的住处<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“法师你说什么，尸体无法处理？这是为什么？”一直和法师明悟谈话的连晓纯听着他的话，一下子从沙发上站了起来，没想到这事情居然会变成这个样子，连晓纯根本不能理解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曾夫人，确是如此啊！”明悟叹了口气，他也不知道事情会有变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可是法师，你不是专业驱魔师和灵魂超渡人吗？怎么会处理不了尸体呢？法师，这尸体真的必须处理啊。”连晓纯内心更加急燥了，如果说尸体无法处理的话，那么古董楼要如此建造呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“曾夫人，世间之物都有因果，这也非我所能控制的范围啊。”..',
  'chapters' => '30',
  'size' => '172575',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478958008',
  'dayvisit' => '39',
  'weekvisit' => '91',
  'monthvisit' => '195',
  'allvisit' => '8550',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1469082171',
  'freesize' => '172575',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 86288,
  'size_k' => 87,
  'size_w' => 8.6,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/412.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=412&cid=83258',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=412',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=412',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=412',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4375.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%E9%BB%EA%B5%C4%B2%D0%BA%A1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B6%D4%CB%C0%CD%F6%C1%EC%D3%F2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F412.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '逃生',
      'tagencode' => '%CC%D3%C9%FA',
    ),
    1 => 
    array (
      'tagname' => '厉鬼',
      'tagencode' => '%C0%F7%B9%ED',
    ),
    2 => 
    array (
      'tagname' => '灵异',
      'tagencode' => '%C1%E9%D2%EC',
    ),
    3 => 
    array (
      'tagname' => '惊悚',
      'tagencode' => '%BE%AA%E3%A4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
