array (
  'meta_keywords' => '总裁的美味前妻 晚归舟 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=418&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=418&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=418&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=418&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '418',
    'siteid' => '3',
    'sourceid' => '103',
    'postdate' => '1467711706',
    'lastupdate' => '1479038955',
    'articlename' => '总裁的美味前妻',
    'articlecode' => 'zongcaidemeiweiqianqi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '6187',
    'author' => '晚归舟',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '他是豪门掌权人，平生最痛恨被人掌控，尤其是女人。她是他爷爷的救命恩人，更是死缠烂打喜欢征服男人的女人。结婚三年他从未碰她一根手指头，离婚当晚她却把他吃了个透。他掐着她的脖子，恨不得弄死她，“要是你缺男人，我可以给你，要多少有多少！”“你说的要多少有多少，指的是次数么？”“……”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '92495',
    'lastchapter' => '第二十章 交易',
    'lastsummary' => '<br />
　　十天了，也不知道端木寒有没有发现她失踪了？就算发现了，他也一定不会来救她的。叶玫瑰有些自嘲的笑了笑。他一直想要摆脱她，从结婚第一天开始她就知道。就算现在两人发生了关系，她也从不认为，会有什么改变。<br />
　　叶玫瑰默默的望着一望无际的太平洋海面，一个小时后，果断转身冲向不远处的云初始。<br />
　　既然端木寒靠不住，只能自救了。<br />
　　自救的?..',
    'chapters' => '262',
    'size' => '1031700',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1479076109',
    'dayvisit' => '39',
    'weekvisit' => '39',
    'monthvisit' => '806',
    'allvisit' => '80013',
    'lastvote' => '1470020575',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '203',
    'goodnum' => '24',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1467882635',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1470570815',
    'freesize' => '1031700',
    'isvip' => '签约',
    'viptime' => '1479038955',
    'vipid' => '178',
    'vippubid' => '0',
    'vipchapters' => '242',
    'vipsize' => '985346',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107773',
    'vipchapter' => '第262章不反感的肢体接触',
    'vipsummary' => '十几个小时的飞行，当叶玫瑰感觉到自己离着地面越来越近的时候，心中瞬间产生了一种踏实的感觉。<br />
果然地球妈妈的怀抱，此时最舒服的……<br />
想到这里，叶玫瑰便感觉一阵难以言表的爽快。转头，看着一旁的端木寒，发现对方这个时候，竟然还在拿着纸质文件看个不停，不知道为什么，心中突然便是一酸，端木寒这个样子，即便是在飞机上，都不能够随便休息，让人看着??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 515850,
    'size_k' => 516,
    'size_w' => 51.6,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/418.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418&cid=92495',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=178&cid=107773',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=418',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=418',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=418',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6187.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%ED%B9%E9%D6%DB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B5%C4%C3%C0%CE%B6%C7%B0%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F418.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '418',
  'siteid' => '3',
  'sourceid' => '103',
  'postdate' => '1467711706',
  'lastupdate' => '1479038955',
  'articlename' => '总裁的美味前妻',
  'articlecode' => 'zongcaidemeiweiqianqi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '6187',
  'author' => '晚归舟',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '他是豪门掌权人，平生最痛恨被人掌控，尤其是女人。她是他爷爷的救命恩人，更是死缠烂打喜欢征服男人的女人。结婚三年他从未碰她一根手指头，离婚当晚她却把他吃了个透。他掐着她的脖子，恨不得弄死她，“要是你缺男人，我可以给你，要多少有多少！”“你说的要多少有多少，指的是次数么？”“……”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '92495',
  'lastchapter' => '第二十章 交易',
  'lastsummary' => '<br />
　　十天了，也不知道端木寒有没有发现她失踪了？就算发现了，他也一定不会来救她的。叶玫瑰有些自嘲的笑了笑。他一直想要摆脱她，从结婚第一天开始她就知道。就算现在两人发生了关系，她也从不认为，会有什么改变。<br />
　　叶玫瑰默默的望着一望无际的太平洋海面，一个小时后，果断转身冲向不远处的云初始。<br />
　　既然端木寒靠不住，只能自救了。<br />
　　自救的?..',
  'chapters' => '262',
  'size' => '1031700',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1479076109',
  'dayvisit' => '39',
  'weekvisit' => '39',
  'monthvisit' => '806',
  'allvisit' => '80013',
  'lastvote' => '1470020575',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '203',
  'goodnum' => '24',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1467882635',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1470570815',
  'freesize' => '1031700',
  'isvip' => '签约',
  'viptime' => '1479038955',
  'vipid' => '178',
  'vippubid' => '0',
  'vipchapters' => '242',
  'vipsize' => '985346',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107773',
  'vipchapter' => '第262章不反感的肢体接触',
  'vipsummary' => '十几个小时的飞行，当叶玫瑰感觉到自己离着地面越来越近的时候，心中瞬间产生了一种踏实的感觉。<br />
果然地球妈妈的怀抱，此时最舒服的……<br />
想到这里，叶玫瑰便感觉一阵难以言表的爽快。转头，看着一旁的端木寒，发现对方这个时候，竟然还在拿着纸质文件看个不停，不知道为什么，心中突然便是一酸，端木寒这个样子，即便是在飞机上，都不能够随便休息，让人看着??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 515850,
  'size_k' => 516,
  'size_w' => 51.6,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/418/418s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/418.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=418&cid=92495',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=178&cid=107773',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=418',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=418',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=418',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6187.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%ED%B9%E9%D6%DB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B5%C4%C3%C0%CE%B6%C7%B0%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F418.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 1,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
