array (
  'meta_keywords' => '九叩首 智齿萌萌 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=42&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=42&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=42&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=42&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '42',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447946394',
    'lastupdate' => '1448547359',
    'articlename' => '九叩首',
    'articlecode' => 'jiukoushou',
    'backupname' => '为何而跪？没人值得你跪！',
    'keywords' => '都市 热血 兄弟 爱情 无间道',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '75',
    'author' => '智齿萌萌',
    'posterid' => '75',
    'poster' => '智齿萌萌',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '3',
    'typeid' => '16',
    'libid' => '0',
    'intro' => '　　五岁的韩三意外被大盗林东冉收为关门弟子，还在误打误撞中喝了黑道教父曹勇的结拜酒……青面獠牙的五鬼纹身究竟隐藏着什么秘密？，又是谁开启了埋葬着无数宝藏的七十二疑冢？二十年前摔杯结义为兄弟，二十年后摔杯反目为仇敌。亲情，爱情，兄弟情，三生石前断三生，菩提树下论英雄。谁在河东？谁在河西？与其说这是一部江湖传奇，倒不如说是一部人物传记，因为有人的地方才有江湖。',
    'notice' => '本书纯属虚构，其中的七十二墓传说，和盗墓情节均为凭空想象，全书无色情反动内容，但会有打斗场面描述。文中关于黑社会的描述也都是来自影视素材，绝无真人真事，如有雷同，我改便是了',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '589',
    'lastchapter' => '第八章 大舅二舅，都是他舅',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“谁喊你转过头来的”罗冉知道大伟看到了他砍人的全过程，见这傻小子一愣一愣的，忽然想吓吓他，便又拔出一根金属刺，阴森森的朝大伟走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大伟看着一走廊的血，早就吓破了胆，再听罗冉这么一说，心里咯噔一下，扭头就跑。还没等曹勇反应过来，大伟已经跑的不见踪影。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“剩下的你来处理了，我先撤了，在你家等你”罗冉也匆匆下楼走了。毕竟大白天在医院闹出这么大动静，肯定会惊动当地警察的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人啊！救命啊！”曹勇歇斯底里的叫喊声立马就招来了几个刚上早班的医生。他装作是热心的第一目击者，帮忙把躺..',
    'chapters' => '8',
    'size' => '50419',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478935416',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '65',
    'allvisit' => '6555',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '1',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1448547359',
    'freesize' => '50419',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '19',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市修真',
    'typename' => '都市修真',
    'size_c' => 25210,
    'size_k' => 26,
    'size_w' => 2.5,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/42.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42&cid=589',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=42',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=42',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=42',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/75.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%C7%B3%DD%C3%C8%C3%C8',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%C5%DF%B5%CA%D7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F42.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '42',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447946394',
  'lastupdate' => '1448547359',
  'articlename' => '九叩首',
  'articlecode' => 'jiukoushou',
  'backupname' => '为何而跪？没人值得你跪！',
  'keywords' => '都市 热血 兄弟 爱情 无间道',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '75',
  'author' => '智齿萌萌',
  'posterid' => '75',
  'poster' => '智齿萌萌',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '3',
  'typeid' => '16',
  'libid' => '0',
  'intro' => '　　五岁的韩三意外被大盗林东冉收为关门弟子，还在误打误撞中喝了黑道教父曹勇的结拜酒……青面獠牙的五鬼纹身究竟隐藏着什么秘密？，又是谁开启了埋葬着无数宝藏的七十二疑冢？二十年前摔杯结义为兄弟，二十年后摔杯反目为仇敌。亲情，爱情，兄弟情，三生石前断三生，菩提树下论英雄。谁在河东？谁在河西？与其说这是一部江湖传奇，倒不如说是一部人物传记，因为有人的地方才有江湖。',
  'notice' => '本书纯属虚构，其中的七十二墓传说，和盗墓情节均为凭空想象，全书无色情反动内容，但会有打斗场面描述。文中关于黑社会的描述也都是来自影视素材，绝无真人真事，如有雷同，我改便是了',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '589',
  'lastchapter' => '第八章 大舅二舅，都是他舅',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“谁喊你转过头来的”罗冉知道大伟看到了他砍人的全过程，见这傻小子一愣一愣的，忽然想吓吓他，便又拔出一根金属刺，阴森森的朝大伟走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大伟看着一走廊的血，早就吓破了胆，再听罗冉这么一说，心里咯噔一下，扭头就跑。还没等曹勇反应过来，大伟已经跑的不见踪影。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“剩下的你来处理了，我先撤了，在你家等你”罗冉也匆匆下楼走了。毕竟大白天在医院闹出这么大动静，肯定会惊动当地警察的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人啊！救命啊！”曹勇歇斯底里的叫喊声立马就招来了几个刚上早班的医生。他装作是热心的第一目击者，帮忙把躺..',
  'chapters' => '8',
  'size' => '50419',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478935416',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '65',
  'allvisit' => '6555',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '1',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1448547359',
  'freesize' => '50419',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '19',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市修真',
  'typename' => '都市修真',
  'size_c' => 25210,
  'size_k' => 26,
  'size_w' => 2.5,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/42/42s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/42.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=42&cid=589',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=42',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=42',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=42',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/75.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%C7%B3%DD%C3%C8%C3%C8',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%C5%DF%B5%CA%D7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F42.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '兄弟',
      'tagencode' => '%D0%D6%B5%DC',
    ),
    3 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    4 => 
    array (
      'tagname' => '无间道',
      'tagencode' => '%CE%DE%BC%E4%B5%C0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
