array (
  'meta_keywords' => '艾什岚 凝噎大魔王 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=421&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=421&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=421&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=421&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '421',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1467964936',
    'lastupdate' => '1468819835',
    'articlename' => '艾什岚',
    'articlecode' => 'aishilan',
    'backupname' => '家族争霸',
    'keywords' => '魔幻 战争 家族',
    'roles' => '',
    'initial' => 'A',
    'authorid' => '4734',
    'author' => '凝噎大魔王',
    'posterid' => '4734',
    'poster' => '凝噎大魔王',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '4',
    'libid' => '0',
    'intro' => '',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '33421',
    'lastvolume' => '深渊争霸',
    'lastchapterid' => '71735',
    'lastchapter' => '第十四章 大战沃夫尔吉',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;诺克迪轻而易举解决掉了所有因供血不足无法再生的血魔士兵，血魔大地上白骨遍野，三位统领终于顺着人偶力量的来源找到了诺克迪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;诺克迪收了魔力，所有的人偶顷刻间横七竖八倒在地上变成了木头块，嘴角一扬，不屑去抬头看这三位血魔统帅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人合力配合准备将诺克迪擒获，东部统帅皮尔吉蓄力挥动血魔战斧·毁灭者跳起来劈了个空，诺克迪凭空消失出现在皮尔吉身后从幽兰色长袍深出了一只漆黑的手，那形状更像是恶魔的魔爪探进了皮尔吉的身体，随着一声惨叫他的心脏一把被诺克迪掏出将他结果，挥手一甩一道紫色的魔法将..',
    'chapters' => '15',
    'size' => '91073',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478931921',
    'dayvisit' => '39',
    'weekvisit' => '286',
    'monthvisit' => '481',
    'allvisit' => '5681',
    'lastvote' => '1468811661',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '177',
    'goodnum' => '4',
    'reviewsnum' => '7',
    'ratenum' => 42,
    'ratesum' => 409,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '1469930780',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1468819835',
    'freesize' => '91073',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '246',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1468811677',
    'allflower' => '22',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1468493770',
    'allvipvote' => '1',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '西方奇幻',
    'typename' => '西方奇幻',
    'size_c' => 45537,
    'size_k' => 46,
    'size_w' => 4.6,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/421.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421&cid=71735',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=421',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=421',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=421',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4734.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%FD%D2%AD%B4%F3%C4%A7%CD%F5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AC%CA%B2%E1%B0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F421.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '421',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1467964936',
  'lastupdate' => '1468819835',
  'articlename' => '艾什岚',
  'articlecode' => 'aishilan',
  'backupname' => '家族争霸',
  'keywords' => '魔幻 战争 家族',
  'roles' => '',
  'initial' => 'A',
  'authorid' => '4734',
  'author' => '凝噎大魔王',
  'posterid' => '4734',
  'poster' => '凝噎大魔王',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '4',
  'libid' => '0',
  'intro' => '',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '33421',
  'lastvolume' => '深渊争霸',
  'lastchapterid' => '71735',
  'lastchapter' => '第十四章 大战沃夫尔吉',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;诺克迪轻而易举解决掉了所有因供血不足无法再生的血魔士兵，血魔大地上白骨遍野，三位统领终于顺着人偶力量的来源找到了诺克迪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;诺克迪收了魔力，所有的人偶顷刻间横七竖八倒在地上变成了木头块，嘴角一扬，不屑去抬头看这三位血魔统帅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人合力配合准备将诺克迪擒获，东部统帅皮尔吉蓄力挥动血魔战斧·毁灭者跳起来劈了个空，诺克迪凭空消失出现在皮尔吉身后从幽兰色长袍深出了一只漆黑的手，那形状更像是恶魔的魔爪探进了皮尔吉的身体，随着一声惨叫他的心脏一把被诺克迪掏出将他结果，挥手一甩一道紫色的魔法将..',
  'chapters' => '15',
  'size' => '91073',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478931921',
  'dayvisit' => '39',
  'weekvisit' => '286',
  'monthvisit' => '481',
  'allvisit' => '5681',
  'lastvote' => '1468811661',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '177',
  'goodnum' => '4',
  'reviewsnum' => '7',
  'ratenum' => 42,
  'ratesum' => 409,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '1469930780',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1468819835',
  'freesize' => '91073',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '246',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1468811677',
  'allflower' => '22',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1468493770',
  'allvipvote' => '1',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '西方奇幻',
  'typename' => '西方奇幻',
  'size_c' => 45537,
  'size_k' => 46,
  'size_w' => 4.6,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/421.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=421&cid=71735',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=421',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=421',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=421',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4734.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%FD%D2%AD%B4%F3%C4%A7%CD%F5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AC%CA%B2%E1%B0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F421.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '魔幻',
      'tagencode' => '%C4%A7%BB%C3',
    ),
    1 => 
    array (
      'tagname' => '战争',
      'tagencode' => '%D5%BD%D5%F9',
    ),
    2 => 
    array (
      'tagname' => '家族',
      'tagencode' => '%BC%D2%D7%E5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
