array (
  'meta_keywords' => '卿本倾城 童谣 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=430&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=430&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=430&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=430&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '430',
    'siteid' => '1',
    'sourceid' => '152',
    'postdate' => '1458053013',
    'lastupdate' => '1472644807',
    'articlename' => '卿本倾城',
    'articlecode' => 'qingbenqingcheng',
    'backupname' => '',
    'keywords' => '公主 妖孽 美男 大爱',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '6176',
    'author' => '童谣',
    'posterid' => '642',
    'poster' => '阅庭',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她是前朝公主，他是当今天下第一公子，他是善于隐忍的腹黑。<br />
一次偶然的相遇，一次惊鸿的一瞥，他们之间产生了理不清的纠缠。<br />
他为她舍弃了家国天下，他为她背负了芸芸众生，到底谁舍弃了谁，谁又成全了谁？<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '34369',
    'lastvolume' => '卷一 绝代有佳人',
    'lastchapterid' => '92713',
    'lastchapter' => '卷七&nbsp;&nbsp;风过无痕',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“赶快过来”星月门主有些不耐烦，玉书公子也是一愣，这是什么节奏？难道是要让自己过去看？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是一瞬间，玉书公子就否定了这种猜测，剩下的一种就是这女子要不是有病，就是中毒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉书公子刚走到星月公子的身边，星月就将楚悠然的手腕露了出来，并且还用一块锦帕给盖住，玉书公子差一点没有憋出内伤，随即搭手在她的脉上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉书公子满眼??..',
    'chapters' => '477',
    'size' => '2080904',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478618222',
    'dayvisit' => 0,
    'weekvisit' => '52',
    'monthvisit' => '156',
    'allvisit' => '27673',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1469172749',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1471664313',
    'freesize' => '2080904',
    'isvip' => '签约',
    'viptime' => '1472644807',
    'vipid' => '180',
    'vippubid' => '0',
    'vipchapters' => '425',
    'vipsize' => '1880494',
    'vipvolumeid' => '92713',
    'vipvolume' => '卷七&nbsp;&nbsp;风过无痕',
    'vipchapterid' => '93586',
    'vipchapter' => '25、结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;杨小鹿怀孕的事，一日之间就传遍了整个风宅，大家都很好奇这个来历不明的女子，是怎么让冰山办的楼主动的心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风无痕和杨小鹿说成亲的事的时候，杨小鹿还想拒绝，不过还是抵不过小红的诱惑，只好答应与风无痕成亲，婚礼就定在下个月初。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;商王赵王云王都纷纷前来祝贺，整个兰城都沸腾了起来，春香楼的妈妈也连忙递上了厚礼。在兰城，要是跟绝命楼?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 1040452,
    'size_k' => 1041,
    'size_w' => 104,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/430.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430&cid=92713',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=180&cid=93586',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=430',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=430',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=430',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6176.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%AF%D2%A5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E4%B1%BE%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F430.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '430',
  'siteid' => '1',
  'sourceid' => '152',
  'postdate' => '1458053013',
  'lastupdate' => '1472644807',
  'articlename' => '卿本倾城',
  'articlecode' => 'qingbenqingcheng',
  'backupname' => '',
  'keywords' => '公主 妖孽 美男 大爱',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '6176',
  'author' => '童谣',
  'posterid' => '642',
  'poster' => '阅庭',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她是前朝公主，他是当今天下第一公子，他是善于隐忍的腹黑。<br />
一次偶然的相遇，一次惊鸿的一瞥，他们之间产生了理不清的纠缠。<br />
他为她舍弃了家国天下，他为她背负了芸芸众生，到底谁舍弃了谁，谁又成全了谁？<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '34369',
  'lastvolume' => '卷一 绝代有佳人',
  'lastchapterid' => '92713',
  'lastchapter' => '卷七&nbsp;&nbsp;风过无痕',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“赶快过来”星月门主有些不耐烦，玉书公子也是一愣，这是什么节奏？难道是要让自己过去看？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是一瞬间，玉书公子就否定了这种猜测，剩下的一种就是这女子要不是有病，就是中毒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉书公子刚走到星月公子的身边，星月就将楚悠然的手腕露了出来，并且还用一块锦帕给盖住，玉书公子差一点没有憋出内伤，随即搭手在她的脉上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉书公子满眼??..',
  'chapters' => '477',
  'size' => '2080904',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478618222',
  'dayvisit' => 0,
  'weekvisit' => '52',
  'monthvisit' => '156',
  'allvisit' => '27673',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1469172749',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1471664313',
  'freesize' => '2080904',
  'isvip' => '签约',
  'viptime' => '1472644807',
  'vipid' => '180',
  'vippubid' => '0',
  'vipchapters' => '425',
  'vipsize' => '1880494',
  'vipvolumeid' => '92713',
  'vipvolume' => '卷七&nbsp;&nbsp;风过无痕',
  'vipchapterid' => '93586',
  'vipchapter' => '25、结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;杨小鹿怀孕的事，一日之间就传遍了整个风宅，大家都很好奇这个来历不明的女子，是怎么让冰山办的楼主动的心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风无痕和杨小鹿说成亲的事的时候，杨小鹿还想拒绝，不过还是抵不过小红的诱惑，只好答应与风无痕成亲，婚礼就定在下个月初。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;商王赵王云王都纷纷前来祝贺，整个兰城都沸腾了起来，春香楼的妈妈也连忙递上了厚礼。在兰城，要是跟绝命楼?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 1040452,
  'size_k' => 1041,
  'size_w' => 104,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/430/430s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/430.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=430&cid=92713',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=180&cid=93586',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=430',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=430',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=430',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6176.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%AF%D2%A5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E4%B1%BE%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F430.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '公主',
      'tagencode' => '%B9%AB%D6%F7',
    ),
    1 => 
    array (
      'tagname' => '妖孽',
      'tagencode' => '%D1%FD%C4%F5',
    ),
    2 => 
    array (
      'tagname' => '美男',
      'tagencode' => '%C3%C0%C4%D0',
    ),
    3 => 
    array (
      'tagname' => '大爱',
      'tagencode' => '%B4%F3%B0%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
