array (
  'meta_keywords' => '契约成婚：牧爷心尖宠入骨！ 宸歌baby 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=537&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=537&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=537&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=537&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '537',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480672583',
    'lastupdate' => '1480672613',
    'articlename' => '契约成婚：牧爷心尖宠入骨！',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '0',
    'author' => '宸歌baby',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说契约成婚：牧爷心尖宠入骨！简介：&nbsp;&nbsp;&nbsp;&nbsp;（谁都知道，你是我的鬼迷心窍）1v1宠文“牧孜霄，要是你的女人背叛了你，你会怎么办？”“哦，”牧孜霄嘴角扬了扬，漫不经心道：“手摸了砍手，眼睛看了挖眼，爱上了就挖心，”牧孜霄盯着暮兮一寸一寸变白的脸，笑了，“这是针对姘头的，对女人，我还是很怜香惜玉的。”暮兮冰冷的心总算回了暖，却听到他缓缓开口，“关进精神病院，或者家后院的小黑屋，这算是文明的处理方法，不文明的，送进丽人园那种地方也有可能。”丽人园可是个夜总会呀，还是个开了连锁的低廉夜总会。“牧孜霄，”暮兮都要哭了，委屈道：“你给我一瓶安眠药笔趣阁女总裁的全能兵王http://www.sbiquge.com不笔趣阁女总裁的全能兵王http://www.sbiquge.com？别让我死的那么难看。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《契约成婚：牧爷心尖宠入骨！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！契约成婚：牧爷心尖宠入骨！最新章节,契约成婚：牧爷心尖宠入骨！无弹窗,契约成婚：牧爷心尖宠入骨！全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《契约成婚：牧爷心尖宠入骨！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：契约成婚：牧爷心尖宠入骨！最新章节,契约成婚：牧爷心尖宠入骨！无弹窗,契约成婚：牧爷心尖宠入骨！全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '175107',
    'lastchapter' => '第70章 还真是当自己是牧太太了，装给谁看',
    'lastsummary' => '',
    'chapters' => '70',
    'size' => '168523',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484561233',
    'dayvisit' => '52',
    'weekvisit' => '52',
    'monthvisit' => '130',
    'allvisit' => '208',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '',
    'typename' => '',
    'size_c' => 84262,
    'size_k' => 85,
    'size_w' => 8.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/537.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537&cid=175107',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=537',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=537',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=537',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B7%B8%E8baby',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B7%B8%E8baby',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%F5%D4%BC%B3%C9%BB%E9%A3%BA%C4%C1%D2%AF%D0%C4%BC%E2%B3%E8%C8%EB%B9%C7%A3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F537.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '537',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480672583',
  'lastupdate' => '1480672613',
  'articlename' => '契约成婚：牧爷心尖宠入骨！',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '0',
  'author' => '宸歌baby',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说契约成婚：牧爷心尖宠入骨！简介：&nbsp;&nbsp;&nbsp;&nbsp;（谁都知道，你是我的鬼迷心窍）1v1宠文“牧孜霄，要是你的女人背叛了你，你会怎么办？”“哦，”牧孜霄嘴角扬了扬，漫不经心道：“手摸了砍手，眼睛看了挖眼，爱上了就挖心，”牧孜霄盯着暮兮一寸一寸变白的脸，笑了，“这是针对姘头的，对女人，我还是很怜香惜玉的。”暮兮冰冷的心总算回了暖，却听到他缓缓开口，“关进精神病院，或者家后院的小黑屋，这算是文明的处理方法，不文明的，送进丽人园那种地方也有可能。”丽人园可是个夜总会呀，还是个开了连锁的低廉夜总会。“牧孜霄，”暮兮都要哭了，委屈道：“你给我一瓶安眠药笔趣阁女总裁的全能兵王http://www.sbiquge.com不笔趣阁女总裁的全能兵王http://www.sbiquge.com？别让我死的那么难看。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《契约成婚：牧爷心尖宠入骨！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！契约成婚：牧爷心尖宠入骨！最新章节,契约成婚：牧爷心尖宠入骨！无弹窗,契约成婚：牧爷心尖宠入骨！全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《契约成婚：牧爷心尖宠入骨！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：契约成婚：牧爷心尖宠入骨！最新章节,契约成婚：牧爷心尖宠入骨！无弹窗,契约成婚：牧爷心尖宠入骨！全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '175107',
  'lastchapter' => '第70章 还真是当自己是牧太太了，装给谁看',
  'lastsummary' => '',
  'chapters' => '70',
  'size' => '168523',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484561233',
  'dayvisit' => '52',
  'weekvisit' => '52',
  'monthvisit' => '130',
  'allvisit' => '208',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '',
  'typename' => '',
  'size_c' => 84262,
  'size_k' => 85,
  'size_w' => 8.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/537/537s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/537.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=537&cid=175107',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=537',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=537',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=537',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B7%B8%E8baby',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B7%B8%E8baby',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%F5%D4%BC%B3%C9%BB%E9%A3%BA%C4%C1%D2%AF%D0%C4%BC%E2%B3%E8%C8%EB%B9%C7%A3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F537.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)