array (
  'meta_keywords' => '穿越之医仙神妃 七荼 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=563&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=563&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=563&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=563&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '563',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468807945',
    'lastupdate' => '1468808263',
    'articlename' => '穿越之医仙神妃',
    'articlecode' => 'chuanyuezhiyixianshenfei',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '5361',
    'author' => '七荼',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '医科大学高材生，被迫穿越。<br />
一手神奇的医术，扭转生死，<br />
随便召唤就是惊天大萌宠！<br />
而且还是个花美男！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '65857',
    'lastchapter' => '第二十章 所谓的仇恨',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;两人不说话，慕琳儿盯着种子发呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洛克飞看着发呆的慕琳儿，上下打量。她瘦了不少，当时初见她时，一脸洁白的小脸，胖嘟嘟的，却是很可爱，不知道为何哭泣，双眼通红，很是惹人怜爱。他不由自主的走上前，伸出手想要给她擦掉眼泪，突然那个现在抛弃了她和她哥哥的刁奴不知道哪里冒出来，一下打开他的手，说了句：“滚开，乞丐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他那天是为了悄悄跑出去，找了一身家里下人孩子的破旧衣服穿了跑出去，玩得脏兮兮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的手背被拍得通红，很疼，可是接下来慕琳儿一句话，让他记恨于心了：“死开，恶心的..',
    'chapters' => '265',
    'size' => '1632670',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478934960',
    'dayvisit' => 0,
    'weekvisit' => '234',
    'monthvisit' => '468',
    'allvisit' => '140231',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1740',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468808588',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1468808263',
    'freesize' => '1632670',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '307',
    'vippubid' => '0',
    'vipchapters' => '242',
    'vipsize' => '1552076',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '66099',
    'vipchapter' => '第二百五十四章 神女之光（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;他们去的方向是——丧尸培养的山洞！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲天的怒火盖了上来，这个老不死余伟，竟然敢乱动神乐？“神乐，别再继续往前走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;元渊从天而降，冷冷的挡在他们面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“尊、尊者，你怎么会来？”余伟吃了一惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“元渊？！”慕琳儿吓了一跳，万万没想到会在这里碰见他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这里是个幻境，实际上你们已经身处一个密道之中了。”元渊说完，一只手一推，幻境瞬间崩塌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阳光，庭院，绿树，小鸟的叫声全都消失不见，剩下的全是阴暗，潮湿，还有一股莫名的寒气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“尊者……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 816335,
    'size_k' => 817,
    'size_w' => 81.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/563.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563&cid=65857',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=307&cid=66099',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=563',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=563',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=563',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/5361.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C6%DF%DD%B1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%A9%D4%BD%D6%AE%D2%BD%CF%C9%C9%F1%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F563.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '563',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468807945',
  'lastupdate' => '1468808263',
  'articlename' => '穿越之医仙神妃',
  'articlecode' => 'chuanyuezhiyixianshenfei',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '5361',
  'author' => '七荼',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '医科大学高材生，被迫穿越。<br />
一手神奇的医术，扭转生死，<br />
随便召唤就是惊天大萌宠！<br />
而且还是个花美男！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '65857',
  'lastchapter' => '第二十章 所谓的仇恨',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;两人不说话，慕琳儿盯着种子发呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洛克飞看着发呆的慕琳儿，上下打量。她瘦了不少，当时初见她时，一脸洁白的小脸，胖嘟嘟的，却是很可爱，不知道为何哭泣，双眼通红，很是惹人怜爱。他不由自主的走上前，伸出手想要给她擦掉眼泪，突然那个现在抛弃了她和她哥哥的刁奴不知道哪里冒出来，一下打开他的手，说了句：“滚开，乞丐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他那天是为了悄悄跑出去，找了一身家里下人孩子的破旧衣服穿了跑出去，玩得脏兮兮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的手背被拍得通红，很疼，可是接下来慕琳儿一句话，让他记恨于心了：“死开，恶心的..',
  'chapters' => '265',
  'size' => '1632670',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478934960',
  'dayvisit' => 0,
  'weekvisit' => '234',
  'monthvisit' => '468',
  'allvisit' => '140231',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1740',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468808588',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1468808263',
  'freesize' => '1632670',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '307',
  'vippubid' => '0',
  'vipchapters' => '242',
  'vipsize' => '1552076',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '66099',
  'vipchapter' => '第二百五十四章 神女之光（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;他们去的方向是——丧尸培养的山洞！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲天的怒火盖了上来，这个老不死余伟，竟然敢乱动神乐？“神乐，别再继续往前走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;元渊从天而降，冷冷的挡在他们面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“尊、尊者，你怎么会来？”余伟吃了一惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“元渊？！”慕琳儿吓了一跳，万万没想到会在这里碰见他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这里是个幻境，实际上你们已经身处一个密道之中了。”元渊说完，一只手一推，幻境瞬间崩塌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阳光，庭院，绿树，小鸟的叫声全都消失不见，剩下的全是阴暗，潮湿，还有一股莫名的寒气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“尊者……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 816335,
  'size_k' => 817,
  'size_w' => 81.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/563/563s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/563.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=563&cid=65857',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=307&cid=66099',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=563',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=563',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=563',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/5361.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C6%DF%DD%B1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%A9%D4%BD%D6%AE%D2%BD%CF%C9%C9%F1%E5%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F563.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
