array (
  'meta_keywords' => '嫡后逆袭：艳满京华 米兔 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=567&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=567&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=567&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=567&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '567',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468809511',
    'lastupdate' => '1468809511',
    'articlename' => '嫡后逆袭：艳满京华',
    'articlecode' => 'dihounixi_yanmanjinghua',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '6651',
    'author' => '米兔',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '阴森潮湿的大牢里，尖细的嗓子刺得人耳根子发疼。南初雨，蜷缩在大牢一角……<br />
既然这只右眼看不到，不如挖下来。哈哈哈，南初雨，你可真是个蠢货，就你这样的残废，长得再美本王也不屑一顾。不过，天下间有你这样的傻子，就有赫连幽那样的白痴，你被本王耍，他却被你骗，真是好笑。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '66537',
    'lastchapter' => '第20章：前尘如烟',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这么想着，却还是回到了赫连幽的问话：“回禀殿下，因为殿下的药需要南小姐的血做引子，所以，殿下一日不醒，南小姐就一日不能涂药，怕药会影响血质。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这么说，如若本王今日不醒，她就还得继续放血了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“正是，毕竟殿下是为了救南小姐才受的伤，我想，南小姐心中也一定是过意不去的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南宫敬回言，话中的意思也很明显：南初雨救你是天经地义，你贵为燕王是其次，只冲着你能舍身为她，这血，她也该放。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在场的几人都不是傻子，又怎么会听不懂南宫敬话中的意思？南初雨不免有些难过，如今，她……',
    'chapters' => '245',
    'size' => '1459449',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478737191',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '273',
    'allvisit' => '138586',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '47',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468809609',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '1459449',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '308',
    'vippubid' => '0',
    'vipchapters' => '225',
    'vipsize' => '1385426',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '66762',
    'vipchapter' => '第244章 成亲（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赫连幽只一直看着南初雨，“你放了她，不论什么条件我都可以答应你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赫连厥大笑，反而将手又将收紧了一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南初雨感觉大脑已经完全缺氧，眼前的一切慢慢地变的越来越模糊。意识越来越稀薄，好像下一刻自己的脖子就要断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在此刻，一团黑色的东西迅速的撞上赫连厥的手。赫连厥吃痛，下意识的松开了南初雨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;形势就在一瞬间发生了变化，南初雨被赫连幽抱在怀里。他身后的兵士则是包围了赫连厥，赫连幽挥了挥手，之间那些原本站着的兵士都朝着赫连厥冲了上去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走出地道的那一刻，南初雨……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 729725,
    'size_k' => 730,
    'size_w' => 73,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/567.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567&cid=66537',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=308&cid=66762',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=567',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=567',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=567',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6651.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%D7%CD%C3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%D5%BA%F3%C4%E6%CF%AE%A3%BA%D1%DE%C2%FA%BE%A9%BB%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F567.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '567',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468809511',
  'lastupdate' => '1468809511',
  'articlename' => '嫡后逆袭：艳满京华',
  'articlecode' => 'dihounixi_yanmanjinghua',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '6651',
  'author' => '米兔',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '阴森潮湿的大牢里，尖细的嗓子刺得人耳根子发疼。南初雨，蜷缩在大牢一角……<br />
既然这只右眼看不到，不如挖下来。哈哈哈，南初雨，你可真是个蠢货，就你这样的残废，长得再美本王也不屑一顾。不过，天下间有你这样的傻子，就有赫连幽那样的白痴，你被本王耍，他却被你骗，真是好笑。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '66537',
  'lastchapter' => '第20章：前尘如烟',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这么想着，却还是回到了赫连幽的问话：“回禀殿下，因为殿下的药需要南小姐的血做引子，所以，殿下一日不醒，南小姐就一日不能涂药，怕药会影响血质。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这么说，如若本王今日不醒，她就还得继续放血了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“正是，毕竟殿下是为了救南小姐才受的伤，我想，南小姐心中也一定是过意不去的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南宫敬回言，话中的意思也很明显：南初雨救你是天经地义，你贵为燕王是其次，只冲着你能舍身为她，这血，她也该放。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在场的几人都不是傻子，又怎么会听不懂南宫敬话中的意思？南初雨不免有些难过，如今，她……',
  'chapters' => '245',
  'size' => '1459449',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478737191',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '273',
  'allvisit' => '138586',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '47',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468809609',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '1459449',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '308',
  'vippubid' => '0',
  'vipchapters' => '225',
  'vipsize' => '1385426',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '66762',
  'vipchapter' => '第244章 成亲（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赫连幽只一直看着南初雨，“你放了她，不论什么条件我都可以答应你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赫连厥大笑，反而将手又将收紧了一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南初雨感觉大脑已经完全缺氧，眼前的一切慢慢地变的越来越模糊。意识越来越稀薄，好像下一刻自己的脖子就要断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在此刻，一团黑色的东西迅速的撞上赫连厥的手。赫连厥吃痛，下意识的松开了南初雨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;形势就在一瞬间发生了变化，南初雨被赫连幽抱在怀里。他身后的兵士则是包围了赫连厥，赫连幽挥了挥手，之间那些原本站着的兵士都朝着赫连厥冲了上去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走出地道的那一刻，南初雨……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 729725,
  'size_k' => 730,
  'size_w' => 73,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/567/567s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/567.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=567&cid=66537',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=308&cid=66762',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=567',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=567',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=567',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6651.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%D7%CD%C3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%D5%BA%F3%C4%E6%CF%AE%A3%BA%D1%DE%C2%FA%BE%A9%BB%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F567.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
