array (
  'meta_keywords' => '鼎尊 残叶峰 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=569&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=569&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=569&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=569&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '569',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468810167',
    'lastupdate' => '1468810167',
    'articlename' => '鼎尊',
    'articlecode' => 'dingzun',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '6650',
    'author' => '残叶峰',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '修仙，有时候是一种寂寞；杀戮，有时候是一种无奈！<br />
当天再也遮不住我的眼，我要洪荒逆转唯我独尊！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '66799',
    'lastchapter' => '第三十章 被盯上了（下）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;大约没过多久，叶晨微微睁开双目，发现此时快要进入黄昏，天边那剩余的血红色残阳也就快消失了，缓缓站起身，发现自己身上的衣服太过于潮湿了，看来要赶紧想办法换一件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走了几步远的叶晨，脚下忽然停了下来，眸子眯缝着看了看四周，心中明显的感受到在这四周的黑暗中，有无数种气息，并且还能看到一双一双碧绿色的眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这里太危险了！我不能在这里过夜，我看还是连夜赶路，离开这里吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶晨看了看四周的参天古木，感觉这里像传说中的某个地方，经过刚才的休息，他胸口上所受的伤大概已经好的差不多了，……',
    'chapters' => '373',
    'size' => '2150938',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885627',
    'dayvisit' => '13',
    'weekvisit' => '104',
    'monthvisit' => '286',
    'allvisit' => '149399',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '44',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 20,
    'ratesum' => 200,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468810979',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '2150938',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '309',
    'vippubid' => '0',
    'vipchapters' => '343',
    'vipsize' => '2018245',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '67142',
    'vipchapter' => '第三百八十章（终）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在叶晨眼里看来，这一只只的白色精灵煞是可爱，也很调皮，可是若是看在敌人眼中那就是魔鬼！真正的魔鬼！只要你陷入了叶晨的幽冥焚天大阵，即使你在强大，也会被这地狱冥火给烧的连骨头渣都剩不下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“焚烧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶晨再次大喝一声，便只见四面八方的白色火焰呼呼的窜起老高，将整片虚空都给烧的塌陷，气流滚烫，包括远方早已停战的几人，都感觉到了白色火焰的恐怖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呼啦啦啦……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瞬间白色火焰已经暴涨到十来丈高，而今收缩的范围越来越小，正在逐步的对着叶韵慢慢烧去，此刻叶韵是真的感到恐惧了……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 1075469,
    'size_k' => 1076,
    'size_w' => 107.5,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/569.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569&cid=66799',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=309&cid=67142',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=569',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=569',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=569',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6650.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%D0%D2%B6%B7%E5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%A6%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F569.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '569',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468810167',
  'lastupdate' => '1468810167',
  'articlename' => '鼎尊',
  'articlecode' => 'dingzun',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '6650',
  'author' => '残叶峰',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '修仙，有时候是一种寂寞；杀戮，有时候是一种无奈！<br />
当天再也遮不住我的眼，我要洪荒逆转唯我独尊！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '66799',
  'lastchapter' => '第三十章 被盯上了（下）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;大约没过多久，叶晨微微睁开双目，发现此时快要进入黄昏，天边那剩余的血红色残阳也就快消失了，缓缓站起身，发现自己身上的衣服太过于潮湿了，看来要赶紧想办法换一件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走了几步远的叶晨，脚下忽然停了下来，眸子眯缝着看了看四周，心中明显的感受到在这四周的黑暗中，有无数种气息，并且还能看到一双一双碧绿色的眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这里太危险了！我不能在这里过夜，我看还是连夜赶路，离开这里吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶晨看了看四周的参天古木，感觉这里像传说中的某个地方，经过刚才的休息，他胸口上所受的伤大概已经好的差不多了，……',
  'chapters' => '373',
  'size' => '2150938',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885627',
  'dayvisit' => '13',
  'weekvisit' => '104',
  'monthvisit' => '286',
  'allvisit' => '149399',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '44',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 20,
  'ratesum' => 200,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468810979',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '2150938',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '309',
  'vippubid' => '0',
  'vipchapters' => '343',
  'vipsize' => '2018245',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '67142',
  'vipchapter' => '第三百八十章（终）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在叶晨眼里看来，这一只只的白色精灵煞是可爱，也很调皮，可是若是看在敌人眼中那就是魔鬼！真正的魔鬼！只要你陷入了叶晨的幽冥焚天大阵，即使你在强大，也会被这地狱冥火给烧的连骨头渣都剩不下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“焚烧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶晨再次大喝一声，便只见四面八方的白色火焰呼呼的窜起老高，将整片虚空都给烧的塌陷，气流滚烫，包括远方早已停战的几人，都感觉到了白色火焰的恐怖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呼啦啦啦……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瞬间白色火焰已经暴涨到十来丈高，而今收缩的范围越来越小，正在逐步的对着叶韵慢慢烧去，此刻叶韵是真的感到恐惧了……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 1075469,
  'size_k' => 1076,
  'size_w' => 107.5,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/569/569s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/569.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=569&cid=66799',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=309&cid=67142',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=569',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=569',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=569',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6650.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B2%D0%D2%B6%B7%E5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%A6%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F569.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
