array (
  'meta_keywords' => '夫人难宠 蓝色枫叶 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=570&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=570&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=570&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=570&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '570',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468810972',
    'lastupdate' => '1468810972',
    'articlename' => '夫人难宠',
    'articlecode' => 'furennanchong',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '6649',
    'author' => '蓝色枫叶',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一号特工冷玥芜意外穿越回去做了新娘！<br />
老公不听话？让我用拳头告诉他，我们家谁说了算！<br />
有小三？给我拉下去打出shi来！<br />
有人争财产？信不信我抽你丫的！<br />
老娘既然穿越来了，就都给我老实点。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '67163',
    'lastchapter' => '第二十章 担当之人',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;半晌，慕容正德站起身，将众人带出房间，来到王府正厅，他看着自己的儿女，深叹一口气道：“现在咱们王府里的情形，大家也都知道。不过，我们悲伤可以，但是不能垂头丧气，心要在一起，拧成一股绳，齐心协力，度过这个难关！让圣上知道，我们慕容家，也不是那么好欺负的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时那个意气风发的异姓王慕容正德又回来了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷玥芜静静的看着这一大家子的人双拳紧握，摩拳擦掌，心中不禁划过一丝暖流。原本还以为这一次的穿越是自己命中的劫，可是此时看来，或许，还没有那么糟。既来之则安之，她已经一点一点的感受到……',
    'chapters' => '223',
    'size' => '1380927',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478935037',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '65',
    'allvisit' => '57734',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '21',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468811225',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '1380927',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '310',
    'vippubid' => '0',
    'vipchapters' => '202',
    'vipsize' => '1282713',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '67365',
    'vipchapter' => '第二百二十三章 自寻死路（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;丞相一声令下，宫中的侍卫全都赶来对着慕容一家下手，重重包围，一个又一个涌上来，让人开始有点目不暇接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;丞相仰头哈哈大笑：“凭你们的武功，再怎么厉害都不可能会是我的对手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“做人要用脑子，而不是像你们用蛮力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“西昌大军和北齐大军没能灭了你们，我也绝对会亲手灭了你们，特别是这个女人，竟敢杀了犬儿，死不足惜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷玥芜淡定自若把这群不断来送命的侍卫一个不留的杀死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的双眸早已被喷洒出来的热血所染红，镇定自若的表情未见有半点的恐惧，反而引起变得更加兴奋。<br />
<br />
……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 690464,
    'size_k' => 691,
    'size_w' => 69,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/570.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570&cid=67163',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=310&cid=67365',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=570',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=570',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=570',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6649.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%C9%AB%B7%E3%D2%B6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%F2%C8%CB%C4%D1%B3%E8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F570.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '570',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468810972',
  'lastupdate' => '1468810972',
  'articlename' => '夫人难宠',
  'articlecode' => 'furennanchong',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '6649',
  'author' => '蓝色枫叶',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一号特工冷玥芜意外穿越回去做了新娘！<br />
老公不听话？让我用拳头告诉他，我们家谁说了算！<br />
有小三？给我拉下去打出shi来！<br />
有人争财产？信不信我抽你丫的！<br />
老娘既然穿越来了，就都给我老实点。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '67163',
  'lastchapter' => '第二十章 担当之人',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;半晌，慕容正德站起身，将众人带出房间，来到王府正厅，他看着自己的儿女，深叹一口气道：“现在咱们王府里的情形，大家也都知道。不过，我们悲伤可以，但是不能垂头丧气，心要在一起，拧成一股绳，齐心协力，度过这个难关！让圣上知道，我们慕容家，也不是那么好欺负的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时那个意气风发的异姓王慕容正德又回来了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷玥芜静静的看着这一大家子的人双拳紧握，摩拳擦掌，心中不禁划过一丝暖流。原本还以为这一次的穿越是自己命中的劫，可是此时看来，或许，还没有那么糟。既来之则安之，她已经一点一点的感受到……',
  'chapters' => '223',
  'size' => '1380927',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478935037',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '65',
  'allvisit' => '57734',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '21',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468811225',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '1380927',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '310',
  'vippubid' => '0',
  'vipchapters' => '202',
  'vipsize' => '1282713',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '67365',
  'vipchapter' => '第二百二十三章 自寻死路（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;丞相一声令下，宫中的侍卫全都赶来对着慕容一家下手，重重包围，一个又一个涌上来，让人开始有点目不暇接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;丞相仰头哈哈大笑：“凭你们的武功，再怎么厉害都不可能会是我的对手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“做人要用脑子，而不是像你们用蛮力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“西昌大军和北齐大军没能灭了你们，我也绝对会亲手灭了你们，特别是这个女人，竟敢杀了犬儿，死不足惜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷玥芜淡定自若把这群不断来送命的侍卫一个不留的杀死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的双眸早已被喷洒出来的热血所染红，镇定自若的表情未见有半点的恐惧，反而引起变得更加兴奋。<br />
<br />
……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 690464,
  'size_k' => 691,
  'size_w' => 69,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/570/570s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/570.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=570&cid=67163',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=310&cid=67365',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=570',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=570',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=570',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6649.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%C9%AB%B7%E3%D2%B6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%F2%C8%CB%C4%D1%B3%E8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F570.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
