array (
  'meta_keywords' => '青城道长 虫梦 武侠修真',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=572&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=572&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=572&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=572&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '572',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480684257',
    'lastupdate' => '1480705246',
    'articlename' => '青城道长',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '0',
    'author' => '虫梦',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说青城道长简介：&nbsp;&nbsp;&nbsp;&nbsp;人行大道，号为道士，道士之长，故称道长，降妖、灭魔、除秽、安宅、卜算、治病，皆是其行走人间必做之事，然而在这之前，你得先填饱自己的肚子。<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘瞧一瞧，看一看，青城派又推行各种新型业务了，算卦：五贯，出诊：三贯，镇宅：十贯，送葬：视死者身份出价，二两起步。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘还有重磅消息，天庭、阴司、西天极乐世界等官方机构进行团购业务，一律八折起价，另有配套的打折卡、纸符大礼包赠送，道家门人享内部价，最低能打六折。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘女侠，考虑到我们上一次的合神作书吧www.szxs8.com很愉快，这一次就给您打个九五折，当然，若是您现在办理我们的情侣套餐的话，还可享受房中术服务、养颜丹配套赠送。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;备注：这其实是一个穿越成了道士，不得不养家糊口，发财致富的故事<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《青城道长》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！青城道长最新章节,青城道长无弹窗,青城道长全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《青城道长》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：青城道长最新章节,青城道长无弹窗,青城道长全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '214649',
    'lastchapter' => '第二十二章 换脚',
    'lastsummary' => '',
    'chapters' => '416',
    'size' => '2532983',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1480719871',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '13',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '',
    'typename' => '',
    'size_c' => 1266492,
    'size_k' => 1267,
    'size_w' => 126.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/572.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572&cid=214649',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=572',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=572',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=572',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%E6%C3%CE',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%E6%C3%CE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E0%B3%C7%B5%C0%B3%A4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F572.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '572',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480684257',
  'lastupdate' => '1480705246',
  'articlename' => '青城道长',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '0',
  'author' => '虫梦',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说青城道长简介：&nbsp;&nbsp;&nbsp;&nbsp;人行大道，号为道士，道士之长，故称道长，降妖、灭魔、除秽、安宅、卜算、治病，皆是其行走人间必做之事，然而在这之前，你得先填饱自己的肚子。<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘瞧一瞧，看一看，青城派又推行各种新型业务了，算卦：五贯，出诊：三贯，镇宅：十贯，送葬：视死者身份出价，二两起步。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘还有重磅消息，天庭、阴司、西天极乐世界等官方机构进行团购业务，一律八折起价，另有配套的打折卡、纸符大礼包赠送，道家门人享内部价，最低能打六折。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘女侠，考虑到我们上一次的合神作书吧www.szxs8.com很愉快，这一次就给您打个九五折，当然，若是您现在办理我们的情侣套餐的话，还可享受房中术服务、养颜丹配套赠送。’<br />
&nbsp;&nbsp;&nbsp;&nbsp;备注：这其实是一个穿越成了道士，不得不养家糊口，发财致富的故事<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《青城道长》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！青城道长最新章节,青城道长无弹窗,青城道长全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《青城道长》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：青城道长最新章节,青城道长无弹窗,青城道长全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '214649',
  'lastchapter' => '第二十二章 换脚',
  'lastsummary' => '',
  'chapters' => '416',
  'size' => '2532983',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1480719871',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '13',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '',
  'typename' => '',
  'size_c' => 1266492,
  'size_k' => 1267,
  'size_w' => 126.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/572.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=572&cid=214649',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=572',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=572',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=572',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%E6%C3%CE',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%E6%C3%CE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E0%B3%C7%B5%C0%B3%A4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F572.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)