array (
  'meta_keywords' => '午夜摸鬼人 前生 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=574&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=574&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=574&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=574&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '574',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468813550',
    'lastupdate' => '1468813550',
    'articlename' => '午夜摸鬼人',
    'articlecode' => 'wuyemoguiren',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '6659',
    'author' => '前生',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '　鬼能摸人，人也能摸鬼，而我就是那个午夜摸鬼人。<br />
　　夜深，月黑风高，独坐坟尖。<br />
　　虽然张着眼睛，却什么也看不见。<br />
　　一只冰凉的小手交到我手里，沿着小手向上摸去，纤柔细腻的手臂，圆润光滑的酥肩，沿着肩头向侧里一拂，清凉如玉的蓓蕾盈盈一握，娇挺而柔软。<br />
　　少女天生的羞涩，使她微微轻颤，向后退去。<br />
　　我下意识地抬手向上，想要摸一摸她的小脸，却只碰到了一截血肉粘稠的脖颈断茬。<br />
　　她没有头…………',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '68079',
    'lastchapter' => '第二十章 紫槐花下',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一双细白的小手，蒙在我的眼上。那手散发出一股清新的香气，我被香气包围着，晕乎着，不知不觉之间，视线开始随风流转，所见的一切，如同浮光掠影一般，在脑海中不停旋转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东边日出，西边雨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天上被云遮住了半边，是春天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;村口槐树上的白花挂了一串串，葡萄一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人挎着一只小小的竹篮，在树下仰头往上看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;春天是吃槐花的时节，还有榆钱。不过榆钱太糙，比起来，还是槐花比较可口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摘的时候，要那种没有全开的，刚刚含苞的花骨朵，一串串摘下来，单单把花儿捋下来……',
    'chapters' => '319',
    'size' => '2020204',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885463',
    'dayvisit' => '13',
    'weekvisit' => '78',
    'monthvisit' => '208',
    'allvisit' => '157591',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1140',
    'goodnum' => '6',
    'reviewsnum' => '0',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468822161',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '2020204',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '314',
    'vippubid' => '0',
    'vipchapters' => '299',
    'vipsize' => '1891341',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '68378',
    'vipchapter' => '第三百一十八章 雪巅',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;对于王源来说，或许人生之中，再没有比这更黑暗的一天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直奉为至亲的舅舅，在关键时候选择牺牲她，而她一直深爱着的人，也在这一刻抛弃了她，她躺在冰冷的岩洞之中，万籁俱寂，心里不知道在想着什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我和小白追着马老头和程疯子，路过了她的身边，当时她连看都没看我们一下，或许，她已经不想再对这个世界有任何的回应了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时我看着她，心里不觉是有些同情她，然后让我没想到的是，这个时候，小白却是停了下来，然后低头轻轻地舔着王源的伤口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见到这个状况，我不觉是心里一沉，心说莫不是……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 1010102,
    'size_k' => 1011,
    'size_w' => 101,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/574.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574&cid=68079',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=314&cid=68378',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=574',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=574',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=574',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6659.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%B0%C9%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%E7%D2%B9%C3%FE%B9%ED%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F574.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '574',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468813550',
  'lastupdate' => '1468813550',
  'articlename' => '午夜摸鬼人',
  'articlecode' => 'wuyemoguiren',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '6659',
  'author' => '前生',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '　鬼能摸人，人也能摸鬼，而我就是那个午夜摸鬼人。<br />
　　夜深，月黑风高，独坐坟尖。<br />
　　虽然张着眼睛，却什么也看不见。<br />
　　一只冰凉的小手交到我手里，沿着小手向上摸去，纤柔细腻的手臂，圆润光滑的酥肩，沿着肩头向侧里一拂，清凉如玉的蓓蕾盈盈一握，娇挺而柔软。<br />
　　少女天生的羞涩，使她微微轻颤，向后退去。<br />
　　我下意识地抬手向上，想要摸一摸她的小脸，却只碰到了一截血肉粘稠的脖颈断茬。<br />
　　她没有头…………',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '68079',
  'lastchapter' => '第二十章 紫槐花下',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一双细白的小手，蒙在我的眼上。那手散发出一股清新的香气，我被香气包围着，晕乎着，不知不觉之间，视线开始随风流转，所见的一切，如同浮光掠影一般，在脑海中不停旋转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东边日出，西边雨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天上被云遮住了半边，是春天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;村口槐树上的白花挂了一串串，葡萄一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人挎着一只小小的竹篮，在树下仰头往上看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;春天是吃槐花的时节，还有榆钱。不过榆钱太糙，比起来，还是槐花比较可口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摘的时候，要那种没有全开的，刚刚含苞的花骨朵，一串串摘下来，单单把花儿捋下来……',
  'chapters' => '319',
  'size' => '2020204',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885463',
  'dayvisit' => '13',
  'weekvisit' => '78',
  'monthvisit' => '208',
  'allvisit' => '157591',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1140',
  'goodnum' => '6',
  'reviewsnum' => '0',
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468822161',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '2020204',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '314',
  'vippubid' => '0',
  'vipchapters' => '299',
  'vipsize' => '1891341',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '68378',
  'vipchapter' => '第三百一十八章 雪巅',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;对于王源来说，或许人生之中，再没有比这更黑暗的一天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直奉为至亲的舅舅，在关键时候选择牺牲她，而她一直深爱着的人，也在这一刻抛弃了她，她躺在冰冷的岩洞之中，万籁俱寂，心里不知道在想着什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我和小白追着马老头和程疯子，路过了她的身边，当时她连看都没看我们一下，或许，她已经不想再对这个世界有任何的回应了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时我看着她，心里不觉是有些同情她，然后让我没想到的是，这个时候，小白却是停了下来，然后低头轻轻地舔着王源的伤口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见到这个状况，我不觉是心里一沉，心说莫不是……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 1010102,
  'size_k' => 1011,
  'size_w' => 101,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/574/574s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/574.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=574&cid=68079',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=314&cid=68378',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=574',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=574',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=574',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6659.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%B0%C9%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%E7%D2%B9%C3%FE%B9%ED%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F574.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
