array (
  'meta_keywords' => '刀殇 风中旧衣 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=586&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=586&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=586&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=586&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '586',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468818781',
    'lastupdate' => '1468819071',
    'articlename' => '刀殇',
    'articlecode' => 'daoshang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '0',
    'author' => '风中旧衣',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;一个人，一把刀，杀出一个精彩的江湖，也杀出了一个寂寞的人生。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;江湖易老，人会老，刀也会殇，不老的只有那一刀刻下的江湖传说，还有那一个在夕阳下渐行渐远的孤独背影。。。。。。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '71653',
    'lastvolume' => '第一卷',
    'lastchapterid' => '71219',
    'lastchapter' => '第三十章 地下部落',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;前面不远应该就是沙漠的边缘，自己终于穿越了大漠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石兴奋的挥舞着手中的残月刀，一路飞速的奔跑着，越跑越矮，等他发觉不对时，他已跑到了地底下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙漠上冒起一缕黄沙，沈落石已坠入了沙漠中，留下的洞很快就被流沙填平。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大漠依然一片平坦，一片平静而就在片刻之前有个人却突然从沙漠之间突然消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石艰难的睁开迷了沙尘的双眼，抖落身上，脸上的沙尘，却被眼前的景象彻底惊呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一盏巨大的油灯照耀下，几十个透明的人以同样惊异的眼神看着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几十个透明的男人，女人，……',
    'chapters' => '467',
    'size' => '2401280',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479134865',
    'dayvisit' => '65',
    'weekvisit' => '65',
    'monthvisit' => '962',
    'allvisit' => '166510',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '13',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 10,
    'ratesum' => 100,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468819383',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1468819071',
    'freesize' => '2401280',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '325',
    'vippubid' => '0',
    'vipchapters' => '433',
    'vipsize' => '2249341',
    'vipvolumeid' => '71656',
    'vipvolume' => '第四卷',
    'vipchapterid' => '71652',
    'vipchapter' => '第四十四章 江湖至尊',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一壶至浓至烈的好酒下肚，意犹未尽的沈落石立刻呼喝外面的狱卒上酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个身在监狱的囚犯，派头比衙门的老爷都大，几名看守的狱卒虽然心里不满，嘴里相互嘟囔着：他娘的，深更半夜喝个鸟酒？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石晚饭时刚喝了两大坛，现在被这位京城来的九爷一勾引，又叫嚷着喝酒。搅得这些狱卒不得安宁，他们自然也会抱怨一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘴里抱怨，脚下却不敢怠慢，急匆匆的去酒库拿酒过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们都知道这家伙来头大，连中原总捕张头看到他都恭恭敬敬，里面陪他这个老头，据说也是京城来得大人物，比张武还大的大人物。<br />
……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 1200640,
    'size_k' => 1201,
    'size_w' => 120.1,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/586.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586&cid=71219',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=325&cid=71652',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=586',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=586',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=586',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%D6%D0%BE%C9%D2%C2',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%D6%D0%BE%C9%D2%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%B6%E9%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F586.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '586',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468818781',
  'lastupdate' => '1468819071',
  'articlename' => '刀殇',
  'articlecode' => 'daoshang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '0',
  'author' => '风中旧衣',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;一个人，一把刀，杀出一个精彩的江湖，也杀出了一个寂寞的人生。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;江湖易老，人会老，刀也会殇，不老的只有那一刀刻下的江湖传说，还有那一个在夕阳下渐行渐远的孤独背影。。。。。。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '71653',
  'lastvolume' => '第一卷',
  'lastchapterid' => '71219',
  'lastchapter' => '第三十章 地下部落',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;前面不远应该就是沙漠的边缘，自己终于穿越了大漠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石兴奋的挥舞着手中的残月刀，一路飞速的奔跑着，越跑越矮，等他发觉不对时，他已跑到了地底下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙漠上冒起一缕黄沙，沈落石已坠入了沙漠中，留下的洞很快就被流沙填平。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大漠依然一片平坦，一片平静而就在片刻之前有个人却突然从沙漠之间突然消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石艰难的睁开迷了沙尘的双眼，抖落身上，脸上的沙尘，却被眼前的景象彻底惊呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一盏巨大的油灯照耀下，几十个透明的人以同样惊异的眼神看着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几十个透明的男人，女人，……',
  'chapters' => '467',
  'size' => '2401280',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479134865',
  'dayvisit' => '65',
  'weekvisit' => '65',
  'monthvisit' => '962',
  'allvisit' => '166510',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '13',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 10,
  'ratesum' => 100,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468819383',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1468819071',
  'freesize' => '2401280',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '325',
  'vippubid' => '0',
  'vipchapters' => '433',
  'vipsize' => '2249341',
  'vipvolumeid' => '71656',
  'vipvolume' => '第四卷',
  'vipchapterid' => '71652',
  'vipchapter' => '第四十四章 江湖至尊',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一壶至浓至烈的好酒下肚，意犹未尽的沈落石立刻呼喝外面的狱卒上酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个身在监狱的囚犯，派头比衙门的老爷都大，几名看守的狱卒虽然心里不满，嘴里相互嘟囔着：他娘的，深更半夜喝个鸟酒？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈落石晚饭时刚喝了两大坛，现在被这位京城来的九爷一勾引，又叫嚷着喝酒。搅得这些狱卒不得安宁，他们自然也会抱怨一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘴里抱怨，脚下却不敢怠慢，急匆匆的去酒库拿酒过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们都知道这家伙来头大，连中原总捕张头看到他都恭恭敬敬，里面陪他这个老头，据说也是京城来得大人物，比张武还大的大人物。<br />
……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 1200640,
  'size_k' => 1201,
  'size_w' => 120.1,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/586/586s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/586.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=586&cid=71219',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=325&cid=71652',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=586',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=586',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=586',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%D6%D0%BE%C9%D2%C2',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B7%E7%D6%D0%BE%C9%D2%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%B6%E9%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F586.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
