array (
  'meta_keywords' => '生死追踪 王鲁晋 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=589&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=589&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=589&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=589&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '589',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468821135',
    'lastupdate' => '1468821135',
    'articlename' => '生死追踪',
    'articlecode' => 'shengsizhuizong',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '王鲁晋',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '5',
    'typeid' => '24',
    'libid' => '0',
    'intro' => '廖小凯和朱丽英是警察学院的同学，他们暗暗地相恋着，毕业后被分配到两个地方，就在他们举行婚礼的前夜，廖小凯突然音讯皆无失踪了。廖小凯活不见人死不见尸，就这样廖小凯在人间蒸发了。<br />
原来廖小凯接到了一个手机，有人想约他在石桥上见面时将他推下了石桥，想将他淹死。掉下河的廖小凯，被水冲到了下游的一个山村里，被这里的一个毒贩子救起，廖小凯的头被碰撞到石头上失去了记忆。毒贩子靠着廖小凯的搏击打斗把原来的贩毒团伙吞并，他成为老大，开始了更为猖狂的贩毒。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '71748',
    'lastchapter' => '第16章 被囚看守所',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赵志明被关进了看守所。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从他一踏进看守所的大门，便对自己的处境做了一个全面的分析。董素娟虽然还活着，但她的名字已改为她妹妹的名字，他杀人犯的罪名还是成立的，他还是属于那种被通缉的罪犯，在这里还有一个月的关押时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;法院一旦判决下来，他肯定是死罪。“不，不能这样坐以待毙，必须逃出去，找到廖小凯，为自己平反昭雪。”因而，他对这个看守所观察的特别仔细。希望能有机会逃出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个看守所并不大，中间的院子有四个篮球场那么大，除了正面的大房子里面套着十几间小房子之外，院内还有十几间……',
    'chapters' => '129',
    'size' => '894491',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478618112',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '78',
    'allvisit' => '50880',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '56',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468821207',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '894491',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '327',
    'vippubid' => '0',
    'vipchapters' => '117',
    'vipsize' => '795140',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '71865',
    'vipchapter' => '第141章 密集令招来一窝端大结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;月亮湾大酒店，李少敏带了摄像机来找李明，李明听说有情况，马上放下手中的一本武打小说，随着李少敏来到了黄队长开的房间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李明上前推了推房门，推不动，房间里面上了锁。李明摆了摆手，他们原路退了回来。李少敏来到服务台，询问服务员：“404房间有没有人住？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员是个年轻的少妇，正在手机上打游戏，见是舞厅的总管和质检科的男人相随着问房间，淫邪的目光向他们扫了一眼，心想：一男一女开房，准时干那事，那女的水灵灵的一方好地，那男的粗壮结实如狼似虎，干柴碰上了烈火，看他们那着急样。便不由的产生……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 447246,
    'size_k' => 448,
    'size_w' => 44.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/589.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589&cid=71748',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=327&cid=71865',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=589',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=589',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=589',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%F5%C2%B3%BD%FA',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%F5%C2%B3%BD%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FA%CB%C0%D7%B7%D7%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F589.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '589',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468821135',
  'lastupdate' => '1468821135',
  'articlename' => '生死追踪',
  'articlecode' => 'shengsizhuizong',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '王鲁晋',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '5',
  'typeid' => '24',
  'libid' => '0',
  'intro' => '廖小凯和朱丽英是警察学院的同学，他们暗暗地相恋着，毕业后被分配到两个地方，就在他们举行婚礼的前夜，廖小凯突然音讯皆无失踪了。廖小凯活不见人死不见尸，就这样廖小凯在人间蒸发了。<br />
原来廖小凯接到了一个手机，有人想约他在石桥上见面时将他推下了石桥，想将他淹死。掉下河的廖小凯，被水冲到了下游的一个山村里，被这里的一个毒贩子救起，廖小凯的头被碰撞到石头上失去了记忆。毒贩子靠着廖小凯的搏击打斗把原来的贩毒团伙吞并，他成为老大，开始了更为猖狂的贩毒。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '71748',
  'lastchapter' => '第16章 被囚看守所',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;赵志明被关进了看守所。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从他一踏进看守所的大门，便对自己的处境做了一个全面的分析。董素娟虽然还活着，但她的名字已改为她妹妹的名字，他杀人犯的罪名还是成立的，他还是属于那种被通缉的罪犯，在这里还有一个月的关押时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;法院一旦判决下来，他肯定是死罪。“不，不能这样坐以待毙，必须逃出去，找到廖小凯，为自己平反昭雪。”因而，他对这个看守所观察的特别仔细。希望能有机会逃出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个看守所并不大，中间的院子有四个篮球场那么大，除了正面的大房子里面套着十几间小房子之外，院内还有十几间……',
  'chapters' => '129',
  'size' => '894491',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478618112',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '78',
  'allvisit' => '50880',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '56',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468821207',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '894491',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '327',
  'vippubid' => '0',
  'vipchapters' => '117',
  'vipsize' => '795140',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '71865',
  'vipchapter' => '第141章 密集令招来一窝端大结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;月亮湾大酒店，李少敏带了摄像机来找李明，李明听说有情况，马上放下手中的一本武打小说，随着李少敏来到了黄队长开的房间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李明上前推了推房门，推不动，房间里面上了锁。李明摆了摆手，他们原路退了回来。李少敏来到服务台，询问服务员：“404房间有没有人住？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员是个年轻的少妇，正在手机上打游戏，见是舞厅的总管和质检科的男人相随着问房间，淫邪的目光向他们扫了一眼，心想：一男一女开房，准时干那事，那女的水灵灵的一方好地，那男的粗壮结实如狼似虎，干柴碰上了烈火，看他们那着急样。便不由的产生……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 447246,
  'size_k' => 448,
  'size_w' => 44.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/589/589s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/589.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=589&cid=71748',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=327&cid=71865',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=589',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=589',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=589',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%F5%C2%B3%BD%FA',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CD%F5%C2%B3%BD%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FA%CB%C0%D7%B7%D7%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F589.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
