array (
  'meta_keywords' => '让我怎么不悲伤 胡伟红 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=598&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=598&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=598&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=598&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '598',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468838443',
    'lastupdate' => '1468838873',
    'articlename' => '让我怎么不悲伤',
    'articlecode' => 'rangwozenmebubeishang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'R',
    'authorid' => '0',
    'author' => '胡伟红',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '　&nbsp;&nbsp; 有一天，痣说：你要幸福。于是，在桃子的生命中出现了一位骑着机车的王子，他们一起住进了一座廉价却温暖的城堡。<br />
　　有一天，痣说：你会辛苦。于是，桃子穿上水晶鞋变成了真正的公主，可接踵而至的是冷漠的猜忌、伤人的背叛，以及费解的谜团……在桃子的面前出现了一张越收越紧的网，被困在网中的不光是友情和亲情，更有一份桃子宁可用生命去交换的王子的爱。',
    'notice' => '胡伟红，《小小姐》独家签约作者，精明干练的双子座御姐，小MM目前唯一的BOSS级作家，也是小MM史上最能拖稿的作家（四年磨一书，因此获赠昵称“蜗牛红”）。目前正努力码字，希望早日摘掉“蜗牛”的大帽子。精明干练，却藏着一颗向往自由的少女心，笔下的主角们具有千般个性，却都聪慧坚强，是所有成长期女孩都需要的“勇气补充剂”。已出版作品：《迷藏·海之迷雾》《迷藏II·月影迷踪》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72059',
    'lastchapter' => '第一章 带我走',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我是谁猜不到的不知所措，谁又是我想不到的无关痛痒。亲爱的，我们都怎么了？那一场与时光的奋勇交错，究竟是谁输得一败涂地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很多年之后那场车祸在桃子的记忆中已经变得很模糊了。除了她在医院躺了整整一个月之外，司机和老师并没有受伤。警方也没有找到当时那辆拼命追赶撞击他们的车，那辆车就像人间蒸发了一样没有了踪影。不知道肇事的人是无心的还是有意的，总之那次的事件就像个迷团，直到现在也没有解开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃子躺在沙发上向安哲一讲述这些的时候，仿佛一切跟自己都没有关系，口气轻松得出奇。如果不是安哲一……',
    'chapters' => '12',
    'size' => '243134',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885625',
    'dayvisit' => '13',
    'weekvisit' => '52',
    'monthvisit' => '208',
    'allvisit' => '10156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468838558',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1468838873',
    'freesize' => '243134',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '335',
    'vippubid' => '0',
    'vipchapters' => '10',
    'vipsize' => '222516',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72069',
    'vipchapter' => '第十章 (2)',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;，眉头深锁了起来。显然他对宁浩也有很深的印象。只是上次的打架事件之后，他们还没有机会再见面。没想到眼下会以这种方式见到他，以至于连展千羽的表情都有些惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要去看看。”桃子顾不上之前发生的事情，匆匆对展千羽打了一声招呼，转身追上那群簇拥着宁浩奔向手术室的护士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好不容易她在手术室门口拦下了一名护士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不好意思，我是他的朋友。请问他出了什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你真是他的朋友？”护士小姐面露喜色，“太好了！我们正急着联系他的家人。可是他的手机摔坏了，现在根本没有办法开机。……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 121567,
    'size_k' => 122,
    'size_w' => 12.2,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/598.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598&cid=72059',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=335&cid=72069',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=598',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=598',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=598',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%C3%CE%D2%D4%F5%C3%B4%B2%BB%B1%AF%C9%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F598.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '598',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468838443',
  'lastupdate' => '1468838873',
  'articlename' => '让我怎么不悲伤',
  'articlecode' => 'rangwozenmebubeishang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'R',
  'authorid' => '0',
  'author' => '胡伟红',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '　&nbsp;&nbsp; 有一天，痣说：你要幸福。于是，在桃子的生命中出现了一位骑着机车的王子，他们一起住进了一座廉价却温暖的城堡。<br />
　　有一天，痣说：你会辛苦。于是，桃子穿上水晶鞋变成了真正的公主，可接踵而至的是冷漠的猜忌、伤人的背叛，以及费解的谜团……在桃子的面前出现了一张越收越紧的网，被困在网中的不光是友情和亲情，更有一份桃子宁可用生命去交换的王子的爱。',
  'notice' => '胡伟红，《小小姐》独家签约作者，精明干练的双子座御姐，小MM目前唯一的BOSS级作家，也是小MM史上最能拖稿的作家（四年磨一书，因此获赠昵称“蜗牛红”）。目前正努力码字，希望早日摘掉“蜗牛”的大帽子。精明干练，却藏着一颗向往自由的少女心，笔下的主角们具有千般个性，却都聪慧坚强，是所有成长期女孩都需要的“勇气补充剂”。已出版作品：《迷藏·海之迷雾》《迷藏II·月影迷踪》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72059',
  'lastchapter' => '第一章 带我走',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我是谁猜不到的不知所措，谁又是我想不到的无关痛痒。亲爱的，我们都怎么了？那一场与时光的奋勇交错，究竟是谁输得一败涂地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很多年之后那场车祸在桃子的记忆中已经变得很模糊了。除了她在医院躺了整整一个月之外，司机和老师并没有受伤。警方也没有找到当时那辆拼命追赶撞击他们的车，那辆车就像人间蒸发了一样没有了踪影。不知道肇事的人是无心的还是有意的，总之那次的事件就像个迷团，直到现在也没有解开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃子躺在沙发上向安哲一讲述这些的时候，仿佛一切跟自己都没有关系，口气轻松得出奇。如果不是安哲一……',
  'chapters' => '12',
  'size' => '243134',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885625',
  'dayvisit' => '13',
  'weekvisit' => '52',
  'monthvisit' => '208',
  'allvisit' => '10156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468838558',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1468838873',
  'freesize' => '243134',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '335',
  'vippubid' => '0',
  'vipchapters' => '10',
  'vipsize' => '222516',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72069',
  'vipchapter' => '第十章 (2)',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;，眉头深锁了起来。显然他对宁浩也有很深的印象。只是上次的打架事件之后，他们还没有机会再见面。没想到眼下会以这种方式见到他，以至于连展千羽的表情都有些惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要去看看。”桃子顾不上之前发生的事情，匆匆对展千羽打了一声招呼，转身追上那群簇拥着宁浩奔向手术室的护士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好不容易她在手术室门口拦下了一名护士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不好意思，我是他的朋友。请问他出了什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你真是他的朋友？”护士小姐面露喜色，“太好了！我们正急着联系他的家人。可是他的手机摔坏了，现在根本没有办法开机。……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 121567,
  'size_k' => 122,
  'size_w' => 12.2,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/598/598s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/598.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=598&cid=72059',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=335&cid=72069',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=598',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=598',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=598',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%C3%CE%D2%D4%F5%C3%B4%B2%BB%B1%AF%C9%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F598.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
