array (
  'meta_keywords' => '悲伤从你的名字开始 青颜如风 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=599&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=599&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=599&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=599&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '599',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468839278',
    'lastupdate' => '1468839278',
    'articlename' => '悲伤从你的名字开始',
    'articlecode' => 'beishangcongnidemingzikaishi',
    'backupname' => '',
    'keywords' => '刻骨铭心 青春爱情 野草少女 冷漠少年',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '6645',
    'author' => '青颜如风',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '十四岁时，薄砂亲眼目睹母亲与暗恋的老师偷情，父亲带着小三提出离婚。野草般桀骜清冽的女孩，深爱着纯白少年林北风，却误使另一少年程飒南双目失明。<br />
家庭动荡。林北风和青梅竹马的女孩叶未央在一起。伤心绝望的薄砂离开南方小镇，祸不单行，她遭遇了母亲的去世。<br />
多重打击让她心如死灰，她恨父亲的薄情寡义，也恨那个女人的横刀夺爱，甚至恨林北风对她的冷漠。<br />
她发誓，只要她变得坚强，就可以让那些破坏她幸福的人偿还一切！<br />
可一次次的报复却没有让她有丝毫的快乐……一次偶然的机会，她与牵绊一生的少年重逢，一切已物是人非，就连当初的好友，也让她陌生……<br />
唯一不变的是，她一直深爱的那个人，永远不爱她。<br />
青春时光如在凛冽的刀锋上划过，单薄的少女，却如砂石般坚硬……<br />
最终，她能抓住那一丝微弱地、却深刺她内心的薄风吗？',
    'notice' => '青颜如风，原名卢姣姣，85后双子座女。<br />
热爱世间繁美，笃信最深的黑暗里，会遇见最美的奇迹。<br />
已出版长篇青春小说《似你姗姗来》《凉城》《悲伤从你的名字开始》《只是远方没有你》，现供职于某媒体。<br />
',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72076',
    'lastchapter' => '第五章 破碎的梦难寻觅',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;六月中旬的一个下午，天气奇热。白花花的太阳挂在半空中，校园里的花花草草也被晒得毫无生机地耷拉着枝叶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;教室里的空气热而闷，吊扇在白色的天花板上吱呀呀地转着，像唱着一首老掉牙的歌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;数学老师在黑板上讲着“考前辅导100例”，同桌小暖用书盖着脸睡得香梦沉酣，口水顺着桌子蜿蜒地竟然打湿了我的作业本。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我的脑袋也是浆糊一般晕乎着，就在这时，后背像被人用针尖扎了两下，我低呼一声脑袋瞬时清醒。一心怒火地回过头，只见程飒南那小子正晃着一只圆规朝我眨着眼坏笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知出于什么原因，这个……',
    'chapters' => '39',
    'size' => '290700',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478847000',
    'dayvisit' => 0,
    'weekvisit' => '39',
    'monthvisit' => '169',
    'allvisit' => '16583',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468839290',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '290700',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '336',
    'vippubid' => '0',
    'vipchapters' => '34',
    'vipsize' => '268411',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72110',
    'vipchapter' => '第四十章 你是我心口的风',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;爱情总归是要失败的，不是败于难成眷属的无奈，就是败于总成眷属的厌倦。这是我在温哥华认识的一位姐姐的名言。她也是中国人，开着一家中餐馆，来温哥华八年，感情上一路坎坷，生活上独当一面。我在她的餐馆打过很长一段时间工，可以说，最困难的时候，她让我这个要姿色没姿色要文凭没文凭英语又说不好的女孩在异国他乡活了下去，至少解决了温饱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她自封“师太”，因为有过一段不成功的异国恋情。所以，对我和德国男人安东尼的前途，她一直不看好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但我还是选择嫁给了那个男人。一个人的漂泊实在太难，打工很累我……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 145350,
    'size_k' => 146,
    'size_w' => 14.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/599.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599&cid=72076',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=336&cid=72110',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=599',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=599',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=599',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6645.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E0%D1%D5%C8%E7%B7%E7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%AF%C9%CB%B4%D3%C4%E3%B5%C4%C3%FB%D7%D6%BF%AA%CA%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F599.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '599',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468839278',
  'lastupdate' => '1468839278',
  'articlename' => '悲伤从你的名字开始',
  'articlecode' => 'beishangcongnidemingzikaishi',
  'backupname' => '',
  'keywords' => '刻骨铭心 青春爱情 野草少女 冷漠少年',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '6645',
  'author' => '青颜如风',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '十四岁时，薄砂亲眼目睹母亲与暗恋的老师偷情，父亲带着小三提出离婚。野草般桀骜清冽的女孩，深爱着纯白少年林北风，却误使另一少年程飒南双目失明。<br />
家庭动荡。林北风和青梅竹马的女孩叶未央在一起。伤心绝望的薄砂离开南方小镇，祸不单行，她遭遇了母亲的去世。<br />
多重打击让她心如死灰，她恨父亲的薄情寡义，也恨那个女人的横刀夺爱，甚至恨林北风对她的冷漠。<br />
她发誓，只要她变得坚强，就可以让那些破坏她幸福的人偿还一切！<br />
可一次次的报复却没有让她有丝毫的快乐……一次偶然的机会，她与牵绊一生的少年重逢，一切已物是人非，就连当初的好友，也让她陌生……<br />
唯一不变的是，她一直深爱的那个人，永远不爱她。<br />
青春时光如在凛冽的刀锋上划过，单薄的少女，却如砂石般坚硬……<br />
最终，她能抓住那一丝微弱地、却深刺她内心的薄风吗？',
  'notice' => '青颜如风，原名卢姣姣，85后双子座女。<br />
热爱世间繁美，笃信最深的黑暗里，会遇见最美的奇迹。<br />
已出版长篇青春小说《似你姗姗来》《凉城》《悲伤从你的名字开始》《只是远方没有你》，现供职于某媒体。<br />
',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72076',
  'lastchapter' => '第五章 破碎的梦难寻觅',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;六月中旬的一个下午，天气奇热。白花花的太阳挂在半空中，校园里的花花草草也被晒得毫无生机地耷拉着枝叶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;教室里的空气热而闷，吊扇在白色的天花板上吱呀呀地转着，像唱着一首老掉牙的歌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;数学老师在黑板上讲着“考前辅导100例”，同桌小暖用书盖着脸睡得香梦沉酣，口水顺着桌子蜿蜒地竟然打湿了我的作业本。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我的脑袋也是浆糊一般晕乎着，就在这时，后背像被人用针尖扎了两下，我低呼一声脑袋瞬时清醒。一心怒火地回过头，只见程飒南那小子正晃着一只圆规朝我眨着眼坏笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知出于什么原因，这个……',
  'chapters' => '39',
  'size' => '290700',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478847000',
  'dayvisit' => 0,
  'weekvisit' => '39',
  'monthvisit' => '169',
  'allvisit' => '16583',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468839290',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '290700',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '336',
  'vippubid' => '0',
  'vipchapters' => '34',
  'vipsize' => '268411',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72110',
  'vipchapter' => '第四十章 你是我心口的风',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;爱情总归是要失败的，不是败于难成眷属的无奈，就是败于总成眷属的厌倦。这是我在温哥华认识的一位姐姐的名言。她也是中国人，开着一家中餐馆，来温哥华八年，感情上一路坎坷，生活上独当一面。我在她的餐馆打过很长一段时间工，可以说，最困难的时候，她让我这个要姿色没姿色要文凭没文凭英语又说不好的女孩在异国他乡活了下去，至少解决了温饱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她自封“师太”，因为有过一段不成功的异国恋情。所以，对我和德国男人安东尼的前途，她一直不看好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但我还是选择嫁给了那个男人。一个人的漂泊实在太难，打工很累我……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 145350,
  'size_k' => 146,
  'size_w' => 14.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/599/599s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/599.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=599&cid=72076',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=336&cid=72110',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=599',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=599',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=599',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6645.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E0%D1%D5%C8%E7%B7%E7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%AF%C9%CB%B4%D3%C4%E3%B5%C4%C3%FB%D7%D6%BF%AA%CA%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F599.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '刻骨铭心',
      'tagencode' => '%BF%CC%B9%C7%C3%FA%D0%C4',
    ),
    1 => 
    array (
      'tagname' => '青春爱情',
      'tagencode' => '%C7%E0%B4%BA%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '野草少女',
      'tagencode' => '%D2%B0%B2%DD%C9%D9%C5%AE',
    ),
    3 => 
    array (
      'tagname' => '冷漠少年',
      'tagencode' => '%C0%E4%C4%AE%C9%D9%C4%EA',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
