array (
  'meta_keywords' => '重生之妖孽大亨 龙皇 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=6&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=6&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=6&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=6&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '6',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447067312',
    'lastupdate' => '1448681890',
    'articlename' => '重生之妖孽大亨',
    'articlecode' => 'zhongshengzhiyaoniedaheng',
    'backupname' => '重生之妖孽大亨',
    'keywords' => '重生',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '10',
    'author' => '龙皇',
    'posterid' => '10',
    'poster' => '龙皇',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '3',
    'typeid' => '15',
    'libid' => '0',
    'intro' => '主角罗立生活在一个21世纪的一个小山村，不幸被镇上的流氓打死，后被丢在崂山的深潭里，在被金龙精魄俯身后，主角重新获得了生命，并意外获得变身技能！且在修炼能提升内力的《龙元神功》后，感知远超于常人，并能随意改变自己的容貌。他从此开始了一段积累巨额财富，泡尽天下美女的路途！',
    'notice' => '主角罗立生活在一个21世纪的一个小山村，不幸被镇上的流氓打死，后被丢在崂山的深潭里，在被金龙精魄俯身后，主角重新获得了生命，并意外获得变身技能！且在修炼能提升内力的《龙元神功》后，感知远超于常人，并能随意改变自己的容貌。他从此开始了一段积累巨额财富，泡尽天下美女的路途！ 求收藏，求打赏，求评论！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '635',
    'lastchapter' => '第八章&nbsp;&nbsp;诡秘蒲团',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;烈日当头，清澜镇晴空万里，崂山之巅，一老一少俯瞰着苍茫大地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古青肃立良久，忽然双目渐如火炬，在罗立那惊异的目光中，身影渐渐的发生着变化，鳞甲如波涛般覆盖住了他的全身，一股神圣的气息弥散开来，山中的野兽像是受到召唤般，喉咙中发出怪异的嘶吼，只听古青发出一声霸气十足的嚎叫之声，整座山林再一次归于平静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗立彻底被眼前的景象惊呆了，古青竟如传说中的麒麟一般，庄严肃穆的傲立在半空，神光展现，万物膜拜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“孩子，别怕”，古青低下高傲的头颅，道：“我族族长前日夜观星象，发现崂山之地..',
    'chapters' => '8',
    'size' => '15044',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478634830',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '7274',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '4',
    'goodnum' => '6',
    'reviewsnum' => '1',
    'ratenum' => 2,
    'ratesum' => 18,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '1448964062',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1448681890',
    'freesize' => '15044',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市重生',
    'typename' => '都市重生',
    'size_c' => 7522,
    'size_k' => 8,
    'size_w' => 0.8,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/6.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6&cid=635',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=6',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=6',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=6',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/10.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%BB%CA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D1%FD%C4%F5%B4%F3%BA%E0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F6.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '6',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447067312',
  'lastupdate' => '1448681890',
  'articlename' => '重生之妖孽大亨',
  'articlecode' => 'zhongshengzhiyaoniedaheng',
  'backupname' => '重生之妖孽大亨',
  'keywords' => '重生',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '10',
  'author' => '龙皇',
  'posterid' => '10',
  'poster' => '龙皇',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '3',
  'typeid' => '15',
  'libid' => '0',
  'intro' => '主角罗立生活在一个21世纪的一个小山村，不幸被镇上的流氓打死，后被丢在崂山的深潭里，在被金龙精魄俯身后，主角重新获得了生命，并意外获得变身技能！且在修炼能提升内力的《龙元神功》后，感知远超于常人，并能随意改变自己的容貌。他从此开始了一段积累巨额财富，泡尽天下美女的路途！',
  'notice' => '主角罗立生活在一个21世纪的一个小山村，不幸被镇上的流氓打死，后被丢在崂山的深潭里，在被金龙精魄俯身后，主角重新获得了生命，并意外获得变身技能！且在修炼能提升内力的《龙元神功》后，感知远超于常人，并能随意改变自己的容貌。他从此开始了一段积累巨额财富，泡尽天下美女的路途！ 求收藏，求打赏，求评论！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '635',
  'lastchapter' => '第八章&nbsp;&nbsp;诡秘蒲团',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;烈日当头，清澜镇晴空万里，崂山之巅，一老一少俯瞰着苍茫大地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古青肃立良久，忽然双目渐如火炬，在罗立那惊异的目光中，身影渐渐的发生着变化，鳞甲如波涛般覆盖住了他的全身，一股神圣的气息弥散开来，山中的野兽像是受到召唤般，喉咙中发出怪异的嘶吼，只听古青发出一声霸气十足的嚎叫之声，整座山林再一次归于平静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗立彻底被眼前的景象惊呆了，古青竟如传说中的麒麟一般，庄严肃穆的傲立在半空，神光展现，万物膜拜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“孩子，别怕”，古青低下高傲的头颅，道：“我族族长前日夜观星象，发现崂山之地..',
  'chapters' => '8',
  'size' => '15044',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478634830',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '7274',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '4',
  'goodnum' => '6',
  'reviewsnum' => '1',
  'ratenum' => 2,
  'ratesum' => 18,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '1448964062',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1448681890',
  'freesize' => '15044',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市重生',
  'typename' => '都市重生',
  'size_c' => 7522,
  'size_k' => 8,
  'size_w' => 0.8,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/6/6s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/6.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=6&cid=635',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=6',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=6',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=6',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/10.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%FA%BB%CA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D1%FD%C4%F5%B4%F3%BA%E0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F6.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
