array (
  'meta_keywords' => '上古的使命 胡伟红 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=600&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=600&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=600&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=600&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '600',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468839540',
    'lastupdate' => '1468839540',
    'articlename' => '上古的使命',
    'articlecode' => 'shanggudeshiming',
    'backupname' => '',
    'keywords' => '上古 使命',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '胡伟红',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '这究竟是怎么回事？接到一通神秘的电话，居然就会目睹凶杀现场？明明是一条普通的项链，为什么怎么丢都丢不掉？不管这些神秘古怪的事情是专门找上我，还是我倒霉被我碰上了，管他呢！不理他们就好了！可是那个叫司徒芷的女孩儿似乎很不愿意我这样做，难道只因为不想看到她失望的表情，就要我继续探究这些神秘事件吗？',
    'notice' => '胡伟红，《小小姐》独家签约作者，精明干练的双子座御姐，小MM目前唯一的BOSS级作家，也是小MM史上最能拖稿的作家（四年磨一书，因此获赠昵称“蜗牛红”）。目前正努力码字，希望早日摘掉“蜗牛”的大帽子。精明干练，却藏着一颗向往自由的少女心，笔下的主角们具有千般个性，却都聪慧坚强，是所有成长期女孩都需要的“勇气补充剂”。已出版作品：《迷藏·海之迷雾》《迷藏II·月影迷踪》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72111',
    'lastchapter' => '第一章 诡异的礼物 An eerie gift',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;池虞直勾勾地盯着面前那具尸体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那是一个身穿正式的AMANI三件套西装的男人，笔直地坐在洗手间小隔间的抽水马桶上面，一双死鱼般的眼睛睁得大大的，紧咬着牙关，脸上的血管似乎都要从皮肤下面暴出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七道细细的红线，从他的双眼、鼻孔、唇角及耳朵里流下来，将他白色的衬衫领子染成一片鲜红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞下意识地后退了一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他撞上了站在他身后的保安队长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“马上打电话报警！”保安队长顾不上池虞，声色俱厉地向一旁的部下喝令道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞用力地握紧了拳头，他想抓住点儿什么，不然他觉得自..',
    'chapters' => '10',
    'size' => '261794',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479075636',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '481',
    'allvisit' => '15653',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468839608',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '261794',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '398',
    'vippubid' => '0',
    'vipchapters' => '9',
    'vipsize' => '241997',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72120',
    'vipchapter' => '第十章 真相背后',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;池虞和司徒芷坐上南下的火车，离开F大所在的W市的时候，池虞看了看车窗外飞快倒退的景色，悄声地自言自语了一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实那是一句诗：“故人西辞黄鹤楼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是很应景，只是似乎不大吉利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒芷这样想着，在时速三百五十公里的列车上，她有点儿眩晕的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞看着司徒芷合上眼睛靠在椅背上，长长的睫毛忽闪着，眼睑微微跳动，似乎不是很舒服的样子。他从自己的旅行包里掏出一瓶可乐，轻轻碰了碰司徒芷的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒芷微微张开眼睛，看到自己熟悉的百事标志，笑了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么知……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 130897,
    'size_k' => 131,
    'size_w' => 13.1,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/600.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600&cid=72111',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=398&cid=72120',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=600',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=600',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=600',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%CF%B9%C5%B5%C4%CA%B9%C3%FC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F600.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '600',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468839540',
  'lastupdate' => '1468839540',
  'articlename' => '上古的使命',
  'articlecode' => 'shanggudeshiming',
  'backupname' => '',
  'keywords' => '上古 使命',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '胡伟红',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '这究竟是怎么回事？接到一通神秘的电话，居然就会目睹凶杀现场？明明是一条普通的项链，为什么怎么丢都丢不掉？不管这些神秘古怪的事情是专门找上我，还是我倒霉被我碰上了，管他呢！不理他们就好了！可是那个叫司徒芷的女孩儿似乎很不愿意我这样做，难道只因为不想看到她失望的表情，就要我继续探究这些神秘事件吗？',
  'notice' => '胡伟红，《小小姐》独家签约作者，精明干练的双子座御姐，小MM目前唯一的BOSS级作家，也是小MM史上最能拖稿的作家（四年磨一书，因此获赠昵称“蜗牛红”）。目前正努力码字，希望早日摘掉“蜗牛”的大帽子。精明干练，却藏着一颗向往自由的少女心，笔下的主角们具有千般个性，却都聪慧坚强，是所有成长期女孩都需要的“勇气补充剂”。已出版作品：《迷藏·海之迷雾》《迷藏II·月影迷踪》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72111',
  'lastchapter' => '第一章 诡异的礼物 An eerie gift',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;池虞直勾勾地盯着面前那具尸体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那是一个身穿正式的AMANI三件套西装的男人，笔直地坐在洗手间小隔间的抽水马桶上面，一双死鱼般的眼睛睁得大大的，紧咬着牙关，脸上的血管似乎都要从皮肤下面暴出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七道细细的红线，从他的双眼、鼻孔、唇角及耳朵里流下来，将他白色的衬衫领子染成一片鲜红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞下意识地后退了一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他撞上了站在他身后的保安队长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“马上打电话报警！”保安队长顾不上池虞，声色俱厉地向一旁的部下喝令道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞用力地握紧了拳头，他想抓住点儿什么，不然他觉得自..',
  'chapters' => '10',
  'size' => '261794',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479075636',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '481',
  'allvisit' => '15653',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468839608',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '261794',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '398',
  'vippubid' => '0',
  'vipchapters' => '9',
  'vipsize' => '241997',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72120',
  'vipchapter' => '第十章 真相背后',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;池虞和司徒芷坐上南下的火车，离开F大所在的W市的时候，池虞看了看车窗外飞快倒退的景色，悄声地自言自语了一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实那是一句诗：“故人西辞黄鹤楼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是很应景，只是似乎不大吉利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒芷这样想着，在时速三百五十公里的列车上，她有点儿眩晕的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;池虞看着司徒芷合上眼睛靠在椅背上，长长的睫毛忽闪着，眼睑微微跳动，似乎不是很舒服的样子。他从自己的旅行包里掏出一瓶可乐，轻轻碰了碰司徒芷的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒芷微微张开眼睛，看到自己熟悉的百事标志，笑了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么知……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 130897,
  'size_k' => 131,
  'size_w' => 13.1,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/600/600s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/600.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=600&cid=72111',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=398&cid=72120',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=600',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=600',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=600',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%CF%B9%C5%B5%C4%CA%B9%C3%FC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F600.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '上古',
      'tagencode' => '%C9%CF%B9%C5',
    ),
    1 => 
    array (
      'tagname' => '使命',
      'tagencode' => '%CA%B9%C3%FC',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
