array (
  'meta_keywords' => '所有的秘密都是深爱 沐尔 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=601&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=601&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=601&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=601&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '601',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468889135',
    'lastupdate' => '1468889755',
    'articlename' => '所有的秘密都是深爱',
    'articlecode' => 'suoyoudemimidushishenai',
    'backupname' => '',
    'keywords' => '言情 离开 婚姻 纯爱小说 纯爱',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '沐尔',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '他给每个对他表白的女人都发了好人卡，他会很温柔地说：“你很好，值得更好的男人。”<br />
认识他、爱上他时，他孑然一身，她以为他是可以爱的。<br />
她想写一封很长的情书给他，却被告知他有妻子。<br />
她带着眼泪离开，直到很多年后，她才辗转得知他的妻子已经死了，而所有的人都选择对他隐瞒。<br />
此时，她即将步入婚姻的殿堂，嫁给一个对她很好的男人。<br />
他淡淡存在于这个世界，却拥有世间无可比拟的吸引力，能一辈子扎根于人的心底，让人不自觉地想要触摸他。<br />
那些年，有多少女人在认识他后，都嫁给了与他相像的人。<br />
他的名字叫陈秋末，秋末而生。<br />
这是一本现代版灰姑娘与豪门公子的青春纯爱小说。<br />
',
    'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72191',
    'lastchapter' => '第一章 他的存在，令人心生贪婪 (1)',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;关于齐小雨和陈秋末的故事，始于春天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那是她第一次见到他，在外公的葬礼上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她因为飞机晚点，未能见到外公最后一面，可怜的老人支撑了许久离去，听允珍对她讲这些的时候，她只能哭，歇斯底里地哭，满腔的罪恶感充斥在内心，她不禁怨恨自己为什么要贪玩答应参加毕业旅行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外公是长辈中最疼爱她的人，小的时候，允珍没少吃味，人人都知道一向治学严谨的谈老不苟言笑，独独见了他的宝贝外孙女就似变了另一个人样，慈祥和蔼得令人咂舌。从前，外公的学生在论文上出了错，只要她在他耳边说些好话，外公就不生气..',
    'chapters' => '12',
    'size' => '313737',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478979150',
    'dayvisit' => '13',
    'weekvisit' => '481',
    'monthvisit' => '858',
    'allvisit' => '18568',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '1',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468889481',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1468889755',
    'freesize' => '313737',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '337',
    'vippubid' => '0',
    'vipchapters' => '9',
    'vipsize' => '270424',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72200',
    'vipchapter' => '第五章 世间最好的一面，便是拥有你 (3)',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;尽管她觉得自己丑疯了，但我却觉得带着母性光环的她比任何时候的她都要耀眼美丽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她曾邀请我做她的伴娘，但被我拒绝了。不是因为我们曾经是情敌的关系。而是因为我明白在这一天，在齐小雨和陈秋末新婚大喜的这一天，我该去见谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一年前，高昊几乎是从江城仓皇而逃，他离开前，在机场给我打了个电话，我感到很震惊，他怎么会打电话给我呢？后来又觉得理所当然，因为我大概是他在江城唯一的朋友了，我们是战友。虽然认识的时间不长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他跟我说他差点做了混账事，差点逼死了齐小雨，我想问他到底是怎么回事，但..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 156869,
    'size_k' => 157,
    'size_w' => 15.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/601.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601&cid=72191',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=337&cid=72200',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=601',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=601',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=601',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%F9%D3%D0%B5%C4%C3%D8%C3%DC%B6%BC%CA%C7%C9%EE%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F601.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '601',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468889135',
  'lastupdate' => '1468889755',
  'articlename' => '所有的秘密都是深爱',
  'articlecode' => 'suoyoudemimidushishenai',
  'backupname' => '',
  'keywords' => '言情 离开 婚姻 纯爱小说 纯爱',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '沐尔',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '他给每个对他表白的女人都发了好人卡，他会很温柔地说：“你很好，值得更好的男人。”<br />
认识他、爱上他时，他孑然一身，她以为他是可以爱的。<br />
她想写一封很长的情书给他，却被告知他有妻子。<br />
她带着眼泪离开，直到很多年后，她才辗转得知他的妻子已经死了，而所有的人都选择对他隐瞒。<br />
此时，她即将步入婚姻的殿堂，嫁给一个对她很好的男人。<br />
他淡淡存在于这个世界，却拥有世间无可比拟的吸引力，能一辈子扎根于人的心底，让人不自觉地想要触摸他。<br />
那些年，有多少女人在认识他后，都嫁给了与他相像的人。<br />
他的名字叫陈秋末，秋末而生。<br />
这是一本现代版灰姑娘与豪门公子的青春纯爱小说。<br />
',
  'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72191',
  'lastchapter' => '第一章 他的存在，令人心生贪婪 (1)',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;关于齐小雨和陈秋末的故事，始于春天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那是她第一次见到他，在外公的葬礼上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她因为飞机晚点，未能见到外公最后一面，可怜的老人支撑了许久离去，听允珍对她讲这些的时候，她只能哭，歇斯底里地哭，满腔的罪恶感充斥在内心，她不禁怨恨自己为什么要贪玩答应参加毕业旅行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外公是长辈中最疼爱她的人，小的时候，允珍没少吃味，人人都知道一向治学严谨的谈老不苟言笑，独独见了他的宝贝外孙女就似变了另一个人样，慈祥和蔼得令人咂舌。从前，外公的学生在论文上出了错，只要她在他耳边说些好话，外公就不生气..',
  'chapters' => '12',
  'size' => '313737',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478979150',
  'dayvisit' => '13',
  'weekvisit' => '481',
  'monthvisit' => '858',
  'allvisit' => '18568',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '1',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468889481',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1468889755',
  'freesize' => '313737',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '337',
  'vippubid' => '0',
  'vipchapters' => '9',
  'vipsize' => '270424',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72200',
  'vipchapter' => '第五章 世间最好的一面，便是拥有你 (3)',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;尽管她觉得自己丑疯了，但我却觉得带着母性光环的她比任何时候的她都要耀眼美丽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她曾邀请我做她的伴娘，但被我拒绝了。不是因为我们曾经是情敌的关系。而是因为我明白在这一天，在齐小雨和陈秋末新婚大喜的这一天，我该去见谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一年前，高昊几乎是从江城仓皇而逃，他离开前，在机场给我打了个电话，我感到很震惊，他怎么会打电话给我呢？后来又觉得理所当然，因为我大概是他在江城唯一的朋友了，我们是战友。虽然认识的时间不长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他跟我说他差点做了混账事，差点逼死了齐小雨，我想问他到底是怎么回事，但..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 156869,
  'size_k' => 157,
  'size_w' => 15.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/601/601s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/601.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=601&cid=72191',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=337&cid=72200',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=601',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=601',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=601',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%F9%D3%D0%B5%C4%C3%D8%C3%DC%B6%BC%CA%C7%C9%EE%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F601.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '离开',
      'tagencode' => '%C0%EB%BF%AA',
    ),
    2 => 
    array (
      'tagname' => '婚姻',
      'tagencode' => '%BB%E9%D2%F6',
    ),
    3 => 
    array (
      'tagname' => '纯爱小说',
      'tagencode' => '%B4%BF%B0%AE%D0%A1%CB%B5',
    ),
    4 => 
    array (
      'tagname' => '纯爱',
      'tagencode' => '%B4%BF%B0%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
