array (
  'meta_keywords' => '天使总是笨女孩 胡伟红 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=602&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=602&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=602&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=602&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '602',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468890142',
    'lastupdate' => '1468890142',
    'articlename' => '天使总是笨女孩',
    'articlecode' => 'tianshizongshibennvhai',
    'backupname' => '',
    'keywords' => '青春校园 言情 青春 网络小说 青春文学 小说',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '6644',
    'author' => '胡伟红',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp; 如果说，精灵古怪的女孩是恶魔，那傻傻的、纯纯的女孩就是天使啦！有人说，笨笨的女孩更容易找到幸福，大概真的如此吧！看来，老天偏爱笨女孩！本书女主人公楚佩怡就是那么一个女孩，善良、PP，又单细胞超蛋白，而且身世有点凄苦。她那么平凡，也不想惹出什么事非，可幸运总会从天而降，罩在她头上，想躲也躲不了，对于帅哥，她甚至可以左右逢源，呵呵……<br />
',
    'notice' => '胡伟红，天津人，80后，0型血，典型的双子座、B型血性格。对文学创作情有独钟，中学时参加了一次征文比赛并获奖后，从此一发不可收拾，走上了创作之路。从学校毕业后，她曾专职写作，创作过一些校园青春类、言情类小说，被当时的众多青少年期刊编辑称为“高产作者”。<br />
之后，她经历了一段写作上的迷茫期，用她自己的话说：“在《迷藏》出版之前，自己也出版过很多小说，但风格不统一，也未产生多大的反响。”<br />
2010年1月，受刚创刊的《意林?小小姐》杂志邀请，她开始创作自己的转型之作《迷藏?海之迷雾》，并在杂志上连载，很快获得超高人气，很多小粉丝纷纷留言或者往编辑部打电话，表示连载内容看着不过瘾，要求出书。正是在众多小粉丝的强烈支持下，2010年9月，《迷藏?海之迷雾》单行本正式发行，之后多次加印，逐渐奠定了“中国少女悬疑励志小说代表作”的地位。<br />
',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72207',
    'lastchapter' => '第5节 大家不要这样好不好',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“大家不要这样好不好？人家也没做什么啊。再说也不是她喜欢生在农村的。我们不要戴着有色眼镜去看人家。”感动啊~~我的眼泪都快流下来了。终于有人肯说句公道话了。我看着那个长头发的女孩子，她也对我友好的笑了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依娜却生起气来：“周灵若，知道你是班长你品格高尚。可是能不能拜托你不要在大家一起出来的时候扮清高好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“依娜不要对朋友这么说话，不要为了我和朋友吵架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“楚佩怡你闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个叫灵若的女孩子也有点生气了：“依娜，你怎么这样啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对不起，对不起都……',
    'chapters' => '74',
    'size' => '291348',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478760013',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '143',
    'allvisit' => '15189',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468890155',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '291348',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '338',
    'vippubid' => '0',
    'vipchapters' => '69',
    'vipsize' => '271337',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72276',
    'vipchapter' => '第74节 幸福的预感 全文完',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间过得真快啊，转眼哲平离开已经一年零九个月了。这个家伙好狠心，走了之后竟然一个电话、一封信、一张明信片都不寄回来。那个莽莽撞撞的暴躁小子现在变成什么样子了？“唉呦！好痛！”我捂着脑袋，真后悔不该在走路的时候开小差。这下肯定撞出了一个大包，搞不好连昨天晚上背好的单词都被撞飞了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐姐！姐姐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不会吧？偏偏在这个时候遇到``````<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈~~没想到姐姐还是那样笨手笨脚的！哲平知道以后会笑死的！我一定会告诉他的，姐姐你觉悟吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“邵佳怎么这样？你怎么可以把姐姐的丑事告……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 145674,
    'size_k' => 146,
    'size_w' => 14.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/602.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602&cid=72207',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=338&cid=72276',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=602',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=602',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=602',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6644.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%CA%B9%D7%DC%CA%C7%B1%BF%C5%AE%BA%A2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F602.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '602',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468890142',
  'lastupdate' => '1468890142',
  'articlename' => '天使总是笨女孩',
  'articlecode' => 'tianshizongshibennvhai',
  'backupname' => '',
  'keywords' => '青春校园 言情 青春 网络小说 青春文学 小说',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '6644',
  'author' => '胡伟红',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp; 如果说，精灵古怪的女孩是恶魔，那傻傻的、纯纯的女孩就是天使啦！有人说，笨笨的女孩更容易找到幸福，大概真的如此吧！看来，老天偏爱笨女孩！本书女主人公楚佩怡就是那么一个女孩，善良、PP，又单细胞超蛋白，而且身世有点凄苦。她那么平凡，也不想惹出什么事非，可幸运总会从天而降，罩在她头上，想躲也躲不了，对于帅哥，她甚至可以左右逢源，呵呵……<br />
',
  'notice' => '胡伟红，天津人，80后，0型血，典型的双子座、B型血性格。对文学创作情有独钟，中学时参加了一次征文比赛并获奖后，从此一发不可收拾，走上了创作之路。从学校毕业后，她曾专职写作，创作过一些校园青春类、言情类小说，被当时的众多青少年期刊编辑称为“高产作者”。<br />
之后，她经历了一段写作上的迷茫期，用她自己的话说：“在《迷藏》出版之前，自己也出版过很多小说，但风格不统一，也未产生多大的反响。”<br />
2010年1月，受刚创刊的《意林?小小姐》杂志邀请，她开始创作自己的转型之作《迷藏?海之迷雾》，并在杂志上连载，很快获得超高人气，很多小粉丝纷纷留言或者往编辑部打电话，表示连载内容看着不过瘾，要求出书。正是在众多小粉丝的强烈支持下，2010年9月，《迷藏?海之迷雾》单行本正式发行，之后多次加印，逐渐奠定了“中国少女悬疑励志小说代表作”的地位。<br />
',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72207',
  'lastchapter' => '第5节 大家不要这样好不好',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“大家不要这样好不好？人家也没做什么啊。再说也不是她喜欢生在农村的。我们不要戴着有色眼镜去看人家。”感动啊~~我的眼泪都快流下来了。终于有人肯说句公道话了。我看着那个长头发的女孩子，她也对我友好的笑了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依娜却生起气来：“周灵若，知道你是班长你品格高尚。可是能不能拜托你不要在大家一起出来的时候扮清高好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“依娜不要对朋友这么说话，不要为了我和朋友吵架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“楚佩怡你闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个叫灵若的女孩子也有点生气了：“依娜，你怎么这样啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对不起，对不起都……',
  'chapters' => '74',
  'size' => '291348',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478760013',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '143',
  'allvisit' => '15189',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468890155',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '291348',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '338',
  'vippubid' => '0',
  'vipchapters' => '69',
  'vipsize' => '271337',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72276',
  'vipchapter' => '第74节 幸福的预感 全文完',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间过得真快啊，转眼哲平离开已经一年零九个月了。这个家伙好狠心，走了之后竟然一个电话、一封信、一张明信片都不寄回来。那个莽莽撞撞的暴躁小子现在变成什么样子了？“唉呦！好痛！”我捂着脑袋，真后悔不该在走路的时候开小差。这下肯定撞出了一个大包，搞不好连昨天晚上背好的单词都被撞飞了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐姐！姐姐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不会吧？偏偏在这个时候遇到``````<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈~~没想到姐姐还是那样笨手笨脚的！哲平知道以后会笑死的！我一定会告诉他的，姐姐你觉悟吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“邵佳怎么这样？你怎么可以把姐姐的丑事告……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 145674,
  'size_k' => 146,
  'size_w' => 14.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/602/602s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/602.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=602&cid=72207',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=338&cid=72276',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=602',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=602',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=602',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6644.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%FA%CE%B0%BA%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%CA%B9%D7%DC%CA%C7%B1%BF%C5%AE%BA%A2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F602.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '青春校园',
      'tagencode' => '%C7%E0%B4%BA%D0%A3%D4%B0',
    ),
    1 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
    3 => 
    array (
      'tagname' => '网络小说',
      'tagencode' => '%CD%F8%C2%E7%D0%A1%CB%B5',
    ),
    4 => 
    array (
      'tagname' => '青春文学',
      'tagencode' => '%C7%E0%B4%BA%CE%C4%D1%A7',
    ),
    5 => 
    array (
      'tagname' => '小说',
      'tagencode' => '%D0%A1%CB%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
