array (
  'meta_keywords' => '校花诡异事件 蓝泽、梁潇潇 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=603&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=603&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=603&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=603&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '603',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468890605',
    'lastupdate' => '1468988832',
    'articlename' => '校花诡异事件',
    'articlecode' => 'xiaohuaguiyishijian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '蓝泽、梁潇潇',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp; 中国版《人鬼情未了》完美演绎<br />
　　将脸藏在阴影处的老板；笑容如鬼娃花子般诡异的老板娘；全身湿淋淋贞子般恐怖的红衣女人；皮肤惨白发出夜枭哭声的小男孩……<br />
　　深山古镇里，一夜之间，小镇旅馆夫妻以及几个旅客离奇死去。<br />
　　短短几日内，死亡的诅咒陆续从那些进入旅馆的人的身上蔓延开来，恐惧和阴影渐渐笼罩了整个小镇，最终看不到流浪的野狗，听不见哀嚎的夜枭……<br />
　　大学校花苏苏（赵奕欢饰演）独自一人离开喧嚣的大都市，暴雨来袭，巧入旅店。<br />
　　当怪诞频频击溃她的神经，为什么除了林枫（王一饰演），旅店里没有人相信她所看到的东西？<br />
　　她究竟能否在林枫到来之前，逃离邪恶的诡异旅馆？在她的记忆里，又曾遗忘过什么呢？<br />
　　回校后，当苏苏遇到与林枫长相相似的少年陈乐，一系列离奇的事件再次波潮暗涌……是真是幻，爱恨一念间，最后的他们又将走向怎样的结局？',
    'notice' => '蓝泽，女，浙江杭州人，知名网络作家，古典文献学硕士及考古学硕士。代表作：《吴越咒》、《西安悬案》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '75303',
    'lastvolume' => '第一卷',
    'lastchapterid' => '72277',
    'lastchapter' => '第一章 古镇诡店',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“龙兴”是一个地图上都很难找到的小镇。它没有高楼，也没有大街，只有一些残破不堪的瓦房和古老阴森的青石小巷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时，夕阳正有气无力地照射在龙兴镇的一张黄色的告示上面：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紧急通知<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因特大山洪暴发导致出山公路坍塌，特决定封停出山道路一周，望广大游客谅解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清纯优雅的长发女孩“苏苏”走到了告示跟前，认认真真地读完它，无奈地摇头说：“封山一周，怎么这么倒霉啊。”她穿着白色的衬衫和白色的运动裤，肩膀上背着一个大旅行包、手中拿着一张折叠了好几下的地图。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她在路边站了许久，……',
    'chapters' => '25',
    'size' => '251780',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478934962',
    'dayvisit' => '39',
    'weekvisit' => '195',
    'monthvisit' => '468',
    'allvisit' => '16377',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468890665',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1468988832',
    'freesize' => '251780',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '339',
    'vippubid' => '0',
    'vipchapters' => '22',
    'vipsize' => '239898',
    'vipvolumeid' => '75304',
    'vipvolume' => '第二卷 勾魂的笑靥',
    'vipchapterid' => '72299',
    'vipchapter' => '第十一章 爱恨一念间',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;十个小时以前，这座公寓灯火璀璨，花香撩人。陈乐穿着一身白色礼服，打了个红色领结。他亲手为苏苏的头发上插上生日花冠，眼神里尽是温情脉脉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;超出了苏苏预料的是，陈乐知道她的生日。而在生日的前一天，他们所有人却大吵了一架。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古典的音乐机里轻唤地播放着：“如果我从来不曾遇见你；永远不会明白爱的真谛；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人能代替的唯一；陪着我抵挡暴风雨；如果我从来不曾遇见你；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有什么值得我去珍惜；铭记在心底，都是你的相偎相依……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“苏苏，你好漂亮。生日快乐。”陈乐拥着苏苏，跟着节……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 125890,
    'size_k' => 126,
    'size_w' => 12.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/603.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603&cid=72277',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=339&cid=72299',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=603',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=603',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=603',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%D4%F3%A1%A2%C1%BA%E4%EC%E4%EC',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%D4%F3%A1%A2%C1%BA%E4%EC%E4%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%A3%BB%A8%B9%EE%D2%EC%CA%C2%BC%FE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F603.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '603',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468890605',
  'lastupdate' => '1468988832',
  'articlename' => '校花诡异事件',
  'articlecode' => 'xiaohuaguiyishijian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '蓝泽、梁潇潇',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp; 中国版《人鬼情未了》完美演绎<br />
　　将脸藏在阴影处的老板；笑容如鬼娃花子般诡异的老板娘；全身湿淋淋贞子般恐怖的红衣女人；皮肤惨白发出夜枭哭声的小男孩……<br />
　　深山古镇里，一夜之间，小镇旅馆夫妻以及几个旅客离奇死去。<br />
　　短短几日内，死亡的诅咒陆续从那些进入旅馆的人的身上蔓延开来，恐惧和阴影渐渐笼罩了整个小镇，最终看不到流浪的野狗，听不见哀嚎的夜枭……<br />
　　大学校花苏苏（赵奕欢饰演）独自一人离开喧嚣的大都市，暴雨来袭，巧入旅店。<br />
　　当怪诞频频击溃她的神经，为什么除了林枫（王一饰演），旅店里没有人相信她所看到的东西？<br />
　　她究竟能否在林枫到来之前，逃离邪恶的诡异旅馆？在她的记忆里，又曾遗忘过什么呢？<br />
　　回校后，当苏苏遇到与林枫长相相似的少年陈乐，一系列离奇的事件再次波潮暗涌……是真是幻，爱恨一念间，最后的他们又将走向怎样的结局？',
  'notice' => '蓝泽，女，浙江杭州人，知名网络作家，古典文献学硕士及考古学硕士。代表作：《吴越咒》、《西安悬案》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '75303',
  'lastvolume' => '第一卷',
  'lastchapterid' => '72277',
  'lastchapter' => '第一章 古镇诡店',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“龙兴”是一个地图上都很难找到的小镇。它没有高楼，也没有大街，只有一些残破不堪的瓦房和古老阴森的青石小巷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时，夕阳正有气无力地照射在龙兴镇的一张黄色的告示上面：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紧急通知<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因特大山洪暴发导致出山公路坍塌，特决定封停出山道路一周，望广大游客谅解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清纯优雅的长发女孩“苏苏”走到了告示跟前，认认真真地读完它，无奈地摇头说：“封山一周，怎么这么倒霉啊。”她穿着白色的衬衫和白色的运动裤，肩膀上背着一个大旅行包、手中拿着一张折叠了好几下的地图。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她在路边站了许久，……',
  'chapters' => '25',
  'size' => '251780',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478934962',
  'dayvisit' => '39',
  'weekvisit' => '195',
  'monthvisit' => '468',
  'allvisit' => '16377',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468890665',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1468988832',
  'freesize' => '251780',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '339',
  'vippubid' => '0',
  'vipchapters' => '22',
  'vipsize' => '239898',
  'vipvolumeid' => '75304',
  'vipvolume' => '第二卷 勾魂的笑靥',
  'vipchapterid' => '72299',
  'vipchapter' => '第十一章 爱恨一念间',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;十个小时以前，这座公寓灯火璀璨，花香撩人。陈乐穿着一身白色礼服，打了个红色领结。他亲手为苏苏的头发上插上生日花冠，眼神里尽是温情脉脉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;超出了苏苏预料的是，陈乐知道她的生日。而在生日的前一天，他们所有人却大吵了一架。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古典的音乐机里轻唤地播放着：“如果我从来不曾遇见你；永远不会明白爱的真谛；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人能代替的唯一；陪着我抵挡暴风雨；如果我从来不曾遇见你；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有什么值得我去珍惜；铭记在心底，都是你的相偎相依……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“苏苏，你好漂亮。生日快乐。”陈乐拥着苏苏，跟着节……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 125890,
  'size_k' => 126,
  'size_w' => 12.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/603/603s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/603.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=603&cid=72277',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=339&cid=72299',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=603',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=603',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=603',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%D4%F3%A1%A2%C1%BA%E4%EC%E4%EC',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%B6%D4%F3%A1%A2%C1%BA%E4%EC%E4%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%A3%BB%A8%B9%EE%D2%EC%CA%C2%BC%FE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F603.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
