array (
  'meta_keywords' => '一爱难求 沐尔 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=604&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=604&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=604&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=604&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '604',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468891238',
    'lastupdate' => '1468891238',
    'articlename' => '一爱难求',
    'articlecode' => 'yiainanqiu',
    'backupname' => '',
    'keywords' => '言情 豪门 宠爱 远走异国',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '0',
    'author' => '沐尔',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 宋茴出生在显赫的宋家，自幼丧母，父亲宋平嘉在她出生后便远走马德里。她由宋老太太带大，虽备受宠爱，但自小生活在堂哥宋世和堂姐宋言的光环下，令她的性格里除却乖张傲慢还多了几分自卑感。遇见汤季辰，爱上他，是她人生中最恣意的事情，他们一见倾心，却得不到祝福，因为他是宋言喜欢的人。他们努力过，挣扎过，最后却变成了她被送走，他赌气娶了宋言。这些年，他一直都在等待，等待能与她再在一起的机会，然而，她终于回来了，却视他为洪水猛兽，执意要嫁给李其琛，然而李其琛只是为了成全宋言的幸福才会来到宋茴的身边。当一切的纷纷扰扰落幕后，汤季辰终究是用深爱禁锢住宋茴的心，得到了一生的不离不弃。',
    'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72301',
    'lastchapter' => '第 2 章节',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“小茴，怎么电话里你都没对我提起你要回来呢？”宋老太太询问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥去接我的。奶奶，我再也不要离开你了。”宋茴抱住这个在她面前略显瘦小的老人，心疼得厉害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在她最美好的岁月里，她最亲爱的人已经风烛残年，正走向生命的尾端，而她没有一丝办法去阻止这样的人之常情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“平同他们总算是让我们祖孙见面了，我的小茴变得好漂亮啊，奶奶都舍不得把这么好的女孩送到别人家去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奶奶，我以后哪都不去了，就陪在你身边。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”宋老太太面上答应着，可内心却百转千回，哪能呢？我这..',
    'chapters' => '31',
    'size' => '299791',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478895512',
    'dayvisit' => '52',
    'weekvisit' => '247',
    'monthvisit' => '572',
    'allvisit' => '18188',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468892317',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '299791',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '340',
    'vippubid' => '0',
    'vipchapters' => '29',
    'vipsize' => '280377',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72330',
    'vipchapter' => '第 31 章节',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间似乎过去了很长时间，当宋茴疲惫地停下脚步时，她有些绝望了，欲哭无泪，然后她便听到了脚步声，雾气里有个身影高大的男人走了过来，他的脸渐渐清晰，是汤季辰，宋茴欣喜若狂地跑了过去，想要抱住汤季辰，可是下一秒汤季辰消失在眼前，她重重摔倒在地……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机铃声适时地响起来，宋茴迷迷糊糊地醒来，汤季辰开了床前灯，接听了手机，宋茴朝他身边靠了靠，又继续睡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汤季辰接完电话后，又去开了宋茴的笔记本电脑，在网上搜到了最新的新闻，才相信了那个最难以置信的噩耗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……延川飞往法国巴黎的飞机在..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 149896,
    'size_k' => 150,
    'size_w' => 15,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/604.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604&cid=72301',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=340&cid=72330',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=604',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=604',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=604',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%B0%AE%C4%D1%C7%F3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F604.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '604',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468891238',
  'lastupdate' => '1468891238',
  'articlename' => '一爱难求',
  'articlecode' => 'yiainanqiu',
  'backupname' => '',
  'keywords' => '言情 豪门 宠爱 远走异国',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '0',
  'author' => '沐尔',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 宋茴出生在显赫的宋家，自幼丧母，父亲宋平嘉在她出生后便远走马德里。她由宋老太太带大，虽备受宠爱，但自小生活在堂哥宋世和堂姐宋言的光环下，令她的性格里除却乖张傲慢还多了几分自卑感。遇见汤季辰，爱上他，是她人生中最恣意的事情，他们一见倾心，却得不到祝福，因为他是宋言喜欢的人。他们努力过，挣扎过，最后却变成了她被送走，他赌气娶了宋言。这些年，他一直都在等待，等待能与她再在一起的机会，然而，她终于回来了，却视他为洪水猛兽，执意要嫁给李其琛，然而李其琛只是为了成全宋言的幸福才会来到宋茴的身边。当一切的纷纷扰扰落幕后，汤季辰终究是用深爱禁锢住宋茴的心，得到了一生的不离不弃。',
  'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72301',
  'lastchapter' => '第 2 章节',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“小茴，怎么电话里你都没对我提起你要回来呢？”宋老太太询问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥去接我的。奶奶，我再也不要离开你了。”宋茴抱住这个在她面前略显瘦小的老人，心疼得厉害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在她最美好的岁月里，她最亲爱的人已经风烛残年，正走向生命的尾端，而她没有一丝办法去阻止这样的人之常情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“平同他们总算是让我们祖孙见面了，我的小茴变得好漂亮啊，奶奶都舍不得把这么好的女孩送到别人家去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奶奶，我以后哪都不去了，就陪在你身边。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”宋老太太面上答应着，可内心却百转千回，哪能呢？我这..',
  'chapters' => '31',
  'size' => '299791',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478895512',
  'dayvisit' => '52',
  'weekvisit' => '247',
  'monthvisit' => '572',
  'allvisit' => '18188',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468892317',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '299791',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '340',
  'vippubid' => '0',
  'vipchapters' => '29',
  'vipsize' => '280377',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72330',
  'vipchapter' => '第 31 章节',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时间似乎过去了很长时间，当宋茴疲惫地停下脚步时，她有些绝望了，欲哭无泪，然后她便听到了脚步声，雾气里有个身影高大的男人走了过来，他的脸渐渐清晰，是汤季辰，宋茴欣喜若狂地跑了过去，想要抱住汤季辰，可是下一秒汤季辰消失在眼前，她重重摔倒在地……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机铃声适时地响起来，宋茴迷迷糊糊地醒来，汤季辰开了床前灯，接听了手机，宋茴朝他身边靠了靠，又继续睡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汤季辰接完电话后，又去开了宋茴的笔记本电脑，在网上搜到了最新的新闻，才相信了那个最难以置信的噩耗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……延川飞往法国巴黎的飞机在..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 149896,
  'size_k' => 150,
  'size_w' => 15,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/604/604s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/604.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=604&cid=72301',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=340&cid=72330',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=604',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=604',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=604',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%B0%AE%C4%D1%C7%F3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F604.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '豪门',
      'tagencode' => '%BA%C0%C3%C5',
    ),
    2 => 
    array (
      'tagname' => '宠爱',
      'tagencode' => '%B3%E8%B0%AE',
    ),
    3 => 
    array (
      'tagname' => '远走异国',
      'tagencode' => '%D4%B6%D7%DF%D2%EC%B9%FA',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
