array (
  'meta_keywords' => '办公室风声 宋丽晅 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=607&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=607&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=607&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=607&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '607',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468893919',
    'lastupdate' => '1468893919',
    'articlename' => '办公室风声',
    'articlecode' => 'bangongshifengsheng',
    'backupname' => '',
    'keywords' => '办公室风声 职场 职场小说 小说 商战小说',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '0',
    'author' => '宋丽晅',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '五星大酒店，唯一“申奥”良机！管理层两大派系针锋相对，办公室暗涌危机。<br />
机密资料大量外泄，内忧外患，每个人都在演戏！<br />
孰真孰假，谁才是老鬼？<br />
风声鹤唳，职场新秀夏商竟破格提拔，机会还是阴谋？<br />
她如何才能在派系斗争中生存？如何才能应付对手打压和同事搞鬼？如何才能不穿小鞋，不背黑锅，不做炮灰？<br />
看《办公室风声》，职场无往而不胜！<br />
<br />
编辑推荐<br />
办公室好戏连台，生活远比影视更精彩……<br />
出卖OR被出场？职场，野蛮才能生长！比聪明，还要比傻！比实力，更要比演技；有人卖你，有人踩你，也会有人拉你；审时度势，顺势而为，方是职场大智慧。<br />
',
    'notice' => '宋丽晅 Song Li Xuan （1978年1月18日）本名宋丽晅，笔名携爱再漂流，英文名A vril，女，满族。籍贯北京。毕业于北京师范大学中文系。<br />
1995年参加工作，历任北京国际饭店前台经理，《经济参考报》编辑，《服装时报》记者编辑，《瑞丽》编辑部主任，《东方模特》主编等职务。<br />
2007年开始发表文学作品，2010年加入北京作家协会，成为北京作协网络文学创作委员会副主任，2013年加入中国作协。<br />
个人作品：<br />
自2008年至今已出版9本小说<br />
著有畅销职场小说：《不认输》、《办公室风声》、《别做办公室最2的人》，被称为网络职场小说第一人。<br />
励志都市畅销小说：《同城热恋》、《闻香识女人》、《谁将流年抛却》、《再见爱》。<br />
经典古代言情小说：《普兰誓言》、《大漠红颜魅天下》。<br />
即将出版：《如若不坚强，柔弱给谁看》<br />
获奖情况<br />
2012年《酒店风云》获得中国作协重点扶持项目，<br />
2011年《办公室风声》入围第八届茅盾文学奖，<br />
2010年获得盛大文学首届全球写作大展首选版权交易金奖，<br />
2009年《不认输》获第二届华语言情大赛最佳风尚奖，<br />
2008年《普兰誓言》获第一届华语言情大赛最佳文字奖，<br />
销售点击<br />
《不认输》销售40万册，网络点击1500万（红袖添香）<br />
《办公室风声》销售20万册，网络点击1400万（红袖添香）<br />
《谁将流年抛却》销售15万册，网络点击5200万（移动阅读）<br />
《同城热恋》销售10万册，网络点击3400万（移动阅读）<br />
影视作品<br />
《同城热恋》和《谁将流年抛却》已卖出影视版权（湖南经视）<br />
电视剧：《职场辣妈》&nbsp;&nbsp;编剧<br />
电视剧：《小爸爸》 《婚姻钱规则》 参与<br />
电视剧：《罗马假日》编剧，（创作中，七月底完结）<br />
',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72369',
    'lastchapter' => '第一章 升职陷阱 (1)',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;很多人的升职加薪是通过努力，或是水到渠成，但有的时候，升职也是陷阱，未必是上司想让你死，不过也会是权衡利弊的牺牲品，怎样摆脱被主宰的棋子命运，全看你自己要怎么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;1.1 可以看尽人间百态的地方<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;2004年5月，一个平凡又特殊的夏日早晨。位于市中心，美轮美奂的老牌国营五星级酒店——ST在朝阳下熠熠生辉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公关部经理夏商从西门走了进来，准备穿过停车场走入员工通道。一辆绿色的QQ在她身边停下，前台经理韩雪探出了头：“商，等我一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏商看了看这辆崭新的车，摇了摇头：“你还真买了辆Q..',
    'chapters' => '12',
    'size' => '373494',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478914576',
    'dayvisit' => '26',
    'weekvisit' => '130',
    'monthvisit' => '351',
    'allvisit' => '17805',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468894062',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '373494',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '343',
    'vippubid' => '0',
    'vipchapters' => '11',
    'vipsize' => '352636',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72380',
    'vipchapter' => '第六章：翻云覆雨 (2)',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩雪沉默了，夏商着急了：“他是你爸，别想了，胰腺癌晚期，还不肯接受治疗，而且听说胰腺癌是非常疼的。你快去订机票，订好了告诉我，我去接你。”说完她就挂了电话，望向窗外，花园里一片萧条。不管是突然的，还是有期限的，亲人会离开的事实依旧难以坦然接受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;10分钟后，韩雪给夏商打了电话：“我已经在去机场的路上了，我先飞广州，再从广州回北京，下午3点到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么还要去广州？”夏商不解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三亚飞北京的航班要1点40才有，到北京就5点半了，就会错过探视的时间……”韩雪的声音还在……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 186747,
    'size_k' => 187,
    'size_w' => 18.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/607.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607&cid=72369',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=343&cid=72380',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=607',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=607',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=607',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%C0%F6%95t',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%C0%F6%95t',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%EC%B9%AB%CA%D2%B7%E7%C9%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F607.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '607',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468893919',
  'lastupdate' => '1468893919',
  'articlename' => '办公室风声',
  'articlecode' => 'bangongshifengsheng',
  'backupname' => '',
  'keywords' => '办公室风声 职场 职场小说 小说 商战小说',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '0',
  'author' => '宋丽晅',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '五星大酒店，唯一“申奥”良机！管理层两大派系针锋相对，办公室暗涌危机。<br />
机密资料大量外泄，内忧外患，每个人都在演戏！<br />
孰真孰假，谁才是老鬼？<br />
风声鹤唳，职场新秀夏商竟破格提拔，机会还是阴谋？<br />
她如何才能在派系斗争中生存？如何才能应付对手打压和同事搞鬼？如何才能不穿小鞋，不背黑锅，不做炮灰？<br />
看《办公室风声》，职场无往而不胜！<br />
<br />
编辑推荐<br />
办公室好戏连台，生活远比影视更精彩……<br />
出卖OR被出场？职场，野蛮才能生长！比聪明，还要比傻！比实力，更要比演技；有人卖你，有人踩你，也会有人拉你；审时度势，顺势而为，方是职场大智慧。<br />
',
  'notice' => '宋丽晅 Song Li Xuan （1978年1月18日）本名宋丽晅，笔名携爱再漂流，英文名A vril，女，满族。籍贯北京。毕业于北京师范大学中文系。<br />
1995年参加工作，历任北京国际饭店前台经理，《经济参考报》编辑，《服装时报》记者编辑，《瑞丽》编辑部主任，《东方模特》主编等职务。<br />
2007年开始发表文学作品，2010年加入北京作家协会，成为北京作协网络文学创作委员会副主任，2013年加入中国作协。<br />
个人作品：<br />
自2008年至今已出版9本小说<br />
著有畅销职场小说：《不认输》、《办公室风声》、《别做办公室最2的人》，被称为网络职场小说第一人。<br />
励志都市畅销小说：《同城热恋》、《闻香识女人》、《谁将流年抛却》、《再见爱》。<br />
经典古代言情小说：《普兰誓言》、《大漠红颜魅天下》。<br />
即将出版：《如若不坚强，柔弱给谁看》<br />
获奖情况<br />
2012年《酒店风云》获得中国作协重点扶持项目，<br />
2011年《办公室风声》入围第八届茅盾文学奖，<br />
2010年获得盛大文学首届全球写作大展首选版权交易金奖，<br />
2009年《不认输》获第二届华语言情大赛最佳风尚奖，<br />
2008年《普兰誓言》获第一届华语言情大赛最佳文字奖，<br />
销售点击<br />
《不认输》销售40万册，网络点击1500万（红袖添香）<br />
《办公室风声》销售20万册，网络点击1400万（红袖添香）<br />
《谁将流年抛却》销售15万册，网络点击5200万（移动阅读）<br />
《同城热恋》销售10万册，网络点击3400万（移动阅读）<br />
影视作品<br />
《同城热恋》和《谁将流年抛却》已卖出影视版权（湖南经视）<br />
电视剧：《职场辣妈》&nbsp;&nbsp;编剧<br />
电视剧：《小爸爸》 《婚姻钱规则》 参与<br />
电视剧：《罗马假日》编剧，（创作中，七月底完结）<br />
',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72369',
  'lastchapter' => '第一章 升职陷阱 (1)',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;很多人的升职加薪是通过努力，或是水到渠成，但有的时候，升职也是陷阱，未必是上司想让你死，不过也会是权衡利弊的牺牲品，怎样摆脱被主宰的棋子命运，全看你自己要怎么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;1.1 可以看尽人间百态的地方<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;2004年5月，一个平凡又特殊的夏日早晨。位于市中心，美轮美奂的老牌国营五星级酒店——ST在朝阳下熠熠生辉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公关部经理夏商从西门走了进来，准备穿过停车场走入员工通道。一辆绿色的QQ在她身边停下，前台经理韩雪探出了头：“商，等我一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏商看了看这辆崭新的车，摇了摇头：“你还真买了辆Q..',
  'chapters' => '12',
  'size' => '373494',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478914576',
  'dayvisit' => '26',
  'weekvisit' => '130',
  'monthvisit' => '351',
  'allvisit' => '17805',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468894062',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '373494',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '343',
  'vippubid' => '0',
  'vipchapters' => '11',
  'vipsize' => '352636',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72380',
  'vipchapter' => '第六章：翻云覆雨 (2)',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩雪沉默了，夏商着急了：“他是你爸，别想了，胰腺癌晚期，还不肯接受治疗，而且听说胰腺癌是非常疼的。你快去订机票，订好了告诉我，我去接你。”说完她就挂了电话，望向窗外，花园里一片萧条。不管是突然的，还是有期限的，亲人会离开的事实依旧难以坦然接受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;10分钟后，韩雪给夏商打了电话：“我已经在去机场的路上了，我先飞广州，再从广州回北京，下午3点到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么还要去广州？”夏商不解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三亚飞北京的航班要1点40才有，到北京就5点半了，就会错过探视的时间……”韩雪的声音还在……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 186747,
  'size_k' => 187,
  'size_w' => 18.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/607/607s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/607.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=607&cid=72369',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=343&cid=72380',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=607',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=607',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=607',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%C0%F6%95t',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%C0%F6%95t',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%EC%B9%AB%CA%D2%B7%E7%C9%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F607.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '办公室风声',
      'tagencode' => '%B0%EC%B9%AB%CA%D2%B7%E7%C9%F9',
    ),
    1 => 
    array (
      'tagname' => '职场',
      'tagencode' => '%D6%B0%B3%A1',
    ),
    2 => 
    array (
      'tagname' => '职场小说',
      'tagencode' => '%D6%B0%B3%A1%D0%A1%CB%B5',
    ),
    3 => 
    array (
      'tagname' => '小说',
      'tagencode' => '%D0%A1%CB%B5',
    ),
    4 => 
    array (
      'tagname' => '商战小说',
      'tagencode' => '%C9%CC%D5%BD%D0%A1%CB%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
