array (
  'meta_keywords' => '床前明月光，美男睡得香 锦竹 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=608&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=608&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=608&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=608&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '608',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468894539',
    'lastupdate' => '1468894539',
    'articlename' => '床前明月光，美男睡得香',
    'articlecode' => 'chuangqianmingyueguang_meinanshuidexiang',
    'backupname' => '',
    'keywords' => '青春 爱情 苗疆少女 独情蛊 忠贞 苗疆 冰山 言情 苗族 下蛊 冷漠 蛊毒 小白 扑克脸 腹黑 公子哥 小说',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '6656',
    'author' => '锦竹',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 叱咤武林的第一蛊师苗老头为了让女儿苗宝贝有一个忠贞的丈夫，特意研制了一种独情蛊，受蛊者一男一女，若有一方与其他异性有肌肤之亲，将会当场暴毙。不幸被苗老头选上的女婿是武林正派颜家三公子颜玉白，然而这位江湖第一神秘冷酷美男子与从小在苗疆长大并把少儿不宜书当做正规学习教材的苗宝贝，怎么看也不像是能好好做夫妻的一对……',
    'notice' => '　锦竹，90年生，混迹80后队伍中。典型江南女子，喜欢各种脑残各种欢乐，是狗血小白文忠实饭。最爱腹黑小白配，于是自己大多数文是跟着自己的口味写的，类型你们懂的。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72382',
    'lastchapter' => '第 2 章节',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;没错，乔淮是苗老头的徒弟，也是唯一的徒弟。乔淮不喜行医，喜施蛊。而乔淮似乎也有这份天赋，七岁拜师，十岁便有一番成就，每次学到一样，便会祸害一阵，让乔段梁很是头疼。当然这是后话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话说乔段梁知道自己儿子被下蛊以后，找到苗老头谈了一夜的心，第二天，苗老头便把乔淮的蛊毒给解了。这当初成了江湖的话题，是什么让爱女心切的苗老头一夜之间改变心意？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这苦也只有乔段梁知道……他一生的心血啊，三颗水仙玉露丸子全赠给苗老头了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就如此，乔淮乔美男从苗宝贝的未来相公名单中删除了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗宝..',
    'chapters' => '24',
    'size' => '228567',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478934890',
    'dayvisit' => '26',
    'weekvisit' => '52',
    'monthvisit' => '325',
    'allvisit' => '28446',
    'lastvote' => '1469495013',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '3',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468895425',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '228567',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '344',
    'vippubid' => '0',
    'vipchapters' => '22',
    'vipsize' => '209097',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72404',
    'vipchapter' => '第 24 章节',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;人烟散去，水落石出，这样的际遇也不好隔岸观火。整个大殿，只剩下洛薇这个主人，还有颜玉白一家。苗宝贝呼吸浓重，嘴角开始口吐鲜血。颜玉白紧紧攥住苗宝贝，一把打横抱起，准备出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗老头拦住，“你想去干什么？？我不容许你那么做。”他知道颜玉白对苗宝贝的情感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;颜玉白低头看向苗宝贝那苍白的脸，悲怆地凝望着苗老头，忽而跪下，“岳父大人，我不能失去宝宝，我再也不能忍受再次失去她的痛苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗老头轻闭眼，微微松开了紧攥的拳头。颜玉白见此，立即踹开门，往卧室去了。洛薇看着窝在颜玉白怀里的..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 114284,
    'size_k' => 115,
    'size_w' => 11.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/608.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608&cid=72382',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=344&cid=72404',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=608',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=608',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=608',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6656.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%F5%D6%F1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%B2%C7%B0%C3%F7%D4%C2%B9%E2%A3%AC%C3%C0%C4%D0%CB%AF%B5%C3%CF%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F608.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '608',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468894539',
  'lastupdate' => '1468894539',
  'articlename' => '床前明月光，美男睡得香',
  'articlecode' => 'chuangqianmingyueguang_meinanshuidexiang',
  'backupname' => '',
  'keywords' => '青春 爱情 苗疆少女 独情蛊 忠贞 苗疆 冰山 言情 苗族 下蛊 冷漠 蛊毒 小白 扑克脸 腹黑 公子哥 小说',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '6656',
  'author' => '锦竹',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 叱咤武林的第一蛊师苗老头为了让女儿苗宝贝有一个忠贞的丈夫，特意研制了一种独情蛊，受蛊者一男一女，若有一方与其他异性有肌肤之亲，将会当场暴毙。不幸被苗老头选上的女婿是武林正派颜家三公子颜玉白，然而这位江湖第一神秘冷酷美男子与从小在苗疆长大并把少儿不宜书当做正规学习教材的苗宝贝，怎么看也不像是能好好做夫妻的一对……',
  'notice' => '　锦竹，90年生，混迹80后队伍中。典型江南女子，喜欢各种脑残各种欢乐，是狗血小白文忠实饭。最爱腹黑小白配，于是自己大多数文是跟着自己的口味写的，类型你们懂的。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72382',
  'lastchapter' => '第 2 章节',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;没错，乔淮是苗老头的徒弟，也是唯一的徒弟。乔淮不喜行医，喜施蛊。而乔淮似乎也有这份天赋，七岁拜师，十岁便有一番成就，每次学到一样，便会祸害一阵，让乔段梁很是头疼。当然这是后话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话说乔段梁知道自己儿子被下蛊以后，找到苗老头谈了一夜的心，第二天，苗老头便把乔淮的蛊毒给解了。这当初成了江湖的话题，是什么让爱女心切的苗老头一夜之间改变心意？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这苦也只有乔段梁知道……他一生的心血啊，三颗水仙玉露丸子全赠给苗老头了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就如此，乔淮乔美男从苗宝贝的未来相公名单中删除了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗宝..',
  'chapters' => '24',
  'size' => '228567',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478934890',
  'dayvisit' => '26',
  'weekvisit' => '52',
  'monthvisit' => '325',
  'allvisit' => '28446',
  'lastvote' => '1469495013',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '3',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468895425',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '228567',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '344',
  'vippubid' => '0',
  'vipchapters' => '22',
  'vipsize' => '209097',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72404',
  'vipchapter' => '第 24 章节',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;人烟散去，水落石出，这样的际遇也不好隔岸观火。整个大殿，只剩下洛薇这个主人，还有颜玉白一家。苗宝贝呼吸浓重，嘴角开始口吐鲜血。颜玉白紧紧攥住苗宝贝，一把打横抱起，准备出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗老头拦住，“你想去干什么？？我不容许你那么做。”他知道颜玉白对苗宝贝的情感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;颜玉白低头看向苗宝贝那苍白的脸，悲怆地凝望着苗老头，忽而跪下，“岳父大人，我不能失去宝宝，我再也不能忍受再次失去她的痛苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗老头轻闭眼，微微松开了紧攥的拳头。颜玉白见此，立即踹开门，往卧室去了。洛薇看着窝在颜玉白怀里的..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 114284,
  'size_k' => 115,
  'size_w' => 11.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/608/608s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/608.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=608&cid=72382',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=344&cid=72404',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=608',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=608',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=608',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6656.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%F5%D6%F1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%B2%C7%B0%C3%F7%D4%C2%B9%E2%A3%AC%C3%C0%C4%D0%CB%AF%B5%C3%CF%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F608.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '苗疆少女',
      'tagencode' => '%C3%E7%BD%AE%C9%D9%C5%AE',
    ),
    3 => 
    array (
      'tagname' => '独情蛊',
      'tagencode' => '%B6%C0%C7%E9%B9%C6',
    ),
    4 => 
    array (
      'tagname' => '忠贞',
      'tagencode' => '%D6%D2%D5%EA',
    ),
    5 => 
    array (
      'tagname' => '苗疆',
      'tagencode' => '%C3%E7%BD%AE',
    ),
    6 => 
    array (
      'tagname' => '冰山',
      'tagencode' => '%B1%F9%C9%BD',
    ),
    7 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    8 => 
    array (
      'tagname' => '苗族',
      'tagencode' => '%C3%E7%D7%E5',
    ),
    9 => 
    array (
      'tagname' => '下蛊',
      'tagencode' => '%CF%C2%B9%C6',
    ),
    10 => 
    array (
      'tagname' => '冷漠',
      'tagencode' => '%C0%E4%C4%AE',
    ),
    11 => 
    array (
      'tagname' => '蛊毒',
      'tagencode' => '%B9%C6%B6%BE',
    ),
    12 => 
    array (
      'tagname' => '小白',
      'tagencode' => '%D0%A1%B0%D7',
    ),
    13 => 
    array (
      'tagname' => '扑克脸',
      'tagencode' => '%C6%CB%BF%CB%C1%B3',
    ),
    14 => 
    array (
      'tagname' => '腹黑',
      'tagencode' => '%B8%B9%BA%DA',
    ),
    15 => 
    array (
      'tagname' => '公子哥',
      'tagencode' => '%B9%AB%D7%D3%B8%E7',
    ),
    16 => 
    array (
      'tagname' => '小说',
      'tagencode' => '%D0%A1%CB%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
