array (
  'meta_keywords' => '阴婚缠身：鬼夫在下 青慕 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=609&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=609&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=609&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=609&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '609',
    'siteid' => '3',
    'sourceid' => '104',
    'postdate' => '1468891645',
    'lastupdate' => '1478954234',
    'articlename' => '阴婚缠身：鬼夫在下',
    'articlecode' => 'yinhunchanshen_guifuzaixia',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '6182',
    'author' => '青慕',
    'posterid' => '3128',
    'poster' => '凤栖梧',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '我能见鬼，可只是能看到他们而已！<br />
自从一只号称鬼王的家伙上了我的身之后，我就成为了众鬼眼中的香饽饽，谁都想从我这里分一杯羹……<br />
鬼王对我说，只要我嫁给他，我成为鬼王夫人，便无鬼敢动我！<br />
我拒绝，他就夜夜爬上我的床！<br />
冥婚那日，十里白幡，众鬼开道……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87616',
    'lastchapter' => '第78章 如果她也要死呢',
    'lastsummary' => '',
    'chapters' => '234',
    'size' => '1070544',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1478998680',
    'dayvisit' => '26',
    'weekvisit' => '559',
    'monthvisit' => '8528',
    'allvisit' => '36407',
    'lastvote' => '1470216374',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '3',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1470453044',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1470133064',
    'freesize' => '1070544',
    'isvip' => '签约',
    'viptime' => '1478954234',
    'vipid' => '345',
    'vippubid' => '0',
    'vipchapters' => '202',
    'vipsize' => '999890',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107704',
    'vipchapter' => '第234章棺材里',
    'vipsummary' => '茶壶的柄直接断在了我的手里，而断了之后，像是纸张一样瘫在了我的手上。<br />
而那个之前被我倒了一杯茶的水杯已经摊在了桌子上，那些水竟直接将桌面给打湿，随后可以看到桌面直接要裂开了一般。<br />
“这……是怎么回事儿？”我忍不住惊呼出声，随后愣愣得看着眼前的一切。<br />
偏巧这个时候，我似乎听到了有人在叫我的名字。<br />
“乔然……乔然……你在哪儿？”<br />
那声音听上?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 535272,
    'size_k' => 536,
    'size_w' => 53.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/609.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609&cid=87616',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=345&cid=107704',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=609',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=609',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=609',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6182.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E0%C4%BD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%F5%BB%E9%B2%F8%C9%ED%A3%BA%B9%ED%B7%F2%D4%DA%CF%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F609.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '609',
  'siteid' => '3',
  'sourceid' => '104',
  'postdate' => '1468891645',
  'lastupdate' => '1478954234',
  'articlename' => '阴婚缠身：鬼夫在下',
  'articlecode' => 'yinhunchanshen_guifuzaixia',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '6182',
  'author' => '青慕',
  'posterid' => '3128',
  'poster' => '凤栖梧',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '我能见鬼，可只是能看到他们而已！<br />
自从一只号称鬼王的家伙上了我的身之后，我就成为了众鬼眼中的香饽饽，谁都想从我这里分一杯羹……<br />
鬼王对我说，只要我嫁给他，我成为鬼王夫人，便无鬼敢动我！<br />
我拒绝，他就夜夜爬上我的床！<br />
冥婚那日，十里白幡，众鬼开道……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87616',
  'lastchapter' => '第78章 如果她也要死呢',
  'lastsummary' => '',
  'chapters' => '234',
  'size' => '1070544',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1478998680',
  'dayvisit' => '26',
  'weekvisit' => '559',
  'monthvisit' => '8528',
  'allvisit' => '36407',
  'lastvote' => '1470216374',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '3',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1470453044',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1470133064',
  'freesize' => '1070544',
  'isvip' => '签约',
  'viptime' => '1478954234',
  'vipid' => '345',
  'vippubid' => '0',
  'vipchapters' => '202',
  'vipsize' => '999890',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107704',
  'vipchapter' => '第234章棺材里',
  'vipsummary' => '茶壶的柄直接断在了我的手里，而断了之后，像是纸张一样瘫在了我的手上。<br />
而那个之前被我倒了一杯茶的水杯已经摊在了桌子上，那些水竟直接将桌面给打湿，随后可以看到桌面直接要裂开了一般。<br />
“这……是怎么回事儿？”我忍不住惊呼出声，随后愣愣得看着眼前的一切。<br />
偏巧这个时候，我似乎听到了有人在叫我的名字。<br />
“乔然……乔然……你在哪儿？”<br />
那声音听上?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 535272,
  'size_k' => 536,
  'size_w' => 53.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/609/609s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/609.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=609&cid=87616',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=345&cid=107704',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=609',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=609',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=609',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6182.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E0%C4%BD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%F5%BB%E9%B2%F8%C9%ED%A3%BA%B9%ED%B7%F2%D4%DA%CF%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F609.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
