array (
  'meta_keywords' => '若爱，请许我今世今生 眷尔 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=610&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=610&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=610&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=610&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '610',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468899660',
    'lastupdate' => '1468899660',
    'articlename' => '若爱，请许我今世今生',
    'articlecode' => 'ruoai_qingxuwojinshijinsheng',
    'backupname' => '',
    'keywords' => '言情 友情 亲情 小说 虐恋 青春 爱情 茹亚楠 陈海洋 梁书维 安然 张蔚蓝 文学 青春文学',
    'roles' => '',
    'initial' => 'R',
    'authorid' => '0',
    'author' => '眷尔',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '21岁女主角张蔚蓝因父母车祸原因成为孤儿，内心的爱和呵护在23岁那年遇见孤儿院的安然而爆发，人生便就此注定。注定与安然的相濡以沫，注定与梁书维的相忘于江湖。可惜好景不长，安然因为对陈海洋的深爱，同时与蔚蓝发生纠纷，产生隔阂，最后自杀去世。而蔚蓝却一直耿耿于怀自己的失职照顾而使事情发展到无可挽回的地步……<br />
难道爱真的是人这一生中最冠冕堂皇的理由？而这个理由却让人生亦让人死？<br />
本书淋漓尽致展现了张蔚蓝和安然的亲情之爱，安然与陈海洋的刻骨铭心之爱，张蔚蓝与梁书维的细水长流之爱，以及茹亚楠对张蔚蓝的友情之爱。',
    'notice' => '眷尔，真名张靓，90后新锐作家。<br />
《花寂年》杂志副主编。苏州作家协会会员，江苏青年书法家协会会员。是一个爱追求完美的奇葩处女座，觉得每个人都是说不完的故事，每个家庭都有一段无法诉说的坎坷过程。短篇小说散见于《意林》《新青年》《年轻人》等期刊中，多部作品选入《春天里的第一缕阳光系列丛书》《中国六十年文学精品荟萃》《智慧背囊》《时文荟萃》《意林系列图书》等选本合集出版。<br />
个人已出版图书《若爱，请许我今世今生》《栀子花开》等。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72463',
    'lastchapter' => '第一章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;佛曰：万发缘生，皆系缘份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遇见，便是花开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你若不来，我便不老。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此生，莫忘归来，便好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;——楔子<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;【零】每一次微笑是悲伤掩盖的最佳证据<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秋冬的天气特别寒冷，叶子归根，秋风干涩涩地打在我的脸上，又疼又冷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下班的时间又向后拖了半个小时。我瞧了瞧手上钟表显示的六点，不禁暗暗地皱了皱嘴巴。于是将自己的皮包移到肩膀处，脖子一缩，将褐色大衣把自己包裹得再紧一点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车子来来往往地穿行，都到了下班高峰期了。我突然想起，其实如若不是我的死党——茹亚楠，推..',
    'chapters' => '9',
    'size' => '290220',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478850756',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '208',
    'allvisit' => '25138',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468899922',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '290220',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '346',
    'vippubid' => '0',
    'vipchapters' => '8',
    'vipsize' => '270926',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72471',
    'vipchapter' => '第九章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你愿意什么？”蔚蓝姐的话变得温柔起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实我什么优点都没有，就像是一根火柴的微光，”梁书维抱得更紧了一点，“是你，让我渐渐觉得，我这根小小火柴的光芒，也可以温暖你整颗心脏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蔚蓝姐感动地差一点哭了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人世间有太多烦恼忧愁，会有那么一刻觉得自己老了，二十几岁，就已经老了。因为曾经的自己不知道跑到哪里去了，但是我们始终相信着，不管你的生命里出现过多少人，不管那些人伤害过你多少次，你们总是有着甜蜜的过往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而青春，就在这些挽回不去的过往里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;丢了。<br />
<br />
&nbsp;&nbsp;..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '2',
    'giftnums' => '2',
    'redrose' => '2',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 145110,
    'size_k' => 146,
    'size_w' => 14.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/610.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610&cid=72463',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=346&cid=72471',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=610',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=610',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=610',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%EC%B6%FB',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%EC%B6%FB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%F4%B0%AE%A3%AC%C7%EB%D0%ED%CE%D2%BD%F1%CA%C0%BD%F1%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F610.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '610',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468899660',
  'lastupdate' => '1468899660',
  'articlename' => '若爱，请许我今世今生',
  'articlecode' => 'ruoai_qingxuwojinshijinsheng',
  'backupname' => '',
  'keywords' => '言情 友情 亲情 小说 虐恋 青春 爱情 茹亚楠 陈海洋 梁书维 安然 张蔚蓝 文学 青春文学',
  'roles' => '',
  'initial' => 'R',
  'authorid' => '0',
  'author' => '眷尔',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '21岁女主角张蔚蓝因父母车祸原因成为孤儿，内心的爱和呵护在23岁那年遇见孤儿院的安然而爆发，人生便就此注定。注定与安然的相濡以沫，注定与梁书维的相忘于江湖。可惜好景不长，安然因为对陈海洋的深爱，同时与蔚蓝发生纠纷，产生隔阂，最后自杀去世。而蔚蓝却一直耿耿于怀自己的失职照顾而使事情发展到无可挽回的地步……<br />
难道爱真的是人这一生中最冠冕堂皇的理由？而这个理由却让人生亦让人死？<br />
本书淋漓尽致展现了张蔚蓝和安然的亲情之爱，安然与陈海洋的刻骨铭心之爱，张蔚蓝与梁书维的细水长流之爱，以及茹亚楠对张蔚蓝的友情之爱。',
  'notice' => '眷尔，真名张靓，90后新锐作家。<br />
《花寂年》杂志副主编。苏州作家协会会员，江苏青年书法家协会会员。是一个爱追求完美的奇葩处女座，觉得每个人都是说不完的故事，每个家庭都有一段无法诉说的坎坷过程。短篇小说散见于《意林》《新青年》《年轻人》等期刊中，多部作品选入《春天里的第一缕阳光系列丛书》《中国六十年文学精品荟萃》《智慧背囊》《时文荟萃》《意林系列图书》等选本合集出版。<br />
个人已出版图书《若爱，请许我今世今生》《栀子花开》等。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72463',
  'lastchapter' => '第一章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;佛曰：万发缘生，皆系缘份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遇见，便是花开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你若不来，我便不老。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此生，莫忘归来，便好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;——楔子<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;【零】每一次微笑是悲伤掩盖的最佳证据<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秋冬的天气特别寒冷，叶子归根，秋风干涩涩地打在我的脸上，又疼又冷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下班的时间又向后拖了半个小时。我瞧了瞧手上钟表显示的六点，不禁暗暗地皱了皱嘴巴。于是将自己的皮包移到肩膀处，脖子一缩，将褐色大衣把自己包裹得再紧一点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车子来来往往地穿行，都到了下班高峰期了。我突然想起，其实如若不是我的死党——茹亚楠，推..',
  'chapters' => '9',
  'size' => '290220',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478850756',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '208',
  'allvisit' => '25138',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468899922',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '290220',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '346',
  'vippubid' => '0',
  'vipchapters' => '8',
  'vipsize' => '270926',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72471',
  'vipchapter' => '第九章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你愿意什么？”蔚蓝姐的话变得温柔起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实我什么优点都没有，就像是一根火柴的微光，”梁书维抱得更紧了一点，“是你，让我渐渐觉得，我这根小小火柴的光芒，也可以温暖你整颗心脏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蔚蓝姐感动地差一点哭了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人世间有太多烦恼忧愁，会有那么一刻觉得自己老了，二十几岁，就已经老了。因为曾经的自己不知道跑到哪里去了，但是我们始终相信着，不管你的生命里出现过多少人，不管那些人伤害过你多少次，你们总是有着甜蜜的过往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而青春，就在这些挽回不去的过往里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;丢了。<br />
<br />
&nbsp;&nbsp;..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '2',
  'giftnums' => '2',
  'redrose' => '2',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 145110,
  'size_k' => 146,
  'size_w' => 14.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/610/610s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/610.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=610&cid=72463',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=346&cid=72471',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=610',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=610',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=610',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%EC%B6%FB',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%EC%B6%FB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%F4%B0%AE%A3%AC%C7%EB%D0%ED%CE%D2%BD%F1%CA%C0%BD%F1%C9%FA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F610.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '友情',
      'tagencode' => '%D3%D1%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '亲情',
      'tagencode' => '%C7%D7%C7%E9',
    ),
    3 => 
    array (
      'tagname' => '小说',
      'tagencode' => '%D0%A1%CB%B5',
    ),
    4 => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
    5 => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
    6 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    7 => 
    array (
      'tagname' => '茹亚楠',
      'tagencode' => '%C8%E3%D1%C7%E9%AA',
    ),
    8 => 
    array (
      'tagname' => '陈海洋',
      'tagencode' => '%B3%C2%BA%A3%D1%F3',
    ),
    9 => 
    array (
      'tagname' => '梁书维',
      'tagencode' => '%C1%BA%CA%E9%CE%AC',
    ),
    10 => 
    array (
      'tagname' => '安然',
      'tagencode' => '%B0%B2%C8%BB',
    ),
    11 => 
    array (
      'tagname' => '张蔚蓝',
      'tagencode' => '%D5%C5%CE%B5%C0%B6',
    ),
    12 => 
    array (
      'tagname' => '文学',
      'tagencode' => '%CE%C4%D1%A7',
    ),
    13 => 
    array (
      'tagname' => '青春文学',
      'tagencode' => '%C7%E0%B4%BA%CE%C4%D1%A7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
