array (
  'meta_keywords' => '是夏夏吗 米星星 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=611&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=611&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=611&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=611&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '611',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468900459',
    'lastupdate' => '1468900459',
    'articlename' => '是夏夏吗',
    'articlecode' => 'shixiaxiama',
    'backupname' => '',
    'keywords' => '青春爱情 青涩 懵懂 校园 命运',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '6642',
    'author' => '米星星',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '父母双亡，带着弟弟任之焕与姑姑任美兰一起住，与spring珠宝商的独子尹彬结下不解之缘，而姑姑的女儿郑晚娜倾心于尹彬，郑晚娜想方设法陷害任之夏，并和母亲联合将任之夏和任之焕丢在火车站，将她赶出了家门，同一天，任之夏被尹彬的母亲夏敏雯逼着写下一封分手信，尹彬被母亲逼着去美国，想在临走之前给夏夏一枚亲手设计的钻戒，一封分手信却将他打个措手不及，伤心欲绝的尹彬去了美国。<br />
雨夜里，任之夏痛心欲绝，雨夜重生——任雨儿，夏夏带着任之焕被玉宁保育院收留，在这里遇见了一个封闭的男孩，渐渐的走进他的心里，他就是之后的当红明星池诺。七年后，尹彬回国，郑晚娜也成为一名当红巨星；而在这几年中与任之夏有着忘年之交的老爷爷，却正是spring的董事长，尹董去世将财产留给任之夏，夏夏再次和尹彬再阔别七年后再次有了交集。<br />
',
    'notice' => '米星星，90后青春小说作家，典型的天蝎座女生，曾是晋江文学网的签约作家后解约，已出版的小说有《是夏夏吗》、《茉莉第三街》，也在各大杂志上刊登过短篇小说。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72473',
    'lastchapter' => '第2章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;尚德小学。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一群童真可爱的小学生，背着卡通书包蹦蹦跳跳的出了校门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夕阳斜照。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;茂密的大树下，是夕阳斑驳的光影，任之夏站在大树下，会心的微笑着，她每天最开心的，就是到这里接之焕回家，而当她每天站在校门外，看到小朋友们满脸幸福的奔向自己的亲人时，她心里就会不自觉的筑起一道温暖的墙，也或许只有在这里，她才能从旁人幸福的神情里，找回失去了多年的家人温情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天色渐渐的变暗，校园里也不再走出小朋友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了很久的任之夏始终没有见到之焕，她一时心急的向校园里跑去，好像只用了..',
    'chapters' => '23',
    'size' => '309568',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478923499',
    'dayvisit' => '65',
    'weekvisit' => '390',
    'monthvisit' => '793',
    'allvisit' => '17673',
    'lastvote' => '1469537429',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '1',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468901626',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '309568',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '347',
    'vippubid' => '0',
    'vipchapters' => '21',
    'vipsize' => '291855',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72495',
    'vipchapter' => '第23章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;翌日，天朗气清，医院的某个加护病房里，窗户打开着，空气里夹杂着雨后湿润的青草香，淡淡的，很舒服。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许是身份终于被任之夏知道后，心情格外的释然，所以尹柏琛起的很早，也正是见老爷心情好，所以欧管家一直没有提及，昨晚少爷并没有把任之夏带回尹家的事，只是当尹柏琛主动向他提出想要见任之夏的时候，他才不得不禀告了事实，当然，听到此消息后的尹柏琛，是惊怒不已的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后，尹柏琛便命令欧管家务必将尹彬带来医院，而因为上午尹彬正在参加Spring一个重要的临时会议，所以当欧管家把尹彬带来医院的时候，已..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 154784,
    'size_k' => 155,
    'size_w' => 15.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/611.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611&cid=72473',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=347&cid=72495',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=611',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=611',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=611',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6642.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%D7%D0%C7%D0%C7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%C7%CF%C4%CF%C4%C2%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F611.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '611',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468900459',
  'lastupdate' => '1468900459',
  'articlename' => '是夏夏吗',
  'articlecode' => 'shixiaxiama',
  'backupname' => '',
  'keywords' => '青春爱情 青涩 懵懂 校园 命运',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '6642',
  'author' => '米星星',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '父母双亡，带着弟弟任之焕与姑姑任美兰一起住，与spring珠宝商的独子尹彬结下不解之缘，而姑姑的女儿郑晚娜倾心于尹彬，郑晚娜想方设法陷害任之夏，并和母亲联合将任之夏和任之焕丢在火车站，将她赶出了家门，同一天，任之夏被尹彬的母亲夏敏雯逼着写下一封分手信，尹彬被母亲逼着去美国，想在临走之前给夏夏一枚亲手设计的钻戒，一封分手信却将他打个措手不及，伤心欲绝的尹彬去了美国。<br />
雨夜里，任之夏痛心欲绝，雨夜重生——任雨儿，夏夏带着任之焕被玉宁保育院收留，在这里遇见了一个封闭的男孩，渐渐的走进他的心里，他就是之后的当红明星池诺。七年后，尹彬回国，郑晚娜也成为一名当红巨星；而在这几年中与任之夏有着忘年之交的老爷爷，却正是spring的董事长，尹董去世将财产留给任之夏，夏夏再次和尹彬再阔别七年后再次有了交集。<br />
',
  'notice' => '米星星，90后青春小说作家，典型的天蝎座女生，曾是晋江文学网的签约作家后解约，已出版的小说有《是夏夏吗》、《茉莉第三街》，也在各大杂志上刊登过短篇小说。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72473',
  'lastchapter' => '第2章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;尚德小学。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一群童真可爱的小学生，背着卡通书包蹦蹦跳跳的出了校门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夕阳斜照。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;茂密的大树下，是夕阳斑驳的光影，任之夏站在大树下，会心的微笑着，她每天最开心的，就是到这里接之焕回家，而当她每天站在校门外，看到小朋友们满脸幸福的奔向自己的亲人时，她心里就会不自觉的筑起一道温暖的墙，也或许只有在这里，她才能从旁人幸福的神情里，找回失去了多年的家人温情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天色渐渐的变暗，校园里也不再走出小朋友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了很久的任之夏始终没有见到之焕，她一时心急的向校园里跑去，好像只用了..',
  'chapters' => '23',
  'size' => '309568',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478923499',
  'dayvisit' => '65',
  'weekvisit' => '390',
  'monthvisit' => '793',
  'allvisit' => '17673',
  'lastvote' => '1469537429',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '1',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468901626',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '309568',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '347',
  'vippubid' => '0',
  'vipchapters' => '21',
  'vipsize' => '291855',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72495',
  'vipchapter' => '第23章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;翌日，天朗气清，医院的某个加护病房里，窗户打开着，空气里夹杂着雨后湿润的青草香，淡淡的，很舒服。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许是身份终于被任之夏知道后，心情格外的释然，所以尹柏琛起的很早，也正是见老爷心情好，所以欧管家一直没有提及，昨晚少爷并没有把任之夏带回尹家的事，只是当尹柏琛主动向他提出想要见任之夏的时候，他才不得不禀告了事实，当然，听到此消息后的尹柏琛，是惊怒不已的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后，尹柏琛便命令欧管家务必将尹彬带来医院，而因为上午尹彬正在参加Spring一个重要的临时会议，所以当欧管家把尹彬带来医院的时候，已..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 154784,
  'size_k' => 155,
  'size_w' => 15.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/611/611s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/611.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=611&cid=72473',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=347&cid=72495',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=611',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=611',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=611',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6642.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%D7%D0%C7%D0%C7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%C7%CF%C4%CF%C4%C2%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F611.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '青春爱情',
      'tagencode' => '%C7%E0%B4%BA%B0%AE%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '青涩',
      'tagencode' => '%C7%E0%C9%AC',
    ),
    2 => 
    array (
      'tagname' => '懵懂',
      'tagencode' => '%E3%C2%B6%AE',
    ),
    3 => 
    array (
      'tagname' => '校园',
      'tagencode' => '%D0%A3%D4%B0',
    ),
    4 => 
    array (
      'tagname' => '命运',
      'tagencode' => '%C3%FC%D4%CB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
