array (
  'meta_keywords' => '眼泪划过时光海 沐尔 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=612&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=612&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=612&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=612&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '612',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1468902093',
    'lastupdate' => '1468902093',
    'articlename' => '眼泪划过时光海',
    'articlecode' => 'yanleihuaguoshiguanghai',
    'backupname' => '',
    'keywords' => '言情 都市 等待 挽歌 言情小说 青春 爱情 青春文学 爱情大过天 小说',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '6655',
    'author' => '沐尔',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;他一定都不曾体会过等待的残酷，所以才会那么轻易地说分开。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
　　她曾以为自己和曲少恩会有更明亮的未来，却没想到一切在瞬间变化。<br />
　　一气之下她提出分手，并因为戏言和他的好友霍君延在一起。<br />
　　那时她只单纯地想伤害曲少恩，却没有想到命运却让他们天涯相隔。<br />
　　后来的她才明白，所有的等待都敌不过时间，都会一步一步走到物是人非的境地。<br />
　　沈栀晴爱曲少恩，早已成为青春里最美好的曾经……<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一本有着最深情、最执着的男主等待与守护爱的青春校园小说。',
    'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '72496',
    'lastchapter' => '第01 章 我是个缺心眼的姑娘',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我叫沈栀晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栀子花开时出生，沈和曾说生我的妈妈特别喜欢这花，希望她的女儿也如栀子花般的纯白无暇、淡雅素净。只可惜，要是被她看到现在我长成的样子，一定会后悔在我五岁的时候离家出走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为，我有点流氓的气息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直以来我都信奉着一条真理：这个世界上有一个人爱你，你就得活下去，有一群人爱你，你得告诉自己，你无敌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嗯，我很无敌，所以我活到现在还完好无损，没有缺胳膊断腿的惨像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过去的生活里，我也只要死不活了那么一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那一年我19岁，正好赶上有个我喜欢得不得..',
    'chapters' => '16',
    'size' => '298634',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478935004',
    'dayvisit' => '13',
    'weekvisit' => '78',
    'monthvisit' => '156',
    'allvisit' => '25068',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '6',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1468902593',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '0',
    'freesize' => '298634',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '348',
    'vippubid' => '0',
    'vipchapters' => '15',
    'vipsize' => '281517',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '72511',
    'vipchapter' => '第15章 番外 再见，昨天',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;再次回国已经是七年后，受乔锦年邀请，回来看一场好戏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;飞机降落时，我的心里就已经有了一种久违了的感觉，我身边的人一脸期待，“就要看到妤笙的爸爸了，真开心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个在我面前永远带着可爱一面的男人，是我的丈夫，蒋恒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚到出口，就看到了乔锦年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她向我挥挥手，我和蒋恒加快了脚步向她走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很奇怪，从前与她并不是多亲密的朋友，中间间隔着多年未见，可就是在人群中一眼就认出了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乔锦年出狱后，开始了与我的联系，她是我在国外唯一与国内联系的朋友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她可变得比..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 149317,
    'size_k' => 150,
    'size_w' => 14.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/612.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612&cid=72496',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=348&cid=72511',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=612',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=612',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=612',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6655.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%DB%C0%E1%BB%AE%B9%FD%CA%B1%B9%E2%BA%A3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F612.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '612',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1468902093',
  'lastupdate' => '1468902093',
  'articlename' => '眼泪划过时光海',
  'articlecode' => 'yanleihuaguoshiguanghai',
  'backupname' => '',
  'keywords' => '言情 都市 等待 挽歌 言情小说 青春 爱情 青春文学 爱情大过天 小说',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '6655',
  'author' => '沐尔',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;他一定都不曾体会过等待的残酷，所以才会那么轻易地说分开。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
　　她曾以为自己和曲少恩会有更明亮的未来，却没想到一切在瞬间变化。<br />
　　一气之下她提出分手，并因为戏言和他的好友霍君延在一起。<br />
　　那时她只单纯地想伤害曲少恩，却没有想到命运却让他们天涯相隔。<br />
　　后来的她才明白，所有的等待都敌不过时间，都会一步一步走到物是人非的境地。<br />
　　沈栀晴爱曲少恩，早已成为青春里最美好的曾经……<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一本有着最深情、最执着的男主等待与守护爱的青春校园小说。',
  'notice' => '沐尔，90后，射手座，热爱写作，心怀美好。已出版上市小说《遇见你是加了糖的思念》、《时光亲吻过她的悲伤》、《眼泪划过时光海》、《情歌不死爱成风》、《若爱倾城》。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '72496',
  'lastchapter' => '第01 章 我是个缺心眼的姑娘',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我叫沈栀晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栀子花开时出生，沈和曾说生我的妈妈特别喜欢这花，希望她的女儿也如栀子花般的纯白无暇、淡雅素净。只可惜，要是被她看到现在我长成的样子，一定会后悔在我五岁的时候离家出走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为，我有点流氓的气息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直以来我都信奉着一条真理：这个世界上有一个人爱你，你就得活下去，有一群人爱你，你得告诉自己，你无敌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嗯，我很无敌，所以我活到现在还完好无损，没有缺胳膊断腿的惨像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过去的生活里，我也只要死不活了那么一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那一年我19岁，正好赶上有个我喜欢得不得..',
  'chapters' => '16',
  'size' => '298634',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478935004',
  'dayvisit' => '13',
  'weekvisit' => '78',
  'monthvisit' => '156',
  'allvisit' => '25068',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '6',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1468902593',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '0',
  'freesize' => '298634',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '348',
  'vippubid' => '0',
  'vipchapters' => '15',
  'vipsize' => '281517',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '72511',
  'vipchapter' => '第15章 番外 再见，昨天',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;再次回国已经是七年后，受乔锦年邀请，回来看一场好戏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;飞机降落时，我的心里就已经有了一种久违了的感觉，我身边的人一脸期待，“就要看到妤笙的爸爸了，真开心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个在我面前永远带着可爱一面的男人，是我的丈夫，蒋恒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚到出口，就看到了乔锦年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她向我挥挥手，我和蒋恒加快了脚步向她走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很奇怪，从前与她并不是多亲密的朋友，中间间隔着多年未见，可就是在人群中一眼就认出了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乔锦年出狱后，开始了与我的联系，她是我在国外唯一与国内联系的朋友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她可变得比..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 149317,
  'size_k' => 150,
  'size_w' => 14.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/612/612s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/612.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=612&cid=72496',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=348&cid=72511',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=612',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=612',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=612',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6655.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E3%E5%B6%FB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%DB%C0%E1%BB%AE%B9%FD%CA%B1%B9%E2%BA%A3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F612.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    2 => 
    array (
      'tagname' => '等待',
      'tagencode' => '%B5%C8%B4%FD',
    ),
    3 => 
    array (
      'tagname' => '挽歌',
      'tagencode' => '%CD%EC%B8%E8',
    ),
    4 => 
    array (
      'tagname' => '言情小说',
      'tagencode' => '%D1%D4%C7%E9%D0%A1%CB%B5',
    ),
    5 => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
    6 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    7 => 
    array (
      'tagname' => '青春文学',
      'tagencode' => '%C7%E0%B4%BA%CE%C4%D1%A7',
    ),
    8 => 
    array (
      'tagname' => '爱情大过天',
      'tagencode' => '%B0%AE%C7%E9%B4%F3%B9%FD%CC%EC',
    ),
    9 => 
    array (
      'tagname' => '小说',
      'tagencode' => '%D0%A1%CB%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
