array (
  'meta_keywords' => '纯禽恶少蜜宠妻约 夏寐 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=654&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=654&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=654&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=654&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '654',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480705811',
    'lastupdate' => '1480705845',
    'articlename' => '纯禽恶少蜜宠妻约',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '夏寐',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说纯禽恶少蜜宠妻约简介：&nbsp;&nbsp;&nbsp;&nbsp;34热爱生活吃瓜群众一枚，但自背负家族巨额债务的她签下那份该死契约，从此便走上砧板，开始任锐少鱼肉的日子……<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为，在高中死对头“志苏锐心中，自己只是蝼蚁女佣，最多被他挨挨碰碰，吃吃豆腐。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但为何每人都说他对自己情深似海，宠入骨髓？<br />
&nbsp;&nbsp;&nbsp;&nbsp;诸事多磨，直到繁花看尽，锐少为她满山遍野种上向日葵时，<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人英俊如斯，薄唇微勾，这才开口，“傻瓜，还没看懂？我所有锋锐，早因你刹那的顾盼而磨平。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;【锐少使用说明书】<br />
&nbsp;&nbsp;&nbsp;&nbsp;当你阅读此文字时，你已进入苏锐与顾盼的契约恋爱世界。由于男女主身心干净，一生一世一双人，无法让你插足，为免你太爱男主，患上失眠、花痴等症状，请仔细阅读说明书。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【学名】苏锐<br />
&nbsp;&nbsp;&nbsp;&nbsp;【化学名称】腹黑大魔王<br />
&nbsp;&nbsp;&nbsp;&nbsp;【成分】26岁，紫眸俊男，钻石级单身汉，内敛闷骚。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【理化性质】酸性，爱情上稍有洁癖，遇顾盼身旁任意男即变酸！<br />
&nbsp;&nbsp;&nbsp;&nbsp;【性状】表内不一，不易看清本质，爱你不一定说出口，但不影响继续使用。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【功能主治】暖宠必备，适用于女性单身狗。只会为顾盼服务，为了她，可变成无节操，无底线，无原则的三无妻奴。案例：<br />
&nbsp;&nbsp;&nbsp;&nbsp;她生理期时，他自动送上暖暖包，跑去买热可可；<br />
&nbsp;&nbsp;&nbsp;&nbsp;心情不笔趣阁女总裁的全能兵王http://www.sbiquge.com时，他会一直跟着后面，只怕她一人漫步会迷糊撞墙；<br />
&nbsp;&nbsp;&nbsp;&nbsp;打烂价值上亿的古董时，他虽心如刀割却只笑笑，“烂得笔趣阁女总裁的全能兵王http://www.sbiquge.com！破玩儿。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;【特别提示】苏锐顾盼两者融合，女强男强，无脑残无虐，有虐渣暴爽功效。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【副神作书吧www.szxs8.com用】传闻锐少天生命硬，克死父母，近身者各安天命。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【用法用量】一生一片，只对顾盼有效。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【禁忌症】无法与其他男性并存。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【注意事项】持久力极强，勿过分挑逗。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【贮藏】与顾盼过夜存放，两者会发生激烈化学反应。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【包装】表面带有性切勿被迷惑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【特别说明】一生无法退货！<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场：<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说，顾盼向来爱笔趣阁女总裁的全能兵王http://www.sbiquge.com男色，于是……<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼三岁，他们第一次见面。<br />
&nbsp;&nbsp;&nbsp;&nbsp;小色女扑了上来，扒开苏锐裤子，“哥哥，我要看你的鸡鸡。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;六岁的苏锐惊恐了，“为什么？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“因为你帅，鸡鸡也应该是只帅鸡鸡。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;高中，他们同班。<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼拿到平生第一张三级光碟，正要放入书包。<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然，手被苏锐抽出来了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;美少年板着脸，“你看这些干嘛？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼讪笑，“我生物学得不笔趣阁女总裁的全能兵王http://www.sbiquge.com，想研究一下男性人体构造。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏锐一手揣起她，往更衣室走。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“过来，我给你看，要看，你只能看我的。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;八年后，久别重逢。<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次，换成了苏锐扑了过来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人紧绷的身体，让顾盼脸煞通红，“喂，你不是弯的吗？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏锐狡然一笑，颠倒众生，“你不知道吗？我的弯，一生只有你能掰得直！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《纯禽恶少蜜宠妻约》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！纯禽恶少蜜宠妻约最新章节,纯禽恶少蜜宠妻约无弹窗,纯禽恶少蜜宠妻约全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《纯禽恶少蜜宠妻约》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：纯禽恶少蜜宠妻约最新章节,纯禽恶少蜜宠妻约无弹窗,纯禽恶少蜜宠妻约全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '216033',
    'lastchapter' => '第89章 宣示主权！众目下旖旎深吻！必看',
    'lastsummary' => '',
    'chapters' => '91',
    'size' => '659463',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484586740',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '39',
    'allvisit' => '65',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '',
    'typename' => '',
    'size_c' => 329732,
    'size_k' => 330,
    'size_w' => 33,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/654.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654&cid=216033',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=654',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=654',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=654',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%C3%C2',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%C3%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%BF%C7%DD%B6%F1%C9%D9%C3%DB%B3%E8%C6%DE%D4%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F654.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '654',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480705811',
  'lastupdate' => '1480705845',
  'articlename' => '纯禽恶少蜜宠妻约',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '夏寐',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说纯禽恶少蜜宠妻约简介：&nbsp;&nbsp;&nbsp;&nbsp;34热爱生活吃瓜群众一枚，但自背负家族巨额债务的她签下那份该死契约，从此便走上砧板，开始任锐少鱼肉的日子……<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为，在高中死对头“志苏锐心中，自己只是蝼蚁女佣，最多被他挨挨碰碰，吃吃豆腐。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但为何每人都说他对自己情深似海，宠入骨髓？<br />
&nbsp;&nbsp;&nbsp;&nbsp;诸事多磨，直到繁花看尽，锐少为她满山遍野种上向日葵时，<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人英俊如斯，薄唇微勾，这才开口，“傻瓜，还没看懂？我所有锋锐，早因你刹那的顾盼而磨平。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;【锐少使用说明书】<br />
&nbsp;&nbsp;&nbsp;&nbsp;当你阅读此文字时，你已进入苏锐与顾盼的契约恋爱世界。由于男女主身心干净，一生一世一双人，无法让你插足，为免你太爱男主，患上失眠、花痴等症状，请仔细阅读说明书。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【学名】苏锐<br />
&nbsp;&nbsp;&nbsp;&nbsp;【化学名称】腹黑大魔王<br />
&nbsp;&nbsp;&nbsp;&nbsp;【成分】26岁，紫眸俊男，钻石级单身汉，内敛闷骚。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【理化性质】酸性，爱情上稍有洁癖，遇顾盼身旁任意男即变酸！<br />
&nbsp;&nbsp;&nbsp;&nbsp;【性状】表内不一，不易看清本质，爱你不一定说出口，但不影响继续使用。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【功能主治】暖宠必备，适用于女性单身狗。只会为顾盼服务，为了她，可变成无节操，无底线，无原则的三无妻奴。案例：<br />
&nbsp;&nbsp;&nbsp;&nbsp;她生理期时，他自动送上暖暖包，跑去买热可可；<br />
&nbsp;&nbsp;&nbsp;&nbsp;心情不笔趣阁女总裁的全能兵王http://www.sbiquge.com时，他会一直跟着后面，只怕她一人漫步会迷糊撞墙；<br />
&nbsp;&nbsp;&nbsp;&nbsp;打烂价值上亿的古董时，他虽心如刀割却只笑笑，“烂得笔趣阁女总裁的全能兵王http://www.sbiquge.com！破玩儿。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;【特别提示】苏锐顾盼两者融合，女强男强，无脑残无虐，有虐渣暴爽功效。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【副神作书吧www.szxs8.com用】传闻锐少天生命硬，克死父母，近身者各安天命。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【用法用量】一生一片，只对顾盼有效。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【禁忌症】无法与其他男性并存。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【注意事项】持久力极强，勿过分挑逗。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【贮藏】与顾盼过夜存放，两者会发生激烈化学反应。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【包装】表面带有性切勿被迷惑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【特别说明】一生无法退货！<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场：<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说，顾盼向来爱笔趣阁女总裁的全能兵王http://www.sbiquge.com男色，于是……<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼三岁，他们第一次见面。<br />
&nbsp;&nbsp;&nbsp;&nbsp;小色女扑了上来，扒开苏锐裤子，“哥哥，我要看你的鸡鸡。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;六岁的苏锐惊恐了，“为什么？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“因为你帅，鸡鸡也应该是只帅鸡鸡。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;高中，他们同班。<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼拿到平生第一张三级光碟，正要放入书包。<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然，手被苏锐抽出来了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;美少年板着脸，“你看这些干嘛？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾盼讪笑，“我生物学得不笔趣阁女总裁的全能兵王http://www.sbiquge.com，想研究一下男性人体构造。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏锐一手揣起她，往更衣室走。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“过来，我给你看，要看，你只能看我的。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;**<br />
&nbsp;&nbsp;&nbsp;&nbsp;八年后，久别重逢。<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次，换成了苏锐扑了过来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人紧绷的身体，让顾盼脸煞通红，“喂，你不是弯的吗？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏锐狡然一笑，颠倒众生，“你不知道吗？我的弯，一生只有你能掰得直！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《纯禽恶少蜜宠妻约》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！纯禽恶少蜜宠妻约最新章节,纯禽恶少蜜宠妻约无弹窗,纯禽恶少蜜宠妻约全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《纯禽恶少蜜宠妻约》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：纯禽恶少蜜宠妻约最新章节,纯禽恶少蜜宠妻约无弹窗,纯禽恶少蜜宠妻约全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '216033',
  'lastchapter' => '第89章 宣示主权！众目下旖旎深吻！必看',
  'lastsummary' => '',
  'chapters' => '91',
  'size' => '659463',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484586740',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '39',
  'allvisit' => '65',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '',
  'typename' => '',
  'size_c' => 329732,
  'size_k' => 330,
  'size_w' => 33,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/654/654s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/654.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=654&cid=216033',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=654',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=654',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=654',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%C3%C2',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%C3%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%BF%C7%DD%B6%F1%C9%D9%C3%DB%B3%E8%C6%DE%D4%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F654.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)