array (
  'meta_keywords' => '痴缠不休：独宠娇萌妻 恋云云 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=661&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=661&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=661&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=661&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '661',
    'siteid' => '4',
    'sourceid' => '3515',
    'postdate' => '1458798167',
    'lastupdate' => '1468218940',
    'articlename' => '痴缠不休：独宠娇萌妻',
    'articlecode' => 'chichanbuxiu_duchongjiaomengqi',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '332',
    'author' => '恋云云',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '第一次见他，她不慎失足落水。<br />
第二次见他，她不幸反被下药。<br />
他们是八字不合，还是生生相克？<br />
为了建筑工程图，她抛下一切，不惜牺牲色相靠近他，却被这混蛋当场嫌弃。<br />
为了达成目的 ，她放下身段，悄悄潜入他家，却被这恶魔一语击破，立即扫地出门。<br />
为了工...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '83935',
    'lastchapter' => '第二十章：复杂的案情',
    'lastsummary' => '',
    'chapters' => '132',
    'size' => '557082',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478606244',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '91',
    'allvisit' => '4185',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1460079983',
    'freesize' => '557082',
    'isvip' => 'VIP',
    'viptime' => '1468218940',
    'vipid' => '400',
    'vippubid' => '0',
    'vipchapters' => '111',
    'vipsize' => '472708',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '84047',
    'vipchapter' => '第十章:结婚了也可以离婚',
    'vipsummary' => '“你觉得拼命抢夺一个原本就不属于你的订婚，有什么意义吗？”清冷的声音，没了一贯的漠然，也没了刚才的冰冷，平静的就像对待陌生人一样，毫无情感。<br />
“什……什么意思？”<br />
什么叫原本就不属于她？<br />
难道这一切都不是为她准备的，她只是在给别人做嫁衣吗？<br />
抬头望着台上的人，他们之间明明就只差了个台阶的高度，可此时他却让她觉得，他们之间是天堂与地狱??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 278541,
    'size_k' => 279,
    'size_w' => 27.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/661.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661&cid=83935',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=400&cid=84047',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=661',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=661',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=661',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/332.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%B5%D4%C6%D4%C6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%D5%B2%F8%B2%BB%D0%DD%A3%BA%B6%C0%B3%E8%BD%BF%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F661.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '661',
  'siteid' => '4',
  'sourceid' => '3515',
  'postdate' => '1458798167',
  'lastupdate' => '1468218940',
  'articlename' => '痴缠不休：独宠娇萌妻',
  'articlecode' => 'chichanbuxiu_duchongjiaomengqi',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '332',
  'author' => '恋云云',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '第一次见他，她不慎失足落水。<br />
第二次见他，她不幸反被下药。<br />
他们是八字不合，还是生生相克？<br />
为了建筑工程图，她抛下一切，不惜牺牲色相靠近他，却被这混蛋当场嫌弃。<br />
为了达成目的 ，她放下身段，悄悄潜入他家，却被这恶魔一语击破，立即扫地出门。<br />
为了工...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '83935',
  'lastchapter' => '第二十章：复杂的案情',
  'lastsummary' => '',
  'chapters' => '132',
  'size' => '557082',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478606244',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '91',
  'allvisit' => '4185',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1460079983',
  'freesize' => '557082',
  'isvip' => 'VIP',
  'viptime' => '1468218940',
  'vipid' => '400',
  'vippubid' => '0',
  'vipchapters' => '111',
  'vipsize' => '472708',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '84047',
  'vipchapter' => '第十章:结婚了也可以离婚',
  'vipsummary' => '“你觉得拼命抢夺一个原本就不属于你的订婚，有什么意义吗？”清冷的声音，没了一贯的漠然，也没了刚才的冰冷，平静的就像对待陌生人一样，毫无情感。<br />
“什……什么意思？”<br />
什么叫原本就不属于她？<br />
难道这一切都不是为她准备的，她只是在给别人做嫁衣吗？<br />
抬头望着台上的人，他们之间明明就只差了个台阶的高度，可此时他却让她觉得，他们之间是天堂与地狱??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 278541,
  'size_k' => 279,
  'size_w' => 27.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/661/661s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/661.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=661&cid=83935',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=400&cid=84047',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=661',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=661',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=661',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/332.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%B5%D4%C6%D4%C6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%D5%B2%F8%B2%BB%D0%DD%A3%BA%B6%C0%B3%E8%BD%BF%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F661.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
