array (
  'meta_keywords' => '总裁驾到：独宠萌妻 半日闲 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=664&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=664&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=664&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=664&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '664',
    'siteid' => '4',
    'sourceid' => '3522',
    'postdate' => '1459401017',
    'lastupdate' => '1477318415',
    'articlename' => '总裁驾到：独宠萌妻',
    'articlecode' => 'zongcaijiadao_duchongmengqi',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '6641',
    'author' => '半日闲',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '渣男劈腿，带着小三来秀恩爱，当她心中无措的时候，那个人一把揽过她的肩膀。<br />
<br />
“艾嘉，欺负你的人，我会加倍欺负回来。别想逃避我，你注定是我的女人。你需要我的保护！”<br />
<br />
开玩笑，出门有GPS，吃饭有速食，宝宝不需……你别过来!<br />
唔!<br />
……<br />
白总裁体力不错嘛...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '84641',
    'lastchapter' => '第二十章 别怕，有老师在',
    'lastsummary' => '',
    'chapters' => '471',
    'size' => '1911328',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1477366809',
    'dayvisit' => '39',
    'weekvisit' => '169',
    'monthvisit' => '2119',
    'allvisit' => '53607',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '7',
    'reviewsnum' => '1',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1460094302',
    'freesize' => '1911328',
    'isvip' => 'VIP',
    'viptime' => '1477318415',
    'vipid' => '403',
    'vippubid' => '0',
    'vipchapters' => '450',
    'vipsize' => '1830702',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '104793',
    'vipchapter' => '第四百七十一章 填补缺失的回忆',
    'vipsummary' => '白昱谦手脚麻利，很快就解开了盒子上的丝带，就在儿子即将打开盒子的那一瞬间，艾嘉目不转睛，白青宇激动的心都快跳到了嗓子眼。<br />
“切～怎么是一堆照片啊……”看着盒子里放的整整齐齐的一摞摞照片，谦谦的小嘴立马就撅了起来，就算他不缺礼物，但爸爸这么敷衍也让他有点不开心了。<br />
特别是谦谦看清楚盒子里的照片是自己后，更加无语了。这是要记录下他的一??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 955664,
    'size_k' => 956,
    'size_w' => 95.6,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/664.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664&cid=84641',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=403&cid=104793',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=664',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=664',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=664',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6641.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%EB%C8%D5%CF%D0',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%BC%DD%B5%BD%A3%BA%B6%C0%B3%E8%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F664.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '664',
  'siteid' => '4',
  'sourceid' => '3522',
  'postdate' => '1459401017',
  'lastupdate' => '1477318415',
  'articlename' => '总裁驾到：独宠萌妻',
  'articlecode' => 'zongcaijiadao_duchongmengqi',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '6641',
  'author' => '半日闲',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '渣男劈腿，带着小三来秀恩爱，当她心中无措的时候，那个人一把揽过她的肩膀。<br />
<br />
“艾嘉，欺负你的人，我会加倍欺负回来。别想逃避我，你注定是我的女人。你需要我的保护！”<br />
<br />
开玩笑，出门有GPS，吃饭有速食，宝宝不需……你别过来!<br />
唔!<br />
……<br />
白总裁体力不错嘛...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '84641',
  'lastchapter' => '第二十章 别怕，有老师在',
  'lastsummary' => '',
  'chapters' => '471',
  'size' => '1911328',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1477366809',
  'dayvisit' => '39',
  'weekvisit' => '169',
  'monthvisit' => '2119',
  'allvisit' => '53607',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '7',
  'reviewsnum' => '1',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1460094302',
  'freesize' => '1911328',
  'isvip' => 'VIP',
  'viptime' => '1477318415',
  'vipid' => '403',
  'vippubid' => '0',
  'vipchapters' => '450',
  'vipsize' => '1830702',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '104793',
  'vipchapter' => '第四百七十一章 填补缺失的回忆',
  'vipsummary' => '白昱谦手脚麻利，很快就解开了盒子上的丝带，就在儿子即将打开盒子的那一瞬间，艾嘉目不转睛，白青宇激动的心都快跳到了嗓子眼。<br />
“切～怎么是一堆照片啊……”看着盒子里放的整整齐齐的一摞摞照片，谦谦的小嘴立马就撅了起来，就算他不缺礼物，但爸爸这么敷衍也让他有点不开心了。<br />
特别是谦谦看清楚盒子里的照片是自己后，更加无语了。这是要记录下他的一??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 955664,
  'size_k' => 956,
  'size_w' => 95.6,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/664/664s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/664.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=664&cid=84641',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=403&cid=104793',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=664',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=664',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=664',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6641.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%EB%C8%D5%CF%D0',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%BC%DD%B5%BD%A3%BA%B6%C0%B3%E8%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F664.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
