array (
  'meta_keywords' => '六眼族 INSECT虫子 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=667&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=667&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=667&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=667&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '667',
    'siteid' => '4',
    'sourceid' => '3524',
    'postdate' => '1459920121',
    'lastupdate' => '1465367512',
    'articlename' => '六眼族',
    'articlecode' => 'liuyanzu',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'L',
    'authorid' => '4934',
    'author' => 'INSECT虫子',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '佛说一花一世界，一叶一如来。<br />
我们处在宇宙的中心，人生或死，阴司是否存在？<br />
轮回不断，我们的起源是否就是个惊天大阴谋？<br />
老一辈的人经常跟我讲，人在做天在看，所谓的天是什么东西？<br />
谁给你的资格？你又在看什么？',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '85375',
    'lastchapter' => '第42章　崩溃',
    'lastsummary' => '',
    'chapters' => '419',
    'size' => '3153544',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479008756',
    'dayvisit' => '13',
    'weekvisit' => '234',
    'monthvisit' => '559',
    'allvisit' => '16828',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 10,
    'ratesum' => 100,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1459925394',
    'freesize' => '3153544',
    'isvip' => 'VIP',
    'viptime' => '1465367512',
    'vipid' => '406',
    'vippubid' => '0',
    'vipchapters' => '376',
    'vipsize' => '2880358',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '85752',
    'vipchapter' => '第69章 闷响声',
    'vipsummary' => '当紫导国的先头部队靠近花海镇的时候，泽国也只能让其靠近，要不然一阻止，还真打起来也说不定，这在当时，可不是双方想看到的，就当是泽国先让一步吧。<br />
本来双方都以为可以就这么暂时的僵着，哪怕这是在紫导国发射的导弹全部被拦截之后，毕竟朱卉的歌声，让双方都缓和了下来，又有了重新谈判的希望。<br />
当时在先头部队中的范学胜，他可不是这么想的，他觉得他..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 1576772,
    'size_k' => 1577,
    'size_w' => 157.7,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/667.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667&cid=85375',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=406&cid=85752',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=667',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=667',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=667',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=INSECT%B3%E6%D7%D3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C1%F9%D1%DB%D7%E5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F667.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '667',
  'siteid' => '4',
  'sourceid' => '3524',
  'postdate' => '1459920121',
  'lastupdate' => '1465367512',
  'articlename' => '六眼族',
  'articlecode' => 'liuyanzu',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'L',
  'authorid' => '4934',
  'author' => 'INSECT虫子',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '佛说一花一世界，一叶一如来。<br />
我们处在宇宙的中心，人生或死，阴司是否存在？<br />
轮回不断，我们的起源是否就是个惊天大阴谋？<br />
老一辈的人经常跟我讲，人在做天在看，所谓的天是什么东西？<br />
谁给你的资格？你又在看什么？',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '85375',
  'lastchapter' => '第42章　崩溃',
  'lastsummary' => '',
  'chapters' => '419',
  'size' => '3153544',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479008756',
  'dayvisit' => '13',
  'weekvisit' => '234',
  'monthvisit' => '559',
  'allvisit' => '16828',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 10,
  'ratesum' => 100,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1459925394',
  'freesize' => '3153544',
  'isvip' => 'VIP',
  'viptime' => '1465367512',
  'vipid' => '406',
  'vippubid' => '0',
  'vipchapters' => '376',
  'vipsize' => '2880358',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '85752',
  'vipchapter' => '第69章 闷响声',
  'vipsummary' => '当紫导国的先头部队靠近花海镇的时候，泽国也只能让其靠近，要不然一阻止，还真打起来也说不定，这在当时，可不是双方想看到的，就当是泽国先让一步吧。<br />
本来双方都以为可以就这么暂时的僵着，哪怕这是在紫导国发射的导弹全部被拦截之后，毕竟朱卉的歌声，让双方都缓和了下来，又有了重新谈判的希望。<br />
当时在先头部队中的范学胜，他可不是这么想的，他觉得他..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 1576772,
  'size_k' => 1577,
  'size_w' => 157.7,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/667/667s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/667.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=667&cid=85375',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=406&cid=85752',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=667',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=667',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=667',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=INSECT%B3%E6%D7%D3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C1%F9%D1%DB%D7%E5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F667.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
