array (
  'meta_keywords' => '战气封天 余清沐 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=669&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=669&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=669&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=669&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '669',
    'siteid' => '4',
    'sourceid' => '3508',
    'postdate' => '1458624663',
    'lastupdate' => '1478151069',
    'articlename' => '战气封天',
    'articlecode' => 'zhanqifengtian',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '18',
    'author' => '余清沐',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '来战！斩天地不仁。<br />
来战！覆日月乾坤。<br />
来战！造玄天星辰。<br />
来战！封阴阳道轮。<br />
若敢来，来之必战！<br />
若敢战，战之必胜！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '86106',
    'lastchapter' => '第20章 呼吸是最美的享受',
    'lastsummary' => '',
    'chapters' => '291',
    'size' => '1821780',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '0',
    'lastvisit' => '1478908193',
    'dayvisit' => '26',
    'weekvisit' => '78',
    'monthvisit' => '221',
    'allvisit' => '429914',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 10,
    'ratesum' => 100,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1460092841',
    'freesize' => '1821780',
    'isvip' => 'VIP',
    'viptime' => '1478151069',
    'vipid' => '408',
    'vippubid' => '0',
    'vipchapters' => '270',
    'vipsize' => '1696092',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '107086',
    'vipchapter' => '第291章 意料之外情理之中（完结）',
    'vipsummary' => '余钧鸿站在所有参战的战气士面前，以他现在的实力，就算直接宣布是这个西辰的主宰，也没有谁敢反对。<br />
他说道：“众位，魔族带来的祸，相信每一个师兄都是了解的，这不再需要我废话。对付魔族，我们没有更好的办法，他们身负魔气，只能身负天人合一之境，或者已经拥有神兽血脉的战气士才能与之一战。我们的祖灵亦是能够与那魔气进行战斗的。所以，小子在这里?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 910890,
    'size_k' => 911,
    'size_w' => 91.1,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/669.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669&cid=86106',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=408&cid=107086',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=669',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=669',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=669',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/18.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%E0%C7%E5%E3%E5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%BD%C6%F8%B7%E2%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F669.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '669',
  'siteid' => '4',
  'sourceid' => '3508',
  'postdate' => '1458624663',
  'lastupdate' => '1478151069',
  'articlename' => '战气封天',
  'articlecode' => 'zhanqifengtian',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '18',
  'author' => '余清沐',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '来战！斩天地不仁。<br />
来战！覆日月乾坤。<br />
来战！造玄天星辰。<br />
来战！封阴阳道轮。<br />
若敢来，来之必战！<br />
若敢战，战之必胜！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '86106',
  'lastchapter' => '第20章 呼吸是最美的享受',
  'lastsummary' => '',
  'chapters' => '291',
  'size' => '1821780',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '0',
  'lastvisit' => '1478908193',
  'dayvisit' => '26',
  'weekvisit' => '78',
  'monthvisit' => '221',
  'allvisit' => '429914',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 10,
  'ratesum' => 100,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1460092841',
  'freesize' => '1821780',
  'isvip' => 'VIP',
  'viptime' => '1478151069',
  'vipid' => '408',
  'vippubid' => '0',
  'vipchapters' => '270',
  'vipsize' => '1696092',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '107086',
  'vipchapter' => '第291章 意料之外情理之中（完结）',
  'vipsummary' => '余钧鸿站在所有参战的战气士面前，以他现在的实力，就算直接宣布是这个西辰的主宰，也没有谁敢反对。<br />
他说道：“众位，魔族带来的祸，相信每一个师兄都是了解的，这不再需要我废话。对付魔族，我们没有更好的办法，他们身负魔气，只能身负天人合一之境，或者已经拥有神兽血脉的战气士才能与之一战。我们的祖灵亦是能够与那魔气进行战斗的。所以，小子在这里?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 910890,
  'size_k' => 911,
  'size_w' => 91.1,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/669/669s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/669.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=669&cid=86106',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=408&cid=107086',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=669',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=669',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=669',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/18.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%E0%C7%E5%E3%E5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%BD%C6%F8%B7%E2%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F669.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
