array (
  'meta_keywords' => '千秋岁引 乱异 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=680&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=680&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=680&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=680&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '680',
    'siteid' => '4',
    'sourceid' => '3423',
    'postdate' => '1431334475',
    'lastupdate' => '1431335452',
    'articlename' => '千秋岁引',
    'articlecode' => 'qianqiusuiyin',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '4934',
    'author' => '乱异',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '何人偏爱江南？江南有怎么样的梨花春雨，怎么样的五陵少年？<br />
　　骏马踏红尘，修罗南寻欢。<br />
　　江南之地，风花雪月，醇酒美人，他眼中那绝美舞娘，不若红袖添香，自有暗香盈袖……<br />
　　只可惜再美的舞娘优伶，也躲不过那如幻如梦的情。周旋在风尘之中的她，怎么会...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87184',
    'lastchapter' => '第二十章：白梨，念',
    'lastsummary' => '',
    'chapters' => '40',
    'size' => '370658',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1477742065',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '7698',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 10,
    'ratesum' => 100,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431334957',
    'freesize' => '370658',
    'isvip' => 'VIP',
    'viptime' => '1431335452',
    'vipid' => '414',
    'vippubid' => '0',
    'vipchapters' => '19',
    'vipsize' => '189510',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '87204',
    'vipchapter' => '第二十章：梨，香末',
    'vipsummary' => '至道三年三月，已经离开了江南七年的洌昊再一次回来江南。<br />
这七年以来，他去过很多很多的地方，北漠、天竺、波斯，可是他却没有想过自己还会回来江南，江南这里有太多太多回忆了，比任何地方都要多。若非早已经从当年那一本预言书中得知今年三月赵恒会成为皇帝，洌昊大概也不会回来吧。<br />
他也是这样想的。<br />
这七年的四处游历使得他很有了很多的改变，洌昊摸了..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 185329,
    'size_k' => 186,
    'size_w' => 18.5,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/680.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680&cid=87184',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=414&cid=87204',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=680',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=680',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=680',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C2%D2%D2%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%A7%C7%EF%CB%EA%D2%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F680.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '680',
  'siteid' => '4',
  'sourceid' => '3423',
  'postdate' => '1431334475',
  'lastupdate' => '1431335452',
  'articlename' => '千秋岁引',
  'articlecode' => 'qianqiusuiyin',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '4934',
  'author' => '乱异',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '何人偏爱江南？江南有怎么样的梨花春雨，怎么样的五陵少年？<br />
　　骏马踏红尘，修罗南寻欢。<br />
　　江南之地，风花雪月，醇酒美人，他眼中那绝美舞娘，不若红袖添香，自有暗香盈袖……<br />
　　只可惜再美的舞娘优伶，也躲不过那如幻如梦的情。周旋在风尘之中的她，怎么会...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87184',
  'lastchapter' => '第二十章：白梨，念',
  'lastsummary' => '',
  'chapters' => '40',
  'size' => '370658',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1477742065',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '7698',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 10,
  'ratesum' => 100,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431334957',
  'freesize' => '370658',
  'isvip' => 'VIP',
  'viptime' => '1431335452',
  'vipid' => '414',
  'vippubid' => '0',
  'vipchapters' => '19',
  'vipsize' => '189510',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '87204',
  'vipchapter' => '第二十章：梨，香末',
  'vipsummary' => '至道三年三月，已经离开了江南七年的洌昊再一次回来江南。<br />
这七年以来，他去过很多很多的地方，北漠、天竺、波斯，可是他却没有想过自己还会回来江南，江南这里有太多太多回忆了，比任何地方都要多。若非早已经从当年那一本预言书中得知今年三月赵恒会成为皇帝，洌昊大概也不会回来吧。<br />
他也是这样想的。<br />
这七年的四处游历使得他很有了很多的改变，洌昊摸了..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 185329,
  'size_k' => 186,
  'size_w' => 18.5,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/680/680s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/680.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=680&cid=87184',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=414&cid=87204',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=680',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=680',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=680',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C2%D2%D2%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%A7%C7%EF%CB%EA%D2%FD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F680.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
