array (
  'meta_keywords' => '手工美人 花想容 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=683&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=683&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=683&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=683&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '683',
    'siteid' => '4',
    'sourceid' => '1889',
    'postdate' => '1402915352',
    'lastupdate' => '1406704110',
    'articlename' => '手工美人',
    'articlecode' => 'shougongmeiren',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '4934',
    'author' => '花想容',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 一张婚礼请柬引发一起关于阵年凶案的回忆。十年前遇害身亡的初恋情人，怎么会成为好友的新婚妻子？<br />
　　一个即将临产的孕妇，在看到一个畸形死婴之后，遭遇一系列恐怖事件，心理陷入极度恐慌。她能生下健康宝宝吗？<br />
　　一个不识人间烟火的女老师，一个面无表情的...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87305',
    'lastchapter' => '第五章',
    'lastsummary' => '',
    'chapters' => '52',
    'size' => '240176',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478088276',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '6441',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1403230735',
    'freesize' => '240176',
    'isvip' => 'VIP',
    'viptime' => '1406704110',
    'vipid' => '417',
    'vippubid' => '0',
    'vipchapters' => '41',
    'vipsize' => '181118',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '87347',
    'vipchapter' => '第十章',
    'vipsummary' => '南妮看到她唯一的朋友已经成为一具冰冷的尸体，再次遭受打击。她在展颜身边坐了一夜，决定将她的尸体藏起来，自己以展颜的身份出现在方程面前。她想她会点燃方程的旧情，这样就可以同时报复两个人，包括自己的亲妹妹沈婕。<br />
而妹妹沈婕，也早已被列为复仇的对象。看到沈婕的幸福生活，她觉得，那本该是属于自己的，却成为了别人的!<br />
她在青城以黎虹的身份与姚??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 120088,
    'size_k' => 121,
    'size_w' => 12,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/683.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683&cid=87305',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=417&cid=87347',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=683',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=683',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=683',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%D6%B9%A4%C3%C0%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F683.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '683',
  'siteid' => '4',
  'sourceid' => '1889',
  'postdate' => '1402915352',
  'lastupdate' => '1406704110',
  'articlename' => '手工美人',
  'articlecode' => 'shougongmeiren',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '4934',
  'author' => '花想容',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 一张婚礼请柬引发一起关于阵年凶案的回忆。十年前遇害身亡的初恋情人，怎么会成为好友的新婚妻子？<br />
　　一个即将临产的孕妇，在看到一个畸形死婴之后，遭遇一系列恐怖事件，心理陷入极度恐慌。她能生下健康宝宝吗？<br />
　　一个不识人间烟火的女老师，一个面无表情的...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87305',
  'lastchapter' => '第五章',
  'lastsummary' => '',
  'chapters' => '52',
  'size' => '240176',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478088276',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '6441',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1403230735',
  'freesize' => '240176',
  'isvip' => 'VIP',
  'viptime' => '1406704110',
  'vipid' => '417',
  'vippubid' => '0',
  'vipchapters' => '41',
  'vipsize' => '181118',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '87347',
  'vipchapter' => '第十章',
  'vipsummary' => '南妮看到她唯一的朋友已经成为一具冰冷的尸体，再次遭受打击。她在展颜身边坐了一夜，决定将她的尸体藏起来，自己以展颜的身份出现在方程面前。她想她会点燃方程的旧情，这样就可以同时报复两个人，包括自己的亲妹妹沈婕。<br />
而妹妹沈婕，也早已被列为复仇的对象。看到沈婕的幸福生活，她觉得，那本该是属于自己的，却成为了别人的!<br />
她在青城以黎虹的身份与姚??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 120088,
  'size_k' => 121,
  'size_w' => 12,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/683/683s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/683.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=683&cid=87305',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=417&cid=87347',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=683',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=683',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=683',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%D6%B9%A4%C3%C0%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F683.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
