array (
  'meta_keywords' => '妖手 花想容 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=684&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=684&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=684&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=684&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '684',
    'siteid' => '4',
    'sourceid' => '1890',
    'postdate' => '1402915525',
    'lastupdate' => '1407917149',
    'articlename' => '妖手',
    'articlecode' => 'yaoshou',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '4934',
    'author' => '花想容',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '女教师水夜在和同事袁青朵观看了荆氏魔术表演后，发现“妖手”节目中被魔术师荆井利剑穿胸并用双手复原的男助手成为死尸，出现在公安局张贴的“认尸公告”里，之后又离奇复活在舞台上。为了揭开“妖手”的真相，水夜作为警方卧底卷入魔术团一系列恐怖离奇的事件之中。...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87361',
    'lastchapter' => '第十四章 偷窥（五）',
    'lastsummary' => '',
    'chapters' => '57',
    'size' => '265464',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1477199199',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '130',
    'allvisit' => '9665',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1403318539',
    'freesize' => '265464',
    'isvip' => 'VIP',
    'viptime' => '1407917149',
    'vipid' => '418',
    'vippubid' => '0',
    'vipchapters' => '42',
    'vipsize' => '183782',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '87404',
    'vipchapter' => '第五十七章 洞房（五）',
    'vipsummary' => '而当杜松刚把文澈吊好，还没有来得及脱身，外面的人就来敲门了。惊慌之中，杜松将自己藏在了沙发后面。再后来，外面的人将反锁的房门撞开，发现吊在空中的文澈。那个时候所有的人都很惊慌，屋子里全是魔术团的人，都围着文澈的尸体，因此杜松神不知鬼不觉地从沙发后面溜出来，混在人群中。因此这场貌似自杀的他杀，成了一个十分完满的密室谋杀案。<br />
房路和荆??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 132732,
    'size_k' => 133,
    'size_w' => 13.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/684.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684&cid=87361',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=418&cid=87404',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=684',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=684',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=684',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%FD%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F684.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '684',
  'siteid' => '4',
  'sourceid' => '1890',
  'postdate' => '1402915525',
  'lastupdate' => '1407917149',
  'articlename' => '妖手',
  'articlecode' => 'yaoshou',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '4934',
  'author' => '花想容',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '女教师水夜在和同事袁青朵观看了荆氏魔术表演后，发现“妖手”节目中被魔术师荆井利剑穿胸并用双手复原的男助手成为死尸，出现在公安局张贴的“认尸公告”里，之后又离奇复活在舞台上。为了揭开“妖手”的真相，水夜作为警方卧底卷入魔术团一系列恐怖离奇的事件之中。...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87361',
  'lastchapter' => '第十四章 偷窥（五）',
  'lastsummary' => '',
  'chapters' => '57',
  'size' => '265464',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1477199199',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '130',
  'allvisit' => '9665',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1403318539',
  'freesize' => '265464',
  'isvip' => 'VIP',
  'viptime' => '1407917149',
  'vipid' => '418',
  'vippubid' => '0',
  'vipchapters' => '42',
  'vipsize' => '183782',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '87404',
  'vipchapter' => '第五十七章 洞房（五）',
  'vipsummary' => '而当杜松刚把文澈吊好，还没有来得及脱身，外面的人就来敲门了。惊慌之中，杜松将自己藏在了沙发后面。再后来，外面的人将反锁的房门撞开，发现吊在空中的文澈。那个时候所有的人都很惊慌，屋子里全是魔术团的人，都围着文澈的尸体，因此杜松神不知鬼不觉地从沙发后面溜出来，混在人群中。因此这场貌似自杀的他杀，成了一个十分完满的密室谋杀案。<br />
房路和荆??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 132732,
  'size_k' => 133,
  'size_w' => 13.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/684/684s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/684.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=684&cid=87361',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=418&cid=87404',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=684',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=684',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=684',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%FD%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F684.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
