array (
  'meta_keywords' => '明骚一朵暗贱难防 盛世爱 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=688&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=688&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=688&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=688&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '688',
    'siteid' => '4',
    'sourceid' => '3371',
    'postdate' => '1431089635',
    'lastupdate' => '1431090871',
    'articlename' => '明骚一朵暗贱难防',
    'articlecode' => 'mingsaoyiduoanjiannanfang',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '4934',
    'author' => '盛世爱',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '五年前，家世优渥的不良少女沈西珂看上了俊美的天才少年宁丛风。<br />
从此，她伪装清纯乖巧，用尽千方百计，终于追上他。<br />
但好景不长，一次沈西珂在夜店热舞被宁丛风碰到，真相让他措手不及。<br />
宁丛风感觉被欺骗，他愤怒之下出国留学。<br />
本以为年少时的心动早已消散，却...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '87564',
    'lastchapter' => '第四章 我的男人，我懂',
    'lastsummary' => '',
    'chapters' => '14',
    'size' => '238214',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474143299',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '143',
    'allvisit' => '4370',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431090127',
    'freesize' => '238214',
    'isvip' => 'VIP',
    'viptime' => '1431090871',
    'vipid' => '422',
    'vippubid' => '0',
    'vipchapters' => '9',
    'vipsize' => '184914',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '87574',
    'vipchapter' => '尾声',
    'vipsummary' => '【1】<br />
沈井原刚从父亲沈贝康的住所回来，老头子苍老了许多，整天遛鸟养花，比起前阵子的闹腾，消停了许多，可能是人在大起大落之后，终究会归于平静。沈井原想把父亲接来和自己同住，沈贝康却倔强不肯，坚持自己一个人。<br />
得知沈西珂出了事之后，沈贝康的脸色才稍有变化，但终究还是装作不屑的样子，嗤之以鼻。沈井原暗自感叹，从小到大他就一直想不通一个问??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 119107,
    'size_k' => 120,
    'size_w' => 11.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/688.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688&cid=87564',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=422&cid=87574',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=688',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=688',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=688',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%A2%CA%C0%B0%AE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%F7%C9%A7%D2%BB%B6%E4%B0%B5%BC%FA%C4%D1%B7%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F688.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '688',
  'siteid' => '4',
  'sourceid' => '3371',
  'postdate' => '1431089635',
  'lastupdate' => '1431090871',
  'articlename' => '明骚一朵暗贱难防',
  'articlecode' => 'mingsaoyiduoanjiannanfang',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '4934',
  'author' => '盛世爱',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '五年前，家世优渥的不良少女沈西珂看上了俊美的天才少年宁丛风。<br />
从此，她伪装清纯乖巧，用尽千方百计，终于追上他。<br />
但好景不长，一次沈西珂在夜店热舞被宁丛风碰到，真相让他措手不及。<br />
宁丛风感觉被欺骗，他愤怒之下出国留学。<br />
本以为年少时的心动早已消散，却...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '87564',
  'lastchapter' => '第四章 我的男人，我懂',
  'lastsummary' => '',
  'chapters' => '14',
  'size' => '238214',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474143299',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '143',
  'allvisit' => '4370',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431090127',
  'freesize' => '238214',
  'isvip' => 'VIP',
  'viptime' => '1431090871',
  'vipid' => '422',
  'vippubid' => '0',
  'vipchapters' => '9',
  'vipsize' => '184914',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '87574',
  'vipchapter' => '尾声',
  'vipsummary' => '【1】<br />
沈井原刚从父亲沈贝康的住所回来，老头子苍老了许多，整天遛鸟养花，比起前阵子的闹腾，消停了许多，可能是人在大起大落之后，终究会归于平静。沈井原想把父亲接来和自己同住，沈贝康却倔强不肯，坚持自己一个人。<br />
得知沈西珂出了事之后，沈贝康的脸色才稍有变化，但终究还是装作不屑的样子，嗤之以鼻。沈井原暗自感叹，从小到大他就一直想不通一个问??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 119107,
  'size_k' => 120,
  'size_w' => 11.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/688/688s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/688.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=688&cid=87564',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=422&cid=87574',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=688',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=688',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=688',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%A2%CA%C0%B0%AE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%F7%C9%A7%D2%BB%B6%E4%B0%B5%BC%FA%C4%D1%B7%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F688.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
