array (
  'meta_keywords' => '恶魔王爷轻点爱 惜梦 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=7&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=7&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=7&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=7&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '7',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1447077426',
    'lastupdate' => '1470382849',
    'articlename' => '恶魔王爷轻点爱',
    'articlecode' => 'emowangyeqingdianai',
    'backupname' => '',
    'keywords' => '恶魔王爷 冷千金',
    'roles' => '',
    'initial' => 'E',
    'authorid' => '14',
    'author' => '惜梦',
    'posterid' => '14',
    'poster' => '惜梦',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '“砰”的一声，门板破裂。正在脱衣服的司马艳儿惊骇的回过头怒吼，“王爷，你到底想要怎么样？”不管是白天还是黑夜，不管是更衣还是沐浴，这个男人总是肆无忌惮的出现在自己的面前。“司马艳儿，你这辈子休想逃离本万的手心。”话音未落，男人已经倾身向前。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '560',
    'lastchapter' => '第二十章 过客',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;此时她正抱着自己的腿，坐在屋顶之上，目光一直望着某一个角落，顺着看过去，却发现什么都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头上，月清星明，月下，司马艳儿的脸上闪过一丝落寂。看得肖飞扬的心有些心疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞扬使用轻功，不露痕迹的走了过去，不过他没迎着司马艳儿的目光，而是来到了她的身后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司马艳儿自己都不知道自己现在在想些什么，只是一个人这样呆呆的望着，如果没有对司马风儿的牵挂，或许她现在就已经离开了王爷府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是因为心中有着那份牵挂，有着那份等待，让她不得不选择留在这里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司马艳儿不敢保证肖飞..',
    'chapters' => '228',
    'size' => '1016372',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479133798',
    'dayvisit' => '169',
    'weekvisit' => '169',
    'monthvisit' => '2054',
    'allvisit' => '715394',
    'lastvote' => '1469801397',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2606',
    'goodnum' => '41',
    'reviewsnum' => '19',
    'ratenum' => 4,
    'ratesum' => 36,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '全本',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1448904543',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1448890044',
    'freesize' => '1016372',
    'isvip' => '签约',
    'viptime' => '1470382849',
    'vipid' => '3',
    'vippubid' => '0',
    'vipchapters' => '208',
    'vipsize' => '950451',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '86789',
    'vipchapter' => '第228章 真相大白【大结局】',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨满腹疑惑，最让他觉得郁闷的是，好不容易这一条线索追查到现在却生生的断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到这线索一断，柳妃将继续在自己的身边更久，肖飞杨就觉得莫名的烦躁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不知不觉间就走到了上官艳儿的院子，一抬头，便见上官艳儿淡然的坐在窗前，就这一盏烛火在看书，柔和的桔色灯光，使得上官艳儿的轮廓越发温柔，肌肤更加光洁无瑕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨站在院子里看了好久，直到上官艳儿无意识的抬头瞟了一眼院门口，两个人这才四目相对，上官艳儿淡淡一笑，起身道：“怎么也不招呼一声？想吓人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨叹了口气，..',
    'lastflower' => '1454055282',
    'allflower' => '20',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1458026104',
    'allvipvote' => '1',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '1',
    'shuqi' => '1',
    'zhangyue' => '1',
    'iqiyi' => '1',
    'xunlei' => '1',
    'ledu' => '1',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '1',
    'giftnum' => '6600',
    'giftnums' => '9',
    'redrose' => '6',
    'yellowrose' => '2',
    'greenrose' => '0',
    'bluerose' => '1',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 508186,
    'size_k' => 509,
    'size_w' => 50.8,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/7/7s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/7/7s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/7/7l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/7.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7&cid=560',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=3&cid=86789',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=7',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=7',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=7',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/14.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%A7%C3%CE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%CD%F5%D2%AF%C7%E1%B5%E3%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F7.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '7',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1447077426',
  'lastupdate' => '1470382849',
  'articlename' => '恶魔王爷轻点爱',
  'articlecode' => 'emowangyeqingdianai',
  'backupname' => '',
  'keywords' => '恶魔王爷 冷千金',
  'roles' => '',
  'initial' => 'E',
  'authorid' => '14',
  'author' => '惜梦',
  'posterid' => '14',
  'poster' => '惜梦',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '“砰”的一声，门板破裂。正在脱衣服的司马艳儿惊骇的回过头怒吼，“王爷，你到底想要怎么样？”不管是白天还是黑夜，不管是更衣还是沐浴，这个男人总是肆无忌惮的出现在自己的面前。“司马艳儿，你这辈子休想逃离本万的手心。”话音未落，男人已经倾身向前。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '560',
  'lastchapter' => '第二十章 过客',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;此时她正抱着自己的腿，坐在屋顶之上，目光一直望着某一个角落，顺着看过去，却发现什么都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头上，月清星明，月下，司马艳儿的脸上闪过一丝落寂。看得肖飞扬的心有些心疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞扬使用轻功，不露痕迹的走了过去，不过他没迎着司马艳儿的目光，而是来到了她的身后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司马艳儿自己都不知道自己现在在想些什么，只是一个人这样呆呆的望着，如果没有对司马风儿的牵挂，或许她现在就已经离开了王爷府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是因为心中有着那份牵挂，有着那份等待，让她不得不选择留在这里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司马艳儿不敢保证肖飞..',
  'chapters' => '228',
  'size' => '1016372',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479133798',
  'dayvisit' => '169',
  'weekvisit' => '169',
  'monthvisit' => '2054',
  'allvisit' => '715394',
  'lastvote' => '1469801397',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2606',
  'goodnum' => '41',
  'reviewsnum' => '19',
  'ratenum' => 4,
  'ratesum' => 36,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '全本',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1448904543',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1448890044',
  'freesize' => '1016372',
  'isvip' => '签约',
  'viptime' => '1470382849',
  'vipid' => '3',
  'vippubid' => '0',
  'vipchapters' => '208',
  'vipsize' => '950451',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '86789',
  'vipchapter' => '第228章 真相大白【大结局】',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨满腹疑惑，最让他觉得郁闷的是，好不容易这一条线索追查到现在却生生的断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到这线索一断，柳妃将继续在自己的身边更久，肖飞杨就觉得莫名的烦躁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不知不觉间就走到了上官艳儿的院子，一抬头，便见上官艳儿淡然的坐在窗前，就这一盏烛火在看书，柔和的桔色灯光，使得上官艳儿的轮廓越发温柔，肌肤更加光洁无瑕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨站在院子里看了好久，直到上官艳儿无意识的抬头瞟了一眼院门口，两个人这才四目相对，上官艳儿淡淡一笑，起身道：“怎么也不招呼一声？想吓人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;肖飞杨叹了口气，..',
  'lastflower' => '1454055282',
  'allflower' => '20',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1458026104',
  'allvipvote' => '1',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '1',
  'shuqi' => '1',
  'zhangyue' => '1',
  'iqiyi' => '1',
  'xunlei' => '1',
  'ledu' => '1',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '1',
  'giftnum' => '6600',
  'giftnums' => '9',
  'redrose' => '6',
  'yellowrose' => '2',
  'greenrose' => '0',
  'bluerose' => '1',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 508186,
  'size_k' => 509,
  'size_w' => 50.8,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/7/7s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/7/7s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/7/7l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/7.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=7&cid=560',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=3&cid=86789',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=7',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=7',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=7',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/14.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%A7%C3%CE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%F1%C4%A7%CD%F5%D2%AF%C7%E1%B5%E3%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F7.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '恶魔王爷',
      'tagencode' => '%B6%F1%C4%A7%CD%F5%D2%AF',
    ),
    1 => 
    array (
      'tagname' => '冷千金',
      'tagencode' => '%C0%E4%C7%A7%BD%F0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
