array (
  'meta_keywords' => '有爱无爱，都刻骨铭心 目非 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=703&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=703&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=703&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=703&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '703',
    'siteid' => '4',
    'sourceid' => '3476',
    'postdate' => '1432194637',
    'lastupdate' => '1432195150',
    'articlename' => '有爱无爱，都刻骨铭心',
    'articlecode' => 'youaiwuai_dukegumingxin',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '4934',
    'author' => '目非',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 潘宁的父亲潘时人是缉私局副局长，潘宁10岁的时候被走私分子绑架，唐末的父亲用生命救了潘宁。而那个走私分子恰是慕远的父亲。此一事件构成三个主要人物的隐性关系。<br />
　　潘宁与慕远在高中时恋爱。唐末对潘宁也有好感。身为缉私警的唐末当时在调查一起跨境毒品案件...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '90389',
    'lastchapter' => '第二部分 爱是一条窄道',
    'lastsummary' => '',
    'chapters' => '7',
    'size' => '435680',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1477973209',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '4389',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1432194885',
    'freesize' => '435680',
    'isvip' => 'VIP',
    'viptime' => '1432195150',
    'vipid' => '435',
    'vippubid' => '0',
    'vipchapters' => '3',
    'vipsize' => '263124',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '90393',
    'vipchapter' => '尾声：一份未发出的信',
    'vipsummary' => '这封信，是慕远写给潘宁的。他本想寄出告诉潘宁真相，后来选择付诸江流。<br />
宁宁：<br />
你收到这封信时，我已经死了。<br />
终于死了。<br />
死，这个字眼困扰了我8年，自从被告之得了HIV后，每一天，我都处于等死状态。<br />
我一开始不能接受，我没有做错什么，为什么在人生才刚刚开始时，就要遭到这样的噩运，陷入彻底无望的绝境。<br />
我复查了一次次，不同医院，不同国度，希望谁..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 217840,
    'size_k' => 218,
    'size_w' => 21.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/703.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703&cid=90389',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=435&cid=90393',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=703',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=703',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=703',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BF%B7%C7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D0%B0%AE%CE%DE%B0%AE%A3%AC%B6%BC%BF%CC%B9%C7%C3%FA%D0%C4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F703.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '703',
  'siteid' => '4',
  'sourceid' => '3476',
  'postdate' => '1432194637',
  'lastupdate' => '1432195150',
  'articlename' => '有爱无爱，都刻骨铭心',
  'articlecode' => 'youaiwuai_dukegumingxin',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '4934',
  'author' => '目非',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 潘宁的父亲潘时人是缉私局副局长，潘宁10岁的时候被走私分子绑架，唐末的父亲用生命救了潘宁。而那个走私分子恰是慕远的父亲。此一事件构成三个主要人物的隐性关系。<br />
　　潘宁与慕远在高中时恋爱。唐末对潘宁也有好感。身为缉私警的唐末当时在调查一起跨境毒品案件...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '90389',
  'lastchapter' => '第二部分 爱是一条窄道',
  'lastsummary' => '',
  'chapters' => '7',
  'size' => '435680',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1477973209',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '4389',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1432194885',
  'freesize' => '435680',
  'isvip' => 'VIP',
  'viptime' => '1432195150',
  'vipid' => '435',
  'vippubid' => '0',
  'vipchapters' => '3',
  'vipsize' => '263124',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '90393',
  'vipchapter' => '尾声：一份未发出的信',
  'vipsummary' => '这封信，是慕远写给潘宁的。他本想寄出告诉潘宁真相，后来选择付诸江流。<br />
宁宁：<br />
你收到这封信时，我已经死了。<br />
终于死了。<br />
死，这个字眼困扰了我8年，自从被告之得了HIV后，每一天，我都处于等死状态。<br />
我一开始不能接受，我没有做错什么，为什么在人生才刚刚开始时，就要遭到这样的噩运，陷入彻底无望的绝境。<br />
我复查了一次次，不同医院，不同国度，希望谁..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 217840,
  'size_k' => 218,
  'size_w' => 21.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/703/703s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/703.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=703&cid=90389',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=435&cid=90393',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=703',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=703',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=703',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BF%B7%C7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%D0%B0%AE%CE%DE%B0%AE%A3%AC%B6%BC%BF%CC%B9%C7%C3%FA%D0%C4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F703.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
