array (
  'meta_keywords' => '暴走的青春：我用大学写日记 傅逸聪 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=709&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=709&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=709&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=709&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '709',
    'siteid' => '4',
    'sourceid' => '3372',
    'postdate' => '1431091074',
    'lastupdate' => '1431091878',
    'articlename' => '暴走的青春：我用大学写日记',
    'articlecode' => 'baozoudeqingchun_woyongdaxuexieriji',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '4934',
    'author' => '傅逸聪',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '采用白描化日记体笔法，立体式全方位再现了一群体育生在校学习成长的四年光阴，其中既有成长的疼痛与迷惘，更有体育生受到挫折以后不服输的拼搏精神，主题积极向上，几乎是当代体育生成长记录，很值得一读。<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '90478',
    'lastchapter' => '大一下学期',
    'lastsummary' => '',
    'chapters' => '9',
    'size' => '661524',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474459349',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '299',
    'allvisit' => '2878',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1471929039',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431091495',
    'freesize' => '661524',
    'isvip' => '签约',
    'viptime' => '1431091878',
    'vipid' => '441',
    'vippubid' => '0',
    'vipchapters' => '5',
    'vipsize' => '456398',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '90484',
    'vipchapter' => '大四下学期',
    'vipsummary' => '一、	研究生<br />
最后一个学期，基本上可以不来学校了，所以日期也变得模糊起来，寒假拨打考研查分电话还是略微有些紧张的，好在所有科目都超了国家线，尤其是完全凭手感而不是语感的英语，也出人意料的得了四十几分。<br />
打电话询问舒雅、大力，结果都很圆满。<br />
我们三人去N大复试，那个令人向往的学校，猛然间矗立在我们眼前，像梦一般。<br />
笔试有点变态，但感觉考的..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '4',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 330762,
    'size_k' => 331,
    'size_w' => 33.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/709.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709&cid=90478',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=441&cid=90484',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=709',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=709',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=709',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%B5%D2%DD%B4%CF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%A9%D7%DF%B5%C4%C7%E0%B4%BA%A3%BA%CE%D2%D3%C3%B4%F3%D1%A7%D0%B4%C8%D5%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F709.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '709',
  'siteid' => '4',
  'sourceid' => '3372',
  'postdate' => '1431091074',
  'lastupdate' => '1431091878',
  'articlename' => '暴走的青春：我用大学写日记',
  'articlecode' => 'baozoudeqingchun_woyongdaxuexieriji',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '4934',
  'author' => '傅逸聪',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '采用白描化日记体笔法，立体式全方位再现了一群体育生在校学习成长的四年光阴，其中既有成长的疼痛与迷惘，更有体育生受到挫折以后不服输的拼搏精神，主题积极向上，几乎是当代体育生成长记录，很值得一读。<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '90478',
  'lastchapter' => '大一下学期',
  'lastsummary' => '',
  'chapters' => '9',
  'size' => '661524',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474459349',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '299',
  'allvisit' => '2878',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1471929039',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431091495',
  'freesize' => '661524',
  'isvip' => '签约',
  'viptime' => '1431091878',
  'vipid' => '441',
  'vippubid' => '0',
  'vipchapters' => '5',
  'vipsize' => '456398',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '90484',
  'vipchapter' => '大四下学期',
  'vipsummary' => '一、	研究生<br />
最后一个学期，基本上可以不来学校了，所以日期也变得模糊起来，寒假拨打考研查分电话还是略微有些紧张的，好在所有科目都超了国家线，尤其是完全凭手感而不是语感的英语，也出人意料的得了四十几分。<br />
打电话询问舒雅、大力，结果都很圆满。<br />
我们三人去N大复试，那个令人向往的学校，猛然间矗立在我们眼前，像梦一般。<br />
笔试有点变态，但感觉考的..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '4',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 330762,
  'size_k' => 331,
  'size_w' => 33.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/709/709s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/709.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=709&cid=90478',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=441&cid=90484',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=709',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=709',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=709',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%B5%D2%DD%B4%CF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%A9%D7%DF%B5%C4%C7%E0%B4%BA%A3%BA%CE%D2%D3%C3%B4%F3%D1%A7%D0%B4%C8%D5%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F709.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
