array (
  'meta_keywords' => '我的狐仙男友 斐园 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=728&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=728&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=728&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=728&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '728',
    'siteid' => '2',
    'sourceid' => '3097',
    'postdate' => '1438052789',
    'lastupdate' => '1471098105',
    'articlename' => '我的狐仙男友',
    'articlecode' => 'wodehuxiannanyou',
    'backupname' => '',
    'keywords' => '异能 爱情 驱鬼 神魔 虐心',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '1228',
    'author' => '斐园',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '38',
    'libid' => '0',
    'intro' => '十年之前，她帮他修成千年大圆满、化成人形，十年之后，他说倾尽千年修行只为换她一日情，可她的眼里只有那个为她殉情、为她苦等千年的男子！狐族灵石拥有强大的力量，能开启鬼界通往人界的万魔井，鬼王蠢蠢欲动，百鬼倾巢而出，拥有灵石的她成为战争的中心！等到最后尘埃落定，她终于发现自己心中爱的只是他，最后她也只有等待百年来换他的再次修成人形！校园唯美魔幻爱情，等待你我来开启这一段奇妙的旅程！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '91389',
    'lastchapter' => '第七十九章 紫樱落',
    'lastsummary' => '',
    'chapters' => '388',
    'size' => '1527686',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478846516',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '39',
    'allvisit' => '10465',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '12',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1440977809',
    'freesize' => '1527686',
    'isvip' => 'VIP',
    'viptime' => '1471098105',
    'vipid' => '445',
    'vippubid' => '0',
    'vipchapters' => '315',
    'vipsize' => '1328794',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '91698',
    'vipchapter' => '第三百八十九章&nbsp;&nbsp;百年守望',
    'vipsummary' => '“你，你终于醒了！太好了！”映入眼帘的是一张天真活泼的脸，金色的眼眸里盛满了欣喜。<br />
&nbsp;&nbsp;&nbsp;&nbsp;我摸着有些疼痛的脑袋，不解的问道：“球球，我这····这怎么回事？”<br />
&nbsp;&nbsp; “萧潇，太好了，你终于醒过来了，你可知道我有多么的担心你，人家都哭红了眼睛了，你怎么这么傻啊····”球球红着眼圈喋喋不休的碎碎念。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我，我怎么会在这里，看看周围的环境，这熟悉的摆..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 763843,
    'size_k' => 764,
    'size_w' => 76.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/728.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728&cid=91389',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=445&cid=91698',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=728',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=728',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=728',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EC%B3%D4%B0',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%BA%FC%CF%C9%C4%D0%D3%D1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F728.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '728',
  'siteid' => '2',
  'sourceid' => '3097',
  'postdate' => '1438052789',
  'lastupdate' => '1471098105',
  'articlename' => '我的狐仙男友',
  'articlecode' => 'wodehuxiannanyou',
  'backupname' => '',
  'keywords' => '异能 爱情 驱鬼 神魔 虐心',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '1228',
  'author' => '斐园',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '38',
  'libid' => '0',
  'intro' => '十年之前，她帮他修成千年大圆满、化成人形，十年之后，他说倾尽千年修行只为换她一日情，可她的眼里只有那个为她殉情、为她苦等千年的男子！狐族灵石拥有强大的力量，能开启鬼界通往人界的万魔井，鬼王蠢蠢欲动，百鬼倾巢而出，拥有灵石的她成为战争的中心！等到最后尘埃落定，她终于发现自己心中爱的只是他，最后她也只有等待百年来换他的再次修成人形！校园唯美魔幻爱情，等待你我来开启这一段奇妙的旅程！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '91389',
  'lastchapter' => '第七十九章 紫樱落',
  'lastsummary' => '',
  'chapters' => '388',
  'size' => '1527686',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478846516',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '39',
  'allvisit' => '10465',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '12',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1440977809',
  'freesize' => '1527686',
  'isvip' => 'VIP',
  'viptime' => '1471098105',
  'vipid' => '445',
  'vippubid' => '0',
  'vipchapters' => '315',
  'vipsize' => '1328794',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '91698',
  'vipchapter' => '第三百八十九章&nbsp;&nbsp;百年守望',
  'vipsummary' => '“你，你终于醒了！太好了！”映入眼帘的是一张天真活泼的脸，金色的眼眸里盛满了欣喜。<br />
&nbsp;&nbsp;&nbsp;&nbsp;我摸着有些疼痛的脑袋，不解的问道：“球球，我这····这怎么回事？”<br />
&nbsp;&nbsp; “萧潇，太好了，你终于醒过来了，你可知道我有多么的担心你，人家都哭红了眼睛了，你怎么这么傻啊····”球球红着眼圈喋喋不休的碎碎念。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我，我怎么会在这里，看看周围的环境，这熟悉的摆..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 763843,
  'size_k' => 764,
  'size_w' => 76.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/728/728s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/728.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=728&cid=91389',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=445&cid=91698',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=728',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=728',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=728',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%EC%B3%D4%B0',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%BA%FC%CF%C9%C4%D0%D3%D1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F728.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '驱鬼',
      'tagencode' => '%C7%FD%B9%ED',
    ),
    3 => 
    array (
      'tagname' => '神魔',
      'tagencode' => '%C9%F1%C4%A7',
    ),
    4 => 
    array (
      'tagname' => '虐心',
      'tagencode' => '%C5%B0%D0%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
