array (
  'meta_keywords' => '老子就是无赖 潇湘夜月 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=742&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=742&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=742&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=742&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '742',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1472973171',
    'lastupdate' => '1478995623',
    'articlename' => '老子就是无赖',
    'articlecode' => 'laozijiushiwulai',
    'backupname' => '能吸引住女孩子才是最重要',
    'keywords' => '我 杨梅丽',
    'roles' => '',
    'initial' => 'L',
    'authorid' => '6629',
    'author' => '潇湘夜月',
    'posterid' => '6629',
    'poster' => '潇湘夜月',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '杨梅丽十分不情愿的看了我一眼转身进去了，片刻，她就拿着几斤大米来到了我的面前，瞪着我大声的说道：“给，拿走吧。”<br />
那语气中就是满满的施舍和不满的情绪。<br />
“谢谢叔叔！”我接过大米，十分感激的大声说着，一边转身就往回走来。<br />
“丽丽，往后再不要这样对庆阳啦，知道吗？”<br />
“我才看不惯他这样的人，赖里赖塔的。”<br />
我的身后传来了他们父女的对话。我心里想你没有经过我这样的生活，当然就不知道了。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '93747',
    'lastvolume' => '第一卷',
    'lastchapterid' => '107231',
    'lastchapter' => '第57章	绝配',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;去他的矜持，去他的克制，去他的正人君子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想当初差点把自己的第一次贡献在了烟花之地，现如今能和自己心爱的女人合二为一，我还扭捏个啥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一刻，我心中的火山彻底的喷发了，沸腾的血液一下子涌上了脑壳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我手一伸，直接大胆的掀开章红梅盖在身上的被子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章红梅条件反射般的用手捂住了胸口，无比认真的盯着我，深情道：“吴赖，今晚过后，你必须要对我负责，不准辜负我。好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我坚定的点着头，郑重地说道：“我发誓，一辈子，不抛弃，不放弃，永远和你在一起！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这，章红..',
    'chapters' => '66',
    'size' => '351661',
    'daysize' => '6072',
    'weeksize' => '42716',
    'monthsize' => '140125',
    'lastvisit' => '1479002459',
    'dayvisit' => '39',
    'weekvisit' => '494',
    'monthvisit' => '1079',
    'allvisit' => '35048',
    'lastvote' => '1475375820',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '1',
    'reviewsnum' => '1',
    'ratenum' => 2,
    'ratesum' => 20,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1478226432',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1478431466',
    'freesize' => '302787',
    'isvip' => 'VIP',
    'viptime' => '1478995623',
    'vipid' => '571',
    'vippubid' => '0',
    'vipchapters' => '8',
    'vipsize' => '48874',
    'vipvolumeid' => '93747',
    'vipvolume' => '第一卷',
    'vipchapterid' => '107728',
    'vipchapter' => '第66章	离开学校',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;所谓的人情，真的很虚无。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱情，兄弟情，同学情，今天又多了一个师生情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然，人世间的感情都他妈一样，脆弱的要死，假的要死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我忽然转动了一下我有些呆滞的眼珠，扫描着这几个装模作样的人，心底里不由的升起了浓浓的反感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我不想看到他们，更不想和他们交流。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是，我直接拔掉了手上吊着点滴的针头，从病床上爬起来，忍着伤口的剧痛下了床。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随即，我套上了我那已被踩脏，也不知道谁给我捡回来的衣服，冷漠的离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;院系领导看我这样，全都慌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中一个年纪..',
    'lastflower' => '1478584606',
    'allflower' => '10',
    'monthflower' => '10',
    'weekflower' => '10',
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '1',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '200',
    'giftnums' => '2',
    'redrose' => '2',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 175831,
    'size_k' => 176,
    'size_w' => 17.6,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/742.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742&cid=107231',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=571&cid=107728',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=742',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=742',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=742',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6629.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E4%EC%CF%E6%D2%B9%D4%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C0%CF%D7%D3%BE%CD%CA%C7%CE%DE%C0%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F742.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '742',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1472973171',
  'lastupdate' => '1478995623',
  'articlename' => '老子就是无赖',
  'articlecode' => 'laozijiushiwulai',
  'backupname' => '能吸引住女孩子才是最重要',
  'keywords' => '我 杨梅丽',
  'roles' => '',
  'initial' => 'L',
  'authorid' => '6629',
  'author' => '潇湘夜月',
  'posterid' => '6629',
  'poster' => '潇湘夜月',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '杨梅丽十分不情愿的看了我一眼转身进去了，片刻，她就拿着几斤大米来到了我的面前，瞪着我大声的说道：“给，拿走吧。”<br />
那语气中就是满满的施舍和不满的情绪。<br />
“谢谢叔叔！”我接过大米，十分感激的大声说着，一边转身就往回走来。<br />
“丽丽，往后再不要这样对庆阳啦，知道吗？”<br />
“我才看不惯他这样的人，赖里赖塔的。”<br />
我的身后传来了他们父女的对话。我心里想你没有经过我这样的生活，当然就不知道了。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '93747',
  'lastvolume' => '第一卷',
  'lastchapterid' => '107231',
  'lastchapter' => '第57章	绝配',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;去他的矜持，去他的克制，去他的正人君子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想当初差点把自己的第一次贡献在了烟花之地，现如今能和自己心爱的女人合二为一，我还扭捏个啥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一刻，我心中的火山彻底的喷发了，沸腾的血液一下子涌上了脑壳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我手一伸，直接大胆的掀开章红梅盖在身上的被子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章红梅条件反射般的用手捂住了胸口，无比认真的盯着我，深情道：“吴赖，今晚过后，你必须要对我负责，不准辜负我。好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我坚定的点着头，郑重地说道：“我发誓，一辈子，不抛弃，不放弃，永远和你在一起！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这，章红..',
  'chapters' => '66',
  'size' => '351661',
  'daysize' => '6072',
  'weeksize' => '42716',
  'monthsize' => '140125',
  'lastvisit' => '1479002459',
  'dayvisit' => '39',
  'weekvisit' => '494',
  'monthvisit' => '1079',
  'allvisit' => '35048',
  'lastvote' => '1475375820',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '1',
  'reviewsnum' => '1',
  'ratenum' => 2,
  'ratesum' => 20,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1478226432',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1478431466',
  'freesize' => '302787',
  'isvip' => 'VIP',
  'viptime' => '1478995623',
  'vipid' => '571',
  'vippubid' => '0',
  'vipchapters' => '8',
  'vipsize' => '48874',
  'vipvolumeid' => '93747',
  'vipvolume' => '第一卷',
  'vipchapterid' => '107728',
  'vipchapter' => '第66章	离开学校',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;所谓的人情，真的很虚无。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱情，兄弟情，同学情，今天又多了一个师生情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然，人世间的感情都他妈一样，脆弱的要死，假的要死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我忽然转动了一下我有些呆滞的眼珠，扫描着这几个装模作样的人，心底里不由的升起了浓浓的反感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我不想看到他们，更不想和他们交流。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是，我直接拔掉了手上吊着点滴的针头，从病床上爬起来，忍着伤口的剧痛下了床。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随即，我套上了我那已被踩脏，也不知道谁给我捡回来的衣服，冷漠的离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;院系领导看我这样，全都慌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中一个年纪..',
  'lastflower' => '1478584606',
  'allflower' => '10',
  'monthflower' => '10',
  'weekflower' => '10',
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '1',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '200',
  'giftnums' => '2',
  'redrose' => '2',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 175831,
  'size_k' => 176,
  'size_w' => 17.6,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/742/742s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/742.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=742&cid=107231',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=571&cid=107728',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=742',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=742',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=742',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6629.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E4%EC%CF%E6%D2%B9%D4%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C0%CF%D7%D3%BE%CD%CA%C7%CE%DE%C0%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F742.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '我',
      'tagencode' => '%CE%D2',
    ),
    1 => 
    array (
      'tagname' => '杨梅丽',
      'tagencode' => '%D1%EE%C3%B7%C0%F6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
