array (
  'meta_keywords' => '爱如死之坚强 洛禾 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=744&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=744&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=744&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=744&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '744',
    'siteid' => '4',
    'sourceid' => '3438',
    'postdate' => '1432016832',
    'lastupdate' => '1432019547',
    'articlename' => '爱如死之坚强',
    'articlecode' => 'airusizhijianqiang',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'A',
    'authorid' => '4934',
    'author' => '洛禾',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 当所有缠绵的爱恋，都化作了恶毒的咒，刻骨的伤，曾让人生死相依的无悔痴迷，是否还能坚定执著一如往昔？　　<br />
?	我紧紧握着那些爱的凭据，静静地看着你把它们一寸一寸钉入我的胸膛。我不喊疼，就像我不说，我爱你。&nbsp;&nbsp;&nbsp;&nbsp;——小枫<br />
?	我要去哪里找到救赎，当我亲手将...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '94325',
    'lastchapter' => '第十八章 拯救',
    'lastsummary' => '',
    'chapters' => '48',
    'size' => '336676',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475818681',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '234',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1432017254',
    'freesize' => '336676',
    'isvip' => 'VIP',
    'viptime' => '1432019547',
    'vipid' => '458',
    'vippubid' => '0',
    'vipchapters' => '28',
    'vipsize' => '213010',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '94354',
    'vipchapter' => '第六章 枫尘',
    'vipsummary' => '“丁宏，林若琪现在在哪里？乐欣都告诉我了，你帮我留住她，我要见她！”<br />
飞机一落地，机场方面就安排了客服人员推着轮椅过来接顾浩宁。他迫不及待的拿出手机就给丁宏拨了过去。<br />
“老大？你到上海了？赶紧来人民医院吧！嫂子在飞机上突然阵痛发作，现在已经进了手术室了，怕是要生了！”<br />
“要生了？不是才七个多月吗？”<br />
“是啊！离预产期还有两个多月呢！??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 168338,
    'size_k' => 169,
    'size_w' => 16.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/744.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744&cid=94325',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=458&cid=94354',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=744',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=744',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=744',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C2%E5%BA%CC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C8%E7%CB%C0%D6%AE%BC%E1%C7%BF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F744.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '744',
  'siteid' => '4',
  'sourceid' => '3438',
  'postdate' => '1432016832',
  'lastupdate' => '1432019547',
  'articlename' => '爱如死之坚强',
  'articlecode' => 'airusizhijianqiang',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'A',
  'authorid' => '4934',
  'author' => '洛禾',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 当所有缠绵的爱恋，都化作了恶毒的咒，刻骨的伤，曾让人生死相依的无悔痴迷，是否还能坚定执著一如往昔？　　<br />
?	我紧紧握着那些爱的凭据，静静地看着你把它们一寸一寸钉入我的胸膛。我不喊疼，就像我不说，我爱你。&nbsp;&nbsp;&nbsp;&nbsp;——小枫<br />
?	我要去哪里找到救赎，当我亲手将...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '94325',
  'lastchapter' => '第十八章 拯救',
  'lastsummary' => '',
  'chapters' => '48',
  'size' => '336676',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475818681',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '234',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1432017254',
  'freesize' => '336676',
  'isvip' => 'VIP',
  'viptime' => '1432019547',
  'vipid' => '458',
  'vippubid' => '0',
  'vipchapters' => '28',
  'vipsize' => '213010',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '94354',
  'vipchapter' => '第六章 枫尘',
  'vipsummary' => '“丁宏，林若琪现在在哪里？乐欣都告诉我了，你帮我留住她，我要见她！”<br />
飞机一落地，机场方面就安排了客服人员推着轮椅过来接顾浩宁。他迫不及待的拿出手机就给丁宏拨了过去。<br />
“老大？你到上海了？赶紧来人民医院吧！嫂子在飞机上突然阵痛发作，现在已经进了手术室了，怕是要生了！”<br />
“要生了？不是才七个多月吗？”<br />
“是啊！离预产期还有两个多月呢！??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 168338,
  'size_k' => 169,
  'size_w' => 16.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/744/744s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/744.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=744&cid=94325',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=458&cid=94354',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=744',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=744',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=744',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C2%E5%BA%CC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C8%E7%CB%C0%D6%AE%BC%E1%C7%BF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F744.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
