array (
  'meta_keywords' => '隔世侦缉档案之千年之吻 璇儿 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=753&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=753&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=753&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=753&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '753',
    'siteid' => '4',
    'sourceid' => '3231',
    'postdate' => '1419750634',
    'lastupdate' => '1431314288',
    'articlename' => '隔世侦缉档案之千年之吻',
    'articlecode' => 'geshizhenjidanganzhiqiannianzhiwen',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'G',
    'authorid' => '4934',
    'author' => '璇儿',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '新月之夜。他倒在水月观音像前，<br />
 <br />
脸上有一种奇怪的欢悦表情，这种表情至死依然凝固在他的脸上，<br />
 <br />
咽喉部位有一道触目惊心的伤口。四周却没有一点一滴血迹。<br />
 <br />
唯独他的额头上。有一个鲜艳的唇印。<br />
 <br />
小小的唇印，颜色嫣红。仿佛是刚刚吻上去的一样……<br />
 ...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '94598',
    'lastchapter' => '第二章 水月观音',
    'lastsummary' => '',
    'chapters' => '10',
    'size' => '161364',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474550262',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '169',
    'allvisit' => '169',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1419750746',
    'freesize' => '161364',
    'isvip' => 'VIP',
    'viptime' => '1431314288',
    'vipid' => '467',
    'vippubid' => '0',
    'vipchapters' => '6',
    'vipsize' => '132142',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '94605',
    'vipchapter' => '第九章 永恒',
    'vipsummary' => '“所长，马爱莲是从你那里知道密码的，对吧？”丹朱问道。<br />
老所长点了点头。“我老了，记性不好，都是记在本子上，马爱莲要翻到是很容易的。她常常到我那里来，我有时候也会过来。都是我的错，太大意了。”<br />
杜润秋望着他，低声地说：“所长，你大可不必这么大义灭亲的。”<br />
“于情，于理，我都应该这么做。”老所长说，他的眼里又有了那种炽热的光芒，像日落?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 80682,
    'size_k' => 81,
    'size_w' => 8.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/753.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753&cid=94598',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=467&cid=94605',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=753',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=753',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=753',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%AF%B6%F9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%F4%CA%C0%D5%EC%BC%A9%B5%B5%B0%B8%D6%AE%C7%A7%C4%EA%D6%AE%CE%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F753.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '753',
  'siteid' => '4',
  'sourceid' => '3231',
  'postdate' => '1419750634',
  'lastupdate' => '1431314288',
  'articlename' => '隔世侦缉档案之千年之吻',
  'articlecode' => 'geshizhenjidanganzhiqiannianzhiwen',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'G',
  'authorid' => '4934',
  'author' => '璇儿',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '新月之夜。他倒在水月观音像前，<br />
 <br />
脸上有一种奇怪的欢悦表情，这种表情至死依然凝固在他的脸上，<br />
 <br />
咽喉部位有一道触目惊心的伤口。四周却没有一点一滴血迹。<br />
 <br />
唯独他的额头上。有一个鲜艳的唇印。<br />
 <br />
小小的唇印，颜色嫣红。仿佛是刚刚吻上去的一样……<br />
 ...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '94598',
  'lastchapter' => '第二章 水月观音',
  'lastsummary' => '',
  'chapters' => '10',
  'size' => '161364',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474550262',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '169',
  'allvisit' => '169',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1419750746',
  'freesize' => '161364',
  'isvip' => 'VIP',
  'viptime' => '1431314288',
  'vipid' => '467',
  'vippubid' => '0',
  'vipchapters' => '6',
  'vipsize' => '132142',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '94605',
  'vipchapter' => '第九章 永恒',
  'vipsummary' => '“所长，马爱莲是从你那里知道密码的，对吧？”丹朱问道。<br />
老所长点了点头。“我老了，记性不好，都是记在本子上，马爱莲要翻到是很容易的。她常常到我那里来，我有时候也会过来。都是我的错，太大意了。”<br />
杜润秋望着他，低声地说：“所长，你大可不必这么大义灭亲的。”<br />
“于情，于理，我都应该这么做。”老所长说，他的眼里又有了那种炽热的光芒，像日落?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 80682,
  'size_k' => 81,
  'size_w' => 8.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/753/753s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/753.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=753&cid=94598',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=467&cid=94605',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=753',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=753',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=753',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%AF%B6%F9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%F4%CA%C0%D5%EC%BC%A9%B5%B5%B0%B8%D6%AE%C7%A7%C4%EA%D6%AE%CE%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F753.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
