array (
  'meta_keywords' => '深瞳 陈楸帆 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=764&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=764&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=764&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=764&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '764',
    'siteid' => '4',
    'sourceid' => '3469',
    'postdate' => '1432177538',
    'lastupdate' => '1432178480',
    'articlename' => '深瞳',
    'articlecode' => 'shentong',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '4934',
    'author' => '陈楸帆',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '《深瞳》的故事从一连串离奇的自杀开始：莫名其妙坠落的老头、32个跳下地铁站台的乘客。死者的死亡原因匪夷所思，而后的线索却出人意料地将案情引向一个与刑事案件毫不相关的学术领域：眼科学。故事在这里华丽转身，形形色色的人物纷纷登场。所有的一切都暗示着世界正...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '94761',
    'lastchapter' => '10',
    'lastsummary' => '',
    'chapters' => '31',
    'size' => '153436',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478638319',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '52',
    'allvisit' => '260',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1432177761',
    'freesize' => '153436',
    'isvip' => 'VIP',
    'viptime' => '1432178480',
    'vipid' => '478',
    'vippubid' => '0',
    'vipchapters' => '19',
    'vipsize' => '128818',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '94781',
    'vipchapter' => '尾声',
    'vipsummary' => '尼泊尔南部，提罗拉科省，蓝毗尼。<br />
司马穆一脸苦相，他粗暴地搡开蜂拥而上的小贩，接近四十度的湿热天气让人心情恶劣。他满腹怨懑地看着前面大步流星的沙提瓦，不明白自己为什么跟着这个印度人，挤了七个小时沙丁鱼罐头似的破烂巴士，从加德满都赶到这里，就为了朝拜一根柱子。<br />
他将矫正镜[矫正镜，将客观世界的光学影像，通过一套类似正常人类眼睛的数据处?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 76718,
    'size_k' => 77,
    'size_w' => 7.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/764.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764&cid=94761',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=478&cid=94781',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=764',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=764',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=764',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C2%E9%B1%B7%AB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%EE%CD%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F764.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '764',
  'siteid' => '4',
  'sourceid' => '3469',
  'postdate' => '1432177538',
  'lastupdate' => '1432178480',
  'articlename' => '深瞳',
  'articlecode' => 'shentong',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '4934',
  'author' => '陈楸帆',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '《深瞳》的故事从一连串离奇的自杀开始：莫名其妙坠落的老头、32个跳下地铁站台的乘客。死者的死亡原因匪夷所思，而后的线索却出人意料地将案情引向一个与刑事案件毫不相关的学术领域：眼科学。故事在这里华丽转身，形形色色的人物纷纷登场。所有的一切都暗示着世界正...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '94761',
  'lastchapter' => '10',
  'lastsummary' => '',
  'chapters' => '31',
  'size' => '153436',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478638319',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '52',
  'allvisit' => '260',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1432177761',
  'freesize' => '153436',
  'isvip' => 'VIP',
  'viptime' => '1432178480',
  'vipid' => '478',
  'vippubid' => '0',
  'vipchapters' => '19',
  'vipsize' => '128818',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '94781',
  'vipchapter' => '尾声',
  'vipsummary' => '尼泊尔南部，提罗拉科省，蓝毗尼。<br />
司马穆一脸苦相，他粗暴地搡开蜂拥而上的小贩，接近四十度的湿热天气让人心情恶劣。他满腹怨懑地看着前面大步流星的沙提瓦，不明白自己为什么跟着这个印度人，挤了七个小时沙丁鱼罐头似的破烂巴士，从加德满都赶到这里，就为了朝拜一根柱子。<br />
他将矫正镜[矫正镜，将客观世界的光学影像，通过一套类似正常人类眼睛的数据处?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 76718,
  'size_k' => 77,
  'size_w' => 7.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/764/764s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/764.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=764&cid=94761',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=478&cid=94781',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=764',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=764',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=764',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C2%E9%B1%B7%AB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%EE%CD%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F764.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
