array (
  'meta_keywords' => '致我们终将逝去的爱情 熊显华 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=771&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=771&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=771&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=771&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '771',
    'siteid' => '4',
    'sourceid' => '3259',
    'postdate' => '1421310658',
    'lastupdate' => '1430904674',
    'articlename' => '致我们终将逝去的爱情',
    'articlecode' => 'zhiwomenzhongjiangshiqudeaiqing',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '4934',
    'author' => '熊显华',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '《致我们终将逝去的爱情》是一部关于超级麻辣女人的情感风云的作品。在这里，你不会觉得孤独，因为这里有许多外乡人，他们分布在这座移民城市的各个角落，打拼自己的生活。爱可以轰轰烈烈，可以海誓山盟，可以生死与共，可以不顾一切，唯独不能孤独。萧萧、思雅、燕子...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '94906',
    'lastchapter' => '第二十章：未来婆婆不好伺候',
    'lastsummary' => '',
    'chapters' => '47',
    'size' => '401814',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475819874',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1421659691',
    'freesize' => '401814',
    'isvip' => 'VIP',
    'viptime' => '1430904674',
    'vipid' => '485',
    'vippubid' => '0',
    'vipchapters' => '26',
    'vipsize' => '190414',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '94933',
    'vipchapter' => '第四十六章：幸福的爱',
    'vipsummary' => '攀枝花的天气到下午五六点钟还是热得不得了，黄剑波也不想去公司了，我们在店里聊天。不过，都是我、杜馨、汪华三个人在说，黄剑波不是一个爱说话的人，他在沙发上睡觉。<br />
“轰隆隆。”天有点阴沉沉的。<br />
“是不是，要下雨了？”我听着就想是打雷似的。<br />
“地震了。”外面有人在大声的叫。<br />
黄剑波一个翻身起来，拉着我的手就往门外冲，路上很多人，都在向广场?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 200907,
    'size_k' => 201,
    'size_w' => 20.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/771.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771&cid=94906',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=485&cid=94933',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=771',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=771',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=771',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%DC%CF%D4%BB%AA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%C2%CE%D2%C3%C7%D6%D5%BD%AB%CA%C5%C8%A5%B5%C4%B0%AE%C7%E9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F771.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '771',
  'siteid' => '4',
  'sourceid' => '3259',
  'postdate' => '1421310658',
  'lastupdate' => '1430904674',
  'articlename' => '致我们终将逝去的爱情',
  'articlecode' => 'zhiwomenzhongjiangshiqudeaiqing',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '4934',
  'author' => '熊显华',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '《致我们终将逝去的爱情》是一部关于超级麻辣女人的情感风云的作品。在这里，你不会觉得孤独，因为这里有许多外乡人，他们分布在这座移民城市的各个角落，打拼自己的生活。爱可以轰轰烈烈，可以海誓山盟，可以生死与共，可以不顾一切，唯独不能孤独。萧萧、思雅、燕子...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '94906',
  'lastchapter' => '第二十章：未来婆婆不好伺候',
  'lastsummary' => '',
  'chapters' => '47',
  'size' => '401814',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475819874',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1421659691',
  'freesize' => '401814',
  'isvip' => 'VIP',
  'viptime' => '1430904674',
  'vipid' => '485',
  'vippubid' => '0',
  'vipchapters' => '26',
  'vipsize' => '190414',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '94933',
  'vipchapter' => '第四十六章：幸福的爱',
  'vipsummary' => '攀枝花的天气到下午五六点钟还是热得不得了，黄剑波也不想去公司了，我们在店里聊天。不过，都是我、杜馨、汪华三个人在说，黄剑波不是一个爱说话的人，他在沙发上睡觉。<br />
“轰隆隆。”天有点阴沉沉的。<br />
“是不是，要下雨了？”我听着就想是打雷似的。<br />
“地震了。”外面有人在大声的叫。<br />
黄剑波一个翻身起来，拉着我的手就往门外冲，路上很多人，都在向广场?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 200907,
  'size_k' => 201,
  'size_w' => 20.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/771/771s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/771.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=771&cid=94906',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=485&cid=94933',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=771',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=771',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=771',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%DC%CF%D4%BB%AA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%C2%CE%D2%C3%C7%D6%D5%BD%AB%CA%C5%C8%A5%B5%C4%B0%AE%C7%E9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F771.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
