array (
  'meta_keywords' => '开始处结束 吴祥宇 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=782&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=782&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=782&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=782&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '782',
    'siteid' => '4',
    'sourceid' => '3384',
    'postdate' => '1431103865',
    'lastupdate' => '1431104850',
    'articlename' => '开始处结束',
    'articlecode' => 'kaishichujieshu',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'K',
    'authorid' => '4934',
    'author' => '吴祥宇',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '在锦城出国日期临近的日子里，他与家中闹翻了，瞒着母亲偷偷搭乘飞机来到了绍兴，与诗茵的再次相聚，让锦城终于明白了自己情感的归属从来就未改变过，他们在如诗如画的江南沉浸于甜蜜的爱河中。闻讯而至的林母道出了一个隐藏了二十年的秘密，他们竟然是同父异母的兄妹...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95114',
    'lastchapter' => '第十章',
    'lastsummary' => '',
    'chapters' => '35',
    'size' => '418964',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474523259',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '104',
    'allvisit' => '104',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431104113',
    'freesize' => '418964',
    'isvip' => 'VIP',
    'viptime' => '1431104850',
    'vipid' => '495',
    'vippubid' => '0',
    'vipchapters' => '24',
    'vipsize' => '310838',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95139',
    'vipchapter' => '第三十五章',
    'vipsummary' => '阿武死了。锦熙常从恶梦中醒过来，她不敢相信这是事实。在火化之前，她俯下身子在他唇上轻轻一吻，她取下脖子上戴的项链，系在他脖子上，火化之后，骨灰与项链一起放入骨灰盒，这项链是他刚开始时靠乐队演出攒了半年的钱给她买的生日礼物。回想起他为了攒钱吃最便宜的盒饭，烟酒都戒了，有一次他烟瘾犯了，竟捡酒吧里别人抽完了的烟蒂。这一幕正好被锦熙撞见..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 209482,
    'size_k' => 210,
    'size_w' => 20.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/782.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782&cid=95114',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=495&cid=95139',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=782',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=782',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=782',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%E2%CF%E9%D3%EE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%AA%CA%BC%B4%A6%BD%E1%CA%F8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F782.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '782',
  'siteid' => '4',
  'sourceid' => '3384',
  'postdate' => '1431103865',
  'lastupdate' => '1431104850',
  'articlename' => '开始处结束',
  'articlecode' => 'kaishichujieshu',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'K',
  'authorid' => '4934',
  'author' => '吴祥宇',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '在锦城出国日期临近的日子里，他与家中闹翻了，瞒着母亲偷偷搭乘飞机来到了绍兴，与诗茵的再次相聚，让锦城终于明白了自己情感的归属从来就未改变过，他们在如诗如画的江南沉浸于甜蜜的爱河中。闻讯而至的林母道出了一个隐藏了二十年的秘密，他们竟然是同父异母的兄妹...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95114',
  'lastchapter' => '第十章',
  'lastsummary' => '',
  'chapters' => '35',
  'size' => '418964',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474523259',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '104',
  'allvisit' => '104',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431104113',
  'freesize' => '418964',
  'isvip' => 'VIP',
  'viptime' => '1431104850',
  'vipid' => '495',
  'vippubid' => '0',
  'vipchapters' => '24',
  'vipsize' => '310838',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95139',
  'vipchapter' => '第三十五章',
  'vipsummary' => '阿武死了。锦熙常从恶梦中醒过来，她不敢相信这是事实。在火化之前，她俯下身子在他唇上轻轻一吻，她取下脖子上戴的项链，系在他脖子上，火化之后，骨灰与项链一起放入骨灰盒，这项链是他刚开始时靠乐队演出攒了半年的钱给她买的生日礼物。回想起他为了攒钱吃最便宜的盒饭，烟酒都戒了，有一次他烟瘾犯了，竟捡酒吧里别人抽完了的烟蒂。这一幕正好被锦熙撞见..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 209482,
  'size_k' => 210,
  'size_w' => 20.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/782/782s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/782.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=782&cid=95114',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=495&cid=95139',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=782',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=782',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=782',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%E2%CF%E9%D3%EE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%AA%CA%BC%B4%A6%BD%E1%CA%F8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F782.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
