array (
  'meta_keywords' => '纪忆 宋健强 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=785&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=785&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=785&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=785&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '785',
    'siteid' => '4',
    'sourceid' => '3369',
    'postdate' => '1431088044',
    'lastupdate' => '1431089877',
    'articlename' => '纪忆',
    'articlecode' => 'jiyi',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '4934',
    'author' => '宋健强',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '　　这部小说通过爱情的繁杂来表达出人性的复杂和心灵的一种出走和回归。小说告诉我们生活中的一切都没有结束，我们依然走在路上，生活总是在我们最无望无助的时候射入一丝熹微的晨光，但那光又会再一次刺痛眼睑。<br />
　　这是一部适合所有行走在尘世中有爱、有梦或者已...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95205',
    'lastchapter' => '第十二章',
    'lastsummary' => '',
    'chapters' => '45',
    'size' => '325674',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474516177',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '130',
    'allvisit' => '130',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431088641',
    'freesize' => '325674',
    'isvip' => 'VIP',
    'viptime' => '1431089877',
    'vipid' => '498',
    'vippubid' => '0',
    'vipchapters' => '31',
    'vipsize' => '238106',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95237',
    'vipchapter' => '后记',
    'vipsummary' => '０１<br />
有一篇很著名的外国散文故事叫做《幸福在山那边》，里面说我们想摆脱的就是我们目前塌实琐碎的生活，我们极力要寻找的天堂也还是普通平凡的生活。<br />
我想我看到这句话的时候是很从容但却很不平静的。<br />
如果说幸福在山那边，那么痛苦又在哪里呢？我们近在眼前或者正在忍受着的抑郁、荒芜、沧桑、厌倦，那种生命莫可名状的疲惫和孤独，那种患得患失、无所依?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 162837,
    'size_k' => 163,
    'size_w' => 16.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/785.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785&cid=95205',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=498&cid=95237',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=785',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=785',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=785',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%BD%A1%C7%BF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%CD%D2%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F785.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '785',
  'siteid' => '4',
  'sourceid' => '3369',
  'postdate' => '1431088044',
  'lastupdate' => '1431089877',
  'articlename' => '纪忆',
  'articlecode' => 'jiyi',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '4934',
  'author' => '宋健强',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '　　这部小说通过爱情的繁杂来表达出人性的复杂和心灵的一种出走和回归。小说告诉我们生活中的一切都没有结束，我们依然走在路上，生活总是在我们最无望无助的时候射入一丝熹微的晨光，但那光又会再一次刺痛眼睑。<br />
　　这是一部适合所有行走在尘世中有爱、有梦或者已...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95205',
  'lastchapter' => '第十二章',
  'lastsummary' => '',
  'chapters' => '45',
  'size' => '325674',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474516177',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '130',
  'allvisit' => '130',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431088641',
  'freesize' => '325674',
  'isvip' => 'VIP',
  'viptime' => '1431089877',
  'vipid' => '498',
  'vippubid' => '0',
  'vipchapters' => '31',
  'vipsize' => '238106',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95237',
  'vipchapter' => '后记',
  'vipsummary' => '０１<br />
有一篇很著名的外国散文故事叫做《幸福在山那边》，里面说我们想摆脱的就是我们目前塌实琐碎的生活，我们极力要寻找的天堂也还是普通平凡的生活。<br />
我想我看到这句话的时候是很从容但却很不平静的。<br />
如果说幸福在山那边，那么痛苦又在哪里呢？我们近在眼前或者正在忍受着的抑郁、荒芜、沧桑、厌倦，那种生命莫可名状的疲惫和孤独，那种患得患失、无所依?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 162837,
  'size_k' => 163,
  'size_w' => 16.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/785/785s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/785.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=785&cid=95205',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=498&cid=95237',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=785',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=785',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=785',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%CE%BD%A1%C7%BF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%CD%D2%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F785.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
