array (
  'meta_keywords' => '元红 顾坚 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=788&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=788&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=788&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=788&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '788',
    'siteid' => '4',
    'sourceid' => '3359',
    'postdate' => '1431072856',
    'lastupdate' => '1431075584',
    'articlename' => '元红',
    'articlecode' => 'yuanhong',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '4934',
    'author' => '顾坚',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '　故事起始于上世纪70年代的苏北水乡里下河地区，描写了主人公丁存扣从九岁到三十五岁的人生历程：从懵懂无知的孩童，情窦初开的少年，意气风发的青年，直到为爱情而弃教经商的经历。期间，有庆芸、秀平、阿香、爱香、春妮等美丽善良的女子与他相恋，由此演绎出人间男...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95336',
    'lastchapter' => '第十章',
    'lastsummary' => '',
    'chapters' => '40',
    'size' => '795756',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478667254',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '208',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431074331',
    'freesize' => '795756',
    'isvip' => 'VIP',
    'viptime' => '1431075584',
    'vipid' => '501',
    'vippubid' => '0',
    'vipchapters' => '29',
    'vipsize' => '601504',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95366',
    'vipchapter' => '第三十八章',
    'vipsummary' => '存扣一路走回姨娘家。身子有些疲沓，头有些昏，就先到房里躺下休息了，却左右睡不着。头脑中各种风景、人物、念头挤挤搡搡的，彼此穿梭渗透，如以前农村露天电影散场时的混乱和嘈杂。<br />
怎么也没想到，这次回乡会见到爱香。确实，多少年过去，许多曾经亲密的人，随着时光的流逝，渐行渐远，淹没于记忆的海洋，恰如一条条潜游的鱼，在深水间悄无声息地游动。但??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 397878,
    'size_k' => 398,
    'size_w' => 39.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/788.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788&cid=95336',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=501&cid=95366',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=788',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=788',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=788',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%CB%BC%E1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%AA%BA%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F788.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '788',
  'siteid' => '4',
  'sourceid' => '3359',
  'postdate' => '1431072856',
  'lastupdate' => '1431075584',
  'articlename' => '元红',
  'articlecode' => 'yuanhong',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '4934',
  'author' => '顾坚',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '　故事起始于上世纪70年代的苏北水乡里下河地区，描写了主人公丁存扣从九岁到三十五岁的人生历程：从懵懂无知的孩童，情窦初开的少年，意气风发的青年，直到为爱情而弃教经商的经历。期间，有庆芸、秀平、阿香、爱香、春妮等美丽善良的女子与他相恋，由此演绎出人间男...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95336',
  'lastchapter' => '第十章',
  'lastsummary' => '',
  'chapters' => '40',
  'size' => '795756',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478667254',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '208',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431074331',
  'freesize' => '795756',
  'isvip' => 'VIP',
  'viptime' => '1431075584',
  'vipid' => '501',
  'vippubid' => '0',
  'vipchapters' => '29',
  'vipsize' => '601504',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95366',
  'vipchapter' => '第三十八章',
  'vipsummary' => '存扣一路走回姨娘家。身子有些疲沓，头有些昏，就先到房里躺下休息了，却左右睡不着。头脑中各种风景、人物、念头挤挤搡搡的，彼此穿梭渗透，如以前农村露天电影散场时的混乱和嘈杂。<br />
怎么也没想到，这次回乡会见到爱香。确实，多少年过去，许多曾经亲密的人，随着时光的流逝，渐行渐远，淹没于记忆的海洋，恰如一条条潜游的鱼，在深水间悄无声息地游动。但??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 397878,
  'size_k' => 398,
  'size_w' => 39.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/788/788s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/788.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=788&cid=95336',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=501&cid=95366',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=788',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=788',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=788',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%CB%BC%E1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%AA%BA%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F788.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
