array (
  'meta_keywords' => '军少独爱闪婚萌妻 唐家姑娘 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=79&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=79&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=79&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=79&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '79',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480511243',
    'lastupdate' => '1480511281',
    'articlename' => '军少独爱闪婚萌妻',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '唐家姑娘',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说军少独爱闪婚萌妻简介：&nbsp;&nbsp;&nbsp;&nbsp;在厉先生眼中，女人分三种：爱哭、不爱哭和上秒哭鼻子下秒便喜笑颜开的倪初夏；<br />
&nbsp;&nbsp;&nbsp;&nbsp;在倪小姐眼中，男人分三种：穿衣服、没穿衣服和穿了衣服也和没穿一样的厉泽阳。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——女主——<br />
&nbsp;&nbsp;&nbsp;&nbsp;经历生死、抵死缠绵后，她从女孩变为女人，悲催的是太投入连身上男人的脸都没看清。<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪初夏觉得人生最惨莫过于此，却不知最惨之后还有更惨。<br />
&nbsp;&nbsp;&nbsp;&nbsp;父亲锒铛入狱。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她从豪门名媛沦为圈中人的笑柄；<br />
&nbsp;&nbsp;&nbsp;&nbsp;狐狸精后妈带一双儿女携款潜逃；<br />
&nbsp;&nbsp;&nbsp;&nbsp;未婚夫见形势不妙搂着三儿走了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;……<br />
&nbsp;&nbsp;&nbsp;&nbsp;当人生跌入谷底时，倪小姐遇到了厉先生。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——男主——<br />
&nbsp;&nbsp;&nbsp;&nbsp;他是珠城只手遮天、令人闻风丧胆的少将，性子沉敛、凉薄。<br />
&nbsp;&nbsp;&nbsp;&nbsp;传闻，他不近女色、不婚主义。<br />
&nbsp;&nbsp;&nbsp;&nbsp;却为她打破传闻。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“和我结婚，从此无人敢欺你。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“笔趣阁女总裁的全能兵王http://www.sbiquge.com。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场无性无爱的婚姻，本应枯燥无味、各取所需，却愣是过得趣味横生、爱意浓浓。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——干与不干——<br />
&nbsp;&nbsp;&nbsp;&nbsp;某日，倪小姐无聊，玩着身侧正在一心办公男人的皮带，一时用力，直接给扯了出来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她望望天、望望地，一脸无辜看向面色铁青的男人，“我就是试试它结不结实？真的！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人薄唇微抿，眸光潋滟光泽，“你要是想要直接和我说，我又不是不给。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我没……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪小姐话还没说完就被男人按到在沙发上，三下五除二扒光了衣服。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“卧槽，厉泽阳你给我起来！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜呜…老娘腰要断了，混蛋……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场激烈战局拉开帷幕。<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉先生看着躺在床上装死的某人，声音醇厚低沉还带着丝丝满足，“下次再耍流氓，干到你下不了床。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪小姐流泪望天花板：……<br />
&nbsp;&nbsp;&nbsp;&nbsp;说笔趣阁女总裁的全能兵王http://www.sbiquge.com的不近女色、性子沉敛凉薄呢？！<br />
&nbsp;&nbsp;&nbsp;&nbsp;都是套路啊……<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉氏御妻守则：对付女流氓的方法——化身为狼！<br />
&nbsp;&nbsp;&nbsp;&nbsp;——离与不离——<br />
&nbsp;&nbsp;&nbsp;&nbsp;“厉泽阳，我要离婚！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪初夏盯着眼下堪比国宝的黑眼圈，再也控制不住体内的洪荒之力，爆发了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人冷哼一声，轻启薄唇，“理由？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们厉家惨无人道、我生活的惨绝人寰，呜呜呜…”<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪有早上五点半就起来负重跑步的？！关键她晚上还要被他折磨，凌晨三点才睡下！<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有一个办法可以让你不用起那么早，要试试嘛？”男人慢慢靠近，鼻息都扑在她面上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”倪初夏眸光一亮，满是期待。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人轻挑她下巴，黑眸溢出光亮，“生个娃儿，十个月加上带娃的时间，足够你休息。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真有这么笔趣阁女总裁的全能兵王http://www.sbiquge.com？”倪初夏狐疑看着男人，生怕他使坏。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然。”男人扣住她的后脑勺，唇贴上去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉氏坑妻守则：只要坑不走，就往死里坑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;*<br />
&nbsp;&nbsp;&nbsp;&nbsp;本文又名《厉少坑妻守则》、《如何翻身做主把歌唱》、《女流氓驯夫三十六计》<br />
&nbsp;&nbsp;&nbsp;&nbsp;对一，婚恋宠文，欢迎各位美妞入坑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;附上完结文：<br />
&nbsp;&nbsp;&nbsp;&nbsp;《傅少诱爱重生小妻》<br />
&nbsp;&nbsp;&nbsp;&nbsp;《影后重生之豪门婚宠》<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《军少独爱闪婚萌妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！军少独爱闪婚萌妻最新章节,军少独爱闪婚萌妻无弹窗,军少独爱闪婚萌妻全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《军少独爱闪婚萌妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：军少独爱闪婚萌妻最新章节,军少独爱闪婚萌妻无弹窗,军少独爱闪婚萌妻全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '14890',
    'lastchapter' => '027、搬过来和我住',
    'lastsummary' => '',
    'chapters' => '27',
    'size' => '130665',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1481572781',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '65',
    'allvisit' => '65',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '',
    'typename' => '',
    'size_c' => 65333,
    'size_k' => 66,
    'size_w' => 6.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/79.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79&cid=14890',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=79',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=79',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=79',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%BC%D2%B9%C3%C4%EF',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%BC%D2%B9%C3%C4%EF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%FC%C9%D9%B6%C0%B0%AE%C9%C1%BB%E9%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F79.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '79',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480511243',
  'lastupdate' => '1480511281',
  'articlename' => '军少独爱闪婚萌妻',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '唐家姑娘',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说军少独爱闪婚萌妻简介：&nbsp;&nbsp;&nbsp;&nbsp;在厉先生眼中，女人分三种：爱哭、不爱哭和上秒哭鼻子下秒便喜笑颜开的倪初夏；<br />
&nbsp;&nbsp;&nbsp;&nbsp;在倪小姐眼中，男人分三种：穿衣服、没穿衣服和穿了衣服也和没穿一样的厉泽阳。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——女主——<br />
&nbsp;&nbsp;&nbsp;&nbsp;经历生死、抵死缠绵后，她从女孩变为女人，悲催的是太投入连身上男人的脸都没看清。<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪初夏觉得人生最惨莫过于此，却不知最惨之后还有更惨。<br />
&nbsp;&nbsp;&nbsp;&nbsp;父亲锒铛入狱。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她从豪门名媛沦为圈中人的笑柄；<br />
&nbsp;&nbsp;&nbsp;&nbsp;狐狸精后妈带一双儿女携款潜逃；<br />
&nbsp;&nbsp;&nbsp;&nbsp;未婚夫见形势不妙搂着三儿走了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;……<br />
&nbsp;&nbsp;&nbsp;&nbsp;当人生跌入谷底时，倪小姐遇到了厉先生。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——男主——<br />
&nbsp;&nbsp;&nbsp;&nbsp;他是珠城只手遮天、令人闻风丧胆的少将，性子沉敛、凉薄。<br />
&nbsp;&nbsp;&nbsp;&nbsp;传闻，他不近女色、不婚主义。<br />
&nbsp;&nbsp;&nbsp;&nbsp;却为她打破传闻。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“和我结婚，从此无人敢欺你。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“笔趣阁女总裁的全能兵王http://www.sbiquge.com。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场无性无爱的婚姻，本应枯燥无味、各取所需，却愣是过得趣味横生、爱意浓浓。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——干与不干——<br />
&nbsp;&nbsp;&nbsp;&nbsp;某日，倪小姐无聊，玩着身侧正在一心办公男人的皮带，一时用力，直接给扯了出来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她望望天、望望地，一脸无辜看向面色铁青的男人，“我就是试试它结不结实？真的！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人薄唇微抿，眸光潋滟光泽，“你要是想要直接和我说，我又不是不给。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我没……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪小姐话还没说完就被男人按到在沙发上，三下五除二扒光了衣服。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“卧槽，厉泽阳你给我起来！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜呜…老娘腰要断了，混蛋……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场激烈战局拉开帷幕。<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉先生看着躺在床上装死的某人，声音醇厚低沉还带着丝丝满足，“下次再耍流氓，干到你下不了床。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪小姐流泪望天花板：……<br />
&nbsp;&nbsp;&nbsp;&nbsp;说笔趣阁女总裁的全能兵王http://www.sbiquge.com的不近女色、性子沉敛凉薄呢？！<br />
&nbsp;&nbsp;&nbsp;&nbsp;都是套路啊……<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉氏御妻守则：对付女流氓的方法——化身为狼！<br />
&nbsp;&nbsp;&nbsp;&nbsp;——离与不离——<br />
&nbsp;&nbsp;&nbsp;&nbsp;“厉泽阳，我要离婚！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;倪初夏盯着眼下堪比国宝的黑眼圈，再也控制不住体内的洪荒之力，爆发了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人冷哼一声，轻启薄唇，“理由？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们厉家惨无人道、我生活的惨绝人寰，呜呜呜…”<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪有早上五点半就起来负重跑步的？！关键她晚上还要被他折磨，凌晨三点才睡下！<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有一个办法可以让你不用起那么早，要试试嘛？”男人慢慢靠近，鼻息都扑在她面上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”倪初夏眸光一亮，满是期待。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人轻挑她下巴，黑眸溢出光亮，“生个娃儿，十个月加上带娃的时间，足够你休息。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真有这么笔趣阁女总裁的全能兵王http://www.sbiquge.com？”倪初夏狐疑看着男人，生怕他使坏。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然。”男人扣住她的后脑勺，唇贴上去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;厉氏坑妻守则：只要坑不走，就往死里坑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;*<br />
&nbsp;&nbsp;&nbsp;&nbsp;本文又名《厉少坑妻守则》、《如何翻身做主把歌唱》、《女流氓驯夫三十六计》<br />
&nbsp;&nbsp;&nbsp;&nbsp;对一，婚恋宠文，欢迎各位美妞入坑。<br />
&nbsp;&nbsp;&nbsp;&nbsp;附上完结文：<br />
&nbsp;&nbsp;&nbsp;&nbsp;《傅少诱爱重生小妻》<br />
&nbsp;&nbsp;&nbsp;&nbsp;《影后重生之豪门婚宠》<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《军少独爱闪婚萌妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！军少独爱闪婚萌妻最新章节,军少独爱闪婚萌妻无弹窗,军少独爱闪婚萌妻全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《军少独爱闪婚萌妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：军少独爱闪婚萌妻最新章节,军少独爱闪婚萌妻无弹窗,军少独爱闪婚萌妻全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '14890',
  'lastchapter' => '027、搬过来和我住',
  'lastsummary' => '',
  'chapters' => '27',
  'size' => '130665',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1481572781',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '65',
  'allvisit' => '65',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '',
  'typename' => '',
  'size_c' => 65333,
  'size_k' => 66,
  'size_w' => 6.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/79/79s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/79.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=79&cid=14890',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=79',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=79',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=79',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%BC%D2%B9%C3%C4%EF',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%C6%BC%D2%B9%C3%C4%EF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%FC%C9%D9%B6%C0%B0%AE%C9%C1%BB%E9%C3%C8%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F79.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)