array (
  'meta_keywords' => '第四类情感 桢理 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=791&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=791&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=791&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=791&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '791',
    'siteid' => '4',
    'sourceid' => '3600',
    'postdate' => '1472285609',
    'lastupdate' => '1472288620',
    'articlename' => '第四类情感',
    'articlecode' => 'disileiqinggan',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '4934',
    'author' => '桢理',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '第四类情感是转基因产品。<br />
　　走在爱与不爱，性与非性的钢丝绳上，是这个时代的又一轮时尚。<br />
　　本部小说讲述了发生了三个女人和一个男人之间虽不血腥，却带来深处伤害的一场战争。<br />
　　作者行文灵动毒辣，把“第四类情感”的细褶裂隙，尽数展来，指了天下多少人...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95401',
    'lastchapter' => '十、三个女人的纠结',
    'lastsummary' => '',
    'chapters' => '37',
    'size' => '281954',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478140600',
    'dayvisit' => '26',
    'weekvisit' => '78',
    'monthvisit' => '52',
    'allvisit' => '1768',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '14',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1472286369',
    'freesize' => '281954',
    'isvip' => 'VIP',
    'viptime' => '1472288620',
    'vipid' => '504',
    'vippubid' => '0',
    'vipchapters' => '26',
    'vipsize' => '196278',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95428',
    'vipchapter' => '三十七、关于舞蹈的补遗',
    'vipsummary' => '兰蔻听了，就对坂口说，既然你看到过非洲的真实，为什么还要跟我一次次热烈地探讨它呢！<br />
坂口一怔，想了想说，那我们谈什么呢？总得谈点什么吧。<br />
仿佛刻意的煎熬，兰蔻再回到大实惠上班，坂口玉男虽然用眼睛跟她打了个淡淡的招呼，算是照顾了礼貌，却故意一整天都不给她安排任何工作。她闲来无事，不得不苦苦坐在办公桌前，假意翻看文件，眼角的余光，却透了..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 140977,
    'size_k' => 141,
    'size_w' => 14.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/791.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791&cid=95401',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=504&cid=95428',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=791',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=791',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=791',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%E5%C0%ED',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%DA%CB%C4%C0%E0%C7%E9%B8%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F791.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '791',
  'siteid' => '4',
  'sourceid' => '3600',
  'postdate' => '1472285609',
  'lastupdate' => '1472288620',
  'articlename' => '第四类情感',
  'articlecode' => 'disileiqinggan',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '4934',
  'author' => '桢理',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '第四类情感是转基因产品。<br />
　　走在爱与不爱，性与非性的钢丝绳上，是这个时代的又一轮时尚。<br />
　　本部小说讲述了发生了三个女人和一个男人之间虽不血腥，却带来深处伤害的一场战争。<br />
　　作者行文灵动毒辣，把“第四类情感”的细褶裂隙，尽数展来，指了天下多少人...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95401',
  'lastchapter' => '十、三个女人的纠结',
  'lastsummary' => '',
  'chapters' => '37',
  'size' => '281954',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478140600',
  'dayvisit' => '26',
  'weekvisit' => '78',
  'monthvisit' => '52',
  'allvisit' => '1768',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '14',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1472286369',
  'freesize' => '281954',
  'isvip' => 'VIP',
  'viptime' => '1472288620',
  'vipid' => '504',
  'vippubid' => '0',
  'vipchapters' => '26',
  'vipsize' => '196278',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95428',
  'vipchapter' => '三十七、关于舞蹈的补遗',
  'vipsummary' => '兰蔻听了，就对坂口说，既然你看到过非洲的真实，为什么还要跟我一次次热烈地探讨它呢！<br />
坂口一怔，想了想说，那我们谈什么呢？总得谈点什么吧。<br />
仿佛刻意的煎熬，兰蔻再回到大实惠上班，坂口玉男虽然用眼睛跟她打了个淡淡的招呼，算是照顾了礼貌，却故意一整天都不给她安排任何工作。她闲来无事，不得不苦苦坐在办公桌前，假意翻看文件，眼角的余光，却透了..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 140977,
  'size_k' => 141,
  'size_w' => 14.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/791/791s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/791.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=791&cid=95401',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=504&cid=95428',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=791',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=791',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=791',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%E5%C0%ED',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B5%DA%CB%C4%C0%E0%C7%E9%B8%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F791.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
