array (
  'meta_keywords' => '春天华尔兹 彭柳蓉 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=797&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=797&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=797&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=797&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '797',
    'siteid' => '4',
    'sourceid' => '3386',
    'postdate' => '1431105268',
    'lastupdate' => '1431106025',
    'articlename' => '春天华尔兹',
    'articlecode' => 'chuntianhuaerzi',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '4934',
    'author' => '彭柳蓉',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '从小被人贩子拐卖到A城的小男孩被欧阳家收养，从此进入欧阳婕的生活。<br />
十年之后，成为灌篮高手的欧阳傲拒绝几家体育名校的邀请，以优异成绩考进欧阳婕所在的二流中学。欧阳婕在开学日看到一身黑衣像暴走族般骑机车冲进校园的另类美术老师童天南，从此留意上他，而童...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95547',
    'lastchapter' => '第四章',
    'lastsummary' => '',
    'chapters' => '13',
    'size' => '153542',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1474521896',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '143',
    'allvisit' => '143',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431105519',
    'freesize' => '153542',
    'isvip' => 'VIP',
    'viptime' => '1431106025',
    'vipid' => '510',
    'vippubid' => '0',
    'vipchapters' => '8',
    'vipsize' => '108082',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95556',
    'vipchapter' => '第十三章',
    'vipsummary' => '欧阳婕怔在那里。<br />
她一向都是觉得童天南的眼睛很深隧，但从没有哪一次，看到他的目光里包含这样多的东西，温柔而期待地看着她。<br />
她微微地低下头，错开他的目光，声音在舌下转了很久，才呐呐地发出一个音节，&amp;quot;我……&amp;quot;<br />
童天南的手伸过来，只一根食指，轻轻地按在她的唇上，&amp;quot;也不必先忙着回答。&amp;quot;他自己在那边笑了笑，带着几分自嘲，&amp;..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 76771,
    'size_k' => 77,
    'size_w' => 7.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/797.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797&cid=95547',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=510&cid=95556',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=797',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=797',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=797',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C5%ED%C1%F8%C8%D8',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%BA%CC%EC%BB%AA%B6%FB%D7%C8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F797.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '797',
  'siteid' => '4',
  'sourceid' => '3386',
  'postdate' => '1431105268',
  'lastupdate' => '1431106025',
  'articlename' => '春天华尔兹',
  'articlecode' => 'chuntianhuaerzi',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '4934',
  'author' => '彭柳蓉',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '从小被人贩子拐卖到A城的小男孩被欧阳家收养，从此进入欧阳婕的生活。<br />
十年之后，成为灌篮高手的欧阳傲拒绝几家体育名校的邀请，以优异成绩考进欧阳婕所在的二流中学。欧阳婕在开学日看到一身黑衣像暴走族般骑机车冲进校园的另类美术老师童天南，从此留意上他，而童...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95547',
  'lastchapter' => '第四章',
  'lastsummary' => '',
  'chapters' => '13',
  'size' => '153542',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1474521896',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '143',
  'allvisit' => '143',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431105519',
  'freesize' => '153542',
  'isvip' => 'VIP',
  'viptime' => '1431106025',
  'vipid' => '510',
  'vippubid' => '0',
  'vipchapters' => '8',
  'vipsize' => '108082',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95556',
  'vipchapter' => '第十三章',
  'vipsummary' => '欧阳婕怔在那里。<br />
她一向都是觉得童天南的眼睛很深隧，但从没有哪一次，看到他的目光里包含这样多的东西，温柔而期待地看着她。<br />
她微微地低下头，错开他的目光，声音在舌下转了很久，才呐呐地发出一个音节，&amp;quot;我……&amp;quot;<br />
童天南的手伸过来，只一根食指，轻轻地按在她的唇上，&amp;quot;也不必先忙着回答。&amp;quot;他自己在那边笑了笑，带着几分自嘲，&amp;..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 76771,
  'size_k' => 77,
  'size_w' => 7.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/797/797s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/797.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=797&cid=95547',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=510&cid=95556',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=797',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=797',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=797',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C5%ED%C1%F8%C8%D8',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%BA%CC%EC%BB%AA%B6%FB%D7%C8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F797.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
