array (
  'meta_keywords' => '轻熟男女：三十岁那天遇见你 三十 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=803&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=803&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=803&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=803&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '803',
    'siteid' => '4',
    'sourceid' => '3376',
    'postdate' => '1431095256',
    'lastupdate' => '1431096998',
    'articlename' => '轻熟男女：三十岁那天遇见你',
    'articlecode' => 'qingshunannv_sanshisuinatianyujianni',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '4934',
    'author' => '三十',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '三十归来！沉淀2年扛鼎之作，全面超越前作《和空姐同居的日子》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部符合中国国情的《六人行》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部属于剩斗士的《成长的烦恼》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部三十风格的《欲望都市》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 3个妙龄大叔大战3枚萝莉脸蛋熟妇身材<br />
&nbsp;&nbsp;&nbsp;&nbsp; 3个大龄男孩挑战2段黄金强...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95632',
    'lastchapter' => '第六章',
    'lastsummary' => '',
    'chapters' => '23',
    'size' => '295270',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478605292',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '286',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431095777',
    'freesize' => '295270',
    'isvip' => 'VIP',
    'viptime' => '1431096998',
    'vipid' => '516',
    'vippubid' => '0',
    'vipchapters' => '16',
    'vipsize' => '208148',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95649',
    'vipchapter' => '第二十二章',
    'vipsummary' => '67<br />
每个人心里都存在一些秘密，有些是值得回忆的，有些是封存不想的，有光明温暖的，也有阴暗扭曲的，可是无论是哪一种秘密，既然是秘密就是不愿意被别人知道的。<br />
算算时间已经过去了五个多月，我和赵妍似乎没有经历过太多值得回忆的大事，但是似乎又觉得经过了许久的时间。我告诉过自己要放下心防去真心面对赵妍，可是我做到了吗？我自己也不清楚。<br />
“我们?..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 147635,
    'size_k' => 148,
    'size_w' => 14.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/803.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803&cid=95632',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=516&cid=95649',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=803',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=803',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=803',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%CA%AE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E1%CA%EC%C4%D0%C5%AE%A3%BA%C8%FD%CA%AE%CB%EA%C4%C7%CC%EC%D3%F6%BC%FB%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F803.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '803',
  'siteid' => '4',
  'sourceid' => '3376',
  'postdate' => '1431095256',
  'lastupdate' => '1431096998',
  'articlename' => '轻熟男女：三十岁那天遇见你',
  'articlecode' => 'qingshunannv_sanshisuinatianyujianni',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '4934',
  'author' => '三十',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '三十归来！沉淀2年扛鼎之作，全面超越前作《和空姐同居的日子》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部符合中国国情的《六人行》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部属于剩斗士的《成长的烦恼》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 这是一部三十风格的《欲望都市》<br />
&nbsp;&nbsp;&nbsp;&nbsp; 3个妙龄大叔大战3枚萝莉脸蛋熟妇身材<br />
&nbsp;&nbsp;&nbsp;&nbsp; 3个大龄男孩挑战2段黄金强...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95632',
  'lastchapter' => '第六章',
  'lastsummary' => '',
  'chapters' => '23',
  'size' => '295270',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478605292',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '286',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431095777',
  'freesize' => '295270',
  'isvip' => 'VIP',
  'viptime' => '1431096998',
  'vipid' => '516',
  'vippubid' => '0',
  'vipchapters' => '16',
  'vipsize' => '208148',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95649',
  'vipchapter' => '第二十二章',
  'vipsummary' => '67<br />
每个人心里都存在一些秘密，有些是值得回忆的，有些是封存不想的，有光明温暖的，也有阴暗扭曲的，可是无论是哪一种秘密，既然是秘密就是不愿意被别人知道的。<br />
算算时间已经过去了五个多月，我和赵妍似乎没有经历过太多值得回忆的大事，但是似乎又觉得经过了许久的时间。我告诉过自己要放下心防去真心面对赵妍，可是我做到了吗？我自己也不清楚。<br />
“我们?..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 147635,
  'size_k' => 148,
  'size_w' => 14.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/803/803s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/803.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=803&cid=95632',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=516&cid=95649',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=803',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=803',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=803',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%CA%AE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%E1%CA%EC%C4%D0%C5%AE%A3%BA%C8%FD%CA%AE%CB%EA%C4%C7%CC%EC%D3%F6%BC%FB%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F803.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
