array (
  'meta_keywords' => '爱情我们回去吧 郭慕清 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=805&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=805&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=805&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=805&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '805',
    'siteid' => '4',
    'sourceid' => '3599',
    'postdate' => '1472282979',
    'lastupdate' => '1472285170',
    'articlename' => '爱情我们回去吧',
    'articlecode' => 'aiqingwomenhuiquba',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'A',
    'authorid' => '4934',
    'author' => '郭慕清',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '初恋的故事就像玉龙雪山，爱情是那云上流淌的完美女声——每一个爱情故事都像印第安手鼓声中的二重唱，我们跟随起舞时候，它的歌声总在流逝。多年以后，我们都想说：“爱情，我们回去吧。”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95704',
    'lastchapter' => '第二十章',
    'lastsummary' => '',
    'chapters' => '59',
    'size' => '308232',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479093934',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '156',
    'allvisit' => '2717',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1472283597',
    'freesize' => '308232',
    'isvip' => 'VIP',
    'viptime' => '1472285170',
    'vipid' => '518',
    'vippubid' => '0',
    'vipchapters' => '38',
    'vipsize' => '214604',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95743',
    'vipchapter' => '第五十九章',
    'vipsummary' => '阿枚说起了事情的经过。一切很简单，首先她跟踪魏叙然去了银行，在他排号的时候，安排人偷走了他的钱包，找到他最新的一张银行卡，抄下了他的帐号，然后又阿枚又假装好心人还给他钱包，当时的情景阿枚还是历历在目。<br />
“魏总”，阿枚拍了一下魏叙然的肩膀说道。<br />
“是你”，魏叙然在吉生-花园小区采光纠纷的时候，见过阿枚，印象深刻。<br />
“想什么呢？这么出神，..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 154116,
    'size_k' => 155,
    'size_w' => 15.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/805.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805&cid=95704',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=518&cid=95743',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=805',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=805',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=805',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C4%BD%C7%E5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C7%E9%CE%D2%C3%C7%BB%D8%C8%A5%B0%C9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F805.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '805',
  'siteid' => '4',
  'sourceid' => '3599',
  'postdate' => '1472282979',
  'lastupdate' => '1472285170',
  'articlename' => '爱情我们回去吧',
  'articlecode' => 'aiqingwomenhuiquba',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'A',
  'authorid' => '4934',
  'author' => '郭慕清',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '初恋的故事就像玉龙雪山，爱情是那云上流淌的完美女声——每一个爱情故事都像印第安手鼓声中的二重唱，我们跟随起舞时候，它的歌声总在流逝。多年以后，我们都想说：“爱情，我们回去吧。”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95704',
  'lastchapter' => '第二十章',
  'lastsummary' => '',
  'chapters' => '59',
  'size' => '308232',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479093934',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '156',
  'allvisit' => '2717',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1472283597',
  'freesize' => '308232',
  'isvip' => 'VIP',
  'viptime' => '1472285170',
  'vipid' => '518',
  'vippubid' => '0',
  'vipchapters' => '38',
  'vipsize' => '214604',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95743',
  'vipchapter' => '第五十九章',
  'vipsummary' => '阿枚说起了事情的经过。一切很简单，首先她跟踪魏叙然去了银行，在他排号的时候，安排人偷走了他的钱包，找到他最新的一张银行卡，抄下了他的帐号，然后又阿枚又假装好心人还给他钱包，当时的情景阿枚还是历历在目。<br />
“魏总”，阿枚拍了一下魏叙然的肩膀说道。<br />
“是你”，魏叙然在吉生-花园小区采光纠纷的时候，见过阿枚，印象深刻。<br />
“想什么呢？这么出神，..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 154116,
  'size_k' => 155,
  'size_w' => 15.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/805/805s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/805.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=805&cid=95704',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=518&cid=95743',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=805',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=805',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=805',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C4%BD%C7%E5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%AE%C7%E9%CE%D2%C3%C7%BB%D8%C8%A5%B0%C9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F805.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
