array (
  'meta_keywords' => '潇然梦之无游天下录 小佚 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=808&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=808&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=808&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=808&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '808',
    'siteid' => '4',
    'sourceid' => '3530',
    'postdate' => '1461738712',
    'lastupdate' => '1461742700',
    'articlename' => '潇然梦之无游天下录',
    'articlecode' => 'xiaoranmengzhiwuyoutianxialu',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '4934',
    'author' => '小佚',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '潇然梦醒后的繁华世界——<br />
心若自由，身沐长风，无游天下，不离不弃。抱着这样的信念，无游组三人出海远航，实现自己最初的梦想。新的世界，新的挑战，他们即将创造新的传奇。<br />
拥有强大魔法的绿眼男子兰迪斯，夺人记忆的邪恶公主艾丽莎，亦正亦邪的死灵法师久妖，凭...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95772',
    'lastchapter' => '第二十一章 下一站，出云岛国',
    'lastsummary' => '',
    'chapters' => '73',
    'size' => '604168',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478124049',
    'dayvisit' => '13',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '1222',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '4',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1461739891',
    'freesize' => '604168',
    'isvip' => 'VIP',
    'viptime' => '1461742700',
    'vipid' => '519',
    'vippubid' => '0',
    'vipchapters' => '51',
    'vipsize' => '465668',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95824',
    'vipchapter' => '第三章 平静生活插曲（冰依篇）',
    'vipsummary' => '这是发生在雅鲁帝国篇开篇前的故事。<br />
我们的玻拉丽丝号还没有抵达过任何一个海岛，公主艾丽莎和魔女颜如玉也还未被步杀钓上船来。所以对我们亲爱的主角来说，这天只是一个插曲，一个平静生活中的小小插曲。<br />
天和1263元年6月。<br />
早晨醒来不是被人叫醒，而是被香味诱醒的。<br />
一睁开眼，房间里空荡荡的，前厅却很热闹。船里的房间有些摇晃，不过我已经太熟悉了，所..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 302084,
    'size_k' => 303,
    'size_w' => 30.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/808.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808&cid=95772',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=519&cid=95824',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=808',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=808',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=808',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%A1%D8%FD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E4%EC%C8%BB%C3%CE%D6%AE%CE%DE%D3%CE%CC%EC%CF%C2%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F808.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '808',
  'siteid' => '4',
  'sourceid' => '3530',
  'postdate' => '1461738712',
  'lastupdate' => '1461742700',
  'articlename' => '潇然梦之无游天下录',
  'articlecode' => 'xiaoranmengzhiwuyoutianxialu',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '4934',
  'author' => '小佚',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '潇然梦醒后的繁华世界——<br />
心若自由，身沐长风，无游天下，不离不弃。抱着这样的信念，无游组三人出海远航，实现自己最初的梦想。新的世界，新的挑战，他们即将创造新的传奇。<br />
拥有强大魔法的绿眼男子兰迪斯，夺人记忆的邪恶公主艾丽莎，亦正亦邪的死灵法师久妖，凭...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95772',
  'lastchapter' => '第二十一章 下一站，出云岛国',
  'lastsummary' => '',
  'chapters' => '73',
  'size' => '604168',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478124049',
  'dayvisit' => '13',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '1222',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '4',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1461739891',
  'freesize' => '604168',
  'isvip' => 'VIP',
  'viptime' => '1461742700',
  'vipid' => '519',
  'vippubid' => '0',
  'vipchapters' => '51',
  'vipsize' => '465668',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95824',
  'vipchapter' => '第三章 平静生活插曲（冰依篇）',
  'vipsummary' => '这是发生在雅鲁帝国篇开篇前的故事。<br />
我们的玻拉丽丝号还没有抵达过任何一个海岛，公主艾丽莎和魔女颜如玉也还未被步杀钓上船来。所以对我们亲爱的主角来说，这天只是一个插曲，一个平静生活中的小小插曲。<br />
天和1263元年6月。<br />
早晨醒来不是被人叫醒，而是被香味诱醒的。<br />
一睁开眼，房间里空荡荡的，前厅却很热闹。船里的房间有些摇晃，不过我已经太熟悉了，所..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 302084,
  'size_k' => 303,
  'size_w' => 30.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/808/808s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/808.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=808&cid=95772',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=519&cid=95824',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=808',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=808',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=808',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D0%A1%D8%FD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E4%EC%C8%BB%C3%CE%D6%AE%CE%DE%D3%CE%CC%EC%CF%C2%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F808.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
