array (
  'meta_keywords' => '迁徙 巴楚 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=811&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=811&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=811&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=811&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '811',
    'siteid' => '4',
    'sourceid' => '1884',
    'postdate' => '1402914807',
    'lastupdate' => '1406532855',
    'articlename' => '迁徙',
    'articlecode' => 'qianxi',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '4934',
    'author' => '巴楚',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '从农村来到城市的主人公，经历了光怪陆离的城市生活的诱惑，其中有爱情的甜蜜和辛酸，工作上的辛劳与失落，还有面对命运的抗争与无奈。本文试从自然主义的角度，对小说中的人物形象进行分析，旨在说明自然主义是如何在《迁徙》一书中得到体现的，尤其是在主人公“我”...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '95942',
    'lastchapter' => '第十五章',
    'lastsummary' => '',
    'chapters' => '55',
    'size' => '266608',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478060035',
    'dayvisit' => 0,
    'weekvisit' => '52',
    'monthvisit' => '52',
    'allvisit' => '130',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1403668193',
    'freesize' => '266608',
    'isvip' => 'VIP',
    'viptime' => '1406532855',
    'vipid' => '522',
    'vippubid' => '0',
    'vipchapters' => '39',
    'vipsize' => '170586',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '95982',
    'vipchapter' => '第五十八章',
    'vipsummary' => '而精神上，即使回到生养自己的土地上来，却找不到心灵的归宿，总感到故土既属于我而又远离了我。我知道我依恋故土而又再不能全身心的接受故土。',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 133304,
    'size_k' => 134,
    'size_w' => 13.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/811.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811&cid=95942',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=522&cid=95982',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=811',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=811',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=811',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%CD%B3%FE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%A8%E1%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F811.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '811',
  'siteid' => '4',
  'sourceid' => '1884',
  'postdate' => '1402914807',
  'lastupdate' => '1406532855',
  'articlename' => '迁徙',
  'articlecode' => 'qianxi',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '4934',
  'author' => '巴楚',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '从农村来到城市的主人公，经历了光怪陆离的城市生活的诱惑，其中有爱情的甜蜜和辛酸，工作上的辛劳与失落，还有面对命运的抗争与无奈。本文试从自然主义的角度，对小说中的人物形象进行分析，旨在说明自然主义是如何在《迁徙》一书中得到体现的，尤其是在主人公“我”...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '95942',
  'lastchapter' => '第十五章',
  'lastsummary' => '',
  'chapters' => '55',
  'size' => '266608',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478060035',
  'dayvisit' => 0,
  'weekvisit' => '52',
  'monthvisit' => '52',
  'allvisit' => '130',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1403668193',
  'freesize' => '266608',
  'isvip' => 'VIP',
  'viptime' => '1406532855',
  'vipid' => '522',
  'vippubid' => '0',
  'vipchapters' => '39',
  'vipsize' => '170586',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '95982',
  'vipchapter' => '第五十八章',
  'vipsummary' => '而精神上，即使回到生养自己的土地上来，却找不到心灵的归宿，总感到故土既属于我而又远离了我。我知道我依恋故土而又再不能全身心的接受故土。',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 133304,
  'size_k' => 134,
  'size_w' => 13.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/811/811s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/811.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=811&cid=95942',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=522&cid=95982',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=811',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=811',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=811',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%CD%B3%FE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%A8%E1%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F811.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
