array (
  'meta_keywords' => '笑傲东非 刘洪耀 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=813&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=813&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=813&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=813&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '813',
    'siteid' => '4',
    'sourceid' => '1848',
    'postdate' => '1402625278',
    'lastupdate' => '1407919304',
    'articlename' => '笑傲东非',
    'articlecode' => 'xiaoaodongfei',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '4934',
    'author' => '刘洪耀',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一群中国血性男子汉，在东非洲野生动物保护区里，伴猛兽听狮吼舍生忘死，顶骄阳碾泥泞含辛茹苦，他们以超人的意志力，克服常人难以想象的困难，作出了足以惊天地泣鬼神的一番伟业，然而他们至今却默默无闻…..',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '96053',
    'lastchapter' => '第十八章 赛伦盖蒂：狮子包围了工地（一）',
    'lastsummary' => '',
    'chapters' => '60',
    'size' => '287362',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475624904',
    'dayvisit' => 0,
    'weekvisit' => '39',
    'monthvisit' => '39',
    'allvisit' => '143',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1403510625',
    'freesize' => '287362',
    'isvip' => 'VIP',
    'viptime' => '1407919304',
    'vipid' => '524',
    'vippubid' => '0',
    'vipchapters' => '41',
    'vipsize' => '175050',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '96095',
    'vipchapter' => '第三十七章 大本营（四）',
    'vipsummary' => '熊毅感觉谢大姐有点不近人情，很苛刻。<br />
其实，谢文华没有私心，她也是兢兢业业为整个项目精打细算。恩戈罗恩戈罗火山口旅馆工地项目经理童杰的夫人苏艺，就理解谢文华。<br />
她赶紧对熊毅说：“小熊，人家谢大姐是公事公办。”<br />
“我请你喝！”谢文华还是给熊毅打开一瓶可口可乐。<br />
“不好意思，谢大姐。”<br />
苏艺今天想给谢文华说，分给四个项目上的白酒，好象是才..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 143681,
    'size_k' => 144,
    'size_w' => 14.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/813.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813&cid=96053',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=524&cid=96095',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=813',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=813',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=813',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%F5%BA%E9%D2%AB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%A6%B0%C1%B6%AB%B7%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F813.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '813',
  'siteid' => '4',
  'sourceid' => '1848',
  'postdate' => '1402625278',
  'lastupdate' => '1407919304',
  'articlename' => '笑傲东非',
  'articlecode' => 'xiaoaodongfei',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '4934',
  'author' => '刘洪耀',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一群中国血性男子汉，在东非洲野生动物保护区里，伴猛兽听狮吼舍生忘死，顶骄阳碾泥泞含辛茹苦，他们以超人的意志力，克服常人难以想象的困难，作出了足以惊天地泣鬼神的一番伟业，然而他们至今却默默无闻…..',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '96053',
  'lastchapter' => '第十八章 赛伦盖蒂：狮子包围了工地（一）',
  'lastsummary' => '',
  'chapters' => '60',
  'size' => '287362',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475624904',
  'dayvisit' => 0,
  'weekvisit' => '39',
  'monthvisit' => '39',
  'allvisit' => '143',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1403510625',
  'freesize' => '287362',
  'isvip' => 'VIP',
  'viptime' => '1407919304',
  'vipid' => '524',
  'vippubid' => '0',
  'vipchapters' => '41',
  'vipsize' => '175050',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '96095',
  'vipchapter' => '第三十七章 大本营（四）',
  'vipsummary' => '熊毅感觉谢大姐有点不近人情，很苛刻。<br />
其实，谢文华没有私心，她也是兢兢业业为整个项目精打细算。恩戈罗恩戈罗火山口旅馆工地项目经理童杰的夫人苏艺，就理解谢文华。<br />
她赶紧对熊毅说：“小熊，人家谢大姐是公事公办。”<br />
“我请你喝！”谢文华还是给熊毅打开一瓶可口可乐。<br />
“不好意思，谢大姐。”<br />
苏艺今天想给谢文华说，分给四个项目上的白酒，好象是才..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 143681,
  'size_k' => 144,
  'size_w' => 14.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/813/813s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/813.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=813&cid=96053',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=524&cid=96095',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=813',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=813',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=813',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%F5%BA%E9%D2%AB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%A6%B0%C1%B6%AB%B7%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F813.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
