array (
  'meta_keywords' => '途经一场寂静时光 杨雨辰 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=818&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=818&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=818&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=818&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '818',
    'siteid' => '4',
    'sourceid' => '1881',
    'postdate' => '1402914393',
    'lastupdate' => '1406702030',
    'articlename' => '途经一场寂静时光',
    'articlecode' => 'tujingyichangjijingshiguang',
    'backupname' => '',
    'keywords' => '连载',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '4934',
    'author' => '杨雨辰',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '陷入爱情之中的两个人，就像是分别坐落在彼岸的两座城池，有时会箭弩相对，有时也会相处和睦。也许会擦肩而过，也许会成仇反目，也许会相忘于江湖。<br />
陆小乐在失恋后与死党米佳宁一起去了西藏，在流连于美景的同时，邂逅了陌生男子于浩然，当陆小乐收拾好心情准备重新...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '96320',
    'lastchapter' => '第五章',
    'lastsummary' => '',
    'chapters' => '51',
    'size' => '252634',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478699374',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '39',
    'allvisit' => '156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1402971340',
    'freesize' => '252634',
    'isvip' => 'VIP',
    'viptime' => '1406702030',
    'vipid' => '529',
    'vippubid' => '0',
    'vipchapters' => '45',
    'vipsize' => '210344',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '96366',
    'vipchapter' => '第五十一章',
    'vipsummary' => '尹重城和我的家人朋友陆陆续续从门外走进来，有尹重城家以前的老邻居，过来就拉着尹重城激动地说“哟，城城长这么大了，上回你结婚的时候我正好住院来着，就从你妈那看了看照片，你看，还是这回的媳妇俊。”我看到尹重城一家尴尬的表情，觉得特别好笑，其实我一点都不介意。也有我们以前的同学，跟我说，陆小乐你俩总算是修成正果了。我说是啊，西天取经都打..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 126317,
    'size_k' => 127,
    'size_w' => 12.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/818.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818&cid=96320',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=529&cid=96366',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=818',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=818',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=818',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%EE%D3%EA%B3%BD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%BE%BE%AD%D2%BB%B3%A1%BC%C5%BE%B2%CA%B1%B9%E2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F818.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '818',
  'siteid' => '4',
  'sourceid' => '1881',
  'postdate' => '1402914393',
  'lastupdate' => '1406702030',
  'articlename' => '途经一场寂静时光',
  'articlecode' => 'tujingyichangjijingshiguang',
  'backupname' => '',
  'keywords' => '连载',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '4934',
  'author' => '杨雨辰',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '陷入爱情之中的两个人，就像是分别坐落在彼岸的两座城池，有时会箭弩相对，有时也会相处和睦。也许会擦肩而过，也许会成仇反目，也许会相忘于江湖。<br />
陆小乐在失恋后与死党米佳宁一起去了西藏，在流连于美景的同时，邂逅了陌生男子于浩然，当陆小乐收拾好心情准备重新...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '96320',
  'lastchapter' => '第五章',
  'lastsummary' => '',
  'chapters' => '51',
  'size' => '252634',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478699374',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '39',
  'allvisit' => '156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1402971340',
  'freesize' => '252634',
  'isvip' => 'VIP',
  'viptime' => '1406702030',
  'vipid' => '529',
  'vippubid' => '0',
  'vipchapters' => '45',
  'vipsize' => '210344',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '96366',
  'vipchapter' => '第五十一章',
  'vipsummary' => '尹重城和我的家人朋友陆陆续续从门外走进来，有尹重城家以前的老邻居，过来就拉着尹重城激动地说“哟，城城长这么大了，上回你结婚的时候我正好住院来着，就从你妈那看了看照片，你看，还是这回的媳妇俊。”我看到尹重城一家尴尬的表情，觉得特别好笑，其实我一点都不介意。也有我们以前的同学，跟我说，陆小乐你俩总算是修成正果了。我说是啊，西天取经都打..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 126317,
  'size_k' => 127,
  'size_w' => 12.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/818/818s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/818.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=818&cid=96320',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=529&cid=96366',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=818',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=818',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=818',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%EE%D3%EA%B3%BD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%BE%BE%AD%D2%BB%B3%A1%BC%C5%BE%B2%CA%B1%B9%E2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F818.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '连载',
      'tagencode' => '%C1%AC%D4%D8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
