array (
  'meta_keywords' => '禁衣 花想容 文学出版',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=822&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=822&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=822&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=822&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '822',
    'siteid' => '4',
    'sourceid' => '3413',
    'postdate' => '1431325656',
    'lastupdate' => '1431326555',
    'articlename' => '禁衣',
    'articlecode' => 'jinyi',
    'backupname' => '',
    'keywords' => '完成',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '4934',
    'author' => '花想容',
    'posterid' => '4934',
    'poster' => '创策',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '12',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '　　服装设计师米果因为给酒吧老板洪之鹤定做黑色晚装，与试衣模特祝晓璇一同卷入“丹青悬案”中，米果被陷害，祝晓璇被绑架。“丹青案”回顾：两年前，模特秦丹穿着设计师林青语设计的黑色晚装上T台演出之前被绑架，从此下落不明；当天夜里，林青语不明原因坠楼身亡...',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '96519',
    'lastchapter' => '第三章　守株拍挡',
    'lastsummary' => '',
    'chapters' => '19',
    'size' => '383958',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1475626443',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '39',
    'allvisit' => '143',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '出版',
    'freetime' => '1431325897',
    'freesize' => '383958',
    'isvip' => 'VIP',
    'viptime' => '1431326555',
    'vipid' => '533',
    'vippubid' => '0',
    'vipchapters' => '13',
    'vipsize' => '310444',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '96533',
    'vipchapter' => '尾声',
    'vipsummary' => '80<br />
秦丹在Ｔ台上说得从容镇静，下面的人却并不平静。<br />
她所讲的这些是真的吗？不管是不是，好像都是给洪之鹤开脱。但事实上，她却又讲到洪之鹤以前的杀手经历。她这样做，到底是要救洪之鹤还是害洪之鹤呢？<br />
还有，如果林青语真的是被秦丹逼迫坠楼的话，那么秦丹就是有意识地杀人了。她本来已经成功地逃脱警方的视线了，为什么又要布置这个局，让自己身陷囹圄??..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '3',
    'isvip_n' => '1',
    'sort' => '文学出版',
    'sortname' => '文学出版',
    'type' => '',
    'typename' => '',
    'size_c' => 191979,
    'size_k' => 192,
    'size_w' => 19.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/822.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822&cid=96519',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=533&cid=96533',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=822',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=822',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=822',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%FB%D2%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F822.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '822',
  'siteid' => '4',
  'sourceid' => '3413',
  'postdate' => '1431325656',
  'lastupdate' => '1431326555',
  'articlename' => '禁衣',
  'articlecode' => 'jinyi',
  'backupname' => '',
  'keywords' => '完成',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '4934',
  'author' => '花想容',
  'posterid' => '4934',
  'poster' => '创策',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '12',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '　　服装设计师米果因为给酒吧老板洪之鹤定做黑色晚装，与试衣模特祝晓璇一同卷入“丹青悬案”中，米果被陷害，祝晓璇被绑架。“丹青案”回顾：两年前，模特秦丹穿着设计师林青语设计的黑色晚装上T台演出之前被绑架，从此下落不明；当天夜里，林青语不明原因坠楼身亡...',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '96519',
  'lastchapter' => '第三章　守株拍挡',
  'lastsummary' => '',
  'chapters' => '19',
  'size' => '383958',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1475626443',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '39',
  'allvisit' => '143',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '出版',
  'freetime' => '1431325897',
  'freesize' => '383958',
  'isvip' => 'VIP',
  'viptime' => '1431326555',
  'vipid' => '533',
  'vippubid' => '0',
  'vipchapters' => '13',
  'vipsize' => '310444',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '96533',
  'vipchapter' => '尾声',
  'vipsummary' => '80<br />
秦丹在Ｔ台上说得从容镇静，下面的人却并不平静。<br />
她所讲的这些是真的吗？不管是不是，好像都是给洪之鹤开脱。但事实上，她却又讲到洪之鹤以前的杀手经历。她这样做，到底是要救洪之鹤还是害洪之鹤呢？<br />
还有，如果林青语真的是被秦丹逼迫坠楼的话，那么秦丹就是有意识地杀人了。她本来已经成功地逃脱警方的视线了，为什么又要布置这个局，让自己身陷囹圄??..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '3',
  'isvip_n' => '1',
  'sort' => '文学出版',
  'sortname' => '文学出版',
  'type' => '',
  'typename' => '',
  'size_c' => 191979,
  'size_k' => 192,
  'size_w' => 19.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/822/822s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/822.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=822&cid=96519',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=533&cid=96533',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=822',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=822',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=822',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/4934.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%A8%CF%EB%C8%DD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%FB%D2%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F822.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '完成',
      'tagencode' => '%CD%EA%B3%C9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
