array (
  'meta_keywords' => '美女的医术高手 墨雨 都市校园',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=827&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=827&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=827&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=827&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '827',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1473651234',
    'lastupdate' => '1479117216',
    'articlename' => '美女的医术高手',
    'articlecode' => 'meinvdeyishugaoshou',
    'backupname' => '一介打工仔传承医道，问鼎都市。',
    'keywords' => '医道 传承 修真 炼丹 美女 暧昧 高手 都市',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '6761',
    'author' => '墨雨',
    'posterid' => '6761',
    'poster' => '墨雨',
    'agentid' => '12',
    'agent' => '妖神',
    'sortid' => '3',
    'typeid' => '16',
    'libid' => '0',
    'intro' => '他传承上古医道，用一身传奇医术纵横都市，本想悬壶救人，但意外财色双收。<br />
他通大道，修元气，炼丹药，不惹凡尘，却使得校花入怀，萝莉贴身，护士暖床，少妇迷恋！<br />
韩天一边医经在手救治苍生，一边混迹都市逍遥花丛……',
    'notice' => '本书为都市修仙，本着接近生活又高于生活的写作态度，体验社会五谷杂陈，有爽点又有更多的感慨。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '97068',
    'lastvolume' => '第一卷：初出为人',
    'lastchapterid' => '102354',
    'lastchapter' => '第八十一章：王的女人（上）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“年轻人，你贵姓啊，为什么会看上我的酒吧？”老板不解的问道，这样问也是试探韩天是不是有备而来或者有其他的目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我叫韩天，酒吧我没兴趣，只是对人有兴趣。说个价钱吧，别太离谱就行。”韩天依然不紧不慢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老板嘿嘿的一笑顿时懂了，这时候小虎将酒给端来了，一杯调试好的红酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“年轻人，你很豪爽，我很钦佩，你想买我的酒吧，难道你就没想过我有没有想要卖呢？如果我不卖呢？”老板忽然反问道，说罢，端起了酒杯跟韩天轻轻的碰了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩天轻轻的抿了一口，“酒不错，我喜欢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“..',
    'chapters' => '180',
    'size' => '957125',
    'daysize' => '13642',
    'weeksize' => '13642',
    'monthsize' => '212372',
    'lastvisit' => '1479133467',
    'dayvisit' => '871',
    'weekvisit' => '871',
    'monthvisit' => '11713',
    'allvisit' => '180557',
    'lastvote' => '1479087664',
    'dayvote' => '31',
    'weekvote' => '31',
    'monthvote' => '293',
    'allvote' => '1459',
    'goodnum' => '15',
    'reviewsnum' => '16',
    'ratenum' => 76,
    'ratesum' => 751,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1475242125',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1475240406',
    'freesize' => '608777',
    'isvip' => 'VIP',
    'viptime' => '1479117216',
    'vipid' => '553',
    'vippubid' => '0',
    'vipchapters' => '98',
    'vipsize' => '658377',
    'vipvolumeid' => '97068',
    'vipvolume' => '第一卷：初出为人',
    'vipchapterid' => '107838',
    'vipchapter' => '第一百八十一章：满城宣传',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;韩天一把抓住她的肩膀，“我的好妹妹，就别跟我计较了，刚才不是被撞了一下，气急了才说你的嘛！好了，我错了。给你道歉。快说什么好消息，这么多天了，太需要一个好消息来刺激一下了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	郝薇见他这样，这才不再生气了，“你猜你现在是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	韩天一愣，自己是什么？当然是人了，还能是神啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	“别卖关子，我当然是个人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	“你现在彻底出名了，现在你的照片到处都是，横幅处处都有你的宣传照，还在上面夸你各种英雄事迹，现在你走出去的话，我估计是个人都会认识你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	见郝薇说的如..',
    'lastflower' => '1478921611',
    'allflower' => '100',
    'monthflower' => '100',
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1478953568',
    'allvipvote' => '15',
    'monthvipvote' => '15',
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '1',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '2200',
    'giftnums' => '6',
    'redrose' => '2',
    'yellowrose' => '4',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市修真',
    'typename' => '都市修真',
    'size_c' => 478563,
    'size_k' => 479,
    'size_w' => 47.9,
    'rateavg' => '9.9',
    'rateavg_i' => 9,
    'rateavg_d' => 9,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/827.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827&cid=102354',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=553&cid=107838',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=827',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=827',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=827',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6761.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D3%EA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%B5%C4%D2%BD%CA%F5%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F827.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '827',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1473651234',
  'lastupdate' => '1479117216',
  'articlename' => '美女的医术高手',
  'articlecode' => 'meinvdeyishugaoshou',
  'backupname' => '一介打工仔传承医道，问鼎都市。',
  'keywords' => '医道 传承 修真 炼丹 美女 暧昧 高手 都市',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '6761',
  'author' => '墨雨',
  'posterid' => '6761',
  'poster' => '墨雨',
  'agentid' => '12',
  'agent' => '妖神',
  'sortid' => '3',
  'typeid' => '16',
  'libid' => '0',
  'intro' => '他传承上古医道，用一身传奇医术纵横都市，本想悬壶救人，但意外财色双收。<br />
他通大道，修元气，炼丹药，不惹凡尘，却使得校花入怀，萝莉贴身，护士暖床，少妇迷恋！<br />
韩天一边医经在手救治苍生，一边混迹都市逍遥花丛……',
  'notice' => '本书为都市修仙，本着接近生活又高于生活的写作态度，体验社会五谷杂陈，有爽点又有更多的感慨。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '97068',
  'lastvolume' => '第一卷：初出为人',
  'lastchapterid' => '102354',
  'lastchapter' => '第八十一章：王的女人（上）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“年轻人，你贵姓啊，为什么会看上我的酒吧？”老板不解的问道，这样问也是试探韩天是不是有备而来或者有其他的目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我叫韩天，酒吧我没兴趣，只是对人有兴趣。说个价钱吧，别太离谱就行。”韩天依然不紧不慢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老板嘿嘿的一笑顿时懂了，这时候小虎将酒给端来了，一杯调试好的红酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“年轻人，你很豪爽，我很钦佩，你想买我的酒吧，难道你就没想过我有没有想要卖呢？如果我不卖呢？”老板忽然反问道，说罢，端起了酒杯跟韩天轻轻的碰了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩天轻轻的抿了一口，“酒不错，我喜欢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“..',
  'chapters' => '180',
  'size' => '957125',
  'daysize' => '13642',
  'weeksize' => '13642',
  'monthsize' => '212372',
  'lastvisit' => '1479133467',
  'dayvisit' => '871',
  'weekvisit' => '871',
  'monthvisit' => '11713',
  'allvisit' => '180557',
  'lastvote' => '1479087664',
  'dayvote' => '31',
  'weekvote' => '31',
  'monthvote' => '293',
  'allvote' => '1459',
  'goodnum' => '15',
  'reviewsnum' => '16',
  'ratenum' => 76,
  'ratesum' => 751,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1475242125',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1475240406',
  'freesize' => '608777',
  'isvip' => 'VIP',
  'viptime' => '1479117216',
  'vipid' => '553',
  'vippubid' => '0',
  'vipchapters' => '98',
  'vipsize' => '658377',
  'vipvolumeid' => '97068',
  'vipvolume' => '第一卷：初出为人',
  'vipchapterid' => '107838',
  'vipchapter' => '第一百八十一章：满城宣传',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;韩天一把抓住她的肩膀，“我的好妹妹，就别跟我计较了，刚才不是被撞了一下，气急了才说你的嘛！好了，我错了。给你道歉。快说什么好消息，这么多天了，太需要一个好消息来刺激一下了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	郝薇见他这样，这才不再生气了，“你猜你现在是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	韩天一愣，自己是什么？当然是人了，还能是神啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	“别卖关子，我当然是个人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	“你现在彻底出名了，现在你的照片到处都是，横幅处处都有你的宣传照，还在上面夸你各种英雄事迹，现在你走出去的话，我估计是个人都会认识你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;	见郝薇说的如..',
  'lastflower' => '1478921611',
  'allflower' => '100',
  'monthflower' => '100',
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1478953568',
  'allvipvote' => '15',
  'monthvipvote' => '15',
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '1',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '2200',
  'giftnums' => '6',
  'redrose' => '2',
  'yellowrose' => '4',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市修真',
  'typename' => '都市修真',
  'size_c' => 478563,
  'size_k' => 479,
  'size_w' => 47.9,
  'rateavg' => '9.9',
  'rateavg_i' => 9,
  'rateavg_d' => 9,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/827/827s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/827.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=827&cid=102354',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=553&cid=107838',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=827',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=827',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=827',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6761.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%AB%D3%EA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%B5%C4%D2%BD%CA%F5%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F827.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '医道',
      'tagencode' => '%D2%BD%B5%C0',
    ),
    1 => 
    array (
      'tagname' => '传承',
      'tagencode' => '%B4%AB%B3%D0',
    ),
    2 => 
    array (
      'tagname' => '修真',
      'tagencode' => '%D0%DE%D5%E6',
    ),
    3 => 
    array (
      'tagname' => '炼丹',
      'tagencode' => '%C1%B6%B5%A4',
    ),
    4 => 
    array (
      'tagname' => '美女',
      'tagencode' => '%C3%C0%C5%AE',
    ),
    5 => 
    array (
      'tagname' => '暧昧',
      'tagencode' => '%EA%D3%C3%C1',
    ),
    6 => 
    array (
      'tagname' => '高手',
      'tagencode' => '%B8%DF%CA%D6',
    ),
    7 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
