array (
  'meta_keywords' => '医世倾城 绛紫 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=829&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=829&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=829&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=829&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '829',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1473844830',
    'lastupdate' => '1473845019',
    'articlename' => '医世倾城',
    'articlecode' => 'yishiqingcheng',
    'backupname' => '穿越重生成废材',
    'keywords' => '言情 原创',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '6805',
    'author' => '绛紫',
    'posterid' => '6805',
    'poster' => '绛紫',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '33',
    'libid' => '0',
    'intro' => '来，王妃，亲一个~某男邪笑着　再喊一句，切掉你的舌头！某女掏出银晃晃的匕首。　哎哟王妃害羞了~某男扑倒某女，开始亲亲~',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '97173',
    'lastchapter' => '第四章 救人啦',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;为了找炼丹炉，墨岚又去了一次魔兽森林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨岚的紫色眼睛瞪得大大的，仔细检查着。突然，看见了一个黑乎乎的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屏住呼吸，墨岚扑了上去，抓住了那个东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咦？好滑，还会动。墨岚定睛一看，天，是只黑色巨蟒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑蟒吐着信子，迅速爬过来。墨岚唰的一下掏出匕首，喵的，再爬过来一下，老娘就给你来个千！年！杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑蟒后退了一下，绕了绕，弓起身子，冲到了墨岚身前，扑倒了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧槽？现在蛇都会调戏人？有没有天理啦？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨岚红着小脸，弱弱地吐出一句：“蛇大哥，你，你想干..',
    'chapters' => '5',
    'size' => '13825',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478885339',
    'dayvisit' => '13',
    'weekvisit' => '52',
    'monthvisit' => '273',
    'allvisit' => '2379',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1473845019',
    'freesize' => '13825',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '女尊',
    'typename' => '女尊',
    'size_c' => 6913,
    'size_k' => 7,
    'size_w' => 0.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/829.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829&cid=97173',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=829',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=829',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=829',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6805.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E7%AD%D7%CF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BD%CA%C0%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F829.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '829',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1473844830',
  'lastupdate' => '1473845019',
  'articlename' => '医世倾城',
  'articlecode' => 'yishiqingcheng',
  'backupname' => '穿越重生成废材',
  'keywords' => '言情 原创',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '6805',
  'author' => '绛紫',
  'posterid' => '6805',
  'poster' => '绛紫',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '33',
  'libid' => '0',
  'intro' => '来，王妃，亲一个~某男邪笑着　再喊一句，切掉你的舌头！某女掏出银晃晃的匕首。　哎哟王妃害羞了~某男扑倒某女，开始亲亲~',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '97173',
  'lastchapter' => '第四章 救人啦',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;为了找炼丹炉，墨岚又去了一次魔兽森林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨岚的紫色眼睛瞪得大大的，仔细检查着。突然，看见了一个黑乎乎的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屏住呼吸，墨岚扑了上去，抓住了那个东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咦？好滑，还会动。墨岚定睛一看，天，是只黑色巨蟒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑蟒吐着信子，迅速爬过来。墨岚唰的一下掏出匕首，喵的，再爬过来一下，老娘就给你来个千！年！杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑蟒后退了一下，绕了绕，弓起身子，冲到了墨岚身前，扑倒了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧槽？现在蛇都会调戏人？有没有天理啦？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨岚红着小脸，弱弱地吐出一句：“蛇大哥，你，你想干..',
  'chapters' => '5',
  'size' => '13825',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478885339',
  'dayvisit' => '13',
  'weekvisit' => '52',
  'monthvisit' => '273',
  'allvisit' => '2379',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1473845019',
  'freesize' => '13825',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '女尊',
  'typename' => '女尊',
  'size_c' => 6913,
  'size_k' => 7,
  'size_w' => 0.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/829.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=829&cid=97173',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=829',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=829',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=829',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6805.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E7%AD%D7%CF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BD%CA%C0%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F829.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '言情',
      'tagencode' => '%D1%D4%C7%E9',
    ),
    1 => 
    array (
      'tagname' => '原创',
      'tagencode' => '%D4%AD%B4%B4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
