array (
  'meta_keywords' => '豪门夺爱老公太野蛮 清音随琴 幻想言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=83&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=83&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=83&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=83&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '83',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480512323',
    'lastupdate' => '1480512632',
    'articlename' => '豪门夺爱老公太野蛮',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '清音随琴',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说豪门夺爱老公太野蛮简介：&nbsp;&nbsp;&nbsp;&nbsp;沐小言是g市声名狼藉的女人，恋上闺蜜的男友，之后又抢了姑姑的未婚夫，众人提起她皆是摇头一叹。<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨少辰在她无助的时候伸出手去，“跟了我，他们都会乖乖闭嘴。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰，我凭什么要选择你？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人眉目一挑，居高临下的俯视她，“我不喜欢听你喊本少姑父。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言，“……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这个男人的一句不喜欢，沐小言和墨少辰每天晚上都躺在一起。<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本以为婚后他们只是各取所需，一场交易，人前风光，人后冷漠的夫妻。<br />
&nbsp;&nbsp;&nbsp;&nbsp;没想到这个男人——<br />
&nbsp;&nbsp;&nbsp;&nbsp;片段：<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言再也受不了某人每天晚上的禽兽行为，这天晚上她突发奇想。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰，今晚我们聊聊人生，看星星看月亮。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;看报纸的男人斜睨她一眼，打横将她抱起往卧室走，沐小言惊叫，“墨少辰，我说了只是聊天。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人食指按压在她颤抖的朱唇上，嘴角的弧度邪恶，“嗯，我喜欢躺着聊人生，喜欢压着你看星星看月亮，姿势比较爽。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;流氓！<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言，“……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨少辰在c市是令人闻风丧胆的人物，人说他残暴狠戾，尤其对女人从不怜香惜玉。而这一次，他却宠她入骨，几乎羡煞了整个g市的女人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“为什么对我这么笔趣阁女总裁的全能兵王http://www.sbiquge.com？”她问，一双毫无杂志的眼坦荡荡的盯着他，试图望进男人那双深邃的眼眸。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人黑眸聚焦在女人胸口，抬手戳了戳她的心脏，“因为，我要你的这里。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到后来沐小言才明白，原来他要的，真的只是她的心而已。<br />
&nbsp;&nbsp;&nbsp;&nbsp;而她不知道的是，他宠她从来都是用情至深。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——<br />
&nbsp;&nbsp;&nbsp;&nbsp;交易结束，她淡然转身。<br />
&nbsp;&nbsp;&nbsp;&nbsp;当她璀璨归来，再见墨少辰沐小言只想躲得远远的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这个男人如同狗皮膏药紧贴着她不放。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人一如既往的轻佻，“嗯，不错，四年不见，你还记得我的名字。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们已经没关系了。”她强调。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“从现在开始有关系也不晚。”他无所谓。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一直想要平淡的生活，殊不知一旦遇上这个男人，从此平淡和宁静都是路人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门夺爱老公太野蛮》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！豪门夺爱老公太野蛮最新章节,豪门夺爱老公太野蛮无弹窗,豪门夺爱老公太野蛮全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门夺爱老公太野蛮》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：豪门夺爱老公太野蛮最新章节,豪门夺爱老公太野蛮无弹窗,豪门夺爱老公太野蛮全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '16005',
    'lastchapter' => '187 墨少辰 失势',
    'lastsummary' => '',
    'chapters' => '190',
    'size' => '2132635',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1480608812',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 1066318,
    'size_k' => 1067,
    'size_w' => 106.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/83.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83&cid=16005',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=83',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=83',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=83',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%D2%F4%CB%E6%C7%D9',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%D2%F4%CB%E6%C7%D9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%C0%C3%C5%B6%E1%B0%AE%C0%CF%B9%AB%CC%AB%D2%B0%C2%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F83.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '83',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480512323',
  'lastupdate' => '1480512632',
  'articlename' => '豪门夺爱老公太野蛮',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '清音随琴',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说豪门夺爱老公太野蛮简介：&nbsp;&nbsp;&nbsp;&nbsp;沐小言是g市声名狼藉的女人，恋上闺蜜的男友，之后又抢了姑姑的未婚夫，众人提起她皆是摇头一叹。<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨少辰在她无助的时候伸出手去，“跟了我，他们都会乖乖闭嘴。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰，我凭什么要选择你？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人眉目一挑，居高临下的俯视她，“我不喜欢听你喊本少姑父。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言，“……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这个男人的一句不喜欢，沐小言和墨少辰每天晚上都躺在一起。<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本以为婚后他们只是各取所需，一场交易，人前风光，人后冷漠的夫妻。<br />
&nbsp;&nbsp;&nbsp;&nbsp;没想到这个男人——<br />
&nbsp;&nbsp;&nbsp;&nbsp;片段：<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言再也受不了某人每天晚上的禽兽行为，这天晚上她突发奇想。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰，今晚我们聊聊人生，看星星看月亮。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;看报纸的男人斜睨她一眼，打横将她抱起往卧室走，沐小言惊叫，“墨少辰，我说了只是聊天。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人食指按压在她颤抖的朱唇上，嘴角的弧度邪恶，“嗯，我喜欢躺着聊人生，喜欢压着你看星星看月亮，姿势比较爽。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;流氓！<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐小言，“……”<br />
&nbsp;&nbsp;&nbsp;&nbsp;墨少辰在c市是令人闻风丧胆的人物，人说他残暴狠戾，尤其对女人从不怜香惜玉。而这一次，他却宠她入骨，几乎羡煞了整个g市的女人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“为什么对我这么笔趣阁女总裁的全能兵王http://www.sbiquge.com？”她问，一双毫无杂志的眼坦荡荡的盯着他，试图望进男人那双深邃的眼眸。<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人黑眸聚焦在女人胸口，抬手戳了戳她的心脏，“因为，我要你的这里。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到后来沐小言才明白，原来他要的，真的只是她的心而已。<br />
&nbsp;&nbsp;&nbsp;&nbsp;而她不知道的是，他宠她从来都是用情至深。<br />
&nbsp;&nbsp;&nbsp;&nbsp;——<br />
&nbsp;&nbsp;&nbsp;&nbsp;交易结束，她淡然转身。<br />
&nbsp;&nbsp;&nbsp;&nbsp;当她璀璨归来，再见墨少辰沐小言只想躲得远远的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这个男人如同狗皮膏药紧贴着她不放。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“墨少辰！”<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人一如既往的轻佻，“嗯，不错，四年不见，你还记得我的名字。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们已经没关系了。”她强调。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“从现在开始有关系也不晚。”他无所谓。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一直想要平淡的生活，殊不知一旦遇上这个男人，从此平淡和宁静都是路人。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门夺爱老公太野蛮》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！豪门夺爱老公太野蛮最新章节,豪门夺爱老公太野蛮无弹窗,豪门夺爱老公太野蛮全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《豪门夺爱老公太野蛮》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：豪门夺爱老公太野蛮最新章节,豪门夺爱老公太野蛮无弹窗,豪门夺爱老公太野蛮全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '16005',
  'lastchapter' => '187 墨少辰 失势',
  'lastsummary' => '',
  'chapters' => '190',
  'size' => '2132635',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1480608812',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 1066318,
  'size_k' => 1067,
  'size_w' => 106.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/83.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=83&cid=16005',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=83',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=83',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=83',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%D2%F4%CB%E6%C7%D9',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%E5%D2%F4%CB%E6%C7%D9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%C0%C3%C5%B6%E1%B0%AE%C0%CF%B9%AB%CC%AB%D2%B0%C2%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F83.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)