array (
  'meta_keywords' => '梦魂之何以复相思 流月唱 幻想言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=830&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=830&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=830&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=830&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '830',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1473846227',
    'lastupdate' => '1474081871',
    'articlename' => '梦魂之何以复相思',
    'articlecode' => 'menghunzhiheyifuxiangsi',
    'backupname' => '我是一株草，不能说话的草',
    'keywords' => '前尘 古言 悲伤',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '6806',
    'author' => '流月唱',
    'posterid' => '6806',
    'poster' => '流月唱',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '37',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;我是一株草，生长在梦魂涯边上的不能说话的蕙草，在这里我已经饱受了风霜三年，直到从某一天开始……<br />
&nbsp;&nbsp;&nbsp;&nbsp; 梦魂涯之所以叫梦魂涯，是因为这里是痴男怨女们喜欢倾诉的地方，我就是这么听着她们的故事，来缓解我这一千多个日子的寂寞。<br />
&nbsp;&nbsp; 虽然她们的故事也让我很悲伤，可是……<br />
&nbsp;&nbsp;&nbsp;&nbsp;我不能说话……<br />
&nbsp;&nbsp; 我也很悲伤……',
    'notice' => '&nbsp;&nbsp;&nbsp;&nbsp; 新文，希望大家多多支持。。。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '97611',
    'lastchapter' => '第六章；何以复相思',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来安华不是安华，他是王母娘娘与玉帝的儿子，王母与玉帝又怎么会允许他们的儿子，与一个小小的露仙相恋？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以，他们瞒着安华，趁他一次远出，将她丢弃在这断肠涯边，化作了一株蕙草，整日饱受风霜雨淋，默默享受无法行走，无法说话的痛苦……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是百年内安华还没能找到我，那么，便说明我们之间只是一时随性而为，当不得真。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而百年后，我便会化作人形，散却仙体，受凡人永世轮回之苦，以作惩戒……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一阵晓风抚来抬起了我的头，那个叫花娴的女子还在哭，声音凄楚悔恨……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五年过去了，十年过..',
    'chapters' => '6',
    'size' => '20536',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479059331',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '494',
    'allvisit' => '3003',
    'lastvote' => '1476933471',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '49',
    'goodnum' => '1',
    'reviewsnum' => '1',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1474081871',
    'freesize' => '20536',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '异世',
    'typename' => '异世',
    'size_c' => 10268,
    'size_k' => 11,
    'size_w' => 1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/830/830s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/830/830s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/830/830l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/830.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830&cid=97611',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=830',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=830',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=830',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6806.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%F7%D4%C2%B3%AA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%CE%BB%EA%D6%AE%BA%CE%D2%D4%B8%B4%CF%E0%CB%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F830.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '830',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1473846227',
  'lastupdate' => '1474081871',
  'articlename' => '梦魂之何以复相思',
  'articlecode' => 'menghunzhiheyifuxiangsi',
  'backupname' => '我是一株草，不能说话的草',
  'keywords' => '前尘 古言 悲伤',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '6806',
  'author' => '流月唱',
  'posterid' => '6806',
  'poster' => '流月唱',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '37',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;我是一株草，生长在梦魂涯边上的不能说话的蕙草，在这里我已经饱受了风霜三年，直到从某一天开始……<br />
&nbsp;&nbsp;&nbsp;&nbsp; 梦魂涯之所以叫梦魂涯，是因为这里是痴男怨女们喜欢倾诉的地方，我就是这么听着她们的故事，来缓解我这一千多个日子的寂寞。<br />
&nbsp;&nbsp; 虽然她们的故事也让我很悲伤，可是……<br />
&nbsp;&nbsp;&nbsp;&nbsp;我不能说话……<br />
&nbsp;&nbsp; 我也很悲伤……',
  'notice' => '&nbsp;&nbsp;&nbsp;&nbsp; 新文，希望大家多多支持。。。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '97611',
  'lastchapter' => '第六章；何以复相思',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来安华不是安华，他是王母娘娘与玉帝的儿子，王母与玉帝又怎么会允许他们的儿子，与一个小小的露仙相恋？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以，他们瞒着安华，趁他一次远出，将她丢弃在这断肠涯边，化作了一株蕙草，整日饱受风霜雨淋，默默享受无法行走，无法说话的痛苦……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是百年内安华还没能找到我，那么，便说明我们之间只是一时随性而为，当不得真。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而百年后，我便会化作人形，散却仙体，受凡人永世轮回之苦，以作惩戒……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一阵晓风抚来抬起了我的头，那个叫花娴的女子还在哭，声音凄楚悔恨……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五年过去了，十年过..',
  'chapters' => '6',
  'size' => '20536',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479059331',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '494',
  'allvisit' => '3003',
  'lastvote' => '1476933471',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '49',
  'goodnum' => '1',
  'reviewsnum' => '1',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1474081871',
  'freesize' => '20536',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '异世',
  'typename' => '异世',
  'size_c' => 10268,
  'size_k' => 11,
  'size_w' => 1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/830/830s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/830/830s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/830/830l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/830.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=830&cid=97611',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=830',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=830',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=830',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6806.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C1%F7%D4%C2%B3%AA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%CE%BB%EA%D6%AE%BA%CE%D2%D4%B8%B4%CF%E0%CB%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F830.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '前尘',
      'tagencode' => '%C7%B0%B3%BE',
    ),
    1 => 
    array (
      'tagname' => '古言',
      'tagencode' => '%B9%C5%D1%D4',
    ),
    2 => 
    array (
      'tagname' => '悲伤',
      'tagencode' => '%B1%AF%C9%CB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
