array (
  'meta_keywords' => '前妻归来：总裁知错了 张小灶 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=836&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=836&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=836&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=836&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '836',
    'siteid' => '1',
    'sourceid' => '2224',
    'postdate' => '1471491264',
    'lastupdate' => '1474293295',
    'articlename' => '前妻归来：总裁知错了',
    'articlecode' => 'qianqiguilai_zongcaizhicuoliao',
    'backupname' => '',
    'keywords' => '总裁 都市 微甜 阴谋',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '1',
    'author' => '张小灶',
    'posterid' => '1',
    'poster' => '',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '四年前她被利用之后狠心抛弃，四年后，她携萌宝华丽归来，讽渣男，斗小三，却无意中发现惊天秘密。最后，从未低头的他无比悔恨：我错了，你回来好不好？她：你说什么？大声点，我听不见！',
    'notice' => '读者群：554226679',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '98086',
    'lastchapter' => '第十九章：你们活该',
    'lastsummary' => '',
    'chapters' => '106',
    'size' => '458572',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1474323876',
    'dayvisit' => '26',
    'weekvisit' => '91',
    'monthvisit' => '91',
    'allvisit' => '91',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1471690610',
    'freesize' => '458572',
    'isvip' => 'VIP',
    'viptime' => '1474293295',
    'vipid' => '538',
    'vippubid' => '0',
    'vipchapters' => '86',
    'vipsize' => '375148',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '98243',
    'vipchapter' => '第一百零六章：丰厚的报酬',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“既然安小姐很好的完成了任务，那么她的报酬一定会很丰厚。”顾天骏点点头，看到林晓晓这副古灵精怪的样子，也不再那么严肃了，“不仅如此，你还可以告诉苏总，你哥哥还有我打算的和苏氏公司合作的进度，可以再加快一点了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那就这么说定了！”林晓晓一拍手，得意的对安染挑挑眉：你看看我，多厉害，不仅替你多要了工钱，还加快了和苏氏公司合作的..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 229286,
    'size_k' => 230,
    'size_w' => 22.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/836.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836&cid=98086',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=538&cid=98243',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=836',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=836',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=836',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D5%C5%D0%A1%D4%EE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%B0%C6%DE%B9%E9%C0%B4%A3%BA%D7%DC%B2%C3%D6%AA%B4%ED%C1%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F836.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '836',
  'siteid' => '1',
  'sourceid' => '2224',
  'postdate' => '1471491264',
  'lastupdate' => '1474293295',
  'articlename' => '前妻归来：总裁知错了',
  'articlecode' => 'qianqiguilai_zongcaizhicuoliao',
  'backupname' => '',
  'keywords' => '总裁 都市 微甜 阴谋',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '1',
  'author' => '张小灶',
  'posterid' => '1',
  'poster' => '',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '四年前她被利用之后狠心抛弃，四年后，她携萌宝华丽归来，讽渣男，斗小三，却无意中发现惊天秘密。最后，从未低头的他无比悔恨：我错了，你回来好不好？她：你说什么？大声点，我听不见！',
  'notice' => '读者群：554226679',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '98086',
  'lastchapter' => '第十九章：你们活该',
  'lastsummary' => '',
  'chapters' => '106',
  'size' => '458572',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1474323876',
  'dayvisit' => '26',
  'weekvisit' => '91',
  'monthvisit' => '91',
  'allvisit' => '91',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1471690610',
  'freesize' => '458572',
  'isvip' => 'VIP',
  'viptime' => '1474293295',
  'vipid' => '538',
  'vippubid' => '0',
  'vipchapters' => '86',
  'vipsize' => '375148',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '98243',
  'vipchapter' => '第一百零六章：丰厚的报酬',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“既然安小姐很好的完成了任务，那么她的报酬一定会很丰厚。”顾天骏点点头，看到林晓晓这副古灵精怪的样子，也不再那么严肃了，“不仅如此，你还可以告诉苏总，你哥哥还有我打算的和苏氏公司合作的进度，可以再加快一点了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那就这么说定了！”林晓晓一拍手，得意的对安染挑挑眉：你看看我，多厉害，不仅替你多要了工钱，还加快了和苏氏公司合作的..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 229286,
  'size_k' => 230,
  'size_w' => 22.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/836/836s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/836.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=836&cid=98086',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=538&cid=98243',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=836',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=836',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=836',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D5%C5%D0%A1%D4%EE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%B0%C6%DE%B9%E9%C0%B4%A3%BA%D7%DC%B2%C3%D6%AA%B4%ED%C1%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F836.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    2 => 
    array (
      'tagname' => '微甜',
      'tagencode' => '%CE%A2%CC%F0',
    ),
    3 => 
    array (
      'tagname' => '阴谋',
      'tagencode' => '%D2%F5%C4%B1',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
