array (
  'meta_keywords' => '陌上花开 陌婉君 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=851&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=851&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=851&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=851&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '851',
    'siteid' => '1',
    'sourceid' => '1881',
    'postdate' => '1470233369',
    'lastupdate' => '1470385510',
    'articlename' => '陌上花开',
    'articlecode' => 'moshanghuakai',
    'backupname' => '',
    'keywords' => '古代 架空 九重天',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '1',
    'author' => '陌婉君',
    'posterid' => '1',
    'poster' => '',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '她是九重天上的帝姬，不是独一无二，也不是被独宠，平平凡凡的，一直想去看看凡间，也就再一次宴会上逃离了九重天，开始了一段故事。',
    'notice' => '这里陌婉君啊～',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '99680',
    'lastchapter' => '灯会',
    'lastsummary' => '',
    'chapters' => '2',
    'size' => '5434',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478754726',
    'dayvisit' => 0,
    'weekvisit' => '78',
    'monthvisit' => '130',
    'allvisit' => '494',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1470385510',
    'freesize' => '5434',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 2717,
    'size_k' => 3,
    'size_w' => 0.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/851.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851&cid=99680',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=851',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=851',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=851',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%B0%CD%F1%BE%FD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%B0%C9%CF%BB%A8%BF%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F851.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '851',
  'siteid' => '1',
  'sourceid' => '1881',
  'postdate' => '1470233369',
  'lastupdate' => '1470385510',
  'articlename' => '陌上花开',
  'articlecode' => 'moshanghuakai',
  'backupname' => '',
  'keywords' => '古代 架空 九重天',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '1',
  'author' => '陌婉君',
  'posterid' => '1',
  'poster' => '',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '她是九重天上的帝姬，不是独一无二，也不是被独宠，平平凡凡的，一直想去看看凡间，也就再一次宴会上逃离了九重天，开始了一段故事。',
  'notice' => '这里陌婉君啊～',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '99680',
  'lastchapter' => '灯会',
  'lastsummary' => '',
  'chapters' => '2',
  'size' => '5434',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478754726',
  'dayvisit' => 0,
  'weekvisit' => '78',
  'monthvisit' => '130',
  'allvisit' => '494',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1470385510',
  'freesize' => '5434',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 2717,
  'size_k' => 3,
  'size_w' => 0.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/851/851s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/851.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=851&cid=99680',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=851',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=851',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=851',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%B0%CD%F1%BE%FD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%B0%C9%CF%BB%A8%BF%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F851.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '古代',
      'tagencode' => '%B9%C5%B4%FA',
    ),
    1 => 
    array (
      'tagname' => '架空',
      'tagencode' => '%BC%DC%BF%D5',
    ),
    2 => 
    array (
      'tagname' => '九重天',
      'tagencode' => '%BE%C5%D6%D8%CC%EC',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
