array (
  'meta_keywords' => '恐怖迷 雪人.（q_q） 灵异悬疑',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=860&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=860&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=860&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=860&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '860',
    'siteid' => '2',
    'sourceid' => '205',
    'postdate' => '1419337208',
    'lastupdate' => '1439821320',
    'articlename' => '恐怖迷',
    'articlecode' => 'kongbumi',
    'backupname' => '',
    'keywords' => '异世',
    'roles' => '',
    'initial' => 'K',
    'authorid' => '1228',
    'author' => '雪人.（q_q）',
    'posterid' => '1228',
    'poster' => '鬼姐姐',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '黑漆漆的夜，刮起一阵阴风。作者正在为你讲述故事：一个人正在走夜路。走着走着，他听到身后有一个脚步声。他回过头，身后什么也没有。他继续走，又听到了身后有脚步声。他再次回头，身后依然什么也没有。正当他松了一口气。“你看到我吗？”空气中突然响起了一个令人发寒的声音。在阅读本书一系列的恐怖段子之前，你可要做好心理准备，每一个精心创作的故事结尾，都会冷不丁吓你一跳，深度刺激恐怖迷们每一根神经！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '0',
    'lastchapter' => '',
    'lastsummary' => '',
    'chapters' => '0',
    'size' => '329491',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1479130622',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '78',
    'allvisit' => '234',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '1',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 164746,
    'size_k' => 165,
    'size_w' => 16.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/860.html',
    'url_articleindex' => '#',
    'url_index' => '#',
    'url_read' => '#',
    'url_fullpage' => '#',
    'url_lastchapter' => '',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=860',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=860',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=860',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C8%CB.%A3%A8q_q%A3%A9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%D6%B2%C0%C3%D4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F860.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '860',
  'siteid' => '2',
  'sourceid' => '205',
  'postdate' => '1419337208',
  'lastupdate' => '1439821320',
  'articlename' => '恐怖迷',
  'articlecode' => 'kongbumi',
  'backupname' => '',
  'keywords' => '异世',
  'roles' => '',
  'initial' => 'K',
  'authorid' => '1228',
  'author' => '雪人.（q_q）',
  'posterid' => '1228',
  'poster' => '鬼姐姐',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '黑漆漆的夜，刮起一阵阴风。作者正在为你讲述故事：一个人正在走夜路。走着走着，他听到身后有一个脚步声。他回过头，身后什么也没有。他继续走，又听到了身后有脚步声。他再次回头，身后依然什么也没有。正当他松了一口气。“你看到我吗？”空气中突然响起了一个令人发寒的声音。在阅读本书一系列的恐怖段子之前，你可要做好心理准备，每一个精心创作的故事结尾，都会冷不丁吓你一跳，深度刺激恐怖迷们每一根神经！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '0',
  'lastchapter' => '',
  'lastsummary' => '',
  'chapters' => '0',
  'size' => '329491',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1479130622',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '78',
  'allvisit' => '234',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '1',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 164746,
  'size_k' => 165,
  'size_w' => 16.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/860/860s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/860.html',
  'url_articleindex' => '#',
  'url_index' => '#',
  'url_read' => '#',
  'url_fullpage' => '#',
  'url_lastchapter' => '',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=860',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=860',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=860',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1228.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C8%CB.%A3%A8q_q%A3%A9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%D6%B2%C0%C3%D4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F860.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异世',
      'tagencode' => '%D2%EC%CA%C0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
