array (
  'meta_keywords' => '白衣天下：神秘王妃复仇记 夜华太子 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=863&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=863&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=863&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=863&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '863',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1475125703',
    'lastupdate' => '1478074450',
    'articlename' => '白衣天下：神秘王妃复仇记',
    'articlecode' => 'baiyitianxia_shenmiwangfeifuchouji',
    'backupname' => '',
    'keywords' => '女扮男装 复仇 斗智斗勇',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '6997',
    'author' => '夜华太子',
    'posterid' => '6997',
    'poster' => '夜华太子',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '“忆韶华兮，梦成殇。落尘埃兮，心如霜。怨兮恨兮，永世难忘。君既无道，国何不亡…...”<br />
她是集万千宠爱于一身的白将军之女，也是绝色倾城的怀王妃。<br />
一场精心设计的阴谋，白家一百三十七口人被满门抄斩，而她也葬身于火海......<br />
陌上人如玉，公子世无双。五年后，白衣公子惊艳天下。<br />
没有人见过他的真面目，也没有人知道他的身份、来历。他，就是一个谜.....<br />
天下风云涌动，他运筹帷幄，步步为营，在安然国甚至三国掀起一场又一场腥风血雨。<br />
此生，他倾尽所有，不为名利，不为权力，只为复仇。<br />
当大仇得报，一切尘埃落定时，世人怎么也没想到惊艳天下的白衣公子，竟然是她…..<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '105257',
    'lastchapter' => '第十一章 赤血凤灵草',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;翎王府<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翎王府的书房中，暗红色的书案后坐着一身墨色锦袍的安翎轩，头上戴着束发嵌宝紫金冠，长发一泻而下。他神情专注伏首案前批阅着文件，时间也便好像静止了一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可脑海中竟不知不觉的浮现出昨日的白衣少年，而且总感觉有一种莫名的熟悉感。特别是那双眼睛，如天上星辰一样耀眼，像极了一个人。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叩、叩、叩”书房外响起了敲门声，拉回了安翎轩的思绪。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“进来！”安翎轩停笔轻声道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;俊雅如竹的白衣男子推门而入，一头及腰的青丝随意的用白色发带束起，与白皙的容颜形成..',
    'chapters' => '11',
    'size' => '25518',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '2228',
    'lastvisit' => '1478960912',
    'dayvisit' => 0,
    'weekvisit' => '247',
    'monthvisit' => '546',
    'allvisit' => '3029',
    'lastvote' => '1475143186',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '3',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 10,
    'ratesum' => 90,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1478074450',
    'freesize' => '25518',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 12759,
    'size_k' => 13,
    'size_w' => 1.3,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/863.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863&cid=105257',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=863',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=863',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=863',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6997.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B9%BB%AA%CC%AB%D7%D3',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%D2%C2%CC%EC%CF%C2%A3%BA%C9%F1%C3%D8%CD%F5%E5%FA%B8%B4%B3%F0%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F863.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '863',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1475125703',
  'lastupdate' => '1478074450',
  'articlename' => '白衣天下：神秘王妃复仇记',
  'articlecode' => 'baiyitianxia_shenmiwangfeifuchouji',
  'backupname' => '',
  'keywords' => '女扮男装 复仇 斗智斗勇',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '6997',
  'author' => '夜华太子',
  'posterid' => '6997',
  'poster' => '夜华太子',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '“忆韶华兮，梦成殇。落尘埃兮，心如霜。怨兮恨兮，永世难忘。君既无道，国何不亡…...”<br />
她是集万千宠爱于一身的白将军之女，也是绝色倾城的怀王妃。<br />
一场精心设计的阴谋，白家一百三十七口人被满门抄斩，而她也葬身于火海......<br />
陌上人如玉，公子世无双。五年后，白衣公子惊艳天下。<br />
没有人见过他的真面目，也没有人知道他的身份、来历。他，就是一个谜.....<br />
天下风云涌动，他运筹帷幄，步步为营，在安然国甚至三国掀起一场又一场腥风血雨。<br />
此生，他倾尽所有，不为名利，不为权力，只为复仇。<br />
当大仇得报，一切尘埃落定时，世人怎么也没想到惊艳天下的白衣公子，竟然是她…..<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '105257',
  'lastchapter' => '第十一章 赤血凤灵草',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;翎王府<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翎王府的书房中，暗红色的书案后坐着一身墨色锦袍的安翎轩，头上戴着束发嵌宝紫金冠，长发一泻而下。他神情专注伏首案前批阅着文件，时间也便好像静止了一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可脑海中竟不知不觉的浮现出昨日的白衣少年，而且总感觉有一种莫名的熟悉感。特别是那双眼睛，如天上星辰一样耀眼，像极了一个人。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叩、叩、叩”书房外响起了敲门声，拉回了安翎轩的思绪。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“进来！”安翎轩停笔轻声道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;俊雅如竹的白衣男子推门而入，一头及腰的青丝随意的用白色发带束起，与白皙的容颜形成..',
  'chapters' => '11',
  'size' => '25518',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '2228',
  'lastvisit' => '1478960912',
  'dayvisit' => 0,
  'weekvisit' => '247',
  'monthvisit' => '546',
  'allvisit' => '3029',
  'lastvote' => '1475143186',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '3',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 10,
  'ratesum' => 90,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1478074450',
  'freesize' => '25518',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 12759,
  'size_k' => 13,
  'size_w' => 1.3,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/863.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=863&cid=105257',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=863',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=863',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=863',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6997.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B9%BB%AA%CC%AB%D7%D3',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%D2%C2%CC%EC%CF%C2%A3%BA%C9%F1%C3%D8%CD%F5%E5%FA%B8%B4%B3%F0%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F863.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '女扮男装',
      'tagencode' => '%C5%AE%B0%E7%C4%D0%D7%B0',
    ),
    1 => 
    array (
      'tagname' => '复仇',
      'tagencode' => '%B8%B4%B3%F0',
    ),
    2 => 
    array (
      'tagname' => '斗智斗勇',
      'tagencode' => '%B6%B7%D6%C7%B6%B7%D3%C2',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
