array (
  'meta_keywords' => '彼岸有女很倾城 苏熙 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=864&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=864&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=864&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=864&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '864',
    'siteid' => '1',
    'sourceid' => '571',
    'postdate' => '1462598394',
    'lastupdate' => '1475142417',
    'articlename' => '彼岸有女很倾城',
    'articlecode' => 'bianyounvhenqingcheng',
    'backupname' => '',
    'keywords' => '古言 重生 宫斗',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '1',
    'author' => '苏熙',
    'posterid' => '1',
    'poster' => '',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '前世他是高高在上的仙界帝王，杀伐决断；她是仙界藏书阁里的守护石，痴心守候。<br />
桃花寿尽，美人心死，藏书阁前的桃花开了又谢，谢了又开，千年已过，她褪去青涩，美得让人窒息。<br />
今生，他是不可一世的帝王，生得一副好皮囊；她是倾国倾城的九公主，千般聪慧也抵不过一个情字。<br />
他爱她的风华绝代，聪明绝顶，他给她万千宠爱，笑靥如花，许她一世荣华。<br />
而她，舍了他的富甲天下，负了他的天下第一，只愿为他深宫紧锁，许天涯海角，生生世世。<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '100578',
    'lastchapter' => '第四十七章&nbsp;&nbsp;整治朝纲',
    'lastsummary' => '',
    'chapters' => '355',
    'size' => '1986544',
    'daysize' => '0',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1475144624',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1464657221',
    'freesize' => '1986544',
    'isvip' => 'VIP',
    'viptime' => '1475142417',
    'vipid' => '545',
    'vippubid' => '0',
    'vipchapters' => '4',
    'vipsize' => '27644',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '102198',
    'vipchapter' => '第三百五十五章　以命换命',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;没过多久，夜刹华便发现云青瑶睡着了，夜刹华温柔的抱起云青瑶，小心翼翼的放在床榻上，为云青瑶盖好被子，这才依依不舍的离去。到了明日就是三年之期的最后一天了，若是还不能救夜曼珠的话，就再也没有机会了，夜刹华很愁苦，两个都是自己最在乎的人，可是偏偏要牺牲其中一个来救回另一个，不论结局是什么样子，终归都世不完美的，夜刹华看着观赏的房门，..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 993272,
    'size_k' => 994,
    'size_w' => 99.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/864.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864&cid=100578',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=545&cid=102198',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=864',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=864',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=864',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%D5%CE%F5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%CB%B0%B6%D3%D0%C5%AE%BA%DC%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F864.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '864',
  'siteid' => '1',
  'sourceid' => '571',
  'postdate' => '1462598394',
  'lastupdate' => '1475142417',
  'articlename' => '彼岸有女很倾城',
  'articlecode' => 'bianyounvhenqingcheng',
  'backupname' => '',
  'keywords' => '古言 重生 宫斗',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '1',
  'author' => '苏熙',
  'posterid' => '1',
  'poster' => '',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '前世他是高高在上的仙界帝王，杀伐决断；她是仙界藏书阁里的守护石，痴心守候。<br />
桃花寿尽，美人心死，藏书阁前的桃花开了又谢，谢了又开，千年已过，她褪去青涩，美得让人窒息。<br />
今生，他是不可一世的帝王，生得一副好皮囊；她是倾国倾城的九公主，千般聪慧也抵不过一个情字。<br />
他爱她的风华绝代，聪明绝顶，他给她万千宠爱，笑靥如花，许她一世荣华。<br />
而她，舍了他的富甲天下，负了他的天下第一，只愿为他深宫紧锁，许天涯海角，生生世世。<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '100578',
  'lastchapter' => '第四十七章&nbsp;&nbsp;整治朝纲',
  'lastsummary' => '',
  'chapters' => '355',
  'size' => '1986544',
  'daysize' => '0',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1475144624',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1464657221',
  'freesize' => '1986544',
  'isvip' => 'VIP',
  'viptime' => '1475142417',
  'vipid' => '545',
  'vippubid' => '0',
  'vipchapters' => '4',
  'vipsize' => '27644',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '102198',
  'vipchapter' => '第三百五十五章　以命换命',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;没过多久，夜刹华便发现云青瑶睡着了，夜刹华温柔的抱起云青瑶，小心翼翼的放在床榻上，为云青瑶盖好被子，这才依依不舍的离去。到了明日就是三年之期的最后一天了，若是还不能救夜曼珠的话，就再也没有机会了，夜刹华很愁苦，两个都是自己最在乎的人，可是偏偏要牺牲其中一个来救回另一个，不论结局是什么样子，终归都世不完美的，夜刹华看着观赏的房门，..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 993272,
  'size_k' => 994,
  'size_w' => 99.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/864/864s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/864.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=864&cid=100578',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=545&cid=102198',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=864',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=864',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=864',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/1.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%D5%CE%F5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%CB%B0%B6%D3%D0%C5%AE%BA%DC%C7%E3%B3%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F864.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '古言',
      'tagencode' => '%B9%C5%D1%D4',
    ),
    1 => 
    array (
      'tagname' => '重生',
      'tagencode' => '%D6%D8%C9%FA',
    ),
    2 => 
    array (
      'tagname' => '宫斗',
      'tagencode' => '%B9%AC%B6%B7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
