array (
  'meta_keywords' => '王俊凯，我在时光深处等你 听闻俊凯与安妍 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=879&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=879&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=879&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=879&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '879',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1476255604',
    'lastupdate' => '1476255936',
    'articlename' => '王俊凯，我在时光深处等你',
    'articlecode' => 'wangjunkai_wozaishiguangshenchudengni',
    'backupname' => '我所有的青春都追逐着你的身影，你却给我一个永远不能忘记的伤痛',
    'keywords' => '王俊凯 青春伤痛',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '7202',
    'author' => '听闻俊凯与安妍',
    'posterid' => '7202',
    'poster' => '听闻俊凯与安妍',
    'agentid' => '357',
    'agent' => '歌羽',
    'sortid' => '7',
    'typeid' => '31',
    'libid' => '0',
    'intro' => '我所有的青春都追逐着你的身影，你却给了我最后一次永远不能忘的伤痛。<br />
　　王俊凯，你曾经说过。<br />
　　二十五岁，你在会把那一片海买下来送给我，还要看着我拖着婚纱手捧鲜花走红地毯嫁给你。还要开始属于我们的新生活。<br />
　　你做到了，但是。<br />
　　我，食言了。<br />
　　曾经那个秋天我们两个的身影在落叶下甜蜜说笑，你嘴角一抹微笑成了我永恒的记忆。<br />
　　那个时候，我们拉钩，在剩下的夏天许下了我们的约定。而我的心里，住着小小的一个你，你住在我的世界里，没有离开过。<br />
　　“初暖，我告诉你哦，等二十五岁啊。我一定要娶你做我的新娘，我保证肯定不会爱上别人。”<br />
　　而我只是单纯笑而过，落叶正好凋零落下我们牵在一起的手。<br />
　　“看，这就是证明。我们长大后，在这里办婚礼！”<br />
　　你双眸闪着清澈的温柔，我知道并不是开玩笑。<br />
　　回忆，终究是回忆，脑海里出现过你的身影。<br />
　　那一天，我知道了我有了肺癌晚期。晴天霹雳，让我没有准备。<br />
　　婚礼的那一天，看着镜子里自己惨白的脸，穿着一身白的婚纱，锁骨上贴着王俊凯为我挑选闪耀的‘爱情恋人’项链，我知道我是世界上最幸福的新娘。<br />
　　可惜，是暂时的。<br />
　　上天对我太眷顾了，它要把我从你的身边收走了。<br />
　　走上红地毯，离你还有一步...<br />
　　终于...<br />
　　我躺在红地毯上，嘴角的血凉丝丝滑过我的脸，和滚烫的眼泪一起浸湿了头纱。<br />
　　我看着你惊恐的表情，我不禁掉着眼泪。<br />
　　在场的观众愣住了。<br />
　　我拼命用全力的力气，终于说出最后一句话。<br />
　　“王俊凯，我爱你...”<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 这句话，还来得及说得出口吗？<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 不知道为什么，我对你有了依赖。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我却默不作声离开了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对不起，如果有下辈子。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我只想和你永远永远在一起。',
    'notice' => '喜欢的小可爱戳进来',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '103512',
    'lastchapter' => '楔子',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;王俊凯，你还记得，流苏花的约定吗。以前那些回忆里，也许是一面灰尘的封面而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许，你却不知道，只要你翻开那封面。你会明白了好多好多故事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那年，属于我们的秋天，我们二十五岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天，我还记得，王俊凯你说你要娶我做新娘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你做到了，在长长的红地毯上，站在地毯尽头那一端的你。站在另一端红地毯起点的我。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樱花树下，弥漫着满天飞舞的花瓣带着芳香。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我穿着洁白的婚纱。长长的裙摆整齐遮盖住红地毯。我脚上穿着高跟鞋，已经及腰的长发随着风翩翩起舞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我的头纱遮住..',
    'chapters' => '1',
    'size' => '684',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1478913104',
    'dayvisit' => '26',
    'weekvisit' => '143',
    'monthvisit' => '364',
    'allvisit' => '1599',
    'lastvote' => '1476257793',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1476255936',
    'freesize' => '684',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 342,
    'size_k' => 1,
    'size_w' => 0,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/879.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879&cid=103512',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=879',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=879',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=879',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/7202.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%FD%CE%C5%BF%A1%BF%AD%D3%EB%B0%B2%E5%FB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%F5%BF%A1%BF%AD%A3%AC%CE%D2%D4%DA%CA%B1%B9%E2%C9%EE%B4%A6%B5%C8%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F879.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '879',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1476255604',
  'lastupdate' => '1476255936',
  'articlename' => '王俊凯，我在时光深处等你',
  'articlecode' => 'wangjunkai_wozaishiguangshenchudengni',
  'backupname' => '我所有的青春都追逐着你的身影，你却给我一个永远不能忘记的伤痛',
  'keywords' => '王俊凯 青春伤痛',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '7202',
  'author' => '听闻俊凯与安妍',
  'posterid' => '7202',
  'poster' => '听闻俊凯与安妍',
  'agentid' => '357',
  'agent' => '歌羽',
  'sortid' => '7',
  'typeid' => '31',
  'libid' => '0',
  'intro' => '我所有的青春都追逐着你的身影，你却给了我最后一次永远不能忘的伤痛。<br />
　　王俊凯，你曾经说过。<br />
　　二十五岁，你在会把那一片海买下来送给我，还要看着我拖着婚纱手捧鲜花走红地毯嫁给你。还要开始属于我们的新生活。<br />
　　你做到了，但是。<br />
　　我，食言了。<br />
　　曾经那个秋天我们两个的身影在落叶下甜蜜说笑，你嘴角一抹微笑成了我永恒的记忆。<br />
　　那个时候，我们拉钩，在剩下的夏天许下了我们的约定。而我的心里，住着小小的一个你，你住在我的世界里，没有离开过。<br />
　　“初暖，我告诉你哦，等二十五岁啊。我一定要娶你做我的新娘，我保证肯定不会爱上别人。”<br />
　　而我只是单纯笑而过，落叶正好凋零落下我们牵在一起的手。<br />
　　“看，这就是证明。我们长大后，在这里办婚礼！”<br />
　　你双眸闪着清澈的温柔，我知道并不是开玩笑。<br />
　　回忆，终究是回忆，脑海里出现过你的身影。<br />
　　那一天，我知道了我有了肺癌晚期。晴天霹雳，让我没有准备。<br />
　　婚礼的那一天，看着镜子里自己惨白的脸，穿着一身白的婚纱，锁骨上贴着王俊凯为我挑选闪耀的‘爱情恋人’项链，我知道我是世界上最幸福的新娘。<br />
　　可惜，是暂时的。<br />
　　上天对我太眷顾了，它要把我从你的身边收走了。<br />
　　走上红地毯，离你还有一步...<br />
　　终于...<br />
　　我躺在红地毯上，嘴角的血凉丝丝滑过我的脸，和滚烫的眼泪一起浸湿了头纱。<br />
　　我看着你惊恐的表情，我不禁掉着眼泪。<br />
　　在场的观众愣住了。<br />
　　我拼命用全力的力气，终于说出最后一句话。<br />
　　“王俊凯，我爱你...”<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 这句话，还来得及说得出口吗？<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 不知道为什么，我对你有了依赖。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我却默不作声离开了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对不起，如果有下辈子。<br />
&nbsp;&nbsp;&nbsp;&nbsp; 我只想和你永远永远在一起。',
  'notice' => '喜欢的小可爱戳进来',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '103512',
  'lastchapter' => '楔子',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;王俊凯，你还记得，流苏花的约定吗。以前那些回忆里，也许是一面灰尘的封面而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许，你却不知道，只要你翻开那封面。你会明白了好多好多故事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那年，属于我们的秋天，我们二十五岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天，我还记得，王俊凯你说你要娶我做新娘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你做到了，在长长的红地毯上，站在地毯尽头那一端的你。站在另一端红地毯起点的我。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樱花树下，弥漫着满天飞舞的花瓣带着芳香。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我穿着洁白的婚纱。长长的裙摆整齐遮盖住红地毯。我脚上穿着高跟鞋，已经及腰的长发随着风翩翩起舞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我的头纱遮住..',
  'chapters' => '1',
  'size' => '684',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1478913104',
  'dayvisit' => '26',
  'weekvisit' => '143',
  'monthvisit' => '364',
  'allvisit' => '1599',
  'lastvote' => '1476257793',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '1',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1476255936',
  'freesize' => '684',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 342,
  'size_k' => 1,
  'size_w' => 0,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/879.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=879&cid=103512',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=879',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=879',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=879',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/7202.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%FD%CE%C5%BF%A1%BF%AD%D3%EB%B0%B2%E5%FB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%F5%BF%A1%BF%AD%A3%AC%CE%D2%D4%DA%CA%B1%B9%E2%C9%EE%B4%A6%B5%C8%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F879.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '王俊凯',
      'tagencode' => '%CD%F5%BF%A1%BF%AD',
    ),
    1 => 
    array (
      'tagname' => '青春伤痛',
      'tagencode' => '%C7%E0%B4%BA%C9%CB%CD%B4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
