array (
  'meta_keywords' => '楚家有女初修仙 雅萱 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=88&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=88&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=88&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=88&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '88',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480513750',
    'lastupdate' => '1480513941',
    'articlename' => '楚家有女初修仙',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '雅萱',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说楚家有女初修仙简介：&nbsp;&nbsp;&nbsp;&nbsp;一场离奇的穿越，将她带到了陌生的修仙世界……<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为重生一次的生活，就是修修仙，找找爹娘，顺便看看美男就很欢乐了……<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到某一天，她招惹了一只帅到人神共愤的妖孽后，她的修仙生活从此变得鸡飞狗跳，各种悲剧啊……<br />
&nbsp;&nbsp;&nbsp;&nbsp;她觉得穿越君一定是手滑了，才错将黑手指给了她。说笔趣阁女总裁的全能兵王http://www.sbiquge.com的金手指呢……<br />
&nbsp;&nbsp;&nbsp;&nbsp;上神？了不起是吗？等姐早晚有一天修成上上神，直接压倒你丫的上神……<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚乔，仙灵大陆修仙世界顶级废材，家族老少手心的宝……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风，六界唯一的上神，仙界美男……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风救过楚乔的命，尽管她觉得那是他狗拿耗子多管闲事……<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚乔给莫晨风下过毒，尽管她觉得那绝对是自己的无心之过，做不得数的……<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神，楚小姐要在瑶池里面养鱼.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：嗯,瑶池的水不错,适合养鱼.<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神,楚小姐将花神给砍了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：嗯,花神确实是个摆设,砍了就砍了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神,楚小姐把魔界太子绑了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风头也没抬的继续道：嗯，魔界有的是人，换个人做太子就是了……<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神，楚小姐说魔界太子长得帅，想要留下了暖床……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：来人，给我召集天兵天将，攻打魔界……本文身心干净,彩待续……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《楚家有女初修仙》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！楚家有女初修仙最新章节,楚家有女初修仙无弹窗,楚家有女初修仙全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《楚家有女初修仙》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：楚家有女初修仙最新章节,楚家有女初修仙无弹窗,楚家有女初修仙全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '16865',
    'lastchapter' => '223.负荆请罪！',
    'lastsummary' => '',
    'chapters' => '222',
    'size' => '933991',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1481359077',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '104',
    'allvisit' => '104',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 466996,
    'size_k' => 467,
    'size_w' => 46.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/88.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88&cid=16865',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=88',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=88',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=88',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%C5%DD%E6',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%C5%DD%E6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%FE%BC%D2%D3%D0%C5%AE%B3%F5%D0%DE%CF%C9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F88.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '88',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480513750',
  'lastupdate' => '1480513941',
  'articlename' => '楚家有女初修仙',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '雅萱',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说楚家有女初修仙简介：&nbsp;&nbsp;&nbsp;&nbsp;一场离奇的穿越，将她带到了陌生的修仙世界……<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为重生一次的生活，就是修修仙，找找爹娘，顺便看看美男就很欢乐了……<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到某一天，她招惹了一只帅到人神共愤的妖孽后，她的修仙生活从此变得鸡飞狗跳，各种悲剧啊……<br />
&nbsp;&nbsp;&nbsp;&nbsp;她觉得穿越君一定是手滑了，才错将黑手指给了她。说笔趣阁女总裁的全能兵王http://www.sbiquge.com的金手指呢……<br />
&nbsp;&nbsp;&nbsp;&nbsp;上神？了不起是吗？等姐早晚有一天修成上上神，直接压倒你丫的上神……<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚乔，仙灵大陆修仙世界顶级废材，家族老少手心的宝……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风，六界唯一的上神，仙界美男……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风救过楚乔的命，尽管她觉得那是他狗拿耗子多管闲事……<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚乔给莫晨风下过毒，尽管她觉得那绝对是自己的无心之过，做不得数的……<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神，楚小姐要在瑶池里面养鱼.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：嗯,瑶池的水不错,适合养鱼.<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神,楚小姐将花神给砍了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：嗯,花神确实是个摆设,砍了就砍了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神,楚小姐把魔界太子绑了.<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风头也没抬的继续道：嗯，魔界有的是人，换个人做太子就是了……<br />
&nbsp;&nbsp;&nbsp;&nbsp;小仙童：上神，楚小姐说魔界太子长得帅，想要留下了暖床……<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫晨风：来人，给我召集天兵天将，攻打魔界……本文身心干净,彩待续……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《楚家有女初修仙》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！楚家有女初修仙最新章节,楚家有女初修仙无弹窗,楚家有女初修仙全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《楚家有女初修仙》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：楚家有女初修仙最新章节,楚家有女初修仙无弹窗,楚家有女初修仙全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '16865',
  'lastchapter' => '223.负荆请罪！',
  'lastsummary' => '',
  'chapters' => '222',
  'size' => '933991',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1481359077',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '104',
  'allvisit' => '104',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 466996,
  'size_k' => 467,
  'size_w' => 46.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/88.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=88&cid=16865',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=88',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=88',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=88',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%C5%DD%E6',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%C5%DD%E6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%FE%BC%D2%D3%D0%C5%AE%B3%F5%D0%DE%CF%C9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F88.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)