array (
  'meta_keywords' => '神枪灭世 月之炜 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=881&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=881&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=881&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=881&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '881',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1476372268',
    'lastupdate' => '1478934256',
    'articlename' => '神枪灭世',
    'articlecode' => 'shenqiangmieshi',
    'backupname' => '让我们一起，携手同行，走进他的世界，一起触摸感知那个晶莹华丽的水世界，一同听闻感受那个惊世美女的虐心绝恋！',
    'keywords' => '白领 鬼魂 神怪 灵异 大战',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '7221',
    'author' => '月之炜',
    'posterid' => '7221',
    'poster' => '月之炜',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;一位无比诱惑的湿身美女，还原了一段尘封于他脑海深处的痛苦记忆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个夜半出现的绝色女鬼，牵扯出一个不在六界外，却在五行中的神秘水世界。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一次毅然决然的地下探险，他终于打开了这个娇艳玲珑女儿国的全部结界，得以进入这个晶莹剔透的异域。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场真实与虚妄，容貌与通透，偏执与嫉妒的爱情纠结，却不料激起神、魔、人、水四个本是平行之世界旷日持久的权力争斗与大战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她抛弃千年修行和与世无争的平静生活，为诸般虐恋造成毁天灭地后果方才翻然悔悟而付出的完全牺牲，能否完成人道与爱情的自我救赎？能否换来天界神佛的一次怜悯与原宥？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱情，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;权力，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大战；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欢乐，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;悲愁，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苦难；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;究竟是真实的发生，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还是那梦中的缱绻？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让我们一起，携手同行，走进他的世界，一起触摸感知那个晶莹华丽的水世界，一同听闻感受那个惊世美女的虐心绝恋！<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '103650',
    'lastvolume' => '第一卷&nbsp;&nbsp;双城忆',
    'lastchapterid' => '107677',
    'lastchapter' => '第三十四章&nbsp;&nbsp;临兵斗者皆阵列在前',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我冷静下来，把这段时间发生的所有事情仔细的捋出了一条明晰的思路来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;茅道长道行高深，当年心航怨念深种，纠缠于头发之中，显灵于宾馆之内，还有我，又哭闹晕眩引发癫痫病犯，就是十条命也去了九条，尚且都能够施法一并解决，将我的记忆和心航的怨灵一并囚于方盒之中，既挽救了我，也解放了妈，如此说来，我应该给予他完全的相信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，他说心航魂魄不在方盒中，就一定是不在！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么，心航的怨灵究竟去了哪儿呢？七八年之后，她又是怎么回来的？怨灵变水妖，又是怎么一档子烂事？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些在妈这里不可..',
    'chapters' => '37',
    'size' => '247355',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '72803',
    'lastvisit' => '1479089207',
    'dayvisit' => '117',
    'weekvisit' => '117',
    'monthvisit' => '1170',
    'allvisit' => '3133',
    'lastvote' => '1479037942',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => '14',
    'allvote' => '30',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1478331924',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1478934256',
    'freesize' => '247355',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 123678,
    'size_k' => 124,
    'size_w' => 12.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/881.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881&cid=107677',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=881',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=881',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=881',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/7221.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%D6%AE%EC%BF',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%C7%B9%C3%F0%CA%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F881.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '881',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1476372268',
  'lastupdate' => '1478934256',
  'articlename' => '神枪灭世',
  'articlecode' => 'shenqiangmieshi',
  'backupname' => '让我们一起，携手同行，走进他的世界，一起触摸感知那个晶莹华丽的水世界，一同听闻感受那个惊世美女的虐心绝恋！',
  'keywords' => '白领 鬼魂 神怪 灵异 大战',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '7221',
  'author' => '月之炜',
  'posterid' => '7221',
  'poster' => '月之炜',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;一位无比诱惑的湿身美女，还原了一段尘封于他脑海深处的痛苦记忆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个夜半出现的绝色女鬼，牵扯出一个不在六界外，却在五行中的神秘水世界。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一次毅然决然的地下探险，他终于打开了这个娇艳玲珑女儿国的全部结界，得以进入这个晶莹剔透的异域。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场真实与虚妄，容貌与通透，偏执与嫉妒的爱情纠结，却不料激起神、魔、人、水四个本是平行之世界旷日持久的权力争斗与大战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她抛弃千年修行和与世无争的平静生活，为诸般虐恋造成毁天灭地后果方才翻然悔悟而付出的完全牺牲，能否完成人道与爱情的自我救赎？能否换来天界神佛的一次怜悯与原宥？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱情，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;权力，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大战；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欢乐，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;悲愁，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苦难；<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;究竟是真实的发生，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还是那梦中的缱绻？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让我们一起，携手同行，走进他的世界，一起触摸感知那个晶莹华丽的水世界，一同听闻感受那个惊世美女的虐心绝恋！<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '103650',
  'lastvolume' => '第一卷&nbsp;&nbsp;双城忆',
  'lastchapterid' => '107677',
  'lastchapter' => '第三十四章&nbsp;&nbsp;临兵斗者皆阵列在前',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我冷静下来，把这段时间发生的所有事情仔细的捋出了一条明晰的思路来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;茅道长道行高深，当年心航怨念深种，纠缠于头发之中，显灵于宾馆之内，还有我，又哭闹晕眩引发癫痫病犯，就是十条命也去了九条，尚且都能够施法一并解决，将我的记忆和心航的怨灵一并囚于方盒之中，既挽救了我，也解放了妈，如此说来，我应该给予他完全的相信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，他说心航魂魄不在方盒中，就一定是不在！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么，心航的怨灵究竟去了哪儿呢？七八年之后，她又是怎么回来的？怨灵变水妖，又是怎么一档子烂事？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些在妈这里不可..',
  'chapters' => '37',
  'size' => '247355',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '72803',
  'lastvisit' => '1479089207',
  'dayvisit' => '117',
  'weekvisit' => '117',
  'monthvisit' => '1170',
  'allvisit' => '3133',
  'lastvote' => '1479037942',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => '14',
  'allvote' => '30',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1478331924',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1478934256',
  'freesize' => '247355',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 123678,
  'size_k' => 124,
  'size_w' => 12.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/881.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=881&cid=107677',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=881',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=881',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=881',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/7221.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%D6%AE%EC%BF',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%C7%B9%C3%F0%CA%C0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F881.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '白领',
      'tagencode' => '%B0%D7%C1%EC',
    ),
    1 => 
    array (
      'tagname' => '鬼魂',
      'tagencode' => '%B9%ED%BB%EA',
    ),
    2 => 
    array (
      'tagname' => '神怪',
      'tagencode' => '%C9%F1%B9%D6',
    ),
    3 => 
    array (
      'tagname' => '灵异',
      'tagencode' => '%C1%E9%D2%EC',
    ),
    4 => 
    array (
      'tagname' => '大战',
      'tagencode' => '%B4%F3%D5%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
