array (
  'meta_keywords' => '绝代仙尊重生在校园 郭米米 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=90&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=90&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=90&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=90&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '90',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480514287',
    'lastupdate' => '1480514553',
    'articlename' => '绝代仙尊重生在校园',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '郭米米',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说绝代仙尊重生在校园简介：&nbsp;&nbsp;&nbsp;&nbsp;【重生】【女强】【商业】【爽文】<br />
&nbsp;&nbsp;&nbsp;&nbsp;风云大陆一代仙尊重生在一个都市平凡少女身上，会掀起怎样的风云？<br />
&nbsp;&nbsp;&nbsp;&nbsp;绝世修为在手，赌场发家，玩弄赌石，纵横商场。徒手建立一个传奇的势力！<br />
&nbsp;&nbsp;&nbsp;&nbsp;什么？渣男？有的，有的，虐他？当然要虐，而且要狠狠的虐，渣亲？有的，有的，虐，虐，狠狠的虐，不过冷傲仙尊表示，这些渣渣她从来没放在眼里过。<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场一<br />
&nbsp;&nbsp;&nbsp;&nbsp;某徐老爷子一回来整个人的气势就像变了似的，那全身的低气压吓得周围人都不敢靠近，某紫体贴的走了过去，状似关心的问道：“老爷子这是怎么了？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某老爷子没笔趣阁女总裁的全能兵王http://www.sbiquge.com气的横了某个孙女一眼：“不用你管，没安笔趣阁女总裁的全能兵王http://www.sbiquge.com心，我怎么会有你这样的孙女”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某紫无辜的玩弄自己的指甲，决定不和这个老头子计较：“到底怎么了，说说孙女我给你出口气”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还不是还没张齐，竟然给老爷子我脸色看，我活到这么大岁数了，还从来没有人给我受过这样的气”某老爷子吹胡子瞪眼道。<br />
&nbsp;&nbsp;&nbsp;&nbsp;某紫一脸心虚，貌似..，不过面上却是不显道：“这人实在是太过分了，竟然敢给您使脸色。我现在就让他给你道歉，您怎么消气怎么对待”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某老爷子一脸狐疑，让那位给他道歉？逗老头子玩吧。<br />
&nbsp;&nbsp;&nbsp;&nbsp;旁边的女人听到这里嗤笑，这个纳兰紫实在是说大话不经过大脑，也不怕牛皮吹破了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是少顷，那位领着一大包东西，挂着一脸掐眉的笑容，长相英俊不凡的男人是谁？<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场二<br />
&nbsp;&nbsp;&nbsp;&nbsp;某男一脸高贵的坐在沙发上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“季先生，不知你平时有什么爱笔趣阁女总裁的全能兵王http://www.sbiquge.com”一个水蛇般的女子坐了过去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;那坐在沙发的某男只放着冷气。<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众高干子弟尴尬着，试图找些话题。<br />
&nbsp;&nbsp;&nbsp;&nbsp;正在这时，只听见开门的声音，众人还没反应过来，只见原先还拽的跟二五八万的某男，立马从沙发上一越而起，那动神作书吧www.szxs8.com十分迅速，生怕有人和他抢似的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你回来了”这是某男带着笑意又温柔的声音。<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人惊呆。只见门口处的女子十分淡定，“嗯，你来了”清泉般的声音，不急不躁，霎时就抚慰了在场人急躁的心。<br />
&nbsp;&nbsp;&nbsp;&nbsp;下一刻，众人更大惊的看着，某男竟然体贴的拿下女子的外套，还小心翼翼的为女子换鞋，最重要的是那嘴角的弧度和那眼角的温柔，简直令这些吃了他一晚上冷气的人大惊失色。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代仙尊重生在校园》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！绝代仙尊重生在校园最新章节,绝代仙尊重生在校园无弹窗,绝代仙尊重生在校园全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代仙尊重生在校园》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：绝代仙尊重生在校园最新章节,绝代仙尊重生在校园无弹窗,绝代仙尊重生在校园全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '17369',
    'lastchapter' => '【165】看风景！（肥更！）',
    'lastsummary' => '',
    'chapters' => '166',
    'size' => '1301053',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1481164762',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '39',
    'allvisit' => '39',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 650527,
    'size_k' => 651,
    'size_w' => 65.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/90.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90&cid=17369',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=90',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=90',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=90',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C3%D7%C3%D7',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C3%D7%C3%D7',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B4%FA%CF%C9%D7%F0%D6%D8%C9%FA%D4%DA%D0%A3%D4%B0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F90.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '90',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480514287',
  'lastupdate' => '1480514553',
  'articlename' => '绝代仙尊重生在校园',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '郭米米',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说绝代仙尊重生在校园简介：&nbsp;&nbsp;&nbsp;&nbsp;【重生】【女强】【商业】【爽文】<br />
&nbsp;&nbsp;&nbsp;&nbsp;风云大陆一代仙尊重生在一个都市平凡少女身上，会掀起怎样的风云？<br />
&nbsp;&nbsp;&nbsp;&nbsp;绝世修为在手，赌场发家，玩弄赌石，纵横商场。徒手建立一个传奇的势力！<br />
&nbsp;&nbsp;&nbsp;&nbsp;什么？渣男？有的，有的，虐他？当然要虐，而且要狠狠的虐，渣亲？有的，有的，虐，虐，狠狠的虐，不过冷傲仙尊表示，这些渣渣她从来没放在眼里过。<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场一<br />
&nbsp;&nbsp;&nbsp;&nbsp;某徐老爷子一回来整个人的气势就像变了似的，那全身的低气压吓得周围人都不敢靠近，某紫体贴的走了过去，状似关心的问道：“老爷子这是怎么了？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某老爷子没笔趣阁女总裁的全能兵王http://www.sbiquge.com气的横了某个孙女一眼：“不用你管，没安笔趣阁女总裁的全能兵王http://www.sbiquge.com心，我怎么会有你这样的孙女”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某紫无辜的玩弄自己的指甲，决定不和这个老头子计较：“到底怎么了，说说孙女我给你出口气”<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还不是还没张齐，竟然给老爷子我脸色看，我活到这么大岁数了，还从来没有人给我受过这样的气”某老爷子吹胡子瞪眼道。<br />
&nbsp;&nbsp;&nbsp;&nbsp;某紫一脸心虚，貌似..，不过面上却是不显道：“这人实在是太过分了，竟然敢给您使脸色。我现在就让他给你道歉，您怎么消气怎么对待”<br />
&nbsp;&nbsp;&nbsp;&nbsp;某老爷子一脸狐疑，让那位给他道歉？逗老头子玩吧。<br />
&nbsp;&nbsp;&nbsp;&nbsp;旁边的女人听到这里嗤笑，这个纳兰紫实在是说大话不经过大脑，也不怕牛皮吹破了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是少顷，那位领着一大包东西，挂着一脸掐眉的笑容，长相英俊不凡的男人是谁？<br />
&nbsp;&nbsp;&nbsp;&nbsp;小剧场二<br />
&nbsp;&nbsp;&nbsp;&nbsp;某男一脸高贵的坐在沙发上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“季先生，不知你平时有什么爱笔趣阁女总裁的全能兵王http://www.sbiquge.com”一个水蛇般的女子坐了过去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;那坐在沙发的某男只放着冷气。<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众高干子弟尴尬着，试图找些话题。<br />
&nbsp;&nbsp;&nbsp;&nbsp;正在这时，只听见开门的声音，众人还没反应过来，只见原先还拽的跟二五八万的某男，立马从沙发上一越而起，那动神作书吧www.szxs8.com十分迅速，生怕有人和他抢似的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你回来了”这是某男带着笑意又温柔的声音。<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人惊呆。只见门口处的女子十分淡定，“嗯，你来了”清泉般的声音，不急不躁，霎时就抚慰了在场人急躁的心。<br />
&nbsp;&nbsp;&nbsp;&nbsp;下一刻，众人更大惊的看着，某男竟然体贴的拿下女子的外套，还小心翼翼的为女子换鞋，最重要的是那嘴角的弧度和那眼角的温柔，简直令这些吃了他一晚上冷气的人大惊失色。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代仙尊重生在校园》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！绝代仙尊重生在校园最新章节,绝代仙尊重生在校园无弹窗,绝代仙尊重生在校园全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代仙尊重生在校园》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：绝代仙尊重生在校园最新章节,绝代仙尊重生在校园无弹窗,绝代仙尊重生在校园全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '17369',
  'lastchapter' => '【165】看风景！（肥更！）',
  'lastsummary' => '',
  'chapters' => '166',
  'size' => '1301053',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1481164762',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '39',
  'allvisit' => '39',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 650527,
  'size_k' => 651,
  'size_w' => 65.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/90/90s.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/90.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=90&cid=17369',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=90',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=90',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=90',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C3%D7%C3%D7',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%F9%C3%D7%C3%D7',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B4%FA%CF%C9%D7%F0%D6%D8%C9%FA%D4%DA%D0%A3%D4%B0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F90.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)