array (
  'meta_keywords' => '蚀骨贪欢：男神老公要上瘾 雪色漫天 现代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=908&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=908&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=908&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=908&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '908',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1478249280',
    'lastupdate' => '1479040226',
    'articlename' => '蚀骨贪欢：男神老公要上瘾',
    'articlecode' => 'shigutanhuan_nanshenlaogongyaoshangyin',
    'backupname' => '有刻骨铭心的爱才不枉此生',
    'keywords' => '豪门恩怨 娱乐圈 虐恋情深',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '6977',
    'author' => '雪色漫天',
    'posterid' => '6977',
    'poster' => '雪色漫天',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '相恋五年，他被深爱的人夜夜强硬索欢，几乎吃干抹净！<br />
一夜激情，她意外怀孕，却遭男人无情抛弃。她恨得咬牙切齿。<br />
再次相遇，她坏了他的好事，某女怒骂道：“你这个混蛋！都盖了我的章！留了我的印！你还敢碰别的女人！”<br />
谁知，男人却说：“老婆，我忘记那晚激情的动作了，我们重来一遍？”<br />
女人：“……你滚！”，直到某一天，她才发现，他不仅仅是大明星……',
    'notice' => '相恋五年，他被深爱的人夜夜强硬索欢，几乎吃干抹净！<br />
一夜激情，她意外怀孕，却遭男人无情抛弃。她恨得咬牙切齿。<br />
再次相遇，她坏了他的好事，某女怒骂道：“你这个混蛋！都盖了我的章！留了我的印！你还敢碰别的女人！”<br />
谁知，男人却说：“老婆，我忘记那晚激情的动作了，我们重来一遍？”<br />
女人：“……你滚！”，直到某一天，她才发现，他不仅仅是大明星……',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '107739',
    'lastchapter' => '第18章&nbsp;&nbsp;结果竟然不是',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;等待，是最煎熬的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三天的等待，木晓晓感觉自己都等了几个春秋一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是最后一天，她几乎是在一夜未睡的激动中等到了拿检查结果的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐着赶往医院的出租车上，木晓晓靠在椅背，看着窗外疾驰而过的风景线，脑海中想着着郑御阳看到结果，知道真相后的模样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是深情的对着她说抱歉？还是给她一个有力而温暖的怀抱？亦或是一个激动而又火热的吻…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想着想着，她的唇角就忍不住弯了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她几乎是弯着唇角想了一路，直到车子停下，司机提醒她到了，她才回神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而上次跟踪她的..',
    'chapters' => '19',
    'size' => '46022',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '13182',
    'lastvisit' => '1479120231',
    'dayvisit' => '143',
    'weekvisit' => '143',
    'monthvisit' => '1781',
    'allvisit' => '1781',
    'lastvote' => '1479107179',
    'dayvote' => '10',
    'weekvote' => '10',
    'monthvote' => '110',
    'allvote' => '110',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1479040226',
    'freesize' => '46022',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 23011,
    'size_k' => 24,
    'size_w' => 2.3,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/908.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908&cid=107739',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=908',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=908',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=908',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/6977.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C9%AB%C2%FE%CC%EC',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%B4%B9%C7%CC%B0%BB%B6%A3%BA%C4%D0%C9%F1%C0%CF%B9%AB%D2%AA%C9%CF%F1%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F908.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '908',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1478249280',
  'lastupdate' => '1479040226',
  'articlename' => '蚀骨贪欢：男神老公要上瘾',
  'articlecode' => 'shigutanhuan_nanshenlaogongyaoshangyin',
  'backupname' => '有刻骨铭心的爱才不枉此生',
  'keywords' => '豪门恩怨 娱乐圈 虐恋情深',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '6977',
  'author' => '雪色漫天',
  'posterid' => '6977',
  'poster' => '雪色漫天',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '相恋五年，他被深爱的人夜夜强硬索欢，几乎吃干抹净！<br />
一夜激情，她意外怀孕，却遭男人无情抛弃。她恨得咬牙切齿。<br />
再次相遇，她坏了他的好事，某女怒骂道：“你这个混蛋！都盖了我的章！留了我的印！你还敢碰别的女人！”<br />
谁知，男人却说：“老婆，我忘记那晚激情的动作了，我们重来一遍？”<br />
女人：“……你滚！”，直到某一天，她才发现，他不仅仅是大明星……',
  'notice' => '相恋五年，他被深爱的人夜夜强硬索欢，几乎吃干抹净！<br />
一夜激情，她意外怀孕，却遭男人无情抛弃。她恨得咬牙切齿。<br />
再次相遇，她坏了他的好事，某女怒骂道：“你这个混蛋！都盖了我的章！留了我的印！你还敢碰别的女人！”<br />
谁知，男人却说：“老婆，我忘记那晚激情的动作了，我们重来一遍？”<br />
女人：“……你滚！”，直到某一天，她才发现，他不仅仅是大明星……',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '107739',
  'lastchapter' => '第18章&nbsp;&nbsp;结果竟然不是',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;等待，是最煎熬的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三天的等待，木晓晓感觉自己都等了几个春秋一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是最后一天，她几乎是在一夜未睡的激动中等到了拿检查结果的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐着赶往医院的出租车上，木晓晓靠在椅背，看着窗外疾驰而过的风景线，脑海中想着着郑御阳看到结果，知道真相后的模样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是深情的对着她说抱歉？还是给她一个有力而温暖的怀抱？亦或是一个激动而又火热的吻…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想着想着，她的唇角就忍不住弯了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她几乎是弯着唇角想了一路，直到车子停下，司机提醒她到了，她才回神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而上次跟踪她的..',
  'chapters' => '19',
  'size' => '46022',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '13182',
  'lastvisit' => '1479120231',
  'dayvisit' => '143',
  'weekvisit' => '143',
  'monthvisit' => '1781',
  'allvisit' => '1781',
  'lastvote' => '1479107179',
  'dayvote' => '10',
  'weekvote' => '10',
  'monthvote' => '110',
  'allvote' => '110',
  'goodnum' => '2',
  'reviewsnum' => '0',
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1479040226',
  'freesize' => '46022',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 23011,
  'size_k' => 24,
  'size_w' => 2.3,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/908.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=908&cid=107739',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=908',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=908',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=908',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/6977.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C9%AB%C2%FE%CC%EC',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%B4%B9%C7%CC%B0%BB%B6%A3%BA%C4%D0%C9%F1%C0%CF%B9%AB%D2%AA%C9%CF%F1%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F908.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '豪门恩怨',
      'tagencode' => '%BA%C0%C3%C5%B6%F7%D4%B9',
    ),
    1 => 
    array (
      'tagname' => '娱乐圈',
      'tagencode' => '%D3%E9%C0%D6%C8%A6',
    ),
    2 => 
    array (
      'tagname' => '虐恋情深',
      'tagencode' => '%C5%B0%C1%B5%C7%E9%C9%EE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
