array (
  'meta_keywords' => '妾为夫狂 初心容 古代言情',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=909&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=909&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=909&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=909&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '909',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1478596420',
    'lastupdate' => '1479098625',
    'articlename' => '妾为夫狂',
    'articlecode' => 'qieweifukuang',
    'backupname' => '',
    'keywords' => '架空 穿越',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '7513',
    'author' => '初心容',
    'posterid' => '7513',
    'poster' => '初心容',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '左若月：抢夺了自己亲姐姐的未婚夫，本以为自己会有个名分。<br />
当宫黎昕妥协娶了自己，她和姐姐同时嫁给那个人。<br />
刚烈的姐姐一尺红绫打碎了她所有的美梦，蓝妃妃的噩梦也接踵而来。<br />
蓝妃妃：她是现代当红天后，一朝夕穿越成了别人口中的小三。顶着左若月的皮承受左若月做过的错事。<br />
第一天她就被宫黎昕丢到了蛇窟中祭奠他的心爱之人。<br />
她纵然聪慧耐忍，却也被折磨的体无完肤。<br />
极重的心理阴影下，她终于醒悟过来，与其坐以待毙，不如主动出击！<br />
宫黎昕：烟花三月我遇见了我想要保护一生的女子，但是她却以决绝的姿态离开了我，取而代之的那个罪魁祸首却活好好的，我恨自己，也恨左若月，那么便一起沉沦在地狱中吧。<br />
耶律：那个女子的出现便给我的世界带来翻天覆地的变化，从开始的戏弄，到后来的心疼，我用尽一切办法去挽留她，她终究还是离我而去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是一个天雷滚滚，极其狗血却又带点小温馨的故事。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '107802',
    'lastchapter' => '第七章 左若画',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;离宫黎昕不到半米远的时候，宫黎昕将左若月拦腰抱起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嗅着左若月身上的香味“看来本王是捡到宝了。”宫黎昕俊眉微扬，他从来都不知道左丞相的小女儿舞跳的毫不逊色于左若画！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宫黎昕浅啄了下左若月隔着面纱的红唇，手不老实抚上左若月的胸部，慢慢的揉捏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左若月的脸颊红红的，眼睛怯怯懦的看着宫黎昕，黑曜石闪着最耀眼的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真是个宝。”宫黎昕再次感叹，想要揭开面纱，却懊恼的想起了左若月已经毁容了。第一次后悔毁了左若月的容貌。想到这里宫黎昕燃烧的欲火也下去了一半。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左若月看..',
    'chapters' => '7',
    'size' => '38428',
    'daysize' => '6238',
    'weeksize' => '6238',
    'monthsize' => '38428',
    'lastvisit' => '1479120017',
    'dayvisit' => '169',
    'weekvisit' => '169',
    'monthvisit' => '637',
    'allvisit' => '637',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1479098625',
    'freesize' => '38428',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 19214,
    'size_k' => 20,
    'size_w' => 1.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/909.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909&cid=107802',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=909',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=909',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=909',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/7513.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%F5%D0%C4%C8%DD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E6%AA%CE%AA%B7%F2%BF%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F909.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '909',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1478596420',
  'lastupdate' => '1479098625',
  'articlename' => '妾为夫狂',
  'articlecode' => 'qieweifukuang',
  'backupname' => '',
  'keywords' => '架空 穿越',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '7513',
  'author' => '初心容',
  'posterid' => '7513',
  'poster' => '初心容',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '左若月：抢夺了自己亲姐姐的未婚夫，本以为自己会有个名分。<br />
当宫黎昕妥协娶了自己，她和姐姐同时嫁给那个人。<br />
刚烈的姐姐一尺红绫打碎了她所有的美梦，蓝妃妃的噩梦也接踵而来。<br />
蓝妃妃：她是现代当红天后，一朝夕穿越成了别人口中的小三。顶着左若月的皮承受左若月做过的错事。<br />
第一天她就被宫黎昕丢到了蛇窟中祭奠他的心爱之人。<br />
她纵然聪慧耐忍，却也被折磨的体无完肤。<br />
极重的心理阴影下，她终于醒悟过来，与其坐以待毙，不如主动出击！<br />
宫黎昕：烟花三月我遇见了我想要保护一生的女子，但是她却以决绝的姿态离开了我，取而代之的那个罪魁祸首却活好好的，我恨自己，也恨左若月，那么便一起沉沦在地狱中吧。<br />
耶律：那个女子的出现便给我的世界带来翻天覆地的变化，从开始的戏弄，到后来的心疼，我用尽一切办法去挽留她，她终究还是离我而去。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是一个天雷滚滚，极其狗血却又带点小温馨的故事。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '107802',
  'lastchapter' => '第七章 左若画',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;离宫黎昕不到半米远的时候，宫黎昕将左若月拦腰抱起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嗅着左若月身上的香味“看来本王是捡到宝了。”宫黎昕俊眉微扬，他从来都不知道左丞相的小女儿舞跳的毫不逊色于左若画！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宫黎昕浅啄了下左若月隔着面纱的红唇，手不老实抚上左若月的胸部，慢慢的揉捏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左若月的脸颊红红的，眼睛怯怯懦的看着宫黎昕，黑曜石闪着最耀眼的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真是个宝。”宫黎昕再次感叹，想要揭开面纱，却懊恼的想起了左若月已经毁容了。第一次后悔毁了左若月的容貌。想到这里宫黎昕燃烧的欲火也下去了一半。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左若月看..',
  'chapters' => '7',
  'size' => '38428',
  'daysize' => '6238',
  'weeksize' => '6238',
  'monthsize' => '38428',
  'lastvisit' => '1479120017',
  'dayvisit' => '169',
  'weekvisit' => '169',
  'monthvisit' => '637',
  'allvisit' => '637',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1479098625',
  'freesize' => '38428',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 19214,
  'size_k' => 20,
  'size_w' => 1.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/909.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=909&cid=107802',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=909',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=909',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=909',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/7513.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%F5%D0%C4%C8%DD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E6%AA%CE%AA%B7%F2%BF%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F909.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '架空',
      'tagencode' => '%BC%DC%BF%D5',
    ),
    1 => 
    array (
      'tagname' => '穿越',
      'tagencode' => '%B4%A9%D4%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
