array (
  'meta_keywords' => '腹黑内幕每年1个鬼故事 奇书 玄幻魔法',
  'meta_description' => '草莓阅读',
  'meta_copyright' => '草莓阅读',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '酷币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=910&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=910&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=910&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=910&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '酷币',
  'articlevals' => 
  array (
    'articleid' => '910',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1479042198',
    'lastupdate' => '1479042380',
    'articlename' => '腹黑内幕每年1个鬼故事',
    'articlecode' => 'fuheinamumeinian1geguigushi',
    'backupname' => '一鬼乱百年',
    'keywords' => '杀手 阴谋 劫掠',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '7554',
    'author' => '奇书',
    'posterid' => '7554',
    'poster' => '奇书',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '1',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;做鬼易，做人难。做鬼横行天下，无人之界，做人小心谨慎，揪心意外。一场大结局，惊魂100年，真真假假，人鬼难辩，寻寻觅觅，罪孽如烟……<br />
 ',
    'notice' => '一鬼乱百年',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '107740',
    'lastvolume' => '正文',
    'lastchapterid' => '107743',
    'lastchapter' => '第3章 残酷杀戮 三',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;1917年2月中旬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场革命在彼得格勒爆发了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在布尔什维克（布）的领导下，起义很快就取得了胜利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尼古拉还算开明，他本来打算施行君主立宪制度的，然而一切都晚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在布尔什维克凌厉的攻势下，内阁提出辞呈，杜马也要求沙皇退位。统治俄国达300年之久的罗曼诺夫王朝，就此被推翻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经的沙皇尼古拉二世连同全家及其医生佣人等一干人，成为了布尔什维克的阶下囚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅仅一年多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灯火辉煌，珠光宝气的克里姆林宫前主人，就经历了其人生最大的起落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，从最初的无奈..',
    'chapters' => '4',
    'size' => '6162',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '6162',
    'lastvisit' => '1479127264',
    'dayvisit' => '169',
    'weekvisit' => '169',
    'monthvisit' => '182',
    'allvisit' => '182',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1479042380',
    'freesize' => '6162',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'changdu' => '0',
    'shuqi' => '0',
    'zhangyue' => '0',
    'iqiyi' => '0',
    'xunlei' => '0',
    'ledu' => '0',
    'yueduxing' => '0',
    'kaiyue' => '0',
    'shenma' => '0',
    'guijiejie' => '0',
    'ytread' => '0',
    'giftnum' => '0',
    'giftnums' => '0',
    'redrose' => '0',
    'yellowrose' => '0',
    'greenrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 3081,
    'size_k' => 4,
    'size_w' => 0.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/910/910s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/910/910s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/910/910l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/910.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910&cid=107743',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=910',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=910',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=910',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/7554.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C6%E6%CA%E9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%C4%DA%C4%BB%C3%BF%C4%EA1%B8%F6%B9%ED%B9%CA%CA%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '910',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1479042198',
  'lastupdate' => '1479042380',
  'articlename' => '腹黑内幕每年1个鬼故事',
  'articlecode' => 'fuheinamumeinian1geguigushi',
  'backupname' => '一鬼乱百年',
  'keywords' => '杀手 阴谋 劫掠',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '7554',
  'author' => '奇书',
  'posterid' => '7554',
  'poster' => '奇书',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '1',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;做鬼易，做人难。做鬼横行天下，无人之界，做人小心谨慎，揪心意外。一场大结局，惊魂100年，真真假假，人鬼难辩，寻寻觅觅，罪孽如烟……<br />
 ',
  'notice' => '一鬼乱百年',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '107740',
  'lastvolume' => '正文',
  'lastchapterid' => '107743',
  'lastchapter' => '第3章 残酷杀戮 三',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;1917年2月中旬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场革命在彼得格勒爆发了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在布尔什维克（布）的领导下，起义很快就取得了胜利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尼古拉还算开明，他本来打算施行君主立宪制度的，然而一切都晚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在布尔什维克凌厉的攻势下，内阁提出辞呈，杜马也要求沙皇退位。统治俄国达300年之久的罗曼诺夫王朝，就此被推翻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经的沙皇尼古拉二世连同全家及其医生佣人等一干人，成为了布尔什维克的阶下囚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅仅一年多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灯火辉煌，珠光宝气的克里姆林宫前主人，就经历了其人生最大的起落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，从最初的无奈..',
  'chapters' => '4',
  'size' => '6162',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '6162',
  'lastvisit' => '1479127264',
  'dayvisit' => '169',
  'weekvisit' => '169',
  'monthvisit' => '182',
  'allvisit' => '182',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1479042380',
  'freesize' => '6162',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'changdu' => '0',
  'shuqi' => '0',
  'zhangyue' => '0',
  'iqiyi' => '0',
  'xunlei' => '0',
  'ledu' => '0',
  'yueduxing' => '0',
  'kaiyue' => '0',
  'shenma' => '0',
  'guijiejie' => '0',
  'ytread' => '0',
  'giftnum' => '0',
  'giftnums' => '0',
  'redrose' => '0',
  'yellowrose' => '0',
  'greenrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 3081,
  'size_k' => 4,
  'size_w' => 0.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/910/910s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/910/910s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/910/910l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/910.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=910&cid=107743',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=910',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=910',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=910',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/7554.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C6%E6%CA%E9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%C4%DA%C4%BB%C3%BF%C4%EA1%B8%F6%B9%ED%B9%CA%CA%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '杀手',
      'tagencode' => '%C9%B1%CA%D6',
    ),
    1 => 
    array (
      'tagname' => '阴谋',
      'tagencode' => '%D2%F5%C4%B1',
    ),
    2 => 
    array (
      'tagname' => '劫掠',
      'tagencode' => '%BD%D9%C2%D3',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)
