array (
  'meta_keywords' => '韩娱之平凡之路 古道暖阳 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1374&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1374&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1374&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1374&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1374',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480829298',
    'lastupdate' => '1480840679',
    'articlename' => '韩娱之平凡之路',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '古道暖阳',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说韩娱之平凡之路简介：&nbsp;&nbsp;&nbsp;&nbsp;本书简介：&nbsp;&nbsp;&nbsp;&nbsp;普青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了自己的妻子宁可与家族决裂但是终究还是性格温和的华人后裔主角李俊翰，为了弄清楚选择了放弃跟自己那么多年感情而去追寻自己生活的妻子的心态，迷迷糊糊的进入了五光十色的演艺圈。<br />
&nbsp;&nbsp;&nbsp;&nbsp;周围的朋友，亲人让他在这个自己完全不熟悉的地方打拼着自己的未来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;回首之时，走过的，是一条属于他自己的演艺圈之路。<br />
&nbsp;&nbsp;&nbsp;&nbsp;本书多线程单女主。<br />
&nbsp;&nbsp;&nbsp;&nbsp;文青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;我曾经跨过山和大海，也穿过人山人海。<br />
&nbsp;&nbsp;&nbsp;&nbsp;我曾经拥有着一切，转眼都飘散如烟。<br />
&nbsp;&nbsp;&nbsp;&nbsp;平凡的是一种心态，而不是一种状态。<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要在路上，就努力的向前走吧。方向，目的地都并不重要。走着，才是活着。<br />
&nbsp;&nbsp;&nbsp;&nbsp;二青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;看了就知道了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《韩娱之平凡之路》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！韩娱之平凡之路最新章节,韩娱之平凡之路无弹窗,韩娱之平凡之路全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《韩娱之平凡之路》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：韩娱之平凡之路最新章节,韩娱之平凡之路无弹窗,韩娱之平凡之路全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '461613',
    'lastchapter' => '1101 咖啡，土味儿的！',
    'lastsummary' => '',
    'chapters' => '1095',
    'size' => '7233655',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1485274409',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '156',
    'allvisit' => '260',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 3616828,
    'size_k' => 3617,
    'size_w' => 361.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1374.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374&cid=461613',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1374',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1374',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1374',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%B5%C0%C5%AF%D1%F4',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%B5%C0%C5%AF%D1%F4',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%AB%D3%E9%D6%AE%C6%BD%B7%B2%D6%AE%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1374.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1374',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480829298',
  'lastupdate' => '1480840679',
  'articlename' => '韩娱之平凡之路',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '古道暖阳',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说韩娱之平凡之路简介：&nbsp;&nbsp;&nbsp;&nbsp;本书简介：&nbsp;&nbsp;&nbsp;&nbsp;普青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了自己的妻子宁可与家族决裂但是终究还是性格温和的华人后裔主角李俊翰，为了弄清楚选择了放弃跟自己那么多年感情而去追寻自己生活的妻子的心态，迷迷糊糊的进入了五光十色的演艺圈。<br />
&nbsp;&nbsp;&nbsp;&nbsp;周围的朋友，亲人让他在这个自己完全不熟悉的地方打拼着自己的未来。<br />
&nbsp;&nbsp;&nbsp;&nbsp;回首之时，走过的，是一条属于他自己的演艺圈之路。<br />
&nbsp;&nbsp;&nbsp;&nbsp;本书多线程单女主。<br />
&nbsp;&nbsp;&nbsp;&nbsp;文青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;我曾经跨过山和大海，也穿过人山人海。<br />
&nbsp;&nbsp;&nbsp;&nbsp;我曾经拥有着一切，转眼都飘散如烟。<br />
&nbsp;&nbsp;&nbsp;&nbsp;平凡的是一种心态，而不是一种状态。<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要在路上，就努力的向前走吧。方向，目的地都并不重要。走着，才是活着。<br />
&nbsp;&nbsp;&nbsp;&nbsp;二青版：<br />
&nbsp;&nbsp;&nbsp;&nbsp;看了就知道了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《韩娱之平凡之路》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！韩娱之平凡之路最新章节,韩娱之平凡之路无弹窗,韩娱之平凡之路全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《韩娱之平凡之路》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：韩娱之平凡之路最新章节,韩娱之平凡之路无弹窗,韩娱之平凡之路全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '461613',
  'lastchapter' => '1101 咖啡，土味儿的！',
  'lastsummary' => '',
  'chapters' => '1095',
  'size' => '7233655',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1485274409',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '156',
  'allvisit' => '260',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 3616828,
  'size_k' => 3617,
  'size_w' => 361.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1374.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1374&cid=461613',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1374',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1374',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1374',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%B5%C0%C5%AF%D1%F4',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%C5%B5%C0%C5%AF%D1%F4',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%AB%D3%E9%D6%AE%C6%BD%B7%B2%D6%AE%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1374.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)