array (
  'meta_keywords' => '星际西游记 蜀梦光阴 科幻同人',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1390&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1390&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1390&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1390&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1390',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480832830',
    'lastupdate' => '1480832874',
    'articlename' => '星际西游记',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '蜀梦光阴',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '6',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说星际西游记简介：&nbsp;&nbsp;&nbsp;&nbsp;我叫陈玄奘，是一个人族，来自大唐星系长安星，是一个落魄小子，但与大唐皇室二皇子李世民从小一起长大，称兄道弟。<br />
&nbsp;&nbsp;&nbsp;&nbsp;李世民有一个未婚妻，叫西经，是西天星域佛族的公主，李世民怕西经长得丑，便让我亲自去看看，如果长得漂亮就带回长安，长得丑就帮他退婚。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，你想知道她漂不漂亮让那边的人发个图像回来不就笔趣阁女总裁的全能兵王http://www.sbiquge.com了，为什么让我亲自跑一趟？<br />
&nbsp;&nbsp;&nbsp;&nbsp;“现在p图技术太强，别人我信不过。”李世民这样说道。<br />
&nbsp;&nbsp;&nbsp;&nbsp;笔趣阁女总裁的全能兵王http://www.sbiquge.com吧，你是大哥听你的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是我就带着买来的美猴王与两个护卫开着人族顶级战舰“白龙马”西行而去……<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏征相隔无尽光年梦斩龙王，薛仁贵一枪挑碎星系，长孙无忌箭落星河，程咬金一斧劈碎十万神族舰队，秦琼尉迟恭臂挡轨道炮，无人能近……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《星际西游记》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！星际西游记最新章节,星际西游记无弹窗,星际西游记全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《星际西游记》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：星际西游记最新章节,星际西游记无弹窗,星际西游记全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '455528',
    'lastchapter' => '第31章 慈航方舟',
    'lastsummary' => '',
    'chapters' => '32',
    'size' => '183369',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1482514362',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '52',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1482232425',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '4',
    'sort' => '科幻同人',
    'sortname' => '科幻同人',
    'type' => '',
    'typename' => '',
    'size_c' => 91685,
    'size_k' => 92,
    'size_w' => 9.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1390.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390&cid=455528',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1390',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1390',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1390',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%F1%C3%CE%B9%E2%D2%F5',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%F1%C3%CE%B9%E2%D2%F5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C7%BC%CA%CE%F7%D3%CE%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1390.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1390',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480832830',
  'lastupdate' => '1480832874',
  'articlename' => '星际西游记',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '蜀梦光阴',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '6',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说星际西游记简介：&nbsp;&nbsp;&nbsp;&nbsp;我叫陈玄奘，是一个人族，来自大唐星系长安星，是一个落魄小子，但与大唐皇室二皇子李世民从小一起长大，称兄道弟。<br />
&nbsp;&nbsp;&nbsp;&nbsp;李世民有一个未婚妻，叫西经，是西天星域佛族的公主，李世民怕西经长得丑，便让我亲自去看看，如果长得漂亮就带回长安，长得丑就帮他退婚。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，你想知道她漂不漂亮让那边的人发个图像回来不就笔趣阁女总裁的全能兵王http://www.sbiquge.com了，为什么让我亲自跑一趟？<br />
&nbsp;&nbsp;&nbsp;&nbsp;“现在p图技术太强，别人我信不过。”李世民这样说道。<br />
&nbsp;&nbsp;&nbsp;&nbsp;笔趣阁女总裁的全能兵王http://www.sbiquge.com吧，你是大哥听你的。<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是我就带着买来的美猴王与两个护卫开着人族顶级战舰“白龙马”西行而去……<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏征相隔无尽光年梦斩龙王，薛仁贵一枪挑碎星系，长孙无忌箭落星河，程咬金一斧劈碎十万神族舰队，秦琼尉迟恭臂挡轨道炮，无人能近……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《星际西游记》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！星际西游记最新章节,星际西游记无弹窗,星际西游记全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《星际西游记》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：星际西游记最新章节,星际西游记无弹窗,星际西游记全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '455528',
  'lastchapter' => '第31章 慈航方舟',
  'lastsummary' => '',
  'chapters' => '32',
  'size' => '183369',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1482514362',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '52',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1482232425',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '4',
  'sort' => '科幻同人',
  'sortname' => '科幻同人',
  'type' => '',
  'typename' => '',
  'size_c' => 91685,
  'size_k' => 92,
  'size_w' => 9.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1390/1390s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1390.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1390&cid=455528',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1390',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1390',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1390',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%F1%C3%CE%B9%E2%D2%F5',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%F1%C3%CE%B9%E2%D2%F5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C7%BC%CA%CE%F7%D3%CE%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1390.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)