array (
  'meta_keywords' => '妃撩不可之冷王拐回家 叶染衣 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1400&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1400&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1400&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1400&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1400',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480836593',
    'lastupdate' => '1480836927',
    'articlename' => '妃撩不可之冷王拐回家',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '0',
    'author' => '叶染衣',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说妃撩不可之冷王拐回家简介：&nbsp;&nbsp;&nbsp;&nbsp;【禁、欲系高冷王爷被打造成绝品忠犬过程中和欢脱女医师撩与被撩的暖宠，宠，宠故事，1v1】<br />
&nbsp;&nbsp;&nbsp;&nbsp;她叫荀久——华夏荀氏中医世家第五代传人。她这辈子最想做的事是用一支银针将他戳到手。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他叫扶笙——大燕王朝禁、欲系高冷王爷，一人之下万人之上。他这辈子做想做的事也是用一根“针”将她戳到手，让她亲眼见证他一针见血的本事。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的交点，始于一场狗血的穿越。<br />
&nbsp;&nbsp;&nbsp;&nbsp;彼时，她神作书吧www.szxs8.com为大燕王朝的通缉犯，在暴雨之夜“借”了他一个手下的蓑衣，便借到了他府上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他认出她的女儿身，却默不神作书吧www.szxs8.com声拍了她的胸脯两巴掌，睥睨的眼神瞥过去：“神作书吧www.szxs8.com为秦王府的侍卫，身材匀称是第一标准，你的胸肌太过厚实，赶紧脱了衣服，本王帮你压回去。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“......”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她誓要撩他，将他拐回家。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他必会反撩，让她回不了家。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【大婚之前】<br />
&nbsp;&nbsp;&nbsp;&nbsp;某日她替人看诊，他全程黑着脸看完。<br />
&nbsp;&nbsp;&nbsp;&nbsp;病人走后。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他微微蹙眉：“久儿，你刚才为何盯着那个男人看？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“我这是观气色。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他薄唇微抿：“你还靠在他身上，说了笔趣阁女总裁的全能兵王http://www.sbiquge.com多对我都没说过的话。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“我这叫听声息，问症状。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他沉吟片刻：“最后你还摸了他。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一脸堆笑：“阿笙别闹，我这叫把脉，不能说我乱摸。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他暗自思忖，那个男人的脉搏竟然长在手背上？<br />
&nbsp;&nbsp;&nbsp;&nbsp;【大婚之后】<br />
&nbsp;&nbsp;&nbsp;&nbsp;月黑风高夜，爱侣撩情时。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她微微蹙眉：“阿笙，你为何一直盯着我看？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他：“我这叫察言观‘色’。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她红唇微抿：“你还压到我身上，说了许多从前都没说过的话。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他：“我这叫听声息，问感受。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她沉吟片刻：“你的咸猪手还碰了我。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他笑意盈盈：“久儿乖，我这叫履行夫君应尽的义务，不能说我乱摸。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps：暖宠文，暖宠文，绝对暖宠，重要的事情说三遍！喜欢的亲记得加入书架收藏哟！<br />
&nbsp;&nbsp;&nbsp;&nbsp;推荐衣衣完结文《携子追妻王妃请回家》：此文有萌宝出没。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《妃撩不可之冷王拐回家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！妃撩不可之冷王拐回家最新章节,妃撩不可之冷王拐回家无弹窗,妃撩不可之冷王拐回家全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《妃撩不可之冷王拐回家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：妃撩不可之冷王拐回家最新章节,妃撩不可之冷王拐回家无弹窗,妃撩不可之冷王拐回家全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '458232',
    'lastchapter' => '第011章 左脸欠抽，右脸欠踹',
    'lastsummary' => '',
    'chapters' => '259',
    'size' => '1674533',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1485436654',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '195',
    'allvisit' => '286',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 837267,
    'size_k' => 838,
    'size_w' => 83.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1400.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400&cid=458232',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1400',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1400',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1400',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B6%C8%BE%D2%C2',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B6%C8%BE%D2%C2',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E5%FA%C1%C3%B2%BB%BF%C9%D6%AE%C0%E4%CD%F5%B9%D5%BB%D8%BC%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1400.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1400',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480836593',
  'lastupdate' => '1480836927',
  'articlename' => '妃撩不可之冷王拐回家',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '0',
  'author' => '叶染衣',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说妃撩不可之冷王拐回家简介：&nbsp;&nbsp;&nbsp;&nbsp;【禁、欲系高冷王爷被打造成绝品忠犬过程中和欢脱女医师撩与被撩的暖宠，宠，宠故事，1v1】<br />
&nbsp;&nbsp;&nbsp;&nbsp;她叫荀久——华夏荀氏中医世家第五代传人。她这辈子最想做的事是用一支银针将他戳到手。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他叫扶笙——大燕王朝禁、欲系高冷王爷，一人之下万人之上。他这辈子做想做的事也是用一根“针”将她戳到手，让她亲眼见证他一针见血的本事。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的交点，始于一场狗血的穿越。<br />
&nbsp;&nbsp;&nbsp;&nbsp;彼时，她神作书吧www.szxs8.com为大燕王朝的通缉犯，在暴雨之夜“借”了他一个手下的蓑衣，便借到了他府上。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他认出她的女儿身，却默不神作书吧www.szxs8.com声拍了她的胸脯两巴掌，睥睨的眼神瞥过去：“神作书吧www.szxs8.com为秦王府的侍卫，身材匀称是第一标准，你的胸肌太过厚实，赶紧脱了衣服，本王帮你压回去。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“......”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她誓要撩他，将他拐回家。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他必会反撩，让她回不了家。<br />
&nbsp;&nbsp;&nbsp;&nbsp;【大婚之前】<br />
&nbsp;&nbsp;&nbsp;&nbsp;某日她替人看诊，他全程黑着脸看完。<br />
&nbsp;&nbsp;&nbsp;&nbsp;病人走后。<br />
&nbsp;&nbsp;&nbsp;&nbsp;他微微蹙眉：“久儿，你刚才为何盯着那个男人看？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“我这是观气色。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他薄唇微抿：“你还靠在他身上，说了笔趣阁女总裁的全能兵王http://www.sbiquge.com多对我都没说过的话。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她：“我这叫听声息，问症状。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他沉吟片刻：“最后你还摸了他。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一脸堆笑：“阿笙别闹，我这叫把脉，不能说我乱摸。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他暗自思忖，那个男人的脉搏竟然长在手背上？<br />
&nbsp;&nbsp;&nbsp;&nbsp;【大婚之后】<br />
&nbsp;&nbsp;&nbsp;&nbsp;月黑风高夜，爱侣撩情时。<br />
&nbsp;&nbsp;&nbsp;&nbsp;她微微蹙眉：“阿笙，你为何一直盯着我看？”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他：“我这叫察言观‘色’。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她红唇微抿：“你还压到我身上，说了许多从前都没说过的话。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他：“我这叫听声息，问感受。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;她沉吟片刻：“你的咸猪手还碰了我。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;他笑意盈盈：“久儿乖，我这叫履行夫君应尽的义务，不能说我乱摸。”<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps：暖宠文，暖宠文，绝对暖宠，重要的事情说三遍！喜欢的亲记得加入书架收藏哟！<br />
&nbsp;&nbsp;&nbsp;&nbsp;推荐衣衣完结文《携子追妻王妃请回家》：此文有萌宝出没。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《妃撩不可之冷王拐回家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！妃撩不可之冷王拐回家最新章节,妃撩不可之冷王拐回家无弹窗,妃撩不可之冷王拐回家全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《妃撩不可之冷王拐回家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：妃撩不可之冷王拐回家最新章节,妃撩不可之冷王拐回家无弹窗,妃撩不可之冷王拐回家全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '458232',
  'lastchapter' => '第011章 左脸欠抽，右脸欠踹',
  'lastsummary' => '',
  'chapters' => '259',
  'size' => '1674533',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1485436654',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '195',
  'allvisit' => '286',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 837267,
  'size_k' => 838,
  'size_w' => 83.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1400.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1400&cid=458232',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1400',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1400',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1400',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B6%C8%BE%D2%C2',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B6%C8%BE%D2%C2',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E5%FA%C1%C3%B2%BB%BF%C9%D6%AE%C0%E4%CD%F5%B9%D5%BB%D8%BC%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1400.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)