array (
  'meta_keywords' => '新婚第1天，总裁先生难招架 书和墨 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1401&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1401&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1401&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1401&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1401',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480836931',
    'lastupdate' => '1480836982',
    'articlename' => '新婚第1天，总裁先生难招架',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '书和墨',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说新婚第1天，总裁先生难招架简介：&nbsp;&nbsp;&nbsp;&nbsp;她本是在年少时就大红大紫的明星，也是出身娇贵的世家千金。但，他一手毁了她。……数年后，她在最暗的雨夜主动出现在他的房间。“楼先生，别来无恙。”她的嗓音又甜又软，满含恭敬。他的笑浮于表面，“元书，你该怕我，而不是靠近我。”她也笑，而后拎着被泥水浸湿了的婚纱、一步步走向他。……他问过她，“为什么要回来？”“报复、或者攀附，楼先生更喜欢哪种答案？”她慵懒又凉薄。“元书，我会让你后悔。”他覆身而上，在那晚要了她一次又一次。元书的确后悔了，因为一切的后果都跟她最初的预期背道而驰。她利用他、捆绑他，挥霍他的钱财也挥霍他的声名。但，那个可以毁他至深的秘密，她始终没勇气宣之于口。他将她护在自己的羽翼之下，极尽所能地宠她、纵容她。但，他从不说爱她。……后来，元书他嫁。看着新郎将元书从自己家里接走，再看着婚车缓缓消失，楼郁霆眼眶渐渐猩红。20分钟后，被暗戾渗透了骨髓的楼先生只身拦住长长的婚车队伍，紧紧地攥住元书的手腕。“楼先生，您这是什么意思？”她眉眼清冷。他粗纵的呼吸喷洒在她耳廓，“你看不出来我这是在抢婚，嗯？！”——精彩片段*某天，绵绵再一次偷用元书的口红来画画，却被元书逮个正着。元书“凶”她，“你自己说，这次怎么办？！”绵绵捏着手指头正手足无措，护娃狂魔楼先生刚笔趣阁女总裁的全能兵王http://www.sbiquge.com从外面回来。绵绵转了转眼珠，戳着肥肥的手指头指着楼先生，“粑粑你是怎么看娃的？都让我把麻麻的口红弄断了，你快跟麻麻道歉！”楼先生一脸懵逼。元书憋不住笑，转身走了。绵绵这才噔噔地小跑到楼先生身边，安抚地拍了拍他的肩，“粑粑，我刚刚不是真的怪你，跟你开玩笑呢！”*“元书小姐，请用一句话形容你家楼先生。”元书：“嗯…体力无上限，食色无下限！”“呃…楼先生，那请用一个成语形容你家元书。”楼先生：“妻软怕硬，握粗取精，你选一个。”元书忍。“那元小姐的口头禅是什么呢？”楼先生：“不要了，受不了了，慢一点，轻一点……”元书忍无可忍：“楼郁霆！！！”——坑品保证**宠**喜欢请加入书架哈已完结旧文《第一暖婚，总裁爱妻到深处》：http://novel.hongxiu.com/a/1245301/<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《新婚第1天，总裁先生难招架》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！新婚第1天，总裁先生难招架最新章节,新婚第1天，总裁先生难招架无弹窗,新婚第1天，总裁先生难招架全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《新婚第1天，总裁先生难招架》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：新婚第1天，总裁先生难招架最新章节,新婚第1天，总裁先生难招架无弹窗,新婚第1天，总裁先生难招架全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '458270',
    'lastchapter' => '38 现在小书已经在你身边',
    'lastsummary' => '',
    'chapters' => '38',
    'size' => '91615',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484046842',
    'dayvisit' => 0,
    'weekvisit' => '13',
    'monthvisit' => '13',
    'allvisit' => '52',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 45808,
    'size_k' => 46,
    'size_w' => 4.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1401.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401&cid=458270',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1401',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1401',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1401',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%E9%BA%CD%C4%AB',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%E9%BA%CD%C4%AB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C2%BB%E9%B5%DA1%CC%EC%A3%AC%D7%DC%B2%C3%CF%C8%C9%FA%C4%D1%D5%D0%BC%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1401.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1401',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480836931',
  'lastupdate' => '1480836982',
  'articlename' => '新婚第1天，总裁先生难招架',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '书和墨',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说新婚第1天，总裁先生难招架简介：&nbsp;&nbsp;&nbsp;&nbsp;她本是在年少时就大红大紫的明星，也是出身娇贵的世家千金。但，他一手毁了她。……数年后，她在最暗的雨夜主动出现在他的房间。“楼先生，别来无恙。”她的嗓音又甜又软，满含恭敬。他的笑浮于表面，“元书，你该怕我，而不是靠近我。”她也笑，而后拎着被泥水浸湿了的婚纱、一步步走向他。……他问过她，“为什么要回来？”“报复、或者攀附，楼先生更喜欢哪种答案？”她慵懒又凉薄。“元书，我会让你后悔。”他覆身而上，在那晚要了她一次又一次。元书的确后悔了，因为一切的后果都跟她最初的预期背道而驰。她利用他、捆绑他，挥霍他的钱财也挥霍他的声名。但，那个可以毁他至深的秘密，她始终没勇气宣之于口。他将她护在自己的羽翼之下，极尽所能地宠她、纵容她。但，他从不说爱她。……后来，元书他嫁。看着新郎将元书从自己家里接走，再看着婚车缓缓消失，楼郁霆眼眶渐渐猩红。20分钟后，被暗戾渗透了骨髓的楼先生只身拦住长长的婚车队伍，紧紧地攥住元书的手腕。“楼先生，您这是什么意思？”她眉眼清冷。他粗纵的呼吸喷洒在她耳廓，“你看不出来我这是在抢婚，嗯？！”——精彩片段*某天，绵绵再一次偷用元书的口红来画画，却被元书逮个正着。元书“凶”她，“你自己说，这次怎么办？！”绵绵捏着手指头正手足无措，护娃狂魔楼先生刚笔趣阁女总裁的全能兵王http://www.sbiquge.com从外面回来。绵绵转了转眼珠，戳着肥肥的手指头指着楼先生，“粑粑你是怎么看娃的？都让我把麻麻的口红弄断了，你快跟麻麻道歉！”楼先生一脸懵逼。元书憋不住笑，转身走了。绵绵这才噔噔地小跑到楼先生身边，安抚地拍了拍他的肩，“粑粑，我刚刚不是真的怪你，跟你开玩笑呢！”*“元书小姐，请用一句话形容你家楼先生。”元书：“嗯…体力无上限，食色无下限！”“呃…楼先生，那请用一个成语形容你家元书。”楼先生：“妻软怕硬，握粗取精，你选一个。”元书忍。“那元小姐的口头禅是什么呢？”楼先生：“不要了，受不了了，慢一点，轻一点……”元书忍无可忍：“楼郁霆！！！”——坑品保证**宠**喜欢请加入书架哈已完结旧文《第一暖婚，总裁爱妻到深处》：http://novel.hongxiu.com/a/1245301/<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《新婚第1天，总裁先生难招架》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！新婚第1天，总裁先生难招架最新章节,新婚第1天，总裁先生难招架无弹窗,新婚第1天，总裁先生难招架全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《新婚第1天，总裁先生难招架》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：新婚第1天，总裁先生难招架最新章节,新婚第1天，总裁先生难招架无弹窗,新婚第1天，总裁先生难招架全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '458270',
  'lastchapter' => '38 现在小书已经在你身边',
  'lastsummary' => '',
  'chapters' => '38',
  'size' => '91615',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484046842',
  'dayvisit' => 0,
  'weekvisit' => '13',
  'monthvisit' => '13',
  'allvisit' => '52',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 45808,
  'size_k' => 46,
  'size_w' => 4.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1401.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1401&cid=458270',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1401',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1401',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1401',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%E9%BA%CD%C4%AB',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CA%E9%BA%CD%C4%AB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C2%BB%E9%B5%DA1%CC%EC%A3%AC%D7%DC%B2%C3%CF%C8%C9%FA%C4%D1%D5%D0%BC%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1401.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)