array (
  'meta_keywords' => '绝代神主 百里龙虾 幻想言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1461&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1461&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1461&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1461&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1461',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480867285',
    'lastupdate' => '1480867728',
    'articlename' => '绝代神主',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '百里龙虾',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说绝代神主简介：&nbsp;&nbsp;&nbsp;&nbsp;【最热爽文】 苏家少主苏莫，觉醒出逆天武魂，却被认为是最低级的垃圾武魂，受尽屈辱……且看苏莫如何凭借着逆天武魂，一路崛起，一路逆袭……<br />
&nbsp;&nbsp;&nbsp;&nbsp;练奇功、得奇宝、闯绝地、战天骄，吞噬无尽生灵，融合诸天血脉，鏖战天下，举世无敌！【vip书友群570815745，欢迎正版读者入群】<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代神主》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！绝代神主最新章节,绝代神主无弹窗,绝代神主全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代神主》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：绝代神主最新章节,绝代神主无弹窗,绝代神主全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '484053',
    'lastchapter' => '第590章 天价',
    'lastsummary' => '',
    'chapters' => '590',
    'size' => '2953647',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484178799',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '26',
    'allvisit' => '65',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '幻想言情',
    'sortname' => '幻想言情',
    'type' => '',
    'typename' => '',
    'size_c' => 1476824,
    'size_k' => 1477,
    'size_w' => 147.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1461.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461&cid=484053',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1461',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1461',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1461',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%D9%C0%EF%C1%FA%CF%BA',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%D9%C0%EF%C1%FA%CF%BA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B4%FA%C9%F1%D6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1461.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1461',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480867285',
  'lastupdate' => '1480867728',
  'articlename' => '绝代神主',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '百里龙虾',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说绝代神主简介：&nbsp;&nbsp;&nbsp;&nbsp;【最热爽文】 苏家少主苏莫，觉醒出逆天武魂，却被认为是最低级的垃圾武魂，受尽屈辱……且看苏莫如何凭借着逆天武魂，一路崛起，一路逆袭……<br />
&nbsp;&nbsp;&nbsp;&nbsp;练奇功、得奇宝、闯绝地、战天骄，吞噬无尽生灵，融合诸天血脉，鏖战天下，举世无敌！【vip书友群570815745，欢迎正版读者入群】<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代神主》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！绝代神主最新章节,绝代神主无弹窗,绝代神主全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《绝代神主》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：绝代神主最新章节,绝代神主无弹窗,绝代神主全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '484053',
  'lastchapter' => '第590章 天价',
  'lastsummary' => '',
  'chapters' => '590',
  'size' => '2953647',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484178799',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '26',
  'allvisit' => '65',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '幻想言情',
  'sortname' => '幻想言情',
  'type' => '',
  'typename' => '',
  'size_c' => 1476824,
  'size_k' => 1477,
  'size_w' => 147.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1461/1461s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1461.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1461&cid=484053',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1461',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1461',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1461',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%D9%C0%EF%C1%FA%CF%BA',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B0%D9%C0%EF%C1%FA%CF%BA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%F8%B4%FA%C9%F1%D6%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1461.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)