array (
  'meta_keywords' => '坑货江山，总有刁民想害朕 红尘斩 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1466&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1466&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1466&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1466&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1466',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480869057',
    'lastupdate' => '1480869106',
    'articlename' => '坑货江山，总有刁民想害朕',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'K',
    'authorid' => '0',
    'author' => '红尘斩',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说坑货江山，总有刁民想害朕简介：&nbsp;&nbsp;&nbsp;&nbsp;千渚陌凌穿越的第一天就被谈幽惊艳，十二岁的少年美得惊心动魄，雌雄莫辩。她为证身份胯下一抓，幽王此后十年不举。于是，陌凌登基后许诺，“朕一定遍寻名医，为王爷治笔趣阁女总裁的全能兵王http://www.sbiquge.com顽疾。”“解铃还需系铃人，臣有一个办法能够马上恢复。”谈幽脸上挂着罕见的邪魅笑容，为她宽衣解带。龙帐落下，一夜春光。第二天，某太监看着自家皇帝直不起来的腰，贴心将补药偷偷送进寝殿。谈幽看着满满一大碗鹿茸炖鹿鞭，脸色黑的足以媲美锅底。陌凌在想逃的前一刻被堵在龙床之上，“皇上可是嫌我昨夜不够卖力，没满足你？”……陌凌觉得自己一定是史上最悲惨的皇帝。一众后宫想着怎么榨干她，一干臣子想着怎么算计她，还有四国虎视眈眈。睡个觉都能被刺客夜袭，床榻翻飞。于是第二天，流言漫天飞。钟茵：皇上和谁在一起都无所谓，因为他最爱的是本宝宝。涵妃：皇上到底在殿中藏了哪个狐狸精！看我戳花那狐狸精的脸！唯一知情的夏妃：听说昨夜谈幽把床都做榻了？一夜七次算什么！果然床榻才是真丈夫！哭笑不得的陌凌觉得，被某王爷日来日去的日子，真是……太幸福了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《坑货江山，总有刁民想害朕》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！坑货江山，总有刁民想害朕最新章节,坑货江山，总有刁民想害朕无弹窗,坑货江山，总有刁民想害朕全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《坑货江山，总有刁民想害朕》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：坑货江山，总有刁民想害朕最新章节,坑货江山，总有刁民想害朕无弹窗,坑货江山，总有刁民想害朕全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '486147',
    'lastchapter' => '第六十九章 南国公主',
    'lastsummary' => '',
    'chapters' => '69',
    'size' => '168601',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1483404559',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 84301,
    'size_k' => 85,
    'size_w' => 8.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1466.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466&cid=486147',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1466',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1466',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1466',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%EC%B3%BE%D5%B6',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%EC%B3%BE%D5%B6',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%D3%BB%F5%BD%AD%C9%BD%A3%AC%D7%DC%D3%D0%B5%F3%C3%F1%CF%EB%BA%A6%EB%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1466.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1466',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480869057',
  'lastupdate' => '1480869106',
  'articlename' => '坑货江山，总有刁民想害朕',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'K',
  'authorid' => '0',
  'author' => '红尘斩',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说坑货江山，总有刁民想害朕简介：&nbsp;&nbsp;&nbsp;&nbsp;千渚陌凌穿越的第一天就被谈幽惊艳，十二岁的少年美得惊心动魄，雌雄莫辩。她为证身份胯下一抓，幽王此后十年不举。于是，陌凌登基后许诺，“朕一定遍寻名医，为王爷治笔趣阁女总裁的全能兵王http://www.sbiquge.com顽疾。”“解铃还需系铃人，臣有一个办法能够马上恢复。”谈幽脸上挂着罕见的邪魅笑容，为她宽衣解带。龙帐落下，一夜春光。第二天，某太监看着自家皇帝直不起来的腰，贴心将补药偷偷送进寝殿。谈幽看着满满一大碗鹿茸炖鹿鞭，脸色黑的足以媲美锅底。陌凌在想逃的前一刻被堵在龙床之上，“皇上可是嫌我昨夜不够卖力，没满足你？”……陌凌觉得自己一定是史上最悲惨的皇帝。一众后宫想着怎么榨干她，一干臣子想着怎么算计她，还有四国虎视眈眈。睡个觉都能被刺客夜袭，床榻翻飞。于是第二天，流言漫天飞。钟茵：皇上和谁在一起都无所谓，因为他最爱的是本宝宝。涵妃：皇上到底在殿中藏了哪个狐狸精！看我戳花那狐狸精的脸！唯一知情的夏妃：听说昨夜谈幽把床都做榻了？一夜七次算什么！果然床榻才是真丈夫！哭笑不得的陌凌觉得，被某王爷日来日去的日子，真是……太幸福了！<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《坑货江山，总有刁民想害朕》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！坑货江山，总有刁民想害朕最新章节,坑货江山，总有刁民想害朕无弹窗,坑货江山，总有刁民想害朕全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《坑货江山，总有刁民想害朕》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：坑货江山，总有刁民想害朕最新章节,坑货江山，总有刁民想害朕无弹窗,坑货江山，总有刁民想害朕全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '486147',
  'lastchapter' => '第六十九章 南国公主',
  'lastsummary' => '',
  'chapters' => '69',
  'size' => '168601',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1483404559',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 84301,
  'size_k' => 85,
  'size_w' => 8.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1466.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1466&cid=486147',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1466',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1466',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1466',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%EC%B3%BE%D5%B6',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%EC%B3%BE%D5%B6',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BF%D3%BB%F5%BD%AD%C9%BD%A3%AC%D7%DC%D3%D0%B5%F3%C3%F1%CF%EB%BA%A6%EB%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1466.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)