array (
  'meta_keywords' => '穿越到大秦的武器大亨 大锅菜 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1521&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1521&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1521&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1521&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1521',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480878577',
    'lastupdate' => '1480878757',
    'articlename' => '穿越到大秦的武器大亨',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '大锅菜',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说穿越到大秦的武器大亨简介：&nbsp;&nbsp;&nbsp;&nbsp;历史收藏家的伯父，保守着一个古老的秘密，没有子嗣的原因，希望其侄子能够继承这个古老的秘密。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是侄子没有任何兴趣。他只对开发武器感兴趣。更多的新式武器。赚取更多的钞票。这是他唯一的乐趣。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，在这个古老秘密传承的过程中，意外出现了。侄子穿越了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到了战国末期。<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘿嘿，既来之则安之，自己是武器专家，对付冷兵器还不是手到擒来吗?<br />
&nbsp;&nbsp;&nbsp;&nbsp;你有骑兵，我有机关枪，你冲，我就埋地雷，拉铁丝网，你跑，我可是专家。地上有坦克装甲车，天上有飞机。投降吧。<br />
&nbsp;&nbsp;&nbsp;&nbsp;机械化的武器用在古代战场上还等什么<br />
&nbsp;&nbsp;&nbsp;&nbsp;qq群222194391欢迎你的加入。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《穿越到大秦的武器大亨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：穿越到大秦的武器大亨最新章节,穿越到大秦的武器大亨无弹窗,穿越到大秦的武器大亨全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '504533',
    'lastchapter' => '572意外流出的武器',
    'lastsummary' => '',
    'chapters' => '576',
    'size' => '2514651',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1485479717',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '130',
    'allvisit' => '221',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 1257326,
    'size_k' => 1258,
    'size_w' => 125.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1521.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521&cid=504533',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1521',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1521',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1521',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%B9%F8%B2%CB',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%B9%F8%B2%CB',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%A9%D4%BD%B5%BD%B4%F3%C7%D8%B5%C4%CE%E4%C6%F7%B4%F3%BA%E0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1521.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1521',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480878577',
  'lastupdate' => '1480878757',
  'articlename' => '穿越到大秦的武器大亨',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '大锅菜',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说穿越到大秦的武器大亨简介：&nbsp;&nbsp;&nbsp;&nbsp;历史收藏家的伯父，保守着一个古老的秘密，没有子嗣的原因，希望其侄子能够继承这个古老的秘密。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是侄子没有任何兴趣。他只对开发武器感兴趣。更多的新式武器。赚取更多的钞票。这是他唯一的乐趣。<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，在这个古老秘密传承的过程中，意外出现了。侄子穿越了。<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到了战国末期。<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘿嘿，既来之则安之，自己是武器专家，对付冷兵器还不是手到擒来吗?<br />
&nbsp;&nbsp;&nbsp;&nbsp;你有骑兵，我有机关枪，你冲，我就埋地雷，拉铁丝网，你跑，我可是专家。地上有坦克装甲车，天上有飞机。投降吧。<br />
&nbsp;&nbsp;&nbsp;&nbsp;机械化的武器用在古代战场上还等什么<br />
&nbsp;&nbsp;&nbsp;&nbsp;qq群222194391欢迎你的加入。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《穿越到大秦的武器大亨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：穿越到大秦的武器大亨最新章节,穿越到大秦的武器大亨无弹窗,穿越到大秦的武器大亨全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '504533',
  'lastchapter' => '572意外流出的武器',
  'lastsummary' => '',
  'chapters' => '576',
  'size' => '2514651',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1485479717',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '130',
  'allvisit' => '221',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 1257326,
  'size_k' => 1258,
  'size_w' => 125.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1521/1521s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1521.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1521&cid=504533',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1521',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1521',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1521',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%B9%F8%B2%CB',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B4%F3%B9%F8%B2%CB',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B4%A9%D4%BD%B5%BD%B4%F3%C7%D8%B5%C4%CE%E4%C6%F7%B4%F3%BA%E0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1521.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)