array (
  'meta_keywords' => '限时逼婚，老婆听话！ 又菡 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1533&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1533&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1533&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1533&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1533',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480879407',
    'lastupdate' => '1480879438',
    'articlename' => '限时逼婚，老婆听话！',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '0',
    'author' => '又菡',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说限时逼婚，老婆听话！简介：&nbsp;&nbsp;&nbsp;&nbsp;顾行远，一个年长她整整九岁的男人。他纵横商场，行事低调，却唯独对她，强硬放肆。说什么：大学未毕业之前，不许抽烟，不许喝酒，不许晚归，更不许和异性一起单独出去！她以为，他是看她寄人篱下，不爽！谁知，十八岁成年的那天，她晴天霹雳地被通知与他订婚！人人都说她被金元宝砸中，飞上枝头变凤凰。只有她知道。这个男人，对她，是厌弃到骨子里去！*她以为，对她的霸占，不过是他一时兴起的恶趣味，要了，玩了，腻了，恶心了，也就扔了。所以，她安分守己，乖巧听话，等着他恶心扔掉自己的那一天。直到他要与相之匹配的女人走进结婚礼堂，她以为，自己终于自由了。不料。那本应和妻子新婚燕尔的他，大摇大摆地追来不说，还在他妻子的眼皮子底下，极为猖狂地轻咬她的唇瓣，“身上都贴着我的标签，想逃去哪里？”推荐某菡的完结文：《妻约成婚，亿万老公别耍赖》：http://novel.hongxiu.com/a/1215404/<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《限时逼婚，老婆听话！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！限时逼婚，老婆听话！最新章节,限时逼婚，老婆听话！无弹窗,限时逼婚，老婆听话！全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《限时逼婚，老婆听话！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：限时逼婚，老婆听话！最新章节,限时逼婚，老婆听话！无弹窗,限时逼婚，老婆听话！全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '506603',
    'lastchapter' => '105章：放开我的老公，我老公我会抱！',
    'lastsummary' => '',
    'chapters' => '105',
    'size' => '344215',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1486028132',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '234',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '1480879438',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 172108,
    'size_k' => 173,
    'size_w' => 17.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1533.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533&cid=506603',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1533',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1533',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1533',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%D6%DD%D5',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%D6%DD%D5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%DE%CA%B1%B1%C6%BB%E9%A3%AC%C0%CF%C6%C5%CC%FD%BB%B0%A3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1533.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1533',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480879407',
  'lastupdate' => '1480879438',
  'articlename' => '限时逼婚，老婆听话！',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '0',
  'author' => '又菡',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说限时逼婚，老婆听话！简介：&nbsp;&nbsp;&nbsp;&nbsp;顾行远，一个年长她整整九岁的男人。他纵横商场，行事低调，却唯独对她，强硬放肆。说什么：大学未毕业之前，不许抽烟，不许喝酒，不许晚归，更不许和异性一起单独出去！她以为，他是看她寄人篱下，不爽！谁知，十八岁成年的那天，她晴天霹雳地被通知与他订婚！人人都说她被金元宝砸中，飞上枝头变凤凰。只有她知道。这个男人，对她，是厌弃到骨子里去！*她以为，对她的霸占，不过是他一时兴起的恶趣味，要了，玩了，腻了，恶心了，也就扔了。所以，她安分守己，乖巧听话，等着他恶心扔掉自己的那一天。直到他要与相之匹配的女人走进结婚礼堂，她以为，自己终于自由了。不料。那本应和妻子新婚燕尔的他，大摇大摆地追来不说，还在他妻子的眼皮子底下，极为猖狂地轻咬她的唇瓣，“身上都贴着我的标签，想逃去哪里？”推荐某菡的完结文：《妻约成婚，亿万老公别耍赖》：http://novel.hongxiu.com/a/1215404/<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《限时逼婚，老婆听话！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！限时逼婚，老婆听话！最新章节,限时逼婚，老婆听话！无弹窗,限时逼婚，老婆听话！全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《限时逼婚，老婆听话！》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：限时逼婚，老婆听话！最新章节,限时逼婚，老婆听话！无弹窗,限时逼婚，老婆听话！全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '506603',
  'lastchapter' => '105章：放开我的老公，我老公我会抱！',
  'lastsummary' => '',
  'chapters' => '105',
  'size' => '344215',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1486028132',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '234',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '1480879438',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 172108,
  'size_k' => 173,
  'size_w' => 17.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1533.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1533&cid=506603',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1533',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1533',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1533',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%D6%DD%D5',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%D6%DD%D5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%DE%CA%B1%B1%C6%BB%E9%A3%AC%C0%CF%C6%C5%CC%FD%BB%B0%A3%A1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1533.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)