array (
  'meta_keywords' => '[综穿]那些被女主渣过的男神 千玖玖 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1608&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1608&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1608&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1608&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1608',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480887640',
    'lastupdate' => '1480887677',
    'articlename' => '[综穿]那些被女主渣过的男神',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => '',
    'authorid' => '0',
    'author' => '千玖玖',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说[综穿]那些被女主渣过的男神简介：&nbsp;&nbsp;&nbsp;&nbsp;乔峰，花满楼，重楼，玄霄，十三钗，网球王子……扒一扒那些年和我……的男神！注意，前方高危！傻白甜！本文逻辑死！女主渣！女主渣！女主渣！受不了的别进来！求收藏啊求收藏~点进来的亲就顺便收藏一下咯~拜托啦拜托啦~~就收藏一下咯~笔趣阁女总裁的全能兵王http://www.sbiquge.com不笔趣阁女总裁的全能兵王http://www.sbiquge.com~~~~与编辑商量，本文明天（1日）入v，入宝们不要因为入算入托咯，支持正版笔趣阁女总裁的全能兵王http://www.sbiquge.com不啦~一章不到1毛钱，求支持正版&amp;gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《[综穿]那些被女主渣过的男神》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！[综穿]那些被女主渣过的男神最新章节,[综穿]那些被女主渣过的男神无弹窗,[综穿]那些被女主渣过的男神全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《[综穿]那些被女主渣过的男神》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：[综穿]那些被女主渣过的男神最新章节,[综穿]那些被女主渣过的男神无弹窗,[综穿]那些被女主渣过的男神全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '532258',
    'lastchapter' => '第131章 法海【防盗】',
    'lastsummary' => '',
    'chapters' => '129',
    'size' => '745881',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1484193779',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '39',
    'allvisit' => '156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '',
    'typename' => '',
    'size_c' => 372941,
    'size_k' => 373,
    'size_w' => 37.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1608.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608&cid=532258',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1608',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1608',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1608',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%BE%C1%BE%C1',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%BE%C1%BE%C1',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%5B%D7%DB%B4%A9%5D%C4%C7%D0%A9%B1%BB%C5%AE%D6%F7%D4%FC%B9%FD%B5%C4%C4%D0%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1608.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1608',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480887640',
  'lastupdate' => '1480887677',
  'articlename' => '[综穿]那些被女主渣过的男神',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => '',
  'authorid' => '0',
  'author' => '千玖玖',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说[综穿]那些被女主渣过的男神简介：&nbsp;&nbsp;&nbsp;&nbsp;乔峰，花满楼，重楼，玄霄，十三钗，网球王子……扒一扒那些年和我……的男神！注意，前方高危！傻白甜！本文逻辑死！女主渣！女主渣！女主渣！受不了的别进来！求收藏啊求收藏~点进来的亲就顺便收藏一下咯~拜托啦拜托啦~~就收藏一下咯~笔趣阁女总裁的全能兵王http://www.sbiquge.com不笔趣阁女总裁的全能兵王http://www.sbiquge.com~~~~与编辑商量，本文明天（1日）入v，入宝们不要因为入算入托咯，支持正版笔趣阁女总裁的全能兵王http://www.sbiquge.com不啦~一章不到1毛钱，求支持正版&amp;gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《[综穿]那些被女主渣过的男神》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！[综穿]那些被女主渣过的男神最新章节,[综穿]那些被女主渣过的男神无弹窗,[综穿]那些被女主渣过的男神全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《[综穿]那些被女主渣过的男神》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：[综穿]那些被女主渣过的男神最新章节,[综穿]那些被女主渣过的男神无弹窗,[综穿]那些被女主渣过的男神全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '532258',
  'lastchapter' => '第131章 法海【防盗】',
  'lastsummary' => '',
  'chapters' => '129',
  'size' => '745881',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1484193779',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '39',
  'allvisit' => '156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '0',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '',
  'typename' => '',
  'size_c' => 372941,
  'size_k' => 373,
  'size_w' => 37.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1608.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1608&cid=532258',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1608',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1608',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1608',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%BE%C1%BE%C1',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%BE%C1%BE%C1',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%5B%D7%DB%B4%A9%5D%C4%C7%D0%A9%B1%BB%C5%AE%D6%F7%D4%FC%B9%FD%B5%C4%C4%D0%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1608.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)