array (
  'meta_keywords' => '每天吵架都被说在秀恩爱 雨师螺 武侠修真',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1619&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1619&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1619&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1619&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1619',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480888980',
    'lastupdate' => '1480888998',
    'articlename' => '每天吵架都被说在秀恩爱',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '0',
    'author' => '雨师螺',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说每天吵架都被说在秀恩爱简介：&nbsp;&nbsp;&nbsp;&nbsp;此为修仙史上【最骚包】的【自攻自受】！！ 在景陵躲过众仙围攻，携本体穿过空间乱流后，才发现他竟回到了过去。而这里已有另一个“自己”，另一个还保有孔雀肉身，未被抽筋剥皮、锻魂炼魄成为器灵的“自己”。 本着互不干涉的原则，景陵远离对方千里之外，低调发展势力，筹备复仇大计。却在三百年后后知后觉，那个“自己”是“被夺舍”的？！！ 景陵怒起！ 哪个不开眼的孤魂野鬼，竟敢夺舍他曾经的肉身？！……本文又名《我的镜子我做主》、《镜灵飞升手册》、《穿越者说我俩是汤姆苏》、《妖界闪瞎眼道侣恩爱新方式》、《秀恩爱你整个华峰》、《每天都被自己攻略》、《不想被自摸肿么破》欢脱小剧场阅读小贴士 场景一：只要看到对方的伴生玉石，就能证实他是否是夺舍！然而：孔令羽：“我想了想，决定答应你的求偶……”景陵：“……不！你冷静一下”只恨自己眼睛闭的太晚！已！经！看！到！了！ 场景二：景陵：“莫名其妙改换盛装神作书吧www.szxs8.com甚，笔趣阁女总裁的全能兵王http://www.sbiquge.com似在开屏求偶！”然而孔雀比美本能却已自动华服加身！妖界众妖：“呵呵，那两货又又又又又又在秀恩爱！”景陵：“……”这样下去，他们的关系何时才会解释得清！孔令羽得逞的勾起唇角。本文主受，1狠腹黑 孔雀攻 灵受 逆袭、打脸、升级、复仇、秀恩爱~全面诠释所谓最自恋！ 排雷小提示： 1、苏苏苏苏苏！甜甜甜甜甜！2、会有起点男及晋江女出没。3、主角无夺舍！无生子！4、待定本文将于2016年10月25日开v！当天掉落万更，绝对保证更新、不断更 ~(づ￣ 3￣)づ<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《每天吵架都被说在秀恩爱》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！每天吵架都被说在秀恩爱最新章节,每天吵架都被说在秀恩爱无弹窗,每天吵架都被说在秀恩爱全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《每天吵架都被说在秀恩爱》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：每天吵架都被说在秀恩爱最新章节,每天吵架都被说在秀恩爱无弹窗,每天吵架都被说在秀恩爱全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '536499',
    'lastchapter' => '68.第 68 章',
    'lastsummary' => '',
    'chapters' => '68',
    'size' => '443043',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1486019706',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '182',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '1',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '1480888998',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '',
    'typename' => '',
    'size_c' => 221522,
    'size_k' => 222,
    'size_w' => 22.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1619.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619&cid=536499',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1619',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1619',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1619',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%CA%A6%C2%DD',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%CA%A6%C2%DD',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%BF%CC%EC%B3%B3%BC%DC%B6%BC%B1%BB%CB%B5%D4%DA%D0%E3%B6%F7%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1619.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1619',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480888980',
  'lastupdate' => '1480888998',
  'articlename' => '每天吵架都被说在秀恩爱',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '0',
  'author' => '雨师螺',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说每天吵架都被说在秀恩爱简介：&nbsp;&nbsp;&nbsp;&nbsp;此为修仙史上【最骚包】的【自攻自受】！！ 在景陵躲过众仙围攻，携本体穿过空间乱流后，才发现他竟回到了过去。而这里已有另一个“自己”，另一个还保有孔雀肉身，未被抽筋剥皮、锻魂炼魄成为器灵的“自己”。 本着互不干涉的原则，景陵远离对方千里之外，低调发展势力，筹备复仇大计。却在三百年后后知后觉，那个“自己”是“被夺舍”的？！！ 景陵怒起！ 哪个不开眼的孤魂野鬼，竟敢夺舍他曾经的肉身？！……本文又名《我的镜子我做主》、《镜灵飞升手册》、《穿越者说我俩是汤姆苏》、《妖界闪瞎眼道侣恩爱新方式》、《秀恩爱你整个华峰》、《每天都被自己攻略》、《不想被自摸肿么破》欢脱小剧场阅读小贴士 场景一：只要看到对方的伴生玉石，就能证实他是否是夺舍！然而：孔令羽：“我想了想，决定答应你的求偶……”景陵：“……不！你冷静一下”只恨自己眼睛闭的太晚！已！经！看！到！了！ 场景二：景陵：“莫名其妙改换盛装神作书吧www.szxs8.com甚，笔趣阁女总裁的全能兵王http://www.sbiquge.com似在开屏求偶！”然而孔雀比美本能却已自动华服加身！妖界众妖：“呵呵，那两货又又又又又又在秀恩爱！”景陵：“……”这样下去，他们的关系何时才会解释得清！孔令羽得逞的勾起唇角。本文主受，1狠腹黑 孔雀攻 灵受 逆袭、打脸、升级、复仇、秀恩爱~全面诠释所谓最自恋！ 排雷小提示： 1、苏苏苏苏苏！甜甜甜甜甜！2、会有起点男及晋江女出没。3、主角无夺舍！无生子！4、待定本文将于2016年10月25日开v！当天掉落万更，绝对保证更新、不断更 ~(づ￣ 3￣)づ<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《每天吵架都被说在秀恩爱》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！每天吵架都被说在秀恩爱最新章节,每天吵架都被说在秀恩爱无弹窗,每天吵架都被说在秀恩爱全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《每天吵架都被说在秀恩爱》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：每天吵架都被说在秀恩爱最新章节,每天吵架都被说在秀恩爱无弹窗,每天吵架都被说在秀恩爱全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '536499',
  'lastchapter' => '68.第 68 章',
  'lastsummary' => '',
  'chapters' => '68',
  'size' => '443043',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1486019706',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '182',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '1',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '1480888998',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '',
  'typename' => '',
  'size_c' => 221522,
  'size_k' => 222,
  'size_w' => 22.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1619/1619s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1619.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1619&cid=536499',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1619',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1619',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1619',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%CA%A6%C2%DD',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%CA%A6%C2%DD',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%BF%CC%EC%B3%B3%BC%DC%B6%BC%B1%BB%CB%B5%D4%DA%D0%E3%B6%F7%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1619.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)