array (
  'meta_keywords' => '风光大嫁，傅先生疼她入骨 明珠还 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1628&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1628&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1628&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1628&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1628',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480889313',
    'lastupdate' => '1480889331',
    'articlename' => '风光大嫁，傅先生疼她入骨',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '0',
    'author' => '明珠还',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说风光大嫁，傅先生疼她入骨简介：&nbsp;&nbsp;&nbsp;&nbsp;她在加州生下那个小小婴孩的时候，傅竟行堪堪过了三十岁生日。他在电视上举起酒杯，庆贺傅家的商业帝国再上层楼，她在加州小小的私人医院中，冷汗涔涔，数度昏死过去。她叫聂掌珠，该叫傅太太一声二姐，叫傅竟行一声姐夫。可她怀中那个闭眼酣睡的婴孩，若此时能开口说话，却是该，唤他一声……*一场商业阴谋，父死母疯，那一年，聂家幼女掌珠正值花信，如珠似玉，被人捧在掌心，从不知忧虑为何物。那一日，聂家长女明蓉去未婚夫家退掉婚事，宣布终身不嫁，撑起聂家门户。掌珠懵懂之间，捧出首饰匣子递给长姐：“我以后再不买衣服首饰，长姐卖了这些还债吧……”聂明蓉望着小妹娇媚容颜，忽然心潮浮动。那一夜，傅家长子傅竟行宿醉醒来，床侧多了一个不着寸缕的年轻女孩儿……三日后，傅竟行亲赴聂家，天价聘礼求娶——一向默默无闻的聂家二小姐嫣蓉。傅竟行的订婚宴上，聂掌珠未婚有孕三个月的丑闻忽然被人当众揭开，她的未婚夫，在人前一耳光将她打的口鼻出血，当场宣布婚事神作书吧www.szxs8.com废。庆祝傅竟行与聂嫣蓉订婚的烟火满城璀璨的时候，聂掌珠带着腹中的孩子，孤身离开了这座城市。*加州。嘉树三岁了，有一日他忽然稚气问她：“妈妈，爸爸在哪里？爸爸是照片上这个人吗？”她收拾行装的手指倏然顿住，照片上的他只有模糊的侧颜，她却缓缓湿了眼眶。三年，聂家又生波澜，她决然将嘉树留在加州，只身回国。再相逢，却在声色靡丽的场所，他靠在沙发上，衣袖半卷，吞云吐雾之间，微微眯了眼打量着她：“聂掌珠？”浓艳的妆遮住了她眼底的雾气，纤长的睫垂下来，她的声音嚅嚅：“先生，您认错……”微带着香烟味道的手指，修长，有力，忽然就捏住了她的下颌，然后，缓缓抬起。“我们睡过那么多次，聂掌珠，你就是化成灰，我也认得出你。”她终于相信，每个人，都有逃不过的情劫，譬如，她那么那么爱着他，没有任何指望，没有任何期盼的爱着他，就这样爱了整整十三年。可她或许这辈子都不会知道，傲娇如傅竟行大约也不会要她知道，这么多年过去了，他心里只住过一个女人，他捧在掌心里的珠宝，他疼入骨髓的——聂掌珠。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《风光大嫁，傅先生疼她入骨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！风光大嫁，傅先生疼她入骨最新章节,风光大嫁，傅先生疼她入骨无弹窗,风光大嫁，傅先生疼她入骨全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《风光大嫁，傅先生疼她入骨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：风光大嫁，傅先生疼她入骨最新章节,风光大嫁，傅先生疼她入骨无弹窗,风光大嫁，傅先生疼她入骨全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '537494',
    'lastchapter' => '066 喝不下了',
    'lastsummary' => '',
    'chapters' => '66',
    'size' => '144439',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1486018738',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '13',
    'allvisit' => '156',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '1480889331',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 72220,
    'size_k' => 73,
    'size_w' => 7.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1628.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628&cid=537494',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1628',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1628',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1628',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%D6%E9%BB%B9',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%D6%E9%BB%B9',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%B9%E2%B4%F3%BC%DE%A3%AC%B8%B5%CF%C8%C9%FA%CC%DB%CB%FD%C8%EB%B9%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1628.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1628',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480889313',
  'lastupdate' => '1480889331',
  'articlename' => '风光大嫁，傅先生疼她入骨',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '0',
  'author' => '明珠还',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说风光大嫁，傅先生疼她入骨简介：&nbsp;&nbsp;&nbsp;&nbsp;她在加州生下那个小小婴孩的时候，傅竟行堪堪过了三十岁生日。他在电视上举起酒杯，庆贺傅家的商业帝国再上层楼，她在加州小小的私人医院中，冷汗涔涔，数度昏死过去。她叫聂掌珠，该叫傅太太一声二姐，叫傅竟行一声姐夫。可她怀中那个闭眼酣睡的婴孩，若此时能开口说话，却是该，唤他一声……*一场商业阴谋，父死母疯，那一年，聂家幼女掌珠正值花信，如珠似玉，被人捧在掌心，从不知忧虑为何物。那一日，聂家长女明蓉去未婚夫家退掉婚事，宣布终身不嫁，撑起聂家门户。掌珠懵懂之间，捧出首饰匣子递给长姐：“我以后再不买衣服首饰，长姐卖了这些还债吧……”聂明蓉望着小妹娇媚容颜，忽然心潮浮动。那一夜，傅家长子傅竟行宿醉醒来，床侧多了一个不着寸缕的年轻女孩儿……三日后，傅竟行亲赴聂家，天价聘礼求娶——一向默默无闻的聂家二小姐嫣蓉。傅竟行的订婚宴上，聂掌珠未婚有孕三个月的丑闻忽然被人当众揭开，她的未婚夫，在人前一耳光将她打的口鼻出血，当场宣布婚事神作书吧www.szxs8.com废。庆祝傅竟行与聂嫣蓉订婚的烟火满城璀璨的时候，聂掌珠带着腹中的孩子，孤身离开了这座城市。*加州。嘉树三岁了，有一日他忽然稚气问她：“妈妈，爸爸在哪里？爸爸是照片上这个人吗？”她收拾行装的手指倏然顿住，照片上的他只有模糊的侧颜，她却缓缓湿了眼眶。三年，聂家又生波澜，她决然将嘉树留在加州，只身回国。再相逢，却在声色靡丽的场所，他靠在沙发上，衣袖半卷，吞云吐雾之间，微微眯了眼打量着她：“聂掌珠？”浓艳的妆遮住了她眼底的雾气，纤长的睫垂下来，她的声音嚅嚅：“先生，您认错……”微带着香烟味道的手指，修长，有力，忽然就捏住了她的下颌，然后，缓缓抬起。“我们睡过那么多次，聂掌珠，你就是化成灰，我也认得出你。”她终于相信，每个人，都有逃不过的情劫，譬如，她那么那么爱着他，没有任何指望，没有任何期盼的爱着他，就这样爱了整整十三年。可她或许这辈子都不会知道，傲娇如傅竟行大约也不会要她知道，这么多年过去了，他心里只住过一个女人，他捧在掌心里的珠宝，他疼入骨髓的——聂掌珠。<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《风光大嫁，傅先生疼她入骨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！风光大嫁，傅先生疼她入骨最新章节,风光大嫁，傅先生疼她入骨无弹窗,风光大嫁，傅先生疼她入骨全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《风光大嫁，傅先生疼她入骨》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：风光大嫁，傅先生疼她入骨最新章节,风光大嫁，傅先生疼她入骨无弹窗,风光大嫁，傅先生疼她入骨全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '537494',
  'lastchapter' => '066 喝不下了',
  'lastsummary' => '',
  'chapters' => '66',
  'size' => '144439',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1486018738',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '13',
  'allvisit' => '156',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '1480889331',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 72220,
  'size_k' => 73,
  'size_w' => 7.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1628.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1628&cid=537494',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1628',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1628',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1628',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%D6%E9%BB%B9',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%D6%E9%BB%B9',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%B9%E2%B4%F3%BC%DE%A3%AC%B8%B5%CF%C8%C9%FA%CC%DB%CB%FD%C8%EB%B9%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1628.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)