array (
  'meta_keywords' => '头号猎物，厉少的第一新妻 微斯人mh 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1703&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1703&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1703&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1703&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1703',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480896225',
    'lastupdate' => '1480896231',
    'articlename' => '头号猎物，厉少的第一新妻',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '0',
    'author' => '微斯人mh',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说头号猎物，厉少的第一新妻简介：&nbsp;&nbsp;&nbsp;&nbsp;“伊依，我厉爵看上的猎物，没人敢动。”她被一句话刻上了专属的印记。&&&伊依——t大舞坛流传至今的神话，却被折断了展翅的羽翼。厉少——凉城只手可遮半片天的人物，他是专制，霸道，独.裁的典型。一次偶遇注定了命运的交织，她被逼的无路可逃。“你这是独.裁统治！”起身，居高临下的姿态，指点江山的气概，“伊依，我独.裁又如何？！”伊依盯着那张被称为“上帝最杰出的工艺品”的完美俊脸，满是厌恶：“厉爵如果有一天你爱上的女人，也曾被你这样折磨，你会后悔的。”“爱？我不需要……”厉爵眯起双眸。命运就是高高在上的有钱人手中的狙击枪，瞄准一眼看中的猎物，无力反抗，在劫难逃。&&&&&爱，来的猝不及防，没有丝毫预警。厉爵看了看手中的药膏，眯起星眸：“你敢嫌弃我？”她此时觉得，如果她回答个“是！”她丝毫不怀疑某人会立即跳脚。得，他是大爷。她惹不起。“那个，没有。我只是觉得……觉得……你一定很忙，所以就不浪费你宝贵的时间了。”“我不忙！”他回答的干脆，伊依怀疑地看着他，“做老板的，都很闲？”厉爵嘴角抽了抽，却依旧面不改色的答道：“嗯。”原来如此……半刻中后，伊依趴在床上，终于忍不住道：“厉少，能不能快一点？”*****&&&&&“伊依，我厉爵一生拥有万千世界，却原来最大的奢侈就是——拥有你。”……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《头号猎物，厉少的第一新妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！头号猎物，厉少的第一新妻最新章节,头号猎物，厉少的第一新妻无弹窗,头号猎物，厉少的第一新妻全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《头号猎物，厉少的第一新妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：头号猎物，厉少的第一新妻最新章节,头号猎物，厉少的第一新妻无弹窗,头号猎物，厉少的第一新妻全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '559058',
    'lastchapter' => '第022章：咱们一切洗洗……',
    'lastsummary' => '',
    'chapters' => '22',
    'size' => '42563',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1486111735',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '39',
    'allvisit' => '689',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '1480896231',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '0',
    'isvip_n' => '0',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '',
    'typename' => '',
    'size_c' => 21282,
    'size_k' => 22,
    'size_w' => 2.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1703.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703&cid=559058',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1703',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1703',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1703',
    'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%A2%CB%B9%C8%CBmh',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%A2%CB%B9%C8%CBmh',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%B7%BA%C5%C1%D4%CE%EF%A3%AC%C0%F7%C9%D9%B5%C4%B5%DA%D2%BB%D0%C2%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1703.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1703',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480896225',
  'lastupdate' => '1480896231',
  'articlename' => '头号猎物，厉少的第一新妻',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '0',
  'author' => '微斯人mh',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说头号猎物，厉少的第一新妻简介：&nbsp;&nbsp;&nbsp;&nbsp;“伊依，我厉爵看上的猎物，没人敢动。”她被一句话刻上了专属的印记。&&&伊依——t大舞坛流传至今的神话，却被折断了展翅的羽翼。厉少——凉城只手可遮半片天的人物，他是专制，霸道，独.裁的典型。一次偶遇注定了命运的交织，她被逼的无路可逃。“你这是独.裁统治！”起身，居高临下的姿态，指点江山的气概，“伊依，我独.裁又如何？！”伊依盯着那张被称为“上帝最杰出的工艺品”的完美俊脸，满是厌恶：“厉爵如果有一天你爱上的女人，也曾被你这样折磨，你会后悔的。”“爱？我不需要……”厉爵眯起双眸。命运就是高高在上的有钱人手中的狙击枪，瞄准一眼看中的猎物，无力反抗，在劫难逃。&&&&&爱，来的猝不及防，没有丝毫预警。厉爵看了看手中的药膏，眯起星眸：“你敢嫌弃我？”她此时觉得，如果她回答个“是！”她丝毫不怀疑某人会立即跳脚。得，他是大爷。她惹不起。“那个，没有。我只是觉得……觉得……你一定很忙，所以就不浪费你宝贵的时间了。”“我不忙！”他回答的干脆，伊依怀疑地看着他，“做老板的，都很闲？”厉爵嘴角抽了抽，却依旧面不改色的答道：“嗯。”原来如此……半刻中后，伊依趴在床上，终于忍不住道：“厉少，能不能快一点？”*****&&&&&“伊依，我厉爵一生拥有万千世界，却原来最大的奢侈就是——拥有你。”……<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《头号猎物，厉少的第一新妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！头号猎物，厉少的第一新妻最新章节,头号猎物，厉少的第一新妻无弹窗,头号猎物，厉少的第一新妻全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《头号猎物，厉少的第一新妻》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：头号猎物，厉少的第一新妻最新章节,头号猎物，厉少的第一新妻无弹窗,头号猎物，厉少的第一新妻全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '559058',
  'lastchapter' => '第022章：咱们一切洗洗……',
  'lastsummary' => '',
  'chapters' => '22',
  'size' => '42563',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1486111735',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '39',
  'allvisit' => '689',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '1480896231',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '0',
  'isvip_n' => '0',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '',
  'typename' => '',
  'size_c' => 21282,
  'size_k' => 22,
  'size_w' => 2.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://m.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1703.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1703&cid=559058',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1703',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1703',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1703',
  'url_authorpage' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%A2%CB%B9%C8%CBmh',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%A2%CB%B9%C8%CBmh',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CD%B7%BA%C5%C1%D4%CE%EF%A3%AC%C0%F7%C9%D9%B5%C4%B5%DA%D2%BB%D0%C2%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1703.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)