array (
  'meta_keywords' => '魔动九天 浮生本尊 武侠修真',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1753&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1753&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1753&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1753&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 1000,
  'blueroseprice' => 5000,
  'whiteroseprice' => 10000,
  'blackroseprice' => 100000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1753',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1481091971',
    'lastupdate' => '1481091971',
    'articlename' => '魔动九天',
    'articlecode' => 'modongjiutian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '8',
    'author' => '浮生本尊',
    'posterid' => '8',
    'poster' => '浮生本尊',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '11',
    'libid' => '0',
    'intro' => '是神，是魔，正是魔动九天！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '571351',
    'lastchapter' => '第一百二十四章 对战冰系大长老 2',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这时杨无心也为了避免这样尴尬下去，于是轻咳了几声：“咳咳，你们两个也就不要在这里傻愣着了，赶紧走吧，再不走万一被冰系大长老发现了，你们反而会成为我的累赘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人听了之后，也知道事情的严重性，于是夏岚也绕过了金属狗，打算离去，可人家优玲，一下子双手抱住杨无心，瞬间吻上了杨无心，丝毫没有在意有外人在场，这时的杨无心也没有多想，就和优玲热吻了一阵子，两人才恋恋不舍的分开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让夏岚在一旁看得心里着实难受了一点，可是那又有什么办法呢？现在的杨无心可以说是对夏岚一点感觉都没有，他是……',
    'chapters' => '124',
    'size' => '777501',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1485516921',
    'dayvisit' => 0,
    'weekvisit' => '52',
    'monthvisit' => '416',
    'allvisit' => '2990',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '57',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1481508340',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '777501',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '19',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1481255592',
    'allflower' => '55',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1481251723',
    'allvipvote' => '9',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '39',
    'yellowrose' => '3',
    'bluerose' => '1',
    'whiterose' => '2',
    'blackrose' => '4',
    'greenrose' => '1',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '0',
    'sort' => '武侠修真',
    'sortname' => '武侠修真',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 388751,
    'size_k' => 389,
    'size_w' => 38.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1753.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753&cid=571351',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1753',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1753',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1753',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/8.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA%B1%BE%D7%F0',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%A7%B6%AF%BE%C5%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1753.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1753',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1481091971',
  'lastupdate' => '1481091971',
  'articlename' => '魔动九天',
  'articlecode' => 'modongjiutian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '8',
  'author' => '浮生本尊',
  'posterid' => '8',
  'poster' => '浮生本尊',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '11',
  'libid' => '0',
  'intro' => '是神，是魔，正是魔动九天！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '571351',
  'lastchapter' => '第一百二十四章 对战冰系大长老 2',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这时杨无心也为了避免这样尴尬下去，于是轻咳了几声：“咳咳，你们两个也就不要在这里傻愣着了，赶紧走吧，再不走万一被冰系大长老发现了，你们反而会成为我的累赘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人听了之后，也知道事情的严重性，于是夏岚也绕过了金属狗，打算离去，可人家优玲，一下子双手抱住杨无心，瞬间吻上了杨无心，丝毫没有在意有外人在场，这时的杨无心也没有多想，就和优玲热吻了一阵子，两人才恋恋不舍的分开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让夏岚在一旁看得心里着实难受了一点，可是那又有什么办法呢？现在的杨无心可以说是对夏岚一点感觉都没有，他是……',
  'chapters' => '124',
  'size' => '777501',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1485516921',
  'dayvisit' => 0,
  'weekvisit' => '52',
  'monthvisit' => '416',
  'allvisit' => '2990',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => '57',
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1481508340',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '777501',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '19',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1481255592',
  'allflower' => '55',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1481251723',
  'allvipvote' => '9',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '39',
  'yellowrose' => '3',
  'bluerose' => '1',
  'whiterose' => '2',
  'blackrose' => '4',
  'greenrose' => '1',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '0',
  'sort' => '武侠修真',
  'sortname' => '武侠修真',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 388751,
  'size_k' => 389,
  'size_w' => 38.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1753/1753s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1753.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1753&cid=571351',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1753',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1753',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1753',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/8.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA%B1%BE%D7%F0',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%A7%B6%AF%BE%C5%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1753.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)