array (
  'meta_keywords' => '涡流 浮生 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1754&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1754&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1754&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1754&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1754',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480521600',
    'lastupdate' => '1482200054',
    'articlename' => '涡流',
    'articlecode' => 'woliu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '27',
    'poster' => '浮生',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '现代都市，就像是一个巨大的涡流，每时每刻都在卷入无数的追梦者。<br />
<br />
这些追梦者，有的是为了生活所迫，有的是为了追寻理想。<br />
<br />
无论是那种，被这股涡流漩进去，都要经过冰与火的洗礼，适者生存下来，无力者将会被涡流抛出去。<br />
<br />
物竞天择，适者生存，这是永恒不变的法则。<br />
<br />
上天给予每个人的机会都是均等的，就看你能抓住机会不行。<br />
<br />
机会来了，能抓住的永远是强者。',
    'notice' => '新书上传，老品质，老质量！兄弟们，让我们一战到底！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '571837',
    'lastvolume' => '第三卷',
    'lastchapterid' => '571440',
    'lastchapter' => '第92章错过还是过错',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在很多年之后，再来回想一遍还年轻的事情，你会发现那时候有着太多不能够避免的遗憾事情，在心里生根发芽。一直到很久很久以后，再想起来，心里的某个地方还是会隐隐作痛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就是洛蔓此时的感受，王玥陪着她哭着坐在街边的巷子里。听着她哽咽着说起那些陈年旧事，高中毕业之后王玥和洛蔓就没有怎么联系了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于她和陆离建的事情，王玥也是丝毫的不知情。洛蔓的说的时候，中间因为太难受停顿了许多次。她想不明白为什么他会说放手就放手了，当年追求她的时候，陆离建是什么事情都可以去做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要她肯说，他..',
    'chapters' => '95',
    'size' => '615656',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1487231496',
    'dayvisit' => '65',
    'weekvisit' => '156',
    'monthvisit' => '637',
    'allvisit' => '44809',
    'lastvote' => '1481674423',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '13',
    'goodnum' => '9',
    'reviewsnum' => '9',
    'ratenum' => 7,
    'ratesum' => 68,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1482231300',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1482200054',
    'freesize' => '609510',
    'isvip' => '签约',
    'viptime' => '1482200054',
    'vipid' => '21',
    'vippubid' => '0',
    'vipchapters' => '1',
    'vipsize' => '6146',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1481250093',
    'allflower' => '31',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1481248188',
    'allvipvote' => '7',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '3',
    'yellowrose' => '1',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 307828,
    'size_k' => 308,
    'size_w' => 30.8,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1754.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754&cid=571440',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1754',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1754',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1754',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D0%C1%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1754.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1754',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480521600',
  'lastupdate' => '1482200054',
  'articlename' => '涡流',
  'articlecode' => 'woliu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '27',
  'poster' => '浮生',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '现代都市，就像是一个巨大的涡流，每时每刻都在卷入无数的追梦者。<br />
<br />
这些追梦者，有的是为了生活所迫，有的是为了追寻理想。<br />
<br />
无论是那种，被这股涡流漩进去，都要经过冰与火的洗礼，适者生存下来，无力者将会被涡流抛出去。<br />
<br />
物竞天择，适者生存，这是永恒不变的法则。<br />
<br />
上天给予每个人的机会都是均等的，就看你能抓住机会不行。<br />
<br />
机会来了，能抓住的永远是强者。',
  'notice' => '新书上传，老品质，老质量！兄弟们，让我们一战到底！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '571837',
  'lastvolume' => '第三卷',
  'lastchapterid' => '571440',
  'lastchapter' => '第92章错过还是过错',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;在很多年之后，再来回想一遍还年轻的事情，你会发现那时候有着太多不能够避免的遗憾事情，在心里生根发芽。一直到很久很久以后，再想起来，心里的某个地方还是会隐隐作痛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就是洛蔓此时的感受，王玥陪着她哭着坐在街边的巷子里。听着她哽咽着说起那些陈年旧事，高中毕业之后王玥和洛蔓就没有怎么联系了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于她和陆离建的事情，王玥也是丝毫的不知情。洛蔓的说的时候，中间因为太难受停顿了许多次。她想不明白为什么他会说放手就放手了，当年追求她的时候，陆离建是什么事情都可以去做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要她肯说，他..',
  'chapters' => '95',
  'size' => '615656',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1487231496',
  'dayvisit' => '65',
  'weekvisit' => '156',
  'monthvisit' => '637',
  'allvisit' => '44809',
  'lastvote' => '1481674423',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '13',
  'goodnum' => '9',
  'reviewsnum' => 27,
  'ratenum' => 7,
  'ratesum' => 68,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1482231300',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1482200054',
  'freesize' => '609510',
  'isvip' => '签约',
  'viptime' => '1482200054',
  'vipid' => '21',
  'vippubid' => '0',
  'vipchapters' => '1',
  'vipsize' => '6146',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1481250093',
  'allflower' => '31',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1481248188',
  'allvipvote' => '7',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '3',
  'yellowrose' => '1',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 307828,
  'size_k' => 308,
  'size_w' => 30.8,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1754.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1754&cid=571440',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1754',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1754',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1754',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D0%C1%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1754.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)