array (
  'meta_keywords' => '泣神战纪 猹夜诞 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1769&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1769&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1769&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1769&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1769',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484295067',
    'lastupdate' => '1487735326',
    'articlename' => '泣神战纪',
    'articlecode' => 'qishenzhanji',
    'backupname' => '',
    'keywords' => '异世大陆 玄幻打斗',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '57',
    'author' => '猹夜诞',
    'posterid' => '57',
    'poster' => '猹夜诞',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '5',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应届高中毕业少年樊问枫应身有怪印而遭人排斥，却因一场意外无意中遁入异域，从此展开了一场从零开始的异域新生活。在异域中的他没有实力没有背景更没有异域本土居民的独特体质，却该如何生活下去？',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '572298',
    'lastvolume' => '第一卷',
    'lastchapterid' => '579659',
    'lastchapter' => '第四十二章：动戈',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“就算你获得了九柱之争的名额，可那又如何！你让叔叔死了，你就得偿命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王岳面色狰狞，因过度饮酒而出现的潮红让这原本极为苍白的脸显得恐怖，诡异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他身后的十几名修士呈网状散开，将樊问枫三人所在的区域包围住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们释放出体内的元力，等级从一刃到四刃不等，一时间，各种颜色充斥了整个大厅，彩色恐怖在大厅中弥漫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樊问枫他们处在重重包围之中，被全方位无死角地封锁着，根本没有逃脱的空间！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在樊问枫给互相使眼色的那一刻，他们三人就已经做下了相应的准备，却没料到这大厅中竟埋..',
    'chapters' => '43',
    'size' => '238296',
    'daysize' => '6069',
    'weeksize' => '33936',
    'monthsize' => '140600',
    'lastvisit' => '1487751456',
    'dayvisit' => '338',
    'weekvisit' => '3016',
    'monthvisit' => '4537',
    'allvisit' => '6539',
    'lastvote' => '1487724219',
    'dayvote' => '11',
    'weekvote' => '42',
    'monthvote' => '60',
    'allvote' => '60',
    'goodnum' => '8',
    'reviewsnum' => '4',
    'ratenum' => 12,
    'ratesum' => 119,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484617383',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1487735326',
    'freesize' => '238296',
    'isvip' => '签约',
    'viptime' => '1487735326',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '3',
    'vipsize' => '21367',
    'vipvolumeid' => '572298',
    'vipvolume' => '第一卷',
    'vipchapterid' => '579642',
    'vipchapter' => '第四十一章：“鸿门宴”（三更）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;王岳的亲自迎接，没有刻意的姿态，一切都显得是那么的普通自然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就像是当一个客人来了，当家的主人亲自出来迎接一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，也正是这番，让樊问枫三人预料不及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以王岳以往的处事风格，他应该做一些事情刻意为难才对，怎会如此平常的与他们交往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“樊兄的一番武斗，着实是精彩得紧，我在现场看得可谓是热血沸腾，直想上台也去斗上一场！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王岳咧开了嘴，爽朗一笑，竟是那么的灿烂，如沐春风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“过奖，樊某的胜利不过取巧得之，却是不如王兄的豁达爽快！此番宴请倒还是多谢了王兄！..',
    'lastflower' => '0',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '异世大陆',
    'typename' => '异世大陆',
    'size_c' => 119148,
    'size_k' => 120,
    'size_w' => 11.9,
    'rateavg' => '9.9',
    'rateavg_i' => 9,
    'rateavg_d' => 9,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1769.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769&cid=579659',
    'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=579642',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1769',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1769',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1769',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/57.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E2%AA%D2%B9%B5%AE',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FC%C9%F1%D5%BD%BC%CD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1769.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1769',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484295067',
  'lastupdate' => '1487735326',
  'articlename' => '泣神战纪',
  'articlecode' => 'qishenzhanji',
  'backupname' => '',
  'keywords' => '异世大陆 玄幻打斗',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '57',
  'author' => '猹夜诞',
  'posterid' => '57',
  'poster' => '猹夜诞',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '5',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应届高中毕业少年樊问枫应身有怪印而遭人排斥，却因一场意外无意中遁入异域，从此展开了一场从零开始的异域新生活。在异域中的他没有实力没有背景更没有异域本土居民的独特体质，却该如何生活下去？',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '572298',
  'lastvolume' => '第一卷',
  'lastchapterid' => '579659',
  'lastchapter' => '第四十二章：动戈',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“就算你获得了九柱之争的名额，可那又如何！你让叔叔死了，你就得偿命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王岳面色狰狞，因过度饮酒而出现的潮红让这原本极为苍白的脸显得恐怖，诡异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他身后的十几名修士呈网状散开，将樊问枫三人所在的区域包围住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们释放出体内的元力，等级从一刃到四刃不等，一时间，各种颜色充斥了整个大厅，彩色恐怖在大厅中弥漫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樊问枫他们处在重重包围之中，被全方位无死角地封锁着，根本没有逃脱的空间！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在樊问枫给互相使眼色的那一刻，他们三人就已经做下了相应的准备，却没料到这大厅中竟埋..',
  'chapters' => '43',
  'size' => '238296',
  'daysize' => '6069',
  'weeksize' => '33936',
  'monthsize' => '140600',
  'lastvisit' => '1487751456',
  'dayvisit' => '338',
  'weekvisit' => '3016',
  'monthvisit' => '4537',
  'allvisit' => '6539',
  'lastvote' => '1487724219',
  'dayvote' => '11',
  'weekvote' => '42',
  'monthvote' => '60',
  'allvote' => '60',
  'goodnum' => '8',
  'reviewsnum' => 13,
  'ratenum' => 12,
  'ratesum' => 119,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484617383',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1487735326',
  'freesize' => '238296',
  'isvip' => '签约',
  'viptime' => '1487735326',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '3',
  'vipsize' => '21367',
  'vipvolumeid' => '572298',
  'vipvolume' => '第一卷',
  'vipchapterid' => '579642',
  'vipchapter' => '第四十一章：“鸿门宴”（三更）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;王岳的亲自迎接，没有刻意的姿态，一切都显得是那么的普通自然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就像是当一个客人来了，当家的主人亲自出来迎接一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，也正是这番，让樊问枫三人预料不及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以王岳以往的处事风格，他应该做一些事情刻意为难才对，怎会如此平常的与他们交往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“樊兄的一番武斗，着实是精彩得紧，我在现场看得可谓是热血沸腾，直想上台也去斗上一场！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王岳咧开了嘴，爽朗一笑，竟是那么的灿烂，如沐春风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“过奖，樊某的胜利不过取巧得之，却是不如王兄的豁达爽快！此番宴请倒还是多谢了王兄！..',
  'lastflower' => '0',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'thirdsourceid' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '异世大陆',
  'typename' => '异世大陆',
  'size_c' => 119148,
  'size_k' => 120,
  'size_w' => 11.9,
  'rateavg' => '9.9',
  'rateavg_i' => 9,
  'rateavg_d' => 9,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1769.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1769&cid=579659',
  'url_vipchapter' => 'http://m.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=579642',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1769',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1769',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1769',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/57.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%E2%AA%D2%B9%B5%AE',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FC%C9%F1%D5%BD%BC%CD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1769.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异世大陆',
      'tagencode' => '%D2%EC%CA%C0%B4%F3%C2%BD',
    ),
    1 => 
    array (
      'tagname' => '玄幻打斗',
      'tagencode' => '%D0%FE%BB%C3%B4%F2%B6%B7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)