array (
  'meta_keywords' => '都市冷皇 浮生 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1797&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1797&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1797&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1797&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1797',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484799596',
    'lastupdate' => '1484799596',
    'articlename' => '都市冷皇',
    'articlecode' => 'dushilinghuang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'D',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '27',
    'poster' => '浮生',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '18',
    'libid' => '0',
    'intro' => '',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573425',
    'lastchapter' => '第二十六章 南宫端木2',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来是被冷月一掌击在了肩上。他嘴角流下一丝鲜红的血丝，在微弱的月光反照中闪着亮红色光芒。冷月轻飘飘的落在地上，那狂乱的发丝因为劲风而张狂的飘散在空中，他似乎在收了这一拳之后一点事都没有一般，潇洒的将双手背在身后，面带微笑的看着有些惊讶的望着自己的南宫端木，轩辕幽若见冷月什么事都没有，心中大喜，不过却不敢过去，怕他们还没有打完，而让冷月分心了。她知道的实力跟他们不可比拟，“原来冷月上次已经对我是手下留情了，不然我不可能支撑到那么多招。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷月轻笑一声，看着南宫端木道：“南宫前辈，你没……',
    'chapters' => '28',
    'size' => '196590',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1487563211',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '286',
    'allvisit' => '442',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484801760',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '196590',
    'isvip' => '签约',
    'viptime' => '1484799596',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '乡土小说',
    'typename' => '乡土小说',
    'size_c' => 98295,
    'size_k' => 99,
    'size_w' => 9.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1797.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797&cid=573425',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1797',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1797',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1797',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%BC%CA%D0%C0%E4%BB%CA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1797.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1797',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484799596',
  'lastupdate' => '1484799596',
  'articlename' => '都市冷皇',
  'articlecode' => 'dushilinghuang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'D',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '27',
  'poster' => '浮生',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '18',
  'libid' => '0',
  'intro' => '',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573425',
  'lastchapter' => '第二十六章 南宫端木2',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;原来是被冷月一掌击在了肩上。他嘴角流下一丝鲜红的血丝，在微弱的月光反照中闪着亮红色光芒。冷月轻飘飘的落在地上，那狂乱的发丝因为劲风而张狂的飘散在空中，他似乎在收了这一拳之后一点事都没有一般，潇洒的将双手背在身后，面带微笑的看着有些惊讶的望着自己的南宫端木，轩辕幽若见冷月什么事都没有，心中大喜，不过却不敢过去，怕他们还没有打完，而让冷月分心了。她知道的实力跟他们不可比拟，“原来冷月上次已经对我是手下留情了，不然我不可能支撑到那么多招。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷月轻笑一声，看着南宫端木道：“南宫前辈，你没……',
  'chapters' => '28',
  'size' => '196590',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1487563211',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '286',
  'allvisit' => '442',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484801760',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '196590',
  'isvip' => '签约',
  'viptime' => '1484799596',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '乡土小说',
  'typename' => '乡土小说',
  'size_c' => 98295,
  'size_k' => 99,
  'size_w' => 9.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1797/1797s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1797.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1797&cid=573425',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1797',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1797',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1797',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B6%BC%CA%D0%C0%E4%BB%CA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1797.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)