array (
  'meta_keywords' => '三生轮回，一世彼岸 夏空 玄幻魔法',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1809&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1809&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1809&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1809&charset=utf8',
  'article_static_url' => 'http://m.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://m.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'articlevals' => 
  array (
    'articleid' => '1809',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484880152',
    'lastupdate' => '1484880152',
    'articlename' => '三生轮回，一世彼岸',
    'articlecode' => 'sanshenglunhui_yishibian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '104',
    'author' => '夏空',
    'posterid' => '104',
    'poster' => '夏空',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '玉虚昆仑，烟漫仙林，云环雾绕，仙宫玉阙，嫣然而立。宏伟的昆仑大殿上，一位面容清秀的女子，跪于道蒲之上，银白色衣衫，包裹着倩丽的玉体，白皙的藕臂在胸前合十，静候梵音……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573912',
    'lastchapter' => '第七章：',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“可曾记得，要唤我宣主。”孔宣道，随即看向露华抓着他的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔宣的目光犹如烈焰，露华立即放开手，道：“宣主，您何时放我离开？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“告诉我你急着离开是为什么？”孔宣眼中闪过狠厉。第一次他这样的想要去亲近一个人，留住一个人，却被拒之门外。高傲如他，即便是受伤也不会表现出。露华对他的拒绝，只会换来更残忍的囚禁，没有人可以在他付出真心时拒绝他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;露华将眼神撇开，防止与孔宣的眼神交织，因为一碰到孔宣的眼神，她就莫名的心慌。她喜欢孔宣是不可置疑的，但喜欢并不代表是要在一起，她身份卑……',
    'chapters' => '7',
    'size' => '40645',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1486876980',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '260',
    'allvisit' => '559',
    'lastvote' => '1486281529',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => '1',
    'allvote' => '1',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484880161',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '40645',
    'isvip' => '签约',
    'viptime' => '1484880152',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '魔法校园',
    'typename' => '魔法校园',
    'size_c' => 20323,
    'size_k' => 21,
    'size_w' => 2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://m.mianfeidushu.com/info/1809.html',
    'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
    'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
    'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
    'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
    'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809&cid=573912',
    'url_vipchapter' => '',
    'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1809',
    'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1809',
    'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1809',
    'url_authorpage' => 'http://m.mianfeidushu.com/author/104.html',
    'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%BF%D5',
    'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%FD%C9%FA%C2%D6%BB%D8%A3%AC%D2%BB%CA%C0%B1%CB%B0%B6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1809.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1809',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484880152',
  'lastupdate' => '1484880152',
  'articlename' => '三生轮回，一世彼岸',
  'articlecode' => 'sanshenglunhui_yishibian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '104',
  'author' => '夏空',
  'posterid' => '104',
  'poster' => '夏空',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '玉虚昆仑，烟漫仙林，云环雾绕，仙宫玉阙，嫣然而立。宏伟的昆仑大殿上，一位面容清秀的女子，跪于道蒲之上，银白色衣衫，包裹着倩丽的玉体，白皙的藕臂在胸前合十，静候梵音……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573912',
  'lastchapter' => '第七章：',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“可曾记得，要唤我宣主。”孔宣道，随即看向露华抓着他的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔宣的目光犹如烈焰，露华立即放开手，道：“宣主，您何时放我离开？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“告诉我你急着离开是为什么？”孔宣眼中闪过狠厉。第一次他这样的想要去亲近一个人，留住一个人，却被拒之门外。高傲如他，即便是受伤也不会表现出。露华对他的拒绝，只会换来更残忍的囚禁，没有人可以在他付出真心时拒绝他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;露华将眼神撇开，防止与孔宣的眼神交织，因为一碰到孔宣的眼神，她就莫名的心慌。她喜欢孔宣是不可置疑的，但喜欢并不代表是要在一起，她身份卑……',
  'chapters' => '7',
  'size' => '40645',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1486876980',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '260',
  'allvisit' => '559',
  'lastvote' => '1486281529',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => '1',
  'allvote' => '1',
  'goodnum' => '1',
  'reviewsnum' => 1,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484880161',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '40645',
  'isvip' => '签约',
  'viptime' => '1484880152',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '魔法校园',
  'typename' => '魔法校园',
  'size_c' => 20323,
  'size_k' => 21,
  'size_w' => 2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1809/1809s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://m.mianfeidushu.com/info/1809.html',
  'url_articleindex' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
  'url_index' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
  'url_read' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
  'url_fullpage' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809',
  'url_lastchapter' => 'http://m.mianfeidushu.com/modules/article/reader.php?aid=1809&cid=573912',
  'url_vipchapter' => '',
  'url_manage' => 'http://m.mianfeidushu.com/modules/article/articlemanage.php?id=1809',
  'url_bookcase' => 'http://m.mianfeidushu.com/modules/article/addbookcase.php?bid=1809',
  'url_uservote' => 'http://m.mianfeidushu.com/modules/article/uservote.php?id=1809',
  'url_authorpage' => 'http://m.mianfeidushu.com/author/104.html',
  'url_authorarticle' => 'http://m.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%C4%BF%D5',
  'url_report' => 'http://m.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%FD%C9%FA%C2%D6%BB%D8%A3%AC%D2%BB%CA%C0%B1%CB%B0%B6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fm.mianfeidushu.com%2Finfo%2F1809.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
)